[2020-06-30 01:59] #1028 closed

[2020-06-30 02:00] negz commented on #1014
I believe we're currently planning to remove the concept of namespaced packages (fka stacks), so I think this can be closed. CC @hasheddan.

[2020-06-30 02:00] #1014 closed

[2020-06-30 02:02] hasheddan commented on #1014
@negz that is my impression as well 👍

[2020-06-30 02:02] negz commented on #1222
We've simplified our docs and guides such that the service networking API is no longer required, so I'm going to close this issue.

[2020-06-30 02:02] #1222 closed

[2020-06-30 02:03] negz commented on #1207
We're planning to remove KubernetesApplication, so I don't think we'll proceed with this.

[2020-06-30 02:03] #1207 closed

[2020-06-30 02:04] negz commented on #1205
I believe we've now added a few more maintainers under our new governance model, which has helped to decentralize approval.

[2020-06-30 02:04] #1205 closed

[2020-06-30 02:05] negz commented on #1183
I believe we're planning to remove the template stack controller in favour of composition.

[2020-06-30 02:05] #1183 closed

[2020-06-30 02:06] negz commented on #1201
We're planning to deprecate and remove support for template stacks. This sounds like something we want for composition, but I'd like to track that in a distinct issue.

[2020-06-30 02:06] #1201 closed

[2020-06-30 02:06] negz commented on #1200
We're planning to remove template stacks, so we shouldn't need to do this.

[2020-06-30 02:06] #1200 closed

[2020-06-30 02:07] negz commented on #1178
I don't believe this is relevant anymore, given we plan to remove support for template stacks.

[2020-06-30 02:07] #1178 closed

[2020-06-30 02:07] negz commented on #1176
We're planning to remove template stacks in favour of composition, so I think we can close this.

[2020-06-30 02:07] #1176 closed

[2020-06-30 02:08] negz commented on #1173
We're planning to deprecate support for template stacks, so I think we can close this.

[2020-06-30 02:09] #1173 closed

[2020-06-30 02:09] hasheddan commented on #876
@negz this still looks like something that could eventually land upstream, in which case it would be straightforward to document. If we want it before then, I think we could address it in a few ways:

- See if we can contribute to controller-gen such that it adds a comment in generated YAML that we may be able to parse when generating docs (this seems like a long shot to get merged)
- Add a standa

[2020-06-30 02:10] negz commented on #1127
Per my previous comment, we moved these to doc.crds.dev which does not have this issue.

[2020-06-30 02:10] #1127 closed

[2020-06-30 02:10] negz commented on #1166
We removed our hacky API doc generator in favour of doc.crds.dev.

[2020-06-30 02:10] #1166 closed

[2020-06-30 02:12] negz commented on #1154
Per my previous comment, I don't think we'll need to do this given that we're removing the core types. We're also planning to break all things OAM out into its own repo.

[2020-06-30 02:12] #1154 closed

[2020-06-30 02:14] negz commented on #1160
@hasheddan I think this is probably able to be replaced by a new epic that captures roughly the same problem from the lens of Crossplane's new direction, which is hopefully a little simpler without claims, classes, apps, etc. I'll leave it open for you to close/replace since it has some good context.

[2020-06-30 02:16] negz commented on #1134
We're planning to remove support for KubernetesApplication, so I think we can close this.

[2020-06-30 02:16] #1134 closed

[2020-06-30 02:16] negz commented on #1125
We're planning to remove support for KubernetesApplication, so I think we can close this.

[2020-06-30 02:16] #1125 closed

[2020-06-30 02:23] negz commented on #1151
I believe this won't be relevant once we remove the concept of a namespaced stack.

[2020-06-30 02:23] #1151 closed

[2020-06-30 02:25] negz commented on #1411
We've removed this. I'd like to look into replacing it with Reviewdog, but I'll roll that into https://github.com/crossplane/crossplane/issues/1583.

[2020-06-30 02:25] #1411 closed

[2020-06-30 02:26] negz commented on #1583
Not strictly related to CI/CD openness, but if we do move to Github actions it would be good to replace our previous configuration that added comments to PRs for linter violations per https://github.com/crossplane/crossplane/issues/1411.

[2020-06-30 02:27] negz commented on #1380
@janwillies Is this still something you're interested in? I know you recently mentioned that you moved away from using KubernetesApplication. We're leaning toward deprecating KubernetesApplication, so it would be good to figure out whether we can simply close this issue or if we should reframe it to address the underlying problem.

[2020-06-30 02:29] negz commented on #1343
There's still work to be done to get composition to v1beta1, but I think we can close this epic that tracked the initial design. We're not planning to build application composition at this time.

[2020-06-30 02:29] #1343 closed

[2020-06-30 02:31] negz commented on #1353
I believe https://crossplane.io/docs/v0.12/introduction/managed-resources.html addresses this.

[2020-06-30 02:31] #1353 closed

[2020-06-30 02:33] negz commented on #1324
I don't think we'll package this as a stack (aka package) after all - we're happy with the current pattern of installing it via Helm. We're going to limit packages to installing Crossplane providers and "composition stuff" - i.e. composite resources etc.

[2020-06-30 02:33] #1324 closed

[2020-06-30 02:35] negz commented on #1335
Release experts @hasheddan and @jbw976, is this still relevant? We're planning to remove template stacks, but I presume we'll have them for at least a few more releases.

[2020-06-30 02:39] hasheddan commented on #1335
I am fairly certain this is handled by https://github.com/crossplane/cicd

[2020-06-30 02:39] #1335 closed

[2020-06-30 02:41] negz commented on #1312
I believe we're likely to settle on multiple controllers as part of our move to composition rather than the template controller.

[2020-06-30 02:41] #1312 closed

[2020-06-30 02:51] negz commented on #1318
I don't think we need to worry about this anymore given that we don't intend for packages to install workloads, or to support scheduling workloads in general.

[2020-06-30 02:51] #1318 closed

[2020-06-30 02:51] negz commented on #1257
I don't think we're proceeding with template stacks, so I believe we won't have to address this.

[2020-06-30 02:51] #1257 closed

[2020-06-30 02:53] negz commented on #1309
We're planning to remove KubernetesApplication, so I don't think we need to address this.

[2020-06-30 02:53] #1309 closed

[2020-06-30 02:54] negz commented on #1229
We're planning to remove claims, and I don't think this applies to requirements (which proxy the state and schema of exactly one composite resource).

[2020-06-30 02:54] #1229 closed

[2020-06-30 02:55] negz commented on #1243
Relates to https://github.com/crossplane/crossplane/issues/1140.

[2020-06-30 02:58] negz commented on #1483
Per https://github.com/crossplane/oam-kubernetes-runtime/issues/55 we're planning to modularise this, so OAM controllers will be installable without the core Crossplane controllers and vice versa as distinct Helm charts.

[2020-06-30 02:58] #1483 closed

[2020-06-30 02:59] negz commented on #1500
Per https://github.com/crossplane/oam-kubernetes-runtime/issues/55 we're going to centralise all things OAM into a single place. The leading candidate seems to be the oam-kubernetes-runtime repo, so I'm going to move this issue there.

[2020-06-30 03:01] negz commented on #1448
Per https://github.com/crossplane/oam-kubernetes-runtime/issues/55 we're centralising all things OAM in one repo, and oam-kubernetes-runtime seems like the leading candidate. I'm going to move this issue there.

[2020-06-30 03:01] negz commented on #1432
Per https://github.com/crossplane/oam-kubernetes-runtime/issues/55 we're centralising all things OAM into one repo, and oam-kubernetes-runtime seems like the most likely place. I'm going to move this issue there.

[2020-06-30 03:02] negz commented on #1420
We're no longer planning to work on ApplicationDefinition any time soon.

[2020-06-30 03:02] #1420 closed

[2020-06-30 03:03] negz commented on #1597
Per https://github.com/crossplane/oam-kubernetes-runtime/issues/55 we're centralising all things OAM into one repo, and oam-kubernetes-runtime seems like the most likely place. I'm going to move this issue there.

[2020-06-30 03:05] negz commented on #1512
I believe the main thing left to do here is close out https://github.com/crossplane/provider-gcp/pull/229, so I'm going to move this issue to provider-gcp.

[2020-06-30 03:07] negz commented on #1605
Per my previous comment, I believe we'll remove KubernetesApplication so I'm going to close this.

[2020-06-30 03:07] #1605 closed

[2020-06-30 03:08] negz commented on #1480
Per https://github.com/crossplane/oam-kubernetes-runtime/issues/55 we're centralising all things OAM into one repo, and oam-kubernetes-runtime seems like the most likely place. I'm going to move this issue there.

[2020-06-30 03:12] negz commented on #1586
I removed 'Wordpress' from the title thinking it meant to implement wordpress via Composition. I realised right after that this meant moving the Wordpress controller to make requirements, not claims. @muvaf do you think we can close this issue? Based on your summary it seems like we landed at not doing this work - or do you think it's an open question still?

[2020-06-30 03:13] negz commented on #1446
It seems like this might be solved, and we're also planning to remove KubernetesApplication, so I think we can close this.

[2020-06-30 03:13] #1446 closed

[2020-06-30 03:14] negz commented on #1424
I think this is a duplicate of https://github.com/crossplane/crossplane/issues/1009.

[2020-06-30 04:28] negz opened #1626 "Accelerate Provider Coverage"
### What problem are you facing?

Crossplane currently supports tens of managed resources - Kubernetes custom resources that correspond to cloud provider APIs. We'd like to accelerate our ability to support new managed resources, with a goal of supporting approximately 1,000 managed resources across AWS, Azure, and GCP.

### How could Crossplane help solve your problem?

Crossplane could make it p

[2020-06-30 04:32] negz commented on #1626
Related issues:

* https://github.com/crossplane/crossplane/issues/1623 - Analyze possible integration with Terraform based providers.
* https://github.com/crossplane/crossplane/issues/1624 - Design doc for generating Terraform based providers.

Note that the 'analysis' is mostly around determining what existing functionality would change if we wrapped Terraform. This is separate from the larger d

[2020-06-30 04:39] negz commented on #1626
@kasey I think a few existing issues are ripe for deduplication here. Namely https://github.com/crossplane/crossplane/issues/262, https://github.com/crossplane/crossplane/issues/1426, and https://github.com/crossplane/crossplane/issues/843. Can you do the needful?

[2020-06-30 05:01] negz opened #1627 "v1beta1 or better support for Packages"
### What problem are you facing?

We're focusing Crossplane on building infrastructure APIs and are removing support for application and addon packageTypes. We need to get the Package Manager and associated resources to a state we'd be happy shipping with Crossplane v1.0, with support for package upgrades from one version to the next with basic GVK compatibility checking.

### How could Crossplane

[2020-06-30 05:02] negz commented on #1627
@hasheddan I assigned you approximately 80 billion issues relating to packages today. You mentioned you might like to close them all and start anew. Either way, can you please link any related issues here once you have a good set to work with?

[2020-06-30 05:03] negz commented on #1627
https://github.com/crossplane/crossplane/issues/1625 (the design doc for this effort) is definitely related.

[2020-06-30 05:12] negz opened #1629 "v1beta1 or better support for Composition"
### What problem are you facing?

We've deprecated support for resource claims and classes in Crossplane in favour of what we usually call '[Composition](https://crossplane.io/docs/v0.12/getting-started/publish-infrastructure.html)' - the ability to define, compose, and publish your own infrastructure APIs with Crossplane. This feature is currently a v1alpha1 API. We've found it has resonated with

[2020-06-30 05:14] negz commented on #1611
I'd prefer to avoid doing this work given that our goal is to remove these controllers. Please reopen if you think we need to do this as an interim solution while we still support KubeApp.

[2020-06-30 05:14] #1611 closed

[2020-06-30 05:23] negz commented on #1497
I'm going to dedupe this into https://github.com/crossplane/crossplane/issues/1476, as a general issue for validating compositions.

[2020-06-30 05:23] #1497 closed

[2020-06-30 05:24] negz commented on #1476
I've deduped https://github.com/crossplane/crossplane/issues/1497 into this issue. So we should validate both:

* The base templates in a composition.
* The fieldpaths in the patches array.

[2020-06-30 05:30] negz commented on #1481
https://metacontroller.app/api/compositecontroller/#child-update-methods

Another, simpler option here would be to do something like what the metacontroller does and make this configurable. i.e. Perhaps the InfraDef would specify what should happen if the composite and/or composition were updated, i.e.:

* Do nothing - updates aren't propagated.
* Updates to either are propagated.
* Updates to onl

[2020-06-30 05:34] negz commented on #1629
Issues that could be in scope for this push include:

* https://github.com/crossplane/crossplane/issues/1612 - Don't delete a composite resource until all composed resources are gone.
* https://github.com/crossplane/crossplane/issues/1619 - Automatically grant Crossplane RBAC access to newly defined APIs.
* https://github.com/crossplane/crossplane/issues/1615 - Consider merging InfraDefinition and

[2020-06-30 05:46] negz opened #1630 "Crossplane Core should support only Packages and Composition"
### What problem are you facing?

We're focusing Crossplane on defining, composing, and publishing infrastructure APIs. To this end we'd like to remove any functionality that does not aid this from Crossplane core. We see the core of the project as doing a small handful of things:

* Letting you define, compose, and publish infrastructure APIs.
* Letting you package, distribute, and install those

[2020-06-30 05:55] negz opened #1631 "Ship Crossplane v1.0"
### What problem are you facing?

We feel like we've arrived at a pretty solid problem space and set of solutions for Crossplane and would like to start planning to release v1.0. To do so we'll need at least one API of v1 quality, and all our core APIs (composition and packages) at v1beta1 quality. We'll also need a few 'table stakes' things like decent metrics, and leader election.

### How could

[2020-06-30 06:06] negz opened #1632 "Introduce an 'agent' to sync Crossplane APIs to Kubernetes clusters"
### What problem are you facing?

Crossplane has historically distinguished between infrastructure and workloads (or applications) and attempted to be a centralised control plane for both. This has meant the project's mandate was _very_ broad. We'd like to focus Crossplane as a great way to define, compose, and publish infrastructure APIs, which means removing support for modelling workloads from

[2020-06-30 06:07] negz commented on #1632
https://github.com/crossplane/crossplane/issues/1617 is tracking the design work for this.

[2020-06-30 07:56] muvaf commented on #1626
https://github.com/crossplane/crossplane/issues/1602 is a work item for easier managed resource implementation.

[2020-06-30 07:58] muvaf commented on #1009
It could be possible for users to use Vault to manage all of their `Secret`s via Vault by using its CSI driver, though I didn't dig into it much. Just leaving it here for reference https://github.com/kubevault/csi-driver

[2020-06-30 08:01] muvaf commented on #1586
We landed at not doing this work right now until all the missing pieces are there, like being able to have InfraDef in a package. I believe once we do have those things, we'll want to do the migration though it may not be called _stack_ anymore. So, I'd keep it open.

[2020-06-30 08:02] muvaf commented on #1420
@negz Do you think we should update the composition design to remove `ApplicationDefinition`? Or maybe we can do that after renaming discussions are over.

[2020-06-30 08:29] jbw976 commented on #1205
The expectations for maintainers are captured in https://github.com/crossplane/crossplane/blob/master/GOVERNANCE.md#maintainers for further reading :)

[2020-07-01 03:17] negz commented on #1615
Chiming in here; I agree with @muvaf that namespaced InfrastructurePublications would get awkward fast. I think we'd run into the same issues we have faced with N namespaced packages trying to share a set of cluster scoped CRDs.

It may help to think of InfrastructurePublications as less about ("can a workspace owner use this thing?") and more about use cases ("does it make sense for an applicatio

[2020-07-01 03:19] lukeweber commented on #1615
Sounds fine to me.

On Tue, Jun 30, 2020 at 8:17 PM Nic Cope <notifications@github.com> wrote:

[2020-07-01 14:44] kferrone opened #1634 "AWS DocumentDB Support"
### What problem are you facing?
We use DocumentDB at our org. Would love to provision it with Crossplane. We are using crossplane to provision our other AWS services. Since Document DB is not supported with Crossplane, I would need to find another way to install it.

### How could Crossplane help solve your problem?
All services would be provisioned the same way.

[2020-07-01 16:19] hasheddan commented on #1634
Thanks for opening this @kferrone, I am going to move it over to `provider-aws` for tracking :+1:

[2020-07-02 01:31] negz commented on #1093
This issue is older, but https://github.com/crossplane/crossplane-cli/issues/66 duplicates it in the CLI repo, which I think is the right place for it. I'm going to close this issue and roll it into the new one.

[2020-07-02 01:31] #1093 closed

[2020-07-02 23:48] negz opened #1635 "Consider improving the UX of defaults in Compositions"
### What problem are you facing?

In Crossplane a "composite resource" is a CR whose schema is defined by an InfrastructureDefinition. The composite resource is reconciled by composing one or more "composed resources". The relationship between the composite and the composed resources is configured by a Composition. The Composition specifies templates ("bases") for the composed resources, as well a

[2020-07-06 11:45] Tsumida commented on #1630
## crossplane+OAM动向
目前通过crossplane使用oam的流程是

 1. 安装crossplane，同时自动创建相关的crd
 2. 为某namespace安装与oam相关的controller，这个可以通过这个[addon-oam-k8s-local](https://github.com/crossplane/addon-oam-kubernetes-local)安装
 3. 在对应的namespace中部署component、AppConf等

奇怪的是，在crossplane下有一个[oam-k8s-runtime](https://github.com/crossplane)仓库，似乎是一个applicationConfiguration controller，这与上面那个仓库有什么差别？结果对比发现:

 1. 两个仓库的目录结构十分相似，对比./cha

[2020-07-06 13:05] morigs commented on #314
Now Crossplane should focus on [OpenTelemetry](https://opentelemetry.io/)

[2020-07-07 04:14] negz opened #1637 "Generate RBAC roles for composite resources and claims"
### What problem are you facing?

A Crossplane `InfrastructureDefinition` defines a new API - a new CR that Crossplane may reconcile by composing other CRs. An `InfrastructurePublication` publishes this API at the namespace scope such that applications can easily consume it. Currently these concepts are blissfully ignorant of RBAC; a platform builder must first define and publish their API, then c

[2020-07-07 07:44] muvaf opened #1638 "Env var support for packages to enable users to supply proxy credentials"
### What problem are you facing?

All cloud SDKs support proxies through environment variables. For example, AWS SDK expects you to have `HTTP_PROXY` env var defined, which is the standard of Go http library. However, Crossplane package manager doesn't allow entry of any kind of environment variable during installation of the providers.

https://github.com/crossplane/provider-aws/issues/199#issuec

[2020-07-07 16:12] prasek commented on #1617
@resouer @hongchaodeng @ryanzhang-oss @artursouza here are the Crossplane Connector Agent UX slides we shared at the community meeting yesterday:
https://docs.google.com/presentation/d/1pzVecSx7BLfZ5CS6kGhDJiaJ26KzpBof6thQNNEOX0c/edit#slide=id.g8801599ecb_2_169

//cc @muvaf @negz @hasheddan @kasey

[2020-07-07 18:55] negz commented on #1637
Capturing some discussion from @lukeweber in https://crossplane.slack.com/archives/CEF5N8X08/p1594095385024800.

I am suggesting that auto-aggregation happens. I imagine we'd create a `ClusterRole` named something like `crossplane-admin`. All of the more granular `ClusterRoles` we created would be labelled such that they aggregated up to the `crossplane-admin` `ClusterRole`. That said, I am sugges

[2020-07-08 17:29] negz opened #1639 "Composite resources should support bidirectional patching"
### What problem are you facing?

Currently a `Composition` configures how the values of a composite resource's fields should be used to influence composed resources; the composite resource's spec values may be 'overlaid' or 'patched' onto the composed resources. For example the below `Composition` patches the external name annotation from the composite resource (the `KubeCluster`) to the composed

[2020-07-08 17:31] negz opened #1640 "Composed resources should respect external name annotation"
### What problem are you facing?

Crossplane resources support an annotation - `crossplane.io/external-name` - that may dictate or reflect the 'external' name of a resource - i.e. the unique identifier of that resource an the external system such as a cloud provider that Crossplane is orchestrating. This annotation works roughly like:

* If the external system generates its own unique ID, we set t

[2020-07-09 09:41] muvaf commented on #1584
The [versioning approach](https://github.com/Azure/k8s-infra/blob/c4b4b811eb9da799bcc281824dd3699bb6dbdf12/hack/generator/spec/versioning.md) in ASO is worth digging. The storage version has all fields that ever came and go but it's never the served version, i.e. only a hub for conversion between various versions.

[2020-07-09 09:55] muvaf commented on #1595
I believe https://github.com/crossplane/crossplane/issues/1617 removes the need for workload scheduling API. @negz do you want to keep this issue open to track actual deprecation & removal?

[2020-07-09 10:58] janwillies commented on #1380
I'm not married to `KubernetesApplication` but it would be nice to have a way to modify existing resources in the target cluster. For example on AWS this could be:
- `aws-auth` ConfigMap (to grant access)
- `aws-node` DaemonSet (for things like crossplane/provider-aws#164)

I'm happy to close this and open a new issue

[2020-07-09 10:58] #1380 closed

[2020-07-09 12:39] janwillies opened #1641 "Modification of existing Kubernetes resources (cluster bootstrapping)"
### What problem are you facing?
I need to modify an existing resource in a Kubernetes cluster right after bringup (see https://github.com/crossplane/crossplane/issues/1380 for the old issue with a `KubernetesApplication`).

Some usecases are:

- `aws-auth` ConfigMap (to grant other users access to the cluster)
- `aws-node` DaemonSet (for things like crossplane/provider-aws#163)
- `kube-system` Na

[2020-07-09 18:22] negz commented on #1595
Yes please. We should make sure to at least add comments to the CRDs letting folks know they'll be removed in a few releases.

[2020-07-09 18:32] kasey commented on #1623
Closing this in favor of #262 which has more history/attention.

[2020-07-09 18:32] #1623 closed

[2020-07-09 18:33] kasey commented on #843
Closing this issue in favor of more specific issues that have superseded it::
https://github.com/crossplane/crossplane/issues/1426
https://github.com/crossplane/crossplane/issues/1626

[2020-07-09 18:34] #843 closed

[2020-07-09 23:06] kasey commented on #262
### Synopsis
We investigated using the terraform provider grpc plugin protocol. Once the general approach for talking to the provider over the wire was understood, and nuances of the encoding scheme worked out, I have a prototype that is able to read the current state of a resource, and patterns for translating to/from resource.Managed / yaml / cty.Values. I am confident we can have creation/updat

[2020-07-09 23:53] hongchaodeng commented on #1617
Hi @muvaf

I don't quite understand this point:

You actually need to change each and every element to be in a KubernetesApplicationResource as well as StatefulSet of DB with a DB requirement CR.

Would you help provide more details and examples to clarify this point more? Highly appreciated!

[2020-07-10 00:19] lukeweber commented on #1637
Upbound Cloud currently uses the baked in user roles that crossplane provides, namely environment and namespace roles as defined in the [Packages Security Design](https://github.com/crossplane/crossplane/blob/master/design/one-pager-packages-security-isolation.md).

The package manager generates bespoke ClusterRoles with labels that utilize [automatic role aggregation via labels](https://kubernete

[2020-07-10 09:35] matthewhembree commented on #1482
I ran into this issue with 0.12.0. The uninstall instructions tell you to delete the secrets:
`kubectl delete secret -n crossplane-system --all`

but that also deletes the helm release information. (Helm3 stores that in k8s secrets). When you try to `helm delete`, there's no secret to tell helm what resources to delete.

Removing the finalizers on:
[code]
allows the namespace to finish terminating

[2020-07-10 09:47] muvaf commented on #1617
@hongchaodeng sure. Let's say you deploy Wordpress and have a MySQL server running as `StatefulSet`. Your Helm chart would have 1 `Deployment` that runs Wordpress image, 1 `StatefulSet` that runs your MySQL server and 1 `Service` that exposes your Wordpress, maybe also 1 `Namespace`. If you want to use Crossplane for your database, you can deploy it and change `StatefulSet` with a `MySQLRequiremen

[2020-07-10 13:27] muvaf commented on #1637
@lukeweber do you see many different instances of `GenerateRBAC` to be needed? To be honest, I can only see 2 (read, write) or max 3 kinds of `ClusterRole` to be generated for each CRD and that'd not change much in most of the scenarios. So, I'm leaning towards having the equivalent logic of the following set of `GenerateRBAC`s to be hard-coded into core Crossplane:
[code]

Each CRD would have cor

[2020-07-10 14:27] lukeweber commented on #1637
[Kubernetes built in roles](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#user-facing-roles) follow the pattern of cluster-admin and for namespace consumption: admin(can modify permissions), edit(can modify objects), view (can view most objects except secrets).

The equivalent at a project level in gcp is (owner, editor, viewer, browser).

so to follow that example if that was the

[2020-07-10 15:34] hasheddan commented on #1638
xref: https://github.com/crossplane/crossplane/issues/974

[2020-07-10 18:59] case opened #1643 "Documentation question re: Related Projects"
### What problem are you facing?

I'm trying to understand your "Related Projects" section about Terraform and Pulumi [here](https://crossplane.io/docs/v0.12/faqs/related_projects.html).

The sentence says:

Does "It" in the second sentence refer to Crossplane, or Pulumi, or something else? Trying to understand the grammar here.

Thanks!

[2020-07-10 19:08] hasheddan commented on #1643
Hi @case! Thanks for bringing this up! Looks like the docs got refactored and did not change the grammar here, leading to a confusing statement. I took a look back at a previous version of the docs and it looks like "It" was referring to Terraform (ref: https://crossplane.io/docs/v0.10/reference/related_projects.html). Are you interested in opening up a PR to suggest wording that is more clear to

[2020-07-10 19:15] case commented on #1643
Usually I'd be happy to, but I'm brand new to Crossplane (and Pulumi) and would rather have… someone who knows them well correct the text. :)

[2020-07-10 19:20] hasheddan commented on #1643
Fair enough! Thanks again for opening this issue :+1:

[2020-07-10 20:12] #1617 closed

[2020-07-10 20:15] muvaf opened #1645 "Implementation of Crossplane Agent"
### What problem are you facing?

There is no implementation of the Crossplane Agent whose design is [here](https://github.com/crossplane/crossplane/blob/master/design/design-doc-agent.md).

### How could Crossplane help solve your problem?

Implementing Crossplane Agent.

[2020-07-11 09:26] #1643 closed

[2020-07-13 13:40] arafato opened #1648 "secret "dockerhub" not found when installing crossplane"
### What happened?
Following installation instructions at https://crossplane.io/docs/v0.12/getting-started/install-configure.html

### How can we reproduce it?
Just follow installation instructions in a newly setup K8 cluster.

### What environment did it happen in?
Alibaba Cloud Serverless Kubernetes
Crossplane version:
crossplane-master/crossplane            	0.13.0-rc.15.gf710a92

Error message

[2020-07-13 13:44] #1648 closed

[2020-07-13 13:44] arafato commented on #1648
Running it like so
[code]

solved it.

[2020-07-13 13:49] hasheddan commented on #1648
@arafato thanks for providing the fix! I think this _should_ be set by default during build: https://github.com/crossplane/crossplane/blob/f710a92e29dcd468f3c5686c622d50d186dfa9e0/Makefile#L44

Did you use the installation documentation on https://crossplane.io/docs/v0.12/getting-started/install-configure.html?

[2020-07-13 14:08] arafato commented on #1648
@hasheddan Yes, I did. At least for me it (empty string) is not being set per default. The default seems to be `dockerhub` as documented at https://crossplane.io/docs/v0.12/reference/install.html at the very bottom.

By the way similar issue with the OAM addon (https://crossplane.io/docs/v0.12/getting-started/run-applications.html). It is expecting a `webhook-server-cert`secret per default. But ma

[2020-07-13 14:27] hasheddan commented on #1648
@arafato I see, do you mind sharing what version and provider of kubernetes you are using?

[2020-07-13 14:44] arafato commented on #1648
@hasheddan sure.
[code]

[2020-07-13 15:15] arafato commented on #1648
@hasheddan interesting enough, it is working as expected with the Standard Managed K8 Service of Alibaba Cloud. This issue seems only to occur in the Serverless Kubernetes Service of Alibaba Cloud. Not sure why this would happen...

[2020-07-13 18:28] muvaf opened #1649 "Updating a claim does not update its composite resource"
### What problem are you facing?

Updating a field on a composite resource claim should propagate to the corresponding composite resource field, but does not.

### How could Crossplane help solve your problem?

Automatically propagate fields of requirement to all composed resources.

[2020-07-13 18:31] muvaf commented on #1629
Here is the prioritization list that I think we can start tackling:

1. #1615 - Consider merging InfraDefinition and InfraPublication
1. #1619 - Automatically grant Crossplane RBAC access to newly defined APIs.
1. #1649 - Updating a Requirement should update the corresponding Composite resource.
1. #1612 - Don't delete a composite resource until all composed resources are gone.
1. #1609 - Allow th

[2020-07-13 18:59] enderv commented on #1506
Came across this issue not sure if I should file a new one. This seems limited to the CIDR topic but would like a way to supply your own logic for transforms. Using the CIDR example instead of building it into crossplane just add a way you can supply your own function logic. If this is too off base for this let me know and I can open a new issue.

[2020-07-13 20:27] hasheddan opened #1650 "Refactor persona controller into apiextensions"
### What problem are you facing?

Currently the `persona` controller watches for namespaces and creates `ClusterRole`s on its behalf based on labels. Crossplane does not want to be responsible for managing RBAC for namespace personas in a users cluster.

### How could Crossplane help solve your problem?

Deprecate the `persona` controller for release `v0.13` and schedule for removal in a future re

[2020-07-13 22:26] enderv opened #1651 "Add custom status fields to resources from compositions"
### What problem are you facing?
Would like to be able to add custom information to resources created by compositions. For example: When we create a kubernetes cluster would like to be able to register a custom service endpoint and store that somewhere with the cluster information so there is one source of truth users can refer to. Another example would be related to https://github.com/crossplane/

[2020-07-13 22:27] enderv commented on #1651
Other possible locations would be to configmap or secret instead of just status.

[2020-07-14 12:30] muvaf opened #1652 "Annotations on XRDs should be propagated to generated CRDs"
### What problem are you facing?

Today, packages bring in CRDs and annotate them with some UI metadata for UIs to show the input fields correctly and this works well for providers but not much for new composition based stacks since users do not write/generate CRDs on their own; they write `InfrastructureDefinition` and `InfrastructurePublication` resources which result in the actual CRDs. Current

[2020-07-14 13:23] muvaf opened #1653 "Reduce InfrastructureDefinition boilerplate by having Crossplane generate ClusterRole for users"
### What problem are you facing?

For every new CRD, there needs to be some roles/clusterroles in the cluster that need to be bound to the users who'd like to create instances of those new types. Since InfraDef / InfraPub resources result in CRDs, `ClusterRole`s need to be created for each of them and that process is manual.

The documentation covers the permissions to grant to Crossplane itself,

[2020-07-14 14:14] kelvinwijaya opened #1654 "Metadata annotations fields and label should be propagated from requirement to managed resource object"
### What problem are you facing?

From requirement object : MySQLInstanceRequirement, i would like to pass the metadata annotations and labels information to the managed resource object : MySQLInstance

So that when the composition object could extract the metadata annotations or labels (other than `external-name`) to be map in the specification of the DB Object, this is useful when the annotation

[2020-07-14 17:02] muvaf commented on #1654
The spec fields are propagated and I can see that automatic propagation of `labels` and `annotations` would be in line with that behavior. @negz what are your thoughts?

[2020-07-15 16:36] lukeweber opened #1655 "Crossplane.io community meeting link update"
### What happened?

When I clicked community meeting on the home page it linked to https://github.com/crossplane/crossplane/#community-meeting

This section doesn't exist in the readme anymore - I believe the proper link is https://github.com/crossplane/crossplane/#get-involved

[2020-07-15 16:42] hasheddan commented on #1655
@lukeweber fix open here: https://github.com/crossplane/crossplane.github.io/pull/52

[2020-07-16 10:02] muvaf commented on #1651
@enderv Please check if I understood your use case correct. You have an arbitrary information that you obtained from somewhere, in this case custom service endpoint, and you'd like to have this somehow be a part of the requirement. The flow would be that you specify this value on `Composition` resource, define where it should go, like `status.customServiceEndpoint` on the requirement, and have all

[2020-07-16 19:44] enderv commented on #1651
Your first explanation is inline with what I was wanting when I wrote this. However just for future proofing and extensibility I am also a fan of the second example you gave don't know if that should be a different issue or not however.

[2020-07-17 22:21] kferrone opened #1656 "NodeSelector on Provider (package)"
### What problem are you facing?

I am required to run control plane services on specific nodes and our apps on other nodes. The packageInstaller does not expose the underlying nodeSelector on the deployment it creates. Therefore the pods created by the package installers kinda have free roam over the clusters nodes.

### How could Crossplane help solve your problem?

Add `nodeSelector` to the `Cl

[2020-07-20 08:16] muvaf commented on #1651
Got it. Today, the best one can do to achieve the first example is to annotate/label the `Composition` resource and then in the requirement, use `spec.compositionRef` field to access the `Composition` to look  up for those values. However, keep in mind that the information you'd expose this way is assumed to be true for all instances of the `Composition`.

I believe the second example is covered b

[2020-07-20 22:32] tehcyx opened #1658 "Documentation link "Edit on Github" broken for landing page"
### What happened?
Going to the documentation when you're on the landing page and want to edit the docs the link to the specific doc is broken. E.g. here:
https://crossplane.io/docs/v0.12/
points to:
https://github.com/crossplane/crossplane/tree/release-0.12/docs/.md
should point to:
https://github.com/crossplane/crossplane/tree/release-0.12/docs/README.md

same happens in when I select e.g. relea

[2020-07-20 22:40] hasheddan commented on #1658
Thanks for opening this! Looks like jekyll doesn't provide the repo path for the `README`. I'll make sure this gets updated :+1:

[2020-07-20 23:01] #1658 closed

[2020-07-21 21:54] tehcyx opened #1659 "Crossplane provider installation fails"
### What happened?
Following the documentation to install crossplane on an already existing cluster with istio, installing of a provider (in my case gcp 0.10.0) failed.

[code]

A describe on the package-manager looks like this:
[code]

### How can we reproduce it?
Not sure, it might be related to istio sidecar injection:
https://crossplane.slack.com/archives/CEG3T90A1/p1595366947224600

### What

[2020-07-21 21:55] tehcyx commented on #1659
/assign @hasheddan

[2020-07-21 22:06] tehcyx commented on #1659
Disabled istio-inject on both crossplane and crossplane-package-manager deployments and the provider installed just fine.

[2020-07-21 22:35] tehcyx commented on #1659
Digging further: Even with istio disabled on the deployments, the created job will again have istio inject enabled and will not be able to complete.

[2020-07-21 22:35] hasheddan commented on #1659
@tehcyx I have a fix incoming, could you provide the output of describing the job also?

[2020-07-21 22:36] tehcyx commented on #1659
[code]

[2020-07-21 22:38] tehcyx commented on #1659
It seems more that due to istio the job can't complete:
<img width="1510" alt="image" src="https://user-images.githubusercontent.com/917785/88114178-266df880-cb68-11ea-886b-c0ce370d3351.png">
As it is still marked as running.

[2020-07-21 22:42] hasheddan commented on #1659
@tehcyx I think you likely want to disable istio sidecar injection on `Jobs` as I imagine this would cause any `Job` to fail to complete (this is a separate issue from what is happening with the package manager above) https://github.com/istio/istio/issues/11045

[2020-07-23 03:15] wonderflow opened #1661 "Add reference to oam-kubernetes-runtime repo in README"
### What problem are you facing?

OAM is application layer of crossplane, and all codes of OAM implementation lays in [oam-kubernetes-runtime](https://github.com/crossplane/oam-kubernetes-runtime). But I can't directly find any reference to there in README.

### How could Crossplane help solve your problem?

I suggest add a link in readme.

[2020-07-23 18:10] hasheddan commented on #267
@kevinzs2048 are you still interested in helping out here?

[2020-07-24 00:16] kevinzs2048 commented on #267
@hasheddan Hi, I do not have time recently working on this. But will still pay attention on this topic.

[2020-07-24 11:37] muvaf commented on #267
I have added this issue to `Proposed` column of the next release. I believe at least bootstrapping the provider repo and implement 1 small resource would be much of help to folks who'd like to contribute for specific managed resources.

[2020-07-24 18:10] till commented on #267
I want to experiment with this as well. Not sure how much I can contribute, but will definitely try it if you have an example repository which implements something. :)

[2020-07-28 11:49] kelvinwijaya commented on #1654
HI @muvaf @negz , may I know if this changes will be part of the enhancement, reason behind this is because my organization is using tags on the created AWS resource to track bills and resource utilisation

[2020-07-29 10:26] muvaf commented on #1654
I've opened https://github.com/crossplane/crossplane/pull/1664 for this feature since it's pretty easy to implement with existing mechanism. If @negz gives a heads-up, we can merge and include in the next release.

[2020-07-29 13:24] muvaf commented on #1629
I suggest adding https://github.com/crossplane/crossplane/issues/1637 as the 3rd item to have a better UX around RBAC of defined types.

[2020-07-29 16:27] kferrone commented on #1506
In response to @enderv

Maybe we could have something like:

[code]

Then the transforms be like the above example:
[code]

[2020-07-30 01:48] #1654 closed

[2020-07-30 09:40] lukasmrtvy opened #1665 "(feat): Azure Managed Disk support"
Would be nice to have support also for Azure Managed Disk as CRD.

Is possible to reference pre existing managed disk in PV:
https://docs.microsoft.com/en-us/azure/aks/azure-disk-volume#mount-disk-as-volume
https://github.com/Azure/aks-engine/issues/3648#issuecomment-665857839

Thanks

[2020-07-31 13:53] hwinkel commented on #70
what about a proper full qualified UR notation for service endpoints, they much more rich as we think coming from just the web...

Or a proper "model" Defingig service Parameters. In any case the connection secrets should remain secured.

[2020-08-03 20:44] prasek commented on #267
@till an example repo would be awesome! 👍

Are you using the native Open Stack APIs or the AWS compatibility APIs?

Also we're working on code generating resource controllers on top of the Terraform Providers #262. Are you using the [OpenStack Terraform Provider](https://www.terraform.io/docs/providers/openstack/index.html) today? If you give us the list of OpenStack resources you need we can prio

[2020-08-04 00:07] prasek commented on #1629
We should consider adding #1506 to the list.

[2020-08-04 13:49] till commented on #267
@prasek We use OpenStack-APIs. Not aware of a compat layer (any info on that?).

And yes, we use the Terraform provider. I think my basic needs are described here: terraform-providers/terraform-provider-openstack#541

Essentially creating the network environment and attaching an instance to it:

 - network
 - subnet
 - ports
 - instance

[2020-08-05 23:49] prasek commented on #1506
/cc @negz

[2020-08-06 22:04] Ashnam1100 opened #1666 "Annotation and Labels Not Propagating"
An annotation written in a ContainerizedWorkload does not propagate to the deployed pod.

kubectl describe ContainerizedWorkload:
![image](https://user-images.githubusercontent.com/33374380/89585994-e2881e00-d80c-11ea-8511-59e7e898e385.png)

kubectl describe pod [corresponding pod for the ContainerizedWorkload]:
![image](https://user-images.githubusercontent.com/33374380/89586554-e9636080-d80d-11e

[2020-08-06 22:06] hasheddan commented on #1666
@Ashnam1100 thanks for opening this! I am going to move it to https://github.com/crossplane/oam-kubernetes-runtime where it can be better addressed :)

[2020-08-07 04:26] negz opened #1684 "Deduplicate kind: Provider"
Under the https://github.com/crossplane/example-cnp sketch there are two (actually, several) resources of `kind: Provider`:

* A `kind: Provider` in the `pkg.crossplane.io` API group represents the installation of a Crossplane provider.
* A `kind: Provider` (typically) in the `<cloud>.crossplane.io` API group represents a connection to a provider's API.

The latter is somewhat of a misnomer. It do

[2020-08-10 19:55] negz commented on #1665
Agreed! Thanks for the feature request; this helps us prioritise resources. I'm going to migrate this issue to the Azure provider repo.

[2020-08-10 21:51] #1625 closed

[2020-08-10 22:25] hasheddan opened #1669 "Deprecate Package, ClusterPackageInstall, PackageInstall, and StackDefinition"
### What problem are you facing?

`Package`, `ClusterPackageInstall`, `PackageInstall`, and `StackDefinition` are all scheduled to eventually be removed per the design in the [Packages v2 design doc](https://github.com/crossplane/crossplane/blob/master/design/design-doc-packages-v2.md).

### How could Crossplane help solve your problem?

These types should be marked as deprecated so that users can

[2020-08-11 11:22] muvaf opened #1685 "Composition field name updates"
A `Composition` looks like:
[code]

* `compositeResource`: I think from the first look `compositeResource` could feel like an actual resource but it's actually a type reference, i.e. it has only `apiVersion` and `kind`. So, `compositeKind`, `compositeType`, `targetKind` or `targetType` or even just `type` or `definition`/`targetDefinition` could give more clues about what it is immediately.

* `co

[2020-08-11 18:20] negz opened #1670 "Remove resource claims, classes and the package manager"
### What problem are you facing?

In Crossplane 0.11 we introduced a new feature that we typically call 'composition'. This feature allows Crossplane users to define and publish their own custom resources - known as composite resources - that are composed of one or more underlying managed infrastructure resources. Composition can be used to implement the same functionality as Crossplane's resource

[2020-08-11 18:22] hasheddan commented on #1670
@negz given that claims have already been deprecated (#1600), should this issue instead track their removal?

[2020-08-12 11:40] muvaf opened #1672 "Do not generate password for any resource"
### What problem are you facing?

During the creation of SQL resources, Crossplane generates a random password for creation to succeed. Until recently, there was no way for the user to supply a password to be used and this feature has served us well. However, it doesn't match the behavior of the target API and it causes our `Create` calls to be not idempotent and that has some consequences.

For e

[2020-08-12 16:34] hasheddan opened #1673 "Add Crossplane 'crank' CLI tool in main Crossplane repo"
### What problem are you facing?

The current [crossplane-cli](https://github.com/crossplane/crossplane-cli) tool is kept in a separate repo and generally maintained on a very separate cadence than core Crossplane. This has led to deviation in behavior and disparate release processes.

### How could Crossplane help solve your problem?

As work begins to refactor much of the Crossplane CLI tool (lo

[2020-08-12 17:10] resouer commented on #1673
Not sure can we use CRD to discover and install the package?

[2020-08-12 17:12] hasheddan commented on #1673
@resouer this is somewhat independent of the CLI, but in the future we would like to support installing package by specifying a CRD it installs :+1:

[2020-08-13 08:27] muvaf commented on #1639
I feel like `direction` is too big of a property to let other fields unaffected. To elaborate:
[code]

When I look at these two elements, they look very similar but what they are used for are vastly different. An example in Kubernetes is volume list where you have different types of volumes in each element of the array, but in volume case the resulting behavior of each element is same; a volume to

[2020-08-14 20:29] negz opened #1683 "Rethink the concept of 'publishing' composite resources"
The https://github.com/negz/example-cnp/ sketch currently proposes that a `CompositeResourceDefinition` include the following `spec` fields:

[code]

Per @grantgumina in https://github.com/crossplane/example-cnp/pull/11/files/c726e35421c6ca3ed13e0e4878d0127fd1e64bf5#r470700760:

[2020-08-14 21:18] negz commented on #1639
@muvaf Separating the types into their own fields seems reasonable, though I think we'd need better names than `patches` and `outputs`. It does seem to me that they're both patches; it's just a case of the patch having a different source and destination (or direction).

[2020-08-17 18:19] negz commented on #1639
Capturing an idea @muvaf raised in a 1:1 meeting - maybe `compositePatches` and `resourcePatches`.

[2020-08-18 22:09] kasey commented on #1624
Doc is in review here https://github.com/crossplane/crossplane/pull/1677/files

[2020-08-19 02:46] negz commented on #1670
One thing that will probably be confusing during this transition period - we've decided to reuse the name 'resource claim' to replace the composition concept of a 'resource requirement'. Further context in https://github.com/crossplane/crossplane-runtime/pull/187.

[2020-08-19 17:56] prasek opened #1678 "Enable cdk8s users to offer constructs as native CRDs via Crossplane CustomComposition"
Part of #1955 First-class multi-language support 🚀

### Background
[Crossplane Composition](https://crossplane.github.io/docs/v0.12/introduction/composition.html) (with [associated refinements](https://github.com/crossplane/example-cnp)) supports authoring `CompositeResourceDefinitions` (XRDs) that publish CRDs to the Kubernetes API and `Composition` resources that provides a simple built-in YAML

[2020-08-20 07:43] kelvinwijaya commented on #1640
Hi @negz

Based on my testing with the latest version of crossplane v0.12.0, the composition did populate the annotation variables that i have passed from requirements objects, my S3Bucket object is created as per the external name supplied in the requirements object

[code]

Composition object:

[code]

What i did is patches done at parent level instead of `metadata.annotations[crossplane.io/exte

[2020-08-20 10:47] muvaf commented on #1603
I believe back propagation to composite resource will solve this issue by using composite resource as common data store which can accept values from composed resources https://github.com/crossplane/crossplane/issues/1639

However, I believe there is also the case where you'd like to have the value **before** creating that composed resource, i.e. an empty value is valid but you'd like that addition

[2020-08-21 02:06] negz commented on #1595
I just realised that we've effectively aligned on deprecating KubernetesApplication, but haven't actually communicated that yet. We should add a note to the types so that https://doc.crds.dev/github.com/crossplane/crossplane/workload.crossplane.io/KubernetesApplication/v1alpha1 indicates the deprecation.

[2020-08-21 03:10] negz opened #1682 "Rename InfrastructureDefinition to CompositeResourceDefinition"
### What problem are you facing?

Originally we had planned to have both application and infrastructure focused composite resources. We've since changed our approach to applications, and thus "composite resource" and "composite infrastructure resource" have become synonymous. We tend to say "composite resource" by convention, and thus "composite resource definition" fits as the definition of a com

[2020-08-21 03:13] negz commented on #1683
This was fixed in https://github.com/negz/example-cnp/, but I'm reopening and transferring the issue to c/c since it captures well some of the context around why we want to alter this term, and the constraints around choosing a new name.

[2020-08-21 03:23] negz commented on #1673
I'm not opposed to this approach, but it does raise some questions for me:

* Would there be a tight coupling between the version of `crank` and the running version of Crossplane?
* What are some examples of libraries the Crossplane controllers would share with the CLI?
* What would this mean for our CI/CD process? Presumably `crank` would be a distinct binary from `crossplane`.

[2020-08-21 03:25] negz commented on #1684
@muvaf I'd appreciate it if you could tackle this. We have https://github.com/crossplane/provider-aws/issues/38 tracking the idea of removing the region from the AWS provider, so I think we can scope this at simply renaming the various `Provider` CRs to something more like `ProviderConfig`. Per our out of band discussion this may or may not involve changing `spec.providerRef` to `spec.providerConf

[2020-08-21 03:56] negz commented on #1685
I'm moving this issue to c/c to track the work there. I'm going to leave the potential updates to the `patches` for #1639 and just focus on renaming `to` and `from` in this one.

[2020-08-21 04:05] negz opened #1686 "Managed resources should support default provider configurations"
### What problem are you facing?

Per https://github.com/crossplane/crossplane/issues/1684 we're planning to rename the various `kind: Provider` resources to something like `ProviderConfig`. Currently every managed resource must explicitly include a `providerRef` indicating which `ProviderConfig` to use. This makes it challenging for `Configuration` (package) authors to determine what `providerRef

[2020-08-21 04:13] negz commented on #1650
We're now planning to keep this controller (or at least its functionality), but to align it with the `apiextensions` (i.e. composition) controllers. The idea is that the XRD controllers will be responsible for (optionally) creating opinionated `admin`, `edit`, and `view` cluster roles that would grant subjects access to interact with a set of composite resource claims that may differ from namespac

[2020-08-21 04:17] negz commented on #1650
Followup: we may want to make it possible to opt out of this behaviour on a global level using a Crossplane CLI flag - something like `--no-manage-rbac`.

[2020-08-21 04:18] negz commented on #1637
Per https://github.com/crossplane/crossplane/issues/1650#issuecomment-678027705 we've decided to keep something like the current RBAC opinions Crossplane holds, in which Crossplane manages `admin`, `edit`, and `view` roles for each namespace. We acknowledge that this is one opinionated take on how folks might want to manage RBAC, and thus it will be possible to disable it at either the XRD level o

[2020-08-21 04:24] negz commented on #1089
I feel good about the [packages v2 plan](https://github.com/crossplane/crossplane/blob/60ab1664eec970d06c28714f98dec033a99cdd6c/design/design-doc-packages-v2.md), which will obviate the need for this change.

[2020-08-21 04:24] #1089 closed

[2020-08-21 04:25] negz commented on #510
I expect this will be addressed by the [packages v2 refactor](https://github.com/crossplane/crossplane/blob/60ab1664eec970d06c28714f98dec033a99cdd6c/design/design-doc-packages-v2.md). In general it's a pattern we follow on all but the oldest controllers; I think we're okay to close this issue out despite there being a few stragglers.

[2020-08-21 04:25] #510 closed

[2020-08-21 04:43] negz opened #1687 "Make composed resource readiness detection configurable"
### What problem are you facing?

Composite resources were designed to compose managed resources, and other composite resources. In practice the composite controller expects that the resources it composes:

* Are cluster scoped
* Can eventually become "ready", in the sense that their `type: Ready` status condition can transition to `status: True`.

The latter expectation is limiting on two fronts:

[2020-08-21 04:47] negz commented on #1687
@muvaf would you be interested in tackling this? I suspect @rathpc would have good insight, as I recall he worked on a similar JSON path based approach to determining readiness at the frontend.

At the moment I believe our most pressing need is to include a `ProviderConfig` in a composition, so a good first step might be to simply update Crossplane to determine that a composed resource has no `Rea

[2020-08-21 04:58] negz commented on #1653
I think this is a duplicate of https://github.com/crossplane/crossplane/issues/1637.

[2020-08-21 04:58] #1653 closed

[2020-08-21 20:03] hasheddan opened #1688 "Crossplane binaries are not being published"
### What happened?

When searching for Crossplane binaries, which are typically consumed by the corresponding Docker image in a Helm chart, I noticed the binaries themselves are not actually being published at https://releases.crossplane.io/.

### How can we reproduce it?

Visit https://releases.crossplane.io/ and look through the `bin` directories.

### What environment did it happen in?

Binarie

[2020-08-22 00:58] negz opened #1689 "Remove or clarify "provision infrastructure" documentation?"
### What problem are you facing?

As of https://crossplane.io/docs/v0.12/ our getting started docs flow as:

1. Install and configure Crossplane.
2. Provision managed resources.
3. Create compositions of managed resources.
4. Use compositions from OAM apps.

This makes a lot of sense in that each step builds conceptually on the last - the reader learns about the managed resource primitives before

[2020-08-24 14:49] hasheddan opened #1690 "Add Configuration and Provider package API types and their Revision counterparts"
### What problem are you facing?

The new [package manager](https://github.com/crossplane/crossplane/blob/master/design/design-doc-packages-v2.md) and [package format](https://github.com/crossplane/crossplane/pull/1681) designs, as well as the [example-cnp](https://github.com/crossplane/example-cnp) repo together specify that packages will be managed using a general package / package revision stra

[2020-08-24 19:20] negz opened #1691 "Add hosted Crossplane support to Provider and Configuration controllers"
### What problem are you facing?

In https://github.com/crossplane/crossplane/issues/1690 we're adding new controllers and types as part of the updated package manager design. We're thinking we'll initially add these without "hosted Crossplane" support (in which the package manager runs packages on a separate API server) so that we can test and demo the bare bones functionality.

### How could Cro

[2020-08-25 11:55] gowrisankar22 opened #1692 "Crossplane to support cloudfoundry and kyma"
**How does CloudFoundry service work:**

Cloud Foundry is an open-source, multi-cloud application platform as a service (PaaS). The applications deployed to Cloud Foundry access external resources via an Open Service Broker API [1]. In a Cloud Foundry platform, all external dependencies such as databases, messaging systems, file systems, and so on are considered services. Cloud Foundry allows admi

[2020-08-25 21:33] #1615 closed

[2020-08-25 21:33] #1682 closed

[2020-08-25 21:33] #1683 closed

[2020-08-26 16:13] lukasmrtvy opened #1694 "(feat): Azure MSI authentication"
Would be nice to support Azure MSI authentication ( https://www.terraform.io/docs/providers/azurerm/guides/managed_service_identity.html#what-is-a-managed-identity- )

[2020-08-27 06:50] kelvinwijaya opened #1695 "Updating crossplane through helm caused managed serviced to be deleted"
### What happened?

During upgrade of crossplane version (0.12.0 -> current master), my workload get deleted, e.g. MySQLInstanceRequirement, MySQLInstance, RDSInstance)
How can i prevent the upgrade process to not delete the existing resources? As if this is running in prod env, my external resource could get deleted unintentionally

Is there any flag/config that could lock the controller from del

[2020-08-27 14:09] muvaf commented on #1689
Composition is a differentiator compared to other projects in the same area, specifically ability to satisfy a claim with different compositions, but the foundational value of Crossplane is to enable the cluster to consume cloud services natively and that's done with the managed resources. Also, it's the easiest feature to understand; consume all cloud services just like persistent volumes, apply

[2020-08-27 16:20] jbw976 commented on #1688
Good idea @hasheddan, i've assigned this to me to look further into the s3 bucket permissions

[2020-08-27 16:22] muvaf commented on #1670
@negz I can tackle this for 0.13 if you'd like to. I believe we have many breaking stuff already so this could be a good time for the removal.

[2020-08-27 16:45] hasheddan commented on #1695
@kelvinwijaya thanks for opening this! I see that you upgraded to `master` here, which is not guaranteed to be stable. In this case, we recently refactored two alpha resources (`InfrastructureDefinition` / `InfrastructurePublication`) to a single `CompositeResourceDefinition`, which would have caused instances of those resource types to be deleted on upgrade. This is a change that would certainly

[2020-08-31 15:42] muvaf commented on #1645
Done by https://github.com/crossplane/agent/pull/6

[2020-08-31 15:42] #1645 closed

[2020-08-31 17:36] prasek opened #1698 "OPA integration reference docs & examples"
### What problem are you facing?
OPA allows you to write declarative, context-aware policy for your cloud-native environments. Because OPA integrates with Kubernetes, it can be used with Crossplane to set global policy on provisioning cloud resources. Would be great to have some reference docs that show how to best use OPA and Gatekeeper (OPA's native kubernetes impl) with Crossplane.

### How cou

[2020-09-01 00:23] #1685 closed

[2020-09-01 09:01] muvaf opened #1699 "Selector for ProviderConfig reference fields"
### What problem are you facing?

When a user tries to create a `ProviderConfig` object as part of a `Composition`, they cannot refer to it from other managed resources in the same `Composition` because its exact name is not deterministic, i.e. `<composite-name>-<5rand chars>`.

### How could Crossplane help solve your problem?

Selectors help in such cases for managed resources and they can help

[2020-09-01 15:21] turkenh commented on #1687
What about following a similar approach as [`kubectl wait`](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#wait), where one can specify the condition to wait for:

[code]

A new optional field (e.g. type `*string`) like `WaitForCondition` could help to satisfy most cases:

1. Not setting it, defaults to "Ready" which is the case right now.
2. Possible to wait custom condit

[2020-09-01 16:53] muvaf commented on #1684
This issue has been fixed via:
* https://github.com/crossplane/crossplane-runtime/pull/189
* https://github.com/crossplane/crossplane/pull/1700
* https://github.com/crossplane/crossplane-tools/pull/22
* https://github.com/crossplane/provider-aws/pull/320
* https://github.com/crossplane/provider-gcp/pull/250
* https://github.com/crossplane/provider-azure/pull/166
* https://github.com/crossplane/pro

[2020-09-01 16:53] #1684 closed

[2020-09-01 17:29] hasheddan opened #1702 "Stop generating and installing OAM CRDs"
### What problem are you facing?

We are currently [generating](https://github.com/crossplane/crossplane/blob/365a7c3ad900ff6cf8da646fedb99e894e07c41e/apis/generate.go#L28) OAM CRDs and [installing](https://github.com/crossplane/crossplane/tree/master/cluster/charts/crossplane/templates/crds) them as part of the Crossplane helm chart. This will cause issues when the oam-kubernetes-runtime helm cha

[2020-09-02 01:25] negz opened #1704 "Deprecate the Kubernetes ProviderConfig type?"
### What problem are you facing?

We [recently renamed](https://github.com/crossplane/crossplane/pull/1700) the Kubernetes `Provider` type in Crossplane to a `ProviderConfig`. This new name implies that it would "configure the Kubernetes provider", but no such provider currently exists. It's actually a shared/generic provider configuration for any Kubernetes-backed provider - namely the Rook and H

[2020-09-02 01:26] negz commented on #1704
CC @muvaf @hasheddan @turkenh does this make sense?

[2020-09-02 08:59] turkenh commented on #1704
Yes, sounds good to me.
I agree that it would be cleaner.

[2020-09-02 16:04] muvaf commented on #1678
Here is the draft design doc for `CustomComposition` https://github.com/crossplane/crossplane/pull/1705

[2020-09-02 17:10] prasek commented on #1678
@eladb wrote this https://github.com/eladb/cdk8s-pack-prototype that supports a cdk8s sidecar protocol for use with the new Crossplane [Custom Composition Types](https://github.com/crossplane/crossplane/blob/5fbcda82344c7e4f379911cd9b2952cdaacbd0f9/design/design-doc-custom-composition.md) that @muvaf is putting together.

Next steps:
1. Combine these two prototypes into a simple e2e demo using the

[2020-09-02 17:38] hasheddan commented on #1704
I think this would be fine to do, and gives us the advantage that the providers don't have to request any additional permissions (once claims are removed). Just wanted to point out that the original thinking behind having one type for "Kubernetes-native" providers was that other providers that provisioned Kubernetes clusters could make those available to a "Kubernetes-native" provider (i.e. I crea

[2020-09-02 17:42] hasheddan commented on #1704
@negz I'll take care of the `provider-rook` update :+1:

[2020-09-04 12:26] muvaf commented on #1704
Without Kubernetes `ProviderConfig`, is it possible today for a Kubernetes cluster to publish its kubeconfig and have `provider-helm` use it in the same `Composition`? As @hasheddan pointed out, I think that's the main use case this type covers right now and as long as that's still possible, I agree that we should deprecate this type.

[2020-09-04 12:34] muvaf commented on #1692
Hi @gowrisankar22 ! I do not have much experience with CloudFoundry. Could you explain the possible role of Crossplane here? From what I can tell, there could be a `provider-cloudfoundry` similar to `provider-aws` and people would manage services in CloudFoundry through that provider.

[2020-09-04 16:04] muvaf opened #1707 "Design & Prototype for CustomComposition"
Part of enable cdk8s users to offer constructs as native CRDs via Crossplane Composition https://github.com/crossplane/crossplane/issues/1678

### How could Crossplane help solve your problem?

Write a design doc ( in progress https://github.com/crossplane/crossplane/pull/1705 ) and implement a prototype to demo Crossplane + cdk8s end-to-end flow.

[2020-09-04 18:24] hasheddan opened #1708 "Consider breaking Crossplane API types into separate repo"
### What problem are you facing?

Some projects may want to consume Crossplane API types without taking a dependency on `crossplane/crossplane`, which currently contains both the Crossplane API types as well as controllers to manage them and their related functionality. `crossplane/crossplane` should typically not be depended upon as a library.

### How could Crossplane help solve your problem?

B

[2020-09-05 00:55] negz commented on #1708
Thanks for raising this @hasheddan! It seems like this could be part of a larger question around how we organize our codebase as the project grows.

If you think of our project as a series of Go modules, I think you can divide those modules into roughly two categories:

1. Those used to build a binary. e.g. `github.com/crossplane/crossplane` and `github.com/crossplane/provider-aws`.
1. Those conta

[2020-09-05 01:02] negz commented on #1708
In https://github.com/crossplane/crossplane/issues/1085 we considered something similar to this, though in that case the rationale was a little stronger given we were discussing the resource claim API types which are defined by the `github.com/crossplane/crossplane` but are not consumed by that module.

[2020-09-05 01:19] negz commented on #1708
Some prior art for larger, more complex (multi-module) projects breaking their API types out into a distinct module:

* https://github.com/kubernetes/api
* https://github.com/istio/api

[2020-09-08 05:23] negz opened #1711 "Cleanup design doc lifecycles"
We have quite a lot of designs in the `design/` dir that are defunct, partially defunct, or quite inaccurate - including but not limited to complex workloads, design docs, composition, and the packages design. At a minimum we should take a pass over the dir and make sure all document statuses reflect their current life stage. I believe @kasey suggested moving all defunct docs into a subdir to make

[2020-09-08 05:28] negz commented on #1711
Also (at the risk of yak shaving) I wonder how we should approach design documents in general. I've seen us take a few approaches.

1. Update the original design doc as our code changes.
1. Write a 'v2' design that supplants some or all of a previous design.
1. Let them rot.

So far I've personally preferred the 'v2' design approach. Rewriting or updating a design doc feels a little like rewriting

[2020-09-08 09:39] ciaranRoche opened #1712 "Define Connection Secret Format"
### What problem are you facing?

On provisioning a resource a connection secret is created, this connection secret contains the required data to connect to the resource. There may be use-cases where extra data is required by the user consuming this secret.

An example use case, a user provisions a database when creating an rds instance. The connection secret created does not contain the postgres

[2020-09-08 10:09] muvaf commented on #1708
If we merge all into `crossplane/crossplane` and make the high level controllers `internal`, that'd be a nice simplification and for the people who'd like to use crossplane high level controllers, for some reason, it's fair to let them ask for it.

Though we have to keep in mind that putting everything into `crossplane/crossplane` means that Crossplane will have opinions about which go module vers

[2020-09-08 11:18] muvaf commented on #1712
Hi @ciaranRoche ! In managed resources, this isn't really possible as they are considered as the lowest level components. If you'd like to propose a new key in the connection secret, we can do that by making a code change. However, when you use higher level constructs like [Crossplane composition](https://crossplane.io/docs/v0.12/getting-started/publish-infrastructure.html), you define your own re

[2020-09-08 11:33] muvaf commented on #1711
I think we should treat them by their status instead of having one approach for all. If a design is deprecated/defunct etc. then we just never update it anymore and make it more clear that it's not used anymore, this could include moving it to a subdir as well as having a `DEPRECATED` prefix in the title.

If it's implemented and still used, then the versioned updates on the same file make more se

[2020-09-08 11:34] muvaf commented on #1711
I think we should treat them by their status instead of having one approach for all. If a design is deprecated/defunct etc. then we just never update it anymore and make it more clear that it's not used anymore, this could include moving it to a subdir as well as having a `DEPRECATED` prefix in the title.

If it's implemented and still used, then the versioned updates on the same file make more se

[2020-09-08 11:59] ciaranRoche commented on #1712
@muvaf this is great, apologies for missing this in the documentation. This is exactly what we are looking for, I am going to close this issue out.

Thanks for the great explanation.

[2020-09-08 11:59] #1712 closed

[2020-09-08 15:41] muvaf commented on #1687
@turkenh I think JSONPath isn't really that different than the `fieldpath` implementation we have and from what I can tell, there is no out-of-box support for evaluation of `==`, `>` and other operators. So, we have to write code on top of it or we'll use jsonpath just to get a value similar to the example above:

[code]

However, as you can see in the example, it has support for [selecting](https

[2020-09-08 16:51] muvaf commented on #1687
I took a stab at implementing this in https://github.com/crossplane/crossplane/pull/1713 with the simplest approach. @negz do you strongly feel that it should be an array or would you be fine with one input?

[2020-09-08 17:52] hasheddan commented on #1688
@jbw976 any updates here?

[2020-09-08 19:20] hasheddan opened #1714 "Build and publish unpack base image"
### What problem are you facing?

Per the [Package Format v2 design doc](https://github.com/crossplane/crossplane/blob/master/design/one-pager-package-format-v2.md), we need to create a default base image that `crank` will use when building a package. It should be able to parse package contents using the [package parser](https://github.com/crossplane/crossplane-runtime/tree/master/pkg/parser) and

[2020-09-08 22:31] #1704 closed

[2020-09-09 00:35] jbw976 commented on #1688
I took a look at the bucket permissions today and the crossplane.releases bucket was missing bucket policy that allows public access to (only) list and get objects like the crossplane.charts bucket has.  I have updated the policy to match the charts one and confirm that the following now works:

* manual download: `wget https://releases.crossplane.io/alpha/v0.12.0/bin/linux_amd64/crossplane`
* bro

[2020-09-09 00:35] #1688 closed

[2020-09-09 13:05] hasheddan commented on #1688
Thanks so much @jbw976! 🙌

[2020-09-10 12:43] turkenh opened #1722 "Proposal: Observe-only Crossplane resources"
### What problem are you facing?

I want to get configuration/status of an external resource that is not managed by Crossplane. This is especially useful while building a composition that relies on configuration/status of an already existing external resource, where resource could be managed:

- by other tools (terraform, ansible, helm ...)
- manually created from UI or a legacy one
- by another C

[2020-09-10 14:42] muvaf commented on #1687
FWIW, the main reason we're implementing this right now is to be able to use `ProviderConfig` in a `Composition`. However, since the deletion of all resources have the same priority in composition, `ProviderConfig` disappears immediately before other resources get a chance to make deletion calls. We faced this issue in old template stacks, too, and put a workaround but I guess now we have to actua

[2020-09-10 14:47] turkenh commented on #1687
+1

Yes, we started using helm release in composition with [this workaround for this issue](https://github.com/crossplane-contrib/provider-helm/pull/23), and observing this deletion problem.

[2020-09-10 15:01] hasheddan commented on #1722
@turkenh thanks for opening this! Wanted to point to some prior art related to this topic: https://github.com/crossplane/crossplane/issues/834

[2020-09-10 15:08] hasheddan opened #1723 "Implement crank pkg build and push commands"
### What problem are you facing?

Stubs exist for `crank pkg build <package-name>` and `crank pkg push <package-name>`, but the functionality has yet to be implemented.

### How could Crossplane help solve your problem?

The commands should be implemented with the following functionality:
- `crank pkg build <package-name>`
  - Build OCI image from base unpack image with current directory contents

[2020-09-10 16:40] muvaf commented on #1714
I've started working on this. @hasheddan do you think it makes sense if I add a command like `print` to `crank` that will emit the necessary YAMLs in the current package directory? It'll save us from maintaining another binary and will probably make it easier for people to debug & develop locally with something like `crank pkg print . | kubectl apply -f -`

[2020-09-10 18:04] hasheddan commented on #1714
@muvaf I think that would be useful! We also have discussed a `crank pkg lint` to check for errors. The tricky part with these is that the base image is not always required to be the same so doing `crank pkg print` would theoretically tell you what will be emitted if the default base image is used, but not if a different one is used. There may also be desired to version the unpack image separate f

[2020-09-10 22:35] negz commented on #1722
For this specific use case, would it make sense to have your Helm chart create a `type: NodePort` service? Then your composition could create a load balancer as a 'native' Crossplane resource, create DNS records that point to that service, etc? It seems ideal to keep as much infrastructure managed by the "core" orchestration system (Crossplane) as possible.

Putting the specific use case aside, I

[2020-09-11 00:46] hasheddan opened #1724 "Add and publish crank.crossplane.io install script"
### What problem are you facing?

It is common for projects to serve a shell script which will install their CLI tool.

Examples:
- `https://sdk.cloud.google.com`
- `https://run.linkerd.io/install`
- `https://istio.io/downloadIstio`
- `https://cli.openfaas.com`

### How could Crossplane help solve your problem?

Crossplane should serve a similarly helpful script to make installing `crank` straight

[2020-09-11 02:46] negz commented on #1670
I'd like us to consider removing these in the v0.13 release of Crossplane (and corresponding provider releases). We're aiming to make these releases on September 23rd. Claims were marked deprecated approximately three months ago in v0.12 both in the release notes and CRD docs. They're also no longer mentioned by our documentation.

It's important to note that the _functionality_ of the deprecated

[2020-09-11 05:40] negz commented on #1724
https://crank.crossplane.io/rotate IMO.

[2020-09-11 06:44] negz commented on #1687
I like the sound of this approach. As far as I can tell anecdotally and [from API conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#selecting-fields) field paths do not usually have full JSON path support. I think it would make sense to introduce a new `jsonPath` field if we wanted to add this advanced functionality.

That all s

[2020-09-11 09:44] muvaf commented on #1714
Yes. But as a user who uses a different base image, I'm not sure if I would expect for `crank` to be able to do that anyway. I mean, at that point, I accept that I'm on my own. So, I'd either run that app, like `cdk8s synth`, or `docker run` to run the image.

If we do version them separately, yes it'd be somewhat confusing. Though one of the benefits of merging them is to not have to version them

[2020-09-11 11:34] muvaf commented on #1723
Is it going to make an assumption about where the YAMLs will reside? From what I can tell, there is `spec.ignore` field to ignore a directory but there isn't any info about where to find YAMLs. Is it `recursively scan every file in the current directory` ? Kustomize does require you to say which directories to include at every directory but Helm only wants `templates` folder; it'll scan everything

[2020-09-11 11:38] hasheddan commented on #1723
It does not make assumptions. The only thing that must be present is a `crossplane.yaml` in the current dir because that informs some build steps, such as what to ignore.

[2020-09-11 11:51] hasheddan commented on #1714
I don't think that we are actually saying that you are on your own completely here. Using a different base image does not mean that you are literally building a base image for that package. For instance, the `cdk8s` team could maintain a Crossplane base image, and you would use it by doing `crank pkg build --base=aws/cdk8s-crossplane:v1 ...`.

This would make sense if we were only using the defaul

[2020-09-11 12:53] muvaf commented on #1714
Maybe I'm missing something here. Let's say I run `crank pkg build --base=aws/cdk8s-crossplane:v1`, what is this command going to do for me? Create a `Dockerfile` with that image and build it?

[code]

[2020-09-11 12:56] hasheddan commented on #1714
`crank` will first parse the `crossplane.yaml`, then add all files that are not in the `ignore` stanza. For instance, if there is no `ignore` stanza, it would be equivalent to `ADD . .`

[2020-09-11 12:58] muvaf commented on #1723
Cool. Will `build` command put those YAMLs into a specific folder in the image or should we expect unpack tool to just scan everything in the OCI image? I guess we would want to have a path that's known by both tools like `/crossplane` or so that it's separated from the rest of the file system in the image.

[2020-09-11 13:00] muvaf commented on #1714
Hmm. But it's still on me to write the `ENTRYPOINT` in that `Dockerfile`, right? Like `ENTRPOINT ["cdk8s", "synth"]`

[2020-09-11 13:02] hasheddan commented on #1714
@muvaf an `ENTRYPOINT` defined in the base image will flow through if not overridden

[2020-09-11 13:18] hasheddan commented on #1723
@muvaf I don't think `crank pkg build` will put them in a specific directory. Just copying them over to `.` will put them in the `WORKDIR` specified by the base image.

[2020-09-11 13:32] muvaf commented on #1714
Got it, that'd work assuming that the image was specifically prepared to be a Crossplane package base image.

TBH, I feel like the user walks through a very thin line for both `build` and `print` to work for them while using a custom image. The equivalent of the golden path is:
[code]

and I'm not sure if any custom image will be that simple. It'll probably use an existing image, for example, most

[2020-09-11 18:54] hasheddan opened #1726 "Allow installing Crossplane Providers in Helm chart"
### What problem are you facing?

Currently, Crossplane's Helm chart allows you to create a `ClusterPackageInstall` for various providers (AWS, Azure, GCP, Rook) when you `helm install` Crossplane with the `--set clusterPackages.gcp.deploy=true --set clusterPackages.gcp.version=master` flags (for example). `ClusterPackageInstall` will be replaced by `Provider` in this context in the v0.13 release,

[2020-09-11 18:55] kferrone opened #1727 "k8s ExternalName Service for Provider Endpoints and Port Forwarding"
### What problem are you facing?
I recently just realized AWS will randomly change the Endpoint for a service, therefore the URL to something like MySQL is not predictable. Basically all the providers, AWS Google, etc, generate big long URLs for your apps to connect to. These URLs also need to be distributed to developers so they can connect and manage these services.

Recently, I got slammed by m

[2020-09-12 01:52] jbw976 commented on #1727
This sounds like a useful idea @kferrone, thank you for sharing it and with so much detail too! 💪

I haven't used [`ExternalName` services](https://kubernetes.io/docs/concepts/services-networking/service/#externalname) in k8s before, but when I was just reading the docs I saw:

Has this caused any issues for you so far with your experience? Thanks! 🙇‍♂️

[2020-09-12 02:20] kferrone commented on #1727
Oh yes, I forgot about some of the downsides. It'll work with plain vanilla http and tcp as long as the service doesn't care about the origin hostname.

Eg a service example.com may care the hostname is all of a sudden foo because it was programmed to care.

Also it won't work with tls or https because the certs won't match the new hostname. However I have had  https work simply because I controll

[2020-09-13 19:09] nchetan commented on #716
Do you still need help with this issue?
I can help you with the move and fixing any build/test issues if you need it.

I am looking to contribute to a project over a period of 2-3 weeks.

If this works, I can help with following workflow. Let me know if that works for you.

1. Fork the project to my account
2. Create the change in mainline (or it's equivalent branch. if you prefer a separate branc

[2020-09-13 19:14] hasheddan commented on #716
@nchetan thanks for being willing to help out here! A couple of things:
- Yes, I do think we would like for these to be moved to a top level `examples` dir
- Some of the examples likely need to be removed and / or updated, and we would love your help with that also if interested
- Your PR flow sounds right, but check out https://github.com/crossplane/crossplane/blob/master/CONTRIBUTING.md for more

[2020-09-13 19:26] nchetan commented on #716
Thanks @hasheddan
i have joined the slack channel and am in #general and #dev channels. I will DM you on slack to continue the conversation.

Cheers
chetan

[2020-09-13 23:22] negz commented on #1723
Nit: Would it be worth rooting these under the `crank provider` and `crank configuration` commands. e.g.:

[code]

[2020-09-14 02:49] negz opened #1730 "Should Crossplane support composing arbitrary Kubernetes resources?"
### What problem are you facing?

Crossplane's 'composition' functionality was [designed](https://github.com/crossplane/crossplane/blob/20493ac0f778c718409c43df0ab5d92264231187/design/design-doc-composition.md) such that a composite resource could compose managed resources - i.e. Kubernetes resources owned by a Crossplane provider - and other composite resources. Managed resources are always clust

[2020-09-14 03:57] rltvty commented on #1424
This is not a duplicate of #1009

@muvaf is talking about secrets created by crossplane.  for example the connection details to a postgres database.  It would be great if these could be pushed to a vault instance instead of a kubernetes secret.

[2020-09-14 11:15] turkenh commented on #1595
I made a quick POC of [`provider-kubernetes`](https://github.com/turkenh/provider-kubernetes) which could provide the same functionality around new concepts, i.e. usable inside a composition.
This would be useful together with `provider-helm` in case it does not make sense to build a helm chart just to deploy some Kubernetes resources (e.g. just want to create a namespace but nothing else).

[2020-09-14 13:58] turkenh commented on #1722
I played around a bit but couldn't do this manually, probably it is because cloud controllers do more than just creating load balancer resource when service type is `LoadBalancer ` (e.g. creating firewall rules etc) or I couldn't figure out the correct configuration. Also, I am not sure if this is even possible without reading auto-assigned port of NodePort from the created service.
However, it is

[2020-09-14 22:15] kferrone opened #1731 "Can't Skip Helm CRDs"
### What happened?
I am unable to use the SkipCRDs flag with Helm v3. With Helm v3 you can simply add crds to the crd folder in the chart and then Helm will handle them in a special way and you can skip them too.

I do agree the templates/crds should still exist for backwards compatibility with Helm v2. However, a lot of other charts will have a value in the `values.yaml` file like below to have h

[2020-09-15 09:14] #1687 closed

[2020-09-15 18:29] hasheddan opened #1732 "Add cleanup assistance for inactive package revisions"
### What problem are you facing?

The [v2 Package Manager](https://github.com/crossplane/crossplane/blob/master/design/design-doc-packages-v2.md) allows users to update and roll back packages to different versions, but is unopinionated about how a user handles cleanup of instances of CRDs / XRDs / Compositions installed by a previous revision that are no longer being managed by the current revisio

[2020-09-15 21:59] negz commented on #1714
https://github.com/crossplane/crossplane/pull/1681#discussion_r478798126

Cross-linking the above comment. It's going to be important that our default Crossplane base unpack entrypoint supports piping its output through other binaries (presumably binaries included in other layers of the OCI image). This will allow (for example) an Upbound registry metadata binary to scan a `.registry` directory th

[2020-09-15 23:32] #1690 closed

[2020-09-16 07:21] muvaf commented on #1714
@negz Just to be clear, with the separation of those binaries, the base binary will simply read YAML files and emit them through stdout, right? Then later on, we'll add additional binaries (or flags to this one), to process & annotate with additional metadata like icons, ui-schema etc.

[2020-09-16 19:02] negz commented on #1737
We've deprecated infra stacks, but we're now allowing ProviderConfigs inside Composite resources so we're running into the same issue.

[2020-09-17 08:48] till commented on #267
I got so excited and forgot that we probably also need a router and a floating IP. But I can try to help too.

Is there anything to take a look at yet?

[2020-09-17 12:48] hasheddan commented on #1582
@krishchow would you say this issue is complete?

[2020-09-17 13:19] muvaf commented on #1737
IMO, we have two options for how we'd like to proceed:
* In composition, specifically leak the resources whose kind is `ProviderConfig`. Fast and dirty hack for 0.13.
* Write controller for `ProviderConfig` kinds that will check whether there is any resource using that `ProviderConfig`.
  * The check logic is pretty generic but fetching the CRs belonging to that provider could be a bit tricky. In

[2020-09-17 15:49] krishchow commented on #1582
@hasheddan Yeah, we can mark this as completed :)

[2020-09-17 16:24] jbw976 commented on #1582
Great work on getting ramped up on Crossplane concepts, getting the quay operator updated, and becoming a contributor to Crossplane also @krishchow! really glad to have you here! 💪 🙇‍♂️

[2020-09-17 16:24] #1582 closed

[2020-09-17 19:46] hasheddan commented on #1100
I think we are nearing being able to officially drop helm 2 support. August marked the last bugfix release, and November will mark the last security release. More information [here](https://helm.sh/blog/helm-v2-deprecation-timeline/).

[2020-09-17 22:34] negz commented on #1670
It's been a week, and we haven't had any feedback that indicates folks would be particularly troubled by removing the resource claims in v0.13 so I'm inclined to go ahead with this removal. CC @bassam @jbw976.

[2020-09-18 01:10] #716 closed

[2020-09-18 14:24] hasheddan commented on #1637
@negz is this closed by #1728 ?

[2020-09-18 15:52] hasheddan opened #1745 "Use scratch or distroless images across Crossplane projects"
### What problem are you facing?

Crossplane images are currently using [`alpine:3.7`](https://github.com/upbound/build/blob/af023ee602ef60d14612f06f91c6fcb38c402269/makelib/image.mk#L33) as the base image, which has tooling that we should not need in most cases. Having these tools present increases the attack surface area of our images.

### How could Crossplane help solve your problem?

The two

[2020-09-18 17:31] bassam commented on #1670
remove them !

[2020-09-18 20:48] #1669 closed

[2020-09-19 04:38] negz opened #1747 "Packages don't emit events to indicate they installed successfully"
### What happened?

I noticed while installing a (v2) Provider package that while its Provider installed successfully, the Provider never gave any indication that it worked:

[code]

[code]

Ideally the provider would let me know via an event when a revision bcomes active.

### How can we reproduce it?

Apply the following against 15d496349f366685dbe1d53d8726562874722a5d:

[code]

### What environ

[2020-09-19 04:38] negz commented on #1747
CC @hasheddan - Nice to have for v0.13, but not critical.

[2020-09-19 15:04] hasheddan commented on #1747
@negz definitely will get this fixed for v0.13, thanks!

[2020-09-20 03:19] negz commented on #1637
@hasheddan No, that's a partial fix. Per the PR:

[2020-09-21 02:56] gyliu513 opened #1750 "Can I install crossplan via a big template or operator"
I can see from the document of crossplan, I have to install crossplan via helm https://crossplane.io/docs/v0.12/getting-started/install-configure.html which request me to download a helm binary, any plan to provide a big yaml template or operator to let me install the crossplan via a kubectl command?

[2020-09-21 08:53] muvaf commented on #1750
Hi @gyliu513 ! Not checked, but I believe that should be possible wit bare YAMLs. Even if not, we can use kustomize overlays so it'd be `kubectl apply -k`. Would you be interested in contributing those YAMLs? A folder named `cluster/deploy` could be a good home for that.

[2020-09-21 09:26] muvaf commented on #1745
Note that `distroless` from Google doesn't have builds for [`arm64`](https://github.com/GoogleContainerTools/distroless/issues/377) which is one of our targets. Though I wouldn't mind removing `arm64` target from Crossplane.

[2020-09-21 11:20] kelvinwijaya opened #1752 "Validate CompositeResourceDefinition schemas"
### What happened?
My CompositeResourceDefinition is still being created, although the composite CRD has never been created successfully generated by the operator

### How can we reproduce it?

I have invalid openAPIV3Schema which contain default value that is not supposed to be there (default value is forbidden)

![image](https://user-images.githubusercontent.com/11241076/93760764-3759e980-fc3f-1

[2020-09-21 14:06] gyliu513 commented on #1750
sure, let me check.

BTW: I found crossplan already have a operator at https://github.com/operator-framework/community-operators/tree/master/community-operators/crossplane , but I cannot find the source code for this operator, @muvaf do you know where is the source code of this operator?

[2020-09-21 14:22] hasheddan commented on #1750
@gyliu513 you can find the manifests for install using OLM here: https://github.com/operator-framework/community-operators/blob/34e8415f2a3f0d86e0f5bc56a8dc66969d34d572/community-operators/crossplane/0.11.0/crossplane.v0.11.0.clusterserviceversion.yaml#L300

These are a bit dated, but we plan to update with new releases :)

[2020-09-21 14:31] hasheddan commented on #1752
@kelvinwijaya thanks for opening this! Could you add a little more context around what is happening here? Are you saying that you:

1. Created a CompositeResourceDefinition (XRD) with an invalid schema
2. A CRD was not created in reponse

If so, this seems to be working as intended. The validation would not occur until the controller attempted to create the CRD because the `OpenAPIV3Schema` is [ju

[2020-09-21 14:35] hasheddan commented on #1610
@muvaf I believe this has been addressed through the implementation of the new package manager. Mind if I close it out?

[2020-09-21 14:48] gyliu513 commented on #1750
Good, then I think we should also maintain the CSV in this repo as well, and sync up to community-operators. Suggest put the CSV files under `cluster/deploy/olm`, comments @hasheddan

[2020-09-21 15:43] hasheddan commented on #1750
@gyliu513 it certainly sounds reasonable to me that we would maintain the manifest in this repo. I am going to defer to @kasey for specifics as he has worked on the OLM deployment in the past as part of https://github.com/crossplane/crossplane/issues/1553

[2020-09-21 16:31] kelvinwijaya opened #1754 "MySQLInstance composite resource not Ready"
### What happened?

I have created CompositeResource Definition for MySQLInstance , but seem when i check the event status:

![image](https://user-images.githubusercontent.com/11241076/93793944-1064dd00-fc6a-11ea-8c85-dd6c0fad0a01.png)

![image](https://user-images.githubusercontent.com/11241076/93794081-3ab69a80-fc6a-11ea-94bb-86f5a00fc024.png)

Is this feature implemented already for MySQLInstan

[2020-09-21 16:38] kelvinwijaya commented on #1752
Hi @hasheddan ,

Yes I have unintentionally created CompositeResourceDefinition (XRD) with an invalid schema, when this happened , I am expecting some error might be shown in the CompositeResourceDefinition > status > conditions.

As i have no clue about why the CRD has not been created until i go into the events logs to check
Not a very big deal just that as you mention it is good to have the val

[2020-09-21 17:04] #1714 closed

[2020-09-21 17:33] muvaf commented on #1610
@hasheddan yes, thanks for catching!

[2020-09-21 17:33] #1610 closed

[2020-09-21 17:34] negz commented on #1595
Fixed by https://github.com/crossplane/crossplane/pull/1720

[2020-09-21 17:34] #1595 closed

[2020-09-21 17:38] negz opened #1755 "Remove KubernetesApplication and KubernetesTarget"
### What problem are you facing?

We deprecated these in https://github.com/crossplane/crossplane/issues/1595. Once we've released v0.13 with the deprecation notice we should move forward with removing them in v0.14 or so.

### How could Crossplane help solve your problem?

Remove the KubernetesApplication, KubernetesApplicationResource, and KubernetesTarget types and their controllers.

[2020-09-21 20:08] hasheddan opened #1756 "Update Providers to v2 package format"
### What problem are you facing?

The introduction of the [v2 package manager](https://github.com/crossplane/crossplane/blob/master/design/design-doc-packages-v2.md) and the [v2 package format](https://github.com/crossplane/crossplane/blob/master/design/one-pager-package-format-v2.md) necessitates changes in existing Crossplane community-maintained Providers.

### How could Crossplane help solve y

[2020-09-21 20:24] #1637 closed

[2020-09-21 22:39] hasheddan commented on #1691
Closing this out, see #1736 for more context.

[2020-09-21 22:39] #1691 closed

[2020-09-22 01:58] #1747 closed

[2020-09-22 05:09] gowrisankar22 commented on #1692
cloudfoundry is using service broker concept for the service discovery. CF create service triggers the api call to provision for example hyperscaler services.

with crossplane, CF create service should use crossplane AWS/azure/gcp/ali/onprem and create a service instance out of the box

[code]

[2020-09-22 07:34] kelvinwijaya commented on #1754
Also to add on the latest version: v0.13.0-rc.161.gb48ee89. It also break for Bucket (Composite). The resource never been in ready state, when i revert to `rc.114.g20493ac` then it is fine, but still MySQLInstance(Composite) is not working yet

[2020-09-22 09:53] kelvinwijaya commented on #1754
I test few revision before the things break: the one that start to not working is `crossplane-0.13.0-rc.110.g5fa4896`

Hope it helps! I think probably due to some refactoring from publications to definitions

[2020-09-22 11:16] muvaf commented on #1754
The composite resource (the one whose kind is `MySQLInstance` in this case) becomes [`Ready`](https://github.com/crossplane/crossplane/blob/master/pkg/controller/apiextensions/composite/reconciler.go#L319) when all composed resources become `Ready`. Could you check the resources listed under `spec.resourceRefs` of `MySQLInstance` and see if their `status.conditions[type=Ready]` is `true`?

[2020-09-22 11:37] muvaf commented on #1692
Hmm, so it seems that CF marketplace would have some entries that uses Crossplane to do those operations. From what I can tell, CloudFoundry is [very tightly coupled](https://docs.cloudfoundry.org/services/managing-service-brokers.html) with Service Broker. So, a Service Broker that calls Crossplane commands could work there, right?

[2020-09-22 16:53] kelvinwijaya commented on #1754
Hi @muvaf

I am testing back with the latest crossplane version `v0.13.0-rc.179.g9ee6139`

To demonstrate the behaviour, I am currently using kind: Bucket as my composite resource

Show below the status from composite claim: (e.g. kind: CSBucket):
![image](https://user-images.githubusercontent.com/11241076/93912349-3657b380-fd36-11ea-8799-3a5de28770e5.png)

Also I am viewing the composite resource

[2020-09-22 18:36] negz commented on #1619
Fixed by https://github.com/crossplane/crossplane/pull/1728

[2020-09-22 18:36] #1619 closed

[2020-09-23 01:21] #1702 closed

[2020-09-23 03:43] negz commented on #1707
@muvaf @prasek Should we drop this from the v0.13 project? I know we worked on it during that timeline, but I don't think it's a blocker.

[2020-09-23 03:44] negz commented on #1650
Fixed by https://github.com/crossplane/crossplane/pull/1728.

[2020-09-23 03:44] #1650 closed

[2020-09-23 04:06] negz opened #1762 "Combine Helm chart README.md with install docs"
### What problem are you facing?

https://github.com/crossplane/crossplane/blob/3a18fb7/cluster/charts/crossplane/README.md

The above chart readme is out date. It also has a lot of overlap with our [other](https://github.com/crossplane/crossplane/blob/3a18fb/docs/getting-started/install-configure.md) [installation](https://github.com/crossplane/crossplane/blob/master/docs/reference/install.md) do

[2020-09-23 04:14] hasheddan commented on #1762
@negz just a note here, we used to sync this file from the docs here: https://github.com/crossplane/crossplane/blob/cf5865f45074670729a59d7a91da56ca974a98d3/Makefile#L147

[2020-09-23 06:34] gowrisankar22 commented on #1692
@muvaf exactly. It is very similar to:
https://github.com/cloudfoundry-incubator/service-fabrik-broker/blob/master/docs/Interoperator.md#integration-with-service-manager

[2020-09-23 09:09] negz commented on #1100
Let's drop it for v0.13.

[2020-09-23 09:33] negz commented on #1737
Another approach could be to have each provider controller add some metadata to the ProviderConfigs they use to authenticate - a finalizer, owner ref, annotation etc. Refuse to let the ProviderConfig be deleted while such annotations still exist. This would probably get pretty messy pretty fast though with many managed resource controllers fighting to update ProviderConfig metadata.

We could also

[2020-09-23 11:17] muvaf commented on #1692
Got it. I believe we'll need to see some community demand to spend some cycles on it. So, let's keep this issue open and let others chime in.

[2020-09-23 11:18] #1686 closed

[2020-09-23 11:22] muvaf commented on #1707
@negz I narrowed down the scope of the issue to having only the design, which will probably make it in 0.13 timeline but it's definitely not a blocker for the release. So, I'm fine with dropping or keeping it.

[2020-09-23 11:29] muvaf commented on #1737
To be fair, if it's a simple array of strings, it's probably safe to rely on api-server to handle the mutual state. So, it may not be that bad in the end. However, it'd be a bit complicated to handle the case where managed resource switches to another provider because the managed reconciler won't know about the old provider.

That would be proxying N kinds into 1 kind, which would necessitate some

[2020-09-23 15:05] gowrisankar22 commented on #1692
You may get a similar request because pivotal is also developing a similar implementation(service broker) to provision the hyperscaler services **[1]** to be used with Cloud Foundry and Kubernetes.
In addition to that, cloud foundry is under the transition phase to run on Kubernetes [2]. In this case  **operator + OSBAPI** more fit for service provisioning/lifecycle operations.

[1] https://github

[2020-09-23 22:58] negz commented on #1737
I doubt it would work well. If a composite resource creates N resources that all try to use the same PC, each of those resources would try to annotate the PC. They'd all race and I suspect many writes would fail due to the PC being modified between when it was read and when it was updated. I'm sure the system would eventually converge, but it would take a lot of work and noise to get there.

Perha

[2020-09-23 23:06] negz commented on #1737
I'm feeling passionate about the `ProviderConfigUsage` approach - I'm going to play with it tonight to see how it works in practice.

[2020-09-24 00:20] prasek commented on #1692
@gowrisankar22 thanks for suggesting this and welcome to the community! 👋

As Cloud Foundry transitions more towards Kubernetes, it may make sense to consider a more Kubernetes-native approach along these lines: https://blog.crossplane.io/crossplane-openshift-operator-cloud-native-services/

Yes, in concept it could work similar to https://github.com/cloudfoundry-incubator/service-fabrik-broker/bl

[2020-09-24 03:12] kelvinwijaya opened #1765 "CompositeResourceDefinition connectionSecretKeys param doesn't trigger Secret creation in Claim Resource namespace"
### What happened?
As previously in publication, if we defined connectionSecretKeys, the Secret will be created based on the name given in claim object with the name extracted from writeConnectionSecretToRef

### How can we reproduce it?
Create MySQLInstance Claim Resource and observe whether the Secret is being created in the namespace

### What environment did it happen in?
Crossplane version: v

[2020-09-24 06:06] negz commented on #1737
I've drafted up the `ProviderConfigUsage` approach at https://github.com/crossplane/provider-gcp/pull/256. I feel good about that approach and think it's worth pursuing, however as I was wrapping up the proof of concept I realised it may not actually solve our problem.

Let's say we have a composite resource that:

* Creates a kubernetes cluster of some kind - let's say an `EKSCluster`
* Creates a

[2020-09-24 06:40] negz commented on #1737
If we wanted to add some more protection, one option might be to:

1. Update `managed.Reconciler` to call `UnpublishConnection` before deleting the managed resource.
1. Update the `ProviderConfig` reconciler to add itself as an `OwnerReference` to its connection secret.
1. Add an `UnpublishConnection` implementation that refuses to delete a connection secret that is owned by anything other than th

[2020-09-24 08:35] negz commented on #1765
Thanks for the bug report @kelvinwijaya! Could you share your XRD, Composition, and Claim here? I just tried to reproduce the issue using the `docs/snippets/compose` examples in master (18324aa15a191bbb1a71a0161af5edd9f7bddfe6) but everything seems to be working as expected.

[code]

[2020-09-24 08:40] negz commented on #1754
@kelvinwijaya Are you able to run `kubectl describe mysqlinstances.crd.aws.abc.com`? There may be some events or status that will help us figure out what is going on. If you're using AWS resources, `kubectl get -o wide aws` might help too.

[2020-09-24 08:44] negz commented on #1752
This is definitely something we want to do. It's similar to https://github.com/crossplane/crossplane/issues/1476, which is about validating `kind: Composition` rather than `kind: CompositeResourceDefinition`. I'm going to convert this issue to a feature request, because we don't have an issue tracking that. :)

[2020-09-24 08:47] negz commented on #1727
It seems like this might be a duplicate of https://github.com/crossplane/crossplane/issues/70. If that is the case, we should probably close the older issue and keep this one since it contains more detail and is connected to a real use case.

[2020-09-24 08:49] negz commented on #1656
What used to be a `ClusterPackageInstall` is going to be a `Provider` in v0.13 (the `Provider` that was is now `ProviderConfig`). I expect this feature request still holds, though.

[2020-09-24 09:07] negz commented on #1441
This is no longer the case now that the OG package manager has been removed. We now have the opposite problem (temporarily), in that you can't. influence how a provider is run at all. :)

[2020-09-24 09:07] #1441 closed

[2020-09-24 09:07] negz commented on #1462
ClusterStackInstall is now gone. :)

[2020-09-24 09:07] #1462 closed

[2020-09-24 09:09] negz commented on #896
I believe this is no longer an issue under the new package manager.

[2020-09-24 09:09] #896 closed

[2020-09-24 09:09] #1174 closed

[2020-09-24 09:10] negz commented on #1287
We've decided to abandon the template stacks experiment, in favor of a more focused approach (just providers and composition).

[2020-09-24 09:10] #1287 closed

[2020-09-24 09:13] negz commented on #152
I think this pertains to the `KubernetesCluster` resource claim, which is now gone. We have support for node pools in GKE and EKS via composition.

[2020-09-24 09:13] #152 closed

[2020-09-24 09:14] negz commented on #757
I'm going to optimistically close this. We can reopen if demand resurfaces.

[2020-09-24 09:14] #757 closed

[2020-09-24 09:21] negz commented on #435
I believe this is fixed (i.e. designed, not implemented) by #1616.

[2020-09-24 09:21] #435 closed

[2020-09-24 09:29] negz opened #1767 "Allow Provider packages to request additional RBAC permissions"
### What problem are you facing?

Per the [package manager design](https://github.com/crossplane/crossplane/blob/18324aa15a191bbb1a71a0161af5edd9f7bddfe6/design/design-doc-packages-v2.md) we expect that some providers may need additional RBAC permissions. The design proposes that providers be able to specify an array RBAC rules as `spec.permissions` in their package metadata, which would be surfac

[2020-09-24 09:29] negz commented on #758
We no longer support `dependsOn` as a way to request additional permissions, though our package manager design calls for support for something similar per https://github.com/crossplane/crossplane/issues/1767.

[2020-09-24 09:29] #758 closed

[2020-09-24 09:30] negz commented on #1248
Done, per [this design](https://github.com/crossplane/crossplane/blob/18324aa15a191bbb1a71a0161af5edd9f7bddfe6/design/one-pager-package-format-v2.md)

[2020-09-24 09:30] #1248 closed

[2020-09-24 09:32] negz commented on #920
I believe @kasey is currently working on this.

[2020-09-24 09:32] negz commented on #898
I believe this is fixed in the new package types.

[2020-09-24 09:32] #898 closed

[2020-09-24 09:34] negz commented on #527
@hasheddan Is this still relevant under the v2 packages implementation?

[2020-09-24 09:37] negz commented on #1007
We removed support for the kinds of resource claim this issue refers to.

[2020-09-24 09:37] #1007 closed

[2020-09-24 11:22] hasheddan commented on #527
@negz sort of.. though I think #1732 is more reflective of current state

[2020-09-24 15:29] pdettori commented on #1730
I have use cases where the ability to compose arbitrary (namespaced) Kubernetes resources would be very valuable. This enhancement would allow me to use existing operators for managing in-cluster resources (e.g. DBs) and use Crossplane Composition to create common abstractions for in-cluster and off-cluster services. For example, I could use one of the existing operators for Postgresql (e.g. https

[2020-09-24 18:30] muvaf commented on #1737
I think that's a separate problem that is when two managed resources depend on each other via a secret as common point, how we can ensure a proper deletion order.

I would like to describe my thought process around the trade-offs here for consideration.
* `ProviderConfig` controller:
  * (1) Every managed resource will have a corresponding `ProviderConfigUsage` and during deletion the controller w

[2020-09-24 20:42] negz opened #1768 "Update documentation regarding the new package manager"
### What problem are you facing?

Currently https://crossplane.io/docs/v0.12/getting-started/install-configure.html (and the equivalent documentation in master as of 18324aa15a191bbb1a71a0161af5edd9f7bddfe6) discusses installing Crossplane providers using a `ClusterPackageInstall`. The same is true for other docs, like https://crossplane.io/docs/v0.12/reference/install.html. There is no documentat

[2020-09-24 21:00] negz commented on #527
@hasheddan I thought that might be the case. I'll close this and we can track in #1732.

[2020-09-24 21:00] #527 closed

[2020-09-24 21:04] negz commented on #1726
Note that I removed this functionality recently, so this issue is now scoped more as "allow installing _any_ providers in the Helm chart".

[2020-09-24 21:05] negz commented on #1216
I believe this is roughly the same as https://github.com/crossplane/crossplane/issues/1726, so I'm going to close it as a duplicate.

[2020-09-24 21:05] #1216 closed

[2020-09-24 22:47] negz opened #1769 "Support SQL Provider(s)"
### What problem are you facing?

Some cloud providers (e.g. Google) provide APIs for creating SQL databases and users, but the majority do not. It is possible to create an SQL instance via the provider API, but you must speak SQL to those instances before an application can viably use them.

### How could Crossplane help solve your problem?

Crossplane could support a `provider-sql`... provider.

[2020-09-25 04:05] negz commented on #1737
I believe this is a close call complexity wise, and is subjective from a UX perspective - especially if we can agree that it's worth making the consumers of a `ProviderConfig` easily discoverable even when it is _not_ being deleted.

If we go with the `ProviderConfigUsage` approach:

* In the happy path - the vast majority of cases - we make one API call to create a `ProviderConfigUsage` when a ma

[2020-09-25 16:18] kasey opened #1770 "Generic Cross-Resource References"
### What problem are you facing?
As mentioned in the design doc for terraform-based controller codegen(https://github.com/crossplane/crossplane/pull/1677/) , we will need to implement a generic cross-resource referencing scheme to compensate for the fact that terraform does not provide the necessary metadata for our code generator to understand which fields are cross-referenceable.

### How could

[2020-09-25 18:03] koshkarov opened #1772 "Cant add helm repo: host charts.crossplane.io cannot be resolved."
### What happened?
When adding crossplain chart repository to helm, the system can't resolve the hostname charts.crossplane.io.
This issue prevents us from installing the crossplane.

Obviously this is not a bug, rather network issue. But not sure how and where I can report it.

It produces the error on **local environment**:
"_Error: Looks like "https://charts.crossplane.io/alpha" is not a valid

[2020-09-25 18:13] hasheddan commented on #1772
@koshkarov thanks for opening this! We are aware of this issue and have identified the cause. I believe that we may have already reached resolution, would you mind trying to run again?

[2020-09-25 18:36] koshkarov commented on #1772
Thanks @hasheddan , the host resolves now.

![image](https://user-images.githubusercontent.com/7766436/94303650-29a4ac80-ff3c-11ea-8fb4-3c17f794d2a3.png)

[2020-09-25 18:37] hasheddan commented on #1772
@koshkarov great! Apologies for the interruption!

[2020-09-25 18:37] #1772 closed

[2020-09-25 19:28] #1100 closed

[2020-09-25 19:28] #1731 closed

[2020-09-25 20:11] #1670 closed

[2020-09-25 20:20] negz commented on #289
https://github.com/kubernetes-sigs/controller-runtime/blob/ab55aa710b06f01816f77aaf0e258ecb4367f0a5/pkg/source/source.go#L156

I noticed recently that controller-runtime does have some facility for 'watching' sources outside the cluster.

[2020-09-26 03:38] kelvinwijaya commented on #1765
Hi @negz ,

Thanks for checking, maybe there might be edge scenario in my params
Currently I am on : v0.13.0-rc.109.ga3425d5

My CompositionResourceDefinition:

[code]

And Composition:

[code]

Thanks,
Kelvin

[2020-09-26 04:11] kelvinwijaya commented on #1754
Hi @negz ,

Here is the events log for your further investigation:

![image](https://user-images.githubusercontent.com/11241076/94329789-aabd7b80-fff0-11ea-80f7-9af6d05c8ad1.png)

Also  when i `kubectl get -o wide aws` , the s3bucket is not there
I am sure not sure why there is some error on:
[code]
But i dont face it for version before `0.13.0-rc.110.g5fa4896`

[2020-09-28 05:10] negz opened #1780 "Provider packages create many service account secrets"
### What happened?

I notice a slowly growing number of secrets associated with the GCP provider:

[code]
I suspect this is because we're using the updating rather than patching applicator to apply the provider `ServiceAccount`, and wiping out some metadata (perhaps the secrets array?). I notice the named secret in the below output always matches the most recent secret.

[code]

### How can we rep

[2020-09-28 06:40] negz opened #1781 "Several CRDs have printcolumns relating to classes, reclaim policy etc"
### What happened?

Several CRDs across all providers (e.g. GKECluster, NodePool) contain `RECLAIM-POLICY` print columns. A handful (e.g. NodePool) also reference their resource class. These functions are deprecated, and should be removed.

[2020-09-28 08:10] negz commented on #1612
Could we leave this up to the Kubernetes garbage collector? I believe it we set `blockOwnerDeletion: true` in the controller references we add to all composed resources we'll be able to use regular Kubernetes machinery for this rather than implementing it ourselves.

https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#controlling-how-the-garbage-collector-deletes-dependen

[2020-09-28 08:12] negz opened #1782 "Handle dependencies via connection secrets"
### What problem are you facing?

Crossplane creates the resources an XR composes in the order they are specified in their composition. The order in which Crossplane deletes the composed resources is undefined and presumably non-deterministic; it relies on Kubernetes garbage collection to delete resources.

In most cases this is not an issue:

* Cross resource references are not processed when a m

[2020-09-28 08:13] negz commented on #1782
CC @muvaf, who I believe was investigating option 2 (ordered deletion).

[2020-09-28 08:32] negz commented on #1782
I've been testing a fix for https://github.com/crossplane/crossplane/issues/1737. Per https://github.com/crossplane-contrib/provider-helm/pull/31#issuecomment-699855569 it's looking like the specific case outlined by this issue is mostly theoretical, because Kubernetes clusters are so slow to delete that the Helm release gets enough time to be deleted.

[2020-09-28 11:24] hasheddan commented on #1780
@negz thanks for identifying this! I am thinking it may make sense to use the patching applicator for both the SA and Deployment. It would fix this issue described here and would also allow for manual editing of the Deployment which would “fix” the EKS IRSA scenario in the short term as well. While it would make the revision controller a bit less authoritative over the Deployment, I don’t think an

[2020-09-28 11:55] muvaf commented on #1612
// the owner cannot be deleted from the key-value store until this
	// reference is removed.
	// Defaults to false.

@negz I believe that property applies only if the deletion is of type `foregroundDeletion` which is not the default of `kubectl` or normal standard `Delete` calls we make with controller-runtime. I remember trying to use `blockOwnerDeletion ` for template stacks, too, and didn't dec

[2020-09-28 12:09] muvaf commented on #1737
We synced with @negz and decided to see how the deletion priority we had in template stacks would solve this and related two other problems [[1]](https://github.com/crossplane/crossplane/issues/1782) [[2]](https://github.com/crossplane/crossplane/issues/1612). I opened https://github.com/crossplane/crossplane/pull/1783 that implements this idea. The biggest difference with `ProviderConfigUsage` is

[2020-09-28 16:59] #1780 closed

[2020-09-28 18:16] negz commented on #1737
I don't think see this as an either/or decision. I'd like to proceed with adding support for `ProviderConfigUsage`, and separately consider ordered deletion.

Even when folks are using composition, keep in mind that a `ProviderConfig` won't always be created by the same composite resource as the managed resources that use it.

Consider for example a case in which we had two composite resources; a

[2020-09-28 18:22] negz commented on #1782
One observation about this approach is that it only works when the managed resource and its consumers are all part of the same composite resource.

Consider for example a case in which we had two composite resources; a `KubeCluster` and a `Batteries`. The `KubeCluster` resource composes a `GKECluster` and a Helm `ProviderConfig` for that cluster. The `Batteries` resource composes some Helm Release

[2020-09-28 19:59] #1723 closed

[2020-09-29 09:42] gowrisankar22 commented on #1692
I have done the POC, which integrates the crossplane with **cf,k8s and kyma** via interoperator based on OSB API  standard

[2020-09-30 12:26] muvaf commented on #1781
Fixed by linked PRs.

[2020-09-30 12:26] #1781 closed

[2020-09-30 13:06] muvaf opened #1788 "Pod leaked after unsuccessful provider installation"
### What happened?

I used the following YAML to install AWS Provider:
[code]

I got the following because that image didn't exist:
[code]

Then I fixed the tag and run `kubectl apply` with the following:
[code]

Now I have:
[code]

I was expecting that pod to be recreated with the new image path.

### How can we reproduce it?

As explained above.

### What environment did it happen in?
Crossplane

[2020-09-30 13:09] hasheddan commented on #1788
@muvaf thanks for raising this :+1: This should be fixed my the incoming updates to the package manager with our shift to static packages

[2020-10-01 11:02] muvaf commented on #1065
Fixed by https://github.com/crossplane/provider-aws/pull/320

[2020-10-01 11:02] #1065 closed

[2020-10-01 11:24] hasheddan opened #1793 "Add Configuration / Provider create and get commands"
### What problem are you facing?

There is [scaffolding present](https://github.com/crossplane/crossplane/blob/d9497019129dc50a0e4111bd5f25bc32a80f9d83/cmd/crank/configuration/configuration.go#L95) for `Create` and `Get` commands for `Providers` and `Configurations`, but they have not yet been implemented.

### How could Crossplane help solve your problem?

These commands should be implemented. It

[2020-10-01 13:03] gowrisankar22 commented on #1424
It would be great if crossplane provides the integration to any of the external credential management systems. Example: vault ,credhub etc ...

Also, it would be also interesting to publish credentials to respective providers kms service.

[code]

[2020-10-01 18:56] muvaf commented on #666
Fixed by https://github.com/crossplane-contrib/provider-helm

[2020-10-01 18:56] #666 closed

[2020-10-02 02:46] negz commented on #1737
I believe the various PRs linked from this issue are good to go. I've updated them all to use the pattern we've settled on, and moved them out of draft.

[2020-10-02 07:54] tegioz opened #1797 "Consider listing operator in Artifact Hub"
Hi! 👋🏻

Have you considered listing the **crossplane** operator directly in [Artifact Hub](https://artifacthub.io)?

At the moment it is already [listed there](https://artifacthub.io/packages/olm/community-operators/crossplane), because the Artifact Hub team has added the [community-operators](https://github.com/operator-framework/community-operators/tree/master/upstream-community-operators) repos

[2020-10-03 02:58] gowrisankar22 commented on #1009
It would be great if crossplane provides the integration to any of the external credential management systems. Example: vault ,credhub etc ...

Also, it would be also interesting to publish credentials to respective providers kms service.

aws-provider -- aws kms service
azure-provider -- azure kms service
gcp-provider -- gcp kms service
Alibaba-provider -- alibaba kms service

[2020-10-03 10:35] muvaf commented on #1009
I think this issue can be closed because of the reasons listed in https://github.com/crossplane/crossplane/issues/1009#issuecomment-548388787

@gowrisankar22 https://github.com/crossplane/crossplane/issues/1424 is I believe what you're looking for. This was related to the backend of `Secret`s and how they are stored in the cluster.

[2020-10-03 10:35] #1009 closed

[2020-10-04 14:35] hasheddan opened #1799 "Consider using OCI Artifacts for packaging"
### What problem are you facing?

Crossplane uses an opinionated implementation of the [OCI image](https://github.com/containers/image) spec for its [package format](https://github.com/crossplane/crossplane/blob/master/design/one-pager-package-format-v2.md). This allows for Crossplane packages to be stored and any registry and to be distributed easily. However, though the package format is well de

[2020-10-04 21:10] hasheddan opened #1800 "Publish checksum files for released binaries"
### What problem are you facing?

Crossplane currently publishes releases of all binaries at https://releases.crossplane.io. However, there are no checksum files published so a user cannot validate that the content of binaries they download is not corrupted.

### How could Crossplane help solve your problem?

Publish files for each binary with their `sha256` hash, which users can use to validate t

[2020-10-05 05:36] gowrisankar22 opened #1802 "Unable configure "false" for boolean properties."
### What happened?

I have created my own infra which is RDS and I made it a few values as configurable required values. After this I am unable to configure boolean properties to "false". It always expects true.

**InfraDef**
[code]

**Composition**
[code]

**instance**
[code]

I am unable to make `Encryption & MultiAZ` value to false. it always expects true. This applies to all other boolean prop

[2020-10-05 06:14] negz commented on #1802
@gowrisankar22 Thanks for the bug report. I have one question to help understand your issue.

Do you mean that the value of `spec.forProvider.multiAZ` and `spec.forProvider.storageEncrypted` are `true` in your composed `RDSInstance`, even when you set `spec.parameters.MultiAZ` and `spec.parameters.Encryption` to `false` in your `PostgreSQLInstanceRequirement`? Or do you mean that the API server re

[2020-10-05 07:22] gowrisankar22 commented on #1802
@negz
API server rejects my request and it works with only `true`

[2020-10-05 11:14] muvaf commented on #1802
I am trying to reproduce the issue. I have created the `InfrastructureDefinition`, `Composition` you posted as well as the `InfrastructurePublication` and the rbac permissions as shown in guide https://crossplane.io/docs/v0.12/getting-started/publish-infrastructure.html

Then I created the following:
[code]

My composite resource looks like:
[code]

And `RDSInstance` is created successfully:
[code

[2020-10-05 14:41] #1793 closed

[2020-10-05 17:46] krishchow commented on #1754
I believe this is an RBAC issue - you need to cluster role associated with this composition - see example gist below. You will need to create your own cluster role for this composition - i.e., change all the references to reflect your infrastructure definition. I generally create all my ClusterRoles at the same time I install Crossplane into a cluster.

https://gist.github.com/krishchow/3ff140cdbf

[2020-10-05 18:29] prasek opened #1805 "Dry-run option to show the impact of changing the desired state via XR/XRC"
### What problem are you facing?
In Crossplane new infrastructure can be requested by creating a composite resource (XR) or composite resource claim (XRC). Changes to XR/XRCs are also propagated to the underlying managed resources. Before changes are applied, you should be able to see the impact of such changes with a `dry-run` option that can be reviewed directly on the k8s cluster or as a check

[2020-10-05 21:55] matthewhembree commented on #1769
@negz You might take a peek at this project: https://github.com/schemahero/schemahero

It's only for table objects currently, but maybe you can find common ground.

[2020-10-06 02:12] kelvinwijaya commented on #1754
Thanks @krishchow .

Yes indeed i have added this before hand to extend the existing clusterrole by using the aggregate annotation

But the weird part is, the warning show that the user is prohibited to access API group : "storage.aws.crossplane.io" which is the crossplane base group object

[2020-10-06 02:41] gowrisankar22 commented on #1802
Sure. Let me give it a try :)

[2020-10-06 04:38] #1737 closed

[2020-10-06 07:52] muvaf commented on #1802
Closing the issue, feel free to reopen with latest YAMLs if you can reproduce in a fresh new cluster.

[2020-10-06 07:52] #1802 closed

[2020-10-06 08:17] muvaf commented on #1754
Interesting, provider installation does cover the creation of `ClusterRole`s for Crossplane pod to reconcile the new managed resources. How did you install the AWS Provider?

FWIW, RBAC manager has landed and it takes care of all RBAC related things including roles necessary for new claims & composites. If possible, I'd suggest trying to go through the same exercise with `master` https://github.co

[2020-10-06 12:20] muvaf commented on #1629
I believe we have the following issues left:
1. #1649 - Updating a Requirement should update the corresponding Composite resource.
1. #1639 - Bidirectional patching
1. #1506 - Custom transforms to define external script/functions.
1. #1609 - Allow the fields of composed resources to be exposed as connection secret fields of the composite resource.
1. #1612 - Don't delete a composite resource until

[2020-10-06 14:24] novocodev commented on #1805
I have used Atlantis with terraform and GitHub to automatically run a plan (dry run) when a PR is raised from a feature branch. This provides a pretty good DevOps experience around IAC, it allows potential issues with cloud resources being deleted and recreated (it is not always obvious when this will happen) to achieve the requested state change, to be assessed for potential service impact.

I ha

[2020-10-06 23:42] #1499 closed

[2020-10-06 23:44] negz commented on #1499
With all the linked PRs in place, these errors should look something like:

[code]

[code]

[code]

Note that we call out the 'destination' field, not the `Ref` or `Selector` variants specifically, but I'm hoping the errors are improved enough that folks will be able to join the dots.

[2020-10-06 23:46] negz commented on #1673
I believe this is now done. :)

[2020-10-06 23:46] #1673 closed

[2020-10-07 09:24] #1726 closed

[2020-10-07 15:24] muvaf commented on #1678
https://github.com/eladb/cdk8s-pack-prototype/pull/16 is an experimental version of the idea that works e2e.

[2020-10-08 03:39] prasek opened #1814 "kubectl crossplane: error: failed to find a package current working directory: directory contains multiple compiled crossplane packages"
### What happened?
Building a config package twice with some changes in between results in inability to push latest:
[code]

Would be great if kubectl crossplane could push the latest or provide an option to `kubectl crossplane build clean` even though once you look deeper you can just `rm platform-ref-aws-*`

### How can we reproduce it?
[code]

### What environment did it happen in?
v0.13.0-rc.3

[2020-10-08 04:10] prasek commented on #1814
`kubectl crossplane build configuration -h` shows you can define the `--name` of the package to build
and then `kubectl crossplane build configuration -f package.xpkg` can specify the same name of the package to push

so
[code]

[2020-10-08 04:10] #1814 closed

[2020-10-08 04:28] jbw976 opened #1815 "Poorly formed patch transform causes nil ref and crash loop in crossplane"
### What happened?

I authored a poorly formed patch transform, which resulted in a nil ref and a crash loop of the crossplane pod. Ideally, invalid compositions should not result in crashes, they should be handled more gracefully with a helpful error message.

[code]

The transform is invalid because it's specifying the `type: string` as a map when it should be just a field.

This resulted in the

[2020-10-08 10:32] muvaf commented on #1815
This should have been taken care of by https://github.com/crossplane/crossplane/blob/19fc561/apis/apiextensions/v1alpha1/composition_types.go#L238

I'm debugging it via IDE right now and `transformer == nil` doesn't return `true` even though IDE says it's `nil`. It might have to do with `transformer` being a `func` type. Digging.

[2020-10-08 11:02] muvaf commented on #1815
Hmm, [that](https://play.golang.org/p/pVE0l5b1neK)'s weird. I guess there is something I don't know about Go `nil`s.

[2020-10-08 13:08] #1815 closed

[2020-10-08 18:17] hasheddan opened #1820 "Publish index.yaml version file (or similar) in releases bucket"
### What problem are you facing?

Currently, users are able to get the latest stable Crossplane helm chart when they install from `alpha` channel (https://charts.crossplane.io/alpha/) because we have an `index.yaml`. However, if they want to download the latest version of a binary, such as `crank`, they have to explicitly specify the version because we do not have any indicator in the bucket (http

[2020-10-09 00:46] hasheddan commented on #1820
So it looks like we actually do have a `current` directory, which makes this much easier. However, it seems to be out of date for `alpha` :thinking:

[2020-10-09 00:53] hasheddan commented on #1820
Ah the `alpha` was just out of date because it got overwritten by `provider-alibaba`. I fixed this by running the promote pipeline for `crossplane` v0.12.0 again

[2020-10-09 01:32] #1820 closed

[2020-10-09 04:00] #1768 closed

[2020-10-09 12:04] muvaf commented on #1805
There are a few aspects I believe worth mentioning:
* One of the main reasons of the need for `dry-run` is to make sure no managed resource is accidentally deleted, which comes from the fact that Terraform deletes the resources if `Update` operation is not possible. However, Crossplane never makes that call unless there is an explicit deletion on the custom resource, which is similar to Kubernetes

[2020-10-09 13:07] hasheddan opened #1828 "Auto-generate release notes / changelog"
### What problem are you facing?

Releases across Crossplane repos often are onerous because we manually search through the PRs since the last release and write short summaries for those deemed important. Or, in the case of many of the providers, we don't have notes for new releases at all.

### How could Crossplane help solve your problem?

It would be good to front load the effort of summarizing

[2020-10-09 18:57] hasheddan commented on #1052
This has been addressed in the new package manager :tada:

[2020-10-09 18:57] #1052 closed

[2020-10-09 18:57] hasheddan commented on #1062
These hooks no longer exist as we have dropped support for helm 3 :+1:

[2020-10-09 18:57] #1062 closed

[2020-10-09 18:59] hasheddan commented on #1586
Feel like this is somewhat addressed by the introduction of `provider-helm`? Do you think we should keep this open @muvaf ?

[2020-10-09 19:03] hasheddan opened #1831 "Update release process guide"
### What problem are you facing?

The Crossplane [release process guide](https://crossplane.io/docs/master/release/release-process) is out of date and makes references to operations such as releasing stacks, which are no longer relevant.

### How could Crossplane help solve your problem?

The release process should be updated to the extent that someone who is reasonably familiar with the Crossplan

[2020-10-09 21:09] muvaf commented on #1586
@hasheddan I think the reference platforms are what used to be called sample stacks. If we have an issue about their implementation (or if we don't have a plan to implement them), we can certainly close this.

[2020-10-10 03:28] negz opened #1833 "Pin "getting started" configuration packages to a particular Crossplane release."
### What problem are you facing?

https://crossplane.io/docs/v0.13/getting-started/compose-infrastructure.html

The "getting started" configuration packages were built manually for v0.13.0, and are tagged as `:master`.

### How could Crossplane help solve your problem?

We should probably retag them as `:v0.13.0` (or their provider versions)? Ideally we'd build these tags automatically via CI/CD

[2020-10-10 21:46] hasheddan opened #1834 "Support Crossplane version constraints for packages"
### What problem are you facing?

Though Crossplane is quickly approaching a `v1.0` release with stable APIs, there will continue to be additional features added that impact the functionality of packages. Since the `v0.13` release, Crossplane will install any valid `Provider` or `Configuration`, which could cause issues when future features are introduced that a package may make use of.

### How c

[2020-10-12 17:10] hasheddan commented on #1724
This was fixed with: https://github.com/crossplane/crossplane/pull/1813

[2020-10-12 17:10] #1724 closed

[2020-10-12 22:59] hasheddan opened #1838 "Consider supporting simple install of Crossplane itself with CLI"
### What problem are you facing?

The Crossplane CLI was revamped in the v0.13 release to include more functionality. However, I frequently find myself wanting to do a simple default install of Crossplane, but still having to look up the helm commands required.

### How could Crossplane help solve your problem?

It would be nice if Crossplane could be installed by its own CLI. The simplest way wou

[2020-10-13 03:06] hasheddan commented on #1756
Closing this out as all listed providers have been updated with the linked PRs 👍

[2020-10-13 03:06] #1756 closed

[2020-10-13 05:35] kelvinwijaya commented on #1765
Hi @negz ,

I will close this ticket, i have managed to run the xrd and claim obj with secret conn ref successfully using the latest v0.13.0 release.

[2020-10-13 05:35] #1765 closed

[2020-10-13 05:36] kelvinwijaya commented on #1754
Hi @muvaf,

I will close this ticket, i have managed to run the xrd and claim obj with secret conn ref successfully using the latest v0.13.0 release.

[2020-10-13 05:36] #1754 closed

[2020-10-13 05:40] kelvinwijaya commented on #1695
Hi @hasheddan , thanks and i have move to the XRD structure for my new resource. however i still seeing some managed resource get deleted when i migrate to the latest v0.13.0 as by replacing ClusterPackageInstall to Package manifest for my aw provider installation as well as upgrading crossplane thru helmrelease with the latest version

[2020-10-13 20:13] krishchow opened #1839 "Support In-Cluster Provisioning"
### What problem are you facing?
Currently, the process for provisioning services in-cluster using Crossplane is not very well defined. For several clients and consumers of Crossplane that I have spoken to, the ability to create databases, in-memory caches, or other services in-cluster is essential for their migration or adoption of Crossplane.

I believe there are currently two recommended path i

[2020-10-13 20:13] krishchow commented on #1839
cc @hasheddan

[2020-10-13 20:23] hasheddan commented on #1839
@krishchow This seems like it more about the provisiong mechanism / experience than just being able to deploy something like `Postgres` in-cluster, which could be accomplished with `provider-helm` and the [Postgres Helm Chart](https://github.com/helm/charts/tree/master/stable/postgresql) for instance. Is the issue that folks want to be able to deploy these resources using exising raw k8s manifests

[2020-10-14 17:32] prasek commented on #1678
Met w/ @eladb @iliapolo @muvaf to review:
 - Design for `CustomComposition` #1707
 - `CustomComposition` demo went great, nice work @muvaf!
    - https://github.com/eladb/cdk8s-pack-prototype/pull/16

Notes:
 - how to assigning subnets to subnet groups in a cdk8s loop
    - missing `Spec` in L1 cdk8s resources, but there are workarounds
 - constructing composite secrets that must be created after

[2020-10-14 18:04] hasheddan commented on #1788
@muvaf this has been fixed by the switch to static packages :+1:

[2020-10-14 18:04] #1788 closed

[2020-10-14 18:07] hasheddan commented on #1042
This has been fixed in the new package manager :slightly_smiling_face:

[2020-10-14 18:07] #1042 closed

[2020-10-14 18:08] hasheddan commented on #981
ClusterPackageInstall has been removed in the v2 package manager :+1:

[2020-10-14 18:08] #981 closed

[2020-10-14 18:11] negz commented on #1160
This epic is a little old - we still want the core functionality (upgrades) that this describes, but we're going to close this issue as it doesn't exactly track how we intend to get there.

[2020-10-14 18:11] #1160 closed

[2020-10-14 18:13] hasheddan opened #1842 "Support Dependency Resolution in Package Manager"
### What problem are you facing?

`Provider` and `Configuration` packages have fields to specify dependencies on other packages, but Crossplane does not currently take action based on them.

### How could Crossplane help solve your problem?

Crossplane should support resolving and installing dependencies for packages.

[Placeholder issue, more info to follow]

[2020-10-14 18:21] hasheddan opened #1843 "Support Crossplane Version Constraints in Packages"
### What problem are you facing?

`Provider` and `Configuration` packages have fields to specify `Crossplane` version constraints (i.e. whether they are compatible with the version of Crossplane that they are being installed into) but the package manager does not currently honor the constraints.

### How could Crossplane help solve your problem?

Refuse to install a package that is not compatible

[2020-10-14 18:27] negz commented on #1652
The main use case for this functionality (propagating UI schema annotations) doesn't seem to be needed anymore (we can read the annotations from the XRD directly), so we're going to close this out.

[2020-10-14 18:27] #1652 closed

[2020-10-14 18:50] kasey opened #1844 "Generate crossplane-runtime types from terraform-provider-aws schema"
### What problem are you facing?

Terraform resources vary widely in complexity, leading to some uncertainty about how some of the more deeply nested types will function, or whether some resources will rely on data sources (currently not modeled in our design) to function.

### How could Crossplane help solve your problem?

As a checkpoint to review our progress towards full code generation, build

[2020-10-14 19:03] kasey opened #1845 "Generate crossplane-runtime types through the ACK codegen pipeline"
### What problem are you facing?

We would like to build on the great work in https://github.com/aws/aws-controllers-k8s to generate experimental crossplane controllers using the same codegen pipeline as ACK. Doing so would allow us to keep functional parity with ACKs as additional resources are supported by the project.

### How could Crossplane help solve your problem?

There are likely to be ma

[2020-10-14 19:44] muvaf opened #1846 "Test CPU and memory usage of Crossplane and providers"
### What problem are you facing?

If I want to deploy Crossplane with some resource limits, I don't have much information other than guessing what it needs.

### How could Crossplane help solve your problem?

We can test Crossplane & providers for resource usage and write down what affects the usage (how much a new XRD increases CPU usage?) so that users can reliably deploy it.

[2020-10-14 19:45] hasheddan commented on #1846
xref: https://github.com/crossplane/crossplane/issues/314

[2020-10-14 20:40] prasek opened #1847 "An error occurred while waiting for the object to be deleted: claim marked for deletion, but composite was not"
### What happened?
I installed a configuration package, a fork of https://github.com/crossplane/example-cnp, that adds:
 - `Network`: VPC, Subnets, ...
 - `PostgreSQLInstance`: composite cloud service (RDSInstance, DBSubnetGroups, etc.).

Everything successfully installs and I'm able to provision the `Network` and `PostgreSQLInstance` successfully and delete them cleanly several times, however int

[2020-10-14 20:53] prasek opened #1848 "Composite is ready:true but claim is stuck in ready:false, for several minutes, until I nudge the claim with a small k edit"
### What happened?
I installed a configuration package, a fork of https://github.com/crossplane/example-cnp, that adds:
 - `Network`: VPC, Subnets, ...
 - `PostgreSQLInstance`: composite cloud service (RDSInstance, DBSubnetGroups, etc.).

Everything successfully installs and I'm able to provision the `Network` and `PostgreSQLInstance` successfully and delete them cleanly several times.

However wh

[2020-10-14 21:52] prasek commented on #1848
just tried this again and it's happening 2/3 times in the same environment and `team1` namespace
<details><summary>k get claim -n team1</summary>

[code]

</details>

<details><summary>k get composite -n team1</summary>

[code]

</details>

<details><summary>k get managed</summary>

[code]

</details>

Then doing a quick `k edit` results in the `ready:true`:
[code]

Seems to repro consistently.

[2020-10-15 17:33] matthewhembree opened #1849 "Surface breaking changes earlier"
### What problem are you facing?

Part of the reluctance of adoption of a project that is in alpha is the impact of breaking changes. It's still relevant throughout the lifetime of a project (major versions), but very important for initial adoption.

As it stands, I can find no way to identify if Issues/PRs will introduce breaking _feature_ changes until late in release process. I think consumers

[2020-10-15 22:06] kasey opened #1851 "Generate crossplane-runtime types through the ACK codegen pipeline"
### What problem are you facing?

We would like to build on the great work in https://github.com/azure/k8s-infra/ to generate experimental crossplane controllers using the same codegen pipeline as ASO. Doing so would allow us to keep functional parity with ASO as additional resources are supported by the project.

### How could Crossplane help solve your problem?

There are likely to be many steps

[2020-10-15 22:27] kasey commented on #1851
Worked with @matthchr today, his branch is at https://github.com/matthchr/k8s-infra/tree/crossplane-hacking

We identified that some follow up work is needed to embed crossplane types in the generated go types. These are going to take the form of general improvements upstream in the k8s-infra code generator. He was able to generate types that are structured similar to crossplane types (ie `spec.fo

[2020-10-15 23:32] negz commented on #1847
Is this one reliably reproducable @prasek? How often do you see it happen?

[2020-10-16 11:52] turkenh opened #1852 "crossplane-view rules are not aggregated up for crossplane-admin"
### What happened?
Rules for `rbac.crossplane.io/aggregate-to-view` are not aggregated up for `crossplane-admin`

### How can we reproduce it?
1. Create a cluster role with label, `rbac.crossplane.io/aggregate-to-view: "true"`

Example:
[code]

2. Check `crossplane-admin` cluster role to see if aggregated

[code]

### What environment did it happen in?
Crossplane version: 0.14.0-rc.18.g99c02be

[2020-10-16 13:24] hasheddan commented on #1852
@turkenh do you have a constraint that prevents you from adding `rbac.crossplane.io/aggregate-to-admin: "true"` on this `ClusterRole`?

[2020-10-16 13:27] turkenh commented on #1852
Not really.
I can just add that label (also edit as well).

But I was expecting admin and edit automatically have what is there for view, which could be achieved by adding edit label to crossplane-view and admin label to crossplane-edit. AFAIR this was already the case before.

[2020-10-16 13:31] hasheddan commented on #1852
Gotcha 👍 that sounds reasonable to me.

[2020-10-16 19:46] negz commented on #1852
Could you help me understand why we must do this? Is breaking something, making life difficult, or just a preference?

I understand the current implementation is different from the previous one, which rolled up from view, to edit, to admin, but it was a conscious decision to do so. I personally feel it's a little easier to follow how all the rules relate to each other this way, when you must expli

[2020-10-17 00:44] negz commented on #1769
Here's a first pass at `provider-sql` - https://github.com/negz/provider-sql

Currently it has full support for managing PostgreSQL databases, and limited support for managing MySQL databases (create and delete only - no configuration of encoding etc). PRs are welcome; I'm far from an SQL expert so I'm sure there's room for improvement.

[2020-10-17 01:37] negz commented on #1849
Thanks for the feedback @matthewhembree! I like the idea of expanding our use of labels here to track potentially breaking changes, deprecations, etc. We've been fairly good at doing this in the crossplane-runtime repo, but not in others.

In general we're very conscious of the churn Crossplane has experienced in its (YAML) APIs and feature in getting to v0.13. We're confident at this point that v

[2020-10-17 05:53] #1624 closed

[2020-10-17 23:51] prasek commented on #1848
@negz This is due to multiple claims in the same namespace using the same `writeConnectionSecretRef` value.

Would be nice to surface an error to the claim, so users can figure this out.

[2020-10-18 00:43] prasek opened #1856 "Composition unable to map enum to bool"
### What happened?
Tried mapping an enum to a bool but composition didn't allow it.

With the XRD property below:
[code]

and a Composition that tried to map the enum to a bool
[code]
`kubectl crossplane build` returned the following:
[code]

I then tried mapping as string values, hoping it would get coerced:
[code]

But in this case it was silently ignored and didn't set the values.

<details><su

[2020-10-19 01:34] negz commented on #1848
@prasek Aha - nice find. I'll look into that tomorrow.

[2020-10-19 01:37] negz commented on #5
Thanks for looking into this @khos2ow! I agree that it would be best to go directly to Leases, rather than having to migrate from ConfigMaps to Leases.

[2020-10-19 12:04] turkenh commented on #1852
I believe it would be more consistent in this way. With existing implementation, it is possible for `crossplane-view` to have more permissions than `crossplane-edit` or `crossplane-admin` for whatever reason (e.g. a misconfiguration).

This is also the approach `kubernetes` itself is following with built-in `view`, `edit` and `admin` roles: https://github.com/kubernetes/kubernetes/blob/5f2ebe4bbc7

[2020-10-19 16:14] hasheddan opened #1860 "Honor IfNotPresent packagePullPolicy in package manager"
### What problem are you facing?

`Provider` and `Configuration` have `packagePullPolicy` fields that allow a user to specify `Always`, `IfNotPresent`, or `Never`. Currently, `IfNotPresent` and `Always` are essentially treated the same, except for that they are both passed to the `Provider` controller `Deployment`, and have different behavior there (this should be replaced as part of #974). `Never

[2020-10-19 19:24] #1630 closed

[2020-10-19 22:11] negz commented on #1435
Does upgrading our core providers to use v1 CRDs fall within the scope of this issue? If safe to do so it would be great to enable defaulting as part of those PRs - I believe we could use it instead of an initializer to handle the default `providerConfigRef`, `deletionPolicy`, and perhaps some other things.

[2020-10-19 22:18] hasheddan commented on #1435
@negz yes I was thinking they would be encompassed by this issue. Agreed on `providerConfigRef` and `deletionPolicy`, I wonder if there will be any for individual managed resources as well. We can always update to v1 then switch to use defaulting to any fields that we currently manually default to later if needed.

[2020-10-20 06:15] negz commented on #1848
@prasek So it turns out we already do surface an error, we just do so as an event on the claim - the one place you didn't look while debugging. :(

[code]

I think the culprit here is the misleading `Composite resource claim is waiting for composite resource to become Ready` status condition reason. I'll see if that's an easy fix.

[2020-10-20 11:40] muvaf opened #1863 "Rethink external-name annotation"
### What problem are you facing?

Crossplane has the notion of [external name](https://github.com/crossplane/crossplane/blob/37013c6/design/one-pager-managed-resource-api-design.md#external-resource-name) that's specified via an annotation named `crossplane.io/external-name`, introduced because of https://github.com/crossplane/crossplane/issues/624

@kasey has recently brought this up as it makes

[2020-10-21 07:37] negz commented on #1863
I believe another use case was handling resources whose unique identifiers are generated automatically by the cloud provider - i.e. providing us somewhere other than status to store a resource's _actual_ identifier when it's not the same as `metadata.name`.

Honestly, I quite like the external name annotation and I'm fairly reluctant to remove it. If we do remove it, I would like us to try hard to

[2020-10-21 11:49] muvaf commented on #1863
That'd be handled by a field under `spec.forProvider`, like `spec.forProvider.id` for ID of VPC.

It should be straight-forward to keep its semantics with a `metadata.name<> chosen field in spec` binding though, you're right, the place to look to discover the actual external name may not be as consistent as a known annotation. But that consistency has a cost. For example, `SecurityGroup` in AWS ha

[2020-10-21 16:43] hasheddan opened #1866 "Allow transformation when mapping secret keys from managed resource to composed"
### What problem are you facing?

Currently, for a base resource in a `Composition` to propagate one of its secret keys to the secret of the composed resource, the keys must match. For example, if an `RDSInstance` publishes an `endpoint` key, it can only be mapped to the `endpoint` key of the composed.

[code]

This causes issues if there are two base resources that you would like to both expose c

[2020-10-21 16:45] hasheddan commented on #1866
This is actually already possible by using the `name` field https://doc.crds.dev/github.com/crossplane/crossplane/apiextensions.crossplane.io/Composition/v1alpha1#spec-resources-connectionDetails@v0.13.0

[2020-10-21 16:45] #1866 closed

[2020-10-21 20:51] hasheddan opened #1867 "Tracking Issue: Helm installs dependency CRDs when dependency is not enabled"
### What happened?

This issue is tracking a bug in upstream helm (https://github.com/helm/helm/issues/8508) where it installs a dependency's CRDs even when the dependency is not enabled. Since OAM introduces `v1` CRDs, this breaks Crossplane's compatibility with pre-v1.16 k8s clusters.

### How can we reproduce it?

Attempt to install Crossplane `v0.13.0` into a pre-v1.16 k8s cluster.

### What e

[2020-10-21 22:06] #1848 closed

[2020-10-22 02:06] negz opened #1871 "Support serving multiple XRD versions?"
### What problem are you facing?

A Crossplane Composite Resource Definition (XRD) is an opinionated abstraction built on top of a Kubernetes Custom Resource Definition (CRD). A CRD extends the Kubernetes API server with support for a new resource. In addition to extending the API server with a new resource, an XRD:

* Places constraints on the new resource's schema - e.g. that it have a `spec.com

[2020-10-22 02:17] negz commented on #1871
It's worth noting that if we chose not to support multiple versions it would still be possible to make backward compatible updates to XR schemas; i.e. adding new optional fields. In many cases it would also be possible - but painful - to make breaking updates to XR schemas without disruption to infrastructure by using the `deletionPolicy` and external name of each managed resource - i.e.:

1. Ensu

[2020-10-22 03:59] negz commented on #1871
Interestingly [declarative conversion was considered](https://github.com/kubernetes/community/blob/3c61bb0db08277d6f23d457927d3db628dbba350/contributors/design-proposals/api-machinery/customresource-conversion-webhook.md#alternatives-considered) when webhook conversion was designed:

If we do want to support serving multiple versions of an XR simultaneously, there's a question of whether that's a

[2020-10-22 06:20] negz opened #1873 "Migrate tag and promote Jenkins jobs to GitHub Actions"
### What problem are you facing?

https://github.com/crossplane/crossplane/pull/1865 (and similar PRs to other repos under this org) switched Crossplane's CI from Jenkins to GitHub Actions. The only Jenkins jobs that now remain are the 'tag' and 'promote' jobs for each repo, as per the (slightly outdated - https://github.com/crossplane/crossplane/issues/1831) [release process](https://github.com/c

[2020-10-22 06:42] negz commented on #1873
I believe the release process is currently roughly:

1. Get the master branch ready to cut release `V` (i.e. pin dependencies, etc)
1. Tag master as `V+1-rc`
1. Create release branch `release-V`
1. Create a PR to prepare branch `release-V`
1. Run the tag job on branch `release-V`
1. Run the CI workflow (i.e. GitHub Action) on branch `release-V`
1. Run the promote job on branch `release-V` to promo

[2020-10-22 14:00] muvaf commented on #1871
I believe the need for making breaking API changes on XRDs is just as much as usual CRDs; user defines an API and later on they might want to introduce breaking changes. From API perspective, XRDs add a few fields, nothing destructive. From reconciliation perspective, the main difference is that in CRD case, users write their own controller which is aimed at one version (one of the served versions

[2020-10-22 14:11] #1843 closed

[2020-10-22 14:40] muvaf opened #1875 "Providers with name that has dot characters cannot be installed"
### What happened?

When I try to install a `Provider` with a name like `crossplane.provider-gcp`, the name is accepted but the pod isn't started due to following error in corresponding `ReplicaSet` resource:
[code]
[code]

FWIW, errors did not propagate up to `Provider` or `ProviderRevision` objects.

### How can we reproduce it?

@turkenh has encountered this when he tried installing providers t

[2020-10-22 14:52] hasheddan commented on #1875
@muvaf thanks for pointing this out! This error is occurring due to how k8s mounts service account tokens, which could be argued is flawed because a situation like this can occur. This can be worked around by a user can override the package name with `kubectl crossplane install provider hasheddan/provider.with.dots:v0.1.0 my-alternate-name`. However, it would be nice if we automatically handled th

[2020-10-22 14:55] turkenh commented on #1875
This and some other errors do not propagate to objects which makes debugging hard.

Another error example that I could only find in crossplane pod logs (which ended up while I was trying to uninstall above package and to install manually with a clean name):

[code]

[2020-10-22 14:57] hasheddan commented on #1875
@turkenh I believe these errors are surfaced in the form of events. Did you try `k describe providerrevision`?

[2020-10-22 14:59] kelvinwijaya opened #1876 "Update operation for Claim Object"
Hi @negz .

Saw that you commented on the following code:

https://github.com/crossplane/crossplane/blob/master/pkg/controller/apiextensions/claim/api.go

[code]

Does that mean currently composite object only support _Create_ but not _Update_ operation?
Any plan to make it available as i am currently using XRD (compositeresourcedefinitions) way for creating my resources and now seem when I update

[2020-10-22 15:01] turkenh commented on #1875
Hmm, I lost that setup now and cannot try right now. I tried `get -o yaml` but don't remember I did run describe.

I will try next time, thanks for the hint @hasheddan!

[2020-10-22 15:21] muvaf commented on #1875
Here is the events:
[code]
[code]

[2020-10-22 15:23] hasheddan commented on #1875
@muvaf right, the deployment errors are not surfaced anywhere (yet), but the errors @turkenh was mentioning related to object ownership will be surfaced in events

[2020-10-22 15:23] muvaf commented on #1876
Hi @kelvinwijaya ! Yes, we have https://github.com/crossplane/crossplane/issues/1649 covering that and it has been accepted for the next release. So, you can expect to see this implemented in 0.14. Feel free to give a thumbs-up to that issue 🙂

[2020-10-22 15:23] #1876 closed

[2020-10-22 15:26] muvaf commented on #1875
Got it. FWIW, I deleted the `crossplane.provider-gcp` and it removed cleanly.

[2020-10-22 16:14] mothershipper commented on #1871
From an end user perspective, I could live without multiple versions, but it would be a bit of a smell. I'd probably start including the version as part of the resource name, so I don't end up with an inconsistent `PostgresDatabase` and `PostgresDatabaseV2` resources.

[2020-10-22 20:01] hasheddan commented on #974
In the modern packaging infrastructure, there are three points at which a provider's controller could theoretically be configured:
1. At package build time. This does not make sense (except for the image) because a package author cannot be aware of configuration that its consumers may want.
2. At Crossplane install time. This mainly refers to setting the default deployment structure, as we do now.

[2020-10-22 20:58] mothershipper commented on #974
I feel like it's mostly overlap (at least within AWS) of how to set up IAM auth. IRSA is kind of the oddball requiring a serviceaccount as well as annotations. Assuming other cloud providers are similar, I think you could enumerate the subset of fields needed.

You could also go with option 3 and a full podspec without OPA. Use a ValidatingAdmissionWebhook to verify the requesting user has "create

[2020-10-22 21:10] #1873 closed

[2020-10-22 21:15] mothershipper commented on #974
Although, now re-reading, that webhook wouldn't allow "unprivileged" users to create providers, it would just ensure they have sufficient privileges.

[2020-10-22 21:18] mothershipper commented on #974
But if you make that webhook a flag at the Crossplane level, you could give the users an option to turn it off/bring their own webhook / OPA instance.

[2020-10-22 21:28] negz opened #1881 "Shut down jenkinsci.upbound.io"
### What problem are you facing?

With https://github.com/crossplane/crossplane/pull/1874 and https://github.com/crossplane/crossplane/pull/1865 (and the corresponding PRs to other Crossplane org repos) Crossplane no longer has any Jenkins jobs that we rely on.

### How could Crossplane help solve your problem?

Once we've successfully used the new tag and promote jobs to release v0.14 we should s

[2020-10-22 21:28] negz commented on #1881
I believe https://jenkinsci.upbound.io/job/upbound/job/sync-stacks/ might be the only thing remaining that hasn't been ported.

[2020-10-22 22:44] lukeweber commented on #974
(2) feels like a great place for defaulting as an convenience configuration to setup how most controllers run, optionally maybe some config of whether to allow (3) or to conditionally allow it.
(3) feels required to allow for special configuration that will ultimately come up in special cases.

[2020-10-23 00:26] negz commented on #974
I suggest we focus on the third option - making this configurable at Provider install time. I would prefer to avoid broad runtime level whitelist/blacklists (i.e. the second option), especially if we think they'll only be an interim solution.

If we're concerned about requiring something like OPA to enforce policy, we could consider implementing something like a `ProviderSecurityPolicy` - similar

[2020-10-23 01:18] negz commented on #1871
I suspect this will not prove true - that there will be _less_ need to make breaking changes for XRDs compared to CRDs. While CRDs and XRDs have a lot of similarity, their purpose and audience is different.

Regarding the different audiences and purposes - CRDs are written by software maintainers to express the API of their software, which I would imagine typically is typically pretty inflexible f

[2020-10-23 02:40] negz commented on #1871
Below is my proposal for `v1beta1` XRDs. Ideally would also apply to `v1` XRDs; they would be identical.

[code]

I'm hoping we don't need to expose the storage version to XRD authors:

* There's no particular relationship between the storage version and conversion. If you use a conversion webhook it must be able to convert from any version to any other version, regardless of the storage version.

[2020-10-23 02:46] negz commented on #1871
[code]
I'm also open to suggestions on this field name. "Composed" could easily be conflated with our existing concept of "composed resources"; i.e. the resources a composite resource is composed of.

I think the name for this field:

* Should be chosen from the perspective of an XRD author, not how Crossplane works under the hood. i.e. "this is the version of the XR that my Compositions must be c

[2020-10-23 05:17] mothershipper commented on #974
I definitely prefer the third option as well, seems pretty future proof.

A ProviderSecurityPolicy would work for me and would be more flexible than
the admission controller.

The flip side is that it's (potentially) more configuration to support, and
if a use case isn't supported, operators would still have to add their own
OPA policy or webhook to get the safety they want.

I suggested the admis

[2020-10-23 09:10] muvaf commented on #974
I agree that configuration during provider install time seems more useful for many cases. Though I'm hesitant about OPA; not because of the project itself but the idea that one needs another dependency to secure Crossplane sounds kind of odd. I know that the people who are creating `Provider`s are already privileged and they can install any provider image anyway so it's not much big difference fro

[2020-10-23 15:54] hasheddan opened #1889 "Docs updates are not published in CI"
### What happened?

Publishing docs updates silently fails in our CI pipeline because we are using the default `GITHUB_TOKEN` secret instead of providing the one token for `upbound-bot`.

### How can we reproduce it?

https://github.com/crossplane/crossplane/runs/1294963264

[code]
You will notice recent docs changes have not landed on https://crossplane.io

[2020-10-23 15:57] hasheddan commented on #1889
@negz @jbw976 I believe we will need one of you to add the API token secret to the github org. We added them in the `provider-helm` repo for tag and they seem to be working correctly: https://github.com/crossplane-contrib/provider-helm/blob/506ed9be1549f8dd2aee24de76be96ee0db174e4/.github/workflows/tag.yml#L11

[2020-10-23 17:33] muvaf opened #1890 "Update Gitlab Docs"
### What problem are you facing?

Gitlab docs still point at claim/classes https://docs.gitlab.com/ee/user/clusters/crossplane.html

### How could Crossplane help solve your problem?

Update & test those docs.

[2020-10-23 18:01] prasek commented on #1659
@virtuman is this the same issue you're running into?

[2020-10-23 18:12] prasek commented on #1659
@hasheddan @muvaf can this be closed out with the fix in https://github.com/crossplane/crossplane/pull/1660?

[2020-10-23 18:13] prasek commented on #1659
@hasheddan what's the disposition of this now that the new package manager is in place?
https://github.com/crossplane/crossplane/pull/1660#issuecomment-685028610

[2020-10-23 18:14] hasheddan commented on #1659
@prasek yep this is fixed now :)

[2020-10-23 18:14] #1659 closed

[2020-10-23 20:23] prasek commented on #1692
/cc @tobru

[2020-10-23 21:09] negz commented on #974
Agreed.

Kind of. I'd probably go with something more targeted and grow it as we get feedback, rather than starting with an entire `podSpecTemplate`. I especially wouldn't _require_ a `podSpecTemplate` - I'd want there to be sane defaults that you could override.

[2020-10-23 21:51] virtuman commented on #1659
Here's what I'm getting.

## Step 1 - helm install

### Option 1
Followed this guide: https://crossplane.io/docs/v0.13/getting-started/install-configure.html

### Option 2
used helm values.yaml to provide these provider package options:
https://github.com/crossplane/crossplane/pull/1804/files
[code]

## Step 2 - Install crossplane kubectl plugin
works without issues, plugin installs, and works suc

[2020-10-23 21:56] hasheddan commented on #1659
@virtuman looks like you are installing `provider-gcp` twice, but I would expect the first install to win out in this case. Can you provide the output of `kg providers.pkg.crossplane.io`?

[2020-10-23 22:04] hasheddan commented on #1659
I just ran the following steps:
1. Install Crossplane v0.13.0
2. Install `crossplane/provider-gcp:v0.12.0` (named it `provider-fcp`)
3. Separately install `crossplane:provider-gcp:master` (named it `provider-gcp`)

I see the expected behavior of the former being healthy and the latter not:
[code]

I see all GCP CRDs present as well:
[code]

[2020-10-24 14:52] tobru commented on #1692
@gowrisankar22 Could you share your PoC? Sounds promising and very interesting!

[2020-10-24 22:37] negz commented on #1889
@hasheddan I can do this, but I need to know the secret first. I'll try to find it on Monday.

[2020-10-25 01:00] negz opened #1893 "Set skip-duplicate-actions 'concurrent_skipping' to false"
### What problem are you facing?

As demonstrated by https://github.com/crossplane/crossplane/pull/1888, the skip-duplicate-actions GitHub Action can currently be used to workaround require CI tests on a PR. https://github.com/fkirc/skip-duplicate-actions/pull/51 adds a `concurrent_skipping` option that can be used to disable this behaviour.

### How could Crossplane help solve your problem?

We s

[2020-10-26 07:52] muvaf commented on #1871
As XRD author, I write that schema and the values get propagated to various managed resources. So, maybe `propagated: true` could make sense but it might also sound like what's propagated is the schema itself. `selected: true` makes sense since it's an array of things and only one can be selected but as you pointed out earlier, it's a bit vague. `used: true` is also an option, it's _correct_ from

[2020-10-26 09:41] turkenh commented on #1875
@muvaf @hasheddan Are there any ETA for a fix here?

[2020-10-26 11:07] hasheddan commented on #1875
@turkenh will have fix open for helm chart in a few minutes 👍

[2020-10-26 15:07] srueg opened #1895 "Create Random Generator Transformer for Composition"
### What problem are you facing?

Using the [provider-helm](https://github.com/crossplane-contrib/provider-helm), many Helm charts require the definition of a password. If no password is defined a random one is generated by the Helm templating engine which changes on each `helm upgrade` and might break the deployed application.
Asking for the password in a `parameter` is insecure because the pw wo

[2020-10-26 17:27] negz commented on #1871
I'm currently leaning toward @hasheddan's suggestion of `referenced` or `referenceable`. I like this because it ties into the `compositeTypeRef` field of `Composition`, which is what this field would control from a user's perspective - i.e. whether this version can be referenced by a `Composition`. We could even go for something more verbose and explicit like `compositionTarget` or `compositionRef

[2020-10-26 21:49] negz commented on #1889
https://github.com/crossplane/crossplane/blob/v0.12.0/Makefile#L66
https://github.com/crossplane/crossplane/blob/v0.12.0/Jenkinsfile#L121

It looks like previously `GIT_API_TOKEN` was set to github-upbound-jenkins, which would have been output in the form `username:password` by Jenkins. So we'll need to add `UPBOUND_BOT_USR` and `UPBOUND_BOT_PSW` secrets at the org level, then have our workflows s

[2020-10-26 22:37] negz commented on #974
@muvaf I don't have a strong reservation.

I'm not particularly convinced that there's a meaninfgul UX gain to be had in the `ControllerConfig` approach. I think it's reasonable that the personas who we expect to install a `Provider` (i.e. platform builders and operators) will be the same people who would want to configure how a provider is run; I'm not sure we should be trying to hide the details

[2020-10-26 22:40] negz commented on #1889
These secrets now exist at the org level as `secrets.UPBOUND_BOT_GITHUB_USR` and `secrets.UPBOUND_BOT_GITHUB_PSW`.

[2020-10-26 22:55] #1889 closed

[2020-10-26 23:05] negz commented on #1895
I like this idea, though interestingly it's not really a 'transform' since it (presumably) doesn't take any input. 🤔

[code]

I wonder if something like the above would make sense? We'd have to make `frontFieldPath` optional, which makes me regret that we didn't go with an API more like:

[code]

[2020-10-27 07:49] srueg commented on #1895
You're absolutely right it's not really a transform, though it might still need some input like length and used character set.
I guess this would also be achievable with #1506 also but might be generic enough to be implemented "in-tree"?
And #1506 could be extended to also allow custom `fromFn` implementations?

I like the proposed `fromFn` API 👍 Maybe extended with input:

[code]

[2020-10-27 09:22] nashant opened #1901 "ProviderRevision: admission webhook "webhook.openpolicyagent.org" does not support dry run"
### What happened?
I followed the docs to install Crossplane, fine. I then tried to install the aws provider and it fails.
[code]
[code]
This may just be me missing something or failing to understand something.

### How can we reproduce it?
Set up a cluster, install OPA, follow docs to install crossplane and AWS provider (https://crossplane.io/docs/v0.13/getting-started/install-configure.html)

##

[2020-10-27 09:26] muvaf commented on #1871
hmm, `compositionTarget: true` or even `target: true` sound like good matches.

[2020-10-27 11:53] hasheddan commented on #1901
@nashant I believe you will need to configure the OPA webhook to support dry run https://github.com/open-policy-agent/opa/issues/1749

[2020-10-27 12:18] hasheddan commented on #974
This is the crux of the decision for me. The flexibility of versioning this functionality separately from `Provider` (which we hope to make a stable API in a coming release) is a massive selling point to me. I also appreciate the RBAC isolation, which I believe will make enabling / disabling this functionality easier for folks hosting Crossplane. In general, I also appreciate separating operations

[2020-10-27 16:36] srueg commented on #1730
I'd also like to chime in on this. We have the exact same use case and would greatly benefit of the "generic K8s resource" capability.
I think this would also go hand in hand with https://github.com/crossplane-contrib/provider-helm/issues/25, and #1722?

[2020-10-27 18:56] #1875 closed

[2020-10-27 23:17] negz commented on #1871
I prefer using the term "references" not "targets" because a Composition "references" a type of XR, not "targets" it. i.e. you set `spec.compositeTypeRef`, not `spec.targetCompositeType`. My draft PR uses `referenceable` and I'm planning to run with that unless anyone feels particularly strongly about this.

[2020-10-28 00:40] hasheddan opened #1903 "Make HEAD request when fetching a package digest"
### What problem are you facing?

Currently we get the entire image manifest when checking for the package digest in the package manager controller. Since this is done semi-frequently (depending on the `packagePullPolicy`), the pull counts are driven up, which could cause rate-limiting issues (especially with [free-tier users](https://www.docker.com/pricing)).

### How could Crossplane help solve

[2020-10-28 04:30] #1860 closed

[2020-10-28 09:13] #1871 closed

[2020-10-28 23:35] #1903 closed

[2020-10-29 02:16] prasek commented on #879
@hasheddan @negz with the v2 package manager now supporting upgrade are we good to close this out?

[2020-10-29 02:17] hasheddan commented on #879
@prasek yep!

[2020-10-29 02:17] #879 closed

[2020-10-29 02:30] #868 closed

[2020-10-29 06:04] prasek commented on #280
Support for CosmosDB Account (can be used for MongoDB or Cassandra) was added in https://github.com/crossplane/provider-azure/pull/138.

[2020-10-29 06:30] prasek commented on #280
@negz @jbw976 Similar to #281, should we close this out in favor of provider-specific issues? We already have Azure Cosmos / MongoDB support from https://github.com/crossplane/provider-azure/pull/138.

[2020-10-29 06:42] prasek commented on #286
Relates to https://github.com/packethost/crossplane-provider-equinix-metal/pull/14

[2020-10-29 07:37] prasek commented on #285
@jbw976 @negz we've started to breakout serverless support in provider-specific repos, e.g.
AWS Lambda support broken out in:
 - https://github.com/crossplane/provider-aws/issues/149
    - https://github.com/crossplane/provider-aws/issues/173

Should we close this issue in favor of provider-specific issues?

[2020-10-29 21:06] #974 closed

[2020-10-30 00:40] negz opened #1909 "Compositions should allow insertion, deletion, and reordering of resources"
### What problem are you facing?

Each time Crossplane reconciles a Composite Resource (XR) it fetches the Composition the XR references and uses it to render a series of composed resources. The names of these composed resources are usually non-deterministic; Crossplane sets `metadata.generateName` to request that the API server name the composed resource at create time.  The the types and names o

[2020-10-30 01:02] negz commented on #1909
My preference is to go with option 3 - supplying a deterministic identifier at the Composition level. For example [the GCP Composition](https://github.com/crossplane/crossplane/blob/28224d92322a9caeaea12e6a2df97632358184ff/docs/snippets/package/gcp/composition.yaml) from our current documentation would become:

[code]

We'd persist `spec.resources[].name` to any XR that used the Composition to cre

[2020-10-30 04:34] negz opened #1910 "Composed resources are leaked when there is XR write contention"
### What happened?

While working on https://github.com/crossplane/crossplane/issues/1649 I've noticed that the XR controller leaks composed resources when there is higher than usual write contention (e.g. because an update to the XR triggers both the claim and composite resource controllers to update the XR). This is because the composite controller first creates a managed resource using `metadat

[2020-10-30 09:23] haoqing0110 opened #1911 "can not generate namespace scoped CR from composition.yaml"
### What happened?

Hello crossplane team,

I just follow examples in https://github.com/crossplane/crossplane/tree/master/docs/snippets/package to create my own `definition.yaml` and `composition.yaml`. Inside `composition.yaml`, replace RDSInstance with my own resource (a namespace scoped CR).

Then create a `claim.yaml` follow examples in https://github.com/crossplane/crossplane/blob/master/doc

[2020-10-30 11:18] muvaf commented on #1909
Not having an identifier made implementation of harder as well since we'd use the index in the array as identifier, which comes with its own complications. In fact, it came up during selectors discussion where we wanted to make it easier for people to select the one that's in the same composition but that's solved in another way. In the end, I wasn't able to find enough justifications for it.

I f

[2020-10-30 11:25] muvaf commented on #1910
I was thinking that `generateName` actually guarantees uniqueness but from what I can tell, that's [not the case](https://github.com/kubernetes/apiserver/blob/e9e4beec4b157a40f6c742782d74faf45c2b280e/pkg/storage/names/generate.go#L53). I think we can generate a reference, save it to `resourceRefs` and then create the resource with that name that we're sure saved to the composite resource.

[2020-10-30 11:28] muvaf commented on #1911
Hi @haoqing0110 ! While composition is [currently](https://github.com/crossplane/crossplane/issues/1730) meant to include only managed resources, which are always cluster-scoped, namespaced CR creation should also work to the best of my knowledge. Could you share your `Composition` YAML?

[2020-10-30 14:46] jbw976 opened #1913 "latest pre-release versions are incorrect"
### What happened?

The latest provider versions (e.g. `provider-azure`) don’t have `-rc` in their versions anymore: https://hub.docker.com/repository/docker/crossplane/provider-azure/tags?page=1

A bigger problem though is that the latest published versions of providers are saying that they are pre-releases for the last official version, e.g. pre-releases of v0.12, when they should be pre-release

[2020-10-30 14:48] hasheddan commented on #1913
This should be noted (tagging new release before rc) in the update to the release process guide https://github.com/crossplane/crossplane/issues/1831, which will be part of the v0.14 release

[2020-10-30 15:00] marcinc opened #1914 "Support `convert` transform"
### What problem are you facing?

At present, provider implementations of cloud resources aren't standardized and often require a different set of parameters in the format expected by their respective upstream APIs / implementation detail. This often leads to unnecessarily elaborate composition patches. One example of such resource would be S3 and GCP bucket and how tags/labels are defined in each

[2020-10-30 15:23] haoqing0110 commented on #1911
@muvaf below are the `Composition` yaml, both meet "an empty namespace may not be set during creation" issue.

Same requirement as https://github.com/crossplane/crossplane/issues/1730#issuecomment-698418882, my original understanding is `Composition` is a compose of any CR, and [Crossplane API conventions](https://crossplane.io/docs/v0.13/introduction/managed-resources.html#syntax) are optional (a

[2020-10-30 19:51] negz commented on #1910
I haven't completely joined the dots, but I believe there is middleware that implements the described behaviour of `generateName`:

https://github.com/kubernetes/apiserver/blob/release-1.19/pkg/registry/generic/registry/store.go#L367
https://github.com/kubernetes/apiserver/blob/release-1.19/pkg/registry/rest/create.go#L137
https://github.com/kubernetes/apiserver/blob/release-1.19/pkg/registry/gene

[2020-10-30 20:00] negz commented on #1909
I find it very hard to identify with that perspective. Assume for example I had for example a Composition with an SQL server, three SQL server firewall rules, and an EKS cluster. If I wanted to add a fourth SQL server firewall rule I would intuitively want to add it near the other firewall rules, not to be forced to append it to my file. To me configuration is no different than writing code in thi

[2020-10-31 11:16] muvaf commented on #1910
Dry-run sounds good. As mentioned in https://github.com/crossplane/crossplane/pull/1916 , it gives a clue to users about the errors before creating anything, which is a nice UX plus.

[2020-11-01 16:17] jbw976 opened #1917 "managed resource connection secret updates do not get propagated to the claim namespace"
### What happened?

I have a cluster composition that uses EKS as the underlying managed resource. The auth tokens given out by EKS have a [TTL of 15 min](https://aws.github.io/aws-eks-best-practices/iam/#:~:text=The%20token%20has%20a%20time,each%20time%20the%20token%20expires.), so the connection secret for the EKS managed resources gets updated often.

It appears that updates to the connection s

[2020-11-02 17:07] lukeweber commented on #1424
I think it's also an interesting idea to consider whether someone would like to read their cloud provider credentials from an external vault, and only use shorter lived keys derived from the vault.

To make a change one could use a write token, and then switch back to a read token to validate state.

[2020-11-03 00:45] negz commented on #1917
As you point out, the propagation from the actual credentials in AWS to the claim secret works as follows:

1. The EKS credentials change inside AWS.
2. Every 30 to 60 seconds the provider-aws EKS controller polls the AWS API for new changes. If the credentials have changed they will be propagated to the EKS cluster's connection secret.
3. Every 30 to 60 seconds the composite resource controller p

[2020-11-03 06:47] muvaf commented on #1917
@negz are we able to use the existing `OwnerReference` to know that what this `Secret` belongs to? Annotation works, too, but it seems the information is already there.

[2020-11-03 06:58] negz commented on #1917
@muvaf I misspoke in that comment; what we actually need is to resolve the composite connection secret to a claim that should have a reconcile queued when it changes. So we either need to annotate composite resource secrets with their claim's details (at least namespace and name, maybe GVK for informational purposes) or use an `EventHandler` that uses a client to get the secret's composite resourc

[2020-11-03 18:23] marcinc opened #1922 "Configuration package global parameters"
### What problem are you facing?

In a configuration package containing several XRDs and compositions I often come across composite resources which require infrastructure knowledge such as (externally created) VPC IDs, Subnet IDs etc, related to a target Kubernetes cluster which configuration package is going to be deployed to.

Currently the only solution available is to parametrise these details

[2020-11-03 22:03] negz commented on #5
I've now merged all the PRs pertaining to the providers the core Crossplane team maintains, so I'm going to mark this done. I'll leave the other PRs for the maintainers of those repos to merge. Thanks so much for finally getting this done @khos2ow!

[2020-11-03 22:03] #5 closed

[2020-11-03 22:50] negz opened #1923 "Should package revisions watch the objects they control"
### What problem are you facing?

I believe the `ProviderRevision` and `ConfigurationRevision` controllers currently do not watch the objects they control (i.e. Deployment, ServiceAccount, CRD, XRD, and Compositions), and thus do not react immediately to reset changes made to those objects. The controllers instead speculatively requeue every 60 seconds.

### How could Crossplane help solve your pr

[2020-11-03 22:55] negz commented on #1923
That said, we might not want to duplicate the knowledge of what types might be packaged (that knowledge is currently cleanly contained in `objScheme`. If there was some way to extract instances of all types known to that scheme we could presumably do something like:

[code]

[2020-11-04 08:58] muvaf commented on #1917
I think I confused what's available in the owner ref. I thought it's what you were going to annotate, i.e. claim name/namespace, but it doesn't seem to be the case. It's the composite name, which is only indirectly useful to us as you mentioned. So, I don't really think what I proposed is a simpler/better approach than annotation.

[2020-11-05 09:08] #1917 closed

[2020-11-05 17:46] hasheddan commented on #1923
I actually don't think this is an issue as this information will be passed at controller setup time, and we are already doing package-specific things there, such as setting hooks to run.

[2020-11-05 19:13] negz commented on #1435
I believe this is now done.

[2020-11-05 19:14] negz commented on #1435
Scratch that - we also need to use v1 CRDs in our providers.

[2020-11-05 19:22] kasey commented on #1844
Still WIP, working through a couple kinks:
- from looking at the schema types coming from terraform, we can't differentiate between integers and floats for Numeric types
- working through the nuances of nested types (NestedList, NestedSet)

Currently working on the nested type support, which should be just a few more days until I'm able to update the [generated output](https://github.com/kasey/pro

[2020-11-05 19:24] negz opened #1929 "RBAC Manager constantly applies roles"
### What happened?

We've observed that the RBAC Manager constantly applies roles, causing a lot of thrash and memory usage in the API server to the point that it uses >2GB of memory.

### How can we reproduce it?

More details TBD.

### What environment did it happen in?
Crossplane version:

[2020-11-05 19:37] negz opened #1930 "Bump all core Crossplane APIs to v1beta1"
### What problem are you facing?

We feel good about the stability of our APIs, and would like to bump all core APIs (i.e. APIs defined in this repo) from v1alpha1 to v1beta1.

### How could Crossplane help solve your problem?

[2020-11-05 19:49] kasey commented on #1851
@mattchr's WIP branch is here: https://github.com/matthchr/k8s-infra/tree/crossplane-hacking

[2020-11-05 19:49] hasheddan commented on #1834
This was fixed in https://github.com/crossplane/crossplane/pull/1854

[2020-11-05 19:49] #1834 closed

[2020-11-05 19:51] muvaf commented on #1586
Fixed by https://github.com/upbound/platform-ref-aws

[2020-11-05 19:51] #1586 closed

[2020-11-05 19:53] negz commented on #1839
We've created https://github.com/crossplane-contrib/provider-in-cluster to track and build this work. I'm going to close this issue.

[2020-11-05 19:53] #1839 closed

[2020-11-05 20:56] #1638 closed

[2020-11-06 04:52] negz commented on #1435
Alright, this is actually done now!

[2020-11-06 04:52] #1435 closed

[2020-11-06 12:38] muvaf commented on #1847
I think this is more related to the connection between kubectl and the api-server it's interacting with, rather than Crossplane or the specific resource you're deleting.

[2020-11-06 13:52] #1930 closed

[2020-11-06 14:00] srueg opened #1938 "Support Overriding the Image in ControllerConfig"
### What problem are you facing?

We have some clusters which aren't allowed to access https://hub.docker.com/ directly. They can only pull images via a registry mirror (e.g. `remote-docker.artifactory.example.com/<org>/<image>:<tag>`). The mirror acts as a pull-through cache and serves the exact same images as Docker hub.
Creating a `Provider` we can specify the correct provider image:
[code]
The

[2020-11-06 19:18] hasheddan opened #1941 "Document package crossplane version constraints, packagePullPolicy, and ControllerConfig"
### What problem are you facing?

The ability to specify package crossplane version constraints, utilize various pull policies, and customize a controller deployment with the `ControllerConfig` type were all added as part of the Crossplane v0.14 release, but have not been added to the package documentation.

### How could Crossplane help solve your problem?

Documentation should be updated to expl

[2020-11-07 00:47] iAnomaly opened #1945 "Expand Helm chart to support provider(s)'s installation"
### What problem are you facing?

We try to use Helm as the single, holistic tool for managing Kubernetes resources. Because of this, the `kubectl crossplane install provider` step of Crossplane's installation breaks this model (it makes perfect sense for users who don't want Helm/want exclusive kubectl support!).

### How could Crossplane help solve your problem?

First and foremost is the discla

[2020-11-07 01:25] jbw976 commented on #1945
@iAnomaly thanks for expressing your interest in this functionality! I believe what you're looking for is already possible, as briefly mentioned here (not super obvious) in the docs: https://crossplane.io/docs/v0.14/introduction/providers.html#installing-providers

Essentially, the crossplane helm chart lets you set values for what providers to also install along with Crossplane itself, e.g.:
[cod

[2020-11-08 13:52] benagricola commented on #1722
This looks interesting - I'm looking to implement something similar to #1603 (Create a service account and linked AWS role) but in my case, the EKS cluster is not managed by Crossplane but by `eksctl`.

Right now, I think I need to hardcode the `cluster.identity.oidc.issuer` field, but it would be ideal if it were possible to 'import' (or attach as outlined in #834) the cluster itself to pull the

[2020-11-09 13:12] muvaf commented on #1629
Composition types are bumped to v1beta1 in v0.14 release.

[2020-11-09 13:12] #1629 closed

[2020-11-09 17:58] muvaf commented on #1945
I'm going to close this issue. @iAnomaly please feel free to reopen if you think there is more to do here.

[2020-11-09 17:58] #1945 closed

[2020-11-09 19:49] khos2ow commented on #1938
While working on #1925 I came across this too. If we want Tilt to be able to build and deploy locally cloned providers it has to be able to know jsonpath of `image` in CRD spec.

That said, this might not still fully justify exposing `image` as part of `ControllerConfig` but it's nice to have.

/cc @hasheddan

[2020-11-09 23:52] hasheddan commented on #1913
@jbw976 I think this has been corrected and is documented in #1949. Do you think this can be closed out?

[2020-11-10 02:42] jbw976 commented on #1913
sounds good, thanks for getting this sorted out @hasheddan!

[2020-11-10 02:42] #1913 closed

[2020-11-10 09:38] srueg commented on #1938
I gave it a shot in PR #1951
It's still a draft PR because I didn't test it yet.

[2020-11-10 18:46] negz commented on #1583
We're now using GitHub Actions which has made a big difference, but the Upbound build submodule being used internally still means it's hard for folks who don't work for Upbound to understand the blast radius of their changes to the build submodule.

[2020-11-10 21:39] hasheddan commented on #1901
@nashant were you able to address this by re-configuring the OPA webhook?

[2020-11-10 21:46] #1831 closed

[2020-11-10 23:00] jbw976 commented on #1846
I think it's a really good idea to understand our resource usage needs, especially with memory consumption.  We've seen some provider pods (e.g. provider-aws) get OOM killed recently, so I'm wondering if memory usage has increased in recent releases.

We should at least do a [memory profile](https://golang.org/pkg/runtime/pprof/#hdr-Profiling_a_Go_program) to understand what our memory usage/needs

[2020-11-11 01:23] hasheddan opened #1953 "Use a consistent CLI framework"
### What problem are you facing?

When the new Crossplane CLI was introduced we chose to use [kong](https://github.com/alecthomas/kong), which is the successor to [kingpin](https://github.com/alecthomas/kingpin). However, core Crossplane and the RBAC managed still use kingpin (as well as all providers).

### How could Crossplane help solve your problem?

Using a consistent CLI framework requires l

[2020-11-11 06:39] #1910 closed

[2020-11-11 13:17] #1938 closed

[2020-11-11 18:45] prasek opened #1955 "First-class multi-language support to author and build Configuration packages with cdk8s"
### What problem are you facing?
We'd like to define an entire Crossplane `Configuration` package in an authors language of choice (e.g. TypeScript, python) with the ability to run cdk8s programs (as a sidecar image) in a Crossplane `CustomComposition` controller, that can use a cdk8s sidecar to generate the declarative specification of a composite resource and reconcile it in Kubernetes.

### How

[2020-11-12 13:08] haoqing0110 commented on #1750
@hasheddan is there a plan to upgrade operator to v0.14.0? since it's the latest release.

[2020-11-12 20:55] tompscanlan opened #1957 "provider install from harbor registry fails"
### What happened?

I'm trying to use an internal registry with crossplane. In the case of installing a provider like this:

    provider.pkg.crossplane.io/provider-aws created

Checking on that provider shows a failure to get the image from the registry.

[code]

### How can we reproduce it?

Use harbor registry?

### What environment did it happen in?

Crossplane version:  0.14
AWS Provider: alp

[2020-11-12 21:02] hasheddan commented on #1957
@tompscanlan is `harbor-repo.vmware.com` a harbor registry you are running yourself or is it publicly available?

[2020-11-12 21:31] tompscanlan commented on #1957
It is not public. I might be able to set up a public one for testing.  Right now I'm digging in to see what's up.  might be deeper into the google registry code.

[2020-11-12 21:33] hasheddan commented on #1957
@tompscanlan I presume that your Crossplane cluster is running where it should be able to reach this endpoint?

[2020-11-12 21:53] tompscanlan commented on #1957
It is. I use helm to install using corp registry in the same session:

[code]

Those images are just fine. Maybe the difference is doing a `Head()` in the package code. Would indicate a bug in Harbor or in the registry code.

[2020-11-12 23:10] hasheddan commented on #1957
@tompscanlan gotcha, keep me posted on what you find. For context, we use `HEAD` to avoid counting against pulls, which is useful is users are rate-limited :+1:

[2020-11-13 15:42] tompscanlan commented on #1957
Leaning towards this being a proxy-cache bug. I'm following up with Harbor folks, but will hold this open until I figure it out.

[2020-11-13 23:24] benagricola opened #1960 "Deduplicate repeated patches within a composition"
### What problem are you facing?
When creating a `Composition` with a large number of base resources, it seems common to use the same patch definitions repeatedly for settings which apply to multiple resources, for example applying the following to pretty much every base within a `Composition`:

[code]

### How could Crossplane help solve your problem?

It would be really cool to allow patches to

[2020-11-13 23:41] negz commented on #1960
@benagricola I'm happy to work on this too, though I'm fairly slammed for the next few weeks so it might take me a while to get around to it. If you'd like to have a go feel free to ping me if you get stuck or need a review.

[2020-11-14 23:19] prasek opened #1961 "Support download of single CRD manifest per release, for import into tools like cdk8s"
### What problem are you facing?
Tool like cdk8s can import CRDs for a given release by pulling all CRD definitions from a single file:
 - `cdk8s import https://github.com/knative/serving/releases/download/v0.19.0/serving-crds.yaml`
    - imports all CRDs defined in the [serving-crds.yaml](https://github.com/knative/serving/releases/download/v0.19.0/serving-crds.yaml) from the release assets: http

[2020-11-14 23:25] hasheddan commented on #1961
@prasek this can actually be done right now with kustomize --> `kustomize build github.com/crossplane/crossplane/cluster/?ref=v0.14.0`. We could easily generate a single file from this and serve it in the repo as well :) I would also like to support on doc.crds.dev, but would defer to get it working for crossplane sooner

[2020-11-14 23:33] prasek commented on #1961
@hasheddan sounds good, would be great to get it for all the providers as well in time for v1.0.

[2020-11-14 23:34] prasek commented on #1961
related to https://github.com/crossplane/crossplane/issues/1955

/cc @eladb

[2020-11-14 23:38] prasek commented on #1961
@hasheddan note we'd also need https://github.com/crossplane/crossplane/tree/v0.14.0/docs/api-docs/crds in the list to define `crossplane.yaml` in cdk8s

[2020-11-14 23:40] hasheddan commented on #1961
@prasek gotcha :+1:

[2020-11-15 11:36] benagricola commented on #1960
@negz Had a bit of a poke around the code and ISTM that the difficulty here is that the `Composition` (which defines the additional `patchSets`) is not available during the `Render()` method of the composed resource.

My first idea to work around this is to load the `PatchSet` list into the composite resource (`cp resource.Composite`) using a new Configurator. The `PatchSet` list can then be retri

[2020-11-15 16:46] hasheddan commented on #1961
@prasek @eladb you can now get the aggregated CRD YAML for all repos at each tag on https://doc.crds.dev by prefixing path with `raw/`

Example: https://doc.crds.dev/raw/github.com/crossplane/crossplane@v0.14.0

@prasek feel free to close this out if you feel it has been addressed appropriately :)

[2020-11-16 09:12] negz commented on #1960
@benagricola If I recall correctly we pass the `ComposedTemplate` (which is part of the `Composition`, which we have in the reconciler) to `Render()`, which includes the `patches` array (and presumably would include the array of `patchSets` the resource wanted to include too).

https://github.com/crossplane/crossplane/blob/8f840d9ddf43662fe10c1ca14edf5e3e222e9a43/apis/apiextensions/v1alpha1/compos

[2020-11-16 11:08] muvaf commented on #1960
I feel like, in practice, the patchsets here would be mostly either Kubernetes or Crossplane fields unless there are many of the same kind of resources in the `resources` array. Because most of the resources have unique sets of parameters in `forProvider` section with very few exceptions, like `region`. @benagricola how do you feel about needing this functionality for more than `labels` and `annot

[2020-11-16 11:30] benagricola commented on #1960
@negz thanks, that was the context I was looking for - somehow skipped over where the composed resource is created and then passed directly to the `Render()` method 😂 - that looks like it'd be much simpler.

@muvaf Yeah, those were examples I chose because they apply to everything, but you're right - they're likely to be identical or very similar across the board.

Another example I can think of w

[2020-11-16 12:09] muvaf commented on #1960
Yeah, that looks good to me. We'd not make the UI more complex for users who don't need that functionality while providing it to who need it.