[2022-10-13 14:24] ezgidemirel commented on #2656
Thanks @negz for your suggestions. I believe the first item will also fix #3011.

[2022-10-13 21:40] zaphinath opened #3377 "Add tags through a patchset."
We want to patch all our resources by adding various tags through a patchset. Currently we are thinking about doing something like the following:

  - name: stackIdConfig
    patches:
      - type: FromCompositeFieldPath
        fromFieldPath: "spec.parameters.clusterName"
        toFieldPath: spec.forProvider.tags[StackId].value

The question is does this create a key "StackId" and then add the v

[2022-10-14 11:24] saiharshitach opened #3384 "Can I plugin my own CRD into Composition under resources?"
Can I plugin my own CRD into Composition under resources when I'm creating XRD's?

If this is not possible Could you please direct me on how to achieve the functionality which is not provided via crossplane?

[2022-10-14 20:18] negz commented on #3384
No, not directly. See https://github.com/crossplane/crossplane/issues/1730 for more discussion and context.

You can however use https://github.com/crossplane-contrib/provider-kubernetes to "wrap" your custom resource in a valid Crossplane managed resource that you can use in a Composition.

[2022-10-14 20:18] #3384 closed

[2022-10-14 20:41] negz commented on #2472
@MisterMX I believe so - at least with server-side apply. xref https://github.com/crossplane/crossplane-runtime/pull/358

[2022-10-15 10:17] dudicoco opened #3385 "Allow injecting resource ID refs into variables"
### What problem are you facing?

Currently, crossplane supports injecting resource ids into via `IDRefs`, for example:
[code]

This is important in order to avoid hardcoding IDs.

However, there are some other cases where it is necessary to inject resource IDs into the configuration, for example, with IAM policies.
With some IAM policies you need to specify the resource ID:
[code]
[code]

### How

[2022-10-16 01:34] bobh66 commented on #3385
It's pretty common in these scenarios to have to patch multiple different values into the target ARN, like the account ID, region and target reference ID (role or other identifier), so a CombineFromComposite is used to map all of the relevant values into the target field (assumeRolePolicy for example).   The ID ref is usually patched from the status field of the relevant resource into a placeholde

[2022-10-16 08:20] dudicoco commented on #3385
@bobh66 I don't believe that would help in such cases.

Composition only works if you group your resources within the composition, however, if for example you create an EKS cluster and you need to set many different `sts:AssumeRoleWithWebIdentity` policies for different applications, you would not include these policies in the same composition, they would reside in different files/directories.

So

[2022-10-16 19:27] oblogic7 opened #3387 "Make generated code available for import into other projects?"
I have an idea for a project that could make use of the generated client and Crossplane CRD interfaces.  This code is currently internal and cannot be used directly.  Is there any chance of moving this code to allow it to be used by projects that would like to extend Crossplane resources with custom controllers/watchers/etc?

[2022-10-17 01:55] #3179 closed

[2022-10-17 02:46] jmrodri commented on #3345
@eaepstein Looking at the script it seems that it is made generically to allow for installing multiple versions. If `VERSION` is not set it will use `current`. One way to avoid accidentally it might be if the script uses a namespaced variable like `CXP_VERSION` since `VERSION` is pretty generic.

What were you thinking would be a workable solution?

[2022-10-17 07:10] MisterMX commented on #3377
(I believe this should be discussion and not an enhancement issue)

@zaphinath yes, patching into a field will create the full path. You don't have to create the parent fields before that.

[2022-10-17 07:32] MisterMX commented on #3027
I don't think this is going to make it into core since it carries the danger of privilege escalation of a user. If you want to read data from something like `ConfigMaps`, Composition environments are a better and more powerful alternative to that (see #3007).

[2022-10-17 13:17] ytsarev commented on #3385
@dudicoco FWIW, you can nest XRs within another superset Composition and share the data between them through status. An https://github.com/upbound/platform-ref-aws/ based example can be found [here](https://github.com/upbound/platform-ref-aws/blob/main/package/cluster/composition.yaml)

[2022-10-17 17:58] johnstonmatt opened #3392 "Script to Bootstrap Crossplane from Scratch"
### What problem are you facing?

cc: @vfarcic who recommended I share this here.

Currently Crossplane requires a cluster to exist before it can provision itself. This sacrifices a lot of the utility of Crossplane.

### How could Crossplane help solve your problem?

I would like to be able to spin up a Crossplane cluster without using an existing cluster.

The solution I propose is to create a sc

[2022-10-17 19:43] negz commented on #3387
@oblogic7 Possibly. We intentionally have all of our code internal to ensure we have a conversation before anyone takes a dependency on it.

Can you share more about what you're thinking about doing? If you did take a dependency, would you want to import them from crossplane/crossplane or would it make more sense to break them out into their own client library?

[2022-10-17 20:17] negz opened #3393 "Introduce a generic `Usage` type to enforce ordered deletion"
### What problem are you facing?

Crossplane is built on Kubernetes, which leans into eventual consistency. When several things need to happen in a particular order the “Kubernetes way” is to specify the desired end state and rely on the relevant controllers to ensure the system eventually arrives at that state, largely through the use of constant reconciliation (aka retries).

Take for example th

[2022-10-17 20:17] negz commented on #3393
@bobh66 has prototyped this approach using https://kyverno.io, per the below gists:

* https://gist.github.com/bobh66/ace375505eb46ea8e3f29d318378b0c3
* https://gist.github.com/bobh66/715263901d7257e3593b3d753702a78f

[2022-10-17 23:00] #3263 closed

[2022-10-17 23:08] negz commented on #3272
I note that Flux has bumped too: https://github.com/fluxcd/flux2/blob/v0.35.0/go.mod#L46

So I believe all the projects noted here are now covered, modulo the potential further improvements @jessesuen mentioned. I'm going to close this.

[2022-10-18 02:03] oblogic7 commented on #3387
My idea revolves around a client that would simplify management of card and
claims without requiring interaction with k8s or messing around with yaml.
This client would make use of discover resources in a cluster, use watchers
to monitor changes and deploy new claims. Being able to have current models
and a client set that is capable of watching the resources would be very
handy.

I think a separa

[2022-10-18 05:09] haarchri commented on #3392
The following Scripts we have today

https://github.com/upbound/build/blob/master/makelib/controlplane.mk

https://github.com/crossplane-contrib/provider-aws/blob/master/cluster/local/integration_tests.sh

in our Company we setup our first cluster like this and handover everything with velero backup afterwards

[2022-10-18 12:48] muvaf commented on #3277
Done! https://github.com/crossplane/crossplane/releases/tag/v1.10.0

[2022-10-18 12:48] #3277 closed

[2022-10-18 17:00] #2887 closed

[2022-10-19 07:13] yhrn commented on #2608
Hi,

We are evaluating Crossplane for our internal platform and this limitation might be a blocker for us. Has there been any further thinking or progress? Is webhook conversion definitely off the table?

I understand you want to stay true to the "no code" idea but if such a conversion strategy is so hard to implement that it just won't happen it really means that XRs misses out on one of the most

[2022-10-19 08:54] dudicoco opened #3397 "Importing resources is not restricted"
### What problem are you facing?

When importing an external resource into crossplane you can just specify the resource name and crossplane does the magic of importing it.
While this is a much better experience than the terraform import process (import into the state manually), it also has a loophole as it allows importing resources which you don't necessarily own.
Two examples I can think of:
1.

[2022-10-19 13:25] ezgidemirel commented on #2954
@eloo @negz I believe https://github.com/crossplane/crossplane/pull/3376 fixes the issue. We now propagate the composition revision number from composite to claim when the update policy is `Automatic`.

[2022-10-19 14:29] eloo commented on #2954
@ezgidemirel sounds good..

will this be backported to 1.10?

[2022-10-19 15:03] plumbis opened #3398 "Proposal for Docs Reorg"
### What problem are you facing?
The organization of the Crossplane documentation has been somewhat organic and has led to duplicate pages and user confusion on which guide to follow for different scenarios.

With a docs maintainer beginning to generate more content we should consider changing the over all organization of the current documentation.

### How could Crossplane help solve your problem

[2022-10-19 15:06] ezgidemirel commented on #2954
Hi @eloo, we didn't backport it, because composition revision is an alpha feature. But, you can install the RC version that has the fix with the following command:
[code]

[2022-10-19 23:13] johnstonmatt commented on #3392
initially I thought I might build a proof of concept for this, but we've decided to use Terraform for our project instead

if anyone is interested in working on this please feel free!

[2022-10-20 07:30] asajoshi opened #3399 "field publishConnectionDetailsTo is dependant on writeConnectionSecretToRef"
### What happened?
- Installed vault as external-secret-store as per [crossplane-vault-doc](https://crossplane.io/docs/v1.9/guides/vault-as-secret-store.html )(followed until step [install_configure_crossplane](https://crossplane.io/docs/v1.9/guides/vault-as-secret-store.html#install-and-configure-crossplane))

- Installed provider-aws instead of gcp

- Created a simple s3 composition, claim and X

[2022-10-20 07:33] MisterMX commented on #2588
@hasheddan I believe this has been resolved with #3150. Or are we still missing something?

[2022-10-20 07:40] eloo commented on #2954
sounds good.. so it will be part of the next release :)
if i have time before i will give it a try and report back here

[2022-10-20 09:24] hasheddan commented on #2588
Ah nice, looks like we are all good here. Thanks @MisterMX !

[2022-10-20 09:24] #2588 closed

[2022-10-21 10:51] ezgidemirel commented on #2954
Yes, it will be in the next release :)

that would be great, thanks @eloo!

[2022-10-21 13:07] macmiranda commented on #2955
Hey @negz I'd be willing to help write that down. I'm facing the following dilemma: your design [document](https://github.com/crossplane/crossplane/blob/master/design/design-doc-rbac-manager.md) is very thorough and comprehensive though I'm in the need to write an internal one for consumption by my Platform team that doesn't get into the nitty-gritty details of the controller. As such it may be he

[2022-10-21 18:08] plumbis opened #3406 "Update install guides to use Helm --create-namespace"
### What problem are you facing?
Install docs require the user to create the crossplane-system namespace. Helm v3.2.0 can create the namespace at install time with`--create-namespace`

### How could Crossplane help solve your problem?
Update `helm install` references to include `--create-namespace` and update the Helm minimum versions to `3.2.0`

[2022-10-23 05:07] danports opened #3407 "Crossplane pod on v1.10.0 consumes 10-15x more CPU than on v1.9.1"
### What happened?
The core Crossplane pod typically used 5-10m CPU in my cluster on v1.9.1 and earlier, but when I upgraded to v1.10.0, that jumped to around 100m, a roughly 10-15x increase. This chart shows the CPU usage of the Crossplane pod (and that pod only - not the RBAC controller or any of the providers) before and after the upgrade. As you can see, the pod is now frequently getting throt

[2022-10-23 07:28] dudicoco commented on #3385
@ytsarev can you elaborate on how that works exactly? From my understanding it's not possible use observe only resources yet: https://github.com/crossplane/crossplane/issues/1722

In addition, I still think that getting ID refs should be possible outside of compositions, is there an objection to such a feature?

[2022-10-24 01:56] #3194 closed

[2022-10-24 08:53] pablofontanilla opened #3408 "Crossplane overwrites fields after patches have been applied, causing resource creation failure"
### What happened?

Crossplane applies patches to set the external annotation, name and one spec field of a resource.:

    patches:
      - type: FromCompositeFieldPath
        fromFieldPath: status.validationName
        toFieldPath: metadata.annotations.crossplane.io/external-name
      - type: FromCompositeFieldPath
        fromFieldPath: status.validationName
        toFieldPath: metadata.nam

[2022-10-24 10:45] turkenh commented on #2954
Closed with https://github.com/crossplane/crossplane/pull/3376

[2022-10-24 10:45] #2954 closed

[2022-10-24 17:53] dee0sap commented on #3293
Hey @negz

I wrote a script that is able to force the 'leader election + container restart' error, see attached.

Fwiw, the root cause in my team's case is different from what this script simulates but that doesn't matter to my team.    Good enough to have the error.

Setting leaderElection = false seems to fix the problem for us.

[lease.zip](https://github.com/crossplane/crossplane/files/9854003

[2022-10-24 20:45] negz commented on #3407
@danports Thanks for flagging this. Are you able to provide a minimal setup (providers+configs/XRs wise) that reproduces it? If so we can profile and see what's using the CPU.

[2022-10-24 20:46] negz commented on #3399
CC @turkenh

[2022-10-24 20:52] negz commented on #3398
One reason we've moved away from quick starts like the ones you propose in the past is that we don't really intend for anyone to just install some MRs and stop there; we intend folks to always use them via Composition. I'm okay with introducing the concept of MRs first, but I don't think the quick start should end at "you have an MR".

I'm also a little wary of attempting to merge what is currentl

[2022-10-24 21:35] sftim commented on #3392
I'd like to see an example of using [kcp](https://github.com/kcp-dev/kcp) as the bootstrap control plane. But I wouldn't have time to work on that.

[2022-10-25 07:29] macmiranda commented on #3407
We're experiencing between 90-95% CPU Throttling on the Crossplane container based on default resource limits included in the official chart

![image](https://user-images.githubusercontent.com/17923899/197710696-28031741-bfd3-496d-8e4a-090a8bdc4060.png)

We did not see that happening with 1.9.1

It's a fresh Crossplane installation, only AWS Provider configured so far. No managed resources, no XRD

[2022-10-25 07:50] ytsarev commented on #3385
@dudicoco we can publish arbitrary information from MR within the Composition to the XR status and then consume this information from XR status to another MR within the same Composition. It is not an observe-only but an arbitrary data exchange mechanism as of now.

[2022-10-25 08:03] hasheddan commented on #3407
I’m guessing https://github.com/crossplane/crossplane/pull/3176 is the culprit here. However, the solution is likely more granular reconciliation logic in the package manager, rather than reducing the concurrent establishment of API types in a package. @macmiranda  are you able to see ongoing package reconciler enqueues happening when turning on debug logging?

[2022-10-25 15:55] muvaf commented on #3397
@dudicoco The only thing Crossplane requires for importing is for the provided credentials to have read access on that resource. I wonder what we could do apart from that. Maybe a policy engine with admission webhook to check external name annotations? Do you know of a tool that meets your use case well?

[2022-10-25 18:42] negz commented on #2608
There's tentative plans within Kubernetes API machinery to explore CEL based declarative conversion (after the recent CEL based validation work). I expect this could get us this functionality "for free". I'll try find a link.

In the meantime we're not opposed to allowing webhook based conversion to bridge the gap.

[2022-10-25 22:20] plumbis commented on #3398
The Quickstart plan was discussed in the Oct 20 community meeting and mentioned in PR #3396. Copying here:

Agreed, the content will not merge well. The `reference/composition` will evolve into more of an API reference documentation. Exactly what that looks like is TBD.

[2022-10-26 07:55] dudicoco commented on #3397
@muvaf perhaps something similar to Helm's import mechanism would be the right solution, I couldn't find anything in the official docs but here is an article on how to import resources into a Helm release: https://jacky-jiang.medium.com/import-existing-resources-in-helm-3-e27db11fd467

Basically if the resource has the correct annotations and label it can be imported automatically into the release

[2022-10-26 11:09] turkenh commented on #3399
To build connection secrets for composites/claims, MRs should persist their connection details using either `writeConnectionSecretToRef` and/or the new  `publishConnectionDetailsTo` field. In other words, composite/Claim controllers fetches connection details of composed MRs to build connection secrets.

If we don't configure our MRs to persist their connection details using `writeConnectionSecret

[2022-10-26 16:25] stevehipwell commented on #3048
This functionality is something I've been thinking about for a while so it's really interesting to see someone working on this. I might be missing the point here but shouldn't the signature validation be per object being validated? For example the Provider CRD could be modified to carry a validation enabled field and certificates/identity field to carry the approved signers. For certificates a ref

[2022-10-27 14:27] nabuskey opened #3414 "Allow providers to be deployed to another namespace"
### What problem are you facing?
I have a customer who is trying to create custom Crossplane providers to ease migration from their current infrastructure provisioning workflow to Crossplane. Unfortunately, the team who manages Crossplane and the team who is creating the custom providers are different. Teams are given namespaces to work within clusters and are given permissions to do their jobs wi

[2022-10-27 14:34] hasheddan commented on #3414
@nabuskey this currently is not supported in `ControllerConfig`. Crossplane providers are only given access to types they install by default, with the exception of `Secrets` / `ConfigMaps` / `Events` / `Leases`([ref](https://github.com/crossplane/crossplane/blob/c7b3c53db6217d59cb68eedff032dd535783140f/internal/controller/rbac/provider/roles/roles.go#L69)). I'm presuming that latter group is the o

[2022-10-27 15:56] ezgidemirel opened #3415 "Support composition revision selectors"
### What problem are you facing?
Composition revision is an alpha feature that we target to promote with this [issue](https://github.com/crossplane/crossplane/issues/2656). Currently,  composition revision names are generated automatically. Therefore it’s not convenient to use them with `compositionRevisionRef` and GitOps tools like ArgoCD or Flux. Even if we merge this [PR](https://github.com/cro

[2022-10-27 15:57] ezgidemirel commented on #2544
Hi all, created a proposal [issue](https://github.com/crossplane/crossplane/issues/3415) to discuss the details of composition revision selectors. Any feedback is more than appreciated!

[2022-10-27 15:58] ezgidemirel commented on #2656
Hi all, created a proposal [issue](https://github.com/crossplane/crossplane/issues/3415) to discuss the details of composition revision selectors. Any feedback is more than appreciated!

[2022-10-27 20:34] fuzz opened #3416 "Update install guide with less confusing instructions"
### What problem are you facing?

The cluster install instructions have a happy path for macOS/Homebrew, but the other options are confusing, plus the instructions are identical for the macOS Linux and Windows tabs.

![Screenshot from 2022-10-27 13-19-46](https://user-images.githubusercontent.com/9918/198390133-b6977559-36d2-40b4-bed1-8806b9e5243e.png)

![Screenshot from 2022-10-27 13-19-56](https

[2022-10-28 09:11] haarchri commented on #3408
try this

`toFieldPath: metadata.annotations[crossplane.io/external-name]`

[2022-10-28 09:38] pablofontanilla commented on #3408
Thanks for your answer! Sadly, I've tried and the same thing happens. It's not that the patch doesn't work, it's that it gets overwritten by the generic resource name. Is there any way to get logs about this that might help understand what's going on?

[2022-10-28 14:39] gberche-orange opened #3417 "Add MR mocking to support automated tests by crossplane users"
### What problem are you facing?

I've been adopting a test-driven-approach to my crossplane composition using kuttl, ytt and kapp controller, so every change is triggering a test job with good test coverage:
- kuttl assertions on XR and MR, and XRCs and their connection secrets
- E2E tests with an app consummong XRCs secrets

I'm now reaching a phase where this TDD approach is blocked by too slow

[2022-10-28 18:05] plumbis commented on #3416
Thanks for the report!

I'm doing some work in this space but holding off on approvals for #3398 and #3396

Take a look at the steps used in #3396 (or at least [this file](https://github.com/plumbis/crossplane/blob/cloud-quickstarts/docs/getting-started/install-crossplane.md)) and let me know what you think (here or as a review there). That will be the basis for new generic instructions.

[2022-10-28 19:33] fuzz commented on #3416
Awesome! I left a comment and will close this. https://github.com/crossplane/crossplane/pull/3396/files#r1008389936

[2022-10-28 19:33] #3416 closed

[2022-10-29 00:02] treyhyde commented on #2869
A lot is said about clients above... remember that "crossplane" is itself a client and polls those CRDs constantly.  That then causes k8s audit events.  CRD audit events are fatter than most.  In EKS, those audit events are then sent to cloudwatch logs ... which are just about the most expensive thing on the planet.   In our simple setup, crossplane makes ~140k API requests, causing 2.6GB worth of

[2022-10-29 01:38] natereid72 opened #3420 "Remove 'Select Composition with no Composition Selector or Selector match'"
### What problem are you facing?

Crossplane selects Composition for XR when no selector is defined or when no matching Composition to selector exists. if a Composition exists that has same api path and name.

This causes unexpected behavior when a composition selector value is incorrectly supplied and/or when an XR is created that should not be able to use a Composition but does because of this b

[2022-10-29 12:42] turkenh commented on #3417
I am wondering if this could be done with an external component rather than XP itself 🤔
Imagine something like `provider-mock` where you instruct the provider (via Custom Resources) on which MR should be watched and what to do when they are created with a similar schema you shared above.

[2022-10-29 13:49] bobh66 commented on #3417
This might be an interesting application of crisscross - you could have an external process running test/mock providers and register the resources with crisscross instead of installing the "real" providers.  I started work on a pluggable python module that would receive HTTP requests from crisscross and return the desired response formats, executing different class implementations of the reconcili

[2022-10-31 07:41] ulucinar opened #3421 "Tag deleted from claim spec is added back"
### What happened?

We have observed an issue with @stevendborrelli where a tag is deleted from a map in a claim spec parameter, and it gets added back to the claim. Please see below for an example XRD, claim and composition.

After you remove the tag key from the claim’s `spec.parameters.tags` map (and expect first the XR’s corresponding map to be updated, and then the MR’s `spec.forProvider.tags

[2022-10-31 11:30] macmiranda commented on #2295
I'm still seeing the same behavior on 1.9.1

[2022-10-31 14:45] gmykhailiuta opened #3422 "PodMonitor template for crossplane helm chart"
### What problem are you facing?
We would like to gather metrics from Crossplane and providers using Prometheus Operator. It requires a PodMonitor object(s) and it seems to be more convenient to have it as part of crossplane helm chart.

There was an attempt before - https://github.com/crossplane/crossplane/pull/2069, but it was closed more than a year ago without any comments.

Would a new PR be

[2022-10-31 14:46] ytsarev opened #3423 "Crossplane package dependencies are not properly isolated"
### What happened?

I observed unexpected misbehavior while installing multiple Configurations in the following situation:

* Configurations contain a dependency on the same provider
* One of the Configuration has wrong/outdated dependency configuration

Problem: Installation of both Configurations fails, including the one which contains the correct dependency.

### How can we reproduce it?

* Ins

[2022-10-31 14:51] hasheddan commented on #3423
I think there are a few things that we can do here to improve the situation, but going to go ahead and note for onlookers that the reason this occurs is because the dependency resolver processes missing dependencies in order, meaning that a failure to resolve one will block resolving subsequent ones.

[2022-10-31 17:42] hasheddan opened #3425 "[Crossplane v1.10.0] Package manager constantly enqueues reconciles due to unstable object refs in status"
### What happened?

In https://github.com/crossplane/crossplane/pull/3176, the package manager's revision reconciler was updated to concurrently install resources in a given package. After doing so, the reconciler updates the status of the revision with a list of `objectRefs` for everything it installed.

[code]

Because the installation is now concurrent, the ordering of this list is non-determin

[2022-10-31 17:50] jbw976 commented on #3425
@hasheddan do you think this is root case of #3407?

[2022-10-31 17:52] hasheddan commented on #3425
@jbw976 I think it is related, though I would expect even with this fixed we will still see higher CPU than before.

[2022-10-31 19:34] #3425 closed

[2022-10-31 19:51] hasheddan opened #3429 "Cut v1.10.1 on October 31, 2022"
This issue can be closed when we have completed the following steps (in order).
Please ensure all artifacts (PRs, workflow runs, Tweets, etc) are linked from
this issue for posterity. Refer to this [prior release issue][release-1.7] for
examples of each step.

- [x] Run the [Tag workflow][tag-workflow] on the relevant release branch with the proper release version.
- [x] Run the [CI workflow][ci-w

[2022-10-31 21:42] hasheddan commented on #3407
I tested this out after #3425 and verified that we still get throttled, but after the package install stabilizes we drop back down to single digits.

[2022-10-31 23:30] negz commented on #3415
I'm on board with including the labels in the hash. Perhaps we should include the annotations too?

One concern with this approach is that if for some reason a Composition "flaps" between two states (e.g. two parties keeps changing the Composition between state A and state B) we would end up with an unbounded number of CompositionRevisions. In the current implementation we would not - we'd create

[2022-10-31 23:31] negz commented on #3415
The downside to this approach is that every time we marked a revision as latest we'd also need to unmark all other revisions as latest.

[2022-10-31 23:48] negz commented on #2656
I just realized I hadn't explicitly noted that once we hit v1beta1 we should make the feature on by default. This would involve `s/Alpha/Beta` at https://github.com/crossplane/crossplane/blob/b98ec8/internal/features/features.go#L26, moving https://github.com/crossplane/crossplane/blob/b98ec8/cmd/crossplane/core/core.go#L79 to `group:"Beta Features:", and defaulting it to true.

We'll also need to

[2022-11-01 00:28] danports commented on #3407
30 minutes after deploying 1.10.1 (at 19:55 on the chart), there doesn't seem to be any difference in the CPU consumption of the main Crossplane pod, though the CPU consumption of the `rbac-manager` pod (the lower line) seems to have been roughly halved:
![image](https://user-images.githubusercontent.com/8728855/199133246-f7e15029-8811-4a2c-b72d-742d53edc0f6.png)

[2022-11-01 00:35] hasheddan commented on #3407
@danports I’m guessing one of your packages is being continuously reconciled. Are you able to shared debug logs?

[2022-11-01 00:48] danports commented on #3407
Maybe a dumb question, but how do I enable/access the debug logs? Couldn't find any documentation about this.

[2022-11-01 00:53] hasheddan commented on #3407
@danports you can supply `--debug` as an arg 👍🏻

https://crossplane.io/docs/v1.10/reference/troubleshoot.html#crossplane-logs

It can be passed via the `args` value with helm if preferred.

https://github.com/crossplane/crossplane/blob/b98ec8996b33274635d99cbb41ff0d896b378d57/cluster/charts/crossplane/values.yaml.tmpl#L25

[2022-11-01 01:56] #3203 closed

[2022-11-01 01:56] #3121 closed

[2022-11-01 03:35] plumbis commented on #3398
My approach for quickstart guides is to break them into two parts:
1.) Install crossplane and a provider. Verify that you can authenticate to the provider by creating an MR.
2.) Build a composite using the settings in (1)

This can be a single page or multiple pages (I would recommend multiple pages due to length) but think of it as a "crawl, walk, run" approach. There is no intention to imply tha

[2022-11-01 15:13] ezgidemirel commented on #3415
Just to be on the same page, what we proposed was incrementing the revision number, not creating a new composition revision. So, if a composition flaps between two states, we may end up in a situation like below and we can make sure that when we list all `stable` revisions, the one with the largest revision number is deployed the last:

[code]

Do you think having large revision numbers may cause

[2022-11-01 15:17] ezgidemirel commented on #3015
Hey @wilhelmi, noticed that you're using different `metadata.name`s in your manifests. Do you have a use case for that? I think what you observe is expected regardless of composition revisions.

[2022-11-01 20:51] danports commented on #3407
Thanks. What jumps out at me in the debug logs at first glance is that Crossplane is reconciling the same package every 15 seconds:

[code]

I don't see anything particularly notable in that `Provider` resource - and as mentioned earlier, I haven't changed the definitions of my providers in a long time:

[code]

I've got another provider installed (the SQL provider) that is only being reconciled 1

[2022-11-01 20:58] hasheddan commented on #3407
@danports gotcha, this matches my expectation here as what would be causing the high CPU 👍🏻 I'm not sure what is consistently triggering, are there any other logs being emitted following the reconciles? It could be related to you using the `master` tag, though your pull policy indicates it shouldn't be.

[2022-11-01 21:04] negz commented on #3415
Ah, my mistake. That sounds fine to me. I do personally think being able to know that a Composition has reverted to a previous state is a nice property to have, but I don't think it's critical.

[2022-11-01 22:54] danports commented on #3407
There was a composite being reconciled fairly often too - I'll check on that. I don't think it's the `master` tag, since I'm using that tag for the SQL provider and it isn't triggering continuous reconciliations there. I have been meaning to switch to more specific tags though so I can have a more controlled upgrade process, so I might try that just to see if it helps.

[2022-11-02 13:54] macmiranda commented on #3422
May we add `PrometheusRules` chart support to this request @gmykhailiuta?

[2022-11-02 13:57] macmiranda commented on #3422
Actually, thinking about it, I don't really see the need for `PodMonitors` since we can use the scrape annotations for that.
I'll create a new issue for the `PrometheusRules` then

[2022-11-02 14:07] macmiranda opened #3435 "Add PrometheusRules support to the chart and a few basic rules for monitoring"
### What problem are you facing?
Need to create `PrometheusRules` for monitoring so I can be alerted in the event something goes bad with the Crossplane controller(s) beyond the typical Kubernetes metrics.
I'm mostly talking about `go_` ,`controller_runtime_` or `workqueue_` metrics that could be useful for alerting.
@hasheddan already suggested how some of these metrics can be used for performanc

[2022-11-02 14:27] AaronME opened #3436 "Ensure chart deploys to release namespace"
### What problem are you facing?
Crossplane charts currently do not have a `namespace` defined on namespaced resources.

### How could Crossplane help solve your problem?
Update the crossplane charts with `metadata.namespace: {Release.namespace}`  to ensure namespace is set during a `helm template` operation.

[2022-11-02 17:05] #3436 closed

[2022-11-03 14:47] Santosh1176 commented on #3293
Hey @negz, can I work on this. Could you also please point to some resource to reproduce this behaviour.

[2022-11-03 14:52] chlunde commented on #3240
@negz primarily that it seems unmaintained, events are GCed and difficult to know when another event supersedes something.

Here is an alternative approach like "kube-state-metrics". It's just a POC at the moment, we can make everything configurable, or even auto-discover managed resource types etc.

https://github.com/chlunde/xp-state-metrics

[2022-11-03 14:59] dee0sap commented on #3293
@Santosh1176 For my team the script in the attached lease.zip ( see my previous comment ) reproduced the problem.

[2022-11-03 17:00] Santosh1176 commented on #3293
Thanks, I'll take a look.

[2022-11-03 21:27] Piotr1215 commented on #3339
This can be closed, addressed in this PR: https://github.com/crossplane/crossplane/pull/3343

[2022-11-03 21:27] #3339 closed

[2022-11-03 22:54] negz commented on #3398
@plumbis and I just had a quick sync, and are broadly aligned on this outline. Recapping what we discussed:

* The getting started guides will cover Composition.
* We might 'rename' the getting started guides to focus on the problem being solved (e.g "build a platform on AWS")
* We'd like to include an overview / intro to Crossplane, what it's for, and the key concepts as the docs entrypoint

[2022-11-04 07:57] phyzical commented on #2869
just thought i would add my usecase/issues relating to using crossplane in conjunction with argocd as its a blocker at this time to consider using it.

I can confirm terrajet/ the upbound aws-providers install fine and the crds are created.
But with these installed a sync takes upwards in the range of 7-10 minutes without any claims even created.
If i remove either of these providers and just use

[2022-11-04 08:40] jribmartins commented on #2535
This would be nice, we need to mount volumes in order solve the security warning in azure:
_"**Immutable (read-only) root filesystem should be enforced for containers**"
Containers should run with a read only root file system in your Kubernetes cluster. Immutable filesystem protects containers from changes at run-time with malicious binaries being added to PATH._

[2022-11-04 10:55] jeanduplessis commented on #3017
Closing this issue as we now have slate[bot] to take care of it.

[2022-11-04 10:55] #3017 closed

[2022-11-04 11:08] luebken commented on #3398
I always wondered if there could be a cleaner way to verify a provider is authenticated.

[2022-11-04 16:15] gmykhailiuta commented on #3422
Sure, adding `PrometheusRules` would be good.

[2022-11-04 20:28] chlunde commented on #3240
Wow! I just discovered that maybe kube-state-metrics can do everything we want now: https://github.com/kubernetes/kube-state-metrics/blob/master/docs/customresourcestate-metrics.md

Not sure if it makes sense to do anything crossplane-specific, I'll look into it. The only thing I don't see at the moment is getting `_ready_time` from `conditioned.GetCondition(xpv1.TypeReady).LastTransitionTime.Time

[2022-11-05 12:31] jpoley commented on #1722
I know there is a workaround for this. but are there plans / considerations of having a longer term resolution in the .11 release? just wondering

[2022-11-05 20:17] danports commented on #3407
I switched away from the `master` tag today, and that doesn't seem to have made a difference. I did notice though that after a couple of days on 1.10.1, CPU usage dropped to about 50m - still far higher than in previous releases, but an improvement nonetheless. Going to wait a few days to collect more data and then dig into the logs again.

[2022-11-07 11:20] gberche-orange commented on #3417
thanks @turkenh @bobh66 for your responses, and sorry for my late response, I was out of office past 2 weeks.

Imagine something like provider-mock where you instruct the provider (via Custom Resources) on which MR should be watched and what to do when they are created with a similar schema you shared above.

Can you please clarify whether you mean
- a) the Composition would still reference a real

[2022-11-07 15:31] bobh66 commented on #3417
I believe that if you used crisscross as the implementation you could _not_ install the original providers in the test environment and  register the "real" API groups/versions/kinds with crisscross so the original composition is unchanged but the "provider" responding to the API calls is crisscross instead of the original provider.   That would give you full control over the behavior of the mock p

[2022-11-07 16:57] muvaf opened #3441 "Report which resources are blocking the transition to Ready state"
### What problem are you facing?

I was debugging a composition and got stuck at figuring out why it wouldn't transition to `Ready: True` state even though all resources returned with `kubectl get managed` were ready. Turns out I forgot to add the following to a `ProviderConfig` in my composition:
[code]

### How could Crossplane help solve your problem?

We can have a status field with `omitempty

[2022-11-07 16:59] muvaf opened #3442 "Document the fact that XRD updates require Crossplane restart"
### What problem are you facing?

I might be the only one who knows about this since I did the initial implementation so we need to document it. The reason is that we spin up a new controller for every CRD we produce but those controllers work on the cached schema, so the schema cache needs to be refreshed and that doesn't happen unless you restart the pod (the last I checked).

### How could Cros

[2022-11-07 17:43] gberche-orange commented on #3417
thanks @bobh66 for clarifying use of approach a) using [crisscross](https://github.com/crossplane-contrib/crisscross) as an implementation, and configuring the "mock provider" using an api endpoint for each .

I understand this approach would require to dedicate a K8S cluster as a test environment with an installed `gcp-mock` provider implemented using crisscross. This could possibly be a KIND.

T

[2022-11-07 18:33] justenstall commented on #2873
I see this issue was closed due to inactivity, is there any chance this gets picked up?

[2022-11-08 07:27] ezgidemirel commented on #3015
Closing the issue, because it seems like expected behavior. Please feel free to reopen and provide further details if you disagree.

[2022-11-08 07:27] #3015 closed

[2022-11-08 07:58] el-mail opened #3443 "RBAC permissions issue in OpenShift"
### What happened?
I've got a permission issue that seems to only apply to OpenShift.
Similar issues here:
https://github.com/GoogleCloudPlatform/k8s-config-connector/issues/434
https://github.com/spotahome/redis-operator/issues/98
https://github.com/jaegertracing/jaeger-operator/issues/461

### How can we reproduce it?
1. Run crossplane on openshift
2. Try to change the version in `Provider` and

[2022-11-08 08:35] el-mail commented on #3443
also error logs
[code]

[2022-11-08 16:42] jessesanford commented on #3048
@stevehipwell I would love to brainstorm with you further on this. We are considering a few different mechanisms to allow for evaluation of signatures on a per package basis. We also are considering policies vs creating lists of approved signers. Maybe you could make suggestions in the context of the one pager design doc?

[2022-11-08 20:07] jbw976 commented on #3442
@muvaf is there not a programmatic way to invalidate the cache, or perform a new discovery or something? If folks have to manually restart the crossplane pod when making an update to a XRD then lots of people are going to get bit by then, even if it is documented 😇

[2022-11-08 21:33] crenshaw-dev commented on #2773
I think this was done. https://github.com/argoproj/argo-cd/pull/9791 https://github.com/argoproj/argo-cd/pull/10198

[2022-11-09 17:06] iciclespider commented on #2869
It seems the AWS provider is the main offender here.

What I think the AWS provider should do it break it into individual providers based on the aws api group. This is exactly what this AWS Java client does: https://github.com/aws/aws-sdk-java. Each AWS api group is its own jar, so only the api groups needed have to be part of the JVM classpath.

[2022-11-09 19:36] stevehipwell commented on #3048
@jessesanford I'll add some comments to the one pager.

[2022-11-10 01:55] #2943 closed

[2022-11-10 02:50] jbw976 commented on #3139
/fresh - I know this is still causing pain for folks 😂

[2022-11-10 11:15] #3345 closed

[2022-11-10 15:24] cebernardi commented on #3414
hi, I'm the customer :)
we would be interested into collaborating to this feature, if it's in line with the project philosophy.

our use case is exactly what @nabuskey described: we have multitenant environments with strong namespace segregation, so that users receive elevated permissions in their assigned namespaces.

While the platform team owns and maintains crossplane "parent" and a few "offic

[2022-11-10 16:29] natereid72 opened #3449 "Don't report `no such field` in Composite events for fields that are set to policy.fromField: required"
### What problem are you facing?

With Composites resource templates patching to Composite `status` field and other templates patching from that `status` field, the XR streams `no such field` to the events. This causes confusion for troubleshooting in some cases.

[code]

### How could Crossplane help solve your problem?

When a field has policy fromField required, add a default wait of some appro

[2022-11-10 22:10] negz commented on #3414
If I'm understanding correctly, what you're asking is to be able to _run a provider deployment_ in a different namespace from crossplane-system. Is that actually all you need, or are you asking for a team to be able to deploy a Crossplane provider that is more broadly isolated to only their namespace?

I ask because while allowing a provider deployment to run in a different namespace is (presumabl

[2022-11-10 22:39] nabuskey commented on #3414
Thanks for the response! I believe @cebernardi would like is to be able to run a **_provider deployment_** in a different namespace.
@cebernardi Please correct me if I am wrong. Is what Nic outlined above something you are okay with? Perhaps you can give the other team limited access to `kind: Provider`?

[2022-11-11 10:02] haorenfsa commented on #1730
I think it make sense to compose existed `composite resource` claims into a new `composite resource`. The claim itself is a namespaced resource.
So composing namespaced resources should be supported.
And hence `composing arbitrary Kubernetes resources` are also supported naturally.

[2022-11-11 10:15] haorenfsa commented on #1730
Another case is that Google Cloud Platform(GCP) has their own kind of `provider-gcp` implementation called [config-connector](https://cloud.google.com/config-connector/docs/reference/overview) (which is namespaced, and also has the `Ready` condition). Other cloud service may also provides their own. Crossplane should be able to make composition by these CRs

[2022-11-11 18:17] Duologic commented on #2869
This is actually a very nice idea that potentially could be easy to implement as a pattern in upjet/terrajet.

[2022-11-11 20:34] yogeek commented on #2869
Isn't it the design chosen by AWS for their ACK controller ?
https://aws-controllers-k8s.github.io/community/docs/community/overview/#container-images

[2022-11-12 01:54] #3224 closed

[2022-11-13 04:33] natereid72 commented on #3449
This is another case of confusing error message that I commonly encounter.

[code]

This type of error refers to a specific Composition and specific line in that Composition. But the issue is actually in an entirely different Composition.

[2022-11-13 04:41] jbw976 commented on #1722
Hey @jpoley, just following up here in Github too from our [Slack chat](https://crossplane.slack.com/archives/CEG3T90A1/p1668020417128639?thread_ts=1667651999.860559&cid=CEG3T90A1) - observe only resources is definitely a highly demanded feature and we are expecting some of the team to be focusing on it for 1.11.  I'm not going to say it's definitely going to make the release, it's still early day

[2022-11-14 03:12] natereid72 commented on #3066
I believe this is being pursued in another open issue. Closing.

[2022-11-14 03:12] #3066 closed

[2022-11-14 06:41] kertzi commented on #3070
/fresh

[2022-11-14 09:34] haarchri opened #3451 "v1.10.0 -> v1.10.1 client rate limiter Wait returned an error: rate: Wait(n=1) would exceed context deadline"
### What happened?
we updated our crossplane setup from v1.10.0 to v1.10.1 - all of our compositions logging the followings events:

[code]

[code]

in debug we see the following:

[code]

[code]

### How can we reproduce it?

### What environment did it happen in?
Crossplane version: v1.10.1

[2022-11-14 10:12] cebernardi commented on #3414
yes, exactly.

we would be happy just with this feature, we can manage permissions on cluster-wide resources in another way.

@negz if there are no other ongoing efforts to achieve this, I'm keen to take a stab

[2022-11-14 12:12] hasheddan commented on #3429
This has been completed.

[2022-11-14 12:12] #3429 closed

[2022-11-14 12:16] hasheddan commented on #3451
@haarchri thanks for this report! Carrying over a bit of our Slack conversation, I would guess that the behavior here is less about a change included in v1.10.1 (which https://github.com/crossplane/crossplane/pull/3427 was the only functional update, and it hopefully would reduce the reconcile churn on packages), and more about the fact that upgrading likely caused everything in the environment to

[2022-11-14 14:26] fahedouch commented on #2703
Crossplane Ansible Provider is living here : https://github.com/crossplane-contrib/provider-ansible

[2022-11-14 19:54] #3011 closed

[2022-11-15 02:54] dlydiard commented on #3443
I worked around this problem by creating:
[code]

However, this problem also exists for the `provider-aws-(uid)` SA. Since the SA has a random suffix in the name, i'm not sure how to fix this. Is there a way to override the name of the SA that gets created by the Provider?

[2022-11-16 01:06] dlydiard commented on #3443
Update used:
[code]
This seemed to do the trick using the aws provider for s3/rds on OpenShift.

[2022-11-16 07:13] chobostar commented on #3443
I found some more issues with missing RBAC, so I decided to clarify the issue.

### What happened?

Crossplane rbac-manager doesn't support clusters with [OwnerReferencesPermissionEnforcement](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#ownerreferencespermissionenforcement) plug-ins enabled. Because of missing `update` verb on `/finalizers` subresources.

As a re

[2022-11-16 12:01] MisterMX commented on #3451
We experience the same issue with v1.10.0

[2022-11-17 00:23] #3001 closed

[2022-11-17 01:56] jbw976 commented on #1805
/fresh this functionality comes up fairly frequently

[2022-11-17 01:57] jbw976 commented on #2099
/fresh this is actively being worked on in #3007 and in high demand.

[2022-11-17 02:01] jbw976 commented on #2762
/fresh I believe this is still relevant as part of supporting effective composition revisions

[2022-11-17 10:37] chobostar commented on #3443
the fix is still not merged for it: https://github.com/crossplane/crossplane/pull/2880

Additional notes:
1. This wildcards usage:
[code]
 is against [best practices](https://kubernetes.io/docs/concepts/security/rbac-good-practices/#least-privilege):
[code]
2. Here
[code]
 I believe correct subject should be:
[code]
according to [examples](https://kubernetes.io/docs/reference/access-authn-authz/rb

[2022-11-17 19:13] #3415 closed

[2022-11-17 19:13] #2544 closed

[2022-11-17 22:53] shanproofpoint commented on #3293
is this related?
`
Page 1 (Lines 1 to 6)
6
I1117 22:50:58.358184       1 request.go:601] Waited for 1.000110377s due to client-side throttling, not priority and fairness, request: GET:https://10.60.0.1:443/apis/gcp.jet.crossplane.io/v1alpha1?timeout=32s
5
I1117 22:51:01.958554       1 leaderelection.go:248] attempting to acquire leader lease crossplane-system/crossplane-leader-election-rbac...
4
I

[2022-11-17 22:54] shanproofpoint commented on #3293
i also observe rbac manager keeps restarting

[2022-11-18 01:17] shanproofpoint commented on #3293
--manage=All
      --provider-clusterrole=crossplane:allowed-provider-permissions
    State:          Waiting
      Reason:       CrashLoopBackOff
    Last State:     Terminated
      Reason:       OOMKilled
      Exit Code:    137
      Started:      Thu, 17 Nov 2022 17:13:55 -0800
      Finished:     Thu, 17 Nov 2022 17:14:43 -0800
    Ready:          False
    Restart Count:  19

[2022-11-18 10:20] ytsarev commented on #3059
/fresh

[2022-11-18 10:22] ytsarev commented on #2072
/fresh

[2022-11-18 10:22] ytsarev commented on #1143
/fresh

[2022-11-18 12:36] MisterMX opened #3454 "ToComposite Patches are executed out-of-order"
### What happened?

Composition patches are not executed in the order they are listed.

All `ToComposite*` patches in Crossplane are not executed within the order they are listed. Given the following patch list:

[code]

One would expect the execution order `1 - 2 - 3`. However,`ToComposite*` patches are executed only *after* the composed resources have been rendered *and* created on the cluster.

[2022-11-18 15:19] gberche-orange commented on #3443
I'm also reproducing the problem in crossplane opensource version 1.10.1 on openshift 4.10.30 but I'm not what that triggered the problem since the [OwnerReferencesPermissionEnforcement](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#ownerreferencespermissionenforcement) seems present by default in openshift since version 4.6, which is quite old now.

[code]
@negz a

[2022-11-18 18:29] bobh66 commented on #3293
I was also seeing OOMKilled on the RBAC pod on AWS with leaderElection disabled.   I bumped the memory limit up to 1Gi and that seems to have let it finish what it was doing and now it has stabilized at 230M memory usage and it is not restarting.

I wonder if the parallel processing of X/CRDs increases the memory usage temporarily such that the default limit is not sufficient?  Maybe either an inc

[2022-11-18 19:13] shanproofpoint commented on #3293
I also suspect this. I am in the middle of transitioning to new providers so i have both sets of providers in memory. perhaps the rbac manager needs more linear to the number of crds.

[2022-11-18 23:38] #3199 closed

[2022-11-18 23:41] negz commented on #3454
Often `ToComposite` patches are used to patch data that doesn't exist until the "from" (composed) resource has been created - e.g. to copy status information from the composed resource to the composite. Given this constraint, how would you propose it should work instead?

[2022-11-19 21:13] aabouzaid commented on #3392
If there is a way to run the providers directly as a command (maybe via the upbound CLI), that would be ideal to bootstrap the first cluster using the same syntax and tools.

[2022-11-21 01:39] liubog2008 opened #3455 "Backoff is not working if status updated"
See the detail at https://github.com/crossplane-contrib/provider-aws/issues/1572

PR attempting to fix in provider-aws: https://github.com/crossplane-contrib/provider-aws/pull/1587

### Related issues

- https://github.com/crossplane/crossplane/issues/3840

[2022-11-21 01:54] #3146 closed

[2022-11-21 01:54] #2414 closed

[2022-11-21 08:06] tbmetcalfe commented on #3248
/fresh

[2022-11-21 08:08] gberche-orange commented on #3443
I've worked around the issue in the opensource version with

[code]

[2022-11-21 09:50] mmartinalo commented on #3443
Thanks @gberche-orange the last update for opensource version worked for me.

But instead of use the apiVersion of openshift  in the _ClusterRoleBinding_:
`apiVersion: authorization.openshift.io/v1`

I used the authorization group of kubernetes:
`apiVersion: rbac.authorization.k8s.io/v1`

[2022-11-21 11:53] gberche-orange commented on #3443
thanks @mmartinalo, good catch, I've updated https://github.com/crossplane/crossplane/issues/3443#issuecomment-1321636977 with the native K8S api groups which reduces dependencies on openshift api.

[2022-11-21 19:02] grantgumina opened #3456 "Empty overview section on XP docs"
### What happened?
When I expand the overview section, there isn't any content in there.

![image](https://user-images.githubusercontent.com/372681/203137716-04dc886b-7bd4-40e9-aa74-2581f9da8485.png)

I'd expect there to be some content in there, or none if `Overview` doesn't have sub-categories/docs.

### How can we reproduce it?
Go to any of the docs versions, and expand the overview accordion w

[2022-11-21 20:51] thiagoabdo opened #3457 "Updating XRC does not update the managed resource"
### What happened?
Updating a XRC list does not reflect in the managed resource

### How can we reproduce it?

<details><summary>XRD:</summary>

[code]

</details>

<details><summary>Composition:</summary>

[code]

</details>

<details><summary>Claim:</summary>

[code]

</details>

Create the Object Storage, try to changing tags or deleting them. No changes will reflect at the manage resource, the

[2022-11-22 01:55] #3149 closed

[2022-11-22 01:55] #3049 closed

[2022-11-22 01:55] #3067 closed

[2022-11-22 01:55] #3043 closed

[2022-11-22 01:55] #3042 closed

[2022-11-22 01:55] #2964 closed

[2022-11-22 01:55] #2532 closed, assigned to nobody

[2022-11-22 01:55] #2417 closed

[2022-11-22 01:55] #2364 closed

[2022-11-22 01:55] #2313 closed

[2022-11-22 01:55] #2148 closed

[2022-11-22 01:55] #2157 closed

[2022-11-22 01:59] plumbis commented on #3177
/fresh

[2022-11-22 08:26] MisterMX commented on #3454
I don't have an issue with the way these patches are used. The problem I see here is that the API does imply a specific order which isn't actually given. I've had multiple users complaining that there patches "don't work" because they expected their `ToComposite*` patches to be executed in the order the defined them.

To make this clearer in the API, there should be a designated field `patchesAfte

[2022-11-22 13:09] gberche-orange commented on #3197
/fresh

[2022-11-22 13:11] mcanevet commented on #2943
@YashasviChaurasia are you still interested in working on this? I'd really like to have this feature.

[2022-11-22 14:10] remidebette commented on #2957
Hi,
I do not understand why this issue is closed.
We spent an amount of time understanding this while trying to deploy Crossplane.

Why the default behavior would be a broken behavior?

[2022-11-22 15:50] cebernardi commented on #3414
@negz how would you want to proceed, would you prefer a description of the proposed changes, before starting?

[2022-11-22 17:04] jonnylangefeld opened #3459 "`kubectl get managed` takes a long time to gain results"
### What problem are you facing?

On a test cluster I have the aws and gcp provider installed. I have a single composition for an encrypted storage bucket that generates 6 gcp provider resources. I created one instance of such a bucket.
If I try to list the generated resources via `kubectl get managed`, it takes over 1 minute to gather the results:

[code]

That is due to the fact that kubectl mak

[2022-11-23 01:54] #2929 closed

[2022-11-23 01:54] #2913 closed

[2022-11-23 04:22] plumbis opened #3461 "Move docs out of the crossplane/crossplane repo"
### What problem are you facing?
There has been a long standing policy of having docs next to code.  As a result the /docs folder contains the docs for that release. After a release is cut, updates to the docs requires a backport patch to the specific branch.

This creates four main negative side effects:
1. There is no (simple) method to do local development of documentation and see styling of a

[2022-11-23 04:30] hasheddan commented on #3461
Just providing some context that https://github.com/crossplane/crossplane/pull/3375 added the ability to run docs locally from the Crossplane repo.

[2022-11-23 04:43] plumbis commented on #3461
I would encourage maintaining a similar workflow with make for crossplane/crossplane maintainers but I would consider installing and using `make` (and submodules) an unnecessary barrier to entry for docs contributions.

[2022-11-23 05:17] bassam commented on #3461
What strategy are you proposing for maintaining multiple versions? Subdirectories for each supported version or branches?

[2022-11-23 05:50] negz commented on #3461
If we break out docs, what will the workflow be for contributors who are not dedicated docs maintainers, but who (e.g.) are adding or changing a Crossplane feature? I'm thinking for example a community member adding a new Composition transform. Would we need to ask them to go open a docs PR in a separate repository and then block their feature PR against c/c until that docs PR was merged?

[2022-11-23 07:44] jeanduplessis commented on #3461
In my opinion, the ideal scenario has always been for code and documentation to live together in the same repo. From a development process, you want to see code, test, and docs in the same PR, not separate ones.

The tooling and UI for docs can and likely should be in a separate repo which will pull in the docs files at build time.

[2022-11-23 07:57] negz commented on #3459
Yeah, I thought we had an issue tracking this already but apparently not - thanks for raising it.

This is a really tough one to fix thanks to the very request-heavy nature of CRD category queries. I can't imagine there's much that could be done other than server-side aggregation, such that the API server exposed a single endpoint allowing folks to list a category of resources rather than a single

[2022-11-23 14:18] asajoshi opened #3463 "managed secret gets created but claim and composite secrets are not getting propagated"
### What happened?
Trying to create and propagate secrets for azure resource with following configuration , it creates a managed resource secret with secret keys and values but no data gets propagated to composite or claim resource from the managed resource secret.

Same configuration is tried out for Postgres, and it works but for storage account it seems to create blank secrets .

That brings me

[2022-11-23 14:58] ndlanier commented on #2236
Please re-open

[2022-11-23 20:38] negz commented on #1612
I believe this was fixed by https://github.com/crossplane/crossplane/pull/3321

[2022-11-23 20:43] negz commented on #3454
Is the idea that `ToCompositeFieldPath` patches would only work in the `patchesAfterApply` block? If that was the case it would be a breaking API change. If it wasn't the case, it seems like a negligible UX improvement (you could still put them in the `patches` array and be confused.

I'm wondering whether addressing this with documentation would be sufficient - i.e. clarifying that patches may no

[2022-11-23 20:48] negz commented on #1730
You can already compose XRs into a new XR, which is functionally the same.

Why would we support this instead of our own provider-gcp?

[2022-11-23 20:49] negz commented on #1730
At this point I don't think Crossplane is going to support composing arbitrary Kubernetes resources (except via providers such as provider-kubernetes and provider-helm), at least not without "Crossplane v2" level architectural and API changes.

[2022-11-23 20:49] #1730 closed

[2022-11-23 21:09] ivanovaleksandar commented on #2869
So, as many people pointed out the impact on user experience, this can be a deal breaker for those that are just starting out.  This issue becomes even more exaggerated when you want to monitor the deployed resources. You lack visibility because you are being met with a wall of CRDs that you don't know what they are.

But also looking at the practical side, deploy one resource and compare the perf

[2022-11-23 22:00] plumbis commented on #3461
@bassam

Subdirectories. This is how the website is organized today.  There would be no change to the current docs repo.

@negz

Yes. The docs PR would be issued against the docs repo. This doesn't change the fact that the PR and issue discussions are still in the repo with the code along with any one-pagers or architectural specs.

No, docs should never block code. If there is code and no docs it

[2022-11-24 01:54] #2905 closed

[2022-11-24 01:54] #2450 closed

[2022-11-24 01:54] #1782 closed

[2022-11-24 06:24] jeanduplessis commented on #1476
/fresh

[2022-11-24 06:46] jeanduplessis commented on #3461
Do we have examples of other popular open-source projects who separate out their docs from code and has a healthy contribution from the community? For instance, I could be persuaded this is a good idea if it encourages and makes community contributions to documentation easier. Sometimes the easiest way to get into contributing to a project and giving back is by helping with the docs.

[2022-11-24 06:47] jeanduplessis commented on #2976
/fresh

[2022-11-24 06:49] jeanduplessis commented on #2704
/fresh

[2022-11-24 08:06] eloo commented on #2869
We have also discorded a negativ effect of this issue in combination with Kyverno.
Kyverno is also trying to fetch the CRDs and thus puts some extra pressure on the system just because we are not able to limit the number of CRDs deployed by crossplane.

The current approach really doesn't seem to scale.

[2022-11-24 08:54] liubog2008 commented on #3455
I have a fix https://github.com/crossplane-contrib/provider-aws/pull/1587

[2022-11-24 13:46] ivanovaleksandar commented on #3459
I think that this is closely related to this: https://github.com/crossplane/crossplane/issues/2869 . The performance degradation is tied with the bloat that crossplane needs to go through. I faced the same thing when working with compositions and wanted to have a congested view of related resources, so using `kubectl get managed` is the most logical approach.

[2022-11-24 14:37] plumbis commented on #3461
Yes, other CNCF projects that do this include:
- [Kubernetes](https://github.com/kubernetes/website)
- [Helm](https://github.com/helm/helm-www)
- [etcd](https://github.com/etcd-io/website)
- [Prometheus](https://github.com/prometheus/docs)

100% agree! Our process now creates a confusing barrier to that. If you want to fix a docs bug you can't just edit a file,  you need to know about which repo a

[2022-11-25 01:54] #2912 closed

[2022-11-25 01:54] #2378 closed

[2022-11-25 01:54] #274 closed

[2022-11-25 14:14] hasheddan opened #3466 "Consider restricting non-unique objects in packages"
### What problem are you facing?

Crossplane packages are currently deemed conformant if they adhere to the [xpkg specification](https://crossplane.io/docs/v1.10/reference/xpkg.html). The spec limits the _types_ of objects that can be present in a `package.yaml`, but does not currently require that all object are unique within the context of a single cluster. For example, an author could have mult

[2022-11-25 15:53] ezgidemirel commented on #2656
Hello everyone, we've finished the tasks in this issue and we believe that we can promote composition revisions to v1beta1 now. If you're interested in the feature you can install the latest changes with the commands below:
[code]
Any suggestions/feedback is more than appreciated!

[2022-11-28 02:20] jbw976 commented on #2772
/fresh

[2022-11-28 10:48] turkenh commented on #3285
@codes4coffee please consider reopening by providing more details if this is still an issue you're having.

[2022-11-28 10:48] #3285 closed

[2022-11-28 12:40] gberche-orange opened #3468 "Copying values between two composed resources is unreliable, and breaks XRC encapsulation"
### What happened?

#### Expected behavior

From https://github.com/crossplane/crossplane/blob/master/design/one-pager-composition-environment.md

From https://crossplane.io/docs/v1.10/reference/composition.html#patching-from-one-composed-resource-to-another

#### Observed behavior

##### string copied within XR.metadata.annotation

Some slack threads such as https://crossplane.slack.com/archives/

[2022-11-28 13:14] gberche-orange commented on #3417
thanks @ytsarev ! Simulating cloud provider APIs has some benefits in terms of initial set up simplicity, but is likely to require much maintenance of the "simulated api responses" in the long run.

Also, simulating api endpoint accessible through tls implies to run tools such as hoverfly as a man-in-the-middle tls proxy. This would require most crossplane providers to support injecting custom Cer

[2022-11-28 13:39] ytsarev commented on #3009
this issue is most probably still around

[2022-11-28 13:42] ytsarev commented on #3417
@gberche-orange great points, CA injection is still not around, I've started the discussion a while ago here https://github.com/crossplane/crossplane/discussions/2777

https://github.com/crossplane/crossplane/issues/2535 would also help here.

[2022-11-28 14:27] turkenh commented on #1722
We are starting to work on this ticket, you can expect a design PR soon 🚀

[2022-11-28 19:57] plumbis commented on #3461
Another justification for this is to apply more fine-grained access controls over the docs.

Current only users with write access to the crossplane repo can accept PRs into the docs. There is no way to apply write access on a per-directory basis. Any docs change, including a typo or link fix requires a maintainer to approve. For example, #3470 and #3464.

[2022-11-28 20:32] jeanduplessis commented on #3461
I've come around to see why this might be a good idea and am in favor of supporting Pete's proposal. Practically, it adds a little bit of overhead to project contributors, but it sets us up to scale to better processes around documentation authoring as the project grows.

[2022-11-28 21:58] negz commented on #3461
I'm a little wary of moving docs further from code, mostly due to the overhead added for project contributors.

Perhaps better understanding our approach to docs would help me here; are we "optimizing" for an "everyone writes documentation" approach, or are we imagining a team of documentation contributors somewhat distinct from the folks contributing (code) bug fixes, features, etc? The rationale

[2022-11-28 22:01] negz commented on #3461
I think `CODEOWNERS` could help here. For example if we wanted a distinct "docs maintainer" (or docs focused maintainer) role to apply to c/c code we could:

1. Return to requiring approval from a CODEOWNER before a PR could be merged.
2. Make docs folks CODEOWNER of the `docs/`, but not other things.

This would effectively grant docs maintainers the ability to approve things that touched `docs/`

[2022-11-28 22:02] #2656 closed

[2022-11-28 22:59] negz commented on #3274
I wanted to highlight something that might not be obvious. This is the case in the codebase today, but that is largely because while CompositionRevision is pre-GA we wanted to keep the code as similar as possible whether CompositionRevisions were enabled or disabled. So currently all the actual "rendering" code is attached to the `Composition` type.

While there probably won't be a "CompositionRev

[2022-11-29 00:38] negz commented on #1476
We actually already have some Composition validation code, for example:

https://github.com/crossplane/crossplane/blob/9850b98edc3362c41f66997a12d7b3adb916eace/internal/controller/apiextensions/composite/composed.go#L107

Currently this code (i.e. `RejectMixedTemplates` and `RejectDuplicateNames`) lives in the XR reconciler, and will fail to reconcile any XR that uses an invalid Composition. This

[2022-11-29 03:04] negz commented on #3274
I noodled on some things that may address this today.

I tried using `go generate` to generate the `CompositionRevision` type at build time, basically by taking the `Composition` type, copying it (just using `cp composition.go revision.go`), and renaming the type. This turned out to be painful because the two types aren't actually identical; we need to "mix in" things like `spec.revision`, and `st

[2022-11-29 05:14] natereid72 commented on #1805
Seems to me that crossplane cli makes sense. But also some form of system feedback from provider with a provider config option would be useful for gitops scenarios.

But only if there is a need for `plan` functionality given you can only delete resources if you actually implicitly delete them. Plan seems to me to be an artifact of TF apply being capable of resulting in resource deletion. This isn'

[2022-11-29 07:07] haorenfsa commented on #1730
hi @negz .  Is there an example or document about composing XRs?  It seems to me that since XRs are namespaced resources, and Crossplane does not supports namespaced resources, so it cannot be composed into a new XR.

[2022-11-29 10:05] emilkje opened #3475 "Installation docs contains duplicate / partial information"
### What happened?

The installation documentation contains partial and duplicate paragraph

### How can we reproduce it?

See first paragraph: https://crossplane.io/docs/v1.10/reference/install.html#install-crossplane

### What environment did it happen in?
Crossplane version: 0.10

[2022-11-29 17:17] luebken opened #3476 "Docs: Document compositeDeletePolicy"
As followup to the feature https://github.com/crossplane/crossplane/issues/3225 we should document that feature including options including use-cases. A great resource is the design doc: [design-doc-foreground-deletion.md](https://github.com/crossplane/crossplane/blob/master/design/design-doc-foreground-deletion.md)

[2022-11-29 19:04] negz commented on #3476
@luebken it's covered in the reference docs. Do you think it needs more?

https://crossplane.io/docs/v1.10/reference/composition.html

[2022-11-29 19:15] negz commented on #2869
If we did take a path of allowing folks to install fewer CRDs (let's say allowing folks to optimize the ratio of installed to used CRDs) this would be my preferred approach as well, as opposed to allowing a configurable filter when installing a provider. Today's implementation of cross-resource references (e.g. `vpcIDRef`) wouldn't work under this model, so we'd need a good solution for https://gi

[2022-11-30 01:09] plumbis opened #3477 "RFO: DNS Outage November 28"
The following is a postmortem of the DNS outage impacting crossplane.io on November 28, 2022.

----

## Summary:

Poor coordination with the CNCF on a planned DNS change resulted in an unexpected outage of most crossplane.io properties for approximately one hour on Monday Nov 28.

Missing DNS entries were added, resolving the issue.

Since the migration was completed there is no chance of a recurr

[2022-11-30 01:09] plumbis commented on #3477
This issue has been opened for transparency and community visibility. It will be closed within the next 24-hours.

[2022-11-30 02:33] plumbis commented on #3461
Adding users to CODEOWNERS still requires [write access to the repo](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners). My point is "why give folks write access to the entire repo for a single folder?"

I don't see these as mutually exclusive. Making documentation contributions easier for anyone is a more inclusiv

[2022-11-30 02:48] chaosaffe commented on #3477
@plumbis I'm not sure if y'all are aware but https://crossplane.io is throwing 404s

[2022-11-30 04:18] jbw976 commented on #3477
Thanks @chaosaffe for pointing that out - looks like Github pages (where the content for crossplane.io is currently hosted) ran into some issues with its certificate and the recent DNS changes.  This was unexpected, but we took the steps to update that certificate and crossplane.io looks to be back online now.

you can follow along with the discussion and debugging in full on Slack: https://crossp

[2022-11-30 04:53] chaosaffe commented on #3477
Awesome Jared, glad y'all got everything sorted!

[2022-11-30 06:59] vasicvuk commented on #3261
/fresh

[2022-11-30 08:21] xiaozjw123 opened #3480 "k8s install crossplane ,then kubectl install configuration package have the problem :Error: failed to start container "provider-aws": Error response from daemon: OCI runtime create failed: container_linux.go:348: starting container process caused "chdir to cwd (\"/home/nonroot\") set in config.json failed: permission denied": unknown"
### What happened?

### How can we reproduce it?

### What environment did it happen in?
Crossplane version: 1.10.1

[2022-11-30 08:23] xiaozjw123 commented on #3480
How should we solve this problem? Thank you  !

[2022-11-30 09:36] MisterMX commented on #3480
@xiaozjw123 thanks for opening this issue. However, the text is empty. Could you edit the description and adjust the formatting? Also please choose a speaking title i.e. `Cannot install configuration: permission denied` and put the error message in the description. Thank you!

[2022-11-30 09:54] chriscowley commented on #267
@rochaporto What was the outcome of that meeting? Is there even a pre-alpha provider that people can start getting their hands dirty with ?

[2022-11-30 12:58] #3480 closed

[2022-11-30 13:51] luebken commented on #3476
@negz Thanks. Somehow my search didn't find that page.

I think the reference documentation is a good start. I do think there is room for a more elaborate example but we can tackle this if we face more questions from users.

[2022-11-30 13:51] #3476 closed

[2022-11-30 15:40] alfredocambera commented on #3010
I'm getting this same issue with IAMPolicyAttachment

[2022-11-30 16:52] stewartshea opened #3483 "Enable RBAC configuration for controllers to observe cross-provider resources"
### What problem are you facing?
I'm attempting to allow resources in one provider depend on a resource created by another provider, but the currently configured rbac configurations don't allow that. To provide a specific example;

The `gcp` provider creates an external address;
[code]

From there, I'd like the `kubernetes` provider to sync the created address into a managed cluster;

[code]

The

[2022-11-30 19:32] plumbis opened #3487 "Remove requirement for Golang install for docs builds"
### What happened?
#3375 added support to use `make docs.run` to import hugo and the [docs website repo](https://github.com/crossplane/crossplane.github.io) for local testing of docs changes.

However `make` fails if golang isn't installed.

This check was removed with build commit https://github.com/upbound/build/commit/47a0691ae288f4850d905b6f6e0eb8000cd9d07f

### How can we reproduce it?
Run `m

[2022-11-30 23:43] #3487 closed