[2019-07-10 05:57] jbw976 opened #572 "Publish a portable wordpress app stack to a registry"
We have a concept of Stacks, so we should provide an example of wordpress as a stack.

Part of the [0.3 release](https://github.com/crossplaneio/crossplane/blob/master/ROADMAP.md#v03---enable-partners-to-build-infra-stacks)

### What seems to be the problem?

Building on the Stacks concept that we want to introduce in #571, we should build a simple Stack that will serve as a concrete example to ma

[2019-07-10 06:05] jbw976 commented on #395
@ichekrygin do you think your merged PR #556 completely takes care of this stale object modification issue? Or is there still more work that we should be tracking in this issue or a new issue?

[2019-07-10 17:11] hasheddan commented on #395
I experienced this error outside of the GCP CloudsqlInstance context so I believe the issue will need to remain open.

[2019-07-11 00:19] displague commented on #571
When addressing the `Extension` to `Stacks` code changes, we may wish to rename the API to `stacks.crossplane.io` or similar, per @negz https://github.com/crossplaneio/crossplane/pull/573#discussion_r302299659

[2019-07-11 03:26] #300 closed

[2019-07-11 07:18] jbw976 commented on #300
Congratulations on fixing your very first opened issue @negz 🎉 lol

[2019-07-15 05:08] jbw976 opened #580 "Stacks isolation and security model (cluster vs. namespace scope)"
To support separation of concerns between admins and users, we need to figure out the security/permissions/isolation model for all API types that are added to the control plane.

One potential starting point to accomplish this with the least amount of friction may be to reuse the cluster vs. namespace scoped model that Kubernetes already exposes.  In a general sense, admins are expected to access

[2019-07-15 21:21] negz opened #584 "Implement a shared managed resource reconciler"
### What problem are you facing?
As a Crossplane maintainer I'd like to encourage and enable others to extend Crossplane by adding support for more managed resources. Each managed resource kind is handled by its own controller. These controllers are scaffolded by kubebuilder and the controller-runtime, but the implementation is otherwise unopinionated. A few generations of reconciler logic exist t

[2019-07-16 02:23] displague commented on #548
With my open PRs (#579, #582, #583), I reached the "It works" phase of deploying a metacontroller-style webhook-based crossplane-stack
https://github.com/displague/sample-extension-metacontroller#creating-a-helloworld-instance (edited)
￼￼￼￼￼
It uses none of the core crossplane resources, but takes the crossplane ~extension~ stack manager for a drive down the scenic route to installing something ve

[2019-07-17 01:49] suskin opened #585 "GCP CloudSQL: Instance names must start with a letter"
### What happened?

When walking through the wordpress demo with GCP, I ran into an issue fulfilling a CloudSQL claim:

[code]

### How can we reproduce it?

* Create a new CloudSQL claim; here's the excerpt from the wordpress demo:
[code]
* Check for a stuck claim; `$ kubectl -n crossplane-system get cloudsqlinstance -o yaml` can be used to list the details of cloudsqlinstances, and the output ca

[2019-07-17 02:26] jbw976 commented on #585
This is somewhat surprising, if all cloudsql instance names had to start with a letter, I'd expect for us to be running into this error 10/16 times (ratio of numbers to letters in hex values).  I've never personally hit this myself, have I just been lucky?

[2019-07-18 02:29] #151 closed

[2019-07-18 04:27] hasheddan opened #588 "Add Documentation and Examples for Default Resource Classes"
With the implementation of default resource classes (#565), documentation needs to be updated to reflect the functionality. Specific documents that may require updates include:
* [Running Resources](https://github.com/crossplaneio/crossplane/blob/master/docs/running-resources.md)
* [Deploying Workloads](https://github.com/crossplaneio/crossplane/blob/master/docs/deploy.md)
* [Concepts](https://git

[2019-07-18 05:24] suskin commented on #585
Potentially, but it also seems the behavior [changed recently to use UUIDs](https://github.com/crossplaneio/crossplane/pull/556/files#diff-b2f116d1d8ff16292384e5f6c9ea3059R245) instead of [prefixing the name with the Kind](https://github.com/crossplaneio/crossplane/pull/556/files#diff-acf4d7d8f425187334e67c237ea3be68L108). The other day when it came up, it sounded like @ichekrygin had more context

[2019-07-18 16:19] muvaf opened #590 "KubernetesApplicationResource cannot find kubeconfig secret"
### What happened?
I was going through Wordpress AWS tutorial on master branch: https://crossplane.io/docs/master/workloads/aws/wordpress-aws.html

All the managed resources are created. An EKS cluster is created and its CR in `crossplane-system` namespace is as the following:
[code]
The `KubernetesCluster` claim that wanted it is the following in the `complex` namespace:
[code]
You might notice t

[2019-07-18 18:44] lukeweber opened #591 "Dynamically list VPCs for a given Region in AWS"
### What problem are you facing?

Considering if someone were to create a UI around Crossplane for AWS resources, the VPCs and Regions don't exist as an explicit type and show up in individual resource classes as a string. A further example of things we might consider how to model would be security groups, rds subnet groups, and more. This concept probably has overlap with design being considered

[2019-07-22 21:36] negz commented on #409
Cross linking this to #569, which tracks the work we're doing around reclaim policies. I could imagine this "import" work could affect that design and work. I've been increasingly thinking about this as "attaching" and "detaching" external resources from management as a Crossplane managed resource.

[2019-07-22 21:41] negz commented on #243
I don't think this issue is relevant anymore. `Workload` is gone, and all the resource claim types expose a standard `.status` field.

[2019-07-22 21:41] #243 closed

[2019-07-22 21:58] negz commented on #528
We've run into a few cases lately in which integration tests would have been handy, for example programmer errors in which I've forgotten to register certain controllers with the controller manager.

Our codebase is entering a state of flux at the moment so integration tests are a bit of a moving target, but some basic MVP scaffold that just ensures Crossplane can start would be a good first step

[2019-07-22 22:37] hasheddan commented on #528
Thanks so much @soorena776, this will be a big improvement!

[2019-07-22 22:42] hasheddan opened #594 "Update all examples with strongly typed resource classes"
Strongly typed resource classes will result in the need to update every example that uses resource classes.

This work will be dependent on the implementation of strongly typed resource classes, the structure of the repository after moving providers out-of-tree, and the pattern implemented for default resource classes. It may be useful to create a separate `crossplane-examples` repository altogeth

[2019-07-22 22:43] hasheddan opened #595 "Update documentation with strongly typed resource classes"
Update existing documentation that has drifted due to strongly typed resource classes, and add section on defaulting using `Policies`.

Part of #613

Related to #588

### What seems to be the problem?

The implementation of strongly typed resource classes requires changes to the way that `ResourceClaims` reference `ResourceClasses` as detailed in #594. This is not yet reflected in existing documen

[2019-07-23 01:16] suskin commented on #568
@hasheddan cool! I was also wishing I had a `crossctl configure` type thing when I was setting up providers, so this seems like it could be beneficial.

Just to make sure someone argues the other side, do you have some of the examples of the commands you've been running? I'm wondering whether some of the use-cases could be satisfied by something lighter-weight, like aliases in a user's shell sessi

[2019-07-23 01:41] negz commented on #331
I think it's really important to remember that most users of Crossplane won't necessarily have access to the pod logs to debug what is happening. I'm all for making it easier to figure out what Crossplane is doing, but let's not forget that we have several tools in our toolbox here, including:

* Info level logging (core audience: cluster operators)
* Debug logging (core audience: Crossplane devel

[2019-07-23 03:19] hasheddan commented on #568
I think it is definitely possible that something lighter weight could do the trick. However, `kubectl` does make it very easy to [implement plugins](https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/).

Most of what I have been doing is related to getting logs from the crossplane pods or provisioning multiple resource sequentially. Therefore, it isn't really new functionality, just s

[2019-07-23 16:06] muvaf commented on #92
In Kubernetes PVC model, PV and StorageClass are cluster-scoped but the PVC, the one consumer actually interacts, is namespaced. In this picture there is no credentials because volume binding operation doesn't require one. But we do require credentials for cloud resources to be used, `Secret` resource is the first option that comes to mind for such use, but that's namespaced and it doesn't make se

[2019-07-23 17:04] suskin commented on #568
Ahhh, excellent; that's exactly what I was hoping they used as their discovery mechanism!

For convenience aliases like you're describing, a reason to resist making an Actual Tool for as long as possible would be that a tool needs to be more aggressively maintained than aliases. Also, it does seem potentially contrary to the [do one thing and do it well](https://en.wikipedia.org/wiki/Unix_philosop

[2019-07-23 17:11] suskin commented on #568
I've just found a [sigs project for managing kubectl plugins](https://github.com/kubernetes-sigs/krew). I expect this will be useful in the future : )

[2019-07-23 19:02] bassam commented on #262
I just noticed https://github.com/kubeform/kubeform /cc @tamalsaha

[2019-07-23 19:09] negz commented on #92
I had the same thought as part of my draft design document for "resource usages", which build on Secrets in Kubernetes. I recommend taking a read of that document in https://github.com/crossplaneio/crossplane/pull/564. I decided to back away from that direction after discussion with @bassam, the notes from which are captured in https://github.com/crossplaneio/crossplane/pull/564#issuecomment-51163

[2019-07-23 20:45] lokeshwar30 opened #596 "MySQLInstance does not come to bound state"
### What happened?

I'm trying to deploy the Wordpress application in GCP, I have followed all the steps from the doc but when I try to deploy a workload mysqlinstance does not come to Bound state.

### What environment did it happen in?
Crossplane version: 0.2

Include at least the version or commit of Crossplane you were running. Consider
also including your:

* Cloud provider or hardware config

[2019-07-23 21:10] hasheddan commented on #596
Thanks for reporting this @lokeshwar30! Could you provide some additional detail by specifying the `STATE` that your `mysqlinstance` is showing and also pasting the output from `kubectl describe`?

[2019-07-23 22:28] suskin commented on #596
This could be related to #585

[2019-07-23 22:31] lokeshwar30 commented on #596
$ kubectl -n crossplane-system get gkecluster -o custom-columns=NAME:.metadata.name,STATE:.status.state,CLUSTERNAME:.status.clusterName,ENDPOINT:.status.endpoint,LOCATION:.spec.zone,CLUSTERCLASS:.spec.classRef.name,RECLAIMPOLICY:.spec.reclaimPolicy
NAME                                       STATE     CLUSTERNAME                                ENDPOINT        LOCATION        CLUSTERCLASS       RECL

[2019-07-23 22:48] lokeshwar30 commented on #596
status:
    Conditions:
    - LastTransitionTime: "2019-07-23T22:26:53Z"
      Message: cloud sql instance mysql-f62eb0f4-ad98-11e9-b0c7-080027014e47 is in
        the Creating state
      Reason: instance state changed
      Status: "False"
      Type: Creating
    - LastTransitionTime: "2019-07-23T22:30:27Z"
      Message: cloud sql instance mysql-f62eb0f4-ad98-11e9-b0c7-080027014e47 is in

[2019-07-23 23:05] hasheddan commented on #596
Thanks @lokeshwar30! That output is super helpful and it appears as though this was an issue in the google api that has been resolved in upstream Crossplane:

Issue identifying problem: https://github.com/crossplaneio/crossplane/issues/508

Workaround: https://github.com/wozniakjan/google-api-go-client/commit/26a5f74bf4855c6095a0a0da07a2539aea5458bf

Crossplane PR providing fix: https://github.com

[2019-07-24 00:32] negz commented on #428
Note that this will manifest as errors that look something like this:

[code]

[2019-07-24 01:14] suskin opened #597 "[secret syncing] Missing secrets are silently ignored during sync"
### What happened?

I was going through the wordpress gcp example, and when I got to the step where it spins up the wordpress application on the GKE cluster, I noticed that the pod failed to become healthy, because it references a secret that doesn't exist in the cluster, due to the wordpress example being misconfigured to not export a secret from the database. Meanwhile, in crossplane, the wordpr

[2019-07-24 13:39] muvaf commented on #569
I think what corresponds to `reclaimPolicy` of PVCs in our context is the policy that is between a `Claim` and `Managed`. But the design in #550 talks more about the policy between `Managed` and `Physical Resource`. That is also an important feature for especially Bring-your-own-resource scenarios, but I think naming of `reclaimPolicy` is a bit misleading.

See https://kubernetes.io/docs/concepts/

[2019-07-24 13:51] hasheddan commented on #569
You are correct. If you look further down in the referenced issue (#550) you'll see the discussion around this. It is our intent to move towards a `reclaimPolicy` in Crossplane that mirrors that of PVC's and PV's. Take a look at the [design doc](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-resource-reclaim-policy.md) that came out of the discussion in that issue. It defi

[2019-07-24 14:23] muvaf commented on #569
Alright, I think I got confused on what we think the current status is and what it should be on the discussions and design doc. Thanks for clarification.

I believe the first thing we need to do about this issue is to come up with a new name and leave `reclaimPolicy` to claim<>managed as it's super confusing.

[2019-07-24 14:30] hasheddan commented on #569
Agreed that `reclaimPolicy` should refer to claim<>managed, but I am not sure if we need a new name for the managed<>external relationship (that is currently incorrectly being referred to as `reclaimPolicy`).

If we were to follow the PV reclaim strategy, the managed<>external relationship is only a result of the `reclaimPolicy` for claim<>managed. If the `reclaimPolicy` is `Delete`, the managed a

[2019-07-24 15:02] #596 closed

[2019-07-24 18:02] negz commented on #315
@ichekrygin Should this issue be closed? I believe you fixed it for CloudSQL, but I'm not sure it's systematically fixed.

[2019-07-24 19:48] ichekrygin commented on #315
Should be fixed by #556

[2019-07-24 19:48] #315 closed

[2019-07-24 20:42] muvaf commented on #92
I wasn't aware of the existing patterns around using namespaced secrets. I agree that adhering to that would be more intuitive for users. However, [the linked pattern](https://kubernetes.io/docs/concepts/storage/storage-classes/#ceph-rbd) doesn't exactly match our use case.

In the Ceph RBD example, there are 2 secrets defined at `StorageClass`, meaning they encapsulate all the `Managed` resources

[2019-07-25 04:13] hasheddan opened #599 "enable pruning where relevant for core Crossplane CRD's"
Kubernetes v1.15 introduced the [functionality for pruning fields](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#pruning-versus-preserving-unknown-fields) that are not part of a CRD's OpenAPI v3.0 schema. This eliminates some potential security concerns and also enforces more consistency around in object data. It would be useful to implement t

[2019-07-25 18:41] suskin commented on #528
I am not sure whether this is the right issue for this request, but it would also be great if we could make it easier to validate that the end-to-end examples work when we make changes. It seems that the current state is that the examples could be broken and we wouldn't know until someone runs one by hand and [reports it](https://github.com/crossplaneio/crossplane/issues/519).

Ideally the end-to-

[2019-07-25 19:02] negz commented on #531
I'm going to temporarily assign this issue to myself so I can braindump my thoughts on how we might approach this for infrastructure stacks. I'll release the issue once I've updated it.

[2019-07-25 20:09] displague commented on #528
@suskin I agree with some caveats.

We would want gates on this - core team approval per pull request.  Some pull-requests may not require builds on obviously unrelated providers.  This becomes easier when each provider lives in its own repository and is isolated from changes in other providers.  We may want to have core project changes trigger builds on the dependent projects, depending on how is

[2019-07-25 20:19] suskin commented on #519
I've just noticed that we have multiple folders with `wordpress` examples in the examples folder; is that intended? It seems a bit confusing. There are some examples in `wordpress`, and some in `workloads`.

[2019-07-25 21:47] suskin commented on #241
I've taken a look using the redis examples as @negz recommended (using gcp), and the behavior appears to be reproducible and confirmed. Here's a series of reconciliation attempts in the log which shows a backoff which roughly doubles each time:

[code]

It appears as though this issue may be superseded in the long run by work related to #593, so I'm going to take a look at that discussion before I

[2019-07-25 23:31] suskin commented on #241
For a little more detail about what's happening in the gcp redis controller case, here's what the log output looks like when I add more verbose logging for each `Requeue: true` case:

[code]

So this does seem to confirm the hypothesis that the immediate requeueing is more aggressive than it needs to be in certain cases.

[2019-07-26 04:08] negz opened #602 "Managed resource fields should be documented"
### What problem are you facing?

As a Crossplane user I'd like to understand the `.spec` fields I can set on each managed resource kind, and what they mean. This is difficult because:

* Many CR fields are undocumented
* Some CR `.spec` objects are approximate translations of the underlying cloud provider API
* Some CR `.spec` objects are approximate translations of related cloud provider CLI too

[2019-07-26 06:20] jbw976 commented on #528
I met with @soorena776 today to discuss some starting points and potential extreme scoping of this effort to get it off the ground with a reasonable minimal effort.  A good starting point will be to take a black box approach where we simply bring up a minimal local cluster and deploy the built Crossplane artifacts into this cluster, verifying that the controllers come up, are not crash looping, an

[2019-07-26 21:58] negz commented on #92
I wanted to capture some of the recent thoughts we've had around this topic here, because our confidence that cluster scoped managed resources is the right direction is wavering a little.

It stands to reason that we'll want to group Crossplane managed resources into logical containers, and potentially apply . We probably want to allow some flexibility in how this is done. For example an infrastru

[2019-07-29 20:56] negz commented on #602
FWIW, outside the scope of this issue, I also feel that we should align on `.spec` objects being high fidelity, direct translations of cloud provider APIs.

[2019-07-29 23:16] jbw976 opened #609 "Stacks Manager: app vs. infra stacks, namespace isolation, annotation support"
Stack Manager enhancements that will allow both infrastructure and application stacks to be created by the community, installed with appropriate RBAC permissions and namespace isolation, and annotations for systems using stacks.

Part of the [0.3 release](https://github.com/crossplaneio/crossplane/blob/master/ROADMAP.md#v03---enable-partners-to-build-infra-stacks)

### Why? What problem are we sol

[2019-07-29 23:18] negz opened #610 "Publish an infrastructure stack developer guide"
Make it easy for new contributors to [a] extend existing infra stacks to add support for additional managed cloud services (Kafka, Spark, Hadoop), and [b] create new infra stacks for additional cloud providers (Alibaba Cloud, Tencent, Digital Ocean).

Part of the [0.3 release](https://github.com/crossplaneio/crossplane/blob/master/ROADMAP.md#v03---enable-partners-to-build-infra-stacks)

### Why? W

[2019-07-29 23:34] suskin opened #611 "TRACE-level logging"
This is somewhat related to #331 . I was working with crossplane and the wordpress gcp example locally, and was wanting more detail in the logs for debugging issues (such as the issue described in #597). But, the information to debug this type of issue seems like it's at an even more verbose level than `logging.Debug`, which is the only level we support now.

I feel it would make sense to create a

[2019-07-29 23:35] jbw976 opened #612 "Move infra stacks (GCP, AWS, Azure) into separate repos & upgrade to kubebuilder2"
Move infra stacks out-of-tree into new crossplane repos to support independent release schedules and ownership. Upgrade to kubebuilder v2 and stop using custom fork of controller-runtime.

Part of the [0.3 release](https://github.com/crossplaneio/crossplane/blob/master/ROADMAP.md#v03---enable-partners-to-build-infra-stacks)

### Why? What problem are we solving with this epic?
The entire Crossplan

[2019-07-29 23:40] negz opened #613 "Resource classes can be validated and annotated"
Move from schemaless resource classes to strongly typed resource classes with OpenAPI schema validation and the ability to be individually annotated.

Part of the [0.3 release](https://github.com/crossplaneio/crossplane/blob/master/ROADMAP.md#v03---enable-partners-to-build-infra-stacks)

### Why? What problem are we solving?

Crossplane resource classes are used in conjunction with resource claims

[2019-07-30 00:05] jbw976 commented on #532
I actually don't think this is strictly needed after I thought a bit more about it.  What is being installed as part of the Deployment controller type of a stack is a full Deployment that runs a pod with an image.  In the controller-runtime world, that means a controller-manager that can actually host many individual reconcilers.  Crossplane itself is already an example of this, it's a single Depl

[2019-07-30 00:05] #532 closed

[2019-07-30 00:15] jbw976 opened #614 "Stacks v1 CLI / kubectl plugin: build, push, init commands"
Initial DevOps tooling to build Stacks, push Stacks to a registry, and init the scaffolding for new Stacks.

Part of the [0.3 release](https://github.com/crossplaneio/crossplane/blob/master/ROADMAP.md#v03---enable-partners-to-build-infra-stacks)

### Why? What problem are we solving with this epic?
Stacks can be used to extend the functionality of Crossplane with new types of infrastructure and ap

[2019-07-30 00:17] negz opened #615 "GCP infra stack: single-region secure connectivity for GKE & CloudSQL, CloudMemorystore, Buckets"
GCP infra stack users can configure everything for their environment from the Kubernetes API including networking, subnets, and secure connectivity between app deployments in a target cluster and the dynamically provisioned cloud services they depend on.

Part of the [0.3 release](https://github.com/crossplaneio/crossplane/blob/master/ROADMAP.md#v03---enable-partners-to-build-infra-stacks)

### Wh

[2019-07-30 00:54] negz opened #616 "AWS infra stack: single-region secure connectivity: EKS & RDS, ElastiCache, Buckets"
AWS infra stack users can configure everything for their environment from the Kubernetes API including networking, subnets, and secure connectivity between app deployments in a target cluster and the dynamically provisioned cloud services they depend on.

Part of the [0.3 release](https://github.com/crossplaneio/crossplane/blob/master/ROADMAP.md#v03---enable-partners-to-build-infra-stacks)

### Wh

[2019-07-30 00:58] negz opened #617 "Azure infra stack: single-region secure connectivity: AKS & AzureSQL, AzureCache, Buckets"
Azure infra stack users can configure everything for their environment from the Kubernetes API including networking, subnets, and secure connectivity between app deployments in a target cluster and the dynamically provisioned cloud services they depend on.

Part of the [0.3 release](https://github.com/crossplaneio/crossplane/blob/master/ROADMAP.md#v03---enable-partners-to-build-infra-stacks)

###

[2019-07-30 01:19] negz commented on #616
The work @lukeweber  did in #227 back in December may be useful once we start looking into modeling security groups, etc as managed resources.

[2019-07-30 20:18] suskin commented on #585
I'm putting together a pull request to address this.

[2019-07-30 22:19] suskin opened #620 "GCP CloudSQL: Proxy connections"
### What problem are you facing?

This is related to connecting to CloudSQL instances from an application managed by Crossplane.

@ichekrygin and I were talking about different connectivity models for accessing CloudSQL instances from managed applications, and I want to capture some of the notes from that discussion. Maybe it makes sense to turn this into a one-pager in the future. This is all ear

[2019-07-30 22:22] #585 closed

[2019-07-30 23:02] negz opened #621 "Managed resources should be high fidelity"
### What problem are you facing?

As a cloud administrator I'd like Crossplane to support as many of the features of the managed resource kinds I work with as possible. For example if I'm creating a `CloudSQLInstance`, I want to be able to set any of the settings the CloudSQL instance API supports.

### How could Crossplane help solve your problem?

Crossplane could support "high-fidelity" managed

[2019-07-30 23:05] negz commented on #621
I suspect could be a good first issue because we already translate Crossplane managed resource API definitions into the relevant cloud provider Go SDK API objects, which are typically close representations of the cloud provider's actual HTTP API. The work here would be to make our existing API definitions match said cloud provider Go SDK API objects more closely.

It very likely makes sense to add

[2019-07-30 23:37] negz commented on #620
I also have not thought this through particularly thoroughly, but I've previously imagined a supplement to Crossplane that was capable of automatically injecting proxies (CloudSQL, service mesh sidecars, etc) into workloads (perhaps using a mutating webhook) by intelligently analysing their connectivity needs as declared (somehow) by Crossplane. My suspicion is that this functionality would be bes

[2019-07-31 00:08] negz opened #624 "External resource names should be configurable"
### What problem are you facing?

As a cloud administrator I would like control over the names of the external resources created by Crossplane. Crossplane does not currently offer much control or consistency in this area. For example at least the following are used to name external resources:

* A prefix plus the managed resource's `.metadata.UID`
* A prefix plus a hash of the managed resource's `

[2019-07-31 00:10] negz commented on #624
Relates to #211 and #458.

[2019-07-31 00:30] prasek opened #625 "Overall 0.3 docs"
Crossplane has made a ton of progress since 0.2, so the docs need to be updated to match. Enable users to rapidly understand Crossplane, get started, and find the information they're looking for.

Part of the [0.3 release](https://github.com/crossplaneio/crossplane/blob/master/ROADMAP.md#v03---enable-partners-to-build-infra-stacks)

### What seems to be the problem?
Crossplane has made a ton of pr

[2019-07-31 00:31] suskin commented on #624
This ticket sounds like it is related to having a common API pattern for specifying resource names. In a past conversation, the idea came up of having a reusable mechanism for setting the name, or at least for generating a default name if nothing was in the resource. I want to make a note of that idea in this ticket, since they seem related, and there isn't a ticket (yet) tracking the concept of a

[2019-07-31 07:12] muvaf opened #628 "Bring your own resource scenario"
### What problem are you facing?

I have a fleet of resources in my cloud account that I bought on a discount. Reserved EC2 instances on AWS could be an example. I'd like crossplane to use these resources and not dynamically provision new ones unless all of them are scheduled for use by crossplane.

### How could Crossplane help solve your problem?

Few options:
- Define a way to import my resourc

[2019-07-31 11:34] displague commented on #624
Names are often optional fields which are fulfilled by the providers' own name generation.
As a user of IaC tools, I'm often confused when confronted with multiple `name` and `label` fields, where it is not clear how the two fields will be distinguished, especially if that convention is not upheld between resources.

[2019-07-31 11:34] displague commented on #624
Kubernetes `generateName` and Kustomize `namePrefix` and `nameSuffix` are prior art worth investigating.

https://github.com/eBay/Kubernetes/blob/master/docs/devel/api-conventions.md#idempotency
https://kubectl.docs.kubernetes.io/pages/reference/kustomize.html#nameprefix

Here's a little more on `generateName` (see the idempotency link first).
[code]

[2019-07-31 21:30] suskin opened #630 "Examples: End-to-end testing for examples"
### What problem are you facing?

Related to #528 . For our examples, it'd be great to have automated testing to validate that they still work when we make changes. Recently, our wordpress workload example was broken by some work we were doing, and it took a while to detect and fix, so it'd be great to tighten that loop by adding automated testing.

### More context and potential solution

This co

[2019-07-31 23:10] jbw976 commented on #628
@muvaf this looks to me like a duplicate of #409, what do you think? If so, can you update that issue with any new thinking from your write-up here and then close this issue?

[2019-07-31 23:45] prasek opened #631 "CI/CD pipeline examples: GCP, AWS and Azure infra stacks in GitLab, ArgoCD, Jenkins"
Provide working examples and associated blog posts describing how to integrate Crossplane into various CI/CD pipelines for continuous deployment of Kubernetes apps and the cloud services they depend on.

Part of the [0.3 release](https://github.com/crossplaneio/crossplane/blob/master/ROADMAP.md#v03---enable-partners-to-build-infra-stacks)

### Why? What problem are we solving?
Crossplane simplifie

[2019-08-01 04:40] #528 closed

[2019-08-01 05:40] jbw976 opened #632 "Makefile doesn't have any help entries"
### What happened?

Running `make help` only outputs help entries for targets in the targets from the upbound/build submodule.  None of the main Crossplane Makefile targets have any help output to help understand

### How can we reproduce it?

[code]

Note the help output is all from the upbound/build make includes, such as:
* https://github.com/upbound/build/blob/master/makelib/common.mk#L395
* h

[2019-08-01 13:29] hasheddan commented on #625
Linking relevant issues to this epic:
#588 #594 #595

[2019-08-01 16:59] muvaf commented on #269
The generic managed reconciler implemented in https://github.com/crossplaneio/crossplane/pull/603 is decided to be used for all controllers as can be seen here #615 , #616 and #617 .

@jbw976 We can keep this open to signal that it's an ongoing effort or close it as we do have 1 pattern now for (almost) all controllers.

[2019-08-01 20:23] hasheddan opened #634 "Implement Strongly Typed Resource Classes for GCP CloudMemorystore"
Part of #613

### Why? What problem are we solving?

Currently, all Crossplane managed resources make use of a generic resource class type to supply configuration details for provisioning. It is desirable to transition to strongly typed resource classes for the following main reasons:

* Enable schema documentation and validation for resource classes.
* Enable the ability to inject type-specific a

[2019-08-01 22:21] jbw976 commented on #269
My take is that with the new general managed reconciler now in master, that has captured the intent of this issue.  We are tracking through the provider specific epics the remaining work to update all of the controllers to this new pattern.

Any documentation/guide work around how to use this controller and how to build high quality controllers/reconcilers for partners and contributors will be cov

[2019-08-01 22:21] #269 closed

[2019-08-02 03:36] displague commented on #509
In light of current direction, this task should reflect the need to create a skeleton Infra Stack project. #503 covers this broadly for App Stacks.

[2019-08-02 15:48] prasek opened #636 "Curate and document the common concepts and terminology of Crossplane"
Curate glossary terms and concepts from all existing usage and converge on a shared set of well-defined concepts and language that we can use going forward.

Part of #625

### What seems to be the problem?
Crossplane has made a ton of progress since 0.2 and usage of concepts and language has evolved rapidly which can be confusing.

### What could Crossplane do to help?
Make it simple for new users

[2019-08-02 15:53] prasek opened #637 "Update roadmap.md to reflect 0.3 milestone content"
Crossplane has made a ton of progress since 0.2 and the roadmap.md needs the 0.3 release updated to reflect advancements on multiple fronts.

Part of #625

### What seems to be the problem?
Roadmap is out of date, need to understand current & future state of the project in < 5 min

### What could Crossplane do to help?
Provide an updated roadmap.md for 0.3 that clearly summarizes the release, with

[2019-08-02 15:59] muvaf commented on #615
I think we can create the sub-issues as individual tasks in the following form:
- Version bump of GCP CRDs -> v1alpha2
- Generic managed reconciler for all existing GCP resources (for v1alpha2)
- Network CRD and controller with high fidelity
- Subnetwork CRD and controller with high fidelity
- Wordpress app stack YAMLs that use v1alpha2 managed resources and network CRDs
- _Connected_ Wordpress de

[2019-08-02 16:03] hasheddan commented on #615
It might be worth including the creation of strongly typed resource classes for each managed kind in this process, as it will also require a minor update to each claim controller.

[2019-08-02 16:27] muvaf commented on #615
@hasheddan just added, thanks! I'll move the bulletpoints up into the first issue description once we finalize and I create the issues.

[2019-08-02 16:40] suskin opened #638 "Wordpress stack: As a new stacks user, I'd like an example of a stack with a simple controller"
Related to #572

### What seems to be the problem?

As part of #572, we want to have a simple, realistic example stack with a simple controller. We are imagining that we should start by creating a wordpress stack which uses default resource classes to support multiple providers with a single app definition. We are imagining that it lives in its own repository. This will be an example that people c

[2019-08-02 16:42] #632 closed

[2019-08-02 17:00] suskin opened #639 "As a new stack user, I'd like to be able to easily consume an example stack"
Related to #572

### What seems to be the problem?

Once we have a stack available as described in #638, we'll want to be able to consume it, and install it into a Crossplane instance.

### What could Crossplane do to help?

We are imagining that the simplest way to make a stack available to be consumed and installed is by publishing it to a registry.

### Acceptance criteria

* The stack as descr

[2019-08-02 17:05] suskin opened #640 "As a new stacks user, I'd like the example stack to be well-documented"
Related to #572

### What problem are you facing?

Once the stack described in #638 has been created, we'll want to make it easy for users to understand and interact with, so that they can learn more about stacks and how to create and use them.

### How could Crossplane help solve your problem?

We can make the stack described in #638 easy to learn about by adding some nice documentation to it.

#

[2019-08-02 17:18] suskin commented on #614
Relative to #572 , we are thinking that this epic is the lower priority of the two. I am planning on working on #572 first before starting this one; I am planning to only do work on this epic before finishing #572 if it seems like it will help me finish #572 faster.

[2019-08-02 17:27] suskin opened #641 "Create a Stacks CLI design doc"
Related to #614

### What seems to be the problem?

As part of working on #614, we're going to want some sort of design doc for the tool, so we can discuss it and try to identify design holes early.

### What could Crossplane do to help?

Research some options enough to create a design doc which can be used to focus discussion about the direction we want to go with the CLI.

### What does this loo

[2019-08-02 17:42] hasheddan opened #642 "Azure: Author security/connectivity design doc with Azure specifics"
Update [Microsoft Azure](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-resource-connectivity-mvp.md#microsoft-azure) portion of existing connectivity design doc.

### Why? What problem are we solving?

The existing [connectivity design document](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-resource-connectivity-mvp.md) outlines Crossplane's appr

[2019-08-02 19:04] glyn commented on #505
Crossplane may wish to take a look at [CNAB](https://cnab.io/) and its reference implementation as a standard alternative to some of the features of stacks.

In relation to this issue, CNAB supports the notion of _image relocation_ where a "bundle" of software referring to docker/OCI images in public or private registries is relocated to a (typically private) registry. For more on image relocation

[2019-08-03 19:49] markfisher opened #645 "secrets synced to a remote cluster always have the default secret type of "Opaque""
### What happened?

After creating a `KubernetesApplication` containing a `KubernetesApplicationResource` that referred to a local secret having a type of "kubernetes.io/basic-auth", the corresponding remote secret had a type of "Opaque", which is the default.

### How can we reproduce it?

Create a `KubernetesApplication` that includes a `KubernetesApplicationResource` referencing a secret that h

[2019-08-05 14:11] hasheddan opened #647 "Azure: Define new networking types and controllers"
Add CRD's and controllers for Azure networking types required by Wordpress demo.

Part of #617

### What seems to be the problem?

In order to provision a functioning Wordpress application on Azure, the AKS cluster that the Wordpress container(s) runs in must be able to talk to the MySQL database. In order to do so, the MySQL database must have a [Virtual Network Rule](https://docs.microsoft.com/e

[2019-08-05 14:47] hasheddan opened #648 "Azure: High fidelity API and generic managed reconciler for all existing Azure resources (for v1alpha2)"
Migrate existing Azure infrastructure resource kinds to using the generic managed reconciler, and ensure that the API's are a high fidelity representation of the external resource.

Part of #617
Depends on #269

### What seems to be the problem?

Throughout the development of Crossplane, reconcilers for managed resource kinds have diverged in how they are structured and operate. There is a desire

[2019-08-05 15:05] hasheddan opened #649 "Azure: Validate e2e portable wordpress stack deployed securely & accessible"
Validate the deployment of the portable Wordpress stack on Azure.

Part of #617
Depends on #572, #647, #648

### What seems to be the problem?

It is desired for a portable Wordpress app stack to be able to deployed across cloud providers, including Azure.

### What could Crossplane do to help?

When the app stack is available [#572] it should be tested to ensure that it will run successfully and

[2019-08-05 15:46] hasheddan opened #650 "Azure: Update examples and README files containing Wordpress examples"
Update `cluster/examples` and `docs/` with portable Wordpress on Azure.

Part of #617
Depends on #572, #647, #648, #649
### What seems to be the problem?

Examples and documentation do not exist for deploying the portable Wordpress application stack [#572] on Azure.

### What could Crossplane do to help?

Examples and documentation should be updated to contain necessary `YAML` files and directions

[2019-08-05 15:54] displague commented on #650
I had problems with my Azure account and left this PR behind.  It may be a starting point for this work.
https://github.com/crossplaneio/crossplane/pull/574

[2019-08-05 15:54] hasheddan commented on #650
Awesome, thanks @displague!

[2019-08-05 15:56] displague commented on #650
The issue would be a parent to https://github.com/crossplaneio/crossplane/issues/538 and would close https://github.com/crossplaneio/crossplane/issues/519 (so long as the GCP and AWS examples and docs haven't drifted away).

[2019-08-05 16:43] jbw976 opened #651 "Create and publish GCP stack"
Part of #612

### What seems to be the problem?
As part of #612, we will be splitting out the cloud providers into their own repos and creating a stack for each of them.

### What could Crossplane do to help?
Crossplane can bootstrap this effort by creating the repository and metadata information to build and publish the GCP stack to a public registry.

### What does it look like when we're done?

[2019-08-05 16:45] jbw976 opened #652 "Create and publish AWS stack"
Part of #612

### What seems to be the problem?
As part of #612, we will be splitting out the cloud providers into their own repos and creating a stack for each of them.

### What could Crossplane do to help?
Crossplane can bootstrap this effort by creating the repository and metadata information to build and publish the AWS stack to a public registry.

### What does it look like when we're done?

[2019-08-05 16:47] jbw976 opened #653 "Create and publish Azure stack"
Part of #612

### What seems to be the problem?
As part of #612, we will be splitting out the cloud providers into their own repos and creating a stack for each of them.

### What could Crossplane do to help?
Crossplane can bootstrap this effort by creating the repository and metadata information to build and publish the Azure stack to a public registry.

### What does it look like when we're done

[2019-08-05 16:48] muvaf opened #654 "GCP: Support for Network Resource with High Fidelity"
Network resource in GCP to be used for connecting different managed resources.

Part of #615

### What seems to be the problem?
We need to manage the network for managed resources in GCP to have different resources be able to connect to each other. See https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-resource-connectivity-mvp.md for connectivity architecture.

### What could

[2019-08-05 16:49] soorena776 opened #655 "AWS Infra Stack: Add secure connectivity section to the design doc"
### Why? What problem are we solving?

Currently the [Resource Connectivity design doc](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-resource-connectivity-mvp.md#amazon-web-services) does not specify security connectivity for AWS. This issue will track doing the research regarding this issue and updating the mentioned document.

### What does it look like when we're done

[2019-08-05 16:51] hasheddan opened #656 "Azure: Update API status table for infra stack capabilities, API version level, etc."
Update the API status table following the completion of the `v1alpha2` Azure infrastructure stack.

Part of #617
Depends on #572, #647, #648, #649
### What seems to be the problem?

The Azure infrastructure stack API version should be updated to represent the new functionality and structure.

### What could Crossplane do to help?

Update the API Status and version in the [API status table](https:/

[2019-08-05 16:51] muvaf opened #657 "GCP: Support for Subnetwork Resource with High Fidelity"
This issue description is pretty much identical to #654 but for Subnetwork resource.

Subnetwork resource in GCP to be used for connecting different managed resources.

Part of #615

### What seems to be the problem?
We need to manage the subnetwork for managed resources in GCP to have different resources be able to connect to each other. See https://github.com/crossplaneio/crossplane/blob/master/

[2019-08-05 16:52] jbw976 opened #658 "Update readme.md for stack-gcp, stack-aws, stack-azure"
Part of #612

### What seems to be the problem?
As part of #612, we will be splitting out the cloud providers into their own repos and creating a stack for each of them.  The Crossplane community will be unfamiliar with this new concept and how to use it.

### What could Crossplane do to help?
  * basic install, uninstall, usage - e.g. in install.md
  * link to https://crossplane.io/docs/ instead

[2019-08-05 16:54] muvaf opened #659 "GCP: Refactor all managed resource controllers into generic managed reconciler"
Refactor existing GCP managed resources to adopt the latest managed resource controller pattern implemented in #603

Part of #615

### What seems to be the problem?
We need to eliminate inconsistency around controller patterns in the codebase to have an easily extendible project and easier troubleshooting during the operations.

### What does it look like when we're done?
All managed GCP resources

[2019-08-05 16:57] soorena776 opened #660 "AWS Infra Stack: Define new managed types and controllers to support Network Connectivity"
### Why? What problem are we solving?
In order to make single regions connectivity a possibility in AWS, new types and controllers need to be defined, to manage the AWS network related resources.

### What does it look like when we're done?
Minimum resources types and resource classes that are needed for creating a secure single region network on AWS are created.

Resources:
 - SecurityGroup
 - VP

[2019-08-05 16:57] muvaf opened #661 "GCP: Wordpress Example with New Network Resources"
Wordpress example to use network CRs in #654 and #657 .

Part of #615

### What seems to be the problem?
There are manual steps in the example. We are eliminating them, so, updating the example is needed.

### What does it look like when we're done?
Wordpress stack uses Network and Subnetwork resources for connectivity.

### Todo
- [ ] Update the example YAMLs to use Network and Subnetwork as part

[2019-08-05 18:16] hasheddan opened #662 "Implement strongly typed resource classes for all existing managed resources"
Take the pattern implemented for GCP CloudMemorystore [#643] and implement across all managed kinds in the Crossplane repo.

Part of #613
Depends on #634 / #643

### What seems to be the problem?

It is desired for every existing managed resource kind to have a corresponding strongly typed resource class. This allows for verification / validation of resource parameters, usage of UI annotations on

[2019-08-05 19:29] jbw976 opened #663 "Implement stacks security and isolation model"
Part of #609

### What seems to be the problem?
Currently stacks are installed in a uniform way regardless of their intended persona or scenario.  This means that every stack has the same scope of permissions (cluster wide), which may not always be appropriate.

### What could Crossplane do to help?
The Stack Manager should be updated to allow differing scopes of security and isolation for each st

[2019-08-05 19:45] jbw976 commented on #571
This is completed in the [Stacks design doc](https://github.com/crossplaneio/crossplane/blob/master/design/design-doc-stacks.md).

[2019-08-05 19:45] #571 closed

[2019-08-05 19:49] jbw976 commented on #503
This will be covered by #610 and #658

[2019-08-05 19:49] #503 closed

[2019-08-05 19:51] jbw976 commented on #447
Addressed in #584

[2019-08-05 19:51] #447 closed

[2019-08-05 19:52] jbw976 commented on #241
This should be addressed in the new general claim and managed resource controllers that have a common and consistent reconciliation approach that both watches for relevant events and uses sensible requeueAfter values.

[2019-08-05 19:52] #241 closed

[2019-08-05 19:54] jbw976 commented on #302
This will be covered in #610

[2019-08-05 19:54] #302 closed

[2019-08-05 22:05] #645 closed

[2019-08-06 00:16] prasek commented on #609
@jbw976 will #92 be closed with this as well?

[2019-08-06 00:18] prasek commented on #89
@jbw976 @hasheddan should this be closed with #151?

[2019-08-06 00:23] prasek commented on #276
@jbw976 is this handled with #612 or separate?

[2019-08-06 00:24] prasek commented on #83
@jbw976 is this handled with #612 or separate?

[2019-08-06 00:29] hasheddan commented on #89
@prasek I don't believe so. From what I understand, the discussion of making resource classes cluster-scoped is still open, and the strongly typed resource classes can currently be created in any namespace.

[2019-08-06 01:56] jbw976 commented on #83
Yes, I think this is actually taken care of in the #612 epic.  I've included issues #269 and #584 in that epic to properly track those items.

[2019-08-06 01:56] #83 closed

[2019-08-06 03:46] prasek commented on #89
thanks @hasheddan, now that I read this more closely it’s not about removing the classReference but simplifying it to assume a singular system namespace (cluster-scoped or crossplane-system). Given that would this be closed as part of #609 / #663?

//cc @jbw976

[2019-08-06 04:32] hasheddan commented on #89
So yes, this should be closed by #663, in my opinion. However, I think it is important to note that this issue is a very specific question around how referencing of resource classes is currently accomplished. Even though all resource classes currently are namespace-scoped, if cluster-scoped resource classes were introduced, they could still be referenced in the same manner. The `classRef` field is

[2019-08-06 07:13] prasek commented on #609
also #89

[2019-08-06 08:17] prasek commented on #554
@negz also the last section of https://goo.gl/T66ZcD notes, “My current preferred solution is to use (single-layer) overlays. [...] I do not think we should support arbitrary numbers of stacked overlays. An internal project attempted that before, and was cancelled. At least one of the problems is similar to the issue with docker image layers, where changing a base layer invalidates layers stacked

[2019-08-06 08:44] prasek commented on #554
So perhaps a single-layer overlay from claim to class would be sufficient, perhaps with the ability to mark resource class fields as final or define constraints around acceptable overlay values the claim could specify.

Also, as I think you mentioned, resource claims that specified a resource-class-specific overlay would likely require using a non-portable claim kind such that the claim CRD schema

[2019-08-06 14:41] sbawaska opened #666 "support existing helm charts"
### What problem are you facing?

As a software vendor, I would like to give my customers an option of installing my software using crossplane stack. I already have a helm chart for my software and would like to minimize the number of distributions I have to ship.

### How could Crossplane help solve your problem?

To me, it seems like stacks have a large overlap with helm 3 and cnab.
Like Helm 3

[2019-08-06 14:53] glyn commented on #505
Let's take any discussion relating to my [earlier comment](https://github.com/crossplaneio/crossplane/issues/505#issuecomment-517811617) over to https://github.com/crossplaneio/crossplane/issues/666.

[2019-08-06 15:00] hasheddan commented on #666
@sbawaska thanks for your thoughts here! It is definitely a priority to make generating a stack from existing work a seamless and efficient process. Would love to chat about this more, feel free to join the [slack channel](https://slack.crossplane.io/)!

[2019-08-07 00:27] prasek opened #667 "crossplane.io reflects the updated roadmap / vision & uses update common language"
Crossplane has made a ton of progress since 0.2, so the crossplane.io website need to be updated to match. Enable users to rapidly understand Crossplane, get started, and find the information they're looking for.

Part of the [0.3 release]()

### What seems to be the problem?
Crossplane has made a ton of progress since 0.2 and the crossplane.io website needs to be updated to reflect the 0.3 enhanc

[2019-08-07 02:02] prasek commented on #149
@negz @jbw976 will #149 and #115 be handled as part of #615 #616 #617

[2019-08-07 14:07] #637 closed

[2019-08-07 14:25] displague commented on #666
Specifically, this channel: https://crossplane.slack.com/messages/CKXQK4P27

I created a lightweight proof of concept Stack https://github.com/displague/sample-extension-metacontroller/blob/master/install.sh that could be modified to install and uninstall a helm chart, however, as @hasheddan pointed out, a more interesting solution would convert a helm chart to be stack compatible (or finding a wa

[2019-08-07 14:27] displague commented on #666
We have some open issues related to Stack design that you may be of further interest:
https://github.com/crossplaneio/crossplane/pull/605
https://github.com/crossplaneio/crossplane/pull/604

[2019-08-07 18:23] soorena776 opened #668 "Stacks: Rename all remaining wording of 'Extension' to 'Stack'"
Part of #609

### What problem are you facing?
Issue #573 has addressed renaming `Extension` to `Stack` in design docs only. This issue tracks renaming all the remaining cases

### Checklist

- [ ]  Cover go source code for occurrences
- [ ]  Cover templates for occurrences
- [ ]  Cover everything else
- [ ] Run `make reviewable` to ensure this PR is ready for review.
- [ ] Updated any relevant [d

[2019-08-07 20:51] suskin commented on #666
Hi @sbawaska and also @glyn ! Thanks for helping us! Like @hasheddan said, we are definitely interested in feedback from the wider community. Our goal is to create the best possible experience here, and we're very early in the process, so we really appreciate that you are sharing your thoughts with us! Since we are early in the project, it may take us some time to get to everything, but we will co

[2019-08-07 22:28] prasek opened #671 "Publish v0.3 announcement blog post"
Blog post for 0.3 milestone release theme, planning & backlog, to solicit community awareness & feedback.

Part of #625

### What seems to be the problem?
What's new and exciting in the v0.3 release?

### What could Crossplane do to help?
Announcement blog post.

### What does it look like when we're done?
New blog post on blog.crossplane.io

### Todo
- [x] draft blog post
- [ ] review
- [ ] publi

[2019-08-08 04:00] #634 closed

[2019-08-08 20:08] prasek commented on #666
@sbawaska we are definitely interested supporting helm charts as part of the stacks design. In fact we showed off using GitLab's helm chart at KubeCon Barcelona.

We've not looked at CNAB deeply, but at a high level even CNAB and Helm look like they have an overlap (certainly from a distribution standpoint).

We see stacks as being a bit more Kubernetes native, in fact, we define a stack as a Kube

[2019-08-08 22:53] markfisher commented on #666
CNAB can wrap Helm charts as this example illustrates:
https://github.com/deislabs/example-bundles/tree/master/hellohelm

The [base image](https://github.com/deislabs/example-bundles/blob/master/hellohelm/cnab/Dockerfile#L1) designated in the `Dockerfile` is expecting one or more Helm charts to be available in the invocation image that extends that base, so that the CNAB bundle distribution format

[2019-08-09 23:25] suskin commented on #638
I'm working on this in [a branch in a personal repo](https://github.com/suskin/sample-wordpress-extension/tree/wordpress-extension) while we think about where we want this to live in the long term.

[2019-08-09 23:30] suskin commented on #638
Currently, I have a blank kubebuilder2-based project with a single API, and with some extra tooling to make developing a stack nice, which means some Make recipes for project initialization, stack bundling, and local installation. I've been taking some extra time as I also spend some time to become more familiar with our existing [thoughts on Stacks](https://github.com/crossplaneio/crossplane/issu

[2019-08-12 22:14] suskin commented on #638
The work is now being tracked in [this Crossplane org repo](https://github.com/crossplaneio/sample-stack-wordpress). I'm going to open a new ticket to break spinning up the project into a separate work item so we can track progress at a finer level.

[2019-08-12 22:21] suskin opened #674 "Wordpress sample stack end-to-end setup"
Related to #572

### What seems to be the problem?

As part of #572, we want to set up a wordpress stack to use as a sample of using a controller in a stack. When we're setting that up, there will be some chunk of work which is some initial setup and configuration, and isn't related to the functionality.

### What could Crossplane do to help?

This is probably part of the user story tracked by #63

[2019-08-14 20:18] jbw976 commented on #568
There's some overlap here with the goal of #560 to help make the initial experience for a new Crossplane user to be easier.

@suskin I just listened to the Kubernetes podcast released yesterday about kubectl plugins and the `krew` plugin manager, it does sound like the story there has improved a lot recently.

[2019-08-14 20:19] jbw976 commented on #560
The goal of this issue to make the initial experience easier is related to #568

[2019-08-14 20:46] displague commented on #560
Proposed in https://github.com/crossplaneio/crossplane/issues/568#issuecomment-509414208 is the idea of a Crossplane UI that is deployed with Crossplane.

I don't know if this thought has legs, but I'll offer it up again here.

### Provider Configuring Web-UI

This UI would be `kubectl run` or deployed with Crossplane.  The service would then be accessed locally via [`kubectl proxy`](https://kuber

[2019-08-15 01:32] suskin commented on #638
I've got a [proof of concept in a branch](https://github.com/crossplaneio/sample-stack-wordpress/compare/master...suskin:wordpress-pressing?expand=1) currently working that I'm going to make more robust.

[2019-08-15 17:48] jbw976 commented on #674
Fixed in https://github.com/crossplaneio/sample-stack-wordpress/pull/2

[2019-08-15 17:48] #674 closed

[2019-08-16 00:28] jbw976 opened #678 "Update SonarCloud rule for "Add or update the header of this file""
It looks like the current ruleset for SonarCloud has a code smell rule for license headers on files that needs to be updated.

I think the issue here is that our license headers do not state "file ownership", so we are always failing this code smell rule.

Here is the beginning of their example compliant header, showing file ownership:
[code]

As stated above, we can feed the rule with out specifi

[2019-08-16 00:43] #502 closed

[2019-08-16 01:13] suskin commented on #638
I'm currently working on cleaning this up and making it nicer to use, but it's going to roll over into the next sprint.

[2019-08-16 03:52] jbw976 commented on #584
This was implemented in #603

[2019-08-16 03:52] #584 closed

[2019-08-16 04:03] jbw976 commented on #591
We will be modeling networking related types, such as VPCs, Subnets and SubnetGroups in #660, does that cover what you are looking for here @lukeweber?

[2019-08-16 11:58] displague commented on #531
Related to #672 which disambiguates Infra stacks from app stacks.

[2019-08-16 12:11] displague commented on #531
In Slack we fell into a naming conversation about stacks which also relates to the organization the stacks are expected to live in.

In terms of sort order on Github repo listing..
`microsoft/azure*` could be crowded but `microsoft/stack-*` would not..
`microsoft/crossplane-stack-azure` would not either..

On the Crossplane GH org, a cloud first naming convention could be hard to follow:
* `crossp

[2019-08-16 16:05] glyn commented on #666
Yes, enterprise customers need to relocate images to their private registries and this is something CNAB has been focussing on. Other features of CNAB coming up are the ability to distribute software via Docker/OCI registries (cf. [Docker app](https://blog.docker.com/2018/12/docker-app-and-cnab/)) and securing the software supply chain.

Stepping back, I can see a couple of approaches:

1. We coul

[2019-08-16 20:31] #507 closed

[2019-08-16 20:31] jbw976 commented on #507
Fixed in #604

[2019-08-17 01:36] #668 closed

[2019-08-17 05:23] soorena776 opened #681 "EKS worker-node `ami`s need to be tied to the provisioned Kubernetes cluster version"
### What happened?
When creating an EKS cluster, the [`Cluster Version`] is optional. If not provided [the latest version in Amazon EKS is used]. In the other hand, the worker node `ami` images are [tied to specific cluster versions]. However the `ami` image IDs that are currently [hard coded] are not tied to cluster versions. This creates two problems:
1. The right `ami` image for a given cluster

[2019-08-19 16:52] #90 closed

[2019-08-19 19:45] soorena776 opened #684 "AWS: Validate e2e portable wordpress stack deployed securely & accessible"
### What problem are you facing?

Sub task of #616

### How could Crossplane help solve your problem?

[2019-08-19 19:55] soorena776 opened #685 "AWS: Update resource classes to support connectivity managed resources"
### What problem are you facing?

Sub task of #616
### How could Crossplane help solve your problem?

- [ ] Upgrading current [connectivity script] to use managed resources

[connectivity script]: https://github.com/crossplaneio/crossplane/blob/master/cluster/examples/aws-credentials.sh

[2019-08-19 19:57] soorena776 opened #686 "AWS: Provision EKS cluster entirely within Crossplane in k8s (no AWS console)"
### What problem are you facing?

Sub task of #616
### How could Crossplane help solve your problem?

[2019-08-20 15:13] displague commented on #544
The design is covered, but this was reopened to address the implementation.

[2019-08-20 15:14] #662 closed

[2019-08-20 15:27] hasheddan opened #688 "Revisit Strongly Typed Class Parameter "Zero Value" Defaulting"
### What problem are you facing?

As part of the work done in #687, functions that were previously used to parse generic `ResourceClasses` were removed in favor of strongly typed resource classes. The parsing functions applied "zero value" parameters for some fields if omitted in the `ResourceClass`. Now that these functions no longer exist, their "zero value" behavior is being applied in the clai

[2019-08-20 16:58] hasheddan opened #689 "Blog post on "classes of service": portable, non-portable, and default classes"
Part of #775

### What seems to be the problem?
Crossplane added a new model of support for "classes of service" with portable, non-portable, and default classes that enable new functionality and fundamentally change the way that all dynamic provisioning takes place. We want to make it clear how strongly typed resource classes are different from the generic `ResourceClass` pattern and provide our

[2019-08-21 01:19] cppforlife opened #690 "remove empty status blocks from CRDs"
### What happened?

It seems that CRDs included in the helm chart all include:

[code]

I don't believe cleared out `status` section is necessary and can be removed. I noticed it when using kapp (https://get-kapp.io) to install crossplane (`helm template ... | kapp deploy ...`).

Is there a reason it's present in CRDs?

[2019-08-21 01:26] jbw976 opened #691 "Add details around commits/history/squashing to contributing guide"
In a couple PRs recently, we have had conversations about meaningful commits and history, whether to squash feedback commits, etc. before merging to master.  Our contribution guide could be updated to capture our stance on this.

https://github.com/crossplaneio/crossplane/blob/master/CONTRIBUTING.md

I believe it's preferable to squash the commits down to the minimal logical set that helps preserv

[2019-08-21 01:27] jbw976 commented on #691
Related to #536

[2019-08-21 17:10] #681 closed

[2019-08-21 19:05] hasheddan commented on #448
Closing in favor of crossplaneio/crossplane-runtime#1

[2019-08-21 19:05] hasheddan commented on #448
Closing in favor of crossplaneio/crossplane-runtime#1

[2019-08-21 19:05] #448 closed

[2019-08-21 19:30] hasheddan commented on #426
Closing in favor of crossplaneio/crossplane-runtime#2

[2019-08-21 19:30] hasheddan commented on #426
Closing in favor of crossplaneio/crossplane-runtime#2

[2019-08-21 19:30] #426 closed

[2019-08-22 04:05] jbw976 opened #697 "Rename crossplaneio GitHub org to crossplane"
The current organization name for Crossplane on GitHub is `crossplaneio` since `crossplane` was previously unavailable.  `crossplane` is now available, so we should go ahead and move the current org over to that nice clean one.

We will need to update all the golang import paths across the various repositories, and we should also think through any other consequences of this change.  We believe tha

[2019-08-22 04:15] jbw976 commented on #691
Fixed in #695

[2019-08-22 04:15] #691 closed

[2019-08-22 14:04] ryanmoran opened #698 "CRD stacks.stacks.crossplane.io too long"
### What happened?
We are attempting to install crossplane from the helm master chart version `0.0.0-912.81a61f0`. We aren't running tiller, and so we used `helm template crossplane.tgz > crossplane.yml` to generate our resource yaml and then attempted to `kubectl apply -f crossplane.yml`. We get an error that the `stacks.stacks.crossplane.io` CRD is invalid.

Here is the entire output:
[code]

##

[2019-08-22 14:34] displague commented on #698
Thanks for filing the detailed report, @ryanmoran!

I'm able to reproduce this this behavior too.  It's rather unfortunate and something that https://github.com/crossplaneio/crossplane/issues/630 should prevent in the future.

[code]

The annotation being referenced is the one that `kubectl apply` creates with a copy of the input file.  To work around this, a `kubectl create -f https://raw.githubu

[2019-08-22 15:59] jbw976 commented on #698
We recently updated to kubebuilder, controller-runtime, and controller-tools v2.  The Stacks CRD (formally called Extensions) has always embedded an upstream Kubernetes `apps.DeploymentSpec` and a `batch.JobSpec`.

It looks like there's a massive difference with the controller-tools v2 CRD generation that includes ALL the comments and everything for these big specs into the schema validation secti

[2019-08-22 16:23] displague commented on #698
@ryanmoran I misread your original commands. I assumed you were using `helm-install`.  `helm-install` does not encounter this annotation issue.

@jbw976 This is apparently related to https://github.com/kubernetes-sigs/kubebuilder/issues/906

[2019-08-22 16:43] jbw976 commented on #698
Ah good link @displague, that issue had the following controller-tools issue and potential fix to limit the size of the description fields.  The PR has been merged, so we could consider picking it up soon:
https://github.com/kubernetes-sigs/controller-tools/issues/288
https://github.com/kubernetes-sigs/controller-tools/pull/299

[2019-08-22 16:53] suskin commented on #638
I've [smoothed out](https://github.com/crossplaneio/sample-stack-wordpress/pull/3) the proof of concept a bit. Now it can create uniquely named wordpresses, and has some light usage documentation. The changes are in the master branch. I now plan to shift focus over to some of the CLI-like commands for managing some of the development lifecycle phases of a stack, and then I'll return to the stack i

[2019-08-22 19:02] displague commented on #698
I would hope that we don't have to give-up validation, but incase these `kubectl` and `controller-tools`/`controller-runtime` related changes don't address our needs I've opened:
https://github.com/kubernetes-sigs/kubebuilder/issues/962

[2019-08-22 19:52] ryanmoran commented on #698
FWIW, I was able to get crossplane installed by cutting the `stacks.stacks.crossplane.io` CRD out of the giant `crossplane.yml` file I generated with `helm template`. I created that CRD by itself using `kubectl create` and then re-ran `kubectl apply` with the `crossplane.yml` again and everything seems to be happy at the moment.

[2019-08-23 01:01] displague commented on #698
`helm install  --name crossplane --namespace crossplane-system  cluster/charts/crossplane/` also works around the `kubectl apply` limitation.

[2019-08-23 10:39] eonpatapon opened #703 "Claim portability improvements"
## Current situation

Currently claims are not really portable if they are not using the default class configured with ressource class policy.

To target a specific class which is not the default a user needs to know the specific class kind and api as well as its name and namespace using the `classRef` attribute:

[code]

## Proposal

Instead of targeting a specific class the user could define a s

[2019-08-24 18:23] soorena776 opened #707 "Inter-resource attribute references"
### What problem are you facing?

Crossplane creates and monitors external resources in third party cloud providers by using managed resource types. Users can provision an external resource by submitting a claim type which results in provisioning the corresponding managed resource, which in turn provisions the corresponding external resource.

In a lot of cases for an external resource to operate

[2019-08-24 19:39] soorena776 opened #708 "Honoring inter-resource dependency when creating/deleting resources"
### What problem are you facing?

When creating multiple managed resources simultaneously to implement a *resource configuration* (see #707), it is often the case that in order to provision resource  `B`, resource `A` needs to be already provisioned and ready. For example, in order to create a `Subnet` instance which consumes a `VPC` instance, the latter has to be already created.

Similarly, dele

[2019-08-24 21:32] negz commented on #708
If we do introduce a `dependsOn` stanza I believe we'll need to include type metadata for each dependency, as name and namespace are insufficient to uniquely identify an arbitrary kind of Kubernetes resource. The Kubernetes [API conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#references-to-related-objects) recommend either lab

[2019-08-24 21:44] negz commented on #708
I noticed while reading about the GCP Config Connector yesterday that [they use](https://cloud.google.com/config-connector/docs/how-to/creating-resource-references) what appear to be [a subset of `ObjectReference`](https://cloud.google.com/config-connector/docs/reference/resources#pubsubsubscription) (just kind, namespace, and name) to model dependencies. We could use a similar pattern if each man

[2019-08-24 22:29] negz commented on #703
Thanks for the valuable suggestions @eonpatapon! We're definitely interested in increasing claim portability, and I wouldn't be surprised if we didn't end up with something like your suggestions above.

[2019-08-25 14:39] #698 closed

[2019-08-25 14:40] jbw976 commented on #698
This should be fixed in master now thanks to #702 from @displague.  Thanks! 🚀

[2019-08-26 01:46] hasheddan commented on #707
If this were to be implemented, we would likely do so in [crossplane-runtime](https://github.com/crossplaneio/crossplane-runtime) so that they could be used across stacks (and potentially core crossplane). However, it appears that our current strategy is to continue all design work within the core crossplane repo, so we can probably hold off on opening an issue in runtime for now.

[2019-08-26 20:24] prasek opened #710 "Blog post on updated Crossplane Stacks functionality for new users"
### What seems to be the problem
Need a blog post on updated Crossplane Stacks functionality for new users.

Part of #609

### What does it look like when we're done
 * More accessible than the design doc, which is in a Crossplane-centric view
 * Broad strokes of configuration
 * Annotations not a headline topic
 * See a catalog of these stacks: GCP, AWS, Azure
 * Orient existing users to using in

[2019-08-26 20:46] prasek opened #711 "Stacks CLI to build & publish a Stack"
Related to #614

### What seems to be the problem?

As part of working on #614, I need to build & publish a Stack from source.

### What could Crossplane do to help?

Provide a CLI utility I can use to build a Stack.

### What does this look like when it's done?
* kubectl plugin command to build a Stack
* kubectl plugin command to publish a Stack
* docs & examples

[2019-08-26 20:48] prasek opened #712 "Stacks CLI command to init a new kubebuilder v2.0 Stack"
Related to #614

### What seems to be the problem?

As part of working on #614, I need to init a scaffolding for a new kubebuilder v2.0 Stack.

### What could Crossplane do to help?

Provide a CLI utility I can use to init a Stack.

### What does this look like when it's done?
* kubectl plugin command to init a Stack
* docs & examples

[2019-08-26 20:51] prasek opened #713 "User can install and use the Stacks CLI"
Related to #614

### What seems to be the problem?

Need to understand how to get started with the new Stacks CLI, e.g. install and use.

### What could Crossplane do to help?

Docs to get started with using the CLI. Pre-reqs. Commands.

Easy to get the Stacks CLI on my system.

### What does this look like when it's done?
* Getting started docs for install and use of Stacks CLI
* Repo and distrib

[2019-08-26 20:54] prasek opened #714 "Stacks CLI example: hello world!"
Related to #614

### What seems to be the problem?

Examples are a great way to get started, so an easy hello world stack would help a lot.

### What could Crossplane do to help?

Create a hello world stack that I can create using the new Stacks CLI init, build, publish commands.

### What does this look like when it's done?
* Docs on how to create the hello world example.
* Tutorial can be done i

[2019-08-27 17:31] soorena776 opened #716 "Move examples folder from cluster to the root directory"
### What problem are you facing?

The current examples folder is buried in [cluster] folder, which has two issues:
- Lower visibility for users who want to try the examples
- Lack of logical organization, as the cluster folder is mostly addressing other areas

[cluster]: https://github.com/crossplaneio/crossplane/tree/master/cluster

[2019-08-27 19:53] soorena776 opened #718 "Using higher level external resource orchestration"
### What problem are you facing?
This issue is a placeholder to propose using higher level orchestration tools such as AWS CloudFormation, Google Cloud Deployment Manager and Azure Resource Manager.

[2019-08-27 23:54] jbw976 opened #720 "Stacks CLI commands to install and uninstall a stack"
Related to #614

### What seems to be the problem?

As part of working on #614, I would like to easily install a stack within the same CLI experience.

### What could Crossplane do to help?

Provide a CLI utility I can use to install a Stack, for example:
[code]

Underneath, the `kubectl` plugin implementations would simply populate and create a `StackRequest` object for the user provided stack na

[2019-08-28 18:12] suskin opened #723 "Loose classRef matching for resource claims"
### What seems to be the problem?

Hello friends! This is related to #703 .

I am working on making a [stack that creates portable wordpress workloads](https://github.com/crossplaneio/sample-stack-wordpress). I'll refer to the set of resources created by the stack as the **resource bundle** or **bundle**. The current combination of required strongly typed classRefs for claims and namespace-specifi

[2019-08-28 18:22] glyn opened #724 "support image relocation for packages"
### What problem are you facing?

Suppose the Crossplane control cluster does not have access to the internet but does have access to a private image registry. In order to run a stack in the control cluster, the stack’s images need to be _relocated_ to the private registry _and_ the stack needs to use the relocated image references instead of the original image references of the stack’s images.

F

[2019-08-29 00:27] suskin opened #725 "Stack manager should not set service account on deployment if there is no rbac"
### What happened?

When installing a stack with no rbac configuration but with a controller, the controller's `Deployment` could not initialize, with an error on the `Deployment` that looked something like:

[code]

### How can we reproduce it?

* Create a stack with an empty `rbac.yaml`, but with an `install.yaml` deployment
* Install the stack
* Look at the stack's deployment

### What environm

[2019-08-29 00:43] suskin commented on #712
I am working on this in a separate repo, and have an initial set of changes: https://github.com/suskin/crossplane-stack-cli/pull/1

[2019-08-29 00:44] suskin commented on #711
I'm working on this in a separate repo, and have an initial set of changes: https://github.com/suskin/crossplane-stack-cli/pull/1

`publish` is the least tested of the commands so far, but I'm feeling pretty good about the `init`+ local `build` flow. I'll be creating a document to describe a quick start with the commands.

[2019-08-29 00:45] suskin commented on #641
The document is in review still, but in the meantime I've been making progress on the prototype: https://github.com/suskin/crossplane-stack-cli/pull/1

[2019-08-29 00:46] suskin commented on #641
I expect that it'll make sense to put the document into a pull request in the very near future, as first suggested by @prasek

[2019-08-29 01:42] negz opened #726 "Crossplane should refuse to operate on existing external resources"
### What problem are you facing?

As more and more Crossplane managed resources support updating (in addition to creating and deleting) their external resources, we're likely to run into cases where Crossplane will "implicitly adopt" and start managing existing external resources. This will become more prevalent as more Crossplane managed resources allow configuration of their underlying external

[2019-08-29 01:56] negz opened #727 "Immutable resource fields should be taken into account by an admission webhook"
### What problem are you facing?

Currently some Crossplane managed resources support updating a subset of the settings exposed by their underlying external resource after said external resource has been created. This can be done by editing fields within the managed resource's `spec`.

Currently there is no way for a managed resource author to determine which spec fields are updatable, and which a

[2019-08-29 06:08] muvaf commented on #726
I think we need to support both scenarios because bring-your-own-resource is also something we want for letting people adopt to Crossplane easily. I'm thinking of `attachPolicy` field in `ResourceSpec` of the managed resource with two values; one for aborting if the resource already exists, one for taking over the resource (couldn't think of names for the values right now). Then, in the managed re

[2019-08-29 11:42] muvaf opened #728 "Separation of levels between Cloud Spec and Crossplane Spec in CR"
### What problem are you facing?

Right now, an example CR looks like this:
[code]
As you see the cloud provider specifications and Crossplane fields are on the same level both in `Spec` and `Status`. As you can see, the fields that are retrieved from cloud provider have collision possibility since they are not that special, like `name` or `creationTimestamp` or more in the future. I'd like to kno

[2019-08-29 18:16] negz commented on #726
I like that idea @muvaf. Perhaps we could expand on it with something like:

[code]

This would allow:
[code]

[code]

[code]

[code]

[2019-08-30 01:00] suskin commented on #712
I've made good progress on this and have a quick start guide which gives an overview of the commands. It's in the [README of the personal repo](https://github.com/suskin/crossplane-stack-cli) that I'm currently doing this work in.

[2019-08-30 01:00] suskin commented on #711
I've made good progress on this and have a quick start guide which gives an overview of the commands. It's in the [README of the personal repo](https://github.com/suskin/crossplane-stack-cli) that I'm currently doing this work in.

[2019-08-30 01:01] suskin commented on #720
I am working on this in a [personal repo](https://github.com/suskin/crossplane-stack-cli) for now.

[2019-08-30 01:10] suskin commented on #714
The first version of this is done and documented in https://github.com/suskin/crossplane-stack-cli . I'm going to consider this as satisfying the scope of this ticket. I may open other tickets to track the work to:
* Use the `install` and `uninstall` commands
* Move the code into a crossplane org repo
* Have a tested external publish flow
* Create a repo with the fully-rendered hello world

[2019-08-30 02:46] negz commented on #728
@muvaf I feel like I've seen these field names (`specForProvider` and `statusAtProvider`) in some other tool. Am I just imagining things?

[2019-08-30 05:19] negz commented on #569
In #726 (inspired by a suggestion from @muvaf) I proposed a new `.spec.externalResourcePolicy` that would configure, amongst other things, the behaviour that is currently controlled by `.spec.reclaimPolicy`.

I like that idea @muvaf. Perhaps we could expand on it with something like:

[code]

This would allow:
[code]

[code]

[code]

[code]

[2019-08-30 05:20] negz commented on #409
In #726 (inspired by a suggestion from @muvaf) I proposed a new `.spec.externalResourcePolicy` that would configure, amongst other things, the ability to import existing external resources.

I like that idea @muvaf. Perhaps we could expand on it with something like:

[code]

This would allow:
[code]

[code]

[code]

[code]

[2019-08-30 15:15] glyn commented on #724
@suskin wrote:

If you mean merely that the (original) image reference is included in `install.yaml`, then that's typical for image relocation. A _relocation mapping_ from original to relocated image references needs to be applied to `install.yaml` so that it refers to the relocated image instead.

If you mean that the binary image is somehow included in the stack artifact, then that's also typica

[2019-08-30 23:17] suskin commented on #641
I've put the design document into a pull request in #730 .

[2019-08-30 23:20] suskin commented on #713
The code and initial documentation for this is checked into [crossplaneio/crossplane-cli](https://github.com/crossplaneio/crossplane-cli), so I'm going to close this. If we do some release-cutting as part of the milestone, let's track that in a separate issue.

[2019-08-30 23:21] #713 closed

[2019-08-30 23:21] suskin commented on #714
The documentation for this is checked into [crossplaneio/crossplane-cli](https://github.com/crossplaneio/crossplane-cli), so I'm going to close this.

[2019-08-30 23:22] #714 closed

[2019-08-30 23:22] suskin commented on #712
The code and initial documentation for this is checked into [crossplaneio/crossplane-cli](https://github.com/crossplaneio/crossplane-cli), so I'm going to close this.

[2019-08-30 23:22] suskin commented on #712
The code and initial documentation for this is checked into [crossplaneio/crossplane-cli](https://github.com/crossplaneio/crossplane-cli), so I'm going to close this.

[2019-08-30 23:22] #712 closed

[2019-08-30 23:23] suskin commented on #711
The code and initial documentation for `build` is checked into [crossplaneio/crossplane-cli](https://github.com/crossplaneio/crossplane-cli), but `publish` isn't quite polished enough yet to be considered done.

[2019-08-30 23:25] suskin commented on #638
This was ready a while back, but wasn't tested in AWS yet. Now, there is some work to update the wordpress stack to use the latest crossplane features and changes, but I'm going to close this ticket and open a new one to track the upgrade work and the additional testing.

[2019-08-30 23:25] #638 closed

[2019-08-30 23:30] suskin opened #731 "Update wordpress stack to use Stack CLI"
Related to #572

### What seems to be the problem?

Once we have a stack CLI, we will want to update the wordpress sample stack to use its patterns and techniques.

### What can Crossplane to do help?

Update the sample wordpress stack to use the CLI's patterns and techniques.

### What does it look like when we're done?

* The wordpress sample stack should use the same project layout as what the

[2019-08-30 23:44] suskin opened #732 "Wordpress stack: update to use latest crossplane"
Related to #572

### What seems to be the problem?

Now that crossplane has been updated to have strongly typed claims with corresponding default resource policies, the wordpress sample stack no longer works with the latest crossplane. It should be updated to match.

### What can Crossplane do to help?

Update the wordpress sample stack to take advantage of the latest changes and features, such as

[2019-08-30 23:51] suskin opened #733 "Blog post for stack CLI and wordpress stack"
Part of #775

### What seems to be the problem?

As part of the 0.3 release, we would like to also document and announce the stack CLI and streamlined experience around multiple stacks experience features:

CLI tooling to init/build/push, dev guide for Stacks, security and isolation model, crossplane-runtime: simplifies building robust controllers.

### What does it look like when we're done?
* Bl

[2019-08-30 23:54] suskin opened #734 "Wordpress polish and cleanup for 0.3"
Related to #572

### What seems to be the problem?

There are a bunch of little things we want to do to prepare for the 0.3 release, so this ticket will be used to help us track them.

### What does it look like when we're done?

- [x] add integration test
- [ ] update and polish documentation
- [ ] check timing of going through documentation
- [ ] add troubleshooting section to documentation
- [

[2019-08-30 23:55] suskin opened #735 "Stacks CLI cleanup and polish for 0.3"
Related to #614

### What seems to be the problem?

There are a bunch of little things we want to do to prepare for the 0.3 release, so this ticket will be used to help us track them.

### What does it look like when we're done?

Tasks
- [x] add "help/-h/--help" for all of the commands

Documentation
- [ ] update and polish documentation
- [x] check timing of going through documentation

Release t

[2019-08-31 00:32] negz commented on #716
The entire `cluster/` directory is pretty unintuitive; I suspect it's an artifact of copying our repo structure from github.com/kubernetes/kubernetes?

[2019-08-31 00:46] negz commented on #149
@prasek No, those issues are related but separate.

This issue is discussing a _uniform_ way to connect to resources, which we do not yet have. #115 is more closely related to my resource usage one pager than our network connectivity work.

[2019-08-31 00:54] suskin commented on #720
I have the first implementation here: https://github.com/crossplaneio/crossplane-cli/pull/2

I'm not **100%** happy with the syntax yet, but I think it's close enough for the level of polish that we're going for in the 0.3 release.

More specifically, there are some questions we'll want to keep thinking about regarding the following:
* Passthrough of other kubectl arguments
* The naming for the st

[2019-08-31 01:04] negz opened #736 "Introduce an "unclaimable managed resource" reconciler variant?"
### What problem are you facing?

In #615, #616, and #617 we've added a series of network connectivity managed resources for each cloud provider, for example networks, subnets, and security groups. At the time of writing these managed resources do not have corresponding resource claims or classes; they can only be created manually.

These resources use the generic managed resource reconciler, whic

[2019-08-31 03:27] negz opened #737 "Determine whether resource update is necessary during observation."
### What problem are you facing?

Controllers using the the Generic Managed Resource Reconciler (GMRR) must make two cloud provider API calls during the most common reconcile path, when they only require one API call.

The GMRR requires controller authors to satisfy the `resource.ExternalClient` interface, which looks like:

[code]

The GMRR first calls `Observe` to report whether the external res

[2019-08-31 21:28] soorena776 commented on #678
I am running into this issue in #722 as well.

[2019-09-01 00:00] prasek commented on #723
Would be great for Crossplane to continue enabling Admins to provide a self-service list of available classes-of-service (mysql-standard, mysql-HA) and for App Owners to pick from that list in a portable way, including portable claim kinds that can be satisfied by GCP, AWS, or Azure.

Previously this was supported with the singular ResourceClass CRD such that classes-of service were provided by Ad

[2019-09-01 03:09] hasheddan commented on #723
@prasek this is a very interesting proposition, and I definitely think an improvement of the `Policy` API is the way the we will solve this problem. Is the default label you mentioned at the end intended to serve as indicating the default policy to use for the claim if the `policyRef` field is omitted? If so, we could simplify it a bit as:
[code]
due to the fact that the claim kind for which it is

[2019-09-01 21:33] negz commented on #658
https://github.com/ahmetb/gen-crd-api-reference-docs/

We should consider using the above project to generate documentation from CRDs.

[2019-09-01 22:48] negz commented on #624
We're seeing something like this for the AWS network types where the caller has no control over the resource names, which are randomly generated by the cloud provider.

[2019-09-02 11:44] glyn commented on #724
Another consideration for image relocation of a stack is the registry representation of the stack. Currently, a stack is represented essentially as an image consisting of a collection of file system layers in the form of binary blobs. So it is not possible to introspect the contents of a stack without the machinery for forming a file system from an image.

If we want to relocate the images of a st

[2019-09-03 11:05] muvaf opened #738 "Group Classification for New Resources"
### What problem are you facing?

Currently, when implementing a new managed kind, it's not always straightforward to see which group one needs to use. For example, one could argue that `Network/VPC` resources should be under `compute` group of each cloud provider because that's how AWS/Azure/GCP groups them, but on the other hand it's a bit hard to imagine the networking stuff as part of _compute

[2019-09-03 14:58] jbw976 commented on #544
Fixed in #706

[2019-09-03 14:58] #544 closed

[2019-09-03 15:03] #612 closed

[2019-09-03 15:04] jbw976 commented on #612
Each supported cloud provider has their own repository now:

* GCP: https://github.com/crossplaneio/stack-gcp
* Azure: https://github.com/crossplaneio/stack-azure
* AWS: https://github.com/crossplaneio/stack-aws

[2019-09-03 15:07] jbw976 commented on #538
Closing this in favor of #650, which is part of the v0.3 Azure epic.

[2019-09-03 15:07] #538 closed

[2019-09-03 15:09] jbw976 commented on #650
There may be some work in #574 that we could reuse for the Azure docs update, but potentially not if our docs overhaul for v0.3 is fairly drastic.

[2019-09-03 15:22] jbw976 commented on #658
This work is being tracked via the epic for each cloud provider, e.g., #615, #616, #617

[2019-09-03 15:23] jbw976 commented on #595
I think we can call this issue done after all the examples have been updated in #696.  The remaining work to update all the user guides is being tracked via the epic for each cloud provider, e.g., #615, #616, #617

[2019-09-03 15:23] #595 closed

[2019-09-03 15:27] jbw976 opened #739 "Official build pipelines for new cloud provider stacks"
### What seems to be the problem?
All cloud providers now have their own stack repositories created and their stacks have been built and published to docker hub as a starting point.
* https://github.com/crossplaneio/stack-gcp
* https://github.com/crossplaneio/stack-aws
* https://github.com/crossplaneio/stack-azure

We need official build pipelines set up so that PRs must get a green build before b

[2019-09-03 15:32] jbw976 commented on #651
The GCP stack repo has been created in https://github.com/crossplaneio/stack-gcp.

The initial GCP stack has been published to docker hub as `crossplane/stack-gcp`: https://cloud.docker.com/u/crossplane/repository/docker/crossplane/stack-gcp

[2019-09-03 15:32] #651 closed

[2019-09-03 15:34] jbw976 commented on #652
The AWS stack repo has been created in https://github.com/crossplaneio/stack-aws.

The initial AWS stack has been published to docker hub as `crossplane/stack-aws`: https://cloud.docker.com/u/crossplane/repository/docker/crossplane/stack-aws

Remaining work for official build pipelines is being tracked in #739.

[2019-09-03 15:34] #652 closed

[2019-09-03 15:34] jbw976 commented on #653
The Azure stack repo has been created in https://github.com/crossplaneio/stack-azure.

The initial Azure stack has been published to docker hub as `crossplane/stack-azure`: https://cloud.docker.com/u/crossplane/repository/docker/crossplane/stack-azure

Remaining work for official build pipelines is being tracked in #739.

[2019-09-03 15:34] #653 closed

[2019-09-03 17:20] suskin opened #740 "As a stacks CLI user, I'd like a simple way of installing the stacks CLI"
Related to #614

### What seems to be the problem?

Now that we have several commands for the stacks CLI, it's a bit intimidating to install all of them individually. It'd be nice to have something which seems or is simpler.

### What could Crossplane do to help?

This could be as simple as putting all of the commands into a script and telling people to download and run the script instead of copyi

[2019-09-03 17:22] #720 closed

[2019-09-03 17:23] suskin commented on #720
I have closed this since the first implementation is merged now. There is some light documentation about the commands. We may want to improve the documentation in the future, but we can track that in a separate issue.

[2019-09-03 17:31] prasek commented on #723
After re-reading the vision doc, the main issue is that claims are currently defined as portable and permitting selection of a class of service in a portable way. The move to strongly typed classes make the claim.classRef not portable, so suggest removing claim.classRef and replacing it with claim.policyRef so v0.3 claims are (a) portable and (b) allow the app owner to pick the class of service in

[2019-09-03 18:19] jbw976 commented on #658
This issue actually still has more work to do that is independent of the cloud provider stacks.  We'll want to have some Stacks intro and usage documentation.

- what a stack is - stack introduction
- how do you build one and what components does it need
- how to publish
- how to consume and use

[2019-09-03 21:14] hasheddan opened #741 "Investigate Using Pointers for Optional Fields"
Currently, there are many *optional* fields in Crossplane CRD definitions (denoted with `omitempty`) that are not of pointer type. This can lead to issues to unintended behavior when these fields are omitted from a `yaml` definition. This is particularly hairy with type `bool`. If a `bool` field is excluded in a CRD instance, it is assigned its zero value (`false`). However, this is weak defaultin

[2019-09-03 21:14] hasheddan commented on #741
cc// @muvaf @negz

[2019-09-03 23:58] displague commented on #724
Capturing some tangential thoughts [from our crossplane#sig-stacks Slack conversation](https://crossplane.slack.com/archives/CKXQK4P27/p1567433582160200).  These may warrant a new issue down the road.

---
https://github.com/opencontainers/image-spec/blob/master/annotations.md#pre-defined-annotation-keys could serve as alternative to the `app.yaml` file. It seems a registry would have an easier ti

[2019-09-04 01:01] #711 closed

[2019-09-04 01:01] #740 closed

[2019-09-04 08:16] glyn commented on #724
As I mentioned in the above Slack conversation, there may be reasons to preserve `app.yaml` as a canonical form (e.g. for computing a digest/signature) of the information in the annotations. (The registry representation of a stack could also be a canonical form, but it wouldn't be available until the stack had been "pushed" to a registry.)

[2019-09-04 16:24] suskin commented on #732
Since there are some changes happening with crossplane to pull the infrastructure stacks out of the core repository, it probably doesn't make sense to test the changes with all of the providers yet. What I'm planning on doing is:

* Update the stack to (assume) strongly typed claims and a default resource policy
* Test this setup with a single provider (gcp)
* Write down the steps for my own notes

[2019-09-04 16:35] suskin opened #744 "cli: "trace" command"
### What seems to be the problem?

During problem solving and troubleshooting of issues (especially with workloads), I often end up doing a `kubectl get` on the relevant resource, then a bunch of `get`s on related resources, to see the statuses of everything related to what I was trying to do.

### How can Crossplane help?

It seems like it'd be useful to have a `trace` command which would walk th

[2019-09-04 18:04] negz commented on #738
We discussed in standup this morning and have decided to align our API groups as closely as possible with their cloud provider's API namespaces - so for example if GCP keeps networks and subnets under its compute APIs, our network and subnet resource should be under `compute.gcp.crossplane.io` (as they are today). We believe this to be true even if we'd put the associated resource claims under a d

[2019-09-04 18:43] rathpc opened #745 "Add new "overview" field in both app.yaml and resource.yaml"
### What problem are you facing?
Currently there is only a `description` field as a part of **app.yaml** and **resource.yaml**.

### How could Crossplane help solve your problem?
It would be useful to have an additional field called `overview` as a part of **app.yaml** and **resource.yaml** that you could use to add in a summary/descriptive text area about the stack or resource respectively. This

[2019-09-04 20:13] lukeweber commented on #745
I don't see overview as being needed as it currently stands because description can simply be a rich markdown of sections and anything needed to describe the application.

[2019-09-04 21:16] #654 closed

[2019-09-04 21:27] muvaf commented on #657
Fixed in #699

[2019-09-04 21:27] #657 closed

[2019-09-04 21:36] muvaf commented on #728
Just Googled but couldn't find any reference. Deja vu maybe? :)

[2019-09-04 22:15] #732 closed

[2019-09-04 23:26] hasheddan opened #746 "Ensure managed resources are made Bindable after all connection secrets are available"
### What happened?

I dynamically provisioned a `MySQLInstance` on Azure and all connection information (`username`, `password`, `endpoint`) was being written to the managed resource's secret, but the secret specified in the claim's `writeConnectionSecretToRef` field was getting only the `username` and `password` but not the `endpoint`. After digging into the shared claim reconciler code in [`cros

[2019-09-05 04:16] jbw976 commented on #746
Is this a different issue than #555?

[2019-09-05 04:26] hasheddan commented on #746
I believe that this would be covered by #555. Apologies for not finding that one before opening, I will close in favor! Thanks for the triage! :rocket:

[2019-09-05 04:26] #746 closed

[2019-09-05 05:50] jbw976 commented on #641
Fixed with #730

[2019-09-05 05:50] #641 closed

[2019-09-05 07:30] negz commented on #290
I don't believe Crossplane should participate in "two way" reconciliation. Crossplane should consider the spec of its managed resources to be the authoritative desired state of their corresponding external resources, and should drive the state of those external resources toward the spec.

The one exception to this rule is "late initialisation", as described by the [Kubernetes API conventions](http

[2019-09-05 10:55] glyn commented on #724
I've been looking at cnab-to-oci to see how a stack might best be represented in a registry. It overloads an OCI index to represent a CNAB bundle. Unfortunately, there isn’t a single representation which turns out to be acceptable to all registries so if you push a bundle to a registry, you can’t then just copy it to another registry which requires a different representation.

So if we decide to u

[2019-09-05 17:02] hasheddan opened #747 "Break out AKS cluster side-effect resource creation"
### What problem are you facing?

As part of the effort for #617, new `network` resources were introduced to allow connectivity between an AKS cluster and a MySQL server instance (PR: #721, Issue: #647). For example, the `MysqlServerVirtualNetworkRule`, which allows for connectivity between the AKS `subnet` and the `MysqlServer` instance, is implemented as a separate `kind` with its own controller

[2019-09-05 17:14] hasheddan opened #748 "Introduce role assignment for service principal in AKS controller [temporary]"
Part of #617

### What problem are you facing?

In order for an AKS cluster on Azure to be able to obtain an `external-IP` address for a `type: LoadBalancer` `Service` (which is necessary for the Wordpress workload), the cluster's service principal must be assigned `NetworkContributor` access to the subnet that it resides in.

Azure Docs:
* [AKS Network Model](https://github.com/MicrosoftDocs/azur

[2019-09-06 00:02] suskin opened #749 "Lots of orphaned external resources"
### What happened?

I was using a locally-installed crossplane control cluster to test the [wordpress stack](https://github.com/crossplaneio/sample-stack-wordpress), and ended up with a bunch of new GKE clusters in my GCP account that I wasn't expecting. The clusters were not reflected in the crossplane state.

I saw a bunch of these in the logs, which could correspond to the creation+orphaning ev

[2019-09-06 00:57] suskin commented on #639
The image for the wordpress stack is getting published to this dockerhub repository: https://cloud.docker.com/u/crossplane/repository/docker/crossplane/sample-stack-wordpress

[2019-09-06 01:18] suskin commented on #639
Now that the image has been published, I am going to close this, but I expect that we will probably be publishing a tagged version as part of cutting the release for the stack.

[2019-09-06 01:18] #731 closed

[2019-09-06 01:18] #639 closed

[2019-09-06 07:28] jbw976 opened #751 "Include UI metadata for all resources in packages"
### What problem are you facing?

From #706, the Stack Manager has support for processing [UI metadata](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stack-ui-metadata.md) from stack packages and setting them as annotations on the stack's CRDs when they are created in the control plane.

However, no stacks are using this feature yet.

### How could Crossplane help solve y

[2019-09-06 07:54] jbw976 opened #752 "Establish pattern for browsing generated resources and their parent child relationships"
### What problem are you facing?
Controllers in Crossplane, for example the controller installed by a stack, are likely to create multiple resources as part of their normal operations.  It would be a useful experience for the user to be able to view and browse all of these resources. But how can they find them?

Take for example the [WordPress stack](https://github.com/crossplaneio/sample-stack-wo

[2019-09-06 07:55] jbw976 commented on #752
/cc @rathpc @thephred

@rathpc were you already doing some thinking and prototyping on this topic? Is there any write-up of your learnings that you can share here?

[2019-09-06 16:43] lavbox opened #753 "GitLab: Resource classes are not created"
### What happened?
While creating the Crossplane Resource Classes needed to provision GitLab applications, the command run successfully but verification steps shows no results. It causes the overall deployment failure because the gitlab-demo-unicorn pod fails to initialize with the following error.
```PG::ConnectionBad: could not translate host name "gitlab-demo-postgresql" to address: Name or ser

[2019-09-06 18:42] suskin opened #754 "stacks cli: update to use new dependency and rbac model"
### What seems to be the problem?

The contract for stacks, especially around rbac and dependencies, will be [changing](#663), based on some of the things described in recent design doc changes around the security model.

### What can Crossplane do to help?

Once we've updated the stack manager to use dependencies and the rbac model described in recent design doc changes, we'll want to update the

[2019-09-06 19:46] hasheddan opened #756 "Improve consistency and testability of Azure clients"
### What problem are you facing?

There is currently two main patterns for creating service-specific Azure clients:

1. Shared `NewClient` via `v1alpha1.Provider` [here](https://github.com/crossplaneio/crossplane/blob/aa77d92f900711cd964e495db6f9332906b25ea9/pkg/clients/azure/azure.go#L79). Services that use this function return a [wrapped client](https://github.com/crossplaneio/crossplane/blob/aa

[2019-09-06 22:17] hasheddan commented on #647
Closed by #721

[2019-09-06 22:17] #647 closed

[2019-09-06 23:45] prasek opened #757 "Share resource class specTemplate config across multiple environments: dev, test, prod"
**What seems to be the problem?**
The upcoming [GitLab integration](https://gitlab.com/groups/gitlab-org/-/epics/1866) populates a set of default resource classes to get new users going more quickly. However for the [GCP example](https://gitlab.com/groups/gitlab-org/-/epics/1866#2-configure-crossplane-for-use-with-your-cloud-provider): region and allowedNetworks will need to be set in most of the

[2019-09-09 08:29] negz commented on #555
I was worried about missing this issue for 0.3, but I see it's part of the milestone and actually seems to be mostly fixed. I believe:

* https://github.com/crossplaneio/crossplane/pull/721 fixed this for the Azure database kinds.
* https://github.com/crossplaneio/crossplane/pull/603 fixed this for AWS ReplicationGroups.
* https://github.com/crossplaneio/stack-gcp/pull/4 will fix this for GCP Clou

[2019-09-09 09:55] glyn commented on #724
@prasek here's an [article](https://deislabs.io/posts/state-of-cnab-part-2/) which describes how CNAB bundles are represented in OCI registries, which may be of interest.

[2019-09-09 13:52] jbw976 opened #758 "Scoped verb access to CRDs a package depends on"
This issue started with discussion in https://github.com/crossplaneio/crossplane/pull/672#discussion_r319581410

### What problem are you facing?
As per the stacks security and isolation [design doc](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md#allowed-resource-access), a stack will be given access to all verbs on CRDs that the stack depends

[2019-09-09 13:53] #580 closed

[2019-09-09 14:25] jbw976 opened #759 "Integration tests for cloud provider stacks"
### What problem are you facing?
The main crossplane repo has an [integration test](https://github.com/crossplaneio/crossplane/blob/master/cluster/local/integration_tests.sh) to do sanity validation in our CI builds, but the cloud provider stacks do not.

### How could Crossplane help solve your problem?
We should invest in some simple integration level testing for the cloud provider stacks, at th

[2019-09-09 18:01] hasheddan commented on #753
Hi @lavbox! With the move to [strongly-typed resource classes](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-strongly-typed-class.md) we no longer have a general `ResourceClass` kind, so we cannot "get" them all as the same resource type. To get each of the resource classes above you would need to run:
[code]
Unfortunately the docs are currently out of sync with the examp

[2019-09-09 18:01] #753 closed

[2019-09-09 18:21] soorena776 opened #761 "AWS: update all docs and examples"
### What problem are you facing?
Parent #616

Need updated docs and examples for AWS

### How could Crossplane help solve your problem?

Update the docs for AWS.

Superseded by sub-issues of #625.

[2019-09-09 18:22] soorena776 opened #762 "AWS: Update API status table for infra stack capabilities, API version level, etc."
### What problem are you facing?

Parent #616
### How could Crossplane help solve your problem?

[2019-09-09 18:52] negz opened #763 "Generate Crossplane (Custom Resource) API documentation"
### What problem are you facing?

Currently Crossplane relies on a directory of hand curated example YAML to document what custom resources exist and what their fields are. This is suboptimal for a number of reasons:

* It's prone to becoming stale and inaccurate as the codebase changes.
* It's typically not possible to write a working example that uses all resource fields, meaning many of our sup

[2019-09-09 18:53] negz commented on #763
An example output: https://knative.dev/docs/reference/eventing/

[2019-09-10 00:58] suskin commented on #735
For timing, it turns out it takes a bit of extra time the first time the docker image is built, which I wasn't accounting for. But, it should still be around five minutes to go through the whole thing.

[2019-09-10 01:19] suskin opened #764 "wordpress stack: add automated publishing"
### What seems to be the problem?

Now that we have an image going into dockerhub for the [sample wordpress stack](https://github.com/crossplaneio/sample-stack-wordpress), we should automate the publishing of it, so that we don't need to remember to do it by hand every time.

### How can Crossplane help?

Add some automation to the sample wordpress project so that images are automatically publishe

[2019-09-10 01:23] suskin commented on #735
Doing the hello world from scratch was a bit of a pain, because of installing prerequisites. I ended up using a different approach for installing crossplane without installing tiller, which may be nice to get into the crossplane repo or docs somewhere.

For posterity, the approach I used was roughly the same as the `helm-install` target in the `local.sh` script in the `cluster` folder, but with `h

[2019-09-10 01:25] suskin commented on #735
There will be a testing session for the CLI later this week, so I am thinking I will split some of the release work into a separate ticket. The new ticket will have:

* Update and polish documentation (based on the results of the testing session)
* Cut the release (this will be the same as the existing steps)

[2019-09-10 04:50] #748 closed

[2019-09-10 17:14] suskin opened #766 "crossplane cli: automated testing"
### What seems to be the problem?

We don't have any tests that run automatically for the crossplane cli. It'd be nice to set something up to run against all pull requests, for example.

### How can Crossplane help?

Set up some automated builds to run against pull requests against the crossplane cli repo. It could even start with an empty build, just to get the automation set up and working. The

[2019-09-10 18:07] #555 closed

[2019-09-10 18:07] suskin opened #767 "Stacks CLI: cut 0.1.0 and 0.2.0 release"
Related to #614

### What seems to be the problem?

There are a bunch of little things we want to do to cut the 0.3 release, so this ticket will be used to help us track them.

### What does it look like when we're done?

Release cutting steps
- [ ] Create a branch for the release
- [ ] Update release notes
- [ ] Point install instructions in the docs to the latest stable release
- [ ] Create a ta

[2019-09-10 18:09] suskin commented on #735
I've moved the release-cutting steps into #767

[2019-09-10 21:26] jbw976 commented on #745
Let's sync up @lukeweber @rathpc on what is needed to be added to the Stacks package format spec in v0.3.

[2019-09-10 22:10] rathpc commented on #745
I will throw something on our calendars @jbw976

[2019-09-11 15:40] jbw976 commented on #572
I think this got closed automatically by https://github.com/crossplaneio/stack-gcp/pull/10, but we should let @suskin close this epic when it's completely done.

[2019-09-11 17:41] #661 closed

[2019-09-11 17:57] #660 closed

[2019-09-11 17:57] #686 closed

[2019-09-11 19:25] rathpc commented on #745
@jbw976 As per our recent meeting, here are the takeaways:

We will be modifying the spec to reflect the following:

### Within `app.yaml`

- The **description** field will be renamed **readme**.
- A new field, **overview** will be created which should accept plain text only.
- A new field **overviewShort** will be created which should accept plain text only.

### Within `resource.yaml`

- The **d

[2019-09-11 20:32] displague commented on #745
@rathpc `group.yaml` follows the same conventions and should be updated too.

[2019-09-11 21:15] displague commented on #745
There may be an advantage to using a `README.md` in the leaf directories.  We may need to use `README-kind.md` (or similar) to disambiguate between crd files being described.  This would also incur ambiguity between group and resource README files.

The advantage would be that stack creators do not have to work on markdown within yaml indentations.  They can use featureful markdown editors.

[2019-09-11 22:54] suskin opened #774 "cli: install and uninstall discrepancy is confusing, and so are the errors"
### What happened?

I was installing and uninstalling the wordpress sample stack locally, and ran into this:

[code]

I was confused for a bit about what I did wrong, and I was the one who **wrote** this functionality. Other people are going to be at least as confused as I was.

The issue is that `install` is specified by docker image, and `uninstall` is specified by kubernetes resource name, and

[2019-09-12 03:01] prasek opened #775 "deep-dive series of blog posts on v0.3 features"
### What problem are you facing?
To highlight all the progress and advancements of v0.3 release, we should run a series of v0.3 deep dive blog posts.

As an example, we published the first blog post in this deep dive series on moving the cloud provider stacks out-of-tree: https://blog.crossplane.io/v0-3-deep-dive-part-i-aws-gcp-azure-stacks-have-moved-out-of-tree/

### How could Crossplane help so

[2019-09-12 03:20] prasek opened #777 "Update Quickstart Guide for crossplane.io docs"
### What problem are you facing?
Would like a quick start for Crossplane to get started ideally in < 1 min

part of #625

### How could Crossplane help solve your problem?
Updated [Quickstart Guide](https://crossplane.io/docs/v0.2/quick-start.html)
 * S0: Quickstart: Static provisioning of managed DB, consume via claim, show real usage by app
 * Overview / Intro - [DRAFT](https://docs.google.com/d

[2019-09-12 03:39] prasek opened #778 "Add Services Guide to getting-started.md on crossplane.io docs"
### What problem are you facing?
Would like to get started with dynamic provisioning using Crossplane Services by installing a Stack for GCP, AWS, or Azure and provisioning a managed DB instance using kubectl and securely use it from my app.

part of #625

### How could Crossplane help solve your problem?
Add a [Getting Started](https://crossplane.io/docs/v0.2/getting-started.html) section for:
 *

[2019-09-12 04:00] prasek opened #779 "Add Stacks Guide to getting-started.md on crossplane.io docs"
### What problem are you facing?
Would like to get started deploying a portable App Stack (e.g. Wordpress) into multiple clouds from kubectl using one of the Stacks for GCP, AWS, or Azure.

part of #625

### How could Crossplane help solve your problem?
Add a [Getting Started](https://crossplane.io/docs/v0.2/getting-started.html) section for:
 *  S3: Stacks Guide: Deploy portable Wordpress App Sta

[2019-09-12 04:20] prasek opened #780 "Add Cluster Guide to getting started in crossplane.io docs"
### What problem are you facing?
Would like to get started creating a new managed k8s cluster (GKE, EKS, AKS) via Crossplane dynamic provisioning using kubectl for GCP, AWS, or Azure.

part of #625

### How could Crossplane help solve your problem?
Add a [Getting Started](https://crossplane.io/docs/v0.2/getting-started.html) section for:
   * Cluster Guide: deploy a managed k8s cluster from kubect

[2019-09-12 04:37] prasek opened #781 "Update overall crossplane.io docs for v0.3"
### What problem are you facing?
Would like crossplane.io docs to reflect all the awesome stuff going on in v0.3.

### How could Crossplane help solve your problem?
Our current thinking is that the documentation should be updated to reflect the changes. An example of changes which could be made would be:
* A glossary of terms is published and used consistently everywhere
* Crossplane docs have bee

[2019-09-12 06:00] prasek opened #782 "Curate, update, and test all Crossplane examples for v0.3"
### What problem are you facing?
* [crossplane.io examples](https://github.com/crossplaneio/crossplane/tree/master/cluster/examples) for GCP, AWS, Azure stacks have fallen behind the large number of changes in the v0.3 release.

The examples in [/cluster/examples](https://github.com/crossplaneio/crossplane/tree/master/cluster/examples) are a little hard to find without searching around, so would b

[2019-09-12 06:13] prasek opened #783 "Update crossplane repo docs including readme"
### What problem are you facing?
The main crossplane repo readme and repo-specific docs could use a refresh.

### How could Crossplane help solve your problem?
Refresh the [crossplaneio/crossplane](https://github.com/crossplaneio/crossplane) repo docs

### Todo
* [ ] README.md - overall intro content
  *   [ ] General readme cleanup, tighter prose, more direct, approachable, etc.
  *   [ ] API Sta

[2019-09-12 06:19] prasek opened #784 "Update GitLab examples to use new cloud provider Stacks for AWS and GCP"
### What problem are you facing?
GitLab examples haven't been refreshed to use Stacks for GCP and AWS or the new secure connectivity capabilities.

### How could Crossplane help solve your problem?
GitLab examples should be updated to use the new Stacks for GCP and AWS and use secure connectivity between the cluster and managed services.

### Todo
Update [GitLab deployment guides](https://github.c

[2019-09-12 06:36] prasek commented on #761
Superseded by sub-issues of #625.

[2019-09-12 06:36] #761 closed

[2019-09-12 06:37] prasek commented on #762
Superseded by sub-issues of #625.

[2019-09-12 06:37] #762 closed

[2019-09-12 20:14] hasheddan opened #787 "Consider updating SetPortableClassItems() logic for panics"
### What problem are you facing?

The `SetPortableClassItems()` method was required on all portable `___ClassList` objects following crossplaneio/crossplane-runtime#13. Implementation consisted of ignoring objects that were not the correct type for the class list's items:

[code]

### How could Crossplane help solve your problem?

It is not clear that this is the desired behavior for this method.

[2019-09-12 23:21] #723 closed, assigned to hasheddan

[2019-09-13 03:03] negz opened #790 "Stacks and Workloads should use bespoke status conditions"
### What happened?

When installing the GCP stack I went to inspect its status and noticed that its conditions state the "managed resource" is being created, and has successfully been reconciled. "Managed resource" in Crossplane parlance typically means "Crossplane resource that represents an external resource", typically in a cloud provider - `RDSInstance` is a "managed resource" because it repre

[2019-09-13 14:19] rathpc commented on #745
I think that could make sense to me, and I have no problem with a file versus a field as long as it ends up being parsed into an annotation the same way a field in the YAML would have.

[2019-09-13 15:02] displague commented on #754
I have draft PRs up in:
* crossplaneio/stack-gcp#19
* crossplaneio/stack-azure#5
* crossplaneio/stack-aws#5
* crossplaneio/sample-stack#2
* crossplaneio/sample-stack-wordpress#8
* crossplaneio/crossplane-cli#11

I'll add `dependsOn` to those drafts once I understand what each depends on.

[2019-09-13 15:28] jbw976 commented on #739
GCP, AWS, and Azure have all been moved out of core crossplane and migrated to their own stack repos.  Official builds are running for all of them and regularly publishing the stacks to docker hub on every commit to master.

[2019-09-13 15:28] #739 closed

[2019-09-13 17:30] displague commented on #663
Closed by #729 :tada:

[2019-09-13 17:30] #663 closed

[2019-09-14 01:53] negz commented on #763
Cross linking https://github.com/crossplaneio/crossplaneio.github.io/issues/26.

[2019-09-14 06:30] #428 closed

[2019-09-15 10:01] rbwsam opened #797 "Stack permissionScope value invalid"
According to [the stacks design doc](https://github.com/crossplaneio/crossplane/blob/master/design/design-doc-stacks.md#example-appyaml) the value of the field `permissionScope` may only be one of `Cluster, Namespace` but currently [config/stack/manifests/app.yaml](https://github.com/crossplaneio/sample-stack-wordpress/blob/master/config/stack/manifests/app.yaml) has the value `Namespaced`.

[2019-09-15 13:59] jbw976 commented on #797
The stacks security and isolation design doc is correct: https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md#stack-package-author

So we just need to update https://github.com/crossplaneio/crossplane/blob/master/design/design-doc-stacks.md#example-appyaml

[2019-09-15 21:41] jbw976 commented on #797
PR to fix this in #798 @rbwsam

[2019-09-15 23:26] #797 closed

[2019-09-16 16:16] jbw976 opened #799 "Stacks cannot access /status subresources"
### What happened?

The cloud provider stacks are unable to reconcile resources because they do not have permissions in their cluster roles to access `/status` subresources.

### How can we reproduce it?

Install Crossplane and a cloud provider stack (e.g. gcp) according to the docs:
https://crossplane.io/docs/master/install-crossplane.html#installing-cloud-provider-stacks

Attempt to create a man

[2019-09-16 16:36] jbw976 commented on #519
This will be covered by the #625 epic, all our examples and guides should be good for the 0.3 release from the issues covered in that epic.

[2019-09-16 16:36] #519 closed

[2019-09-16 17:27] #735 closed

[2019-09-16 18:00] #684 closed

[2019-09-16 18:00] #685 closed

[2019-09-16 19:03] #745 closed

[2019-09-16 21:18] #799 closed

[2019-09-16 22:15] displague commented on #754
Closed by crossplaneio/sample-stack-wordpress#11, crossplaneio/sample-stack-wordpress#8, and crossplaneio/sample-stack-wordpress#14

[2019-09-16 22:15] #754 closed

[2019-09-17 05:46] negz commented on #656
This should be fixed by #806.

[2019-09-17 05:48] negz commented on #658
#806 contains API status tables for all cloud providers. If we want to duplicate these in our README files you're welcome to copy and paste from that PR.

[2019-09-17 06:21] negz commented on #763
Below are some examples of how this will render on https://crossplane.io once https://github.com/crossplaneio/crossplaneio.github.io/pull/24 is merged. We'll need to add a sidebar link to the `api.html` - I presume this requires a PR against the website repo.

The entrypoint:
<img width="1272" alt="Screen Shot 2019-09-16 at 11 19 03 PM" src="https://user-images.githubusercontent.com/1049349/650161

[2019-09-17 13:43] jbw976 commented on #763
If you're referring to the left-hand table of contents navigation area, there's nothing that needs to be changed on the website code itself.  That is all generated from headers at the top of each markdown file, such as the below example from https://raw.githubusercontent.com/crossplaneio/crossplane/master/docs/install-crossplane.md.

The greater the `weight` value, the further down in the list the

[2019-09-17 18:08] #588 closed

[2019-09-17 18:53] bassam commented on #708
Can we use configMaps to capture dependencies between objects?

[2019-09-17 19:19] negz commented on #708
Could you elaborate on how this might look? it sounds a bit awkward to me.

Kubernetes typically seems to prefer handling dependencies via eventual consistency; you apply everything and if something is not ready its dependents wait until it is before proceeding. If we solve #707 and also standardise how managed resources communicate their readiness. We should be able to simply short circuit reconc

[2019-09-17 19:22] #763 closed

[2019-09-17 19:58] muvaf opened #810 "KubernetesApplicationResource never reconciles after success"
### What happened?

KubernetesApplicationResource reconciler never reconciles after the reconcile loop has completed successfully (waited for 20 minutes). For example, if a service has been deployed to the remote cluster successfully and the subsequent patch calls are successful, there is no more event on the KubernetesApplicationResource in the crossplane cluster. Hence, it never goes to remote c

[2019-09-17 20:08] negz commented on #810
@muvaf From my read of the code your assessment sounds accurate. I agree that we should switch the sync method to return `RequeueAfter: 30 * time.Second` or similar.

[2019-09-17 20:31] #810 closed

[2019-09-18 01:57] negz commented on #452
Worth keeping an eye on - https://github.com/kubernetes-sigs/kubebuilder/pull/952

[2019-09-18 04:36] lukeweber opened #836 "Package resources are all in single resources directory"
Per the spec the stack should have it's resources is distinct sub-directories, but they're all in the resources directory.

[code]

From the spec - https://github.com/crossplaneio/crossplane/blob/master/design/design-doc-stacks.md
[code]

### What happened?

### How can we reproduce it?

### What environment did it happen in?
Crossplane version:

[2019-09-18 15:27] #610 closed

[2019-09-18 16:18] suskin commented on #779
There has been a lot of work happening here, and we should be good for now. It could benefit from a bit more testing; the AWS stack guide has had the least coverage. But worst case, if we find anything critical, we can do a patch release. I am going to close this

[2019-09-18 16:18] #779 closed

[2019-09-18 16:19] suskin commented on #734
The testing has been done as part of creating the Stacks Guide. I am going to open a more specific ticket for cutting the release of this.

[2019-09-18 16:19] #734 closed

[2019-09-18 16:24] suskin opened #822 "WordPress sample stack: cut 0.1 release"
I am creating this to track the work, and will fill in the details a bit later.

### What problem are you facing?

TODO

### How could Crossplane help solve your problem?

TODO

- [ ] publish wordpress stack to a registry, with a version tag

[2019-09-18 16:25] suskin commented on #640
Since this documentation will live outside of the crossplane repo, we can wait until after the crossplane release is cut to address this

[2019-09-18 16:27] displague commented on #509
We've moved away from a skeleton project fitting concept to a tools, examples, and documentation approach.

* https://crossplane.io/docs/master/services-developer-guide.html
* https://github.com/crossplaneio/crossplane-cli#crossplane-cli
* https://github.com/crossplaneio/sample-stack/
* https://github.com/crossplaneio/sample-stack-wordpress

[2019-09-18 16:27] #509 closed

[2019-09-18 17:36] jbw976 commented on #636
Fixed in #814

[2019-09-18 17:36] #636 closed

[2019-09-18 17:37] #649 closed

[2019-09-18 17:38] jbw976 commented on #656
Fixed by #806

[2019-09-18 17:38] #656 closed

[2019-09-18 17:46] #778 closed

[2019-09-18 17:48] #615 closed

[2019-09-18 17:48] #609 closed

[2019-09-18 17:48] #625 closed

[2019-09-18 17:48] #616 closed

[2019-09-18 17:48] #617 closed

[2019-09-18 17:48] #613 closed

[2019-09-18 17:48] #614 closed

[2019-09-18 17:49] jbw976 commented on #572
https://github.com/crossplaneio/sample-stack-wordpress/ has been published to [`crossplane/sample-stack-wordpress`](https://cloud.docker.com/u/crossplane/repository/docker/crossplane/sample-stack-wordpress)

[2019-09-18 17:49] #572 closed

[2019-09-18 17:49] #777 closed

[2019-09-19 11:56] muvaf opened #831 "Converge on a consistent Custom Resource design for managed resources"
### What problem are you facing?

Currently, as a developer, I am having a hard time implementing a managed resource kind for a specific cloud provider's service due to the decisions around what fields should go where and what should guide me in those decisions.

### How could Crossplane help solve your problem?

Have a one-pager that list guiding principles and examples for managed resource CR de

[2019-09-19 21:05] hasheddan opened #834 "Create design doc for optional automatic reconciliation"
### What problem are you facing?

Crossplane automatically updates external resources when it finds one has drifted from the specified configuration (i.e. the cloud-specific class `spec`). It is not clear that this is always desired by a user.

### How could Crossplane help solve your problem?

The first step would be creating a design document that the Crossplane community could discuss / converg

[2019-09-19 21:09] soorena776 commented on #708
@negz I think what @bassam is suggesting is to have a config map `dependency-cm` which stores all the dependency information in one place for better visibility (instead of spreading it across all resources). Then, each resource that is involved in a dependency graph will simply have a field like `dependency-graph: dependency-cm`, form which its dependency needs to be satisfied.

[2019-09-19 21:14] muvaf commented on #628
Yes, I wasn't aware of that. Closing in favor of https://github.com/crossplaneio/crossplane-runtime/issues/22 (409 has been moved to 22)

[2019-09-19 21:14] #628 closed

[2019-09-19 21:25] muvaf commented on #834
I can see that where you change field `X`, the actual change in the provider could correspond to `Y, Z` config that you might want to be warned of.

A _dry-run_ functionality on the client side makes more sense to me to solve this. For a controller, blindly trying to reach to desired state makes implementation/maintenance easier. So, user can see the dry run and if they are still happy they can do

[2019-09-19 21:32] negz commented on #834
Also related to https://github.com/crossplaneio/crossplane-runtime/issues/27. I've been socialising the following idea which I believe would support this case, as well as a few others:

[code]

[code]

[code]

[code]

[2019-09-19 21:38] muvaf commented on #834
I think @hasheddan 's need is two-fold.
1. Preventing Crossplane to reconcile in case user wants to.
2. Showing a preview of the changes that will happen (`ProposedDiff`)

@negz `externalResourcePolicy` touches the first need (though the proposal is on-demand decision while policy is set and used), but I don't think the second one is something we have considered .

[2019-09-19 23:50] soorena776 commented on #834
While I like this idea, I'd like to explore the scenarios that this is needed.
- It's unclear to me why a user would want to have a resource which its configuration is different than what is specified in the corresponding object's spec, and it looks like an anti-pattern to me. Why would the user want to have this resource controlled in Crossplane then?
- I feel like we would greatly benefit from t

[2019-09-20 00:11] negz commented on #834
My interpretation of the use case this issue covers is that folks are wary of applying Crossplane's Kubernetes-style reconciliation pattern in which we _always_ drive the external resource towards the managed resource's spec definition. They'd like the option for a human to sign off before changes are made ala `terraform apply`.

Our [Slack discussion of this issue](https://crossplane.slack.com/ar

[2019-09-20 16:43] displague commented on #834
Would `CreateOrAttach` permit a resource to be destroyed and recreated if an `Update` into that state was not possible? (generally resized or geographically relocated resources).

Would we need an `UpdateOrRecreate` (UpdateOrReplace) for this?

[2019-09-20 17:03] suskin commented on #658
The readmes refer the reader over to the full crossplane docs for things like installation, so that may be good enough for now.

[2019-09-20 17:12] suskin opened #835 "Docs: Post-release review and cleanup"
### What seems to be the problem?

As part of the recent 0.3 release, we created a lot of documentation which went up onto the crossplane.io site. Some of it has been tested more than other parts, so our confidence levels about correctness and usability differ depending on the section.

### How can Crossplane help?

It'd be great to take some passes through the documentation and test it out as a n

[2019-09-20 17:14] suskin commented on #744
Assigning to myself for tracking purposes, but I am not starting work on this right now.

[2019-09-23 08:28] muvaf opened #839 "Support Helm 3"
### What problem are you facing?

Helm 3 brought some breaking changes on how Helm works and what flags its CLI accepts.

When you fix your CLI flags to the new ones a few problems arise:
* Our helm chart does not have `crossplane-system` namespace, hence we're not able to do `helm3 install crossplane -n crossplane-system` because that behavior is identical to how kubectl namespace works now, i.e.

[2019-09-23 12:11] muvaf commented on #621
These two issues seemed duplicate to me https://github.com/crossplaneio/crossplane/issues/530

[2019-09-23 16:48] suskin commented on #839
I also haven't invested time into this, but I am wondering whether creating the namespace ahead of the installation command would be sufficient to make things work. Did you happen to already try that @muvaf ?

[2019-09-23 17:00] muvaf commented on #839
@suskin If the namespace doesn't exist, it says the namespace is not found just like kubectl does. I cleaned the cluster, created namespace beforehand and got the `crd already exists` error.

[2019-09-23 17:05] suskin commented on #839
Dang, ok. Thanks for clarifying @muvaf !

[2019-09-23 18:51] soorena776 commented on #728
@muvaf
FYI, I have been using `TypeExternalStatus`
https://github.com/crossplaneio/stack-aws/blob/master/aws/apis/identity/v1alpha2/iamrole_types.go#L63

[2019-09-24 05:24] negz commented on #783
I thiiiink this got done (the API status table was removed rather than updated). Dragging to closed - let me know if that is not accurate.

[2019-09-24 05:24] #783 closed

[2019-09-24 05:25] negz commented on #671
Pretty sure this one got done too, so removing from the board.

[2019-09-24 05:25] #671 closed

[2019-09-24 05:36] negz opened #842 "Investigate Rook-based managed resources"
DoD: The Crossplane maintainers have approved a one pager scoping and suggesting the first steps toward Rook-based Crossplane managed resources.

https://rook.io/ is a Kubernetes operator that manages storage systems. It currently supports several, all of which (I believe) provide blob storage and/or a SQL database API. Rook has a close relationship with Crossplane as the projects share some found

[2019-09-24 05:40] negz opened #843 "Investigate generating Crossplane controllers"
DoD: Crossplane maintainers have approved a one pager exploring and scoping the Crossplane code generation problem space.

Much of the process of generating Crossplane managed resource controllers is repetitive, boilerplate work. It may be possible to automatically automatically generate a significant portion of this boilerplate (API types, some controller logic) from cloud provider API definition

[2019-09-24 05:44] negz commented on #843
https://github.com/negz/angryjet/tree/master

[2019-09-24 06:47] jbw976 commented on #650
We have documentation for installing Wordpress in Azure via the services guide and the stacks guide:
* https://crossplane.io/docs/v0.3/services/azure-services-guide.html
* https://crossplane.io/docs/v0.3/stacks-guide-azure.html

Users should be able to copy and paste from those guides to end up with WordPress running in Azure.

So I think what's still missing from this issue is the `cluster/exampl

[2019-09-24 07:51] muvaf commented on #728
@soorena776 If I understood correctly, you're still embedding the struct `TypeExternalStatus` though. The issue is more about not embedding that type, and having a name for it in all resources.

IAMRoleExternalStatus `json:",inline"`

would become

statusAtProvider IAMRoleExternalStatus `json:"statusAtProvider,omitempty"`

[2019-09-24 16:57] suskin opened #845 "Kinds: add all Crossplane-managed objects to the `all` category"
### What problem are you facing?

As a user, when I run `kubetl get all -A`, I expect all of the resources on the cluster to show up, but no Crossplane-managed resources do.

### How could Crossplane help solve your problem?

`all` is a [category](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#categories); we could add all Crossplane-created re

[2019-09-24 17:47] hasheddan commented on #650
@jbw976 I should be able to get this done and close out the issue today!

[2019-09-24 18:38] suskin commented on #845
I believe there was some discussion about this elsewhere, but I also want to note that this ties into a larger discussion about using categories in other ways. For example, a `crossplaneresources` category for listing only Crossplane-managed resources, or a `crossplaneproviders` category for showing all of the configured providers.

I am thinking we can still add categories that seem nice to have

[2019-09-24 19:07] suskin opened #847 "Experience: Make uninstallation smoother"
### What problem are you facing?

As a Crossplane operator, when I uninstall Crossplane from a cluster, it is rather inconvenient. The easiest way is to delete the whole cluster, but that doesn't seem very realistic for clusters running workloads of any value. Here is what normally happens when I am trying to preserve the cluster:

* First I try to delete the helm chart, or delete all the api-reso

[2019-09-24 23:42] suskin opened #848 "External resources: support external labeling"
### What problem are you facing?

I was talking with @lukeweber and he was expressing a desire to be able to label the externally-managed resources in their external system, to help with traceability and auditability. This seemed like a good idea, and to my knowledge it is not yet supported. But maybe it already works as part of the effort to create high-fidelity resource classes.

An example use-

[2019-09-25 01:31] negz commented on #848
I'm pretty sure it's supported by _some_ managed resources (citation needed).

[2019-09-25 02:16] negz commented on #703
@eonpatapon We made some changes to how class references work as part of 0.3. We tracked a lot of that work in https://github.com/crossplaneio/crossplane/issues/723. How do you feel about the new pattern?

[2019-09-25 02:22] negz commented on #89
I think this issue can be closed given the changes introduced in 0.3. Specifically

* We're no longer advising `crossplane-system` as a namespace for anything other than running  Crossplane and infra stack pods. We recommend using namespaces of your own design to logically group "infrastructure stuff" like providers, non-portable resource classes, and managed resources.
* Claims now reference a no

[2019-09-25 02:22] #89 closed

[2019-09-25 20:27] suskin opened #849 "Log format for cloud provider stacks is not human-friendly"
### What problem are you facing?

I was debugging an issue I was running into when following the Crossplane Stacks Guide using AWS, and I took a look at the logs for the AWS Stack as part of that process. I noticed that the format appears to be json, like this:

[code]

I find the core crossplane pod's format much more human-friendly, which looks more like this:

[code]

I am filing this under cro

[2019-09-25 21:23] #650 closed

[2019-09-25 21:25] negz commented on #849
@suskin I believe using the `--debug` flag produces the user friendly format. It could be that core Crossplane has that on by default at the moment. IMO the default should be machine friendly rather than human friendly logs.

[2019-09-25 22:30] hasheddan commented on #848
This is available on many existing resource types as a `tags` field. For instance, if you wanted to create a `VirtualNetwork` on Azure, you could define a [map of tags](https://github.com/crossplaneio/stack-azure/blob/ab63337c67386687671c57845ff6ef70a44ad321/azure/apis/network/v1alpha2/types.go#L60). If we wanted to add the ability to propagate labels from a clam onto the external resource, one op

[2019-09-25 22:58] suskin commented on #849
@negz thanks for explaining! I tested setting the `--debug` flag locally, and I can confirm that setting it does produce the human-friendly format. My crossplane pod does appear to have the flag set.

[2019-09-25 22:59] suskin commented on #849
I suppose the takeaways for me would be:

* Discovering the difference in functionality is not something I have figured out how to do yet
* The difference between the default for crossplane and the default for the AWS stack was confusing

[2019-09-25 23:05] suskin opened #850 "Docs site: Set browser title to match the page"
### What problem are you facing?

I have been going through the [Crossplane Stacks Guide](https://crossplane.io/docs/v0.3/stacks-guide.html), and I am noticing that the browser window's title is set to "Crossplane Docs", even though I am looking at the stacks guide. I am thinking that if I am a user searching on the internet for Crossplane Stacks, having the title as something more like "Crossplan

[2019-09-25 23:12] suskin opened #851 "Claims: claims can be bound but not ready"
### What happened?

I was going through the Crossplane Stacks Guide using AWS and a Crossplane control cluster on my laptop, and I got into a weird state where I had a mysqlinstance which is Bound but not ready:

[code]

At the same time, I also had the AWS Stack failing to reconcile an rdsinstance as described in crossplaneio/stack-aws#21 .

This seems like a weird state to get into, and it isn't

[2019-09-26 03:09] jbw976 commented on #850
@suskin we've been tracking docs site issues in its repository: https://github.com/crossplaneio/crossplaneio.github.io/.  I'm going to transfer this issue there.

[2019-09-26 03:16] jbw976 commented on #849
agreed with this @suskin, I would have liked to have DEBUG logging on by default for the stacks similar to how we do for core crossplane and stack manager.

This is actually making me think about how configuration can be influenced for stacks at install time, similar to how you may want to influence what version of the controller the stack starts up when it is installed.  Both debug logging and co

[2019-09-26 03:42] negz commented on #851
This does look like a weird state.

I don't believe it's fundamentally wrong for a claim to be bound but not ready. Readiness is a measure of the availability of a resource, while binding represents whether it has been claimed. Only claims that are ready should be eligible for binding, but we need to consider the case in which a bound managed resource becomes unavailable (for instance because it h

[2019-09-26 23:08] suskin commented on #849
Good point @jbw976 ; I agree that it would make sense to be able to do some configurationing at install time. I remember talking about this being useful for some other use-case also, but I don't remember what the use-case was right now. It may have been for being able to specify a different source for the controller image at install time.

[2019-09-27 04:11] soorena776 opened #852 "Using build library is becoming a productivity hindrance"
### What problem are you facing?

Using [build] library across Crossplane repositories has a few nice features:
- Avoiding duplicate Makefile targets
- Standardized the CI process across build repositories

However, as we create more repositories for different stacks, using this common [build ]library also introduces some challenges:
- The library seems to be fairly opinionated. It's not clear if

[2019-09-27 05:11] #839 closed

[2019-09-27 16:50] displague commented on #707
Linking this to https://github.com/crossplaneio/crossplane/pull/606 as some thoughts relevant to this were proposed here: https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-resource-connectivity-mvp.md#resource-references

[2019-09-27 18:10] suskin commented on #708
I was thinking about this recently, and related to the config map question, I believe it is worth asking exactly what the consumer resources are depending on in their dependencies. Is it names? Secrets?

If I am understanding @soorena776 's description correctly, I am thinking about a very similar idea. I am wondering whether it would make sense for dependencies to be modeled as follows:

**Depend

[2019-09-27 18:40] soorena776 commented on #708
Thanks @suskin for the input!

1. If I am understanding you correctly, you want the dependency to be always to an API object. Given that the resources that say `R1` depends on, are themselves have a corresponding API object in K8S api (e.g. `R2.Status`), why do you think creating separate secret objects is necessary?

2. I think we should keep it simple, by just addressing dependency between resou

[2019-09-27 19:46] displague opened #853 "Template based Stacks"
## What problem are you facing?

The current design of Stacks allows for two broad permission scopes for Stacks and one implementation approach.

Current Stack Scopes:

* Cluster Scopes
* Namespaced Scopes

Current Implementation Approaches:

* `kind: Deployment` (defined by `install.yaml`)

   The `Deployment` approach requires that some controller exists.  _It is worth noting that the controller

[2019-09-27 20:00] jbw976 commented on #548
I'm going to close this prototyping/exploration focused issue in favor of tracking specific stack implementations with their own epics.  @displague has opened a template based stack epic in #853.  More will be opened as they are tackled in the roadmap.

[2019-09-27 20:00] #548 closed

[2019-09-27 20:19] displague commented on #279
These older issues that use the term "workload" may have implied the `Workload` implementation that preceded `KubernetesApplication` types.  If the term "workload" is taken generally we can find more areas to fit the need.

This form of scheduling should extend beyond the `KubernetesApplication` workload type, into `Stacks`.

One potential outcome of this could be that a scaling group (perhaps usi

[2019-09-28 00:10] negz commented on #708
This is the typical Kubernetes model, and the one I think we should stick to unless we have a strong incentive to diverge.

I'm fairly convinced that we should not be modeling these "soft dependencies" for this kind of case at the managed resource level.

Our current thinking is that a managed resource should represent exactly one external resource. I think we're all on the same page about this, b

[2019-09-28 00:12] negz commented on #708
This is my very strong preference. This may be purely subjective opinion, but I want to model R1's dependency on R2 on R1, not by having to find and edit some other resource.

[2019-09-28 00:53] suskin opened #854 "AWS: Managed resources appear to be deleted and recreated for no reason"
### What happened?

I have been going through the Stacks Guide using AWS, and I noticed a strange behavior. I am not sure exactly what causes it.

I started going through the guide a few days ago, using a Crossplane control cluster running on my MacOS laptop in Docker Kubernetes.

Today, I noticed that the EKS cluster and MySQL instance I had been working with had been deleted and recreated in Cro

[2019-09-28 00:56] suskin commented on #854
I did check the logs of the AWS infrastructure stack pod, but I did not see anything other than messages declaring that it was reconciling the managed resources.

[2019-09-28 01:07] negz commented on #854
Is this also true of the managed resources bound to said claims?

[2019-09-28 15:52] hasheddan commented on #497
Reopening this issue because I believed the BYO Kubernetes cluster scenario is somewhat isolated from the general importing of resources if we follow @negz design outline in [this comment](https://github.com/crossplaneio/crossplane/pull/841#discussion_r329227306).

Adding a Kubernetes `Provider` type would allow for usage of any Kubernetes cluster that a client could connect to.

[2019-09-30 18:04] negz commented on #787
If https://github.com/crossplaneio/stack-gcp/pull/39 and friends are merged this change will need to be made as part of angryjet, which would generate these methods.

[2019-09-30 22:23] suskin commented on #854
No. The managed resources seemed to have been deleted and recreated on the Crossplane side, and seemed to have been deleted and recreated on the AWS side as well.

[2019-10-01 02:23] negz commented on #843
Sending this back to the drawing board for the time being, as it's seeming more likely that code generation won't make the cut for our next milestone or two. I've done some initial exploration of the field which lead to building a tool to generate a tiny part of the codebase (the method sets required to satisfy common crossplane-runtime interfaces) per https://github.com/crossplaneio/crossplane-ru

[2019-10-01 04:05] hasheddan opened #859 "Use KubernetesTarget kind for scheduling KubernetesApplications"
### What problem are you facing?

The introduction of the Kubernetes `Provider` type (as specified in #841) allows for enhanced ability to schedule resources to *any* Kubernetes cluster. This functionality should be utilized by `KubernetesApplication` types instead of the current pattern of referencing a Crossplane provisioned `KubernetesCluster` by label.

### How could Crossplane help solve your

[2019-10-01 09:45] eonpatapon commented on #703
@negz I had a look to `design/one-pager-default-resource-class.md` and indeed it would solve the portability problem I was mentioning in this issue.

About the implementation if I may criticize it a bit I can see some drawbacks ;).

Principaly the increased number of resources to be created by the administrator. Basically it seems to me that for each concrete type you'll need to create an associat

[2019-10-01 22:00] hasheddan opened #861 "Determine desired format for Kubernetes provider secrets"
### What problem are you facing?

Kubernetes cluster connection secrets were previously changed from using the full `kubeconfig` to only necessary fields for connection in #273. However, #841 expands the use of these secrets to include BYO cluster scenarios, meaning that the secret would be "manually" created. It is not clear whether we want to use the current format given this increased functiona

[2019-10-02 00:15] prasek opened #862 "Claim-based dynamic provisioning of Rook-managed databases"
Rook stack, so I can provision in-cluster storage solutions on any k8s cluster.

Part of the [0.4 release](tbd)

### What seems to be the problem?
Would like to provision in-cluster Rook-managed databases from Crossplane, like CockroachDB and Yugabyte.

### What could Crossplane do to help?
Support claim-based dynamic provisioning of Rook-managed databases like CockroachDB, Yugabyte which provide

[2019-10-02 00:27] prasek opened #863 "Stable v1beta1 APIs for managed databases and caches"
Beta meta model w/ DB & Redis, so users can deploy to dev/test/prod, align on shape of APIs & best practices, high-def CRDs & controllers, to provide a basis for for code generation in a future milestone.

Part of the [0.4 release](tbd)

### What seems to be the problem?
APIs are currently v1alpha and would like more stable v1beta APIs, so I can take a dependency on Crossplane in my dev/test/prod

[2019-10-02 00:37] prasek opened #864 "Enhanced release automation to enable shorter release cycles and hot fixes"
Support releasing more frequently with enhanced release automation.

Part of the [0.4 release](tbd)

### What seems to be the problem?
Would like get smaller releases of Crossplane on a monthly cadence.  Currently the cost of performing a release is high because there is a lack of automation for tasks such as tagging and promoting, as well as publishing from a release branch.

### What could Cross

[2019-10-02 00:50] prasek opened #865 "UX improvements, streamlined user onboarding, and enhanced support"
Iterative improvements on the Crossplane UX.

Part of the [0.4 release](tbd)

### What seems to be the problem?

Manual setup (e.g. resource classes) steps and troubleshooting (trace, errors) could be faster.

### What could Crossplane do to help?

Simplify manual setup and troubleshooting steps.

### What does it look like when we're done?

Ideas include:
 * [#744] Trace utility for enhanced debu

[2019-10-02 01:09] prasek opened #866 "Basic refresh of GitLab Stack to work with Crossplane v0.3.0"
Refresh the GitLab Stack to use the latest and greatest from Crossplane v0.3.0.

Part of the [San Diego Milestone](tbd)

### What seems to be the problem?
v0.3.0 introduced a lot of awesome new functionality, would like to use the GitLab Stack with the latest and greatest.

### What could Crossplane do to help?
Basic refresh of https://github.com/crossplaneio/gitlab-controller to work with Crosspl

[2019-10-02 01:25] prasek opened #867 "Crossplane Helm chart accepts optional stack=gcp|aws|azure values file attribute"
Crossplane work to enable [GitLab Auto DevOps integration phase 1](https://gitlab.com/groups/gitlab-org/-/epics/1866#note_216080986)

Part of the [San Diego Milestone](tbd)

### What seems to be the problem?
To support managed service provisioning in GitLab pipelines (DBaaS, cache, etc.), would like to add Crossplane as a GitLab managed app with a selected infrastructure Stack to install: GCP, AWS

[2019-10-02 01:31] prasek opened #868 "Additional real-world apps and scenarios"
Support additional real-world apps and scenarios like Concourse.

Part of the [San Diego Milestone](tbd)

### What seems to be the problem?
Would like to use additional Stacks in my dev/test environment like Concourse.

### What could Crossplane do to help?
 * Concourse Stack
 * 10 additional Stacks the community would find most useful

### What does it look like when we're done?
TBD

### How coul

[2019-10-02 05:00] negz commented on #703
@eonpatapon Thanks again for the feedback! The number of Kubernetes resources required to support portable, dynamic provisioning has been a concern for us too. Do you have any ideas about how we could simplify things without sacrificing portability?

I should note that the "property matching" feature you initially proposed in this issue is still a direction we'd like to investigate for Crossplane.

[2019-10-02 05:41] negz commented on #554
On reflection I'm convinced this isn't the best idea - going to close this out.

[2019-10-02 05:41] #554 closed

[2019-10-02 08:16] eonpatapon commented on #703
@negz Thanks for considering my proposal. Again I'm not sure it is doable since I don't know much how k8s API works internally but my main idea was to reference concrete classes the other way around.

Let's say we have 3 flavors of mysql, curently we need:

- 3 concretes resources:
  - RDSInstanceClass A
  - RDSInstanceClass B
  - CloudsqlInstanceClass C
- at least 3 classes with references:
  - M

[2019-10-02 08:20] negz opened #870 "Match claims to classes using label selectors"
## What problem are you facing?

In Crossplane 0.3 we introduced support for "provider specific" (aka "non-portable", aka "[strongly typed](https://github.com/crossplaneio/crossplane/blob/69e69c/design/one-pager-strongly-typed-class.md)") resource classes. During the development cycle [we identified](https://github.com/crossplaneio/crossplane/issues/723) that if a claim must explicitly reference a

[2019-10-02 08:30] negz commented on #870
In summary,

<a href="https://imgflip.com/i/3c57fb"><img src="https://i.imgflip.com/3c57fb.jpg" title="made at imgflip.com"/></a>

[2019-10-02 08:42] negz commented on #870
This is potentially the downfall of this proposal. Imagine the case in which a resource claim author doesn't really know what they want, except that they want a `PostgreSQLInstance`. They omit the `resourceRef`, `classRef`, and `classSelector` when submitting their new resource claim. Under this proposal we'd treat that as "I have no opinion, pick any resource class at random". You could imagine t

[2019-10-02 16:11] hasheddan commented on #870
Thanks for compiling these thoughts into a proposal! I like the idea of having less objects required to dynamically provision resources, but I worry that deferring all of this logic to the "non-portable" resource classes may end up being more difficult from a UX perspective than the current "portable" class pattern with scale. If you think about having 100 namespaces in a Crossplane control cluste

[2019-10-02 20:48] #842 closed

[2019-10-02 22:09] hasheddan opened #872 "Implement Kubernetes Provider"
Part of #862

### What problem are you facing?

#841 introduced the design of a Kubernetes `Provider` kind. It is required for the desired functionality of `stack-rook`and design is outlined in [K8s-Native Provider one-paged](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-k8s-native-providers.md).

### How could Crossplane help solve your problem?

Implementation (at least

[2019-10-02 23:52] negz commented on #870
@hasheddan It seems like there is tension between Crossplane's API model being:

1. Predictable, flexible, and composable enough to suit the needs of a larger org.
1. Simple enough that early adopters can pick up the concepts and get up and running quickly.

I agree that we would sacrifice predictability and discoverability by removing the portable class concept as my design proposes. I also agree

[2019-10-03 00:48] negz commented on #852
My thoughts on this:

* I believe there is value in maintaining a standard build tooling [golden path](https://charity.wtf/2018/12/02/software-sprawl-the-golden-path-and-scaling-teams-with-agency/) within an organisation. This allows engineers to move from project to project or team to team without having to learn a new build pipeline and process each time.
* I believe teams should be allowed to o

[2019-10-03 15:36] muvaf commented on #859
IMHO, I am not sure we should use `Provider` type as something other than it's meant to. See its definition here https://github.com/crossplaneio/crossplane/blob/master/docs/concepts.md#provider

One can argue that a k8s cluster could be considered as provider since it provides computing environment, but I think this would be bending the definition of what we mean by `Provider` in many places inclu

[2019-10-03 15:50] hasheddan commented on #859
@muvaf I do think we want to have the ability to "import" existing clusters as a `KubernetesCluster` object (crossplaneio/crossplane-runtime#22), but I do not think that conflicts with this issue. In my mind, a `KubernetesCluster` is a way to manage a remote cluster from a Crossplane control cluster, and the Kubernetes `Provider` is a way to connect to that cluster. While it is likely that users w

[2019-10-03 16:51] hasheddan commented on #870
@negz I agree that this addresses my concern with changing labels, but I am not sure that I think the following should be a goal:

In my mind, the ability to reuse non-portable resource classes is a major *feature* of Crossplane. Portable classes create a layer that defines *how* they are reused. Essentially, the configuration (non-portable resource class) is reusable, while the use-case (portable

[2019-10-03 18:20] muvaf commented on #859
I think how we connect to a resource is defined by how its connection secret looks like. `Provider` is more like strong-typing the secret to tell the users that they can use this object as credentials/connection ref to provision external resources. We can have a type like `KubernetesConnection` that refers to a secret and that would make more sense. But in our case, I feel like `KubernetesCluster`

[2019-10-03 19:00] suskin commented on #870
If this is the case, what is the reason for jittering? It seems like it isn't necessary and just adds reconciliation latency without much of a benefit. I am probably missing something here.

This discussion has already covered a lot of ground, so I'll try to respond in a brief way. The comments may be a bit scattered.

Here is my mindset for this type of situation:

* Since we are early in the pro

[2019-10-03 20:46] #872 closed

[2019-10-04 04:00] jbw976 commented on #852
Thanks for sharing your thoughts on this @soorena776 and @negz.  The build submodule has worked well for a lot of projects so far since its initial investment but I can definitely empathize with the pain of having to make updates to it or to maintain it.  It's fairly complex and Makefiles have a fairly steep learning curve.

The build submodule has a ton of useful and well tested functionality tha

[2019-10-04 04:12] jbw976 opened #875 "Enable code quality checks for stack repos"
Part of #864

### What problem are you facing?

SonarCloud provides some good code quality checks and enforcement to keep our code base healthy.  In the migration of cloud provider stacks out-of-tree to their own repositories, we did not also enable SonarCloud checks for each of those new repos, so we are missing those quality and health checks right now.

### How could Crossplane help solve your

[2019-10-04 09:25] turkenh commented on #725
Is this issue still valid or should we close it considering `rbac.yaml` in stack [will no longer be supported](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md#allowed-resource-access)?

[2019-10-04 09:52] negz commented on #875
At the risk of starting work on a very large bike shed I'd love it if we could reassess whether Sonarcloud is still our preferred tool, and is configured correctly for our needs before proliferating it. 😬

I personally just don't love Sonarcloud in general, but at the very least I'd like it if we could have `golangci-lint` and Sonarcloud use the same set of rules for checking code quality. It's a

[2019-10-04 17:32] muvaf opened #876 "Document immutable fields in API reference docs"
### What problem are you facing?

We mark immutable fields with `// +immutable` but our reference docs do not mention that.

### How could Crossplane help solve your problem?

It'd be good to let user know that the field is immutable once set in the reference doc.

[2019-10-04 18:28] displague opened #877 "Produce a one-pager design for a Template Stack Controller"
### What problem are you facing?

Early thinking on Stacks included the idea of simplifying the overhead involved in life-cycle management for complex workloads, especially as this relates to consuming managed services. However, to contribute a new Stack in the Stack eco-system today, it is necessary to create a new Controller, typically in Go, typically using Kubebuilder.

We believe that a more

[2019-10-04 18:43] displague opened #878 "Template Stacks should be reconciled through some controller"
### What problem are you facing?

Following the Design for Template Stacks [#877], an implementation of this design will be necessary.

### How could Crossplane help solve your problem?

Per #877, the Crossplane Stack Manager will need to the following changes:
* Template Stacks design (especially Stack examples) should be updated to correspond with experience thinking in #891 (https://github.com/

[2019-10-04 19:11] displague opened #879 "Package versioning and upgrading"
### What problem are you facing?

* Stacks need to be versioned.
* Stacks need to be able to coexist with other versions of Stacks.
* Stacks need to be upgradeable.

Consider a GitLab Stack is released for version 12.3 and Gitlab 12.4 is released.  How does a namespaced Stack package get updated and how does the stack-manager (or other service) update the components of that stack?

Consider a Goog

[2019-10-04 19:25] negz opened #880 "Test coverage may be inaccurate?"
### What happened?

I've noticed a few cases lately in which Sonarcloud test coverage has not behaved how I would expect, for example in https://github.com/crossplaneio/stack-aws/pull/28, where a PR that only deleted tests _increased_ code coverage.

We previously had similar issues using https://codecov.io, for example changes that only touched markdown affecting the alleged code coverage.

### H

[2019-10-04 19:26] negz commented on #880
https://www.ory.sh/golang-go-code-coverage-accurate/

I came across this interesting tool while briefly researching this recently. Not sure if it would help in any way.

[2019-10-04 19:27] displague opened #881 "Create a new Wordpress Stack example based on Template Stacks"
### What problem are you facing?

Example Stacks demonstrate design and usage which aids Stack developers.  With the addition of Template Stacks, a first-class Stack should represent the minimum requirements and some of the more complex concepts that Template Stack offer.

### How could Crossplane help solve your problem?

Today, there is a Sample Wordpress Stack which uses a Kubebuilder based con

[2019-10-04 19:40] muvaf opened #882 "GCP CloudSQL and CloudMemoryInstance v1beta1 Quality"
GCP CloudSQL and CloudMemoryInstance should be refactored to use generic managed reconciler and adopt the patterns in #840

Part of #863

[2019-10-04 19:41] muvaf opened #883 "AWS RDS and ReplicationGroup v1beta1 Quality"
AWS RDS and ReplicationGroup should be refactored to use generic managed reconciler and adopt patterns in #840

Part of #863

[2019-10-04 19:44] muvaf commented on #883
Closed in favor of https://github.com/crossplaneio/stack-aws/issues/30

[2019-10-04 19:44] #883 closed

[2019-10-04 19:45] muvaf commented on #882
Closed in favor of https://github.com/crossplaneio/stack-gcp/issues/43

[2019-10-04 19:45] #882 closed

[2019-10-04 20:43] hasheddan opened #884 "Create Rook CockroachDB Cluster CRDs and controllers"
Part of #862

### What problem are you facing?

`stack-rook` needs the ability to create Rook CockroachDB `Cluster` objects in a target Kubernetes cluster where the Rook operators are installed.

### How could Crossplane help solve your problem?

Because a user should be able to dynamically provision a Rook CockroachDB cluster, the following custom resources are required:

1. CockroachDB `Cluster`

[2019-10-04 20:47] hasheddan opened #885 "Create Rook Yugabyte Cluster CRDs and controllers"
Part of #862

### What problem are you facing?

`stack-rook` needs the ability to create Rook Yugabyte `Cluster` objects in a target Kubernetes cluster where the Rook operators are installed.

### How could Crossplane help solve your problem?

Because a user should be able to dynamically provision a Rook Yugabyte cluster, the following custom resources are required:

1. Yugabyte `Cluster`
1. Yugab

[2019-10-04 23:16] soorena776 opened #886 "GitLab: Write a user guide to use a gitops CI/CD system for Crossplane infra and app repositories, for the 3 cloud providers"
Epic: #631

## Introduction
### Installing WordPress example on different Cloud Providers
## Pre-requirements on GitLab
## Configuring Crossplane on GitLab
## Configure different Cloud Providers on Crossplane
## Separating Infra and app as code in two different repositories
## Configuring GitLab Pipeline
## Running and reviewing the work flow by an Example
## Summary

[2019-10-04 23:46] soorena776 opened #887 "Implement Cross Resource Referencing in Crossplane runtime"
### What problem are you facing?

epic #631
### How could Crossplane help solve your problem?

[2019-10-04 23:48] soorena776 opened #888 "GCP: Implement Cross Resource Referencing for resource types"
### What problem are you facing?

epic #631
### How could Crossplane help solve your problem?

[2019-10-04 23:52] soorena776 opened #889 "AWS: Implement Cross Resource Referencing for resource types"
### What problem are you facing?

epic #631
### How could Crossplane help solve your problem?

[2019-10-04 23:53] soorena776 opened #890 "Azure: Implement Cross Resource Referencing for resource types"
### What problem are you facing?

epic #631
### How could Crossplane help solve your problem?

[2019-10-04 23:58] suskin opened #891 "As a template stacks user, I'd like to be able to bundle my yaml as a stack"
Related to #853

### What problem are you facing?

As a user creating a template stack, I want to be able to bundle my yamls into a stack, without having to write a controller. This is similar to wanting to write something like the [wordpress sample stack](https://github.com/crossplaneio/sample-stack-wordpress), but from scratch and without writing any of the code.

### How could Crossplane help s

[2019-10-05 00:46] suskin commented on #891
I am working on a proof of concept for this in [one of my own repos](https://github.com/suskin/sample-stack-simple-template), currently on [a feature branch](https://github.com/suskin/sample-stack-simple-template/tree/separate-template-from-boilerplate). The idea is that to the user, it doesn't matter whether it's individual controllers per stack or a shared controller provided by the Crossplane s

[2019-10-05 00:50] suskin commented on #853
I have started a new section called "deliverables", which aims to capture the user-facing experiences that we could create, even if we start with a rudimentary experience and improve it over time. So far, I've only added a few items to it to try to show what I am imagining going into the section. Part of the goal of the section is to focus us on working toward integrating first for specific user s

[2019-10-05 14:39] jbw976 opened #892 "Blog post for GCP secure connectivity"
Part of #775

### What problem are you facing?
As part of #775 the deep dive series of blog posts on v0.3 features, we should focus on the specific changes we made for GCP around secure connectivity for GKE & CloudSQL, CloudMemStore, Buckets.  How did we implement this? How has the experience improved for users? What improvements are we going to make next?

### How could Crossplane help solve your

[2019-10-05 14:41] jbw976 opened #893 "Blog post for AWS secure connectivity"
Part of #775

### What problem are you facing?
As part of #775 the deep dive series of blog posts on v0.3 features, we should focus on the specific changes we made for AWS around secure connectivity for EKS & RDS, ElastiCache, Buckets. How did we implement this? How has the experience improved for users? What improvements are we going to make next?

### How could Crossplane help solve your problem

[2019-10-05 14:42] jbw976 opened #894 "Blog post for Azure secure connectivity"
Part of #775

### What problem are you facing?
As part of #775 the deep dive series of blog posts on v0.3 features, we should focus on the specific changes we made for Azure around secure connectivity for AKS & AzureSQL, AzureCache, Buckets.  How did we implement this? How has the experience improved for users? What improvements are we going to make next?

### How could Crossplane help solve your

[2019-10-05 22:45] #781 closed

[2019-10-05 22:45] #782 closed

[2019-10-07 08:14] turkenh opened #895 "GKE: Stacks and CR of stack got deleted for no reason"
### What happened?
On a GKE cluster (v1.15.3-gke.1), I installed crossplane (v0.3.0) and deployed wordpress by following the stacks guide (for GCP). Everything was fine and I was able to reach wordpress app from browser. Then, I experimented a bit, several `get's` on different objects, which I expect to be unrelated.

After about 21h, I checked the cluster again but my wordpressinstance seems to b

[2019-10-07 08:57] turkenh commented on #895
Seems to be related to https://github.com/crossplaneio/crossplane/issues/854 at first look.
But what I understand especially from [this comment](https://github.com/crossplaneio/crossplane/issues/854#issuecomment-536136561) which means aws stack is still there. On my side, I could neither see GCP stack nor any pods in `gcp` namespace .
Still, the similarity between the two issues (at different cont

[2019-10-07 10:22] turkenh opened #896 "Check required fields and better error messages for Package Install"
### What happened?
1. Created a stack install resource which missed spec.package (I ended up with this due to a wrong flag in crossplane cli):

[code]
2. Ended up:
[code]
3. Checked both CR status and stack manager logs to get more info what could be wrong but all I could find is:

This makes total sense for someone who knows how stack manager works, however, nothing for others. Erroneous CR shoul

[2019-10-07 12:02] turkenh commented on #529
I am having difficulties to reproduce this issue.

AFAIU, for controllers on stack side, a [fail function](https://github.com/crossplaneio/crossplane/blob/a55dd3d060c741867f82fb0a89a8d8967f307b1d/pkg/controller/stacks/stack/stack.go#L327) is implemented does not return error to controller runtime, but only resulting error (if any) of Status().Update() returned.
Also tried to provide some malformed

[2019-10-07 12:34] turkenh commented on #331
I agree having the required information in events and status of resources should be enough for users. We should better focus on providing some kind of tooling which pieces things together.
A [trace command](https://github.com/crossplaneio/crossplane/issues/744) in cli looks could help here.

[2019-10-07 14:57] hasheddan opened #897 "Stack Manager fails install if ClusterStackInstall created too quickly"
### What happened?

When creating integration tests for stacks, I wrote a script that installs the stack immediately after the `crossplane` and `stack-manager` pods become ready. This routinely caused the following failure with the stack installation:

Stack Manager Logs:
[code]

ClusterStackInstall:

[code]
However, if a 30s wait is introduced following the stack manager pod becoming ready, the i

[2019-10-07 15:42] jbw976 commented on #897
It looks like the stack manager creates the install job to unpack the stack, and then when it looks for the pod that the job should have started, it doesn't find it.  I would expect this to be reconciled OK in the next couple attempts after the job's pod has started up.

Are you seeing this stay in this error state and not advance on subsequent reconciliations?  Could the integration test wait for

[2019-10-07 15:45] displague commented on #897
I was going for a similar response..

Stack-Manager sees a StackInstall / ClusterStackInstall
The stack-manager fetches that image as a job with an entrypoint to extract and examine the files
The stack-manager waits for that job to finish (by monitoring the logs)
The stack-manager creates the rbac, crds, and stack record
.. The Stack's controller image is pulled and run (by virtue of being a Deplo

[2019-10-07 15:49] jbw976 opened #898 "Package API documentation is incomplete"
### What problem are you facing?

The API documentation for `stacks.crossplane.io/v1alpha1` is incomplete with a lot of missing fields.  @negz asked me to do this before v0.3 and I was not completed 😞

https://crossplane.io/docs/master/api/crossplaneio/crossplane/stacks-crossplane-io-v1alpha1.html

### How could Crossplane help solve your problem?

We should update the source code comments for all

[2019-10-07 15:56] jbw976 commented on #529
@turkenh the failure to reproduce this call stack issue with a cloud provider stack is likely related to #849. The logging framework used in Crossplane will emit these call stacks only when in debug logging mode I believe.

Main crossplane's helm chart by default passes the `--debug` arg so that Crossplane uses debug logging.  The cloud provider stacks are not using debug logging, so that may be w

[2019-10-07 16:08] jbw976 opened #899 "Restrict a Stack's access to core types when the stack claims they "depend on" them"
### What problem are you facing?

As per the [stacks security and isolation design](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md#allowed-resource-access), it is intended to restrict access to the resources that a Stack can perform operations on.  Specifically, a stack only gets access to the CRDs that it owns or declares that it depends on.

[2019-10-07 16:28] lukeweber opened #900 "Stack package format version"
### What problem are you facing?

As Stacks evolve, the filesystem hierarchy and the contents of the `app.yaml` (the presence and significance of that file at all) are prone to change.  New metadata files may be introduced.

To future-proof the Crossplane Stack format, a version of the format would be nice so that we can know which version of the format a Stack package was built against.

### How

[2019-10-07 16:43] hasheddan commented on #897
So I was able to identify why this is happening. There is a small delta between when the pod becomes ready and when it has finished starting the controllers / workers. If the `ClusterStackInstall` is installed before one of the workers starts, then the stack manager will get stuck in a reconciliation failure state. However, I don't see this as something we can control and it feels reasonable that

[2019-10-07 17:17] prasek opened #901 "Create stack-rook"
### What problem are you facing?

### How could Crossplane help solve your problem?

[2019-10-07 17:17] soorena776 opened #902 "Jenkins: Write a user guide to use a gitops CI/CD system for Crossplane infra and app repositories, for the 3 cloud providers"
### What problem are you facing?
epic: #631

### How could Crossplane help solve your problem?

[2019-10-07 17:17] prasek opened #903 "Stack-rook docs for crossplane.io"
### What problem are you facing?

`stack-rook` provides new functionality to Crossplane in that it allows for provisioning in-cluster storage. Because there are differences between how the Rook stack operates and other cloud provider stacks operate, and it will be owned by the Crossplane org for the time being, it is important add documentation to demonstrate concepts and usage for end-users.

###

[2019-10-07 17:18] soorena776 opened #904 "ArgoCD: Write a user guide to use a gitops CI/CD system for Crossplane infra and app repositories, for the 3 cloud providers"
### What problem are you facing?

epic #631
### How could Crossplane help solve your problem?

[2019-10-07 17:18] hasheddan commented on #283
Closed in favor of #862

[2019-10-07 17:19] #283 closed

[2019-10-07 17:43] negz commented on #870
Relates to #91.

[2019-10-07 17:43] prasek opened #905 "Update crossplane.io services & stacks guides with new kubectl apply -f techniques and repos"
### What problem are you facing?

### How could Crossplane help solve your problem?

[2019-10-07 17:45] negz commented on #865
@prasek I was just thinking that refactoring https://crossplane.io/docs/v0.3/quick-start-gcp.html to introduce the static provisioning concept before touching on dynamic provisioning would be useful. I can take that for the 0.4 milestone.

[2019-10-07 17:48] prasek opened #906 "updated docs and examples to reflect the updated v1 beta1 API types"
### What problem are you facing?

### How could Crossplane help solve your problem?

[2019-10-07 17:52] negz opened #907 "Introduce static provisioning in the quick start guide"
### What problem are you facing?

The https://crossplane.io/docs/v0.3/quick-start-gcp.html guide is our most simple example of using Crossplane, but it does not focus on the most simple scenario - static provisioning. This guide will be of higher importance if and when the services guides become gitops-focused.

### How could Crossplane help solve your problem?

Crossplane could start https://cros

[2019-10-07 17:52] negz commented on #865
Raised https://github.com/crossplaneio/crossplane/issues/907 to track.

[2019-10-07 17:53] suskin opened #908 "template stacks: investigate scaffolding options"
Related to #853 and #891

### What problem are you facing?

As a developer creating a template-based stack, I'd like to be able to generate the scaffolding around my stack. Ideally without having to write any code. We should investigate what options we have for accomplishing this.

### How could Crossplane help solve your problem?

There are some existing tools that we can look into:

* kubebuilde

[2019-10-07 18:10] prasek opened #909 "Release automation design doc"
part of #864

### What problem are you facing?

In order to improve our release automation and ability to release frequently for #864, we should understand what it is that we are going to build and change to accomplish that goal.

### How could Crossplane help solve your problem?

A 1-pager should be authored that describes the scope of changes for release engineering and includes details about im

[2019-10-07 18:11] prasek opened #910 "Updating pipelines to include automation"
part of #864

### What problem are you facing?

### How could Crossplane help solve your problem?

[2019-10-07 18:12] prasek opened #911 "Release process guide / manual"
part of #864

### What problem are you facing?

There is no release guide that educates and informs an engineer of Crossplane on how to release a new version of the software.  @jbw976 has run the releases so far but no one else knows how to perform one.

### How could Crossplane help solve your problem?

We should create a new release process guide that provides all the instructions and tips for r

[2019-10-07 18:15] suskin opened #912 "Experience: Experience improvements for San Diego"
Epic to track all of the experience improvements we want to make for the next milestone

### What problem are you facing?

### How could Crossplane help solve your problem?

* Trace tool
* Error reporting
* Resource packs

[2019-10-07 18:19] suskin commented on #912
This is a duplicate of another epic, so I'm going to close it

[2019-10-07 18:19] #912 closed

[2019-10-07 18:20] jbw976 commented on #912
Dupe of #865

[2019-10-07 19:22] prasek opened #914 "Document key problems that template stacks solve for k8s app deployments"
part of #853

### What problem are you facing?

### How could Crossplane help solve your problem?

[2019-10-07 19:23] prasek opened #915 "Template Stacks UX: overall experience; modeling, design thinking; UX;"
part of #853

### What problem are you facing?

### How could Crossplane help solve your problem?

[2019-10-07 19:27] prasek opened #916 "crossplane.io docs for template stacks with working examples"
part of #853

### What problem are you facing?

### How could Crossplane help solve your problem?

[2019-10-07 19:32] prasek opened #917 "Implement template stacks with no variables"
part of #853

### What problem are you facing?

### How could Crossplane help solve your problem?

[2019-10-07 19:37] prasek opened #918 "implement template stacks with variables"
part of #853

### What problem are you facing?

### How could Crossplane help solve your problem?

[2019-10-07 19:38] prasek opened #919 "implement template stacks with live variables"
part of #853

### What problem are you facing?

### How could Crossplane help solve your problem?

[2019-10-07 22:56] jbw976 commented on #895
This is definitely a concerning issue @turkenh, thank you for capturing it!  I'm surprised this is happening on a steady/consistent cluster like GKE instead of a local laptop dev cluster like KinD/Minikube that gets put to sleep.

It sounds like there `Stack` object is getting garbage collected or deleted for some reason and then that is causing a whole cascading set of deletes because it is set a

[2019-10-07 23:10] jbw976 commented on #910
Actually this is a duplicate of #6, and I'd really like to track this work and accomplish a very rare still lingering and applicable single digit issue number 😮

[2019-10-07 23:10] #910 closed

[2019-10-07 23:12] jbw976 commented on #6
We are committing to adding this release pipelines for v0.4 as part of #864.  This should cover not only the main Crossplane repo, but also the stacks that we are actively developing and maintaining, e.g. the cloud provider stacks.

[2019-10-08 00:18] suskin opened #920 "Linting and error checking for package developers"
This is related to #896, and came up in a conversation with @lukeweber .

### What problem are you facing?

As a developer creating a stack, I want to be able to easily validate that the stack I'm creating is specified correctly, ideally without having to install the stack and browse the crossplane logs for errors.

### How could Crossplane help solve your problem?

We could add some cli commands:

[2019-10-08 00:19] suskin commented on #896
This is a good point @turkenh - this is related to some conversations that have started to happen on the team, so I have tried to capture the conversations in #920 . It'd be great to do some improvements in this area!

[2019-10-08 05:59] negz commented on #907
Note that per https://github.com/crossplaneio/crossplane-runtime/issues/28 it's possible static provisioning is partially or completely broken (again) in master, so I'm going to confirm and if necessary fix that this sprint as part of working on this guide.

[2019-10-08 11:39] turkenh commented on #895
TL; DR, It looks like we are using **Cross-namespace owner references** which are said to be disallowed by design in [documentation](https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#owners-and-dependents), which results crossplane resources to get garbage collected.

Here are the logs of api-server for initial **delete** requests:
[code]

This clearly indicates that th

[2019-10-08 13:15] jbw976 commented on #895
Early in the initial implementation of the stack manager, I also ran into a cross namespace owner ref issue that would cause garbage collection within a few minutes of installing the stack.  We fixed that by ensuring that the `StackInstall` owner of the `Stack` were always in the same namespace.

This should be the case today.  @turkenh, do you have any insight into why the `Stack` would be garbag

[2019-10-08 14:39] turkenh commented on #895
This is also a question that I couldn't answer together with "why we haven't run the issue before".
I am almost sure this is not a manual action, also double checked by following the actions that my user account did from apiserver logs.

We could have better insights if we can access logs of the *kube-controller-manager*. Since this seems not possible with gke cluster, I'll think about finding a w

[2019-10-08 21:11] #707 closed

[2019-10-08 23:53] prasek commented on #867
@jbw976 GitLab 12.5 is going to stick with Helm 2 for GitLab-managed apps, so the Crossplane v0.4.0 helm chart needs to continue working with Helm 2. Updated above to reflect that.

[2019-10-09 00:23] #759 closed

[2019-10-09 01:51] prasek opened #922 "Manage the Portable Resource Classes at a higher level in a single namespace"
### What problem are you facing?
From: Dylan Griffith
https://gitlab.com/groups/gitlab-org/-/epics/1866#note_223600767

### Background
The bulk of the managed service config (resource class templates, provider config, etc.) is typically stored in a single infra namespace (per environment e.g. aws-infra-dev) and used by multiple app project namespaces.

The policy yamls (portable resource classes)

[2019-10-09 03:37] negz commented on #870
Also relates to #922.

[2019-10-09 04:01] negz commented on #870
I mostly agree. I was highlighting the _properties_ of the proposal without putting a value judgement on them. Reducing the reusability of non-portable resource classes is more likely to be a negative than a positive. That said, I question whether _global_ reusability of resource classes warrants the associated increase in user experience complexity.

Again, I don't disagree with this statement bu

[2019-10-09 04:43] negz commented on #870
An alternative to https://github.com/crossplaneio/crossplane/issues/870#issuecomment-537727710 that could help alleviate this concern, help with cases like #922, and still simplify the experience for smaller organisations would be to allow app namespaces to use a namespace level annotation to limit the namespaces to which their resource claims could be matched to (non-portable) resource classes.

[2019-10-09 08:24] turkenh commented on #895
I could reproduce the issue on minikube by restarting kube-controller-manager or by stopping and starting minikube again. It is happening with probability around 50% and I think I could find the root cause of why the Stack itself deleted.

The root cause seems to be that there is a wrong object reference in stack install jobs. It contains the **uid** of *ClusterStackInstall* object but kind/name o

[2019-10-09 13:47] jbw976 commented on #895
Great detective work on finding this @turkenh! Really good debugging!

There's a part of this I don't understand still.  The owner reference of the `Stack` looks OK to me, because it's using the correct UID and Kind/APIVersion to its owner `ClusterStackInstall` object.  The `Job` object definitely has the wrong Kind set, but the `Stack` looks OK.  Why would the `Stack` be garbage collected in this

[2019-10-09 16:26] prasek commented on #870
@negz Thanks for writing this up and @hasheddan for the discussion!

The `select-class-namespace` annotation addresses many of the concerns for globally matching across any namespace, and allows the namespace owner to incrementally expand the scope of label selector matches beyond local (same namespace matches). If the `select-class-namespace` was omitted by the namespace owner, defaulting to loca

[2019-10-09 18:25] prasek commented on #922
One potential issue with option (a) above is that portable class names in the local namespace and those in the resolver namespace probably shouldn't be combined, since the names would no longer be unique. So if a class-resolver namespace was provided it should be an either-or proposition: claims should either resolve to the local namespace if no class-resolver is specified or only resolve to the c

[2019-10-09 19:33] negz commented on #870
Thanks for the feedback @prasek!

Am I following correctly in my understanding that the value to users of "validated unique [resource class reference] names" is that a resource claim author can know with certainty that their resource claim will match exactly one resource class?

Correct, but is that a bad thing? Under this proposal:

* As you said, we get pre #723 behaviour, so a claim author coul

[2019-10-09 19:45] negz commented on #870
I think it might seem like I'm on a bit of a vendetta against portable resource classes here. I can see their value and think we'd be adding value by adding label selection to our existing paradigm, but I want to keep in mind that the inspiration for this whole proposal was user feedback that _Crossplane is too complicated_. It would be unfortunate to try to address such feedback by adding new con

[2019-10-09 19:48] negz commented on #922
I'd _really_ like to avoid going down this path of having claims support either a portable or a non-portable class reference (especially as part of the same field). It feels like it takes an already complicated model and just makes it more complicated.

I agree this is probably the most straightforward way to handle this. As @hasheddan pointed out, another option would be to add cluster scoped por

[2019-10-09 22:10] muvaf opened #925 "Drift between desired state and observed state should be reported"
### What problem are you facing?

There are cases where there is a drift between my desired state and observed state of a managed resource. Following scenarios can take place:
- Controller updates the managed resource successfully and observed state matches. Happy path.
- In some stacks, the `Update` call of the provider might be selective about the fields it's going to update and the selected fie

[2019-10-09 22:19] prasek commented on #870
@hasheddan for cluster scoped portable classes, how would one manage separate dev, stage, prod portable classes? #922 option (b) does this with separate infra namespaces that can be permissions separately, which actually solves some of the issues @lukeweber has raised around RBAC.

[2019-10-09 22:54] negz commented on #870
I realise there's a bunch of overlap here, but I'd prefer to keep discussion specific to issue #922 in issue #922. Let's move that discussion there.

[2019-10-09 22:57] negz commented on #494
Somewhat related to #870.

[2019-10-09 22:58] negz commented on #207
As of 0.3 ResourceClass no longer exists, and has been replaced by "strongly typed" resource classes like `RDSInstanceClass` that perform validation at the CRD level.

[2019-10-09 22:58] #207 closed

[2019-10-09 22:59] negz commented on #166
Related to #870.

[2019-10-09 23:00] negz commented on #9
I'm optimistically going to call this fixed by https://github.com/crossplaneio/crossplane/pull/840.

[2019-10-09 23:02] negz commented on #19
Optimistically calling this fixed by https://crossplane.io/docs/v0.3/api.html, which are generated (albeit not automatically) from our Go API Types.

[2019-10-09 23:02] #19 closed

[2019-10-09 23:04] negz commented on #11
This is still probably a good idea, but is pretty broadly scoped. I'm going to close it to cut down on our issue backlog a little. Please reopen if you feel it's still valuable.

[2019-10-09 23:04] #11 closed

[2019-10-09 23:05] negz commented on #26
Related to https://github.com/crossplaneio/crossplane/issues/452

[2019-10-09 23:05] negz commented on #25
Related to https://github.com/crossplaneio/crossplane/pull/858

[2019-10-09 23:06] negz commented on #56
I think we could proooobably call this fixed once all controllers are ported to the generic managed resource reconciler.

[2019-10-09 23:06] #63 closed

[2019-10-09 23:22] negz commented on #58
https://bestpractices.coreinfrastructure.org/en/projects/3260

Started the process for Crossplane.

[2019-10-09 23:23] negz commented on #71
This test no longer exists. :)

[2019-10-09 23:23] #71 closed

[2019-10-09 23:24] negz commented on #92
Our documentation and examples now all reflect our thinking from https://github.com/crossplaneio/crossplane/issues/92#issuecomment-515611628. I'm going to close this out.

[2019-10-09 23:24] #92 closed

[2019-10-09 23:24] negz commented on #91
Relates closely to #870.

[2019-10-09 23:26] negz commented on #153
Fixed by https://github.com/crossplaneio/crossplane/blob/master/design/design-doc-workload-scheduler.md

[2019-10-09 23:26] #153 closed

[2019-10-09 23:28] negz commented on #87
I'm going to optimistically close this out, presuming there aren't other cases beside the example listed here. Every resource now writes its connection secret to an explicity configured connectionSecretRef.

[2019-10-09 23:28] #87 closed

[2019-10-09 23:30] negz commented on #99
It's not clear to me whether this is still an issue. Are we aware of any places these races cause issues apart from benign "stale object modification" logs?

[2019-10-09 23:34] negz commented on #113
Relates to #870.

[2019-10-09 23:35] negz commented on #138
I believe we now expose both the public and private IP.

[2019-10-09 23:35] #138 closed

[2019-10-09 23:36] negz commented on #74
If we do have any managed resources that block, they won't after translation to the generic managed resource reconciler. 😬 Optimistically closing this.

[2019-10-09 23:36] #74 closed

[2019-10-09 23:36] negz commented on #74
(P.S. Managed resources are the only controller types that _might_ still block. No other controller variant I'm aware of does.)

[2019-10-09 23:39] negz commented on #286
Relates to https://github.com/crossplaneio/crossplane/pull/838

[2019-10-09 23:41] negz commented on #238
https://crossplane.io/docs/v0.3/cloud-providers.html

As of 0.3 we link through to the services guide that explains how to do this.

[2019-10-09 23:41] #238 closed

[2019-10-09 23:45] negz commented on #331
Relates to https://github.com/crossplaneio/crossplane/pull/858

[2019-10-09 23:46] negz commented on #352
On rereading this issue, I feel like this is a pretty common use case that we support today. I'm going to close this - let me know if I'm missing something.

[2019-10-09 23:46] #352 closed

[2019-10-09 23:48] negz commented on #506
We've made good progress on point 2. Not much on point 1 yet.

[2019-10-09 23:49] #480 closed

[2019-10-09 23:53] negz commented on #530
This is older, but I'm going to close it as a duplicate of https://github.com/crossplaneio/crossplane/issues/621 because "high fidelity" has become the term we use to talk about this.

[2019-10-09 23:53] #530 closed

[2019-10-09 23:53] negz commented on #392
This is more broadly tracked by https://github.com/crossplaneio/crossplane/issues/621

[2019-10-09 23:53] #392 closed

[2019-10-10 00:00] #831 closed

[2019-10-10 00:01] negz commented on #880
https://github.com/crossplaneio/crossplane/pull/840#issuecomment-540222381

Another example. The PR touched only markdown, yet supposedly resulted in a ~7% reduction in coverage?

[2019-10-10 01:40] prasek commented on #922
@negz thanks for the feedback, makes sense.

additional feedback from GitLab:

@pprasek I don't have strong preference. It would seem option (b) is simpler in that we don't have to manage another resource.

[2019-10-10 03:51] prasek commented on #870
Yes and in a portable way where an advertised class of service can be easily defined and consumed by it’s unique name deterministically. The contract is simply the name of the portable class. It might be a little verbose, but is conceptually simple. Portable refs.

Labels / selectors are powerful and would be a great addition, esp. for more advanced  dynamic matching scenarios, but wonder if they

[2019-10-10 10:24] turkenh commented on #529
thanks @jbw976
I had already passed `--debug` but could not find a way to trigger controller runtime client calls to fail.

Now I can reproduce by putting a breakpoint in sync function of the resource, modifying object via kubectl (i.e. adding a label) while it is waiting at breakpoint which causes `resourceVersion` to change and result in the error `the object has been modified; please apply your

[2019-10-10 12:20] jbw976 commented on #529
I think an easy way to reproduce this is to simply return an error from a `Reconcile()` function.  The handling of that should result in a call stack being logged (as long as `--debug` was passed in as an arg).  This can be any error, it doesn't have to be a k8s api specific error, so you could just modify a `Reconcile()` func of your choice to simply return a new `fmt.Errorf("mock error")`.

This