[2019-10-10 12:39] jbw976 commented on #895
Ah, I think I understand this a bit better now with your explanation and leg work, thank you @turkenh! 💪

I agree that does sound a bit concerning that a malformed owner reference can cause the object that it "might" be referring to to be deleted. Don't think I've seen that behavior before, but that does seem like what's happening here.

[2019-10-10 12:53] turkenh commented on #529
This is so true, for some reason, I was thinking I need to reproduce this without changing the code🤦‍♂️

Thanks for the links, I think I already found a workaround without not changing current controller-runtime revision but it makes more sense to update it and use builtin options as you pointed.

[2019-10-10 19:57] displague commented on #852
I had a tin-foil hat thought that this issue approaches, so I'll park the thought here.

Organizations with custom Stacks will want CI/CD pipelines configured to test and publish their Stacks.  This often means that their stack's build process will have access to Docker registry tokens and may have access to cloud infrastructure keys used for end-to-end tests.

With that perspective, I would be ca

[2019-10-10 20:35] displague commented on #899
Alternatively, if a Stack requires access to core or extension types, or any unknown outside type, UI tools (the CLI or Web UIs) should prompt for user confirmation or require arguments to override the default restrictive behavior.

I believe Stacks will benefit from being able to create any type of Kubernetes resource.  We can use https://github.com/crossplaneio/crossplane/issues/758 to restrict

[2019-10-10 20:38] displague commented on #751
https://github.com/crossplaneio/sample-stack/pull/3 has been updated with ui-schema by @rathpc

[2019-10-10 22:23] negz commented on #892
A clarifying point - our connectivity work for 0.3 was scoped around connecting to CloudSQL from GKE. It's possible that work introduced support CloudMemorystore and Bucket connectivity as a side effect, but I'm not sure about that.

[2019-10-11 14:18] rathpc opened #929 "UI-Schema Status Spec"
As of right now there is no defined spec to be able to drive status information for a given stack or resource from a GUI perspective. It would be useful to add keys to the existing `ui-schema.yaml` file that can be used for this purpose.

We can leverage the types from the array of `conditions` within the `conditionedStatus` key defined in status.

[2019-10-13 18:56] jbw976 commented on #330
I actually think that this issue is also the cause of not getting automatic publishing of release branch builds. As shown in the `v0.3.0` [build output](https://jenkinsci.upbound.io/blue/organizations/jenkins/crossplane%2Fbuild/detail/release-0.3/1/pipeline/):

[code]

This means that instead of publishing a `v0.3.0` build from Jenkins, we actually published a `v0.0.0-1143.07abcf4` build.  We shou

[2019-10-14 07:46] turkenh commented on #867
I've opened PR #932 which adds `clusterStacks` option to helm chart allowing one or more infrastructure stacks to be installed along with Crossplane.

Currently, it installs cluster stacks in the same namespace as Crossplane (typically `crossplane-system`) and package version for the stacks are always `master`.

Please let me know if any of above assumptions would not work.

[2019-10-14 08:48] turkenh commented on #744
**Here is my proposal:**

`kubectl crossplane trace RESOURCE_TYPE RESOURCE_NAME [-n|--namespace NAMESPACE]`

This command will provide debugging information for Crossplane resources by tracing the related objects and printing helpful information. To achieve this, we need a way to find the next/related object(s) for a given one. There are different types of relations between Crossplane resources an

[2019-10-14 13:57] displague commented on #330
Are we fetching tags in Jenkins?

It looks like we are not according to this ref spec found in the Jenkins UI:
`+refs/heads/*:refs/remotes/@{remote}/*`

We can either add `+refs/tags/*:refs/remotes/origin/tags/*` there or add it to the Jenkinsfiles:
https://github.com/allegro/axion-release-plugin/issues/195#issuecomment-319541175

[2019-10-14 14:16] jbw976 commented on #330
Good question @displague! I don't think I knew that the Ref Specs in the Jenkins config controlled how things are fetched, as mentioned in https://stackoverflow.com/a/15449015/467462:

We are not specifying a ref spec to fetch any tags, so you may have found what is missing.  I'm going to add this ref spec and see what happens in the next master build.  Hopefully we'll start building `v0.3.0-xyz`.

[2019-10-14 17:42] muvaf opened #933 "v1beta1 quality conformance doc"
### What problem are you facing?

As a stack developer I'd like to know what the definition of done is for a resource to be v1beta1 quality.

### How could Crossplane help solve your problem?

Have a document that lists the things that the user should be able to do and how they should be able to do it. I think we should keep in mind that the bullet points in that document should be short, concise

[2019-10-14 18:35] rathpc opened #934 "[Proposal] Parent/Child Resource Relationship Labels"
It would be useful to define a spec for labels on parent/children crds that allows you to quickly get and filter all resources that are part of a parent resource.

The clearest example of what I am referring to is shown on this page https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/#labels within the `app.kubernetes.io/part-of` label.

With this defined and in place o

[2019-10-14 22:34] suskin commented on #744
Awesome! I'm thinking there are a couple more types of chains not covered by the existing list that we might want to follow:

* `ResourceClaim` -> `ResourceClass`, `Provider`, for debugging configuration issues
* `Resource` -> `ResourceClaim`, for debugging resources and to look for orphans
* `Policy` or `Provider` -> `Resource` and `ResourceClaim` objects
* `Provider` -> everything using that pro

[2019-10-15 06:34] jbw976 commented on #934
@rathpc is this different than #752?

[2019-10-15 10:51] turkenh commented on #744
I understand you suggest a more general purpose debugging tool rather than a simple "find related next object and print some info" tool which definitely makes sense. In this case, it would be hard to scale with `bash` and better to implement in `go`.

Yeah, this is something that I also considered but not all `kubectl get` options makes sense except formatting. I am thinking to represent the relat

[2019-10-15 13:50] rathpc commented on #934
@jbw976 I believe they are both trying to accomplish the same thing, perhaps with different approaches. I can close this one in favor of #752 if that works for you?

[2019-10-15 17:23] #624 closed

[2019-10-15 17:32] suskin commented on #934
/cc @turkenh this seems related to the trace functionality

[2019-10-15 17:56] suskin commented on #744
Also, I do want to clarify that it is totally fine to make a simple and very limited tool now, play with it to learn more about what we want, and then improve it in the future to support other use-cases. I would much rather have a simple tool that we can use now than wait longer for a more sophisticated tool.

For example, a use-case that came up multiple times in the last couple of days is debugg

[2019-10-15 21:18] muvaf commented on #906
I have updated each stack issue to have a TODO dedicated for doc updates. It should be safe to close this one.

[2019-10-15 21:18] #906 closed

[2019-10-16 01:19] #870 closed

[2019-10-16 01:19] #892 closed

[2019-10-16 02:43] jbw976 commented on #934
Thanks @rathpc, if this and #752 are both trying to accomplish the same thing then I'd like to keep the older one since it is probably linked from multiple places by now.

The proposal there wasn't very well thought through, so I'd appreciate if you could please add your idea for how it should work and be implemented as a comment.  If you may want to consume this feature in the future, it's best t

[2019-10-16 02:43] #934 closed

[2019-10-16 02:43] jbw976 commented on #934
Dupe of #752

[2019-10-16 06:58] turkenh commented on #897
I believe this it is not _always_ reasonable to "wait" controllers to run before posting the ClusterStackInstall instances. With the PR https://github.com/crossplaneio/crossplane/pull/932, I am adding support to install additional infra stacks with helm, which simply deploys all together, and sporadically hit this issue. Even it is too rare, like 1/10, we need to handle properly and fix this issue

[2019-10-16 08:06] turkenh commented on #897
Ok, this could have the same root cause as https://github.com/crossplaneio/crossplane/issues/895 which is expected to be fixed on master.

[2019-10-16 08:06] #897 closed

[2019-10-16 09:36] turkenh commented on #752
I was also trying to figure out this in the context of trace cli #744.

Currently, all resources generated as a result of creating a WordPressInstance has owner reference set  back to the WordPressInstance. Thanks to jsonpath support of kubectl, these resources can be found by the following _ugly_ command (putting here as a workaround until we have a better solution):

[code]

However, this query

[2019-10-16 14:11] rathpc commented on #752
I had been doing some thinking on this as well...

Migrating over some notes from a duplicate issue I had created.

My thought was that we could use labels defined on child resources that declare their respective parent resource.  It looks like there is already a label structure defined by k8s that fulfills this need.

The clearest example of what I am referring to is shown on this page https://ku

[2019-10-16 20:35] negz commented on #875
Breadcrumbs for https://github.com/crossplaneio/crossplane/issues/880 - Sonarcloud seems to be suffering from strange coverage measurement issues. We moved from Codecov to Sonar because Codecov had similar issues.

[2019-10-16 20:36] soorena776 commented on #875
I don't have a strong opinion about to use or not use SonarCloud, but I agree with @negz that:

[2019-10-17 09:41] srueg commented on #262
Any news on this one? Sounds like an interesting approach to reuse the Terraform ecosystem.

[2019-10-17 14:57] rathpc commented on #752
Is there already an in-progress one-pager for this design spec?

[2019-10-17 17:43] displague commented on #751
In conversation with @thephred, @suskin, and @rathpc, we may also need to add UI annotations to the core Crossplane types (MySQLInstance, KubernetesApplication, etc).

We could create a controllerless "core" stack but this would need to be installed in some way.  Rather, if we can apply the ui-schema.yaml (resource.yaml, group.yaml, etc) decorations to the CRDs at build time, the Helm chart (and o

[2019-10-17 18:36] tamalsaha commented on #262
@srueg , we have been working on the terrform based controller. Please feel free to ask in kubeform repo https://github.com/kubeform/project/issues . We have a working demo of individual resources and tf modules at this point.

[2019-10-17 19:51] turkenh opened #943 "Helm deployment fails with helm3 when "deploying clusterStacks with helm" enabled"
### What happened?

The "cluster stack installation with Crossplane helm chart" feature introduced with #932 is not working with helm 3.

### How can we reproduce it?

Run the following to deploy Crossplane helm chart with helm3 enabling at least one clusterStack:
[code]

### What environment did it happen in?
Crossplane version: master including #932
Helm version: v3.0.0-beta.4

[2019-10-17 21:32] negz commented on #91
Cross linking relevant discussion from https://github.com/crossplaneio/stack-gcp/pull/46#discussion_r334800076.

[2019-10-17 22:26] suskin opened #944 "error and event reporting: a practical guide"
### What problem are you facing?

We have observed that Crossplane would benefit from more error and event reporting, to help with debugging situations. There is some discussion in #858 . As we transition to having a more robust strategy, we'll want to have good examples and patterns we use, so that our codebase is consistent and it's easy for new contributors to adopt our approaches quickly.

###

[2019-10-17 22:32] #867 closed

[2019-10-17 23:02] jbw976 commented on #752
No @rathpc, unfortunately there is no existing on-pager or design write-up for this topic 😞

[2019-10-17 23:24] #286 closed

[2019-10-18 00:58] negz commented on #845
It's not clear to me after a brief Googling whether this categories concept exists only at the `kubectl` level, or is supported by the API server. If the latter were true it could be a game changer for a lot of our implementations; i.e. being able to grab a list of all resource classes, regardless of kind.

[2019-10-18 05:35] vadasambar commented on #152
Any updates on this? This would be a great feature. This is the only thing stopping us from using crossplane right now.

[2019-10-18 15:06] prasek commented on #152
Hi @vadasambar, thanks for your feedback! We definitely want to get to this, can you tell us a little more about your scenario, and why this is a blocker, so we can add that to this issue? I've marked it for consideration in the next release.

//cc @negz @jbw976

[2019-10-18 17:04] prasek opened #946 "GCP Services Guide install links are broken"
### What happened?
Install Crossplane & Install GCP Stack links are broken in:
https://crossplane.io/docs/v0.3/services/gcp-services-guide.html#installation
![image](https://user-images.githubusercontent.com/284840/67113304-026f2800-f18e-11e9-82ce-74d659820813.png)

### How can we reproduce it?
https://crossplane.io/docs/v0.3/services/gcp-services-guide.html#installation
Click the links from the I

[2019-10-18 17:13] hasheddan commented on #946
@prasek are you opening a PR for this? I am happy to fix if not!

[2019-10-18 18:17] muvaf commented on #946
I don't understand why this happens, it's the exact same URL with other services guides except it embeds the link directly as opposed to using named links.

[2019-10-18 19:04] negz commented on #152
Just wanted to add a quick clarification - I believe @vadasambar specifically asked for _GKE_ node pool support, while this issue tracks modelling node pools at the claim level. My bad for conflating the two!

[2019-10-18 21:14] suskin commented on #915
I am working on this in [a repository with code examples](https://github.com/suskin/template-stack-experience). I plan to try to create a design document to complement the code examples and Marques's design document, though there is already a chunk of design type discussion in the readme in the examples repo.

[2019-10-18 21:51] soorena776 opened #948 "Crossplane Core: Implement Cross Resource Referencing for resource types"
### What problem are you facing?

epic #631
### How could Crossplane help solve your problem?

[2019-10-19 01:24] suskin commented on #915
I've added an example of a [resource pack](https://github.com/suskin/template-stack-experience/tree/master/wordpress-workload/go-templates/resource-pack) which shows how one might create a resource pack to set up the baseline GCP Network resources needed to run Wordpress in GCP. Now that this example is in the repo, I'm going to switch over to getting this into a reviewable format. I expect that w

[2019-10-19 01:25] suskin commented on #914
I have expanded an earlier PR/FAQ style document to cover these topics as well (in the FAQ section). @prasek and I also plan to have user discussions early next week to help refine the explanations.

[2019-10-21 04:25] soorena776 opened #950 "Support "at least one of the few fields required" validation rule for CRD fields"
### What problem are you facing?

The [Cross Resource Referencing](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-cross-resource-referencing.md) work has introduced the notion of `fooRef` field for field `foo` in CRD `Cool`, where `fooRef` is used to retrieve the value of `foo` from another resource object. `fooRef` is an optional field and is used when the value of `foo`

[2019-10-21 05:58] vadasambar commented on #152
@prasek, thank you for the response :) Because of the nature of the application we want to deploy, we need some nodepools to be GPU intensive (because of the nature of computing involved) and some nodepools to be normal machine type. But, since multiple nodepools cannot be specified in the yaml spec, we cannot deploy the application properly (except maybe create one cluster say normal CPU type and

[2019-10-21 07:38] negz opened #952 "Simple Resource Class Selection"
### What problem are you facing?

This is a very lazily written epic tracking the Simple Resource Class Selection work. See https://github.com/crossplaneio/crossplane/pull/926 for details on the changes.

### How could Crossplane help solve your problem?

- [x] https://github.com/crossplaneio/crossplane-runtime/pull/48 - Update runtime
- [x] https://github.com/crossplaneio/crossplane-tools/pull/7

[2019-10-21 16:40] hasheddan commented on #894
Done! https://blog.crossplane.io/azure-secure-connectivity-for-aks-azure-db/

[2019-10-21 16:40] #894 closed

[2019-10-21 16:42] hasheddan commented on #534
Closed by #935

[2019-10-21 16:42] #534 closed

[2019-10-21 17:04] bassam commented on #262
@srueg would definitely be great to leverage the great work in the terraform community for crossplane. We've explored this lightly at this point, and ran into a few issues. The terraform providers have a number of baked in assumptions that are not compatible with reconcile loop approach we would like to explore. For example, create/deletion patterns, and assumption about what state stored in tfsta

[2019-10-21 17:12] tamalsaha commented on #262
@bassam , what issues you have seen with `create/deletion patterns` ?

[2019-10-21 17:49] suskin commented on #878
Just want to make a note that the current filesystem layout for template stacks is intended to use the same basic folder hierarchy as the existing stacks format. Some of the levels of hierarchy have been left out since they seemed unnecessary for the examples, but it is assumed that they will still exist in Real Applications.

[2019-10-21 21:49] suskin commented on #915
I've opened a pull request with a design document which refers back to the code examples in #956

[2019-10-22 00:17] #887 closed

[2019-10-22 04:51] #901 closed

[2019-10-22 05:39] jbw976 opened #958 "Cluster scoped stacks should be able to install cluster scoped CRDs"
With the new simple resource class selection experience described in the [design doc](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-simple-class-selection.md#proposal):

The current infrastructure stacks have a valid reason to install cluster scoped CRDs now, which is currently blocked.

Initially we chose to block cluster scoped CRDs as a first attempt of the security mo

[2019-10-22 05:40] jbw976 commented on #958
This should be fixed in v0.4 since the simple resource class selection experience requires it.  @displague would it be possible for you to take a stab at fixing this in short order?  Thank you!

[2019-10-22 06:01] jbw976 commented on #929
The design for this has been merged to master in #930.  The design 1-pager can be found at https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stack-status-spec.md.

@displague or @suskin, I'm hoping to include this in v0.4 so consumers of Crossplane can start using it after that release.  I **think** the Stack Manager doesn't actually have to be updated though to deal with the

[2019-10-22 14:32] jbw976 commented on #893
Blog published at https://blog.crossplane.io/aws-secure-connectivity-for-eks-rds/

[2019-10-22 14:32] #893 closed

[2019-10-22 14:40] jbw976 commented on #884
Fixed in https://github.com/crossplaneio/stack-rook/pull/1

[2019-10-22 14:40] #884 closed

[2019-10-22 14:40] jbw976 commented on #885
Fixed in https://github.com/crossplaneio/stack-rook/pull/1

[2019-10-22 14:40] #885 closed

[2019-10-22 14:42] #658 closed

[2019-10-22 14:42] jbw976 commented on #658
The readme's have appropriate information and link to the docs for more help and the API status tables were included in v0.3.

[2019-10-22 14:47] rathpc commented on #752
@jbw976 Ok, I have started a One-Pager. Once it is in a fairly stable place I will open a PR and reference this issue

[2019-10-22 18:34] #948 closed

[2019-10-22 20:26] displague commented on #929
@jbw976 https://github.com/crossplaneio/sample-stack/pull/4 Is ready to go

Since this is a 2 line PR, we can easily create this for the other Stacks.

In a conversation with @rathpc earlier, he pointed out that UIs could fallback to the CRD `printcolumn` defined conditioned status, so this may not be necessary.

[2019-10-22 21:46] #889 closed

[2019-10-23 03:38] negz commented on #319
I think I've removed all instances of the client-go client during my simple resource class selection work.

[2019-10-23 03:38] negz commented on #952
Bonus points: confirm after merging everything whether https://github.com/crossplaneio/crossplane/issues/319 is fixed.

[2019-10-23 15:19] hasheddan commented on #903
@negz I have #964 for the services guide, but may need your expertise on generating the API documentation :)

[2019-10-23 16:11] displague commented on #434
The design will also need to cover the roles given to dependencies.. https://github.com/crossplaneio/crossplane/pull/959#discussion_r338121152

[2019-10-23 17:03] #958 closed

[2019-10-23 18:25] negz commented on #950
Hah, I was just going to raise this exact issue. Thank you!

[2019-10-23 20:27] negz opened #967 "Proposal: Weighted random composition selection"
### What problem are you facing?

The [simple resource class selection](https://github.com/crossplaneio/crossplane/blob/31ba7418/design/one-pager-simple-class-selection.md) design introduces the ability for resource claims to select the resource classes they use by labels. When multiple resource classes match a claim's label selector a random matching resource class is selected.

Weighting the res

[2019-10-23 20:38] negz commented on #967
It's worth noting that we could avoid this label and instead encode this relationship in the `kind` of the `ClassWeight`, by making it something like `kind: PostgreSQLInstanceClassWeight`. I think I slightly prefer `ClassWeight` just because it reduces our CRD proliferation, but I don't feel strongly.

[2019-10-23 20:56] negz opened #968 "Support "side effects" during dynamic provisioning"
### What problem are you facing?

We're increasingly encountering scenarios in Crossplane in which more than one managed resource would need to be dynamically provisioned in order for a resource claim to result in a useful managed resource. Examples include:

* Azure SQL Server virtual network rules. These are firewall rules that whitelist a particular Azure subnet to connect to an Azure SQL serve

[2019-10-24 00:17] negz opened #969 "Add memcached resource claim"
### What problem are you facing?

I really like to cache stuff.

### How could Crossplane help solve your problem?

I believe one pleasant side effect of @muvaf's work on making AWS ReplicationGroups high fidelity in https://github.com/crossplaneio/stack-aws/issues/30 is that they should now support memcached as well as Redis clusters. We may want to take advantage of this by adding a `kind: Memca

[2019-10-24 04:46] negz opened #970 "Refresh API docs for 0.4"
### What problem are you facing?

We're about to release Crossplane 0.4 and https://crossplane.io/docs/master/api.html requires manual work to build new docs.

### How could Crossplane help solve your problem?

Update and run https://github.com/negz/crossdocs to generate new docs. We should probably wait until shortly before the release to make sure everything in flight lands before we do this.

[2019-10-24 04:48] negz commented on #689
I'm going to suggest we don't do this given that by the time we get around to it they won't exist anymore - should be replaced by an 0.4 blog post about simple resource class selection.

[2019-10-24 04:48] #689 closed

[2019-10-24 06:30] jbw976 commented on #970
I'm working through documenting the release process right now @negz.  This sounds like something that should be done in `master` before we create the release branch for `v0.4.0`, what do you think?

[2019-10-24 06:58] negz commented on #319
Sadly not quite. It's gone from the GCP and Azure stacks, but we're still using it to push a configmap to EKS clusters in the AWS controller.

[2019-10-24 16:41] #909 closed

[2019-10-24 16:43] jbw976 commented on #875
I'm removing this from the v0.4 milestone as it sounds like we'll want to do some more thorough vetting of SonarCloud or a better solution.

[2019-10-24 20:00] negz commented on #849
I really don't think this is a good practice. How often do you run software that _defaults_ to debug level logging? My suggestion would be to disable debug logging being on by default on Crossplane and all stacks, but make it straightforward and well documented how to do so.

[2019-10-24 20:03] negz opened #974 "Support Provider controller configuration"
### What problem are you facing?

Stacks are frequently powered by controller managers. These controller managers are processes running in Kubernetes pods that may be configured via environment variables, command line flags, or (hypothetically) configuration files.

For example:

* A command line flag or environment variable can be used to enable or disable debug level logging per https://github.c

[2019-10-25 02:04] displague commented on #929
I've created the following PRs on the GCP, Azure, and AWS Stacks to provide the base ui-schema.yaml (#751) for those stack CRD files and to define that the resources in these stack should take advantage of the Crossplane Runtime "Ready" conditioned status:

* https://github.com/crossplaneio/stack-aws/pull/50
* https://github.com/crossplaneio/stack-azure/pull/42
* https://github.com/crossplaneio/st

[2019-10-25 04:35] negz commented on #452
https://github.com/google/go-cmp/blob/master/cmp/compare_test.go#L45

I noticed this convention in the cmp tests recently, in which each test clause contains a "reason" string that provides context around what is being tested. I think this could be worth trying for Crossplane, especially in the crossplane-runtime controller tests that are becoming fairly complex, and could help avoid super complex

[2019-10-25 06:13] negz commented on #970
@jbw976 That sounds right to me. Ideally we'd automatically update `master` with each merge, but  bumping the docs in master before each release seems like the next best thing.

[2019-10-25 07:04] soorena776 commented on #968
A few thoughts:

It's not clear to me why this is a preference. Crossplane is already using such complex managed resources in several places (EKSCluster, RouteTable, InternetGateway). Perhaps the preference is rooted in the fact that we want to have high fidelity with regards to the external cloud resources. In that case, I don't think grouping most related resources together as a bigger and compl

[2019-10-25 16:13] displague opened #979 "Include UI Metadata for Core Crossplane Types"
### What problem are you facing?

As noted in https://github.com/crossplaneio/crossplane/issues/751#issuecomment-543285321, there is a desire to provide UI metadata for all managed types supported by Crossplane.

Not all resources are managed via the Stack Manager, which is currently responsible for applying metadata to new CRDs.  The core Crossplane types (KubernetesCluster, MysqlInstance, etc) a

[2019-10-25 16:14] displague commented on #979
Capturing some  [Crossplane Slack thoughts](https://crossplane.slack.com/archives/CEF5N8X08/p1572018139128300):

[2019-10-25 22:04] #905 closed

[2019-10-25 22:26] displague opened #981 "ClusterPackageInstall should be Cluster Scoped"
### What problem are you facing?

@lukeweber points out that following https://github.com/crossplaneio/crossplane/pull/959 and the introduction of the Simple Class Selection design / implementation, `ClusterStackInstall` records should not be namespaced.

I explored this a bit here: https://github.com/crossplaneio/crossplane/pull/959#discussion_r338174480 (TODO, bring those thoughts into this issu

[2019-10-25 22:27] jbw976 opened #982 "Crossplane install should optionally install Rook stack also"
With #867, we added the optional install of AWS/GCP/Azure stacks during the installation of the Crossplane Helm chart.  Now that we have a Rook stack, we should add an option for installing that stack as well.

[2019-10-25 23:15] negz commented on #922
@prasek I think this is fixed by the implementation of https://github.com/crossplaneio/crossplane/pull/926. I'm going to optimistically mark it as resolved - please reopen if you feel I'm jumping the gun.

[2019-10-25 23:15] #922 closed

[2019-10-26 09:35] #907 closed

[2019-10-26 10:38] negz commented on #981
Should this read _not_ be namespaced?

I'm out of touch with the stacks world, but now that I think about it it seems a little odd that _any_ stack is namespaced given they almost always install one or more (cluster scoped) CRDs. I just skimmed the [stacks isolation one-pager](https://github.com/crossplaneio/crossplane/blob/dfa760ae9cd2602e6095f61ccb656664cb8a9226/design/one-pager-stacks-security-

[2019-10-26 14:38] jbw976 commented on #330
So we have figured out the root cause of this issue, essentially the Jenkins builds were not getting any tags during the builds.  There are multiple ways to configure a pipeline to get tags, but it appears that the 3rd and final one is what actually makes a difference:

1. Ref specs such as `+refs/tags/*:refs/remotes/@{remote}/tags/*
1. Pipeline behavior for "Discover tags"
1. **important**: Pipel

[2019-10-26 16:19] jbw976 commented on #775
I would call this series of blog posts done with all the great content now on https://blog.crossplane.io.

We will hopefully release v0.4 on monday and then we can start a new series of v0.4 focused blog posts.

[2019-10-26 16:19] #775 closed

[2019-10-26 16:21] jbw976 commented on #767
@suskin can we rename this issue to cut v0.0.2 release of CLI? Are you tracking this effort though any other means?  I'm realizing that the CLI repo is inconsistent with the release process for the rest of our repos, we may want to normalize that process in future releases.

[2019-10-26 16:22] jbw976 commented on #929
All of @displague PRs have been merged into their respective master branches and should be included in the v0.4 release timeline.

[2019-10-26 16:22] #929 closed

[2019-10-27 00:18] #888 closed

[2019-10-27 00:34] jbw976 commented on #6
I have opened a series of PRs to add the same `tag` and `promote` pipelines to the stacks repos that have already merged into Crossplane master

* https://github.com/crossplaneio/stack-gcp/pull/67
* https://github.com/crossplaneio/stack-aws/pull/53
* https://github.com/crossplaneio/stack-azure/pull/47
* https://github.com/crossplaneio/stack-rook/pull/12

[2019-10-27 01:13] #890 closed

[2019-10-27 14:40] jbw976 commented on #6
Release pipelines for tagging and promoting have been added to main crossplane repo, stack-aws, stack-gcp, stack-azure, and stack-rook.  I believe this issue is now completed.

[2019-10-27 14:40] #6 closed

[2019-10-27 14:51] jbw976 commented on #330
To clarify, now that we have fixed the Jenkins pipeline configuration to discover tags, the issue that still lingers affects master builds only.  Builds from release branches, that will have a semver tag, will work as desired.

[2019-10-28 00:08] #744 closed

[2019-10-28 16:42] #982 closed

[2019-10-28 17:23] #952 closed

[2019-10-28 17:23] #862 closed

[2019-10-28 17:26] hasheddan commented on #903
Closed by #964

[2019-10-28 17:26] #903 closed

[2019-10-28 17:34] robsclark opened #996 "Use crossplane to set up a VPN with redundant tunnels for multi-cloud scenarios"
End users of Distributed SQL databases with multi-cloud deployments require VPN set up between VPCs and/or multiple cloud providers. Users ask "How do I set up a VPN with redundant tunnels?".

Delivering this functionality in Crossplane would make it easier to set up redundant tunnels, reducing user complexity and enabling quicker and simpler deployment.

[2019-10-28 20:28] jbw976 commented on #946
It is very unclear why this particular issue is happening and we have not gotten to an understanding of root cause.  We're going to ship v0.4 with this bug (know the bugs you ship with).

[2019-10-28 20:36] negz opened #1000 "A KubernetesApplication should be limited to KubernetesClusters in its namespace"
### What happened?

The `KubernetesApplication` kind has a `clusterRef` which is an `ObjectReference`. Both the `KubernetesApplication` scheduler and the `KubernetesApplicationResource` controller do not respect namespaces. The scheduler round robins across `KubernetesCluster` claims across _all namespaces_, and the resource controller will happily submit a `KubernetesApplicationResource` to a `Ku

[2019-10-28 20:38] negz commented on #1000
I suggest we fix this by:

* Adding a ListOption to the scheduler that limits it to finding cluster claims in the namespace of the application.
* Switching the ClusterReference to a LocalObjectReference (or similar per https://github.com/crossplaneio/crossplane-runtime/issues/49)

[2019-10-28 21:30] negz commented on #859
I like the idea of using `provider.kubernetes.crossplane.io` to enable the BYO cluster scenario, but the initial proposal here feels like it makes a little less sense now that providers are cluster scoped.

I think it makes sense that a `KubernetesApplication` be scheduled only to `KubernetesCluster` claims in its own namespace (which it just occurred to me is not actually the case today per https

[2019-10-28 23:29] displague commented on #981
_Updated_ -- just as the title reads, the body should have matched.. "ClusterStackInstall records should __not__ be namespaced".

@lukeweber and I are exploring this problem.

Here are some very early thoughts..

---

One potential direction (not a solution, yet), is to include a spec.namespace(s) argument in the StackInstall/Stack record.

In the case of ClusterStackInstalls, a `spec.namespace` f

[2019-10-28 23:51] lukeweber commented on #981
Since the internal Stack CRDs are not versioned independently of the install.yaml and Deployment, I'm not sure in practice how we would implement something like this.

Stacks are a way to get CRDs and related controllers installed in cluster, and an end user should be able to instantiate any available CRD without considering which stack it came from and whether it's enabled on the namespace explic

[2019-10-29 00:15] jbw976 commented on #767
This has been completed:

* `v0.1.0`: https://github.com/crossplaneio/crossplane-cli/releases/tag/v0.1.0
* `v0.2.0`: https://github.com/crossplaneio/crossplane-cli/releases/tag/v0.2.0

[2019-10-29 00:15] #767 closed

[2019-10-29 00:17] #970 closed

[2019-10-29 00:19] jbw976 commented on #911
This release guide will be finalized with real world examples/output of the process from running through the real v0.4.0 release.  Therefore, this issue will be fixed first thing in v0.5.0.

[2019-10-29 00:19] #864 closed

[2019-10-29 16:57] infinitecompute commented on #867
@turkenh Has this been added to the public documentation?  If not, lets open another issue for that.

[2019-10-29 18:37] jbw976 commented on #867
Yes @infinitecompute this has been added to the documentation, see https://crossplane.io/docs/v0.4/install-crossplane.html#installation-with-helm

[2019-10-29 20:56] negz opened #1007 "Providers should disable controllers (not panic) when claim CRDs are not found"
### What problem are you facing?

Infrastructure stacks (AWS, GCP, Azure, etc) operate on resource claims. They contain controllers that expect the claims they operate on exist - if they don't the controller panics at setup time (i.e. when the stack's controller manager binary first starts). This means if one of the four claim kinds an infrastructure stack supports does not exist the entire stack

[2019-10-30 17:39] soorena776 opened #1009 "Support for KMS to encrypt Provider credentials at rest"
### What problem are you facing?

Currently we are storing the provider credentials as secrets in K8S. These credentials have long-term expiration which provide a big range of sensitive access policies in the target account. Despite this level of sensitivity, these secrets are not encrypted and can be accessed by any identity who has the right cluster roles (independent from the target provider ac

[2019-10-30 17:52] soorena776 commented on #1007
@negz
- What is the scenario where a stack is installed but one of the claim kinds is not yet created? Are there any scenarios other than a faulty stack package?
- In this case, how do we go about clearly notifying that one of the controllers is disabled? Debugging might become very hard if this happens silently. Could we disable the entire stack instead?

[2019-10-30 17:53] soorena776 commented on #946
@prasek I believe this is closed now

[2019-10-30 18:02] hasheddan commented on #946
@soorena776 this was not resolved in v0.4.0 and appears to be a Jekyll generation bug. We should keep this issue open for tracking.

[2019-10-30 18:59] bassam commented on #1009
do we need to do anything here beyond what Kubernetes does today for storing secrets in a KMS?

[2019-10-30 20:28] lukeweber opened #1010 "Support for better Claim status from underlying resources"
### What problem are you facing?
Problem:
- As a workspace(non-infrastructure persona) I would like to make claims, and be notified of a more detailed status of the underlying resource on the claim.

Further supporting user story:
- As an infrastructure owner, I don't want to grant any permissions to a workspace user to my infrastructure.

### How could Crossplane help solve your problem?

If I cr

[2019-10-30 21:12] prasek commented on #1010
//cc @negz @jbw976

[2019-10-30 21:54] negz commented on #1010
To recap, there are three layers here, from bottom to top:

1. The external resource. The actual CloudSQL instance in Google's cloud.
1. The managed resource. The Crossplane `CloudSQLInstance` representing 1.
1. The resource claim. The Crossplane `MySQLInstance` representing 2.

`v1beta1` managed resources include a high fidelity representation of the readiness of their external resource under `.s

[2019-10-31 01:00] lukeweber commented on #1010
I'm not immediately thinking of a solution on how we would achieve this in a generic way with RBAC.  Do you have any ideas? I see the point about crafting custom RBAC to meet a specific use-case for a specific resource, but I think I'm more thinking in terms of making the end user out of box experience for an app developer persona working with claims richer.

So this feature request is to enrich t

[2019-10-31 13:55] muvaf commented on #1010
@negz Recently, users asked for help on the Slack channel and our first response is usually `go look at the managed resource status`, which usually helps a lot but as expected the first thing they look at is claim. If they could see the error on the claim right away, they'd just fix and move on. So, I think this would be very valuable in terms of UX. Though I am not sure if a new controller should

[2019-10-31 13:59] muvaf commented on #1009
Per https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/ this is related to how user configures their k8s cluster that they choose to run Crossplane. So, I feel like it's more of their responsibility to keep the secrets secure rather than the applications running in their cluster.

[2019-10-31 16:06] displague commented on #979
An idea that @bassam and @lukeweber have floated is that the Core of Crossplane could be a Stack itself.  This would make the Stack Manager the primary tool to install and once that is installed, the Crossplane Stack as well as infrastructure Stacks would be installed using ClusterStackInstall records.

[2019-10-31 16:28] displague commented on #1010
Crossplane CLI [Tracing](https://github.com/crossplaneio/crossplane-cli/blob/master/docs/trace-command.md#text-output) provides similar UI/UX capabilities by following the `resourceRef`.

I was wondering how the tracing approach wouldn't fit or was limiting and found that this was stated in the issue description:

---
_This comment just adds some context that wasn't obvious to me on the first read

[2019-10-31 23:32] suskin opened #1011 "template stacks: project arc"
This is related to #853, and is mostly an update focusing on the arc of the deliverables. That issue has some more detail about the background and motivations.

### What problem are you facing?

We are working on making certain kinds of stacks simpler to create. This is the template stacks initiative, which is described in more detail in #853 .

Because the project is fairly expansive in scope, we

[2019-10-31 23:34] suskin commented on #915
As mentioned in #1011, I will be updating the design to incorporate some feedback.

[2019-10-31 23:45] suskin opened #1012 "template stacks: Configuration and bundling functionality, with internal user"
This is a group of deliverables described at a high level in #1011, targeting mid-December.

### What problem are you facing?

For a first set of functionality to satisfy a real (internal) use-case, we want to create something by around mid-November which does something real so that we can try it out, learn from it, and make progress toward our longer-term goal for template stacks.

### How could

[2019-11-01 05:31] jbw976 opened #1013 "New versions of a stack should update CRDs installed by previous versions of the stack"
### What problem are you facing?

Namespace Stacks (`StackInstalls`) can have multiple instances installed per Crossplane cluster.  Furthermore, they may also be at different versions from each other.  This is described in detail in the [security/isolation design doc](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md#multiple-versions).

If an exi

[2019-11-01 05:37] jbw976 opened #1014 "Are there any issues preventing installation of multiple versions of a namespace stack?"
### What problem are you facing?
In a dev environment if working with different versions of the same stack, that they can be installed/uninstalled cleanly into different workspaces in the same environment, such that for 3 workspaces (jared, marques, and phil) we can each work in our own workspaces developing different versions of the CRD for the same stack (e.g. if marques is fixing a bug in an ol

[2019-11-01 05:53] jbw976 opened #1015 "CRDs from namespace stacks should be labeled with the namespaces they can be used in"
### What problem are you facing?

CRDs themselves are always cluster scoped, even if their instances (CRs) are namespace scoped.  This makes it challenging to enforce a permissions and access model where users of a certain namespace are only allowed access to CRDs that were intended to be installed for their namespace.

Imagine namespace stack `foo` was installed into namespace `my-ns`.  Its CRD (

[2019-11-01 16:06] displague commented on #1015
I am curious about the benefits of setting these labels on the CRD if the same information is available in the Stack.

Does this merely provide an alternative to getting the information from Stack records or does CRD labeling provide a better/broader experience outside of Stack labelling and the StackManager experience as a whole?

How does this choice affect an implementation?  How do you imagine

[2019-11-01 16:17] displague commented on #1013
An interesting feature of the CRD spec is that each version details its own OpenAPI spec.  There is also a conversion option: https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/#specify-multiple-versions

I think one strategy that we can take is to always adopt the _newer_ CRD and fail a StackInstall if the CRD provided has conflicting (or

[2019-11-01 16:28] displague commented on #1013
https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/#webhook-conversion

The ability to convert resources to newer versions will require Stacks to install conversion Services.  I believe the limitations and requirements of these services would be bound to a new service account.  I do not know what requirements should be necessary.  It may b

[2019-11-01 20:07] displague opened #1017 "Package design does not explain PackageInstall "spec.crd" installs"
### What problem are you facing?

Part of #434

The Stacks design calls out an installation option where a CRD name would be provided and the appropriate Stack would be found in the registry specified by `source` using a query for `crd`.

https://github.com/crossplaneio/crossplane/blob/master/design/design-doc-stacks.md#installation-flow

[code]

There are some design complexities to consider and

[2019-11-01 20:08] displague commented on #434
The design will also need to cover the use of `spec.crd` https://github.com/crossplaneio/crossplane/issues/1017

[2019-11-01 22:39] negz commented on #1010
I believe it's a fairly uncommon pattern to literally copy the status of one resource wholesale to another in Kubernetes, though there are patterns of one resource _summarising_ the status of the resources they represent. e.g. A `Deployment` summarises the status of its `Pod` resources. It may be illustrative to look at what kind of details a `PersistentVolumeClaim` surfaces about the health and s

[2019-11-02 00:58] lukeweber commented on #1010
I was responding to dynamically creating RBAC for the single resource that a user had claimed which I don't think there's any easy RBAC for. Certainly read access to the underlying resource that any user in any namespace has claimed is trivial. I think it's one reasonable approach, and it could easily be provided if that's what we want.

Right now, I'm trying to help define what is a workspace per

[2019-11-02 14:03] hasheddan opened #1018 "v0.4.0 release tag is not on master"
### What happened?

When the v0.4.0 release was tagged, the tag was applied to a [commit](https://github.com/crossplaneio/crossplane/tree/v0.4.0) that occurred after the release-0.4 branch was cut from master. Because of this, the `build` submodule does not acknowledge the `v0.4.0` tag when it [executes a build](https://github.com/upbound/build/blob/a1d803f92e19fff3ae0d60a5e7fa6b6e56586ffb/makelib

[2019-11-04 08:01] negz commented on #703
Hi @eonpatapon. We ended up going with a slightly different (but still hopefully much simpler) direction as described in #926. In short:

* Portable resource classes are gone.
* All managed resources are now cluster scoped
* Resource claims can match a resource class annotated as default
* Resource claims can match a resource class using a label selector

The last part is a little like what you pr

[2019-11-04 08:01] #703 closed

[2019-11-04 16:19] eonpatapon commented on #703
thanks for the heads up @negz, I think the solution you proposed is a step in the right way. Good for me!

[2019-11-04 17:47] jbw976 commented on #1018
This is the lingering behavior of #330

[2019-11-04 17:48] #1018 closed

[2019-11-04 18:06] jbw976 commented on #330
Another option would be to add something like a versioned RC tag to master when we enter feature freeze and branch for an upcoming release.   For example, when we branch for the v0.5.0 release, we could add a tag to master at the branch point that looks like `v0.5.0-rc`.  This would result in subsequent master builds, that are working towards `v0.6.0` to look like `v0.5.0-rc-10.abc1234`.  This wou

[2019-11-04 18:25] #877 closed

[2019-11-04 21:32] suskin commented on #915
I've updated the design based on some feedback - see #956

[2019-11-05 03:04] jbw976 opened #1026 "Installation of stacks fails for helm upgrade"
### What happened?
(taken from #1020)

Currently helm chart installation fails when stacks deployment enabled and installed with `helm upgrade --install`

`helm install --name crossplane crossplane-alpha/crossplane --namespace crossplane-system  --version 0.4.0 --set 'clusterStacks.gcp.deploy=true'` ==> Works

`helm upgrade --install crossplane crossplane-alpha/crossplane --namespace crossplane-sy

[2019-11-05 07:22] #1026 closed

[2019-11-05 19:56] suskin commented on #1012
I'm starting on this bundle of work while the design doc updates are in review. The most ambiguous, and therefore highest priority, parts are:

* What is the interface between the controller and the templating engine?
* What is the representation of templates within the system? And, how does it go from one representation to the other?

[2019-11-05 22:08] displague opened #1028 "Stack should include a list of Claim types it consumes or creates"
### What problem are you facing?

Crossplane creates ClusterRoles (and Roles) for the dependent types needed for a Stack controller to operate.

As described in https://github.com/crossplaneio/crossplane/pull/1008, users of Crossplane may benefit from ClusterRoles that can be bound to users, groups, and serviceaccounts to offer access to use a Stack's types.

Some Stack's may require a Claim to be

[2019-11-05 22:45] displague opened #1029 "Stacks should be able to provide predefined resource classes"
### What problem are you facing?

A Stack should be able to include predefined Crossplane resource classes.  A Foo Infra Stack could bundle resource classes matching generalized configurations.

A Stack should also be able to include ONLY predefined Crossplane resource classes.  This Stack would not need a controller.

### How could Crossplane help solve your problem?

#865, #1011, and the [ROADMA

[2019-11-06 06:48] jbw976 commented on #1029
Is this essentially the same idea that has been floating around about "resource packs" or "class packs" @displague? Is there not already an issue opened on that idea?

[2019-11-06 08:00] jbw976 commented on #1026
FYI, I verified this on the `v0.4.1` release that was promoted to the alpha channel.  Both the GCP and Rook stacks were installed at their latest versions using the following command:
[code]

[2019-11-06 15:58] displague commented on #1029
https://github.com/crossplaneio/crossplane/issues/865,  https://github.com/crossplaneio/crossplane/issues/1011, and https://github.com/crossplaneio/crossplane/blob/69c24e755d513841dde400761521aa7bc04639b9/ROADMAP.md#under-consideration-for-v050 mention "resource packs" in epic style, with no further definition of what this means.

This issue would track any progress or discussion on making these p

[2019-11-06 16:07] displague commented on #1029
@jbw976 I updated the description of this issue to include 'resource pack' phrasing and references.

[2019-11-06 17:51] displague commented on #1015
Noting that #1008 overlaps these concerns and provides a namespace label in the CRD.

https://github.com/crossplaneio/crossplane/pull/1008/files#diff-8989bf194102b27431a10a02d42afd96R68

[2019-11-06 19:03] hasheddan commented on #688
I believe this is being handled by the upgrade of resources to `v1beta1`. I am going to go ahead and close it out.

[2019-11-06 19:03] #688 closed

[2019-11-06 19:06] hasheddan commented on #688
Database and cache resources handled by #863

[2019-11-06 19:17] hasheddan opened #1033 "Implement integration testing across Crossplane ecosystem"
### What problem are you facing?

Currently, all integration testing across the Crossplane ecosystem is performed in a manual ad-hoc manner that results in a significant amount of inefficient effort and uncaught errors leading up to new releases. It is desirable to run automated integration tests on a more frequent basis such that errors are caught faster and releases are delivered more smoothly.

[2019-11-07 02:31] suskin commented on #1012
I spent a bunch of time investigating how to get the core of this functionality working, and looked at invoking the configuration engine via a go library, and via a [Kubernetes Job](https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/). I ended up getting the Job approach working first, as using the go library was not as straightforward as I was hoping. I'm going to ke

[2019-11-07 05:35] jbw976 commented on #1012
My biggest concern would be around handling the output and errors of the renderer, which is now through the job.  I learned that was a clunky interface from the stack manager and its usage of jobs, it essentially gets everything from the job's stdout by reading the pod logs.  Is that what you are doing to get the output from the job that runs the renderer?

[2019-11-07 18:45] suskin commented on #1012
@jbw976 I agree; getting information back out of the job seems to be the main weak point of the job approach. But it's possible that I just don't know enough about good ways to do this in Kubernetes.

Not exactly . . . sort of. For going from rendered stuff to applied stuff, it's using a volume to pass input into a `kubectl apply -f` container. For status, it would indeed be the output of the job

[2019-11-07 20:29] displague opened #1036 "Package usage improvements through reusable Cluster, Namespace, and Package Roles"
### What problem are you facing?

Stack Isolation has been tackled before (#580) in terms of settling the environments (#958) and roles necessary to operate controllers (#663).

Crossplane Stacks do not however offer guidance, models, or tools for managing the usage of Stacks within their isolation environments.

How can users be granted the ability to install a Stack? List the Stacks they can man

[2019-11-08 14:32] hasheddan commented on #859
@negz I am wanting to enable this functionality sooner rather than later, so I have been thinking through the design and this is what I believe implementation steps would look like:

1. Update the Kubernetes `Provider` type to satisfy the [`resource.Managed`](https://github.com/crossplaneio/crossplane-runtime/blob/723f72b3eaf29893e93e74c5b36912a28248e027/pkg/resource/interfaces.go#L112) interface.

[2019-11-08 16:28] turkenh opened #1038 "Stack Manager should support configuring different Kubernetes API servers for CRs and controllers"
### What problem are you facing?
Crossplane controllers only need Kubernetes api server to operate on Custom Resources. Having a full Kubernetes cluster (with scheduling capabilities) should not be mandatory for Crossplane as long as controllers running somewhere and configured against a Kubernetes Api Server instance.

### How could Crossplane help solve your problem?
Stack Manager should support

[2019-11-08 16:34] hasheddan opened #1039 "Knowledge bank for common configuration missteps and observations"
### What problem are you facing?

While building out https://github.com/hasheddan/crosscd I have tested out deployeing quite a few combinations of resources using Crossplane. There are frequent situations where there is not a bug in Crossplane, but the cloud provider fails provisioning because some combination of configurations leads to an error. For instance, I tried to provision a `CloudSQLInsta

[2019-11-08 16:34] hasheddan commented on #1039
cc @suskin @displague

[2019-11-08 20:41] displague opened #1040 "Provider metadata should list the `ProviderConfig` API types"
### What problem are you facing?

Upon installing a Stack, such as the GCP, Azure, or AWS Stack, follow-up actions are usually required for usage.  Generally, this means configuring a Provider (defining the credentials or project settings) specific to that Stack.

### How could Crossplane help solve your problem?

The Stack should include a list of "Provider" type classes to configure after instal

[2019-11-08 21:55] #1000 closed

[2019-11-08 22:28] negz commented on #968
@soorena776 I think there's (at least) two similar but not identical scenarios here:

1. External resources that model concepts as both distinct and combined API objects. GKE is an example of this; it allows you to manage node pools either inline of the Cluster API object, or as a distinct NodePool API object.
1. Tightly coupled external resources that can only be modelled as distinct API objects.

[2019-11-11 10:16] turkenh opened #1042 "Package Manager should redeploy package controllers if they do not exist"
### What problem are you facing?
If a stack is deployed but its controller deployment no longer exists somehow, Stack Manager takes no action to bring system into working state again.

### How could Crossplane help solve your problem?
Stack Manager should redeploy stack controllers if they do not exist.

This is a needed feature to be able restore a system from a backup for scenarios where [a sepa

[2019-11-12 05:55] jbw976 opened #1044 "GCP provider doc has a hard coded project ID"
### What happened?
The instructions in https://github.com/crossplaneio/crossplane/blob/master/docs/cloud-providers/gcp/gcp-provider.md#setup-gcp-provider have a subtle and easy to miss hard coded reference to a project ID of `my-cool-gcp-project`:

[code]

I just copy and pasted the entire code block and totally missed that I was supposed to do something manual here.

Would it be possible to add a

[2019-11-12 06:49] #1044 closed

[2019-11-12 12:18] muvaf commented on #861
I think our connection string should be raw kubeconfig, which is accepted by all k8s clients I can think of, including `kubectl`, `go-client`, `controller-runtime`, `helm` etc.

This is especially important when users just want to use Crossplane for infrastructure and deploy the apps on their own, either via helm or some other tool.

[2019-11-12 12:22] vadasambar commented on #861
I am facing an issue where I am able to connect to a GKE provisioned cluster by building `rest.Config` from connection secrets but I am not able to create a kube config that I can use to install my application using `helm`. This is a big problem for us because we will have build a kube config in our code to do helm install.

[2019-11-12 16:42] thephred opened #1047 "Delete Workspace"

[2019-11-12 16:43] #1047 closed

[2019-11-12 18:57] displague opened #1048 "CRDs should be labeled with their 'scope' (environment/workspace)"
### What problem are you facing?

Part of #1036

The [Stacks Security and Security Isolation One-Pager](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md) was updated and expanded requiring new Stack behaviors.

https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md#installation-flow:

### How could Cr

[2019-11-12 19:00] displague opened #1049 "Create a reusable ClusterRole for the Stack deployments"
### What problem are you facing?

Part of #1036

The [Stacks Security and Security Isolation One-Pager](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md) was updated and expanded requiring new Stack behaviors.

https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md#cluster-stacks:

### How could Cross

[2019-11-12 19:10] displague opened #1050 "Create a reusable ClusterRole for Stack admins, editors, and viewers"
### What problem are you facing?

Part of #1036

The [Stacks Security and Security Isolation One-Pager](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md) was updated and expanded requiring new Stack behaviors.

https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md#installation-flow:

https://github.c

[2019-11-12 19:20] displague opened #1051 "Support multiple instances of the same StackInstall / Stack in different namespaces"
### What problem are you facing?

Part of #1036, Related to #1014

The [Stacks Security and Security Isolation One-Pager](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md) was updated and expanded requiring new Stack behaviors.

https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md#multiple-versions:

[2019-11-12 19:27] displague opened #1052 "Reject instances of a PackageInstall that conflict with installed PackageInstalls"
### Problem #1

Part of #1036

The [Stacks Security and Security Isolation One-Pager](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md) was updated and expanded requiring new Stack behaviors.

https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md#multiple-versions:

To avoid unexpected errors and beh

[2019-11-12 19:45] displague opened #1053 "Crossplane should install base ClusterRoles for cluster and namespace admin, edit, and view personas"
### What problem are you facing?

Part of #1036

The [Stacks Security and Security Isolation One-Pager](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md) was updated and expanded requiring new Stack behaviors.

https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md#default-clusterroles-for-aggregation

[2019-11-12 20:06] displague opened #1054 "ClusterStackInstalls should create stack+version specific clusterroles for personas"
### What problem are you facing?

Part of #1036

The [Stacks Security and Security Isolation One-Pager](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md) was updated and expanded requiring new Stack behaviors.

https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md#clusterroles-for-a-given-clusterstac

[2019-11-12 21:26] aeli0 commented on #861
@hasheddan @muvaf It will be helpful if this issue is fixed. We want to deploy apps only using `helm`. Do you think it can be prioritized for next release?

[2019-11-13 01:18] suskin commented on #1012
I was prototyping this in a private repo, but I've just made it public: https://github.com/suskin/stack-template-engine . Things are still pretty rough, but I've just gotten the job-style approach ported over to pure go inside a controller. The overall flow of information is sketched out, so I'm working on filling in the pieces. Currently I'm working on getting the configuration from the stack.yam

[2019-11-13 20:33] #863 closed

[2019-11-14 04:55] soorena776 opened #1062 "Crossplane helm chart: Crossplane installation using helm3 fails because `crd-install` hook is deprecated"
### What happened?

Installing Crossplane using helm3:

[code]

Produces the output:

[code]

However, running `kubectl get pods -A` results:

[code]

After some digging, it turned out this is because two of the CRDs (`StackInstall` and `ClusterStackInstall`) that have [`helm.sh/hook: crd-install`](https://github.com/crossplaneio/crossplane/blob/master/cluster/charts/crossplane/templates/crds/stac

[2019-11-14 06:24] soorena776 opened #1063 "Support a minimum number of `kubebuilder:printcolumn` columns for all CRs"
### What problem are you facing?

While some CRs have a verbose number of fields to be printed (by using `kubebuilder:printcolumn` comment tags) when retrieved by `kubectl` (e.g. [GKECluster](https://github.com/crossplaneio/stack-gcp/blob/master/apis/compute/v1alpha3/gkecluster_types.go#L206)), some others do not have any (e.g. [Network](https://github.com/crossplaneio/stack-gcp/blob/master/apis/c

[2019-11-14 08:12] bshetti opened #1064 "helm install is not working."
### What happened?
Using helm 3 and ran
helm install crossplane crossplane-alpha/crossplane --namespace crossplane-system

we get
NAMESPACE           NAME                                                        READY     STATUS             RESTARTS   AGE
crossplane-system   crossplane-cd67688d6-2flrh                                  1/1       Running            0          17s
crossplane-system   cr

[2019-11-14 14:53] soorena776 commented on #1064
Duplicate of #1062

[2019-11-14 15:24] displague commented on #1064
Thanks for reporting this, @bshetti.  We've encountered this problem with [Helm 3](https://github.com/helm/helm/releases/tag/v3.0.0), which was released yesterday :tada:, and this should be addressed in v0.6 unless we can get a fix in for this today/tomorrow.

[2019-11-14 16:26] turkenh commented on #1064
@bshetti  as a workaround you can manually create the missing two crds as follows before installing the chart:

[code]

It can help after `helm install` as well, but you may need to restart stack manager pod to speed up things.

[code]

[2019-11-14 17:37] bshetti commented on #1064
Thank you. Apologies for replicating. It was a late night, and I surely missed the replica. I will try in a bit today. Thanks

[2019-11-14 18:47] hasheddan commented on #904
Closed by #1025

[2019-11-14 18:47] #904 closed

[2019-11-14 19:05] muvaf opened #1065 "AWS wordpress example works only in us-west-2 without manual intervention"
### What happened?

I am following stacks guide aws https://crossplane.io/docs/v0.4/stacks-guide-aws.html

The line that deploys the network configuration points to here https://github.com/crossplaneio/crossplane/tree/master/cluster/examples/workloads/kubernetes/wordpress/aws/network-config

While all my resources are being deployed to the region that is given in my `Provider` resource, subnets.ya

[2019-11-14 19:14] soorena776 commented on #1065
@muvaf there is an issue to remove the region from `Provider` resource.
https://github.com/crossplaneio/stack-aws/issues/38

The idea is that the region should be tied to the individual resources, so I think editing the region of your choice is expected.

[2019-11-14 19:18] soorena776 opened #1066 "Support Installing Crossplane using `kubectl`"
### What problem are you facing?

Since  `kubectl` command now supports installing remote resources  by using

[code]

It is possible to deploy Crossplane in a cluster using `kubectl` entirely. This is preferred over the current `helm` approach, since it doesn't introduce a dependency to an additional tool.

### How could Crossplane help solve your problem?

Support installing Crossplane using `ku

[2019-11-14 19:22] jbw976 commented on #1066
I like this idea a lot, and I suspect we could do it with `kubectl apply -k` that uses kustomize to apply configuration patches too.  Such as debug logging.

[2019-11-14 19:24] soorena776 commented on #1066
Correct. A sample patch which covers a general case could be explained in the docs.

[2019-11-14 22:40] negz commented on #1063
It also may be possible that we could solve this with code generation - we're already able to detect managed resources and resource claims by their shape and are able to manipulate comments.

[2019-11-14 23:23] prasek opened #1068 "aws-provider.html has 404 for AWS setup.sh"
While testing with AWS today, we followed the steps outlined here https://crossplane.io/docs/v0.4/cloud-providers/aws/aws-provider.html

I was hoping to run setup.sh, however, the hyperlink for that seems broken

https://crossplane.io/docs/v0.4/cloud-providers/aws/github.com/crossplaneio/crossplane/cluster/examples/setup-aws-provider/setup.sh

![image](https://user-images.githubusercontent.com/284

[2019-11-15 01:21] #911 closed

[2019-11-15 06:20] muvaf commented on #861
@vadasambar @aeli0 This is implemented across 3 cloud providers and will be included in the next release!

[2019-11-15 06:20] #861 closed

[2019-11-15 10:03] vadasambar opened #1078 "Support configurable names for provisioned resources (e.g., cluster)"
Related: #624

### What problem are you facing?
When a cluster is provisioned through `crossplane`, it generates a random name like, `gke-0eb7ce43-xxxx-xxxx-xxxx-xxxxxxxxxxxx` for the cluster. This makes it difficult to distinguish between clusters.

### How could Crossplane help solve your problem?
 Adding labels help but being able to control the name of the cluster being provisioned would be gr

[2019-11-15 10:51] muvaf commented on #1078
External name annotation isn't used by k8s cluster resources yet. Hopefully, all resources will use it in the 0.6 release.

[2019-11-15 14:02] hasheddan commented on #1068
Fixed by #1070

[2019-11-15 14:02] #1068 closed

[2019-11-15 16:23] thephred opened #1079 "GraphQL Monitoring"
Set up either
* Sentry.io (Frontend Uses this)
* StackDriver [https://cloud.google.com/stackdriver/] (Backend uses this)
* or both?

Do we want log reporting, errors/stacks, perf?

[2019-11-15 17:43] #1079 closed

[2019-11-15 19:56] jbw976 commented on #330
The release guide has been published with prescriptive steps on how to address this.  Note that the build submodule and pipeline automation for this is not completed, and a manual step will be performed in the v0.5 release:
https://github.com/crossplaneio/crossplane/blob/master/docs/release/release-process.md#release-candidate-rc-tag

We will no longer see this behavior anymore after the v0.5 rele

[2019-11-18 10:25] muvaf commented on #895
This just happened to me and all CRDs and CRs of the my gcp stack were gone, meaning all my infrastructure 😞  As far as I understand, the discussion here did reach to conclusion that we're doing cross-namespace owner-referencing but fix didn't directly address that. So, I'll reopen this issue.

Currently, `ClusterStackInstall` is a namespaced resource and CRDs that it installs are cluster-scoped r

[2019-11-18 10:38] turkenh commented on #895
@muvaf, as stated in [this comment](https://github.com/crossplaneio/crossplane/issues/895#issuecomment-539473386), the root cause of the issue here was different and fixed, however, analysis regarding **Cross-namespace owner references** is still valid and could cause similar issues like that.
For `ClusterStackInstall` case, [this PR](https://github.com/crossplaneio/crossplane/pull/1023) could fix

[2019-11-18 10:50] muvaf opened #1082 "Unintended deletion of CRDs causes cascaded deletion of all CRs"
### What problem are you facing?

If a CRD gets a deletion request, it cascades to all CRs and deletion is completed when there is no instance anymore. https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiextensions-apiserver/pkg/controller/finalizer/crd_finalizer.go#L55

However, deleting a CRD by accident is just too easy. A bug in controllers, unexpected behavior of tiller

[2019-11-18 13:32] vadasambar commented on #861
Thank you so much @muvaf !

[2019-11-18 19:06] hasheddan opened #1083 "Change docs Quickstart to use CloudMemorystoreInstance"
### What problem are you facing?

The current [quickstart](https://crossplane.io/docs/v0.5/quick-start.html) walks through statically provisioning a `CloudSQLInstance`. However, this can fail due to the fact that GCP does not allow reuse of instance name [for a week following deletion](https://cloud.google.com/sql/docs/mysql/delete-instance).

### How could Crossplane help solve your problem?

The

[2019-11-18 19:23] hasheddan opened #1084 "Create a list of external stacks in docs"
### What problem are you facing?

It can be difficult to know how many Crossplane stacks exist and where they are located.

### How could Crossplane help solve your problem?

Now that the number of stacks that exist outside of the crossplaneio org is increasing, it would be nice to have a list of all community stacks. An end-user requested this feature at Kubecon. Right now, the stacks outside the

[2019-11-18 19:32] negz commented on #1039
I really like this idea @hasheddan. I (strongly) agree that we don't want to be in the game of trying to interpret cloud provider errors on behalf of users at the code level. On the other hand, we want to do anything we can to make it easier for our users to troubleshoot issues they encounter while using Crossplane.

One idea that immediately comes to mind is to enable and use the `crossplaneio/cr

[2019-11-18 20:15] negz commented on #1082
It does not seem like the issue here - the blast radius of CRD deletion - is something we should try to solve in Crossplane. If this is a problem for Crossplane, surely it's a problem for any project that uses Kubernetes. Perhaps this should be raised and discussed upstream (if it has not already)?

If I follow correctly the proposed solution seems little broader than the problem, in that it seems

[2019-11-18 23:18] negz commented on #741
Per https://github.com/crossplaneio/crossplane/blob/1fb67d0526b79cefb9949cbfc9c103cdd228c3fd/design/one-pager-managed-resource-api-design.md we've adopted this practice for v1beta1 managed resources. I'd consider this to be considered and recommended.

[2019-11-18 23:18] #741 closed

[2019-11-18 23:44] negz opened #1085 "Break API types into their own module"
### What problem are you facing?

This repository (and Go module) currently contains:

* The code required to build the "core" `crossplane` controller manager binary, which includes the stack manager and workload controllers.
* The API type definitions for all resource claims (e.g. `MySQLInstance`, `KubernetesCluster`, etc).

The workload controllers currently consume the `KubernetesCluster` resou

[2019-11-19 22:15] muvaf commented on #1084
`README.md` looks like a decent place to me for this information.

[2019-11-19 22:39] muvaf commented on #1085
In general, I feel like the less number of repositories we have, the better for maintenance and smooth navigation for users; browsing issues & PRs and also less syncronization overhead between modules and their versions.

I suggest that we move them to crossplane-runtime and let stacks consume only that repository. Though, in that case we define a new claim type, the user would have to update thei

[2019-11-20 10:24] tommyknows commented on #1039
Some kind of wiki / knowledge base would definitely be nice to have.

As a newbie with Crossplane, I see two things here:
- it should be "informal" enough so that everyone can add their issues, comments and experiences to the wiki.
- it needs to be advertised enough so that not only people that search for it will find it, but also normal users know about it and document their findings.

Both point

[2019-11-20 11:27] muvaf commented on #1082
The second suggestion sounded more appealing to me but I just tested it by putting an arbitrary finalizer to CRD manually and see whether the CR instance will be deleted and they did. Apparently, the cleanup logic only checks whether there is a deletion timestamp and its own specific finalizer is in place https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiextensions-apiserv

[2019-11-20 17:13] muvaf opened #1086 "unstructured.Unstructured type is not usable with typed resource templates"
### What happened?

I am working on an [application stack](https://github.com/crossplaneio/sample-stack-wordpress/pull/17) that has `Namespace`, `Deployment` and `Service` resources deployed to the remote Kubernetes cluster.

When I create one of these resources in Go, there is no good way to convert them into `*unstructured.Unstructured` type which is what `KubernetesApplicationResource.Spec.Temp

[2019-11-20 17:15] muvaf commented on #1086
I'll try using `json.RawMessage` instead of `*unstructured.Unstructured` as the type of the template and see.

[2019-11-20 21:44] negz commented on #1086
https://github.com/crossplaneio/crossplane/blob/1fb67d0526b79cefb9949cbfc9c103cdd228c3fd/pkg/controller/workload/kubernetes/resource/resource_test.go#L169

Would `scheme.Convert` help here?

[2019-11-21 03:32] #1083 closed

[2019-11-21 05:05] negz opened #1089 "Merge Package and PackageInstall"
### What problem are you facing?

Per the [Stacks design](https://github.com/crossplaneio/crossplane/blob/e658defcdd626319157697e4f1f64bec92f3f582/design/design-doc-stacks.md#installation-flow) Crossplane `Stack` kinds are created by creating a `StackInstall`. This:

* Feels imperative; typically in Kubernetes you operate on a `Foo` by operating on the `Foo` declaratively, not by submitting a `Foo

[2019-11-21 05:15] negz commented on #1089
My suggestion would however go against this pattern in which a user could create a `Stack` purely as a record or container of other things they did (i.e. installed some CRDs and controller managers).

[2019-11-21 05:33] negz opened #1090 "Tag Provider images for Crossplane compatibility"
### What problem are you facing?

We've broken Stacks out of Crossplane core, but we're maintaining a murky relationship between which versions of Crossplane core are compatible with which stacks. This makes it difficult for users to know which stack should be used with which Crossplane, and means Crossplane maintainers must search through docs replacing version strings as part of each release pro

[2019-11-21 06:43] hasheddan commented on #787
Portable classes no longer exist so this issue is no longer needed!

[2019-11-21 06:43] #787 closed

[2019-11-21 06:47] hasheddan commented on #349
This has mostly been accomplished in each of the stacks in the crossplaneio org, and we cannot ensure that all community stacks follow the same patterns.

[2019-11-21 06:47] #349 closed

[2019-11-21 06:47] hasheddan commented on #348
This has mostly been accomplished in each of the stacks in the crossplaneio org, and we cannot ensure that all community stacks follow the same patterns.

[2019-11-21 06:47] #348 closed

[2019-11-21 07:32] tommyknows commented on #285
Would be great to have serverless support in Crossplane.
I probably would have some time to contribute to this too (no guarantees yet) 🙂

[2019-11-21 07:33] tommyknows commented on #281
+1 here too, as for serverless. Would love to help where I can.

[2019-11-21 13:35] muvaf commented on #1086
Thanks @negz ! That worked. It needs the `*Scheme` object from the manager but that should be OK. Hope others take a look at Wordpress stack and see it easily.

[2019-11-21 13:35] #1086 closed

[2019-11-21 13:45] muvaf commented on #285
@tommyknows Thanks for the feedback! I am not sure about the timeline, maybe @prasek can comment.

But if you'd like to work on this, I think [developer guide](https://crossplane.io/docs/v0.5/services-developer-guide.html) is the best place to start. Then you can look at other implementations in the codebase and drive your implementation. Even if you get to have some ideas but not much knowledge f

[2019-11-21 19:42] hasheddan commented on #728
@muvaf is this now closed by your `forProvider` pattern? :)

[2019-11-22 12:09] muvaf commented on #728
@hasheddan yes! We can close this now as #840 is getting implemented across the board.

[2019-11-22 12:09] #728 closed

[2019-11-22 15:29] muvaf commented on #621
@negz do you think we can close this issue since we are applying https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-managed-resource-api-design.md across the board now?

[2019-11-22 15:41] soorena776 opened #1093 "Import existing external resources, as managed resources"
### What problem are you facing?

In some scenarios, it's desirable to control existing external resources with Crossplane. For instance, one might want to control an existing `gke-cluster` with Crossplane, without having to create one. This would allow the user to take advantage of Crossplane features like continuous reconciliation and resource abstraction.

### How could Crossplane help solve yo

[2019-11-22 16:07] hasheddan commented on #1093
@soorena776 I believe we are handling tracking of this functionality in https://github.com/crossplaneio/crossplane-runtime/issues/22, mind if I close this in favor of the existing issue?

[2019-11-22 16:08] soorena776 commented on #1090
I have been thinking about this as well. My suggestion would be to make Core installation automatic, once a user wants to install a stack:
- Bob submits a command to install stack-gcp@v0.2
- stack-gcp@v0.2 has an internal manifest that requires Core@v0.4
- if
    - Core is already installed
        - if Core version == v0.4, then good to go
        - otherwise print incompatibility error
    - Cor

[2019-11-22 16:15] soorena776 commented on #1093
Thanks @hasheddan! I didn't find a related issue over here but didn't search it there. I am fine if you want to close this one, but I would also suggest we keep user-facing issues and features in Crossplane itself for visibility.

[2019-11-22 16:22] muvaf commented on #727
It seems that the KEP for this has been merged https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190603-immutable-fields.md

@negz AFAIU, the solution proposed in KEP doesn't exactly work for us. It allows the value to be set only in creation time. But since we populate some of the immutable fields with the first received object from provider(late-initialization), wha

[2019-11-22 19:40] negz commented on #727
Hrm, I think I saw a KEP reviewer mention that feature would be desirable too on one of the PRs. I wonder if anything came of that - perhaps there's a tracking issue?

[2019-11-22 20:16] negz commented on #621
I do! Thanks for scrubbing these old bugs @muvaf and @hasheddan.

[2019-11-22 20:16] #621 closed

[2019-11-22 20:21] negz commented on #1090
Is this possible? My understanding is that we install stacks using a `StackInstall`, which requires the stack-manager (part of core) to be installed already.

[2019-11-22 22:59] hasheddan commented on #1093
Will defer to @negz on this one

[2019-11-23 00:48] soorena776 commented on #1093
To be clear, I'm suggesting porting crossplaneio/crossplane-runtime#22 to crossplaneio/crossplane.

[2019-11-23 01:22] soorena776 commented on #1090
You are right, just realized that it is not possible with the current `StackInstall` approach.

Beside Core version dependency, the other reason that this issue struck a chord with me was that as I have installed `stack-gcp` in a fresh cluster for several times, I had wondered why it is necessary for the user to manually install Crossplane beforehand, whereas the Crossplane dependency is implied a

[2019-11-23 02:27] #1084 closed

[2019-11-23 08:48] negz commented on #1093
I moved https://github.com/crossplaneio/crossplane-runtime/issues/22 from this repo to crossplane-runtime because I feel it's best to track the issues in the repo closest to the code they relate to, and in this case that's crossplane-runtime.

I think this issue covers a slightly larger scope though - https://github.com/crossplaneio/crossplane-runtime/issues/22 covers supporting this from a contro

[2019-11-25 06:04] negz commented on #968
The design changed a little as I wrote up a design for this, resulting in https://github.com/crossplaneio/crossplane/pull/1094.

[2019-11-25 06:44] vadasambar commented on #152
Any updates on this?

[2019-11-25 18:13] negz opened #1095 "One pager for Easy Stack controller architecture"
TODO: Flesh this out.

We'd like to enable Crossplane infrastructure operators to install a stack that contained some best practice/sane default resource classes. So there would be an "easy AWS stack" you can use with AWS, etc. This issue tracks the _how_ the easy stacks would be installed.

Related Designs:
 * [UI one pager](/crossplaneio/crossplane/blob/master/design/one-pager-stack-ui-metadata.

[2019-11-25 18:27] negz opened #1096 "Design for Easy Stack resources"
Easy stacks will install various resource classes and managed resources when an instance of their CRD is created, e.g. installing an "EasyGCP" stack might install a GKECluster resource class and the static network managed resources.

We need to figure out what exactly will be created by each cloud's stack, how the EasyFoo CR will allow the user to configure those things, etc.

[2019-11-25 18:30] suskin commented on #1012
Now that #915 has been updated, the next step will be to do some more prototyping here, with the goal of figuring out what the changes to the stack manager logic will look like, so that we can get that into a design doc. Also, the previous template stacks design document and prototyping branches that Marques worked on will be a useful reference too, since that gets into details on the stack manage

[2019-11-25 18:44] negz opened #1097 "GKE to v1beta1"
TODO(negz): Flesh this out.

[2019-11-25 19:28] displague commented on #725
This should be closed. `rbac.yaml` is no longer consumed and is now auto-generated.

If there is a similar problem with the existence/contents of install.yaml, lets open a new issue for that.

[2019-11-25 19:28] #725 closed

[2019-11-25 19:48] displague commented on #1085
It would be useful to have these types in a Stack so that we can bundle the appropriate metadata for the Core types.

https://github.com/crossplaneio/crossplane/issues/751#issuecomment-543285321

[2019-11-25 21:21] negz commented on #152
@vadasambar We're going to start adding support for GKE node pools over the next fortnight. @hasheddan owns that work, which is tracked into https://github.com/crossplaneio/stack-gcp/issues/108.

Note that we're starting with supporting node pools at the _managed resource_ level, so it might not be possible to _claim_ a GKE cluster with node pools at first.

[2019-11-26 09:47] soorena776 opened #1098 "Provider resource: support credentials as environment variables, or instance's metadata"
### What problem are you facing?

Crossplane uses the `Provider` resource (e.g. [GCP provider](https://github.com/crossplaneio/stack-gcp/blob/master/apis/v1alpha3/types.go#L44)) to configure the corresponding cloud provider's credentials, as well as potentially other related information. The credentials are stored in a K8S secret, and used when accessing the cloud API.

In some cases it's desirabl

[2019-11-26 12:22] vadasambar commented on #152
Thank you so much @negz and @hasheddan !

1. When you say nodepools would be available as managed resources, does this mean we will have a resource similar to `GKEClusterClass` for nodepools?
2. If yes, does this mean, we will have some kind of reference to that resource in the `KubernetesCluster` resource?
3. Would I be able to provision a nodepool for my gke cluster through some kind of claim re

[2019-11-26 16:53] displague opened #1099 "ClusterStackInstalls should create stack+version specific clusterroles including CRD types"
### What problem are you facing?

Part of #1036

The [Stacks Security and Security Isolation One-Pager](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md) was updated and expanded requiring new Stack behaviors.

https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md#default-clusterroles-for-aggregation

[2019-11-26 18:53] suskin commented on #1096
There is slightly more to this as well: there is also the UI experience to consider.

Anyway, here are some random thoughts and links.

### Existing thinking

Here is an example of what we imagine [the experience for using a wordpress stack looking like](https://github.com/suskin/template-stack-experience/tree/master/wordpress-workload/quick-start) when we have template stacks, including installin

[2019-11-26 21:31] negz commented on #152
Exactly - maybe `GKENodePool`.

That's our goal - we're working on this in parallel with the v1beta1 GKE work. https://github.com/crossplaneio/crossplane/pull/1094 discusses the need for one claim to bind multiple managed resources, and suggests a way this might work. We'd love your feedback on the design.

[2019-11-26 23:41] negz commented on #1098
Just to clarify, the pod we're talking about in this context is the pod that is running the Crossplane controller-manager in question, right. e.g. The stack-gcp deployment pod(s)?

[2019-11-26 23:51] negz commented on #1093
@muvaf and I were chatting about this yesterday, and realised that it should actually be possible at the moment for v1beta1 managed resources. I believe to import a managed resource into Crossplane:

1. Craft a YAML managed resource representation of the existing external resource. If you don't want Crossplane to modify the existing external resource you must ensure `.spec.forProvider` matches the

[2019-11-27 00:12] soorena776 commented on #1098
@negz You are correct, the pod in question is the pod that controls the Provider CRD (e.g. `provider.gcp.crossplane.io/v1alpha3`)

Thanks for clarification, I was pointing at the wrong provider (fixed it).

[2019-11-27 00:28] soorena776 commented on #1098
The pattern that I have seen in AWS and GCP, is to have a _credential chain_, where a few mechanisms are tried one after another to retrieve the credentials. For instance, in AWS most client libraries first inspect AWS environment variables, then the profile config setting under `~/.aws`, and then try the instance metadata api (assuming that it's an EC2 instance.)

I would envision we adopt a simi

[2019-11-27 07:07] turkenh opened #1100 "Drop Helm 2 support"
### What problem are you facing?

Helm 3 GA recently released and has major improvements against Helm 2. However, it has breaking changes and as we try to keep supporting both, we will need to apply not-so-nice [workarounds](https://github.com/crossplaneio/crossplane/pull/1077).
### How could Crossplane help solve your problem?

Drop Helm 2 support and set minimum Helm version requirement as 3.0.0

[2019-11-27 11:29] muvaf commented on #1100
My two cents, I don't really see a quick shift from helm2 to helm3 in the industry because of such major changes that are introduced. So, I believe it's better to keep the support for a good amount of time unless something really blocks us from doing so.

If we're not happy the way we generate the chart, maybe we can generate 2 different helm charts; one for helm2 and one for helm3 with a cleaner

[2019-11-27 11:44] muvaf commented on #1093
I'd love that experience. Though I am not sure how much logic would have to be introduced into the CLI tool, especially authorization to provider and conversion from SDK object into our managed resource object mechanisms. The more we could delegate that work to corresponding stack, the better. But at the same time, there could be some code-sharing from stack's repo, so, it may not be a big deal af

[2019-11-27 18:57] hasheddan opened #1104 "Formalize design acceptance process"
### What problem are you facing?

As the Crossplane community grows, it is important to ensure that contributors have an opportunity to participate in design discussions. Currently, enhancements and complex architecture decisions are reflected in one-pagers and design documents. The process for accepting these proposals is not currently well-defined, and may vary based on the impact and complexity

[2019-11-28 01:13] displague commented on #981
Making ClusterStackInstalls cluster scoped will affect the ownerRef boundaries:

Resource | Scope | Ownership by ClusterStackInstall
---|---|---
CRD | Cluster | Good
Stack | Namespaced | Bad

[2019-11-28 01:13] negz commented on #1104
https://github.com/crossplaneio/crossplane/tree/09bc8/design#crossplane-design-documents

We have the beginnings of some guidance here, but I agree that more is needed.

[2019-11-28 01:22] negz commented on #1093
I agree the complexity of reading an existing resource and forming a managed resource would fit better with each stack rather than in a CLI. It might be nice to keep the import logic separate from the normal reconcile logic; perhaps in a webhook or separate controller?

[code]

Perhaps the above CLI just creates something like this:

[code]

A little imperative, but it does create a nice record of

[2019-11-28 01:26] negz commented on #602
https://github.com/crossplaneio/crossplane/blob/09bc8/design/one-pager-managed-resource-api-design.md

We aligned on this per the above design. I believe all extant spec fields are documented, and all v1beta1 spec (forProvider) fields are high-fidelity.

[2019-11-28 01:26] #602 closed

[2019-11-28 01:27] negz commented on #497
Crosslinking to https://github.com/crossplaneio/crossplane/pull/1101.

[2019-11-28 01:48] negz opened #1105 "Allow a claim to be satisfied by multiple resources"
### What problem are you facing?

One managed resource is frequently not useful enough to truly satisfy a resource claim.

Crossplane uses a class and claim model to provision and manage resources in an external system, such as a cloud provider. _External resources_ in the provider's API are modelled as _managed resources_ in the Kubernetes API server. Managed resources are considered the domain o

[2019-11-28 01:52] negz commented on #1105
Some ideas we've had around this:

1. Side-effect resource classes, as described in https://github.com/crossplaneio/crossplane/issues/968.
1. Aggregate resources, as described in https://github.com/crossplaneio/crossplane/pull/1094.
1. Cross-claim references, as described in the Alternatives Considered section of https://github.com/crossplaneio/crossplane/pull/1094.
1. Complex managed resources, a

[2019-11-28 01:53] negz commented on #968
It seems unlikely we'll go with the specific direction proposed by this issue, but the overall problem remains. I've raised https://github.com/crossplaneio/crossplane/issues/1105 which focuses on the _problem we want to solve_, and discusses several of the solutions we've discussed without necessarily recommending one.

[2019-11-28 01:53] #968 closed

[2019-11-28 02:20] negz commented on #1105
@bassam has suggested this approach in a few recent discussions. It's not yet fully formed, but I want to capture the gist of it here for transparency. My understanding of the approach is:

* Assume high-fidelity managed resource as described in this issue are Crossplane's "[primitive kinds](https://en.wikipedia.org/wiki/Primitive_data_type)" when it comes to infrastructure.
* Infrastructure stack

[2019-11-28 03:06] jbw976 commented on #1100
That's what I've been leaning towards myself too, I wouldn't want to completely drop support for Helm 2 just yet and I don't want to hold off much longer on supporting Helm 3.  2 parallel charts, that hopefully can reuse resources between the 2 of them so we don't have much duplication, sounds like a viable way forward to me.

[2019-11-28 03:22] negz opened #1106 "Allow infrastructure operators to define claim kinds"
### What problem are you facing?

In short, Crossplane's built in set of portable resource claims attempt to be applicable to all possible cloud providers, and this greatly reduces their potential to express configuration options.

Crossplane defines a handful of _resource claim_ kinds whose CRDs are installed by Helm along with the "core" Crossplane controllers. Infrastructure stacks define _mana

[2019-11-28 03:26] negz commented on #1106
It's worth noting that this pattern is _possible_ today, but requires writing Go code. e.g.:

1. Create a new stack for your bespoke resource claim.
1. Define the API type for your claim.
1. Define a configurator function for each managed resource kind your claim may dynamically provision.
1. Instantiate claim binding, scheduling, and defaulting controllers for each managed resource kind your clai

[2019-11-28 03:44] negz opened #1107 "Surface claim to resource compatibility in Crossplane's API"
### What problem are you facing?

Crossplane supports a set of resource claims that may be satisfied by binding to a managed resource. Resource claims may also trigger the dynamic provisioning of a managed resource, which is configured using the resource claim and a resource class as inputs. There is a many-to-many compatibility relationship between resource claims and managed resources, e.g.:

|

[2019-11-28 03:47] negz commented on #1107
@bassam has floated the idea of reframing the claim/class pattern as a "resource catalog entry" - something like a resource class that declares which claim it can satisfy, for example:

[code]

[2019-11-28 07:34] muvaf opened #1108 "Use kubeconfig key in connection secrets to connect to clusters"
### What problem are you facing?

With #861 , we have introduced a `kubeconfig` key into all connection secrets of Kubernetes clusters that Crossplane provisions. As of writing, it's purely a UX enhancement for users. However, as stated in that issue, what it actually aims to do is to streamline how we connect to Kubernetes clusters. Current cluster connection logics present in the codebase* takes

[2019-11-28 07:39] muvaf commented on #1093
I like that idea. The CLI could just create `CloudSQLInstanceImport` and watch its status and when it's ready just print a `kubectl get` command for user to see it.

[2019-11-28 13:11] muvaf commented on #1096
I'd personally prefer a separation between resource classes and managed resources in the context of easy stacks. The reasoning is that managed resources may or may not refer to each other but the resource classes definitely refer to managed resources and in the context of _easy stacks_ resource classes are the top level resources that we expose to the user. It's a good peace of mind for someone wh

[2019-11-28 18:03] displague commented on #1100
One approach could be to create a separate repository to track our Helm2 charts.

https://github.com/mattermost/mattermost-helm is an example of this.

[2019-12-03 01:14] suskin commented on #1011
I have updated the timelines for this based on how things have been progressing. For now, I've moved the timelines back a month, but we may also want to consider rescoping some of the deliverables.

[2019-12-03 16:17] hasheddan commented on #933
Is this closed by https://github.com/crossplaneio/crossplane/pull/840? @muvaf @negz

[2019-12-03 17:19] muvaf commented on #933
No, not really. This is more like what controller and CRD needs to have in order to be considered `v1beta1`, which is a super-set of what #840 talks about.

[2019-12-03 17:29] displague commented on #1053
In #1053 I am implementing this through an additional Helm chart template.

I don't believe it is necessary to "manage" the clusterroles, including `crossplane-admin`, through the `stack-manager`.  These ClusterRoles do not change.  They inherit rules through clusterrole aggregation.

I think it is sufficient to install these clusterroles with crossplane (or opt to exclude them).  The stack-manage

[2019-12-04 04:10] negz commented on #1108
I don't have time to dig through our old issues right now, but I keep meaning to drop a note that I feel like we actually used to do this (use a fully formed kubeconfig as a secret key) but moved away from it for reasons that I do not recall. I suspect there's an old issue or PR that captures that decision.

[2019-12-04 05:24] hasheddan commented on #1108
@negz is https://github.com/crossplaneio/crossplane/issues/273 the issue you are referencing?

[2019-12-04 14:15] displague opened #1111 "Create crossplane:master group on install with crossplane-admin binding"
### What problem are you facing?

Part of #1036

The [Stacks Security and Security Isolation One-Pager](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md) was updated and expanded requiring new Stack behaviors.

https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md#default-crossplane-clusterroles

###

[2019-12-04 16:48] displague commented on #1053
Extending this issue to cover the default namespace clusterroles:

https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md#default-clusterroles-for-aggregation

[2019-12-04 20:42] negz commented on #1108
@hasheddan That's it! I think that was actually the first Crossplane issue I ever worked on. It seems unfortunately though that it doesn't capture _why_ we wanted to move away from using a fully formed kubeconfig file. @jbw976 do you remember?

[2019-12-04 20:47] jbw976 commented on #1108
Honestly, I think it was consistency with the other cloud provider's managed k8s services, which was probably influenced by the desire for portability.  I'm sure the thinking was if we surface the connection information consistently for all cloud providers then it will be easier to make applications more portable.

I bet that was the thinking as opposed to any fundamental reason not to use a fully

[2019-12-05 06:16] #895 closed

[2019-12-05 12:47] muvaf commented on #1108
It's interesting both issues aim for consistency 🤔

I think using raw kubeconfig is like common denominator of all kubeconfigs. Some services use tokens, some use username/password. There is also the case where in one kubeconfig you have several clusters but you should go with the selected context, this doesn't happen to us right now since all kubeconfig we had to deal has been fresh directly from

[2019-12-05 16:38] displague opened #1113 "StackManager should create namespace specific clusterroles"
### What problem are you facing?

Part of #1036

The [Stacks Security and Security Isolation One-Pager](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md) was updated and expanded requiring new Stack behaviors.

https://github.com/crossplaneio/crossplane/blob/5b48149d758ceeb73c0b5f2e1d83d0af6e7a1776/design/one-pager-stacks-security-isolation.md#cl

[2019-12-06 17:48] displague commented on #1010
@thephred was feeling the same need for `StackInstall` to reveal the status of the `Stack` (or more precisely, the Stack's install `Job`).

He points out that `Deployment` resources have  a [`spec.progressDeadlineSeconds`](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#progress-deadline-seconds) which will set the processing to failed when the conditions are met.  In the cas

[2019-12-06 18:26] displague opened #1116 "PackageInstall should expose Job backoffLimit and activeDeadlineSeconds options"
### What problem are you facing?
A StackInstall can enter a state where it will never succeed because the pod image is invalid or the pod can't be created for other reasons.  In this case the Job should fail which should cause the StackInstall to fail.

The current behavior leads to a StackInstall resources that remains in a `Ready: false`, `Synced: True` status that will never be overcome.

### H

[2019-12-06 18:26] displague commented on #1116
/cc @thephred

[2019-12-06 19:08] displague commented on #1042
StackInstalls whose `Job` are deleted while `Ready` is `False`, fall into a `Synced` `False` state.

Should `StackInstall` records also recreate their `Job` resource? (relates somewhat to https://github.com/crossplaneio/crossplane/issues/1116)

[2019-12-09 19:40] #915 closed

[2019-12-09 20:05] suskin commented on #891
Closing as this is outdated. The closest equivalent now is #1012 .

[2019-12-09 20:05] #891 closed

[2019-12-09 20:09] suskin commented on #1012
The prototyping continues to make progress. Currently, I have a controller which handles the "render" phase, which is when a behavior is executed in response to an object being created. I haven't started work on the "setup" phase, which is what the controller does when a stack is first installed, as it registers listeners for the CRDs that stack wants to listen for.

The next thing I'm going to be

[2019-12-09 20:11] rathpc opened #1119 "Proposing update to icons array return types"
### What problem are you facing?
Currently as part of a `Stack` CRD, an icons array is returned like the following:

[code]
It seems that there isn't much reason to keep the two properties separate since the same data
is being returned in an annotation within a CRD like so:

[code]

Unless there is a strong justification to have icons represented two different ways it seems
better to be more consi

[2019-12-09 20:52] rathpc opened #1120 "Proposing update to SVG file type processing"
### What problem are you facing?
Currently SVG images/icons are processed the same way as other(binary) images types and
converted into a base64 string.

There is nothing specifically wrong with this, but in almost every case a base64 version of an
SVG image will always result in a large file size. This does not seem very efficient and
fortunately due to the way a frontend can handle URIs along wi

[2019-12-09 20:59] thephred commented on #1119
I think regardless if we move from an array to a single icon, I like unifying on a single representation of uri which has the added benefit of allowing a url to a image hosted somewhere instead of including the base64 data (more flexible). I agree though that probably having multiple icons hasn't been justified clearly.

[2019-12-09 23:09] suskin commented on #1119
I'm going to ask some dumb questions since I don't have all of the historical context.

* What was the original reason we had an array, instead of a single object?
* What was the original reason we had two representations instead of one? What is/are the source(s) of truth?
* What creates the annotation that was mentioned?
* What are the other possible types of values for the proposed `icon` key?

[2019-12-09 23:16] suskin commented on #1120
@rathpc is this something that would need to be changed on the parsing side, or just on the generating side? In general I support improving the representation of data.

To make it a little clearer what the gain would be, could you give us sample numbers for "a very large file" and the reduced size? Or some samples of a typical size reduction percentage? This will help with prioritizing. From skimm

[2019-12-09 23:27] rathpc commented on #1119
No problem at all @suskin !

The original intention was to be able to have a key that was capable of returning images for multiple uses. For example a banner, ad, icon etc. However a key of icons doesn't really feel appropriate for that when you would expect only icons. That is why I think we can rename this one to icon to return a single source of truth for that and retain the existing usage with

[2019-12-09 23:40] rathpc commented on #1120
@suskin this would be a change purely for the generating side. The resulting string will be consumed exactly the same way as a binary image that was converted to base64.

this is an example provided from the tool I mentioned that we port using an svg that engineer was testing with.

| Compression | Base64    | `mini-svg-data-uri` |
|-------------|----------:|-----------------:|
| None        | 96.

[2019-12-10 18:43] displague opened #1121 "Stack Manager should not set Stack as owner on ClusterRoles and ClusterRoleBindings"
### What problem are you facing?

`Stacks` are currently referenced in the Kubernetes `OwnerReferences` list for ClusterRoles and ClusterRoleBindings created by the Stack Manager.  Because `Stacks` are namespaced and the other resources are cluster scoped, garbage collection will reap these ClusterRole/ClusterRoleBinding resources.

While ClusterRoles with an OwnerReference pointing to a Stack do

[2019-12-11 08:13] turkenh commented on #1042
AFAIK, there is no reason to keep/depend on that `Job` once the corresponding `Stack` instance created (a.k.a. stack installed). If this is correct, I don't think that think we need to recreate it.

[2019-12-11 12:17] jbw976 commented on #1042
agreed, i would treat jobs as ephemeral and only for the purpose of initially unpacking the stack during installation.  it would actually be nice if we deleted the jobs once they were completed, I've always been annoyed that they hang around until the entire stack is uninstalled.

[2019-12-11 12:28] #943 closed

[2019-12-12 00:32] negz commented on #1108
Exposing a kubeconfig file seems reasonable to me, though to be safe I think to be safe we should keep publishing any existing keys we publish in addition to kubeconfig.

[2019-12-12 23:51] prasek commented on #1096
@muvaf @negz: I was talking with @infinitecompute today about the [GitLab 12.5 + Crossplane integration](https://docs.gitlab.com/ee/user/clusters/crossplane.html) where Crossplane adds managed PostgreSQL provisioning via standard GitLab pipelines and the [GitLab auto deploy app helm chart](https://gitlab.com/gitlab-org/charts/auto-deploy-app) using `postgresql.managed` and the `postgresql.managedC

[2019-12-13 04:00] prasek opened #1122 "EasyGCP stack published to registry"
### What problem are you facing?
Need to configure all GCP environment resources required to deploy application stacks like [sample-stack-wordpress](https://github.com/crossplaneio/sample-stack-wordpress) including: provider, secret, cluster class, network, subnets, managed service access, resource classes, etc.

### How could Crossplane help solve your problem?
 - Provide an EasyGCP kind that wil

[2019-12-13 05:40] lukeweber opened #1123 "Add DNS, SSL, and Ingress support"
### What problem are you facing?

Integration of dns, ssl, and ingress in crossplane. I've added these as one ticket as they are often related.

If I configure the dns, I can provision certs with a major provider, and by extension I can associate those certs with a load balancer.

Although this can be supported somewhat with self-service by applying externaldns, and cert-manager to a kubernetes ta

[2019-12-13 12:20] displague opened #1124 "Stack Manager should watch namespaces for persona enabling label"
### What problem are you facing?

Part of #1036

The [Stacks Security and Security Isolation One-Pager](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md) was updated and expanded requiring new Stack behaviors.

https://github.com/crossplaneio/crossplane/blob/5b48149d758ceeb73c0b5f2e1d83d0af6e7a1776/design/one-pager-stacks-security-isolation.md#cl

[2019-12-13 17:40] displague commented on #836
The topic of group specific icons has come up.  If we create a stack with a group directory structure, we will want to include a group icon so that we can further explore this relationship.

IIRC, the current design does not identify group icons within the CRD for a resource.  The icons are included, but there is no indicator that an icon is associated at the group level.  I believe the order of t

[2019-12-13 21:49] muvaf commented on #1096
I don't think I understood this. Do you mean that you need an option in the easy stack that will deploy only database resource class and not others?

Sure, we can do that.

[2019-12-14 00:24] #1095 closed

[2019-12-15 00:13] soorena776 opened #1125 "KubernetesApplicationResourceSpec type should support TemplateURL"
### What problem are you facing?

In scenarios where a `KubernetesApplication` is installing several objects (e.g. CRDs, configmaps, secrets, etc.), specifying these resources in `KubernetesApplicationResourceSpec.Template` could become too lengthy, and erroneous.

### How could Crossplane help solve your problem?

One possible way to alleviate this issue would be to add an additional field to `Ku

[2019-12-16 23:49] prasek commented on #1096
@muvaf yes, only the resources classes for db, cache, buckets, etc. it's unclear when we'll need this though, so let's handle this scenario separately from this design. Thanks.

[2019-12-17 17:47] muvaf opened #1126 "Stack image URI should not be included in the stack image"
### What problem are you facing?

The file `config/stack/install.yaml` has the following default content that describes how the controller pod would run:
[code]

As far as I understand, this is included in the stack image. So, wherever I push the image, I have to make sure the image will be pulled from the image URI here in this `install.yaml`. In my opinion, this limits portability of the stack.

[2019-12-17 17:51] muvaf commented on #505
This is blocking Upbound registry to be used. Is there a timeline on when we could get that feature implemented? @jbw976

[2019-12-17 18:00] muvaf commented on #1122
Publishing works but Upbound registry doesn't support anonymous registry yet and `*StackInstall` objects do not support private registries. So, this is effectively blocked by https://github.com/crossplaneio/crossplane/issues/505

[2019-12-17 19:20] suskin opened #1127 "API Reference: Links to spec headers don't work"
### What happened?

In the API Reference, I was looking at the [section for stacks](https://crossplane.io/docs/master/api/crossplaneio/crossplane/stacks-crossplane-io-v1alpha1.html). I clicked on one of the links to a Spec object, but it didn't do anything. It appears that the links in the API Reference use `#CamelCase` for the headers, but the document is using `#lowercase` instead, so the existi

[2019-12-17 19:21] suskin commented on #1127
Assigning to @negz for triage so that it isn't unassigned.

[2019-12-17 20:01] #1122 closed

[2019-12-18 06:13] vadasambar opened #1128 "Is there a way to provide more permissions to stack RBAC?"
It seems that we are adding RBAC for a stack based on the controller CRD

https://github.com/crossplaneio/crossplane/blob/c6d01ceea778b76d212b12961f4d5368f1187d4a/pkg/stacks/unpack.go#L337

### What problem are you facing?
If a controller inside a stack depends on say `Deployment` or creating a another custom resource in the same/source/Crossplane cluster which is not a part of my stack, the contr

[2019-12-18 17:31] suskin commented on #1128
Hi @vadasambar ! Thanks for the question! We do have some thoughts about this. Have you seen the way permissions are generated from the [dependsOn field for a stack](https://github.com/crossplaneio/crossplane/blob/c6d01ceea778b76d212b12961f4d5368f1187d4a/pkg/stacks/unpack.go#L369) yet? That is the current mechanism for requesting that RBAC permissions be set for a stack for specific Kinds. [Here's

[2019-12-19 05:33] vadasambar commented on #1128
Aha! I wonder how I missed that! Thank you so much @suskin !

[2019-12-19 05:33] #1128 closed

[2019-12-19 13:02] muvaf commented on #1126
@jbw976 @suskin @displague what do you think?

[2019-12-19 14:44] displague commented on #1128
@vadasambar you may also want to take a look at and perhaps offer feedback on #758 and #899.

[2019-12-19 15:50] displague commented on #1126
The deployment image and the stack image are not necessarily the same.

A StackInstall (per the design, not the implementation yet) can also request stacks to be installed based on the CRDs they provide, not necessarily their stack-image-name + version.

I think it is worth considering this request when we revisit the stack spec to accommodate versioning, dependency resolution, and stacks that are

[2019-12-19 18:38] muvaf commented on #1126
I am not sure I can see the concern. If `{{  }}` is present, then I think the developer do intend it to be interpreted. The difference from normal templating would be that we'd provide a few global variables that they can use such as image URI.

Keep in mind that there are cases where I would not have build capability, such as proprietary software stack. They just give you the image URI and you us

[2019-12-20 08:48] timstoop opened #1130 "Streamline highly available MySQL creation"
### What problem are you facing?
I'm working on GCE and trying to create a highly available MySQL on CloudSQL. I'm aware that CloudSQL simply doesn't make it very easy to do this, but I think that Crossplane could really shine by making this user experience a lot more automated. This was discussed on Slack: https://crossplane.slack.com/archives/CEG3T90A1/p1576754003006800

### How could Crossplane

[2019-12-21 15:23] #1049 closed

[2019-12-21 15:23] #1054 closed

[2019-12-21 15:23] #1099 closed

[2019-12-21 15:23] #1015 closed

[2019-12-21 15:23] #1048 closed

[2019-12-21 15:23] #1053 closed

[2019-12-21 15:23] #752 closed

[2019-12-21 15:23] #1111 closed

[2019-12-21 15:23] #1113 closed

[2019-12-21 15:23] #1121 closed

[2019-12-21 15:29] #1050 closed

[2019-12-23 13:48] muvaf opened #1134 "KubernetesApplication does not get update when KubernetesApplicationResources change"
### What problem are you facing?

I have an app stack which uses `KubernetesApplication`. I get the endpoint of my application through `KubernetesApplication -> KubernetesApplicationResource.remote.Service` resource in my controller. However, since `KubernetesApplication` doesn't get any update when the `KubernetesApplicationResource`s it deployed changes, I have to rely on periodic checks instead

[2019-12-25 16:18] muvaf commented on #1096
Fixed by https://github.com/crossplaneio/crossplane/pull/1103 and https://github.com/crossplaneio/crossplane/pull/1110

[2019-12-25 16:18] #1096 closed

[2019-12-26 21:36] muvaf opened #1136 "Publish easy stacks to crossplane org"
### What problem are you facing?

Per [resource packs one-pager](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-resource-packs.md), three resource packs are implemented that allow you to create a connected set of resource classes configured for minimal node requirements that you can use with your claims.  For faster prototyping, I worked on them under my account.

### How

[2019-12-27 15:15] muvaf opened #1140 "Guide for migrating from Terraform to Crossplane Infrastructre Stacks"
### What problem are you facing?

Crossplane is able to provision infrastructure through infra-stacks and schedule applications through app-stacks (or directly via workload scheduler).

The users who decide to go with Crossplane have a number of different setups and AFAIK the combination of Terraform and Helm is one of the most popular ones. For Helm, we have the template stacks work going on whic

[2019-12-30 05:51] vadasambar commented on #1078
External name annotation works in 0.6 release. :smile:
Closing this issue.

[2019-12-30 05:51] #1078 closed

[2019-12-30 15:14] muvaf opened #1143 "Document connection secrets"
### What problem are you facing?

There is documentation on every field of the CRDs and this is really awesome. However, in many cases resources create a connection secret that includes the credential to use the resource such as root user credentials for `MySQLInstance` resources. But there isn't really a documentation that tells you what the keys of those secrets are or what each of them means.

[2019-12-31 10:01] ctrox commented on #847
I have also noticed an issue with the uninstall, if you use helm to install for example the GCP stack like this:
`helm install --name crossplane --namespace crossplane-system crossplane-alpha/crossplane --set clusterStacks.gcp.deploy=true --set clusterStacks.gcp.version=alpha`

Then wait for everything to reconcile and then delete it again:
`helm delete --purge crossplane`

The `stack` and `cluste

[2019-12-31 12:32] muvaf commented on #847
@turkenh would new `crds` directory in helm3 help here?

[2019-12-31 13:11] turkenh commented on #847
I don't think so.
The problem is the controllers (not crds) that are expected to finalize resources are gone before they do so.

A possible solution could be using [`pre-delete` helm hook](https://helm.sh/docs/topics/charts_hooks/#the-available-hooks) with a job which deletes all `stackinstall` and `clusterstackinstall` resources (and waits until they are gone).

[2020-01-01 02:30] jbw976 commented on #1078
Thank you for following up and confirming @vadasambar! 🤓

[2020-01-02 09:14] muvaf commented on #590
Fixed by https://github.com/crossplaneio/crossplane/pull/811

[2020-01-02 09:14] #590 closed

[2020-01-02 20:59] lukeweber opened #1148 "Add support for Kubernetes 'Kind' for testing"
### What problem are you facing?

To support e2e testing scenarios, it would be great if Crossplane supported claiming and provisioning a local Kubernetes Cluster type

### How could Crossplane help solve your problem?

I would like a [Kind](https://github.com/kubernetes-sigs/kind)(Kubernetes in Docker) cluster as a supported Kubernetes Cluster in Crossplane, but I'm not sure about the feasibility

[2020-01-02 21:04] hasheddan commented on #1148
@lukeweber this could be accomplished by using a `KubernetesTarget` and a kubeconfig secret to connect to Kind. This should be supported relatively soon with #1146. Do you think this will work for your use case?

[2020-01-02 21:10] lukeweber commented on #1148
We are actively using Crossplane to provision target clusters to host our content via the class/claim pattern, so I don't believe it would. I'm looking to make a claim against a KubernetesCluster of type `Kind` for local testing.

[2020-01-02 22:28] displague commented on #1148
This thinking and capability could potentially extend to `microk8s` (https://github.com/ubuntu/microk8s/issues/825#issuecomment-559159799), which provides a less vanilla experience.

There are probably more obstacles with MicroK8s.  A reliance on Snap/Multipass (if that truly is a dependency) would make this more difficult than a `kind` provisioner.

[2020-01-03 07:15] #1108 closed

[2020-01-03 13:16] muvaf commented on #1148
We can have a stack like `stack-local` that includes types for `minikube`, `kind` and others. I think of three different ways:
* There could be an HTTP server in your local computer that managed resource controller talks to (usual cloud provider pattern) and that server could run the necessary commands in your computer, though this comes with a few caveats like you should expose its IP to your Cro

[2020-01-03 13:23] muvaf commented on #944
https://github.com/kubernetes/enhancements/pull/1367 this KEP could be helpful for this work.

[2020-01-03 22:30] prasek commented on #981
@displague is this part of slice 1 or a different slice?
https://github.com/upbound/upbound-tribe/issues/24

[2020-01-03 23:35] negz opened #1149 "One pager for improved observability"
### What problem are you facing?

It's currently difficult for Crossplane users and operators to debug issues. Most errors are reflected only as a conditioned status, meaning only the latest error is exposed. Additionally, we have little to no logging and timeseries data.

### How could Crossplane help solve your problem?

Crossplane controllers could have improved logging, emit timeseries metrics

[2020-01-03 23:50] negz commented on #1149
Whoops - looks like this was a dupe of https://github.com/crossplaneio/crossplane/pull/858.

[2020-01-03 23:50] #1149 closed

[2020-01-04 01:50] negz commented on #1127
Will probably need a fix somewhere in https://github.com/negz/crossdocs.

[2020-01-06 19:08] displague opened #1150 "Restrict stacks to a single install per cluster/namespace"
### What problem are you facing?

Part of #1036, Counterpart of #1014

Cluster scoped stacks (installed using ClusterStackInstall resources) provide cluster scoped CRDs and ClusterRoles, just as namespace scoped stacks do (installed using StackInstall resources).

Cluster scoped stacks have the ability to create cluster scoped resources, such as infrastructure resources (`GKECluster`, `RDSInstance

[2020-01-06 19:27] displague opened #1151 "Reduce the number of RBAC roles created when a stack is installed into multiple namespaces"
### What problem are you facing?

Part of #1036

Multiple instances of a Stack should be able to reuse Cluster Scoped resources (CRD and ClusterRoles) that were installed.  Because Stacks are named after their StackInstall their names are arbitrary within a namespace or cluster.  It is therefore not easy (or possible) to share these resources without an identifier that is unique to a particular St

[2020-01-07 16:53] muvaf opened #1152 "One-pager for pluggable webhooks"
### What problem are you facing?

In Crossplane, we need validating and mutating webhooks in several places. But the certificate handling and the structure of webhooks have made it hard to get something working and extensible quickly. A one-pager that introduces a mechanism (possibly in crossplane-runtime) for developers to add their webhooks just like adding a new controller would help a lot.

Th

[2020-01-07 16:54] muvaf commented on #1152
Assigning to myself just to not lose track of the issue. There isn't a plan to implement this yet.

[2020-01-07 18:31] lukeweber opened #1153 "Explicitly configure the "environment" namespace on crossplane install"
Following conceptual work in [security-isolation-design](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md) we have the concept of an infra owner who would work on globally scoped Crossplane CRDs/stacks that have been installed for the environment scope.

Nominally we also have crossplane-system namespace as a default to install the stack-manager

[2020-01-07 19:44] displague opened #1154 "Create a Stack for Crossplane core types and Workload controller"
### What problem are you facing?

This [crossplaneio/crossplane](https://github.com/crossplaneio/crossplane) repository currently serves a few different roles:
- provide the stack-manager controller executable (which watches Stack / StackInstall / ClusterStackInstall resources)
  - provide the executable which unpacks stack packages and outputs Kubernetes yaml
- provide the crossplane Workload con

[2020-01-07 20:36] displague commented on #1153
As far as I know, there is no concept in Crossplane or any of the Stacks. The namespace for secrets must always be provided explicitly.  In a user setting, I imagine users would fashion their own namespaces to hold these resources.  The admin user could  then create a `stacks:ns:crossplane-environment:admin` `RoleBinding` for any users deemed worthy.  Does this differ from the roles you are consid

[2020-01-07 21:30] lukeweber commented on #1153
So environment admin will be able to modify the deployment of stack-installer, and since it can read the secret to this privileged component because it will have read/write on crossplane system, I assume It could escalate itself to cluster admin by reading the pod secret and get access to everything.

By separating the privileged running of crossplane logically from the environment scoped stacks a

[2020-01-07 21:33] lukeweber commented on #1153
Maybe the minimum bar is to be able to configure which namespace the environment persona manages and gets an RBAC role binding to. In a more secure config someone would configure a distinct namespace from the one where stack-manager is installed.

[2020-01-07 23:07] displague commented on #1089
I wanted to capture some ranty noodling from [Slack](https://crossplane.slack.com/archives/CKXQK4P27/p1576597025048900) before the retention loses [it](https://crossplane.slack.com/archives/CKXQK4P27/p1576534484016600).

Nic points out in this issue's description that it is already confusing that the `StackInstall` owns some of the resources while the `Stack` owns others (ownership here is defined

[2020-01-07 23:17] prasek commented on #1153
//cc @jbw976

[2020-01-07 23:37] jbw976 commented on #1136
@muvaf I have moved all the repos over to the following new crossplaneio repos:

* https://github.com/crossplaneio/stack-gcp-minimal
* https://github.com/crossplaneio/stack-aws-minimal
* https://github.com/crossplaneio/stack-azure-minimal
* https://github.com/crossplaneio/resourcepacks

I think you'll need to follow up with some new PRs to get all the import refs updated to use the moved general r

[2020-01-08 01:13] mokapantages opened #1156 "Crossplane v0.7 Blog Post"
@prasek can we identify who will write the blog post.
Aim for a draft to share by next Tuesday?

[2020-01-08 01:16] #1156 closed

[2020-01-08 11:58] srueg opened #1157 "CRDs in Helm Chart Contain Status"
### What happened?
We use a GitOps approach to deploy Crossplane: We render the Helm chart and commit the rendered manifests to git. From there it will be applied by ArgoCD on the cluster.
Since the CRDs in the chart contain the `status` field, ArgoCD always sees changes from the version currently applied in the cluster and the version the GitOps repo (rendered Helm chart).

### How can we reprodu

[2020-01-08 14:29] displague commented on #1153
I now understand that we want to make sure that users do not use the `crossplane-system` namespace with the roles that we have provided.  Applying the edit or admin namespace persona rolebindings in this namespace will escalate privileges.

Offering a `crossplane-environment` namespace and binding is a way to sheperd users away from from `crossplane-system`.

I still think we have a choice to pres

[2020-01-08 17:09] displague commented on #1154
If this is enacted, crossplane/crossplane is left with code that only operates the Stack Manager.

This has me wondering if it becomes useful to move stack-manager to its own repository, leaving crossplane/crossplane as the home of the helm charts, e2e tests, and docs (without citing particular projects, I would offer that this is not unheard of).

[2020-01-08 17:09] hasheddan commented on #1157
@srueg thanks for opening this! This the empty `status` fields are actually a product of the generation from `controller-tools`. I noticed a comment regarding this situation [here](https://github.com/kubernetes-sigs/controller-tools/blob/0dd9d80ad4b98900d6066141dd4233354b25e3f3/pkg/crd/spec.go#L154) indicating that these fields must be explicitly be set to their zero-values due to missing `omitemp

[2020-01-08 22:41] displague commented on #1152
I am also finding that this will be necessary to offer conversion webhooks to support Stack versioning.

https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/#webhook-conversion

The stack-manager will need to manage the deployment of the webhook service and app.yaml will need ways to express this.

[2020-01-09 01:41] negz commented on #1153
I can see why it would make sense to separate `crossplane-system` (control plane infrastructure) from `crossplane-environment` (which I think would currently only contain secrets for providers and cluster scoped managed resources). I also strongly agree with @displague that we should not encode the existence of such a namespace at the Crossplane level, but rather suggest it as convention. Today th

[2020-01-09 01:44] negz commented on #1134
Two things to consider here:

* KubernetesApplication is a set of templates for the specs of KubernetesApplicationResources. It's by design that we don't back-propagate updates to those KARs once they've been instantiated.
* Handling the status of a KubernetesApplicationResource is difficult because we have no concept of what "ready" is for the resources they template (i.e. a KAR could represent a

[2020-01-09 12:03] srueg commented on #1157
Thanks for looking into it :+1:
In the meantime I found a workaround by [ignoring the status field of CRDs in ArgoCD](https://argoproj.github.io/argo-cd/user-guide/diffing/#system-level-configuration).

[2020-01-09 12:16] srueg commented on #1157
I also observed a similar issue with the `.spec.scope` field of the CRDs: The manifests in the Helm chart specify `scope: ''` (empty string) while once applied to the cluster it gets defaulted to `scope: Namespaced`.

[2020-01-09 12:21] srueg commented on #1157
For anyone coming across this. The workaround looks like this (in the `argo-cm` ConfigMap):
[code]

[2020-01-09 13:31] ctrox commented on #1130
I also ran into this and researched the topic a bit and as it turns out, there is a [new HA type for MySQL](https://github.com/GoogleCloudPlatform/gcp-service-broker/issues/528) which works similarly to what Postgres already has. I could not find anything in the documentation but the GCP console UI actually lets you create `REGIONAL` MySQL instances so I went looking in the logs what that API call

[2020-01-09 17:39] displague opened #1159 "Create an Isolation and RBAC user guide for crossplane.io/docs"
### What problem are you facing?

The design doc on Crossplane isolation and RBAC policies, https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-stacks-security-isolation.md, is too deep for users to consume quickly and find immediate benefit.  The design doc is also intended to explain and influence the code changes needed to implement the design doc, so it is not a good fit fo

[2020-01-09 17:51] displague commented on #1157
This appears to be corrected in 6e0954d992492dd2836d06e3b2d0395b60071567 which should be included in the next (0.7.0) release.

[2020-01-09 18:34] lukeweber commented on #1153
Fine with not encoding this into Crossplane per se. Raised mainly as a privilege escalation issue and the need to separate in documentation probably on a move forward. I think adding a namespace that the helm chart conditionally installs with a default of `crossplane-environment`, and a environment RoleBinding for that particular namespace and adding to documentation would suffice.

[2020-01-09 21:52] displague commented on #1090
@soorena776 @negz I think #1154 complements this concern very well.

Because Stacks already have the intention of declaring their dependencies and versions, we could push this tagging concern off to dependency resolution.  #1154 suggests that the core claim and class types should exist within their own stack.

This approach would not help if your concern is that a specific version of stack-manager

[2020-01-09 22:27] displague commented on #298
@negz can this be closed now that we are committed to using crossplane-runtime's reconciler in the stacks we manage?

[2020-01-09 22:49] displague commented on #749
As a user-experience concern, we should recommend including external resource tags or labels (whatever is supported) in Crossplane resource classes and managed resources to identify that "crossplane" was responsible for creating the resource.

If you were using other tools or shared this account, it would be hard to identify that Crossplane created these resources.

[2020-01-09 23:00] displague commented on #1152
A conversion webhook would resolve https://github.com/crossplaneio/crossplane/issues/533

[2020-01-09 23:04] displague commented on #1064
Have you had a chance to try this again @bshetti ?

[2020-01-09 23:07] displague commented on #566
How does this issue change if we have a defaulting webhook https://github.com/crossplaneio/crossplane/issues/1152?
When specifying OpenAPI defaults, does that require the webhook to enact the value?

We're using a newer controller-tools and controller-runtime version since this issue was created.

[2020-01-09 23:16] negz commented on #356
I thiiiiink this might be resolved by https://github.com/crossplaneio/crossplane-runtime/pull/70 once we port the EKS controllers to the generic managed reconciler.

[2020-01-09 23:17] negz commented on #358
This seems like a variant of what we solved with https://github.com/crossplaneio/crossplane-runtime/pull/70. It may be that porting the S3 controller to the generic managed reconciler may fix this, though I suspect it may not since the observe phase will determine that the bucket exists, and add the finalizer. 🤔

[2020-01-09 23:50] displague commented on #1126
https://github.com/crossplaneio/crossplane/issues/974 shares some concerns with this issue, specifically elevating the version of the controller image to something defined within the StackInstall.

[2020-01-09 23:55] displague commented on #1090
The CRD version is one factor of compatibility, the version of the controller is perhaps another.

The Stack dependency design will need to make sure that it continues to honor the intention of allowing dependency specification by package name and version or CRD group/version.

[2020-01-10 07:21] negz commented on #1082
Cross linking to this relevant upstream issue - https://github.com/kubernetes/kubernetes/issues/10179.

[2020-01-10 13:32] muvaf commented on #749
@displague This update to API guideline should address the labelling https://github.com/crossplaneio/crossplane/pull/1129

@suskin Is this resolved or still happens from time to time?

[2020-01-10 14:22] muvaf commented on #1126
My main concern was the use of different registries for the same stack image. But I believe allowing the full image path to be overridden should address that use-case, too. I feel like the full image path in `*StackInstall` could be used as image of the controller as well but this wouldn't work well for stacks that have multiple controller managers, meaning more than one image needs to be specifie

[2020-01-10 14:35] muvaf commented on #1134
I agree it's difficult to report readiness of arbitrary resources.

I'm actually starting to think that this may not be necessary, my problem is that the thing is not event-based, meaning KA is not updated to send me a reconcile request even though KARs got updated and KA was reconciled. So, even something like a `condition` on `KA.status` that is refreshed in each reconcile of KA would do the job

[2020-01-10 14:53] muvaf commented on #1089
I feel like I don't know so many things about stacks in detail, but just wanted to put my two cents on the issue.

In managed resources, we use a Kubernetes pattern called [late initialization](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#late-initialization), where you fill the `spec` fields that user didn't fill with the values you ex

[2020-01-10 15:00] muvaf commented on #1136
@jbw976 thank you for moving all of them! I'll test them and open fix PRs if needed.

About naming, I think `stack-gcp-minimal` implies that this stack is a minimal version of infra stack `stack-gcp` in the sense that it has less resource support, like a lite version. However, it's a completely different thing. _Minimal_ in that context means that the resource classes have the minimalistic require

[2020-01-10 17:43] displague opened #1160 "Crossplane versioning and upgrading"
### What problem are you facing?

Users wanting to adopt Crossplane need assurances that their applications and managed resources can survive changes in the Crossplane ecosystem.

As the specifications and code changes, users must be able to change versions of the Crossplane tools and resources.  Version changes can be introduced through updates (both manual and automatic), rolling back, migration

[2020-01-12 08:47] hasheddan commented on #568
crossctl is a thing!

[2020-01-12 08:47] #568 closed

[2020-01-13 12:21] muvaf opened #1164 "Crossplane cannot be installed to Kubernetes versions lower than 1.15"
### What happened?

If you try to install Crossplane to a Kubernetes 1.13 or 1.14 cluster, it will fail with the following error:
[code]

The reason is we use a field type called `x-kubernetes-int-or-string` while Kubernetes supports that type only as of 1.15, see https://github.com/kubernetes/kubernetes/pull/78815 and https://github.com/kubernetes-sigs/controller-tools/issues/279

Controller runt

[2020-01-13 13:00] muvaf commented on #1164
GKE default version(the one that is pre-selected in the creation menu) is still 1.13 and AWS EKS [latest supported Kubernetes](https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html) version is 1.14

[2020-01-13 13:21] advissor commented on #1164
@muvaf , thanks for reporting!
Indeed this is the case and for now it blocks us from trying to use Crossplane with existing envronments in GKE

[2020-01-13 16:23] hasheddan opened #1166 "Check that API Docs have been updated in Jenkins PR pipelines"
### What problem are you facing?

We have an encountered a few recent situations where API docs have not been regenerated when a new type has been added or an existing one has been updated.

### How could Crossplane help solve your problem?

We should check that generating API docs does not cause a dirty branch in our Jenkins PR pipelines when we run `check-diff`.

[2020-01-13 17:59] displague commented on #1154
Another  response to https://github.com/crossplaneio/crossplane/issues/1154#issuecomment-572165710 would be to keep the crossplane types in crossplane/crossplane and move the stack-workload and stack-manager related code out (crossplane/stacks? crossplane/stack-manager?).

A response to this issue that would take less code movement, would be to:
* reorganize core types and the workload controller

[2020-01-13 21:12] muvaf commented on #1164
Apparently, it's the `Stack` CRD having Kubernetes types such as `DeploymentSpec` causing this issue. For example the field `maxUnavailable` of `DeploymentSpec` is represented like the following in CRD:
[code]
Because its type is like the following in Kubernetes source code:
[code]

[2020-01-14 10:08] muvaf commented on #1164
@advissor It looks like it has to do with `kubectl` version. See https://github.com/kubernetes-sigs/controller-tools/issues/279#issuecomment-573903146

I've tested with GKE 1.13.11-gke.14 cluster and `kubectl` 1.17 and it works. So, updating your `kubectl` to 1.15 or above should be sufficient to get it working.

@hasheddan I remember you having the same problem with AWS EKS, could you check your

[2020-01-14 10:14] muvaf commented on #1164
Workaround for cases where you can't control your `kubectl` version is running kubectl with `--validate=false`.

I opened https://github.com/kubernetes-sigs/controller-tools/issues/392 for client-side validation issue. Closing this now since it's not valid anymore.

[2020-01-14 10:14] #1164 closed

[2020-01-14 10:20] advissor commented on #1164
@muvaf using 1.15 or 1.17 kubectl with 1.13 server is not really right approacht
Kubernetes skew policy says only 1 minor version difference
But I will give it a try anyway :) Thanks!

[2020-01-14 16:15] muvaf opened #1170 "Cannot install Crossplane to Kubernetes versions lower than 1.15 with Helm 3"
### What happened?

Helm 3 enforces validation of the resources before deploying them and that means sending them over to cluster's validation endpoint and fetching the result back. However, in Kubernetes 1.15 and above versions, `DeploymentSpec` object has a few fields typed `IntOrString` which results in the following validation which is not supported by Kubernetes before 1.15:
[code]

### How c

[2020-01-14 16:15] muvaf commented on #1164
@advissor opened the following for a more precise situation description: https://github.com/crossplaneio/crossplane/issues/1170

[2020-01-14 20:35] hasheddan commented on #1164
@muvaf not sure if still relevant but my `kubectl` version:

[code]

[2020-01-15 03:46] hasheddan commented on #1157
@srueg just a quick update here. We have merged an upstream change that should trickle down to controller-tools and make it such that Status fields are not required when applying manifests. We’ll continue to keep you posted here! https://github.com/kubernetes/kubernetes/pull/87213

[2020-01-15 05:37] negz commented on #1130
@ctrox Thanks for doing the research on this! @timstoop, are you able to use this new functionality to satisfy your HA needs?

[2020-01-15 07:29] srueg commented on #1157
Great to hear and thanks for the effort! :+1:

[2020-01-15 08:13] timstoop commented on #1130
Yes it does, this is a really nice and workable solution and way simpler than anything I suggested!

[2020-01-15 08:23] negz commented on #1130
That's great to hear! I'll close this issue, but let us know if you have any issues with the HA setup.

[2020-01-15 08:23] #1130 closed

[2020-01-15 08:26] muvaf commented on #1170
This is for ability to turn off the validation in Helm 3 install: https://github.com/helm/helm/issues/7404

And that's for ability to generate CRDs without those incompatible blocks: https://github.com/kubernetes-sigs/controller-tools/issues/392

[2020-01-15 15:30] displague commented on #899
We should also be cognisant of Stacks that purport to include CRDs that are redundant to existing API Version and Groups.  Such a Stack could claim to "own" an API, the duplicitous CRD would be rejected on creation because the API already exists, and the Stack controller would receive RBAC roles over the desired API.

In this way, we must restrict "owned" types as well as "depends on" types.

[2020-01-15 20:38] prasek opened #1171 "Add gcp-credentials.sh to stack-gcp-minimal to generate credentials & accept project-id param / env-var for clean curl | bash"
### What problem are you facing?
was talking with @jbw976 @displague and @rathpc and would like to add a targeted variant of [gcp-credentials.sh](https://github.com/crossplaneio/crossplane/blob/master/cluster/examples/gcp-credentials.sh) to [stack-gcp-minimal](https://github.com/crossplaneio/stack-gcp-minimal) that accept command-line variables or env variables for PROJECT_ID that (a) skips all th

[2020-01-15 21:13] displague commented on #1171
Sounds good - we discussed moving this script to the easy-gcp stack repository so folks looking to create a similar pattern with their stacks can follow the pattern.

We'll add additional services (if needed) to the list those for which the script gets permission.

The output will be simplified to only include the secret, sans base64 if possible.

[2020-01-16 15:54] displague commented on #1062
Noting what the current experience looks like from the master channel:

[code]

[2020-01-16 21:20] hasheddan commented on #859
Closed by:
- #1146
- https://github.com/crossplaneio/stack-gcp/pull/143
- https://github.com/crossplaneio/stack-aws/pull/105 / https://github.com/crossplaneio/stack-aws/pull/106
- https://github.com/crossplaneio/stack-azure/pull/92

[2020-01-16 21:20] #859 closed

[2020-01-17 03:27] prasek commented on #1036
@displague can we close this out now that https://github.com/crossplaneio/crossplane/pull/1059 landed?

//cc @jbw976

[2020-01-17 18:27] suskin commented on #1089
I'm adding a note to this based on a thread with @jbw976 in #1131 .

The stack manager integration in #1131 adds a new kind, `StackConfiguration`, which we'll also want to take into account when we think about consolidating the stack-related kinds.

[2020-01-17 18:47] suskin opened #1173 "template stacks experience: long-term contract, first phase"
### What problem are you facing?

We want to have the template stacks experience evolve over time while also having a solid plan for what the First Edition of it will do and look like.

This is a continuation of a discussion around [a gist](https://gist.github.com/suskin/a188b0eec7a62b96ef96054fb06f9eba); the discussion was happening on the gist and over email. I want to move it into an issue so i

[2020-01-17 22:06] suskin opened #1174 "definition of done: experimental features"
### What problem are you facing?

In #1131, we worked on creating a first version of the shared template stack controller, in an experimental state. As we reviewed and discussed the changes, we realized our [existing frameworks for determining whether a changeset is ready for merging](https://github.com/crossplaneio/crossplane/blob/master/design/one-pager-definition-of-done.md) didn't quite cover

[2020-01-17 22:17] suskin opened #1175 "template stack controller: hardening"
### What problem are you facing?

As part of creating the template stack controller, we've integrated an early version of the controller with the stack manager. However, we'd like to have the controller be more robust and hardened before we consider it ready for general consumption. Currently, a user must explicitly enable it by hand if they want to use it.

### How could Crossplane help solve you

[2020-01-17 22:25] suskin commented on #917
Closing this as it's outdated; the work's already started happening, and in a slightly different way. See #1131 for a chunk of this work.

[2020-01-17 22:25] #917 closed

[2020-01-17 22:34] suskin opened #1176 "template stacks: add integration testing"
### What problem are you facing?

As part of developing template stacks, we'll want to have automated integration testing set up. Testing should be happening as part of all of the work that we're doing, but I'm opening a separate ticket to track the initial set up because the research and initial spin-up work could take longer than the incremental improvements to the tests.

### How could Crosspla

[2020-01-17 22:36] suskin commented on #1012
This is a bit outdated, and is essentially covered by #1131 and #1173, so I'm going to close this now

[2020-01-17 22:36] #1012 closed

[2020-01-17 22:38] suskin opened #1178 "template stacks: migration from app.yaml to stack.yaml"
### What problem are you facing?

As part of the template stacks work, we want to migrate the app.yaml to a file named stack.yaml. The stack.yaml lives at the root of the stack resource folder. Or, for stacks which are just git repositories, it lives at the root of the repository.

### How could Crossplane help solve your problem?

We'll want to migrate this in a backwards-compatible way, so the p

[2020-01-18 00:55] jbw976 commented on #330
just FYI, we've been doing this manually recently with, would be *really* nice to get this automated soon:

[code]

[2020-01-20 22:20] pfischer8989 commented on #1164
Changing the client version did not help me.

Ninefingers:crossplane pfischer$ kubectl version
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.1", GitCommit:"d224476cd0730baca2b6e357d144171ed74192d6", GitTreeState:"clean", BuildDate:"2020-01-14T21:04:32Z", GoVersion:"go1.13.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"13+", GitVer

[2020-01-21 16:40] hasheddan opened #1181 "RC tags are not picked up on master until a new commit is merged"
### What happened?

Following the release of Crossplane `v0.7.0`, the `alpha` channel chart started using the `0.7.0` tag, but the `master` channel was still on `0.6.0-rc`. This is likely because we run explicit promotion pipeline on the release branch, but not on master for new releases. This means that the `0.6.0-rc` tag will continue to be used until a new commit is merged to master, triggering

[2020-01-21 17:11] jbw976 commented on #1181
Simply running the normal build pipeline on master after tagging the RC should take care of this fine, auto promotion is part of the build pipeline for master.

[2020-01-21 18:23] #1171 closed

[2020-01-21 18:45] hasheddan opened #1182 "Update Services Developer Guide to match new package structure of crossplane-runtime"
### What happened?

Many of the links and example code snippets are out of date in the [Services Developer Guide](https://crossplane.io/docs/v0.7/services-developer-guide.html) following the breaking changes introduced in `crossplane-runtime` [v0.4.0](https://github.com/crossplaneio/crossplane-runtime/releases/tag/v0.4.0). While these updates should be made immediately, I have opened this issue to

[2020-01-21 18:57] suskin opened #1183 "template stack controller hardening: helper images"
### What problem are you facing?

Now that we have a first version of the template stack controller, we want to make it more robust so it can be consumed by more people. This ticket covers improvements to the helper images for the resource engines.

### How could Crossplane help solve your problem?

I'm gong to list several improvements.

* [ ] Improve management of image id tags in a way that wor

[2020-01-21 19:00] suskin opened #1184 "template stack controller hardening: permissions"
### What problem are you facing?

Now that we have an initial version of the template stacks controller, we want to make it more robust. This ticket covers improvements to the permissions and RBAC usage.

### How could Crossplane help solve your problem?

I'm going to list several improvements.

* [ ] RBAC permissions are set correctly
* [ ] The template stack controller's render phase should run

[2020-01-21 20:16] suskin opened #1185 "template stacks: add opt-in to helm chart"
### What problem are you facing?

Now that we have a template stack controller in the codebase, we'll want to make it convenient for people to try it out once we've hardened the controller a little bit.

### How could Crossplane help solve your problem?

We already have a parameterized installation process for crossplane (via our helm chart). We should add a parameter to the helm chart to enable t

[2020-01-21 22:19] prasek opened #1186 "temp"

[2020-01-21 22:20] #1186 closed

[2020-01-22 01:12] jbw976 opened #1187 "Update release process guide to include instructions used in v0.7"
### What problem are you facing?

The v0.7 release used a modified release process flow to address the following issues:

* Crossplane and stacks have not been using a pinned semantic version of crossplane-runtime
* Stacks have not been using a pinned semantic version of crossplane

In order to get a semantic version of Crossplane to use in the Stacks' go.mod files, we updated all the docs/example

[2020-01-22 01:12] jbw976 commented on #1187
This issue should also incorporate a fix for #1181 into the release process flow

[2020-01-22 01:28] jbw976 commented on #1136
We still need to publish these minimal stacks to dockerhub similar to how we publish the existing cloud provider stacks.

We need to close and follow-up on:

* finalize the naming of the repos, both for github and for the stack packages (e.g., dockerhub)
* set up Jenkins pipelines/automation to build and publish these stacks for every release
* publish the first official builds.  This *could* be d

[2020-01-22 01:48] phanimullapudi opened #1188 "ServiceAccount integration for AWS"
### What problem are you facing?

Currently we are unable to create RDS instances using the crossplane. Due to security restrictions we are only allowed or restricted to use ServiceAccounts.

### How could Crossplane help solve your problem?

Ability to support ServiceAccount by using annotations or some other way will avoid using AWS credentials manually.

[2020-01-22 17:19] #1182 closed

[2020-01-22 18:10] displague opened #1190 "Refine crossplane-admin privileges vs environment and workspace roles"
### What problem are you facing?

Crossplane environment admin roles are intended to perform high level functions attached to Stacks and their operation.

The crossplane-admin role is intended to have even greater capabilities, such as the ability to create environment and namespace admins and perform all of their duties.

It is an over-extension of power that the environment admins should have th

[2020-01-23 15:28] muvaf commented on #1164
@pfischer8989 Right, it turned out that `kubectl` version is not relevant. I closed this issue since Crossplane _can_ be installed to Kubernetes versions lower than 1.15, it's just that one needs to disable the OpenAPI validation in the **client**. Hence, I opened the following issue to track the necessary changes in Helm3 and controller-runtime together with workaround: https://github.com/crosspl

[2020-01-23 17:55] displague commented on #1190
Crossplane-admin, Environment Admin and namespace admin roles were never given access to clusterroles, only to bindings.

[2020-01-23 18:04] suskin opened #1193 "template stack controllers: shut down controllers that are no longer needed"
### What problem are you facing?

As part of the template stacks model, we create new controllers for new types that should be watched. The way that we're [currently](https://github.com/crossplaneio/crossplane/blob/d87543bbcef0bb0b54776b9022aee666e7a41422/pkg/controller/stacks/templates/setupphase_controller.go#L151) doing this is by adding a new controller-runtime controller to an existing manage

[2020-01-23 18:43] robsclark opened #1194 "temp"

[2020-01-23 19:22] #1194 closed

[2020-01-23 20:19] suskin opened #1196 "template stack hardening: gracefully handle missing CRDs"
### What problem are you facing?

When the setup phase template controller is initializing a render-phase template controller, the CRD it wants to watch may not exist in the cluster yet. Currently, this will result in the setup controller not creating the render phase controller. It won't try to recreate it until the next time the stack configuration is reconciled, which could be a long time.

###

[2020-01-23 20:27] suskin opened #1197 "template stack hardening: support host awareness"
### What problem are you facing?

As part of making the stack manager host-aware, we'll also want the shared template stack functionality to be host-aware.

This may be covered by the existing work which Hasan is working on, but I'm opening a ticket to track it because there will be at a minimum some syncing and coordination involved.

### How could Crossplane help solve your problem?

Coordinate

[2020-01-23 20:31] suskin opened #1198 "template stacks: improve code coverage"
### What problem are you facing?

Once the initial implementation of template stacks has stabilized and we want to ensure correctness over time, we'll want to add some unit tests so we can track correctness and notice problems more easily.

### How could Crossplane help solve your problem?

Add unit tests to help us ensure that the template stacks code is correct and remains correct over time.

Th

[2020-01-23 20:46] suskin opened #1200 "template stacks: document how to use template stacks"
### What problem are you facing?

As part of making template stacks consumable, we'll want to document:

* Why they exist
* How to use them
* How to create them

### How could Crossplane help solve your problem?

Create documentation for the topics mentioned above, and test them to make sure they make sense.

[2020-01-23 20:54] suskin opened #1201 "template stacks: expose status of rendered resources"
### What problem are you facing?

As a user creating a CR which is handled by a template stack, I want to be able to easily check the status of the resources I'm expecting to see in my cluster as a result.

### How could Crossplane help solve your problem?

To solve this, we'll need:

* A representation of the status of the child resources
* A place to expose the status

Options for the representa

[2020-01-23 20:58] suskin opened #1202 "template stacks: track parent-child relationships"
### What problem are you facing?

When a template stack controller creates some resources, we want to keep track of the relationship between the parent and the children, for a few reasons:

* Garbage collection
* Resource discovery (as a user)

### How could Crossplane help solve your problem?

We already have some separate work which has explored how to represent parent child relationships. The t

[2020-01-23 21:04] suskin opened #1203 "template stacks: add or ensure error reporting"
### What problem are you facing?

Now that we're hardening the template stack controller, we want to make sure all of its errors are reported properly so they can be observed and debugged.

### How could Crossplane help solve your problem?

Make sure we're reporting all actionable errors in the template stack controller. See [our document about this](https://github.com/crossplane/crossplane/blob/m

[2020-01-23 21:08] suskin opened #1204 "template stacks: failure isolation from stack manager"
### What problem are you facing?

Now that we have a template stack controller running inside the stack manager, as part of hardening that we want to make sure that its failures don't crash the stack manager, where possible.

### How could Crossplane help solve your problem?

This most likely just involves properly handling errors that occur, so that they don't crash the whole process. (Especially

[2020-01-23 23:40] jbw976 commented on #878
This was included in the template stacks preview in 0.7

[2020-01-23 23:40] #878 closed

[2020-01-24 01:19] negz commented on #4
I thiiiink we support this. The only place it's really come in as a concern has been some of the Azure controllers that don't easily let you discover ongoing long running operations. I'm going to CC @muvaf and optimistically resolve this issue.

[2020-01-24 01:19] #4 closed

[2020-01-24 01:20] negz commented on #10
We have something like this in our wordpress examples. I'm going to close out this issue - @jbw976 please reopen if you still think it should be on our backlog.

[2020-01-24 01:20] #10 closed

[2020-01-24 01:22] negz commented on #25
I'm working on this as part of https://github.com/crossplaneio/crossplane-runtime/issues/104 - I'm going to close this issue and use the newer one to track this.

[2020-01-24 01:22] #25 closed

[2020-01-24 01:22] negz commented on #56
I'm going to call this done - we still have to port some controllers but all the moving pieces are in place.

[2020-01-24 01:22] #56 closed

[2020-01-24 01:23] negz commented on #58
This doesn't seem like a super high priority. I'm going to close the issue - please reopen if we feel it's still important.

[2020-01-24 01:25] negz commented on #85
We can do this using [CRD validation markers](https://book.kubebuilder.io/reference/markers/crd-validation.html). We do so for resource claims (whose schemas we define), but have chosen not to do so for managed resources. Our managed resources are high fidelity representations of the underlying provider APIs, and chasing the valid values of those APIs is a losing game. We prefer to submit the valu

[2020-01-24 01:25] #85 closed

[2020-01-24 01:30] negz commented on #166
I'm going to close this as superceded by https://github.com/crossplaneio/crossplane/issues/1106. Our current thinking is that infra operators will be able to define their own claim kinds with the fields that are relevant to their interests (and applicable to the infrastructure stacks they use).

[2020-01-24 01:30] #166 closed

[2020-01-24 01:30] negz commented on #113
We have a sketch of how we might do this (transform functions) in https://github.com/crossplaneio/crossplane/pull/1163.

[2020-01-24 01:32] negz commented on #290
Per my last comment here, I don't think we should do this. Please reopen if you disagree.

[2020-01-24 01:32] #290 closed

[2020-01-24 01:37] negz commented on #209
I believe our current controllers update managed resources the minimum reasonable amount of times. This is not necessarily once per reconcile, since sometimes we want to decouple the logical steps of reconciling a resource (adding a finalizer, updating bindings, late initializing spec fields, updating status, etc) into separate pluggable logic. We'd need some significant re-architecture of our rec

[2020-01-24 01:37] #209 closed

[2020-01-24 01:37] negz commented on #201
We've rewritten the RDSInstance controller completely since this issue was raised, so I'm going to optimistically close it out. Please reopen if anyone sees this happening again!

[2020-01-24 01:37] #201 closed

[2020-01-24 01:38] negz commented on #260
@iamzhout We now support this feature! Please take a look at https://blog.crossplane.io/crossplane-v0-7-schedule-workloads-to-any-kubernetes-cluster-including-bare-metal/ and let us know if it would solve your use cases.

[2020-01-24 01:43] negz commented on #289
Do we still feel like this is a concern/priority? At the moment we'll notice in 30-60 seconds due to polling the API. I'm not sure what else we could do to improve this.

[2020-01-24 01:44] negz commented on #437
This document is now defunct, so I'm going to resolve this.

[2020-01-24 01:44] #437 closed

[2020-01-24 01:45] negz commented on #298
@displague I think so. In practice some older managed resource controllers don't use the status subresource, but all claims and all managed resources that use the crossplane-runtime managed resource reconciler do. This will resolve itself as we port all managed resources over to crossplane-runtime.

[2020-01-24 01:45] #298 closed

[2020-01-24 01:46] negz commented on #319
Eh, there's one controller left and it will very likely go away when we port EKS over to the managed resource reconciler. I'm calling this investigated, and closing. ;)

[2020-01-24 01:46] #319 closed

[2020-01-24 01:49] negz commented on #849
I strongly feel that our default mode of operation should assume a production deployment and thus machine parseable, aggregatable logs. We may want to ensure there is an _option_ to turn on debug logging for development etc when installing an infrastructure stack, but I think that is a separate issue. I am going to close this issue as won't fix. Please reopen if you disagree.

[2020-01-24 01:49] #849 closed

[2020-01-24 01:51] negz commented on #969
I think we should pursue https://github.com/crossplaneio/crossplane/issues/1106 instead of defining a new resource claim kind that is satisfied by a single kind of managed resource.

[2020-01-24 01:51] #969 closed

[2020-01-24 01:51] negz commented on #1098
Related to https://github.com/crossplaneio/stack-aws/issues/109.

[2020-01-24 01:54] negz commented on #388
I'm experimenting with this as part of https://github.com/crossplaneio/crossplane-runtime/issues/104.

[2020-01-24 01:56] negz commented on #854
I'm pretty confident this was an instance of #895, which is now fixed. I'm going to close this - please reopen if you see it happen again.

[2020-01-24 01:56] #854 closed

[2020-01-24 01:56] negz commented on #449
I'm going to close this since the referenced example no longer exists. :)

[2020-01-24 01:56] #449 closed

[2020-01-24 01:58] negz commented on #497
I believe we now support this thanks to the `KubernetesTarget` work. :)

[2020-01-24 01:58] #497 closed

[2020-01-24 02:03] negz commented on #539
This _could_ be addressed by https://github.com/crossplaneio/crossplane/pull/1163 - bind managed resources to a resource configuration, then statically bind that configuration to an appropriate claim kind, e.g. `BaseInfrastructure`?

[2020-01-24 02:04] negz commented on #526
🤔 Were we calling `StackInstall` `ExtensionRequest` at some point?

[2020-01-24 02:05] suskin opened #1205 "pull requests: consider decentralized approval, document expectations"
### What problem are you facing?

This issue combines a few different ideas that have come up in recent retrospectives, around how to help pull requests flow through the software development apparatus more effectively.

### How could Crossplane help solve your problem?

There are two related but different ideas:

* Use a pull request review model which is closer to what Rook uses. The gist of it i

[2020-01-24 02:05] negz commented on #510
I believe this is true for all claims and managed resources (at least, all the ones that use crossplane-runtime's managed resource reconciler). @jbw976 should we keep this open for the stacks side of the world?

[2020-01-24 02:06] negz commented on #402
Closing as a dupe of https://github.com/crossplaneio/crossplane/issues/29.

[2020-01-24 02:06] #402 closed

[2020-01-24 02:07] negz commented on #562
I don't think this is a priority - I'm okay with a "real" coverage report, including the fact that some boilerplate code is not covered. Please reopen if anyone disagrees.

[2020-01-24 02:07] #562 closed

[2020-01-24 02:08] negz commented on #848
It seems that this is a duplicate of https://github.com/crossplaneio/crossplane/issues/418 - I'm going to close it as such.

[2020-01-24 02:08] #848 closed

[2020-01-24 02:09] negz commented on #432
I don't think these examples exist anymore, so I'm marking this as closed.

[2020-01-24 02:09] #432 closed

[2020-01-24 02:09] negz commented on #866
@prasek I'm pretty sure this is no longer a priority as of 0.7, right? I'm going to close it but please reopen if I'm wrong.

[2020-01-24 02:09] #866 closed

[2020-01-24 02:11] negz commented on #733
Is this still something we want to do?

[2020-01-24 02:11] negz commented on #710
Is this still something we want to do?

[2020-01-24 02:13] negz commented on #567
We now do this as of v1beta1. :)

[2020-01-24 02:13] #567 closed

[2020-01-24 02:13] negz commented on #697
Where is this at? Is it still a priority?

[2020-01-24 02:15] negz commented on #611
My current thinking is to avoid this, somewhat explained by the logging package doc in https://github.com/crossplaneio/crossplane-runtime/pull/108. I agree debug logging is important, but I think it should be an on or off thing - not at multiple levels. Please comment on that pull if you disagree!

[2020-01-24 02:15] #611 closed

[2020-01-24 02:18] negz commented on #533
I'm not sure if this issue still makes sense - I think it might be based on a flawed understanding of how CRDs work. I think the general idea is that you write controllers for one version of a CR, then add translation webhooks to translate any other version to the one supported version? 🤔

[2020-01-24 12:22] muvaf commented on #1136
@jbw976 Yeah, a few times. It shows up usually if you have go mod cache that was created via go1.12 and try to build the module with go1.13 or vice versa. I've updated my local to go 1.13 and made some updates to the repositories regarding naming. The following PRs build with no problem:

https://github.com/crossplaneio/resourcepacks/pull/1 (I'll open PRs for aws and azure, too, once this is merge

[2020-01-24 17:38] displague commented on #1151
With respect to https://github.com/crossplaneio/crossplane/issues/1089, for the Stack Manager Reconcile a Stack, fetching its and extracting the Stack Image and configuring the Deployment, a Stack would need some way to identify its source.  Currently, the source is provided by the StackInstall, where a package source is defined.  The package source is optional, however, because installation of a

[2020-01-24 20:35] displague commented on #1036
@prasek Right, the stragglers are why this has been kept open.  If we revisit this epic in a couple of sprints we'll find most of the stragglers (a result of the overarching scope of this epic as written) should be closed.

[2020-01-24 22:12] displague commented on #1197
In support of host-aware environments the template stack Job must be created in the 'host', and the Job's podSpec must include the Kubernetes context of the tenant and not inherit the host's context.
The Render controller will need to create an SA (related #1184) for the existing render Job.

[2020-01-27 04:43] negz commented on #944
Relates to #331 .

[2020-01-27 06:00] negz commented on #529
Having been working on adding logging and events to our controllers for the past week I really feel this is working as intended. Or put otherwise I feel like this feature request is overindexing on making our debug logs (which are intended for just that - _debugging_ Crossplane) a super friendly, non-threatening user experience. [Quoting myself](https://github.com/crossplaneio/stack-gcp/pull/49#is

[2020-01-27 12:18] muvaf opened #1207 "KubernetesApplication should support Helm charts"
### What problem are you facing?

Today, `KubernetesApplication` resource allows users to specify a `templates` section where they list Kubernetes resources to be deployed to the target cluster. Helm charts are heavily used to bundle the resources to be deployed to a Kubernetes cluster but current `KubernetesApplication` CR does not support that.

### How could Crossplane help solve your problem?

[2020-01-27 14:20] displague commented on #1207
This issue sounds like https://github.com/crossplaneio/crossplane/issues/666 which https://github.com/crossplaneio/crossplane/issues/1011 would tackle via Template Stacks.

It sounds like you would like to see the "core" stack (https://github.com/crossplaneio/crossplane/issues/1154) pick up direct Helm support so that the list of Kubernetes resources could be omitted / externalized.

How would thi

[2020-01-28 08:39] muvaf commented on #1207
Right, what I want here is to deploy resources to a target cluster that is provisioned/ by Crossplane or imported in the form of `KubernetesTarget`.

Actually what I'd want to see is that we can treat `KubernetesApplication` just like `KubernetesCluster` where different stacks can pick it up and do some actions. In this case, a Helm stack can look for `KubernetesApplication` with helm source and e

[2020-01-28 08:54] muvaf commented on #533
That is my understanding, too. @hasheddan tried to do it for GKE v1beta1 and that was his conclusion as far as I remember.

[2020-01-28 09:55] muvaf opened #1209 "template stacks: Template stack controller should watch TemplateStack resource and generate Stack CR"
We have decided to merge the template stack workflow with normal stacks workflow as early as possible to make use of existing mechanisms such as RBAC, host awareness and shutdown of controllers.

This issue represents the part of the implementation where there is a `TemplateStack` (called `StackConfiguration` right now) CR in the cluster and a controller should see and generate a `Stack` object wh

[2020-01-28 10:07] muvaf opened #1210 "template stacks: Unpacking should create a TemplateStack object instead of Stack if it's a template stack"
### What problem are you facing?

Currently, stack manager unpacking process creates all CRDs and `Stack` object. What we do in template stacks is that we reconcile a `TemplateStack` object and generate a `Stack` object accordingly.

### How could Crossplane help solve your problem?

We need unpacking process to see that the stack source is a template stack and only create the TemplateStack CR. Ho

[2020-01-28 10:16] muvaf opened #1211 "template stacks: generic go controller for watching schemaless template stack CRDs"
We have decided to merge the template stack workflow with normal stacks workflow as early as possible to make use of existing mechanisms such as RBAC, host awareness and shutdown of controllers.

Part of the implementation plan is that we have a generic controller that runs the templating engines (kustomize, helm) without need to know the CRD schema. This controller should take the following input

[2020-01-28 10:18] muvaf commented on #1193
Should be addressed by https://github.com/crossplaneio/crossplane/issues/1209

[2020-01-28 10:18] #1193 closed

[2020-01-28 10:18] muvaf commented on #1184
Should be addressed by https://github.com/crossplaneio/crossplane/issues/1209

@suskin please reopen if I'm missing something.

[2020-01-28 10:18] #1184 closed

[2020-01-28 10:20] muvaf commented on #1197
This should be addressed by https://github.com/crossplaneio/crossplane/issues/1209 given that `Stack`s are already host-aware.

@suskin please reopen if I'm missing something.

[2020-01-28 11:20] displague commented on #1209
That's what I was looking for. Will the generic controller also need to create Job resources?

[2020-01-28 11:24] muvaf commented on #1209
No. It will directly create the resources with controller-runtime client. The author should fill the `dependsOn` section in `app.yaml` just like they do for normal stacks in order to get the RBAC stuff generated correctly for that generic controller `Pod`.

[2020-01-28 15:02] hasheddan commented on #533
@muvaf @negz yep to have multiple versions of a CRD present in a cluster, there needs to be a stored version which is the hub that all other versions must be "round-trippable" through. Conversion must preserve all information in both directions, which is usually not the case for most of our upgrades.

[2020-01-28 20:02] displague commented on #1210
After some discussion with @muvaf and @suskin, a template stack will be expected to contain only a `stack.yaml`.  This `stack.yaml` will contain all of the fields expected in `app.yaml` along with the ones currently provided by `stack.yaml` (which today has template stack features, including behaviors defined).

Eventually, the Stack Manager will only look for `stack.yaml`, which does not need to

[2020-01-28 21:55] suskin commented on #1210
I was thinking about this a little more, and I'm wondering whether we can treat the "`TemplateStack`" kind as the thing the user writes in their `stack.yaml`, but underneath it's all folded into a `Stack` object by the time the stack manager creates an object. So the only object created in the cluster is the `Stack` object. Since the intended TemplateStack is a superset of a Stack, it seems like i

[2020-01-28 22:29] negz commented on #533
Thanks guys - given this issue doesn't really make sense I'm going to close it out.

[2020-01-28 22:29] #533 closed

[2020-01-28 23:13] suskin commented on #1197
@muvaf I suppose I'm not sure what you mean by host-aware in this context. This ticket is referring to the effort (if any) which will be needed to make any deployments, jobs, and kubernetes cluster manipulation work in a [host-aware environment](https://github.com/crossplaneio/crossplane/pull/1138) for any of the template stack logic. What are you referring to?

[2020-01-28 23:22] suskin commented on #1211
Some of the things in the list are already implemented in the render phase controller, so adapting the render phase controller would also work as an approach.

After syncing, we agree that our goal is to get to a working system first, then to make things More Correct later, and we expect that we don't know what the most correct approach will be until the system has settled a bit. We plan to leave

[2020-01-28 23:27] suskin commented on #1184
I believe this is relevant for #1211 as well.

In general I prefer to document the problems we're trying to solve in addition to the specific implementations we think we should take to solve the problem, so that the people doing the work can figure out the implementation on their own (when they have the knowledge and skills to do so). This is more of a problem-oriented ticket. I agree that maybe w

[2020-01-28 23:33] suskin commented on #1173
There were some additional discussions about supporting a single CRD per template stack, and I think I'm convinced now that going with that simplifies the concepts and experience. I've updated the gist to reflect this.

[2020-01-29 00:21] jbw976 commented on #1190
Can this issue be closed now that #1165 and #1195 are merged?

[2020-01-29 01:51] jihoon-seo opened #1213 "Followed the guide, but cannot install Stacks"
### What happened?

I followed this guide:
https://crossplane.io/docs/v0.7/install-crossplane.html
But cannot install Stacks.
- `kubectl apply -f stack-gcp.yaml`
[code]

- `kubectl apply -f stack-aws.yaml`
[code]

- `kubectl apply -f stack-azure.yaml`
[code]

- `kubectl crossplane stack list`
[code]

### How can we reproduce it?

I followed this guide:
https://crossplane.io/docs/v0.7/install-cross

[2020-01-29 01:55] hasheddan commented on #1213
@jihoon-seo thanks for opening this issue! I am trying to reproduce now and will follow up shortly.

[2020-01-29 02:02] hasheddan commented on #1213
@jihoon-seo It appears that you are installing a stale chart from the `alpha` channel. I see that your output has `Chart Version: 0.2.0`. Could you try running `helm repo update crossplane-alpha`?

[2020-01-29 02:47] jihoon-seo commented on #1213
It works!
Thank you for your help!

- `helm repo update crossplane-alpha`
[code]

- `helm del --purge crossplane`
[code]

- `helm install --name crossplane --namespace crossplane-system crossplane-alpha/crossplane`
[code]

- `kubectl apply -f stack-gcp.yaml`
[code]

- `kubectl apply -f stack-aws.yaml`
[code]

- `kubectl apply -f stack-azure.yaml`
[code]

- `kubectl crossplane stack list`
[code]

[2020-01-29 02:47] #1213 closed

[2020-01-29 02:48] suskin commented on #1209
I've created #1214 as an early cut of the data model and expected semantic of the controller, to help us coordinate on this work. After thinking about it a little while starting the implementation, it seems like it'd be the cleanest if we could move the controller generation logic up into the step when/before the stack definition is created, so that the logic that copies the stack definition over

[2020-01-29 02:48] hasheddan commented on #1213
@jihoon-seo wonderful! Thanks for showing the output for how you fixed the issue :) it will be helpful for anyone else who runs into the same problem!

[2020-01-29 04:25] displague commented on #899
I [experimented](https://github.com/crossplaneio/crossplane/commit/e45f2885f9cea1c8aa5c4c7c173b3c314c7bea44
) with restricting use to core types using a `stack manage --allowed-groups=...` argument (limiting the GVK groups permitted in Stack dependsOn fields).

In doing so, I discovered that a white list at initialization prevents Stacks from leveraging additional Stacks as dependencies.

I now wo

[2020-01-29 05:15] displague commented on #1089
In consideration of https://github.com/crossplaneio/crossplane/issues/899#issuecomment-574712636, Stacks are self-reconciling with unruly permissions.

If any user is able to create a Stack resource, they would be able to insert into that Stack any `spec.deployment` body and any set of `spec.permissions`.  The permissions that can be set here are not restricted in any way by the Stack reconciler t

[2020-01-29 09:13] muvaf commented on #1209
I think as long as there is a separate object which contains the behavior definitions and can be fetched by the generic controller, it should work.

After our discussion yesterday, in the long term, I was thinking we'd probably end up in a `stack.yaml` that could be either `kind: TemplateStack` or `kind: Stack` and the flow of these two kinds would be independent, meaning `TemplateStack` wouldn't

[2020-01-29 16:49] jbw976 commented on #1210
I was wondering something similar @suskin, I am hoping that we don't end up with a new Kind defined that people have to learn, understand, and make choices around if they need that Kind or another one of the Stack kinds.  My inclination is to end up with less Kinds not more to simplify things.

[2020-01-29 18:40] displague commented on #1190
Sounds good, closing. Thanks for the reviews.

[2020-01-29 18:40] #1190 closed

[2020-01-29 20:41] displague commented on #1126
The stackInstall spec includes a `source` along with `package`.  Using the hostname in the package name is sufficient though, without source.

When using an alternate registry, it is likely to be a private registry, which #505 seeks to address.

[2020-01-29 20:42] displague commented on #974
Stack controller deployments may need access to a private registry (reflected in #505).

This can be defined at a namespace level: https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#add-imagepullsecrets-to-a-service-account
or per deployment: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-pod-that-uses-your-secret

St

[2020-01-29 22:24] turkenh opened #1215 "crossplane-admin cannot create namespaces"
### What happened?
I cannot create namespaces using `crossplane:masters` group because of lacking permissions.

`crossplane-admin` role should have all verbs permission ("*") on the following:
clusterroles, roles, clusterrolebindings, rolebindings, namespaces

### How can we reproduce it?
[code]

### What environment did it happen in?
Crossplane version: 0.7.0 (local build from PR https://github.c

[2020-01-29 22:40] displague commented on #1215
@turkenh See https://github.com/kubernetes/kubernetes/issues/43227 and https://github.com/kubernetes/kubernetes/issues/79395

Suffice it to say,
[code]

[2020-01-30 00:27] soorena776 opened #1216 "Support installing any package via the Helm chart"
### What problem are you facing?

Currently Crossplane helm chart allows installing a few specific stacks as part of Crossplane installation. It should be possible to install any generic stack. Otherwise the deployment process for Crossplane will not be the same if someone uses an stack other than the well known ones.
### How could Crossplane help solve your problem?

The following is proposed for

[2020-01-30 00:41] suskin commented on #1216
@soorena776 Cool! Would you be able to tell us a little more about the use case? As in, what is the reason the user would want to install the stack at the same time as crossplane, rather than waiting until after crossplane is installed? Is it truly **any** stack, or is this more like a custom provider stack?

[2020-01-30 00:46] soorena776 commented on #1216
As for why to install at the same time, the answer is the same answer to why to install aws, gcp, or azure stacks at the same time. When using helm charts for deployment, it's desirable that you don't have to create a single chart just to include the `ClusterStackInstall` CR in it, but pass the chart information to the existing Crossplane chart as variables.

And by *any* stack, I mean any stack t

[2020-01-30 01:07] displague commented on #1216
Does helm allow for this to be supplied as a cab or array of name:versions to produce multiple stackinstalls?

[2020-01-30 06:26] soorena776 commented on #1216
@displague according to the [docs](https://helm.sh/docs/chart_template_guide/variables/)  the `range` operator can be used which @turkenh has already done it in the [current][current-impl] implementation. We just need to change the [`vaules.yaml.tmpl`](https://github.com/crossplaneio/crossplane/blob/master/cluster/charts/crossplane/values.yaml.tmpl) to something like:

[code]

And then change the

[2020-01-30 15:17] displague commented on #1210
Some conversation, and the existing `StackConfiguration` resource are defined as the full body CR of a `StackConfiguration` CRD.

I've been leaning in the opposite direction, going along with the pattern set by `app.yaml`, which would suggest that `behaviors.yaml` (or `stack.yaml` as a combination of `app.yaml` and `behaviors.yaml`) would omit the outer layer (APIVersion, Kind, Metadata, Spec, Sta

[2020-01-30 17:11] displague commented on #1210
Stacks aren't entirely consistent about this however, because stacks use a full bodied Deployment CR in the `install.yaml`.

[2020-01-30 19:26] suskin commented on #1210
@jbw976 after some more conversation, we are thinking that the `StackDefinition` in a `stack.yaml` is a replacement for the information in `app.yaml`, which means it's a single Kind and is the only Kind that stack authors interact with; it accommodates all the flavors of stack. Underneath we're planning on copying it over into a `Stack` in the cluster for now, but that's hidden to the user and is

[2020-01-30 22:56] suskin commented on #1033
Summarizing some discussion on this from Slack with @hasheddan:

As a developer, I'd like to run fast, narrowly scoped "integration" tests which test my controller logic (for example). I'd like to be able to run them as part of my PR test suite, for ones which are fast enough and which don't use external resources or infrastructure.

This would likely be accomplished by allowing us to easily use t

[2020-01-30 22:59] displague commented on #1210
The current Stack manifest file defining template stack behaviors, `stack.yaml`, is a `StackConfiguration` CR.

The Stack manifest also contains `app.yaml` which is a subset of the Stack CR `spec`.

As we move towards a `StackDefinition` CR (#1214), we could have a smoother transition path by using the name `behavior.yaml` to represent the behaviors part of the StackDefinition CR, rather than `sta

[2020-01-31 08:43] negz commented on #25
This was fixed by https://github.com/crossplaneio/crossplane-runtime/pull/108 - all the crossplane-runtime reconciles now emit events.

[2020-01-31 09:02] dsyer commented on #1213
I see the same error and my chart version is 0.7.0. Any hints how to debug? Is there a k8s version constraint (I have 1.15, but nothing in the install docs)?

[2020-01-31 10:27] dsyer commented on #749
I still have orphaned Cloud SQL instances on GCP after playing with the wordpress example a bit. Who is responsible for deleting them (I assumed crossplane)?

[2020-01-31 10:34] dsyer opened #1222 "GCP Wordpress example doesn't mention that you need "Service Networking API""
When you try to use the Wordpress example it fails to create a SQL instance so the Crossplane resources are hung and never get to "Bound". The GCP console reveals that you need to enabled the "Service Networking API", which is easy, but not mentioned in the [Wordpress docs](https://crossplane.io/docs/v0.7/services/gcp-services-guide.html#install-wordpress) that I have seen (although I did find it

[2020-01-31 11:23] muvaf commented on #749
@dsyer Do you still have either `MySQLInstance` or `CloudSQLInstance` resources in your cluster? If they are still there, could you copy them in yaml form here via:
[code]
`metadata.deletionTimestamp` should reveal whether they've got a deletion request at all and `status.conditions` should show errors if any.

If these resources do not exist, then we'll need to investigate further.

Also, it'd be

[2020-01-31 12:17] dsyer commented on #749
[code]

Steps to reproduce: follow the quick start https://crossplane.io/docs/v0.7/quick-start.html including the wordpress app. Then `kubectl delete` all the yaml for the app. I also tried with a simpler version (copied from https://github.com/crossplaneio/crossplane/blob/master/cluster/examples/wordpress/gcp/wordpress.yaml) and had the same result.

[2020-01-31 12:37] hasheddan commented on #1213
@dsyer sorry for any trouble you experienced here! Do you have additional information about the k8s cluster you were having issues installing Crossplane on that would be willing to share?

[2020-01-31 13:12] muvaf commented on #749
@dsyer I couldn't find the Wordpress tutorial in the quick start. There is one in [Services Guide](https://crossplane.io/docs/v0.7/services/gcp-services-guide.html) where you directly create every resource and the other one in [Stacks Guide](https://crossplane.io/docs/v0.7/stacks-guide.html) where you use Wordpress app stack. In which one did you encounter the issue?

Also could you provide the fo

[2020-01-31 13:19] muvaf commented on #749
@dsyer does that mean you deleted everything by `kubectl delete -f <folder where all yamls are stored>`? If this is the case, you might have ended up in a situation where you deleted GCP stack before the deletions are completed and CRD deletion cascaded to all resources. For resource deletions to happen, two things need to exist:
* Crossplane controller pod.
* `Provider` resource that is reference

[2020-01-31 13:57] hasheddan opened #1223 "API Reference docs have broken header links on crossplane.io"
The auto-generated links to section headers in the API Reference docs use capitalization, which breaks when the markdown is converted to HTML. For instance, https://crossplane.io/docs/v0.7/api/crossplaneio/stack-gcp/database-gcp-crossplane-io-v1beta1.html#cloudsqlinstancespec works but https://crossplane.io/docs/v0.7/api/crossplaneio/stack-gcp/database-gcp-crossplane-io-v1beta1.html#CloudSQLInstan

[2020-01-31 14:04] dsyer commented on #749
I wondered about that. So I tried just deleting the deployment and mysql resources. Same thing happened - i.e. the instance is not deleted. TBH I might prefer it that way - it takes minutes to create new instances and once you delete them you can't re-use the name. But it would be good to clarify.

You are right about the location of the wordpress tutorial (https://crossplane.io/docs/v0.7/services

[2020-01-31 14:19] dsyer commented on #1213
I was using kind v0.5.1 so whichever version of k8s that gives you. No extra configuration, just `kind create cluster`. I think it is 1.15.3.

[2020-01-31 14:51] dsyer commented on #749
Sorry. I deleted the cluster. Now I've upgraded I can't reproduce the problem.

[2020-01-31 15:58] displague commented on #1215
#1219 fixes this issue by giving crossplane-admin the ability to create namespaces, clusterrolebindings, and rolebindings. More context is provided in the description of #1219.

I wouldn't be opposed to extending read-only clusterrole and roles access to crossplane-admin, but they have been kept out of scope for now.

[2020-01-31 16:38] dsyer commented on #749
I think I know what happened. Copying the wordpress sample above, I have a `CloudSQLInstanceClass` and a `MySQLInstance` (the claim). The orphaned instance arose when I deleted both (and I presume the class was deleted first, by accident). If I delete only the claim, then the SQL instance is cleaned up in GCP.

It would be nice to be able to actually use an existing resource by just declaring a `C

[2020-01-31 18:30] negz commented on #790
@muvaf did a little related work in https://github.com/crossplaneio/crossplane-runtime/pull/99, in that we no longer say "managed resource", but rather just "resource". Despite this I think there could still be value in using bespoke conditions.

[2020-01-31 22:03] rberrelleza opened #1224 "Support for user-defined tags for s3 buckets"
### What problem are you facing?
When creating an s3 bucket, I'd like it to be created with certain tags to help identify the owner, when it was created, the department, cost center, etc...

### How could Crossplane help solve your problem?
I'd be useful if I could specify tags in the YAML I use when claiming an S3 bucket. Maybe in https://crossplaneio.github.io/docs/v0.7/api/crossplaneio/stack-aw

[2020-01-31 22:06] rberrelleza opened #1225 "Define mandatory tags at the provider level"
### What problem are you facing?
I want all the resources created by the same AWS provider to include certain tags, on top of the user defined tags. I need this tags mainly to be able to do charge-backs, apply quotas and cleanup resources.

### How could Crossplane help solve your problem?
I'd like to be able to specify this tags when creating/updating the provider, and have crossplane apply them.

[2020-02-03 00:07] jbw976 commented on #529
Thank you very much @negz for the recent work on standardizing our logging approaches and adding events to the controller-runtime reconciler patterns.  I think the work you've done goes a long way towards surfacing troubleshooting information in a standard way, and I agree with your sentiments on the stack traces in the approach you have been working on.  Great work @negz! 💪

[2020-02-03 00:07] #529 closed

[2020-02-03 09:42] muvaf commented on #749
@dsyer When you create a resource in Crossplane, its name is fully generated if it's created via a claim (`<claim ns>-<claim name>-<5 rand char>`) unless you explicitly specify an external name in the annotations like `crossplane.io/external-name: my-special-name`. If you create the resource(`CloudSQLInstance`) directly, then its name is used as the external name as well. Since you're working with

[2020-02-03 10:08] dsyer commented on #749
Yes, I haven't seen it since the first time. The only thing I could think of that was different, apart from the k8s version, was the `kubectl delete` that included both class and claim, so I guess that was the key difference.

Are the annotations documented somewhere? Could I use one to hang on to a password between deployment cycles (currently the password is lost when I delete the cloudsqlinstan

[2020-02-03 11:43] muvaf opened #1229 "Many-to-one relationship between claim and managed resource"
### What problem are you facing?

As an app stack, Wordpress instance needs a Kubernetes cluster. Until now, that declaration was done via claims, i.e. Wordpress controller would create a `KubernetesCluster` resource and wouldn't care where it is bound to. The infra operator is expected to create a class to satisfy that claim or have a managed resource waiting to be bound to that claim. This is th

[2020-02-03 11:52] muvaf commented on #1222
@dsyer We've got two Wordpress guides:
* [Stacks GCP Guide](https://crossplane.io/docs/v0.7/stacks-guide-gcp.html) includes the GCP configuration section, which shows what APIs you need to enable.
* [Services GCP Guide](https://crossplane.io/docs/v0.7/services/gcp-services-guide.html) points you to the GCP instructions that have that (although the link seems to be broken, fix is https://github.com

[2020-02-03 12:39] muvaf commented on #1225
@rberrelleza We're including tagging in our API conventions one-pager [here](https://github.com/crossplaneio/crossplane/pull/1129/files#diff-af44f0294a636aedef35de8f4f0c023fR130). After this gets merged, we'll open subsequent issues in infra stack repositories to implement it across the board.

Though, the tags that will be added automatically will be `crossplane.io/name` and `crossplane.io/kind`.

[2020-02-03 12:43] hasheddan commented on #1225
One thing I think we could do here is allow for global tags to be applied on the Provider, then add an option to apply them in the managed reconciler for resources that support tagging. For dynamic tagging that could be a little more difficult as we would like need some sort of transformation function or regex to be given on the Provider, then applied when tagging resource.

[2020-02-03 15:14] muvaf commented on #697
This is frustrating when you author a stack that will be published to dockerhub `crossplane` organization while the source code is under `crossplaneio` Github org. See https://github.com/crossplaneio/stack-minimal-gcp/pull/9

I think we should just do it and move on to fixing problems caused by the change.

[2020-02-03 15:39] muvaf commented on #749
If you delete `cloudsqlinstance`, the resource is deleted in GCP, too. If you'd like to create a new `cloudsqlinstance` directly, you need to give it a different name because of GCP's name collision policy. However, if you use dynamic provisioning, i.e. create a class and claim that will create a `cloudsqlinstance` automatically for you, the name has a random suffix. So, you won't face any naming

[2020-02-03 16:27] dsyer commented on #749
I can't close this one (not the OP). I opened https://github.com/crossplaneio/stack-gcp/issues/157 for the password/instance re-use issue.

[2020-02-03 17:15] jbw976 commented on #697
Before just pulling the trigger, could we spend 1 hour looking into (and writing down a list) all the places that would be affected? I'd feel better about it if we just spent a little focus time figuring out what the *known* consequences are, then we can proceed with cleaning up everything we know about, as well as dealing with the unexpected that comes up.

[2020-02-03 17:26] jbw976 commented on #1215
This was fixed by #1219 I believe

[2020-02-03 17:26] #1215 closed

[2020-02-03 17:31] hasheddan commented on #697
Adding some context for potentials areas of trouble here. We likely would be primarily concerned about [non-automatic changes](https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/renaming-an-organization#changes-that-arent-automatic). It appears manual action items would include:
- Updating all references to org profile (i.e. github.com/crossplaneio). Links to individ

[2020-02-03 18:00] negz commented on #1229
It sounds like this is not the same as https://github.com/crossplaneio/crossplane/issues/1105, right? That issue tracks one claim to many managed resources. This issue seems to track one managed resource potentially satisfying many claims.

[2020-02-03 18:27] muvaf opened #1230 "Easy stacks should be template stacks"
All three easy stacks should be ported to template stacks:
* https://github.com/crossplaneio/stack-minimal-gcp
  * Open PR https://github.com/crossplaneio/stack-minimal-gcp/pull/1
* https://github.com/crossplaneio/stack-minimal-aws
* https://github.com/crossplaneio/stack-minimal-azure

[2020-02-03 20:22] displague commented on #505
@muvaf I'll be taking this on over the next couple of weeks.
I'm tagging the relationship between this issue and https://github.com/crossplaneio/crossplane/issues/974 because we may need changes to the StackInstall or Stack type to accomodate this.

Documentation updates will be the primary output of this effort, whether or not Stack/StackInstall changes are necessary.

I expect that one path for

[2020-02-03 21:49] #946 closed

[2020-02-04 00:46] jbw976 commented on #1229
Just to be clear, PersistentVolumes in upstream k8s are not exclusive to just one consumer, e.g. through the `ReadWriteMany` access mode.  We could consider a model similar to that for when we want many claims to all bind to a single underlying resource.

More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes

[2020-02-04 00:51] negz commented on #1229
This models how pods consume PVCs though, right? i.e. There's one-to-one PVC-to-PV relationship, but if the PV is `ReadWriteMany` then a many-to-one pod-to-PVC relationship is allowed.

[2020-02-04 00:54] jbw976 commented on #1229
Yes, good distinction to call out here @negz, thank you!