[2021-11-08 20:15] ulucinar commented on #2649
Just left a comment in the upstream PR to signal the direction we would like proceed with:
https://github.com/kubernetes/kubernetes/pull/106181#issuecomment-963527818

[2021-11-08 21:59] negz commented on #2649
Quoting @apelisse [on Kubernetes Slack](https://kubernetes.slack.com/archives/C0EG7JC6T/p1636405390158100?thread_ts=1634838218.016300&cid=C0EG7JC6T):

He's helped us by creating the following kube-openapi branches:

* https://github.com/kubernetes/kube-openapi/tree/release-1.20
* https://github.com/kubernetes/kube-openapi/tree/release-1.21
* https://github.com/kubernetes/kube-openapi/tree/release-

[2021-11-10 14:55] etcshad0vv opened #2698 "Map transformation from string to array string"
Hello,
I am trying to create a map for thumbprintlist based on region for AWS IAM Provider within a `Composition`

[code]

### What problem are you facing?

I am getting the following error in composition
[code]

### How could Crossplane help solve your problem?

I am not sure if it's a syntax or limitation in Go, please if you can assist on mapping strings back to an array string.

[2021-11-10 20:43] muvaf commented on #2649
The current status is that the scope of changes for release-1.20 and release-1.21 had included some dependency bump and we had to revert that. Now, they both have minimal scope just like release-1.22 one.

The PR that bumps master is merged, meaning the fix is **guaranteed to be included in 1.23**.

The patch release PRs are:
* 1.20: https://github.com/kubernetes/kubernetes/pull/106257
* 1.21: htt

[2021-11-11 03:59] al-awstest opened #2700 "ArgoCD constantly trying to reconcile crossplane ClusterRole"
k8s v1.22.3 in minikube
crossplane deployed by ArgoCD using Helm chart 1.5.0 (same result with 1.6.0-rc.0.41)

after deploy ArgoCD constantly trying to reconcile crossplane ClusterRole

parameter rbacManager.skipAggregatedClusterRoles: "true" didn't make any difference

I'm clearly missing smith here, could you please advise?

attaching yamls of live, desired state and diff ArgoCD is complaining a

[2021-11-11 15:31] muvaf commented on #2649
All the patch release PRs are merged. Now it's guaranteed that the fix will be included in the following releases of Kubernetes:
* 1.23 (December 7th)
* 1.22.4 (November 17th)
* 1.21.7 (November 17th)
* 1.20.13 (November 17th)

I think we can close this issue once the kubectl PR https://github.com/kubernetes/kubernetes/pull/106016 is merged as well.

[2021-11-11 16:07] ulucinar commented on #2649
Here are kind node images built from the master & active release k/k branches containing the lazy marshaling behavior:
master: `ulucinar/node-amd64:master-lazy-marshal`
1.22: `ulucinar/node-amd64:1.22-lazy-marshal`
1.21: `ulucinar/node-amd64:1.21-lazy-marshal`
1.20: `ulucinar/node-amd64:1.20-lazy-marshal`

[2021-11-15 13:28] fahedouch opened #2703 "Crossplane Ansible provider"
### What problem are you facing?

We have a legacy api which wraps an ansible sdk and which consumes playbooks. our goal is to replace this api with a kube operator and we prefer that it be a crossplane operator.

`User -> ansible operator (crossplane) -> infrastructure`

We have already created a lot of playbooks, so we should continue to use ansible for now.

slack discussion with @luebken : htt

[2021-11-15 13:55] muvaf opened #2704 "Should Crossplane re-create the resources even if the external-name is assigned by the provider"
### What problem are you facing?

Today, if the resource is created successfully we add its ID to `crossplane.io/external-name` annotation and use that identifier through its whole lifecycle. We treat this value as the sole identifier for the resource and do not handle any change there.

If the name is decided by the user, like name of the RDS Instance, then even if you delete the resource in cons

[2021-11-16 04:33] gyliu513 opened #2705 "crossplane and Ansible Integration"
### What problem are you facing?

I want to use Crossplane to deploy some services on VMs, and Ansible may able to help this cases. If crossplane can support ansible, then I can use kuberntes native way to call ansible and run services in VMs.

With above, I can have kind of Hybrid GitOps for both container and VM.

### How could Crossplane help solve your problem?

[2021-11-16 09:55] mcbenjemaa commented on #2700
You can make Argocd ignore aggregated ClusterRoles
by using the following config:

[code]

[2021-11-17 17:45] jbw976 opened #2709 "Getting started docs depend on provider-aws:v0.18.2"
### What happened?

The getting started images for AWS are still depending on an older version of provider-aws.  I suspect this was done because v0.18.2 had a necessary fix in it, but since we've moved on to newer versions, we should remove this exact version constraint.  This work was done in PR https://github.com/crossplane/crossplane/pull/2309.

I believe we could just update the version constr

[2021-11-18 08:29] luebken opened #2711 "Patching Information from Composition into XR/Claim"
### What problem are you facing?

I understand how I can get fields from an MR => XR/Claim: `ToCompositeFieldPath` and from XR/Claim => to MR: `FromCompositeFieldPath`. But how can I get information from my Composition into the XR/Claim?

I have Compositions which are providing a specific property which I would like to propagate into my Claim for consumers of that Claim to see. The current example

[2021-11-18 16:18] MisterMX commented on #2711
Could you patch the value into an MR and then from there into the claim?

[2021-11-18 17:20] luebken commented on #2711
I was sure I tried it before. Well now it works. @MisterMX thanks for the pointer.

I'm adding the value directly as a [label to the MR](https://github.com/luebken/cloud-carbon-crossplane/blob/master/crds/compositions.yaml#L22) and than [patching](https://github.com/luebken/cloud-carbon-crossplane/blob/master/crds/compositions.yaml#L31) it into the XR/Claim.

I'm closing this as I don't have immed

[2021-11-18 19:04] negz commented on #2711
I'd kind of like to keep this open to noodle on the specific use case of propagating labels from a Composition to an XR/Claim. We're not too worried about issues staying open while we stew on them on c/c. :)

[2021-11-19 00:52] tlmcphillips commented on #2000
I've been struggling with this same issue after watching the following video: https://www.youtube.com/watch?v=yrj4lmScKHQ

It's never really covered how you redeploy and update the various bits you deploy using CP and ArgoCD. What you'll end up seeing is that the claims will always flag your claims as not being in sync because they don't exist in the repo. This is not ideal because it goes against

[2021-11-19 01:21] negz commented on #2705
I think you were just beaten to the punch by https://github.com/crossplane/crossplane/issues/2703, so I'm going to close this as a duplicate. :)

[2021-11-19 01:21] #2705 closed

[2021-11-19 01:22] negz commented on #2703
There's nothing planned, but we'd definitely be open to one. I've never personally used Ansible much - does it have an 'API' we can target? Or would the provider be invoking Ansible similar to https://github.com/crossplane-contrib/provider-terraform?

[2021-11-19 01:38] morningspace commented on #2703
Hi @negz @fahedouch We are considering to create an Ansible provider recently as we have exactly the same situation :-) To my knowledge, ansible is a bit different in nature comparing w/ terraform, that's why I think the corresponding provider is a bit different than provider for terraform. I hope I can provide more contents here in the coming weeks!

[2021-11-19 01:41] gyliu513 commented on #2703
With Ansible provider, we can using Kubernetes Native way to run some services in VMs, this can enable us have kind of Hybrid GitOps to run services in boht container and VM.

[2021-11-19 07:23] jbw976 commented on #2711
And just for my own edification @luebken - what you got working patches this data to the XR only - there still isn't currently a way to patch arbitrary fields/values from XR => Claim, right? 🤔

[2021-11-19 09:40] fahedouch commented on #2703
hi @negz thank you for your reactivty. This can smthg like this :

![image](https://user-images.githubusercontent.com/11649303/142600715-270dcce5-d02f-4efc-8040-1be3a8b7449e.png)

Making  an operator to reconcile Ansible playbooks that will be applied by kubernetes ansible module

[2021-11-19 09:52] MisterMX opened #2712 "Conditional Resources in Composition"
### What problem are you facing?

Currently, if you create a claim in Crossplane, a composition is selected and all defined resources are rendered using parameters from the claim. In most cases this works fine and without issues.

However, in some cases we only want to create a resource if a condition is met, i.e. a flag is set by the user or another resource is ready and provides specific info ne

[2021-11-19 10:11] morningspace commented on #2703
@fahedouch Just to clarify the problem domain here. As you mentioned Ansible Operator, which is a solution that has already been exited, we can just use it w/o a need to create a Crossplane provider. The thing is, Ansible Operator is aimed to handle k8s resources using its k8s module, w/ that, all playbooks here are for k8s resources management. On the other hand, what I was assuming originally is

[2021-11-19 10:43] fahedouch commented on #2703
@morningspace  indeed the ideal (and the target) is that the crossplane ansible provider will be able to provision the infrastructure without requesting external crossplane modules (i.e k8s ansible module). But we can start small with a first version  (`alpha`) which consumes k8s ansible module and then we can migrate this module into the crossplane provider.

[2021-11-19 17:21] Feggah commented on #2712
Hey @MisterMX , thanks for raising this issue!

I'm wondering if the current issue #2524 isn't what you are looking for. If so, I think you could input your use case there and close this issue 🙂

[2021-11-19 22:30] s4rd1nh4 commented on #2671
[virtualcluster](https://github.com/kubernetes-sigs/cluster-api-provider-nested/tree/main/virtualcluster) is viable alternative alligned with cluster-api

[2021-11-22 14:13] ulucinar commented on #2649
All branches now contain the OpenAPI aggregated spec lazy marshaling changes. Here are `kind` images for them:
[code]

`kind` has also released an official node image for the `release-1.22` branch:
[code]

[2021-11-22 16:38] hasheddan opened #2714 "Stop publishing images to distinct platform repositories"
### What problem are you facing?

Currently because of the way the [`build` submodule works](https://github.com/upbound/build/blob/fe9b83ff5d071f05520c8601e75ae06d3e456e7e/makelib/image.mk), we build separate `amd64` and `arm64` images, then use the [manifest tool](https://github.com/estesp/manifest-tool) to publish a mutli-arch image. We have switched to using `buildx` in our CI pipelines across

[2021-11-22 18:29] negz commented on #2649
The sig-cli folks ended up merging https://github.com/kubernetes/kubernetes/pull/105520, which bumped up rate limits quite a lot, rather than disabling client-side rate limiting. Specifically:

* The discovery request rate was bumped from 50rps, up from 5.
* The discovery client now allows bursts of up to 300rps, up from 100.

[2021-11-22 18:31] negz commented on #2649
We may want to leave this issue open to track further upstream improvements; notably there's still an appetite to remove the client-side rate limiting (on discovery at least) in kubectl and also to improve how discovery is cached.

[2021-11-22 19:04] negz commented on #2712
As @Feggah alluded to, this functionality is something we explicitly avoided building in favor of 'Custom Compositions' per https://github.com/crossplane/crossplane/issues/2524.

That said, I don't think we're _fundamentally opposed_ to ever adding this functionality into the existing `Composition` type - we'd just need to make sure we felt good about the API and implementation. I like your propos

[2021-11-22 19:07] negz commented on #2703
FWIW we typically don't build providers that wrap existing Kubernetes operators - it's already possible to bring those operators into the Crossplane ecosystem using provider-kubernetes. If we were to build a provider-ansible for Crossplane it would be ideal for it to have as few moving parts as possible between the Crossplane managed resources and the actual invocation of Ansible.

[2021-11-22 19:18] negz commented on #2672
I'm not sure about compatibility with _all of_ `kstatus` - e.g. adding all of the "abnormal true" statuses mentioned at https://github.com/kubernetes-sigs/cli-utils/tree/45a0b5b7e6b292c0a59c899aa50a3662a0c1cf7d/pkg/kstatus#statuses.

That said, if tooling like FluxCD is starting to treat `Ready` as the canonical readiness condition it could make sense to use that everywhere. As @muvaf mentioned we

[2021-11-22 19:21] negz commented on #2693
@RafalMaleska Thanks for raising this. I'm pretty sure this has worked in the past, so I wonder if this is a regression. Could you please supply a full example of an XR and Composition that triggers this bug?

[2021-11-23 09:02] morningspace commented on #2703
Agree w/ @negz. The [Ansible Operator](https://sdk.operatorframework.io/docs/building-operators/ansible/) with [Ansible k8s module](https://docs.ansible.com/ansible/latest/collections/community/kubernetes/k8s_module.html) built into it can support the scenario of managing Kubernetes objects using Ansible quite well. If we want to integrate it into Crossplane, e.g. to use the Crossplane Composition

[2021-11-23 09:15] MisterMX commented on #2712
@Feggah thanks for your input. I'm unsure if #2524 might be overkill for our usecase.

Basically, we would want a resource to be NOT rendered until a condition is met. Like a no-op resource. It would still be part of the composition and listed in the XR.

@negz thanks for your considerations. We actually haven't thought about patches yet but it sounds very interesting.

Do you think we need to enf

[2021-11-24 10:43] muvaf commented on #2649
@negz I think we should close this issue as the problems it's describing are fixed, i.e. clusters and clients do not become unresponsive with too many CRDs anymore. If there are other problems, a new issue that is more specific could make more sense.

[2021-11-25 14:40] luebken commented on #2711
@jbw976 Not sure if I got your question. My current solution is to add the information to the embedded [MR in the Composition](https://github.com/luebken/cloud-carbon-crossplane/blob/master/crds/compositions.yaml#L53 ) as I have full control over the composition. And then afterwards patch these into the XR which then makes these also available in the claim.

[2021-11-26 11:50] #2593 closed

[2021-11-26 13:56] hasheddan opened #2720 "Cut v1.3.3 on November 26, 2021"
### Steps

This issue can be closed when we have:

- [x] Updated all version information in the documentation on the relevant release branch ([link][docs-update-pr]).
- [x] Run the [Tag workflow][tag-workflow] on the relevant release branch with the proper release version ([link][tag]).
- [x] Run the [CI workflow][ci-workflow] on the release branch and verified that the tagged build version exists

[2021-11-26 13:56] hasheddan opened #2721 "Cut v1.4.3 on November 26, 2021"
### Steps

This issue can be closed when we have:

- [x] Updated all version information in the documentation on the relevant release branch ([link][docs-update-pr]).
- [x] Run the [Tag workflow][tag-workflow] on the relevant release branch with the proper release version ([link][tag]).
- [x] Run the [CI workflow][ci-workflow] on the release branch and verified that the tagged build version exists

[2021-11-26 13:56] hasheddan opened #2722 "Cut v1.5.1 on November 26, 2021"
### Steps

This issue can be closed when we have:

- [x] Updated all version information in the documentation on the relevant release branch ([link][docs-update-pr]).
- [x] Run the [Tag workflow][tag-workflow] on the relevant release branch with the proper release version ([link][tag]).
- [x] Run the [CI workflow][ci-workflow] on the release branch and verified that the tagged build version exists

[2021-11-26 19:35] hasheddan commented on #2722
Release is out 👍🏻

[2021-11-26 19:35] #2722 closed

[2021-11-26 19:35] hasheddan commented on #2721
Release is out 👍🏻

[2021-11-26 19:35] #2721 closed

[2021-11-26 19:35] hasheddan commented on #2720
Release is out 👍🏻

[2021-11-26 19:35] #2720 closed

[2021-11-27 15:44] fahedouch commented on #2703
@negz @morningspace what do you think about using `terrajet` to generate a crossplane ansible provider, looks like we have an ansible provider for terraform https://nicholasbering.ca/tools/2018/01/08/introducing-terraform-provider-ansible/ (
I have not yet studied this provider)

[2021-11-29 11:04] morningspace commented on #2703
@fahedouch It looks an interesting idea. I think the reason that terrajet could work is that Crossplane provider model somehow maps to the Terraform provider model, e.g.: both of them have a list of resources which are handled by the corresponding code logic. With that, the provider generated by terrajet can implement the CRUD by delegating calls to Terraform CLI inside.

I haven't got chance to c

[2021-11-29 14:01] morningspace commented on #2703
Did a quick look at https://nicholasbering.ca/tools/2018/01/08/introducing-terraform-provider-ansible/, it looks this is mainly used to generate the hosts dynamically by reading Terraform state, which seems to be a very specific use case.

[2021-11-30 07:48] fahedouch commented on #2703
@morningspace thank you for your feedback! .
I bounce on your previous comment. Can you clarify what you mean by `"modernized" way` ?

[2021-11-30 15:34] fahedouch opened #2730 "add a delete as a verbsSystem to provider ClusterRoles"
### What happened?

Hi folks,

Is there a reason for not giving `delete` permission by default to the provider's system service account [here](https://github.com/crossplane/crossplane/blob/4fc21863b3b71af63bcdcf3c80572a49d4012a22/internal/controller/rbac/provider/roles/roles.go#L55). I think the provider should be able to delete its CRs as well.

I would like to have your feedback before proposing

[2021-11-30 21:46] negz commented on #2730
@fahedouch As far as I'm aware most (or all) providers don't need access to delete their own managed resources. For example provider-aws doesn't contain any logic that would delete a provider-aws MR - instead it responds to MRs being deleted by Crossplane (e.g. because they're part of an XR) or by some other system (kubectl, ArgoCD, etc).

Am I missing a common case where delete would be useful? I

[2021-12-01 00:37] negz commented on #2595
This is merged for Crossplane 1.6 in https://github.com/crossplane/crossplane/pull/2602, but I'm going to keep this open until we have all or most of the major providers switched over:

- [ ] provider-aws
- [ ] provider-azure
- [ ] provider-gcp
- [ ] terrajet
- [ ] provider-sql
- [ ] provider-helm
- [ ] provider-kubernetes
- [ ] provider-terraform

I may not personally get around to all of these b

[2021-12-01 08:17] muvaf commented on #2649
I'm closing this now. Feel free to re-open if you experience described problems in the released versions.

[2021-12-01 08:17] #2649 closed

[2021-12-01 10:49] muvaf opened #2737 "Update provider development guide for provider-template"
### What problem are you facing?

Today you can use [provider-template](https://github.com/crossplane/provider-template) to bootstrap a native provider or use [Terrajet](https://github.com/crossplane-contrib/terrajet/blob/main/docs/generating-a-provider.md) to generate a provider but the [provider development guide](https://github.com/crossplane/crossplane/blob/master/docs/contributing/provider_de

[2021-12-01 15:28] #2714 closed

[2021-12-02 21:14] turkenh commented on #2703
Quite a while ago, I did a POC on generating crossplane providers with Ansible and Operator SDK: https://github.com/turkenh/provider-ansible-gcp

I was mostly focusing to create a provider with one managed resource per one cloud resource. However, the same process could just be used to generate a Crossplane provider for an existing playbook.

[2021-12-03 01:14] morningspace commented on #2703
That's an interesting idea. @turkenh I did a quick look at the POC. It looks it generated an Ansible operator using Operator SDK w/ a set of Ansible playbooks. But it looks it still requires [provider-gcp](https://github.com/crossplane/provider-gcp) to be installed, and the Ansible role/playbook is used to drive provider-gcp to create the key ring.

With that, I was not able to get the point how t

[2021-12-05 17:49] samidbb commented on #2656
I find this feature very useful to control rollout of updates to compositions. But the current implementation will require platform builders to communicate about the changes in compositions which can be implementation specific to the platform. An example could be changing the way of referencing the providerconfig in XRs. I doubt that the consumers will be bothered about such changes in the impleme

[2021-12-05 20:05] fahedouch commented on #2703
thank you @turkenh for sharing your POC. I think it is a good start point. I agree with @morningspace ; I think we should have as little reality as possible outside of Crossplane ansible CRs. in your poc reality is shared between two provider `gcp-provider` and `ansible provider`. But the ansible provider should be the responsible of its reality ans Ansible module should fetch this reality from it

[2021-12-06 12:42] morningspace commented on #2703
@fahedouch This is exactly what I was trying to experiment. Just follow terraform-provider to launch the Terraform workspace from a git repo. In our case, it can be the Ansible playbooks stored in a git repo as well.

[2021-12-06 21:13] muvaf commented on #2656
@samidbb I think that's a pretty good idea. Maybe we can name it `compositionUpdateChannel` similar to GKE's auto-upgrade feature where you can promote `CompositionRevision`s in channels like `stable`, `rapid` etc. The channels would probably be defined on `XRD` in an array of strings and you could mark specific `CompositionRevision`s as the latest one in that channel like you described.

[2021-12-06 23:29] p53 commented on #1871
i think this will be required feature to make it really production ready, first thing when trying out crossplane was to add field to schema to be able to pass new tag to resource from parameters

[2021-12-07 07:28] muvaf commented on #1871
@p53 https://github.com/crossplane/crossplane/pull/1884 is merged and available today.

[2021-12-07 09:08] p53 commented on #1871
@muvaf Note that all versions must (by convention) have identical schemas -> i want to change XRD schema (add field to it) and update XR to use it

[2021-12-07 12:29] turkenh opened #2745 "Helm upgrade to latest master fails due to labeling changes"
### What happened?

Trying to upgrade a Crossplane installation from v1.5.1 to latest master fails with:

[code]

### How can we reproduce it?

[code]

It looks like it is broken after [this PR](https://github.com/crossplane/crossplane/pull/2614).

### What environment did it happen in?
Crossplane version: v1.5.1 -> 1.6.0-rc.0.49.g19186b6c

[2021-12-07 22:07] negz commented on #2656
I think a `compositionRevisionSelector` that can match labels would cover most of @samidbb's use case. We discussed potentially adding that at https://github.com/crossplane/crossplane/issues/2544#issuecomment-950009419.

My thinking is that you could label revisions as `channel: stable` as well as (or instead of) `version: 1.0.0`. That way a particular claim could either a specific version by sett

[2021-12-08 01:07] negz commented on #2672
Conditions are intended to be machine parseable, so renaming would be a breaking change. I think we'd need to add a `Ready` condition in addition to what was already there. @hasheddan do you have any feelings about this WRT the package types? I think they and XRD are the only types that would be affected - there are some other types like `Composition` that don't have _any_ status conditions but th

[2021-12-08 07:41] haarchri commented on #2693
we see this also since we using crossplane 1.5.1

[2021-12-08 11:50] samidbb commented on #2656
The idea about the update channels from @muvaf is a good inspiration and combining it with label techniques using compositionRevisionSelector suggested by @negz can potentially solve my case. It can also provide the flexibility to cover the other use case mentioned in #2544 as well.
- But where in the process you would @negz set these labels? Would you create a new revision with these labels? or s

[2021-12-08 14:48] luebken commented on #2329
With [crossplane-contrib/terrajet](https://github.com/crossplane-contrib/terrajet) we have created a tool that creates Crossplane providers with very low effort based of a Terraform provider. In this case, https://github.com/rancher/terraform-provider-rancher2/.  If someone wants to take a look, please let me know, we are happy to assist.

[2021-12-08 14:51] luebken commented on #267
With [crossplane-contrib/terrajet](https://github.com/crossplane-contrib/terrajet) we have created a tool that creates Crossplane providers with very low effort based of a Terraform provider. In this case, https://github.com/terraform-provider-openstack/terraform-provider-openstack/.  If someone wants to take a look, please let me know, we are happy to assist.

[2021-12-08 20:59] haarchri commented on #2693
at work we had "same" issue that  status of the composite is empty so i created a few test cases - both of them are working - it came out that we had an issue in our composition with required and optional fields...

outcome:

crossplane v1.4.0 and provider-aws v0.21.2  https://github.com/haarchri/crossplane-issue-2693/blob/main/output-1.4.0.yaml#L47

crossplane v1.5.0 and provider-aws v0.21.2 http

[2021-12-08 22:53] haarchri commented on #2698
can you check https://github.com/upbound/platform-ref-aws/blob/main/cluster/eks/composition.yaml#L167

[2021-12-09 08:03] RinkiyaKeDad commented on #2263
Hey @negz sorry for the late response. I tried what you suggested and looks like the fix in this PR is working! These are the results I got after [running](https://crossplane.io/docs/v1.5/getting-started/provision-infrastructure.html#claim-your-infrastructure) `kubectl apply -f https://raw.githubusercontent.com/crossplane/crossplane/release-1.5/docs/snippets/compose/claim-gcp.yaml`:

1. `kubectl g

[2021-12-09 13:29] muvaf commented on #2262
We got to discuss this with @negz and wanted to write down the `Lock` idea; other than listing CRDs with specific labels, package manager can store the list of CRDs in the `Lock` object similar to how it stores `Provider` resources it installed.

[2021-12-09 16:17] elijah-stytch opened #2753 "Imported external resources are deleted regardless of deletionPolicy"
### What happened?

I am trying to migrate some existing external resources (ACM Certificates) to be managed by Crossplane using the `external-name` annotation.

After adding the annotation and setting the `deletionPolicy` to `Orphan`. When I go and delete the Crossplane resource the `deletionPoliy` is not honored and the resource is removed from my external cloud provider.
[code]
The resource is

[2021-12-09 16:22] #2745 closed

[2021-12-09 18:52] elijah-stytch commented on #2753
Closing because the issue ended up being related to the external UI, rather than Crossplane itself.

[2021-12-09 18:52] #2753 closed

[2021-12-09 19:09] fherbert opened #2754 "status.conditions: not an object when referencing array element"
### What happened?
I'm defining the status for my composition as:
[code]

The managed resource gets created and status looks like:

[code]

But the claim resource status never gets updated. The debug log from the crossplane control has:
[code]

### How can we reproduce it?
I used example kubernetes manifest from https://github.com/vfarcic/devops-toolkit-crossplane/blob/master/packages/k8s/aks.yaml

[2021-12-09 19:11] fherbert commented on #2754
@vfarcic cc'ing you in.

[2021-12-10 03:49] jonnylangefeld commented on #2649
@muvaf I just tested the newly merged client update with the increased burst and QPS that was referred by @negz, but I still ran into client side throttling. And that on a cluster with <300 CRDs.
All details on the original upstream PR: https://github.com/kubernetes/kubernetes/pull/105520#issuecomment-990582452

[2021-12-10 07:57] muvaf commented on #2649
@jonnylangefeld thanks for reporting! Either client side or server side throttling is expected during the cache calls but the part that we were interested in fixing was the client becoming unresponsive, i.e. 6mins of wait for a simple `GET` call or timing out. How long does it take for calls to complete in your case?

[2021-12-10 13:08] jeremyspykerman opened #2755 "Provide a bring-your-own ServiceAccount option in the crossplane helm chart"
### What problem are you facing?

The latest version of the helm chart (1.5.1) unconditionally creates a ServiceAccount. I would like to manage the ServiceAccount outside the helm chart, so it would be nice to be able to disable the ServiceAccount creation in the helm chart.

### How could Crossplane help solve your problem?

I intend to create a PR that does what I'm asking for, so I suppose the

[2021-12-10 16:44] hasheddan opened #2757 "Make `spec.controller.image` in `Provider.meta.pkg.crossplane.io` optional and default to self"
### What problem are you facing?

Currently when building a `Provider` package, users must [specify a `spec.controller.image`](https://doc.crds.dev/github.com/crossplane/crossplane/meta.pkg.crossplane.io/Provider/v1@v1.5.1#spec-controller-image), which dictates the image that Crossplane will use when creating the `Deployment` to run its controller. We typically publish two separate images for a `P

[2021-12-10 16:50] muvaf commented on #2757
I think that's a good idea. Though I think the case where you build a separate controller image but forgot about putting its image path to the meta file is a case that we should handle gracefully so that it doesn't take hours to debug why the controller isn't starting.

[2021-12-10 16:51] hasheddan commented on #2502
@chlunde apologies for not seeing this earlier! It would have saved me a fair amount of time. but I eventually caught up to what you had already discovered :) Thanks for pointing this out -- it has been addressed now in https://github.com/crossplane/crossplane/pull/2742

[2021-12-10 16:51] #2502 closed

[2021-12-10 16:55] hasheddan commented on #2757
@muvaf fair point, although I think that is mostly a general problem that we need to address regardless of this issue (e.g. a typo in image reference could cause the same confusion). Ultimately I hope to move towards using separate images less often.

[2021-12-11 23:09] muvaf commented on #2757
I remember we used to do this in stack manager. Is there an observation we made to revert to that behavior?

[2021-12-11 23:13] hasheddan commented on #2757
@muvaf we have theoretically still been able to do that because a Provider could just reference itself, but this makes it less cumbersome :) Next change coming is only caching the package contents so that our cache stays small (you can see how much I had to bump size in PR linked).

[2021-12-11 23:18] muvaf commented on #2757
Yes, but I wondered about why you'd like us to move towards that direction now.

I couldn't find it actually.

[2021-12-11 23:26] hasheddan commented on #2757
Mostly because I am seeing more and more providers spring up and I think a single image could be conceptually easier to reason about.

In the testing section I bumped cache size to 50Mi using `--set`.

[2021-12-12 15:23] hasheddan commented on #2757
@muvaf I don't think we should for the following reasons:
1. There are no known "fat" packages in use today, and making the default size larger for a case that likely will not be employed in the short term is needless overhead.
2. As mentioned above, I intend for the cache to soon selectively store just the package layer, which would mean that the default cache size today would continue to be suit

[2021-12-12 16:18] muvaf commented on #2757
Is this a big undertaking? Does it require package authors to make sure the file is in a given layer or could our package manager select `package.yaml`, regardless of its layer, and cache only that?

I think we're on the same page about choosing what makes sense in the common case and the common case today is to have only CRDs in the package image. Now, we're introducing a new mainstream feature w

[2021-12-12 16:34] hasheddan commented on #2757
It is not a huge undertaking, but the question itself implies the complexity: we could opt to say that the `package.yaml` must be present at the filesystem root but it may exist in any layer, or we could say that the `package.yaml` must be in the root of the lowest layer, but does not necessarily have to be present in the flattened filesystem (i.e. could be removed in a subsequent layer). I tend t

[2021-12-13 00:21] jonnylangefeld commented on #2649
A simple `GET` request via raw API call wasn't the issue before though right? That was always fast. Only if you do a `kubectl get`,  then the discovery cache ran and that is what took long. Here a comparison of the two:
[code]

In the [other post](https://github.com/kubernetes/kubernetes/pull/105520#issuecomment-990582452) I describe how `kubectl get` does 170 requests to the API server if the doe

[2021-12-13 11:44] #2561 closed

[2021-12-13 14:19] vfarcic commented on #2444
We would probably need to add entries to https://github.com/argoproj/argo-cd/tree/master/resource_customizations. The problem is that there must be an entry for each resource. A single provider can have anything between one and hundreds or even thousands of resources. Adding each resource to https://github.com/argoproj/argo-cd/tree/master/resource_customizations or to argocd-cm would result in a c

[2021-12-13 14:35] #2757 closed

[2021-12-14 00:21] apelisse commented on #2649
There are improvements related to this that I'd love to see done @seans3 @justinsb

[2021-12-14 08:07] Zak-Anderson commented on #2329
Thank you @luebken we are busy looking into it, awesome that it is now there

[2021-12-14 19:10] #2263 closed

[2021-12-14 22:05] samidbb opened #2762 "Support multiple XR versions for handling breaking API changes"
### What problem are you facing?
I have a composite resource called XAWSBucket. and when a claim deployed to my cluster it should provision a bucket on AWS in repsonse.

Here is the XRD:
[code]

the composition:
[code]
And the claim:
[code]

Then I decide to rename locationConstraint field to region. And I consider this to be a breaking change because it requires users to change their claim manife

[2021-12-14 22:41] kennedy opened #2763 "AWS Cloud Control API"
Introduced on September 30, 2021, AWS released Cloud Control API that unifies the creation, query and modification of aws resources in a consistent and strict out put format.

https://aws.amazon.com/blogs/aws/announcing-aws-cloud-control-api/

Example in the announcement:

`get-resource`

[code]

`create-resource`

[code]

Here is terraform and pulumi's providers

https://www.hashicorp.com/blog/an

[2021-12-14 23:21] negz opened #2764 "Cut v1.6.0 Release on Jan 4th"
### Steps

This issue can be closed when we have:

- [x] Created the [release branch][release-branch].
- [x] Created and merged an empty commit to the `master` branch ([PR][empty-commit-pr]).
- [x] Run the [Tag workflow][rc-tag-workflow] on the `master` branch with the next release candidate tag ([Tag][rc-tag]).
- [x] Updated the current release version in the [Crossplane docs website repo].
- [x]

[2021-12-15 00:59] negz commented on #2444
@rotemjac to clarify, are you saying that the health of the actual `kind: CustomResourceDefinition` shows up, but the health of the `kind: VPC` (for example) does not?

If so, I wonder if Argo would be open to something like https://github.com/crossplane/crossplane/issues/2672 (if it isn't already - I don't personally use Argo much) - supporting a 'standard' condition to track readiness. All extan

[2021-12-16 00:12] negz commented on #2763
Hi @kennedy, are you asking for us to build a provider that uses Cloud Control, as opposed to our existing provider-aws (ACK based) and provider-jet-aws (Terraform based) implementations? If so, Cloud Control is certainly on our radar.

[2021-12-16 00:17] negz commented on #2762
Thanks for raising this @samidbb! We currently don't _really_ support multiple versions - technically we do but both versions must have identical schemas so it's not very useful. https://github.com/crossplane/crossplane/issues/2608 tracks improving that.

One thing to note is that the way Kubernetes handles multiple versions is sometimes a bit surprising - you wouldn't actually need to delete the

[2021-12-16 09:20] muvaf opened #2769 "Move Terrajet to crossplane org"
### What problem are you facing?

Terrajet is being used by multiple providers now and getting more mature everyday. Moving it to `crossplane` org would make community more comfortable relying on it.

### How could Crossplane help solve your problem?

Move `crossplane-contrib/terrajet` to be `crossplane/terrajet`. We already talked about this with @negz but wanted to formalize it with an issue.

c

[2021-12-16 10:36] arturobrzut opened #2770 "Coexisting two instance of crossplane on one k8s cluster"
### What problem are you facing?
Crossplane CRDs are cluster scope and it required:
 - cluster scope permission on Secrets
 -  cluster scope permission on Crossplane CRDs

And when we have one k8s cluster which is used by two / many customers
(we separate it by namespace )
Each customer has a separate namespace where they can deploy their software.
But when we deploy crossplane then each customer

[2021-12-16 12:18] Feggah commented on #2770
Hey @arturobrzut, thanks for opening this issue!

Crossplane has the division of namespaced/cluster scope CRDs, and it is the XRC/XR respectively.

There is an extensive documentation about them that you can check it out [here](https://crossplane.io/docs/v1.5/concepts/composition.html), but just to give a **horrible** TL;DR:
- XR (`CompositeResource`) is the CRD that platform builders/cluster admi

[2021-12-16 12:20] haarchri opened #2772 "support for `fromConnectionSecretKey` patch"
### What problem are you facing?

we want to have the option to patch in compositions - connectionDetails from one mr to other mr as input
in provider-aws we have a few live examples for it:

- https://github.com/crossplane/provider-aws/issues/955#issuecomment-980136699
- https://github.com/crossplane/provider-aws/pull/966
- use provider-aws Secrets.v1alpha1.secretsmanager.aws.crossplane.io as inp

[2021-12-16 18:31] negz commented on #2360
I'm going to close this as a duplicate of https://github.com/crossplane/crossplane/issues/2444. I believe if we address that issue we'll cover this XRD issue as well (since they use the 'standard' Ready condition).

[2021-12-16 18:31] #2360 closed

[2021-12-16 18:32] vfarcic commented on #2444
According to the docs, Argo CD by default monitors statuses only of Deployment, ReplicaSet, StatefulSet DaemonSet, Ingress, Service, and PersistentVolumeClaim (https://argo-cd.readthedocs.io/en/stable/operator-manual/health/#overview). That means that it ignores any other resource unless defined in https://github.com/argoproj/argo-cd/tree/master/resource_customizations or in a configmap. I guess t

[2021-12-16 18:32] negz commented on #2700
@al-awstest did you get a chance to try @mcbenjemaa's suggestion? I wonder if this is something we could handle with documentation.

[2021-12-16 18:33] negz commented on #2444
That's my suggestion - we and ArgoCD both align on the `Ready` status condition, which is anecdotally common and appears to be a nascent standard per https://github.com/kubernetes-sigs/cli-utils/tree/master/pkg/kstatus.

[2021-12-16 18:35] negz opened #2773 "Crossplane should play nice with ArgoCD"
### What problem are you facing?

There's a lot of overlap between Crossplane and ArgoCD users - we see a lot of folks wanting to use ArgoCD to manage their Crossplane resources. This works in part, but there are several known issues that prevent parts of Argo's/Crossplane's functionality being used together:

- [x] https://github.com/crossplane/crossplane/issues/2121
- [x] https://github.com/cros

[2021-12-16 18:46] negz commented on #2769
@muvaf I'm happy to move this. Could you add an `OWNERS.md` file (see the one in this repo for example) before I do.

https://github.com/crossplane/crossplane/blob/master/GOVERNANCE.md#repository-governance

[2021-12-16 18:51] negz commented on #2770
We're at v1.0 with v1 custom resources, so without comment on whether we would want to, switching them from cluster scoped to namespaced is not something we can do until v2.

As @Feggah calls out, Crossplane is indeed designed such that different customers can use different namespaces within one cluster to manage their infrastructure via namespaced XRCs. @arturobrzut are you using XRCs or XRs?

[2021-12-16 19:25] kennedy commented on #2763
Hello @negz, I wasnt able to find any documentation or discussion about Cloud Control. This ticket was more for starting a discussion about Cloud Control with crossplane.

Im glad its on the roadmap, how can I follow crossplane's plans for that?

[2021-12-16 21:13] muvaf commented on #2769
@negz here is the PR https://github.com/crossplane-contrib/terrajet/pull/180

[2021-12-16 21:18] negz commented on #2769
Thanks! This is now moved - https://github.com/crossplane/terrajet.

[2021-12-16 21:18] #2769 closed

[2021-12-16 21:31] EdgeJ commented on #2690
I've had the same issue.
My composition has the following configuration:
[code]

But when I apply a claim like this:
[code]

The resulting tags are:
[code]

[2021-12-16 21:55] turkenh opened #2774 "Compositions should not contain spec for where/how to write XR credentials"
### What problem are you facing?

This is a follow-up ticket for [this comment](https://github.com/crossplane/crossplane/pull/2494#discussion_r770100375) by @negz in external secret store design.

### How could Crossplane help solve your problem?

Deprecate the existing mechanism (`writeConnectionSecretsToNamespace`/`publishConnectionDetailsToStoreConfigRef`) to decide on where/how to store creden

[2021-12-16 23:48] iAnomaly commented on #1143
Bonus points: allow `writeConnectionSecretToRef`Object to accept an optional map that can be used for customizing the keys which will be ejected into the target Secret. For example:

[code]
I could imagine users preferring the key/value of the map being reversed too. Not sure which way people prefer.

[2021-12-17 16:38] diranged commented on #2712
Just chiming in here. I see Custom Compositions as a great feature down the road, but until its there, the current  Compositions framework leaves much to be desired. The basic premise of conditional resources seems very sane to me within a composition.

In our case, we want to create a `Bucket` resource.. and that `Bucket` resource should take a `Policy` field that has a series of named policies.

[2021-12-17 17:14] al-awstest commented on #2700
Thanks, folks
configuration for ArgoCD suggested by @mcbenjemaa did the trick

[2021-12-17 17:14] #2700 closed

[2021-12-17 21:12] negz commented on #2762
To more directly answer your question - no you're not missing anything. This is just something we don't yet support in Crossplane. We'd like to though. I believe it will be critical.

In the meantime, a workaround would be:

1. Mark the `locationConstraint` field optional and deprecated in your XRD schema (i.e. update the comment to say so).
2. Introduce an identical, optional `region` field.
3. U

[2021-12-18 00:07] negz commented on #2772
Would this have security implications? I know sometimes the connection details we write to a secret aren't necessarily sensitive, but often they are. I wonder if we could address this by ensuring when designing MRs that any non-sensitive connection details are both in the connection secret and in the status of the resource, that way you could patch from the status instead.

[2021-12-20 04:20] jonnylangefeld commented on #2649
I did a bit of digging and found out why the original upstream PR https://github.com/kubernetes/kubernetes/pull/105520 didn't work: https://github.com/kubernetes/kubernetes/pull/105520#issuecomment-997576747.

Maybe give my fix a thumbs up to make `kubectl` more usable again when controllers like crossplane are installed?

It's only one step on the way to at least not always run into rate limits.

[2021-12-20 10:21] luebken opened #2776 "Wrong Warning Message for v1beta1 version of AWS bucket"
### What happened?
I've created a bucket with `v1beta1` version. When I'm listening managed resources it warns me to use `v1beta1` version.

### How can we reproduce it?
[code]

### What environment did it happen in?
[code]

[2021-12-21 11:04] janwillies commented on #2772
I believe there's room for interpretation for certain type of information wether they are sensitive or not. IMO it's best to leave this to the user instead of to the developer of the respective provider.

[2021-12-21 16:03] hasheddan commented on #2776
@luebken this is likely due to using `kubectl get managed` which is looking at a number of resources (all those with `managed` category), some of which have a [deprecation warning](https://github.com/crossplane/provider-aws/blob/f3c65e513b64e6d2dc9a99fef39df7f973753501/apis/ecr/v1alpha1/policy_types.go#L254).

[2021-12-21 16:07] hasheddan opened #2778 "Add a formal specification for xpkg format"
### What problem are you facing?

Crossplane packages (`xpkg`) follow specific format, which imposes additional requirements on the [OCI image specification](https://github.com/opencontainers/image-spec/blob/main/spec.md). However, despite being described in documentation and machinery for building and parsing being provided in `crossplane-runtime`, the exact parameters of the specification are no

[2021-12-21 16:21] luebken commented on #2776
@hasheddan Are you saying `kubectl get managed` is looking at resources which are not installed? In my example, I've just installed the S3 bucket in v1beta1. And in this case I'm confused by this warning.

[2021-12-21 16:47] hasheddan commented on #2776
I am interested as to why it would be trying to list the non-storage version though, and I think the answer might be that there is an [inaccurate deprecation warning](https://github.com/crossplane/provider-aws/blob/942e1836ea2545e04cc902bc4eacd268925a8bec/apis/acmpca/v1beta1/certificateauthoritypermission_types.go#L83) on a type in `provider-aws` that we should remove.

[2021-12-22 09:11] PawelKopel opened #2780 "Vulnerability in dependency `github.com/opencontainers/image-spec`"
### What problem are you facing?

Crossplane has an indirect dependency on `github.com/opencontainers/image-spec` v1.0.1 which was found to have a vulnerability https://github.com/advisories/GHSA-77vh-xpmg-72qh.
### How could Crossplane help solve your problem?

Update libraries depending on `github.com/opencontainers/image-spec` to versions using v1.0.2 of it.

[2021-12-22 09:58] mcbenjemaa opened #2781 "Not able to set imagePullSecrets for rbac-manager"
### What happened?

Since we have some internal clusters without public access, and We have replicated our images to another registry,
We used `imagePullSecrets` in the crossplane serviceaccount, so that the kubelet is able to pull images from the registry..

But, `rbac-manager` uses his standalone serviceaccount `rbac-manager` which in fact doesn't include the option to add `imagePullSecrets`

##

[2021-12-22 14:23] #2781 closed

[2021-12-22 19:13] EdgeJ opened #2784 "Patch a field into multiple arrays"
### What problem are you facing?

There are times where an array of objects have a common data point that is either cumbersome to code by hand, or must be derived from some other place.  A specific example I am working on is creating an S3 BucketPolicy, using the ARN derived from a Bucket created by the same composition:

[code]

In this case, it would be useful to allow users to specify additiona

[2021-12-22 22:45] haarchri opened #2785 "update Guide vault-injection and add provider-aws"
### What problem are you facing?

### How could Crossplane help solve your problem?

update guide https://crossplane.io/docs/v1.5/guides/vault-injection.html for provider-aws

**create policy**
[code]

**create role**
[code]

create vault secret
[code]

controller-config
[code]

[2021-12-22 23:11] hasheddan commented on #2785
@haarchri went ahead and assigned you here as I believe you already have this in progress :)

[2021-12-27 10:28] Duologic commented on #2593
Breadcrumb for those that are on 1.5 and earlier, delete the XRD from your cluster to ensure that `connectionSecretKeys` is updated.

[2021-12-28 15:05] haarchri commented on #2367
any updates here ?

[2021-12-28 19:53] janwillies commented on #2367
IIUC thick images could be used to workaround this issue: https://github.com/crossplane/crossplane/pull/2758

[2021-12-28 20:51] haarchri commented on #2367
@janwillies we looking for injecting the correct annotation for provider-aws IRSA in configurations otherwise we need to setup provider-aws seperat

[2021-12-30 20:18] haarchri commented on #2444
fyi one resource is available in argo: https://github.com/argoproj/argo-cd/pull/4778

[2022-01-03 14:04] luebken opened #2796 "Getting Started Guide in small incremental steps"
### What problem are you facing?
The current [Getting Started Guide](https://crossplane.io/docs/v1.5/getting-started/install-configure.html) is great in providing a minimal set of instructions to get Crossplane up and running. In order to do this, the Getting Started Guide leverages many concepts under the hood and links to further documentation in the "Concepts" and "Reference" section for explan

[2022-01-03 16:59] hasheddan commented on #2764
Currently blocked on #2789

[2022-01-03 20:39] Johnny00520 opened #2799 "Cannot spin up multiple ec2 resources at once"
### What happened?
I'm trying to spin up multiple AWS EC2 resources at once with multiple defined blocks using Composition, but it's always just one EC2 resource spinning up (and it's always the last defined resource).

### How can we reproduce it?

I put the configuration in my public repo, please check
https://github.com/Johnny00520/infra

### What environment did it happen in?
Crossplane versio

[2022-01-03 21:24] #2799 closed

[2022-01-03 21:25] Johnny00520 commented on #2799
Sorry, I realized where my mistake is. Close the issue now

[2022-01-04 01:20] hasheddan opened #2803 "Refactor package parser to accommodate simpler concurrent use of backends"
### What problem are you facing?

Currently the package parser [`Backend` interface](https://github.com/crossplane/crossplane-runtime/blob/d43d510ec5786c455983dede48878b5231de50a8/pkg/parser/parser.go#L162) allows passing additional configuration [via `BackendOptions` in the `Init()` method](https://github.com/crossplane/crossplane-runtime/blob/d43d510ec5786c455983dede48878b5231de50a8/pkg/parser/p

[2022-01-04 01:43] negz commented on #2442
I'm pretty sure we solved this by just deleting the older documentation. https://github.com/crossplane/crossplane.github.io/tree/master/docs now has nothing older than v1.3.

[2022-01-04 01:43] #2442 closed

[2022-01-04 01:44] negz commented on #1828
I believe GitHub now does this for us.

[2022-01-04 01:44] #1828 closed

[2022-01-04 01:52] negz commented on #2764
https://github.com/crossplane/crossplane/pull/2804 should also block this release. https://github.com/crossplane/crossplane/pull/2786 does not block but would be nice to have.

[2022-01-04 02:10] jbw976 commented on #2442
breadcrumbs to further effort required to remove the old pages from google search results: https://github.com/crossplane/crossplane.github.io/issues/107#issuecomment-990338800

[2022-01-04 02:47] negz opened #2805 "`kind.sh` requires explicit `DOCKER_REGISTRY` to be supplied"
### What happened?

I noticed while trying to test something in Crossplane that `kind.sh` is broken. It looks like it depends on the `DOCKER_REGISTRY` variable being output by `make build.vars`, but that variable was removed in 65658e2af2aa49e1cb11c2775cca09e09d00b3eb.

It's possible to work around this by running `DOCKER_REGISTRY=crossplane ./cluster/local/kind.sh helm-install`.

### How can we r

[2022-01-04 02:50] hasheddan commented on #2805
Referencing commit that worked around this in integration tests: https://github.com/crossplane/crossplane/commit/3a40c4faa10f3001ddc47bf8c917239ccd18bad3

[2022-01-04 08:40] samidbb commented on #2762
I couldn't really get it to work unfortunately. What it doesn't work for me is the following:
- I still cannot update deletionPolicy on v1 claims to Orphan. The change does not get propagated to the underlying composite resource. I can see it by describing the bucket and the composite resources
- I cannot delete v1 claims. it just get stuck on deletion request. Then I have to go the other way arou

[2022-01-04 20:26] #2690 closed

[2022-01-05 01:14] negz commented on #2764
I got up to the docs pin PR (https://github.com/crossplane/crossplane/pull/2810) but there's no one around to review right now. I may check back in later and continue the release, otherwise I think it's fine for @muvaf to pick it back up in his morning.

[2022-01-05 01:32] negz commented on #2764
v1.6.0 tag workflow: https://github.com/crossplane/crossplane/actions/runs/1656367214

[2022-01-05 01:32] negz commented on #2764
v1.6.0 CI workflow: https://github.com/crossplane/crossplane/actions/runs/1656368587

[2022-01-05 01:33] negz commented on #2764
v1.6.0 configurations workflow: https://github.com/crossplane/crossplane/actions/runs/1656369777

[2022-01-05 01:35] negz commented on #2764
Configurations:

* https://cloud.upbound.io/registry/xp/getting-started-with-aws-with-vpc/v1.6.0
* https://cloud.upbound.io/registry/xp/getting-started-with-aws/v1.6.0
* * https://cloud.upbound.io/registry/xp/getting-started-with-gcp/v1.6.0
* * https://cloud.upbound.io/registry/xp/getting-started-with-azure/v1.6.0

[2022-01-05 01:56] negz commented on #2764
Releases:

* https://releases.crossplane.io/build/release-1.6/v1.6.0/
* https://releases.crossplane.io/stable/v1.6.0/

[2022-01-05 02:27] negz commented on #2764
New release: https://github.com/crossplane/crossplane/releases/tag/v1.6.0

[2022-01-05 02:43] negz commented on #2764
Slack announcement: https://crossplane.slack.com/archives/CEFQCGW1H/p1641350585127700

[2022-01-05 14:58] betoui opened #2815 "KMS key and alias do not work when applied at the same time"
### What happened?
When I apply a key and its alias in the same file or in two different files at the same time

The examples below work fine when applied sequentially (key first, alias second)

When applied at the same time it looks like `targetKeyIdRef` is treated like the `keyId` and crossplane cannot find it.

[code]

I tried a few different things including restarting the provider but nothing

[2022-01-05 15:38] haarchri commented on #2815
we will check the issue here. https://github.com/crossplane/provider-aws/issues/1049

[2022-01-05 15:38] #2815 closed

[2022-01-06 00:29] muvaf commented on #2764
Thank you @negz !

[2022-01-06 00:29] #2764 closed

[2022-01-06 21:33] negz opened #2825 "Panic when running Crossplane with `--enable-composition-revisions`"
### What happened?

Crossplane crashes when the alpha Composition Revisions feature is enabled:

[code]

### How can we reproduce it?

See above

### What environment did it happen in?
Crossplane version: v1.6.0

[2022-01-06 22:18] negz opened #2828 "Cut v1.6.1 on Jan 6, 2022"
I'd like to release v1.6.1 in order to fix https://github.com/crossplane/crossplane/pull/2827, which causes Crossplane to panic on start when an alpha feature is enabled.

This issue can be closed when we have completed the following steps (in order). Please ensure all artifacts (PRs, workflow runs, Tweets, etc) are linked from this issue for posterity. Refer to this [prior release issue][release-

[2022-01-06 22:46] negz commented on #2828
Workflows:

* Tag: https://github.com/crossplane/crossplane/runs/4732999446?check_suite_focus=true
* CI: https://github.com/crossplane/crossplane/actions/runs/1665216474
* Configs: https://github.com/crossplane/crossplane/actions/runs/1665217964

[2022-01-06 23:40] negz commented on #2828
* https://releases.crossplane.io/build/release-1.6/v1.6.1/
* https://cloud.upbound.io/registry/xp/getting-started-with-aws-with-vpc/v1.6.1
* https://cloud.upbound.io/registry/xp/getting-started-with-aws/v1.6.1
* https://cloud.upbound.io/registry/xp/getting-started-with-gcp/v1.6.1
* https://cloud.upbound.io/registry/xp/getting-started-with-azure/v1.6.1

[2022-01-06 23:44] negz commented on #2828
Promote:

* Workflow: https://github.com/crossplane/crossplane/actions/runs/1665379350
* Artifacts: https://releases.crossplane.io/stable/v1.6.1/

[2022-01-06 23:48] negz commented on #2828
https://github.com/crossplane/crossplane/releases/tag/v1.6.1

[2022-01-06 23:55] negz commented on #2828
I don't really think we need to tweet about this patch release so I'm going to close this issue out.

[2022-01-06 23:55] #2828 closed

[2022-01-07 21:59] negz commented on #2762
@samidbb I'm not following. Are you seeing the two issues you reported when you create an XRD with two identical schemas? As I mentioned above, we don't support multiple different schemas yet per https://github.com/crossplane/crossplane/issues/2608. My most recent comment was suggesting a way to achieve the change you want to make in a backward compatible way so you can do so without introducing a

[2022-01-07 22:58] negz commented on #2262
Dropping another note here - while there are many other ways to skin this cat, I could see an MRD being a good place to add additional Crossplane specific metadata about a type - for example mapping a kind like `MySQLInstance` to a human readable friendly name like "MySQL Instance".

[2022-01-07 23:24] #2778 closed

[2022-01-08 13:00] ArunRamakani opened #2836 "CompositionRevision does not work when Composition has a Map transform"
Crossplane Version 1.6.1

Issue: CompositionRevision does not work when Composition has a Map transform

Logs Info: Map transform expects a string but it should be an object

[code]

[2022-01-11 17:32] ArunRamakani commented on #2836
Below is the Composition

apiVersion: apiextensions.crossplane.io/v1
kind: Composition
metadata:
  name: mysql
  labels:
    crossplane.io/xrd: xgcpdbs.alpha-beta.imarunrk.com
spec:
  compositeTypeRef:
    apiVersion: alpha-beta.imarunrk.com/v1
    kind: XGCPdb
  writeConnectionSecretsToNamespace: crossplane-system
  resources:
  - name: cloudsqlinstance
    base:
      apiVersion: database.gcp.cr

[2022-01-11 17:33] ArunRamakani commented on #2836
The XRD

apiVersion: apiextensions.crossplane.io/v1
kind: CompositeResourceDefinition
metadata:
  name: xgcpdbs.alpha-beta.imarunrk.com
spec:
  group: alpha-beta.imarunrk.com
  names:
    kind: XGCPdb
    plural: xgcpdbs
  claimNames:
    kind: GCPdb
    plural: gcpdbs
  versions:
  - name: v1
    served: true
    referenceable: true
    schema:
      openAPIV3Schema:
        type: object

[2022-01-12 16:34] mcbenjemaa opened #2839 "Crossplane v1.6.1 not able to handle package deployments"
### What happened?

Updating to `1.6.1` makes crossplane not able to handle new package deployments (providers, configurations).
No information in the describe mode, events, and no `pkgrev`
no logs even in debug mode!

Although, it was working in `1.5.1` once updating to `1.6.1` the packages are being marked as unhealthy and could not handle any new packages..

same applies when using public pkg e

[2022-01-12 17:09] madhureddy08 opened #2840 "unable to re-install crossplane with master branch"
When I am trying to re-install crossplane with the latest version it is failing at the pod initializing status

[code]

[code]

[2022-01-12 17:19] hasheddan commented on #2840
@madhureddy08 Thanks for reporting! What command did you use to install? You should be able to get some logs off of the init container.

[2022-01-12 17:38] madhureddy08 commented on #2840
I have used kubectl

create namespace crossplane-system
helm install crossplane --namespace crossplane-system crossplane-master/crossplane

[code]

[2022-01-12 19:30] haarchri commented on #2840
since v1.6.0 we removed this v1beta1 API - did you checked the Release notes to Change to v1 API ?

[2022-01-12 19:59] madhureddy08 commented on #2840
I've completely uninstalled and trying to re-install it.

[2022-01-13 00:56] hasheddan commented on #2839
Thank you for the detailed write up @mcbenjemaa! This is likely due to https://github.com/crossplane/crossplane/pull/2559, which re-enabled the k8s credentials providers for pulling images. This was previously disabled because it was causing issues in environments where a proxy was used, but was re-enabled because users needed the ability to pull images using mechanisms such as IRSA on AWS. The is

[2022-01-13 07:00] shailsirohi commented on #2772
I believe there is perhaps a possibility to generalize this by allowing patching from any kubernetes secret. One of the use case we have right now:
We are using central cred store for maintaining all secrets and don't want to store any secrets in git. The secrets are synced inside namespace using a custom operator. This means for a RDS instance, a secret is created first in the cred store for data

[2022-01-13 09:47] hferentschik commented on #2772
This is exactly what I am looking for as well. My use case is the following. I want to create and manage multiple GKE clusters via Crossplane. I also want to create for each cluster a CloudSQLInstance. It's pretty easy to achieve the above with Crossplane and a composite, however, the connection secret for the DB then lives on the Crossplane cluster. I need to mirror/sync it into the corresponding

[2022-01-13 10:09] shailsirohi commented on #2772
Yes and this can further enable daisy chaining of multiple managed resources inside composition (i.e output field of 1 mr becomes input of another mr) and simplify provider creation. Currently, the dependency between 2 managed resources has to be defined explicitly inside the provider. Allowing this field will be a more flexible way of chaining managed resources together and avoid opinionated depe

[2022-01-13 10:18] shailsirohi commented on #2772
Yes @haarchri did point to the chat in slack channel.. our use case is little more than that. For example: we also have requirements where the input spec of a mr is derived from a secret. For example: UAA tenant (custom provider) instance creation requires users to provide the creds they would like to apply beforehand.
Regarding security implications pointed by @negz , in a central control plane m

[2022-01-13 10:21] hferentschik commented on #2772
Agreed.

Ideally, one would patch between managed resources directly. ATM, you need to make the detour via the XR status. It kind of works, but for secrets, it is really a no go.

I am wondering why patching atm is only allowed from and to the XR? Is this a design decision or are there technical reasons as well? I would love to hear what someone with a better understanding of the inner workings of

[2022-01-13 13:45] #2805 closed

[2022-01-13 14:08] andrealmar opened #2843 "Cannot delete CloudSQLInstance object with SYNC=FAILED"
### What happened?

Hi,

I've got this managed resource:
[code]

Got this Cloud SQL Instance object:
[code]

Note that `SYNCED` = `FALSE`

Because of that I'm not able to delete the CRD or the Cloud SQL Instance object. How can I solve this problem?

I've tried:

[code]

also tried:

[code]

but it stucks forever and delete of the resource never happens.

If I go to my Cloud Console it shows no in

[2022-01-13 15:16] andrealmar commented on #2843
Found the solution:

[code]

Note the `Message:               cannot determine creation result - remove the crossplane.io/external-create-pending annotation if it is safe to proceed`

What I did:

[code]

Then

[code]

Finally the CloudSQLInstance object is deleted 🙌

Thanks for the "rubber duck debugging" ;)

[2022-01-13 15:16] #2843 closed

[2022-01-17 10:09] ONordander commented on #2295
Hi, could we get any information from maintainers regarding this?
Having the ability to specify the ServiceAccount and get the correct RBAC settings would really help our usecase.

[2022-01-18 18:23] madhureddy08 commented on #2840
Hi @haarchri  Issue has been resolved and I am able to download the latest version.
Thanks for your time and really appreciate your help.

[2022-01-18 18:23] #2840 closed

[2022-01-18 18:27] haarchri commented on #2840
for everyone else check for old compositions / CRDs If you cleanup old releases

[2022-01-18 20:34] haarchri commented on #2772
interesting PR in crossplane eco-system in provider-kubernetes regarding this topic...
 https://github.com/crossplane-contrib/provider-kubernetes/pull/21/files

[2022-01-20 02:05] hawkesnc commented on #1698
Not sure this issue is relevant anymore since the doc it's referring to (v0.12) and this link: https://crossplane.github.io/docs/v0.12/reference/overview.html doesn't work

[2022-01-20 08:27] cahan1013 commented on #2836
i met the same problem here:
Warning  CreateRevision  38s (x7 over 6m38s)  revisions/composition.apiextensions.crossplane.io  (combined from similar events): CompositionRevision.apiextensions.crossplane.io "amazon-eks-cluster-g4k86" is invalid: spec.resources.patches.transforms.map.Pairs: Invalid value: "object": spec.resources.patches.transforms.map.Pairs in body must be of type string: "object"

[2022-01-20 10:21] MisterMX opened #2849 "ConfigurationRevision: cannot establish control of object: context deadline exceeded"
### What happened?

Crossplane runs into a timeout when reconciling a `ConfigurationRevision`:

[code]

### How can we reproduce it?

We don't have a clear way of reproducing it, but it might be a scaling issue.

Our configuration package contains roundabout 30 compositions and as XRDs. In addition, we have about 800 composite resources and 250 CRDs installed on our cluster.

### What environment

[2022-01-20 10:54] MisterMX opened #2850 "Add SYNCED status column to XRC and XR"
### What problem are you facing?

Currently Crossplane adds a `READY` column to a XRC and XR that is either `True` or `False` depending on the state of the managed resources:

[code]

However, it is difficult to distinguish between MR and composition issues without looking inside the XRC or XR. This can be especially troublesome if you have a lot of XRCs.

### How could Crossplane help solve your

[2022-01-20 13:04] muvaf opened #2851 "Implementation of webhook one-pager"
### What problem are you facing?

Tracking implementation of https://github.com/crossplane/crossplane/issues/1152

### How could Crossplane help solve your problem?

We should implement the final design decided in https://github.com/crossplane/crossplane/issues/1152

[2022-01-21 00:10] #2839 closed

[2022-01-21 10:12] hferentschik commented on #1895
Sure, one can use the Release `set` approach and `valueFrom.secretKeyRef` to inject the secret value. However that IMO just shifts the problem. How do I generate the value for the references secret then? Then I would like to have the _ randomString_ function and use it in conjunction with the Kubernetes provider to generate a _Secret_ with a random password.

I think it comes down to the use case.

[2022-01-21 15:40] MisterMX commented on #2836
We experience the same issue.

I think the reason is that `CompositionsRevision`'s `MapTransform` is missing the `UnmarshalJSON` method: https://github.com/crossplane/crossplane/blob/41bcc71c7703e33e5bd51dd1852fd620269313f2/apis/apiextensions/v1/composition_transforms.go#L154

That's just a guess, though. I wasn't able to test it.

[2022-01-21 18:35] luebken opened #2853 "Can't install provider via the CLI"
### What happened?
I wasn't able to install provider-aws on a fresh system:
[code]
I was able to install the provider with:
[code]
[code]

### What environment did it happen in?
Crossplane version:
[code]

[2022-01-21 18:38] hasheddan commented on #2853
@luebken what version of the CLI are you using (`kubectl crossplane -v`)? Older versions of the CLI may try to install a `v1beta1` `Provider`, which was [removed in `v1.6.0`](https://github.com/crossplane/crossplane/releases/tag/v1.6.0).

[2022-01-21 18:45] luebken commented on #2853
Confirmed. After upgrading to `v1.6.1` it worked again.

Thanks @hasheddan

[2022-01-21 18:45] #2853 closed

[2022-01-21 18:46] hasheddan commented on #2853
Awesome -- sure thing :)

[2022-01-21 19:38] erikgb commented on #2444
I do (no surprise) agree with @negz, and think everyone will gain on adoption some kind of standard regarding this. And the upstream [kstatus](https://github.com/kubernetes-sigs/cli-utils/blob/master/pkg/kstatus) is the best available IMO. I am not personally using ArgoCD, at least not ATM, but I suggest opening an issue there for supporting kstatus for health assessement.

It would we nice if we

[2022-01-21 19:42] erikgb commented on #2672
To not break compatibility, I'll suggest adding a `Ready` condition with the same semantics as `Healthy` - at least for now. A cleanup might be considered for Crossplane 2.x. 😉 And also add an `observedGeneration` field to the status of all Crossplane resources. WDYT?

[2022-01-21 20:42] empath-nirvana commented on #2121
The problem is actually:

1) Argocd adds an annotation to every resource it creates directly.
2) If a resource isn't in the manifest source that argo is syncing from, but does have an annotation, argo assumes that it was installed by argo, but it no longer is desired, so it wants to prune it.
3) Crossplane is propogating annotations to resources it creates, including argocd annotations.
4) Argo wa

[2022-01-23 15:49] hasheddan opened #2854 "Cut v1.6.2 on January 25, 2022"
This issue can be closed when we have completed the following steps (in order).
Please ensure all artifacts (PRs, workflow runs, Tweets, etc) are linked from
this issue for posterity. Refer to this [prior release issue][release-1.6] for
examples of each step.

- [x] Updated all version information in the documentation on the relevant release branch.
- [x] Run the [Tag workflow][tag-workflow] on th

[2022-01-24 09:25] clive-jevons opened #2855 "provider-aks does not add endpoint information in DBInstance output secret"
### What happened?

When provisioning a AWS RDS DBInstance, the output secret only contains the credentials and not the endpoint information in the output secret.

### How can we reproduce it?

Provision a DBInstance to AWS and check the output secret.

### What environment did it happen in?
Crossplane version:

crossplane v1.6.1
provider-aws-controller v0.23.0-rc.0.57.g96a15aa7

[2022-01-24 09:27] clive-jevons commented on #2855
Sorry - wrong repo - will move to provider-aws repo instead.

[2022-01-24 09:27] #2855 closed

[2022-01-24 15:05] hasheddan commented on #2849
@MisterMX was the event listed above the only one surfaced on the `ConfigurationRevision`?

[2022-01-24 16:31] maltejk opened #2857 "sha256 checksum verification missing"
I feel the checksum should be validated after downloading.

https://github.com/crossplane/crossplane/blob/41bcc71c7703e33e5bd51dd1852fd620269313f2/install.sh#L65

FYI @haarchri

[2022-01-25 09:04] MisterMX commented on #2235
FYI: I uses `go-mock` to mock the client in `eks.addon` tests:

https://github.com/crossplane/provider-aws/blob/134596c10049c7ccdc2887a3192e60095ad3d35e/pkg/controller/eks/addon/setup_test.go#L110

`go-mock` is used more extensively by us in `provider-styra` where we've also added a `go:generate` directive to generate the client during `make generate`:

https://github.com/crossplane-contrib/provid

[2022-01-25 18:58] cdenneen commented on #2561
@hasheddan I upgraded to v1.6.1 and was curious do I need to have the secret in different format for it to work?

[code]

[2022-01-25 19:11] hasheddan commented on #2561
@cdenneen was this working prior to upgrade and what version were you coming from? We have a patch coming out due to some issues that this change introduced, but I haven't heard anyone report the behavior you are showing here.

If you want to try out the coming patch and see if that addresses the issue you can install with:

[code]

[2022-01-25 19:58] hasheddan commented on #2561
@cdenneen confirmed in Slack that this also wasn't supported in `v1.4.1`, which was the previous version. I have suggested using [explicit credentials](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-secret-by-providing-credentials-on-the-command-line) rather than the [docker config](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-

[2022-01-26 12:25] hasheddan commented on #2854
Docs update: https://github.com/crossplane/crossplane/pull/2858

[2022-01-26 12:27] hasheddan commented on #2854
Tag Workflow: https://github.com/crossplane/crossplane/actions/runs/1750752226
Tag: https://github.com/crossplane/crossplane/releases/tag/v1.6.2

[2022-01-26 12:46] hasheddan commented on #2854
CI Workflow: https://github.com/crossplane/crossplane/actions/runs/1750759893
Build: https://releases.crossplane.io/build/release-1.6/v1.6.2/

Configurations Workflow: https://github.com/crossplane/crossplane/actions/runs/1750762024
Configurations:
- https://cloud.upbound.io/registry/xp/getting-started-with-aws/v1.6.2
- https://cloud.upbound.io/registry/xp/getting-started-with-aws-with-vpc/v1.6.2

[2022-01-26 14:21] hasheddan commented on #2854
Promote Workflow: https://github.com/crossplane/crossplane/actions/runs/1751241567
Build on `stable`: https://releases.crossplane.io/stable/v1.6.2/

[2022-01-26 14:55] hasheddan commented on #2854
Tweet: https://twitter.com/crossplane_io/status/1486348919823085574
Slack: https://crossplane.slack.com/archives/CEFQCGW1H/p1643207707678029

[2022-01-26 14:55] hasheddan commented on #2854
Releases Table Update: https://github.com/crossplane/crossplane/pull/2859

[2022-01-26 15:02] hasheddan commented on #2854
Release is complete! 🎉

[2022-01-26 15:02] #2854 closed

[2022-01-26 16:55] mcbenjemaa opened #2860 "Custom Provider proposal"
### What problem are you facing?

No supports for certain internal applications.

### How could Crossplane help solve your problem?

####  CustomProvider

The idea I Have is to somehow generate a resource definition from an OPENAPI spec!
In my current project, we are leveraging crossplane to build a control plane to provide a multi-tenant environments.

We always have the issue of not having suppo

[2022-01-26 16:58] hasheddan commented on #2860
Thanks for opening this @mcbenjemaa! A lot of the ideas here appear aligned with [crisscross](https://github.com/crossplane-contrib/crisscross). Have you given that a look yet?

[2022-01-26 19:59] cdenneen opened #2861 "Import Existing vpc forProvider.vpc-cidrBlock object"
Currently the vpc forProvider.vpc-cidrBlock object requires `string` but I have a vpc I'm trying to import that has 3 cidrBlocks associated with it.

The `From Provider` show the proper 3 cidrs, dhcp-options, owner, etc so it's importing properly it seems however since the `forProvider.vpc-cidrBlock` doesn't seem to match I'm getting error:

[code]

Is there a way to set the `forProvider.vpc-cidrB

[2022-01-27 07:06] chlunde commented on #2849
I found another workaround after playing around, I bumped --max-reconcile-rate to 30 (or 100, not sure which one had effect). I also had set GOMAXPROCS=2 (although that probably had no effect), CPU limit at 1000m (again, probably not needed)

[2022-01-27 07:21] ulucinar opened #2862 "External Names with both Cloud Provider & User Assigned Parts"
### What problem are you facing?

While working with the [Terrajet](https://github.com/crossplane/terrajet)-based MongoDB Atlas [provider](https://github.com/crossplane-contrib/provider-jet-mongodbatlas), we have encountered resources whose persistent IDs are composed of both a Cloud-provider assigned part and a user assigned part. For example, for the [`mongodbatlas_advanced_cluster`](https://reg

[2022-01-27 08:57] muvaf opened #2863 "GH Action to scan report breaking changes in CRD schemas"
### What problem are you facing?

As Crossplane ecosystem expands, it's not unusual anymore to have 100s of CRDs in a provider. A big part of this is thanks to code generation tooling we've been building. However, the changes we make with those tools may result in thousands of lines of changes and it's hard to tell whether there is a breaking change in a CRD in those PRs.

### How could Crossplane

[2022-01-27 14:16] mcbenjemaa commented on #2860
Nice!

In theory, it is reasonable for me to submit an openAPI spec, then a controller could translate it to crossplane managed resources, without any middleware or further efforts for building a provider.
i.e. the openapi spec is the source of truth.

Some large organization have many internal services, most commonly are API driven, and it's literally a lot of efforts to add supports for those se

[2022-01-27 14:39] muvaf opened #2864 "Do not proceed with package upgrade if there are breaking changes that can affect existing CR instances"
### What problem are you facing?

There are cases where users upgrade to a new version of the provider but that version of the provider has breaking changes that affect existing instances that are not handled with multiple versions (with or without webhooks); either because by mistake or the resources were alpha level meaning there is [no guarantee](https://kubernetes.io/docs/reference/using-api/#

[2022-01-27 14:52] hasheddan commented on #2864
Noting here from offline conversation that the following:

Is how the package manager behaves today 👍🏻 We first run to [dry run update](https://github.com/crossplane/crossplane/blob/e29ac40e71f7ed2b3e74f204596cbdd71e8aecb3/internal/controller/pkg/revision/establisher.go#L123) all resources before proceeding with install, which is what is causing the error to surface here. @muvaf made a good point

[2022-01-27 15:14] muvaf opened #2865 "Should packages handle skipping versions during an upgrade?"
### What problem are you facing?

Today, if you upgrade a provider from `v0.5.0` to `v0.9.0`, the package manager will dry-run CRD updates and proceed with the upgrade. However, if there are breaking changes, developers might have opted to support from migration to one version to another only, i.e. there is a utility in `v0.8.0` for migration but it assumes the earlier version is `v0.7.0`. You can

[2022-01-27 15:17] muvaf commented on #2864
@hasheddan thanks for the clarification! I think even prefixing the error with something like `dry run has failed:` would go a long way here.

[2022-01-27 15:32] fsniper commented on #2865
As @muvaf points out, Second level from 3rd option is a better UX from the perspective of a Crossplane user.
At the cost of more work on provider developers for upgrades (which is a good thing(c) )

[2022-01-27 16:25] yogeek commented on #2099
As explained in a [Slack discussion](https://crossplane.slack.com/archives/CEG3T90A1/p1643291515172669) with @muvaf, it seems that this proposition could help with the following use case :

When a Crossplane resource depends on a piece of infrastructure managed by Kubernetes (e.g. a `LoadBalancer` type K8S service that manages an AWS NetworkLoadBalancer), it would be very useful if Crossplane coul

[2022-01-27 17:03] yogeek commented on #2099
Following the research after my previous comment, I saw this syntax in the kubernetes crossplane provider : https://github.com/crossplane-contrib/provider-kubernetes/blob/main/examples/in-composition/composition.yaml#L162

Is this possible only because the Service is part of the Crossplane Helm `Release` or would it be possible for every K8S resources ...? (even the one not managed by Crossplane)

[2022-01-27 18:09] negz commented on #2524
I'm adding this to the v1.7 release, which is due EOM. It's perhaps a little bit of a stretch to have an alpha implementation by that time, but I think it's possible.

[2022-01-27 18:10] negz commented on #2366
@turkenh What do you think about adding this to the v1.7 project board? That would mean we're aiming to ship an alpha implementation by late March. I'm going to optimistically add it, but you're welcome to push back if you think that's unreasonable.

[2022-01-27 18:12] negz commented on #2568
I'm going to close this out (but keep https://github.com/crossplane/crossplane/issues/2595), since I think the testing leading up to this is pretty much wrapped up.

[2022-01-27 18:12] #2568 closed

[2022-01-27 18:30] negz commented on #2865
What are some examples of the breaking changes we're discussing here? Are these all around alpha APIs, or are they affecting v1beta1 and above APIs?

[2022-01-27 20:32] turkenh commented on #2366
That sounds good to me @negz!

[2022-01-28 02:44] shailsirohi commented on #2411
Hi - Let me start by mentioning I am very new to crossplane. So, may have some gaps in my understanding.

This is a similar use case that we are struggling with. We are creating a central multi-tenant control plane where application teams will be onboarded. EKS Namespace as isolation mechanisms between teams. App teams will only be able to add claims and not clustered scope objects and provider co

[2022-01-28 04:33] muvaf commented on #2865
@negz This is a recent [example](https://github.com/crossplane/crossplane/issues/2864#issue-1116296771) where `v1alpha1` was completely dropped from the CRD, hence breaking the upgrade.

[2022-01-28 06:36] muvaf opened #2866 "A page in crossplane.io about Terrajet project"
### What problem are you facing?

We have [announced](https://blog.crossplane.io/announcing-terrajet/) the Terrajet project and people ask very similar questions in different forums but we usually end up referring to the design doc or provider strategy doc, which are not very consumable for quick questions and high level overviews.

### How could Crossplane help solve your problem?

We can have a

[2022-01-28 09:48] samidbb commented on #1612
Is there any plans to progress on solving this issue? I've found a challenge with this when trying to delete cloudfront distribution resources using claims. The claim and the composite resources will be deleted but the managed resource is still running in k8s with a sync error. The user will think that the resource have been deleted on AWS and everything is fine while in fact there is an error in

[2022-01-28 15:18] mvaal opened #2869 "Add ability to disable certain CRDs on installation."
Edit from @negz:

[code]

**If you're finding this issue because you're seeing messages like the above when you run kubectl please make sure you're using the latest version of kubectl - i.e. 1.25.0 or above.** Similarly, other tools built against client-go 0.25.0 or above should not experience these issues that are due to overly aggressive client-side rate limits.

Original issue follows below.

-

[2022-01-28 16:50] kferrone opened #2867 "Composition Stability Issues"
### What happened?

I have a repository with a number of compositions creating AWS resources. Some compositions have become increasingly advanced. My overall main issue with the compositions is the absolute lack of any logs, errors, or events. When issues arise for me in the compositions, they simply do nothing, say nothing, and get stuck with condition ready false. It's currently impossible to si

[2022-01-29 02:49] hasheddan commented on #1143
The new [`xpkg` specification](https://github.com/crossplane/crossplane/blob/master/docs/reference/xpkg.md#object-annotations) defines support for object annotations, which could be a great fit here. Would want to make sure we had support for generating these annotations on CRDs in all providers from comment tags, likely using https://github.com/crossplane/crossplane-tools.

[2022-01-29 07:03] muvaf commented on #2869
@mvaal I have transferred the issue to core crossplane.

@liubog2008 opened https://github.com/crossplane/provider-aws/pull/1076 to do this for controllers, I think consolidating the whole discussion in this issue would be more helpful. I've [answered](https://github.com/crossplane/provider-aws/pull/1076#issuecomment-1017162860) why we didn't do it for Jet-based providers which have way more CRDs.

[2022-01-29 07:34] muvaf commented on #1612
You can configure the behavior with a flag when you delete the composite resource but I don't think this is the case for claim since we don't have ownership relation there. The controller just makes sure that the composite resource gets the deletion call before removing the finalizer on claim.

I think the behavior is in line with how most of k8s resources work, for example when you delete `Deploy

[2022-01-29 07:47] muvaf commented on #1895
What I meant was we could possibly solve the problem on managed resource level. You can have [a toggle](https://github.com/crossplane/provider-aws/blob/2b8d7c5/apis/rds/v1alpha1/custom_types.go#L167) where the controller generates and stores the password in the empty input secret you provided.

[2022-01-29 08:34] muvaf commented on #1143
We could possibly define a set of well-known comment markers and process them in angryjet to patch the generated CRDs with those as annotations. I looked up kubebuilder but couldn't find any marker that will let you annotate the CRD.

[2022-01-29 08:35] muvaf commented on #2867
Don't events on composite resoure (XR) help? I think that reports what is rendered or not.

[2022-01-30 04:57] rytswd commented on #2712
I have asked about the conditional resource creation support in Slack, and thought about this a bit more in detail.
Ref: https://crossplane.slack.com/archives/CEG3T90A1/p1643401499611699

I find there are a couple of use cases where this conditional resource creation would benefit the community.

### 1. Environment specific requirements

The original question I had was about how to disable creatin

[2022-01-30 15:54] mvaal commented on #2869
You pretty much nailed it. We are using OPA, but we would rather just not worry about the unused resources at all and add them when required.
As for the throttling issue, its mostly in reference to this: https://github.com/kubernetes/kubectl/issues/1126
They are already talking about crossplane in that thread as well.

[2022-01-31 10:51] hferentschik commented on #1895
Are you suggesting a dedicated Crossplane specific resource, something like _pgk.crossplane.io.Password_? Provided one can then patch the secret value (which might not work until there is a way to patch between any kind of objects) this could work.

[2022-01-31 13:42] luebken opened #2870 "Rendered CRD from an XRD is not getting recreated after deletion"
### What happened?

I've created the following simple XRD:
[code]
which successfully rendered two CRDs:
[code]
afterwards, I've deleted one CRD:
[code]
and was expecting that it would be rerendered / recreated but it wasn't:

[code]

### How can we reproduce it?

See above

### What environment did it happen in?
Crossplane version: crossplane-1.6.1

[2022-01-31 13:44] luebken commented on #2870
Might have been a mistake. Re-invastigating.

[2022-01-31 13:44] #2870 closed

[2022-01-31 15:38] kferrone commented on #2867
There are no Events on XR resources when there is an issue for me. I would love to get events from them. The status never shows up either. Last time I experienced this was because one single word was misspelled. Absolutely nothing happens, then I correct mistake and like magic everything appears immediately with events and statuses and all. This makes debugging extremely tedious and error prone be

[2022-01-31 15:45] muvaf commented on #2867
That's interesting. We get such reports when people confuse claim with composite because claims don't get the events but composites do. We [record an event](https://github.com/crossplane/crossplane/blob/a0daaea/internal/controller/apiextensions/composite/reconciler.go#L475) if we couldn't render, which includes dry-run call. Then if the actual creation fails, we [record](https://github.com/crosspl

[2022-01-31 17:43] kferrone commented on #2867
I have shared the repo with @hasheddan and @haarchi and I will share with you too. I've sent an invite.

My current issue is my composition called cluster which makes an eks cluster. After the cluster is created it is supposed to put the oidc url to the status of my resource like so:

[code]

Then the OpenIDConnectProvider will use this URL like so:

[code]

Once the cluster is created, the compos

[2022-01-31 19:40] kferrone commented on #2867
So it gets deeper. I guess there is an error in a weird way with the OIDC provider.
I used the logs from my webhook to get the exact resource that is trying to get created.
I submitted myself and low and behold a real error

This makes sense though because the URL has not been set and therefore my webhook will skip over it too. The URL can only be set though if the Cluster resource sets the oidc i

[2022-01-31 20:44] muvaf commented on #2867
Alright this is more complex to reproduce than I expect. It seems like somehow the creation fails but error is not returned from the client for some reason. If you have Go experience, one thing I can suggest is to scale down Crossplane to 0 pods, run it in debugger and see what's returned in this call for each of the resources at [this line](https://github.com/crossplane/crossplane/blob/release-1.

[2022-02-01 09:53] muvaf commented on #2524
A few people asked in Slack, here is the old design doc for custom composition https://github.com/crossplane/crossplane/pull/1705

[2022-02-01 10:17] chlunde opened #2871 "Removal of secret from composite updates connection details and status on every reconcile"
### What happened?
I had a composition with:

[code]

at one point this was removed. I noticed a lot of updates to the composite object. The only change was:

[code]
The constant update of connection details triggered a race/concurrent update of the object:

![image](https://user-images.githubusercontent.com/131994/151948870-f7ba7c0e-9147-40a2-aacc-1659a05edaf6.png)

[code]

I removed the extra ke

[2022-02-01 18:01] kferrone commented on #2867
OK so this helped a lot actually: `policy.fromFieldPath: Required`

Now I was able to move a few steps forward. Now I'm stuck trying to get a nodegroup to to actually connect.
Yeesh, what a battle

[2022-02-01 18:54] cdenneen commented on #2072
Just ran into this issue where `Composition` containing a `Role` and `Cluster`:

[code]

[code]

The matchLabel selector should have worked but appears to have been an ordering issue:

[code]

Deleting the `Cluster` (leaving the `Role`) and allowing the `Composition` to recreate the `Cluster` resolved the issue.
Having a `dependsOn` would be useful or the `roleArnSelector` should have attempted to

[2022-02-01 19:08] cdenneen commented on #2072
The `Cluster` created upon second attempt now finding `Role` but then the `Addons` and `NodeGroup` were stuck on `clusterName` selector.

[2022-02-02 08:59] remyleone opened #2873 "Make the crossplane CLI available through homebrew and/or krew"
### What problem are you facing?

I would like to have crossplane installed and updated through a package manager.

### How could Crossplane help solve your problem?

Making the binary of crossplane available on homebrew. Making it available through krew could also be useful. https://github.com/kubernetes-sigs/krew/

[2022-02-02 11:29] muvaf commented on #2072
@cdenneen Are they created not created at all or created but not reconciled since the reference is not resolved?

[2022-02-02 11:40] cdenneen commented on #2072
After I delete the resources that are “stuck” they recreate when they reconcile. So the second “creation” finds the dependency and creates. The original resource can’t find its reference but gets stuck that it doesn’t Try more than 2 or 3 relatively short. The Role was created in less than 2m but cluster was stuck after 2 tries in less than 2m and then nodegroup was stuck on the cluster 3x in less

[2022-02-02 14:45] hferentschik commented on #1895
I see. That would work for the Helm Release resource I guess. However, this is a resource-specific solution and you would have to add this option to other resources as well. For example, say I want to use the Kubernetes provider to generate `Secret` directly and seed it with a random value/password.
Another example would be the SecretVersion of the new GCP Jet provider. I love that the new jet pro

[2022-02-02 16:17] muvaf commented on #2072
That is actually the case; the whole system is eventually consistent, at every reconciliation it tries to resolve the references. Wonder why it didn't do that in your case.

[2022-02-02 17:53] cdenneen commented on #2072
After that 2x I’m the case of the Cluster (waiting on Role) and 3x in the case of the NodeGroup (waiting on Cluster) they never tried again. The Age kept growing with no more `x` attempted. @Chrisupbound said they have seen same issue from time to time.

[2022-02-02 18:36] haarchri commented on #2869
we have the same requirement from security department to not deploy all CRDs - only approved CRDs - which matches our IAM Policies ... otherwise we need to write a lot of documentation - because of that fact currently we build own providers and skip CRDs / Functions - an option to enable only a few CRDs could help

[2022-02-03 08:51] braghettos opened #2875 "Changing composition via compositionSelector not working and keeps garbage"
### What happened?

I wrote two compositions and I install them via Configuration: https://github.com/krateoplatformops/krateo-module-core. I wad trying to claim the composition of OpenShift. Initially I used a

[code]

in the claim, but then I deleted the claim and changed it to the following one:

[code]

In the composition for kubernetes (_composition-kubernetes.yaml_), I manage two releases vi

[2022-02-03 14:19] fahedouch opened #2876 "packagePullSecrets not working on v1.6.2"
### What happened?

`401 authorization required` on private registry when using the latest stable version `v1.6.2`

it works with `v1.6.1`
### How can we reproduce it?

[code]
### What environment did it happen in?
Crossplane version:  v1.6.2

[2022-02-03 14:55] hasheddan commented on #2876
@fahedouch thank you for raising this! I am investigating 👍🏻

[2022-02-03 14:59] MisterMX opened #2877 "Crossplane Pod gets evicted if volume limit exceeded"
### What happened?

The Crossplane pod gets killed instantly by the kubelet if it tries to write a image into the package cache that is too large for the volume to handle.

[code]

This rarely happens when deploying normal operations. However, an inexperienced developer could reference the wrong provider image (i.e. `crossplane/provider-aws-controller` which is > 100 MB) and will bring down the wh

[2022-02-03 15:26] hasheddan commented on #2877
@MisterMX this is working as expected, but I like the idea of being able to set a limit where we reject the package if it exceeds 👍🏻 In the mean time, if you do want to be able to have a bit more cushion you can always bump the cache size to something more forgiving using `packageCache.sizeLimit` ([ref](https://crossplane.io/docs/v1.6/reference/install.html))

[2022-02-03 15:43] MisterMX commented on #2877
@hasheddan thanks for you quick response. I think increasing the cache size might be a sufficient workaround for now.

On a second thought I am not so sure about a hard package size limit. Since we define the volume size in the deployment it would introduce some sort of data redundancy if an option is added to the Crossplane executable itself.

Instead (and if possible) I would propose to check fo

[2022-02-03 16:53] hasheddan commented on #2876
@fahedouch I tested out pulling a private package from `gcr` using a [JSON key file](https://cloud.google.com/container-registry/docs/advanced-authentication#json-key), which appears to be the flow you used here and was able to verify that with the package pull secret it was successful and without it was not. Can you verify that the `Secret` with name `gcr-json-key` in the `crossplane-system` name

[2022-02-04 07:40] lippertmarkus commented on #2649
This is a real blocker for us. We're on 1.22.4 so applying the ~650 CRDs of provider-jet-azure is quite fast with the lazy marshaling change. On the client-side however, it's not just kubectl which is quite unusable with the throttling but also other clients like management dashboards (we're using Rancher) which get extremely slow.

Can we maybe revisit the idea of reducing installed CRDs?

[2022-02-04 09:32] jonnylangefeld commented on #2649
The fix I posted in the comment below will make it into kubectl 1.24, so that’ll be a slight improvement for kubectl. Any other client is still affected. Basically anything using client-go.
Check out this blog post for a in-depth explanation of the issue: https://jonnylangefeld.com/blog/the-kubernetes-discovery-cache-blessing-and-curse.

Unfortunately a real solution can only be achieved through a

[2022-02-04 15:03] stevendborrelli opened #2878 "Deleting an XRD definition deleted any related Managed Resources"
### What problem are you facing?

Crossplane version: UXP 1.6.1

When a CustomResourceDefinition is deleted from the API server, every managed resource that was provisioned with that XRD is also deleted. This behavior might not be expected by a platform owner and could cause data loss or an outage.

### How could Crossplane help solve your problem?

Investigate other behaviors, possibly putting a

[2022-02-04 20:40] EdgeJ opened #2879 "Label propagation from XRs to MRs is inconsistent"
### What happened?

When creating objects from the aws provider through a composition, labels that are passed into the claim propagate to the XRs but are inconsistently applied to the MRs.

### How can we reproduce it?

Copies of the YAML manifests I used can be found in this gist: https://gist.github.com/EdgeJ/68f085192c87db48cd5ad13da74ed804

Applying these locally, I see the XRD I've created wi

[2022-02-04 21:41] apelisse commented on #2649
Hey there,

Very aware of lots of problems with discovery, the large amount of requests and how the cache is not invalidated properly.
@jefftree and I have been designing a possible solution but we have limited cycles for implementation. Happy to help someone implement some changes if you have some bandwidth available. Also happy to discuss the problem in more depth to make sure we address it prop

[2022-02-04 22:00] EdgeJ commented on #2879
Interestingly, if I'm reading and understanding the code right, labels applied to XR claims _shouldn't_ be propagated to the underlying MRs: https://github.com/crossplane/crossplane/blob/e2eedd09a079181c7342b34cb67cd7f8614dceb1/internal/controller/apiextensions/composite/composed.go#L353-L357
Which I suppose would mean that the "inconsistent" behavior is the opposite of the example I've shown here

[2022-02-04 22:19] ulucinar commented on #2649
Hi @apelisse,
I'm also investigating these issues and their implications. Would love to share ideas, gain a deeper understanding and contribute to the implementations. Thank you for your support!

[2022-02-05 14:56] haarchri commented on #2861
An VPC has only a vpc-cidrBlock for IPv4 and/or an vpc-cidrBlock for IPv6 all additional cidrBlocks er have a additional resource https://doc.crds.dev/github.com/crossplane/provider-aws/ec2.aws.crossplane.io/VPCCIDRBlock/v1beta1@v0.23.0

you need to Import your VPC with the main vpc-cidrBlock

[2022-02-05 14:56] #2861 closed

[2022-02-06 19:05] muvaf commented on #2072
@negz Could this be related to the backoff behavior somehow? I know that we ask for a requeue if reference isn't resolved.

[2022-02-06 19:12] haarchri commented on #2072
Something with 1.6 since this Release we can see this also from time to time in our environment

[2022-02-07 07:37] turkenh opened #2881 "External Secret Store support in Composition Controllers"
### What problem are you facing?

A composite resource should be able to publish its connection details to an ESS which includes fetching MR connection keys from any ESS.

### How could Crossplane help solve your problem?

Update managed reconciler to fetch connection keys from ESS and publish XR connection details to ESS.

[2022-02-07 08:03] turkenh commented on #2366
Just updated the description with a plan with multiple phases and work items.

[2022-02-07 09:04] lsoica opened #2882 "Composition resources not synced when updating a claim"
### What happened?
Composition resources not reconciled on Claim update.

### How can we reproduce it?
I have these APIs defined:
 - An XRD, XPostgreSQLInstance
 - One Composition that leverage the Kubernetes provider to compose a Postgres deployment through Flux CRs (one HelmRelease and one HelmRepository as its resources)
 - A claim that instantiate the XR with the above composition and with cus

[2022-02-07 10:48] luebken commented on #2853
I've just re-ran into this issue that I can't install the provider with the CLI

[code]

[2022-02-07 16:42] chlunde opened #2885 "Inconsistent CLI args - `--poll` vs `--poll-interval`"
### What problem are you facing?
Inconsistent naming, `--poll` in providers and `--poll-interval` in core crossplane:

##### provider-aws -  `--poll`
https://github.com/crossplane/provider-aws/blob/cb08893011212fc6858434f84695fecc0a824629/cmd/provider/main.go#L40

##### crossplane core - `--poll-interval`
https://github.com/crossplane/crossplane/blob/c0de80c1ea2102b9569754d78bea292c46e62927/cmd/cr

[2022-02-07 19:19] negz commented on #2649
@apelisse We're happy to help if we can. Is there somewhere we can find your thoughts so far?

[2022-02-07 20:24] negz commented on #2885
This is something we've been very slowly cleaning up as part of https://github.com/crossplane/crossplane/issues/2595. We should align on `--poll-interval`. Updating https://github.com/crossplane/provider-template would be a good first step to make sure future providers are aligned.

[2022-02-07 20:35] negz commented on #2869
Thanks for the feedback folks. It's helpful to understand the use cases here. To summarize, I'm seeing:

* **Performance degradation**. So far we've preferred trying to work with upstream to fix the performance issues rather than working around them in Crossplane. Disabling CRDs seems like it at best delays this issue, or reduces the amount of folks who will hit it. Presumably some people will act

[2022-02-08 08:50] fahedouch commented on #2876
@hasheddan , thank you for checking this. did you use the `v1.6.2` ?

still have the same error with `v1.6.2` :
[code]

but it is ok with `v1.6.1`

I am using `.dockerconfigjson`  json secret

[2022-02-08 11:21] hasheddan commented on #2876
@fahedouch hmm yes I did try with v1.6.2. What is the GCR entry in your dockerconfig using for credential resolution for `eu.gcr.io`?

[2022-02-08 13:31] janwillies commented on #2524
It might be interesting to check how `kustomize` and `kpt` approach this:

- kpt functions: https://googlecontainertools.github.io/kpt/guides/producer/functions/
- Kustomize Plugin Composition API ([#2299](https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/2299-kustomize-plugin-composition))

example for kustomize: https://youtu.be/YlFUv4F5PYc?t=1361

[2022-02-09 00:04] hasheddan commented on #2876
@fahedouch my apologies, I have repeated the steps and now am able to reproduce. I believe we should be falling through to the [pull secret auth](https://github.com/google/go-containerregistry/blob/d3202cccdc39e7435cd37c8d002ff6ad599cb1c1/pkg/authn/kubernetes/keychain.go#L138) since the [others in the chain](https://github.com/google/go-containerregistry/blob/d3202cccdc39e7435cd37c8d002ff6ad599cb1

[2022-02-09 00:42] negz commented on #2524
It was recently bought to my attention that v1.7 was accidentally slated for late March when it should actually be early March, so I'm going to remove this from v1.7. I think that's a bit aggressive.

[2022-02-09 00:50] negz commented on #2110
I feel like another good place for web hooks to slot in would be something like `provider-webhook` that could be used with custom composition to basically call an arbitrary REST endpoint. 🤔 Slightly different use case to what is mentioned here.

[2022-02-09 01:30] negz commented on #2882
@lsoica are you expecting the `Composition` itself to be updated? That won't happen - the `Composition` is used to render distinct, new resources (mostly managed resources). If you're not seeing those managed resources being updated, could you please `kubectl describe` your claim and XR, and provide the output here.

[2022-02-09 01:31] negz commented on #2878
@stevendborrelli do you think this is a duplicate of this older issue - https://github.com/crossplane/crossplane/issues/1082? They're not 100% the same thing, but seem pretty close to me.

[2022-02-09 06:03] negz commented on #2524
Hey folks! A few of us have started meeting to discuss this effort each week on Tuesdays at 9pm PST. If you’re interested in joining in and helping out please let me know and I’ll add you to the meeting invite. Our agenda and notes are at https://docs.google.com/document/d/1n8018YaDXCl_6E8y9J5untSZ4rH811dL75GPnERRQxA/edit#.

[2022-02-09 06:55] lsoica commented on #2882
@negz my expectation is that, if I update a parameter in the claim, that's used in the Composition in a patch for one of the managed resources, to have those managed resources updated. Is this a misunderstanding on my side ?

Below is the:
 - claim
 - XR
 - composition
 - managed resource
In the claim, spec.providerSpecificParameters.someOtherValue: 5
In the composition, "providerSpecificParameter

[2022-02-09 16:25] stevendborrelli commented on #2878
@negz Yes, it sounds very similar.

One thing we need to think about in a Crossplane vs. K8s solution is that XRD and Composition CRDs could change as part of normal workflows. How do we help end-users to be able to update/fix their CRDs safely without risking the cloud infrastructure that has been provisioned?

[2022-02-09 17:19] natereid72 commented on #2121
I don't see that behavior with Argo CD and Crossplane. What I see is Argo CD not adding any annotations for Crossplane or other resources (e.g. Deployment -> RS -> Pod). From what I've observed, Argo CD accepts a resource that is not defined in repo so long as it has a K8s ownership reference reference chain for anything downstream from what is in the repo.

K8s will not allow the namespace scoped

[2022-02-10 10:35] philippart opened #2887 "Transformation: Map String to Integer"
### What problem are you facing?
Create a transform that maps a string value to an integer.
Doing this today requires 3 steps:
- map string to an intermediate string
- store the intermediate string as a XR field (annotation for example)
- convert that string field into an integer

### How could Crossplane help solve your problem?
Allow the above in 1 step (e.g. transform type = mapToInteger).

[2022-02-10 17:58] hasheddan opened #2888 "Support layer descriptor annotations in package manager"
### What problem are you facing?

The new [`xpkg` specification](https://github.com/crossplane/crossplane/blob/master/docs/reference/xpkg.md#manifests) defines the `io.crossplane.xpkg` annotation, which can be added to a layer descriptor to inform Crossplane that only that layer should be pulled and considered for package contents.

### How could Crossplane help solve your problem?

The package ma

[2022-02-10 18:15] robsclark opened #2889 "Create a provider for vonage"
### What problem are you facing?

There is no crossplane provider for vonage https://www.vonage.com

### How could Crossplane help solve your problem?

Create a crossplane provider for https://www.vonage.com

[2022-02-10 18:32] negz opened #2890 "July 2022: Release cadence check-in"
### What problem are you facing?

https://crossplane.io/docs/master/reference/release-cycle.html

Currently we release Crossplane every 8 weeks. Note that this applies only to "core" - i.e. this repo - not any particular provider. We've noticed that a lot of movement has been on providers lately and there's been 2-3 releases with only one or two notable features and bug fixes. This has sparked som

[2022-02-10 20:28] #2836 closed

[2022-02-11 07:58] muvaf opened #2894 "Certificate handling of providers in package manager for webhooks"
### What problem are you facing?

As part of https://github.com/crossplane/crossplane/issues/2851 , Crossplane and every provider needs to serve a TLS endpoint that k8s apiserver can talk to, which means they need to serve with a certificate that's accepted by k8s apiserver.

### How could Crossplane help solve your problem?

We can accept the certificates `Secret` name as argument during the inst

[2022-02-11 08:02] ulucinar opened #2895 "Consolidation of CRD Scaling Issues"
### What problem are you facing?

Previously in https://github.com/crossplane/terrajet/issues/47, #2649 and https://github.com/kubernetes/kubernetes/issues/105932, we have observed high resource consumption in the Kubernetes API Server when over 500 CRDs are installed. Especially with local `kind` clusters, installing [provider-jet-aws](https://github.com/crossplane-contrib/provider-jet-aws) with

[2022-02-11 17:34] kferrone opened #2896 "Identified more Silent Errors"
### What happened?

I'm attempting to make a composition. Once again, I probably have done something wrong but there is no help from Crossplane to figure out what is wrong. No logs, no events, no warnings, no status. Just hangs and does nothing again.

### How can we reproduce it?

I boiled down the composition to the absolute simplest I can and I still get nothing. I'm totally at a loss here. Any

[2022-02-12 16:15] kferrone commented on #2896
I have discovered a perfect time for an event to propagate to the xr. When a patchset references a non existent patchset. Simply let the user know in the events.

I am also discovering that certain resources need defaults in the base instead of just omitting then letting the patches set the value.

Would be nice to see any error about missing items. For example if a kind is misspelled or apiVersio

[2022-02-13 21:51] slimm609 commented on #2770
I was looking at Crossplane for a multi-tenant use case.   The issue with cluster scoped resources is isolation between tenants.   With XRCs, the cluster admins have to create XRCs for every use case which is not scalable.  In shared development environments where multiple teams can not see either other (namespace only access) there is no way to easily grant access to create any aws resources need

[2022-02-14 08:49] MisterMX commented on #2770
@slimm609 you could use [vcluster](https://github.com/loft-sh/vcluster) to deploy isolated controlplanes for each team. This might be a more feasible solution than making all MRs and XRs cluster scope.

One drawback of this is that right now you cannot use vcluster in combination with IRSA (IAM roles for service accounts) and AWS EKS (see https://github.com/loft-sh/vcluster/issues/370).

[2022-02-14 09:09] muvaf opened #2898 "Documentation page for CRD migrations"
### What problem are you facing?

We have breaking and non-breaking changes that change the API version of CRDs. So far, a migration guide is created for each release, like this [one](https://github.com/crossplane/provider-aws/blob/master/cluster/UPGRADE.md), but the steps are very similar between providers.

### How could Crossplane help solve your problem?

We can have a documentation page that

[2022-02-14 13:31] hasheddan opened #2899 "Cut v1.4.4 on February 14, 2022"
This issue can be closed when we have completed the following steps (in order).
Please ensure all artifacts (PRs, workflow runs, Tweets, etc) are linked from
this issue for posterity. Refer to this [prior release issue][release-1.6] for
examples of each step.

- [x] Updated all version information in the documentation on the relevant release branch.
- [x] Run the [Tag workflow][tag-workflow] on th

[2022-02-14 13:32] hasheddan opened #2900 "Cut v1.5.2 on February 14, 2022"
This issue can be closed when we have completed the following steps (in order).
Please ensure all artifacts (PRs, workflow runs, Tweets, etc) are linked from
this issue for posterity. Refer to this [prior release issue][release-1.6] for
examples of each step.

- [x] Updated all version information in the documentation on the relevant release branch.
- [x] Run the [Tag workflow][tag-workflow] on th

[2022-02-14 13:33] hasheddan opened #2901 "Cut v1.6.3 on February 14, 2022"
This issue can be closed when we have completed the following steps (in order).
Please ensure all artifacts (PRs, workflow runs, Tweets, etc) are linked from
this issue for posterity. Refer to this [prior release issue][release-1.6] for
examples of each step.

- [x] Updated all version information in the documentation on the relevant release branch.
- [x] Run the [Tag workflow][tag-workflow] on th

[2022-02-14 14:23] hasheddan commented on #2876
@fahedouch following up here -- was able to do some experiments this morning and it may be the case that because the default and gcloud resolvers come [earlier in the chain](https://github.com/google/go-containerregistry/blob/41f8d92709b7d7c96a210f2652f2862314f5ba7f/pkg/authn/k8schain/k8schain.go#L48), one is getting resolved first, but with credentials that are not valid for the image being pulle

[2022-02-14 17:42] nabadger commented on #2544
SemVer support would be really nice here. but would love if it supported ranges/tilde/caret support (rather than just a string match).

[2022-02-15 00:19] negz commented on #2313
We already have one alpha API behind a flag (CompositionRevision), but our position on how to use feature flags needs better documentation. The general idea is we’ll follow the Kubernetes convention of:

* Alpha - Feature is behind a flag, off by default.
* Beta - Feature is behind a flag, on by default.
* GA - Feature is always on. Flag goes away (or becomes a hidden no-op)

[2022-02-15 11:45] muvaf opened #2905 "Composite resource should track composed resources without version"
### What problem are you facing?

The version in `apiVersion` does not provide any incrimination when it comes to finding the resource but since we have it in resource reference, the migration steps that include version increase has to go through changing that as well. The problem in this flow is that not only they have another step, but they actually need to shut Crossplane down during the surger

[2022-02-15 12:52] hasheddan commented on #2900
Docs Update: https://github.com/crossplane/crossplane/pull/2903

[2022-02-15 12:52] hasheddan commented on #2899
Docs Update: https://github.com/crossplane/crossplane/pull/2902

[2022-02-15 12:53] hasheddan commented on #2901
Docs Update: https://github.com/crossplane/crossplane/pull/2904

[2022-02-15 12:55] hasheddan commented on #2899
Tag Workflow: https://github.com/crossplane/crossplane/actions/runs/1847035142

[2022-02-15 12:55] hasheddan commented on #2900
Tag Workflow: https://github.com/crossplane/crossplane/actions/runs/1847037849

[2022-02-15 12:55] hasheddan commented on #2901
Tag Workflow: https://github.com/crossplane/crossplane/actions/runs/1847039291

[2022-02-15 12:57] hasheddan commented on #2900
CI Workflow: https://github.com/crossplane/crossplane/actions/runs/1847047280

[2022-02-15 13:03] hasheddan commented on #2899
Artifacts on `build`: https://releases.crossplane.io/build/release-1.4/v1.4.4/

[2022-02-15 13:04] hasheddan commented on #2900
Artifacts on `build`: https://releases.crossplane.io/build/release-1.5/v1.5.2/

[2022-02-15 13:06] hasheddan commented on #2899
Configurations Workflow: https://github.com/crossplane/crossplane/actions/runs/1847097594

[2022-02-15 13:06] hasheddan commented on #2900
Configurations Workflow: https://github.com/crossplane/crossplane/actions/runs/1847098369

[2022-02-15 13:12] hasheddan commented on #2901
Artifacts on `build`: https://releases.crossplane.io/build/release-1.6/v1.6.3/

[2022-02-15 13:13] hasheddan commented on #2901
Configurations Workflow: https://github.com/crossplane/crossplane/actions/runs/1847099304

[2022-02-15 13:14] hasheddan commented on #2899
Promote Workflow: https://github.com/crossplane/crossplane/actions/runs/1751241567

[2022-02-15 13:15] hasheddan commented on #2901
Promote Workflow: https://github.com/crossplane/crossplane/actions/runs/1847140554

[2022-02-15 13:15] hasheddan commented on #2899
Artifacts on `stable`: https://releases.crossplane.io/stable/v1.4.4/

[2022-02-15 13:15] hasheddan commented on #2900
Artifacts on `stable`: https://releases.crossplane.io/stable/v1.5.2/

[2022-02-15 13:15] hasheddan commented on #2901
Artifacts on `stable`: https://releases.crossplane.io/stable/v1.6.3/

[2022-02-15 13:40] hasheddan commented on #2899
Release: https://github.com/crossplane/crossplane/releases/tag/v1.4.4

[2022-02-15 13:40] hasheddan commented on #2900
Release: https://github.com/crossplane/crossplane/releases/tag/v1.5.2

[2022-02-15 13:40] hasheddan commented on #2901
Release: https://github.com/crossplane/crossplane/releases/tag/v1.6.3

[2022-02-15 13:44] hasheddan commented on #2899
Releases Table Update: https://github.com/crossplane/crossplane/pull/2906

[2022-02-15 13:44] hasheddan commented on #2900
Releases Table Update: https://github.com/crossplane/crossplane/pull/2906

[2022-02-15 13:45] hasheddan commented on #2901
Releases Table Update: https://github.com/crossplane/crossplane/pull/2906

[2022-02-15 13:56] hasheddan commented on #2899
Slack Announcement: https://crossplane.slack.com/archives/CEFQCGW1H/p1644933360627159

[2022-02-15 13:56] hasheddan commented on #2900
Slack Announcement: https://crossplane.slack.com/archives/CEFQCGW1H/p1644933360627159

[2022-02-15 13:56] hasheddan commented on #2901
Slack Announcement: https://crossplane.slack.com/archives/CEFQCGW1H/p1644933360627159

[2022-02-15 13:56] hasheddan commented on #2899
Tweet: https://twitter.com/crossplane_io/status/1493584688459526153

[2022-02-15 13:57] hasheddan commented on #2900
Tweet: https://twitter.com/crossplane_io/status/1493584688459526153

[2022-02-15 13:57] hasheddan commented on #2901
Tweet: https://twitter.com/crossplane_io/status/1493584688459526153

[2022-02-15 14:15] hasheddan commented on #2899
Release is live!

[2022-02-15 14:15] #2899 closed

[2022-02-15 14:15] hasheddan commented on #2900
Release is live!

[2022-02-15 14:15] #2900 closed

[2022-02-15 14:15] hasheddan commented on #2901
Release is live!

[2022-02-15 14:15] #2901 closed

[2022-02-16 12:07] odidev opened #2912 "Enable ARM testing on Github actions"
Currently, there are only AMD64 test jobs available in github actions. I have successfully tested all features and ran unit and e2e tests of crossplane on the ARM64 platform. It will be useful if we add test jobs for ARM64 as well in github actions, as it is better to test before releasing ARM64 binaries and images.

We can do ARM64 testing in Github actions using self-hosted arm64 runners.

If in

[2022-02-17 12:34] hasheddan opened #2913 "Document and add automated testing for pulling packages from private registries"
### What problem are you facing?

Crossplane supports pulling packages from private registries through a variety of mechanisms, including [IRSA](https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/), [Workload Identity](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity), and [`packagePullSecrets`](https://doc.crds.dev/github.com/crossp

[2022-02-17 12:51] turkenh commented on #2255
I couldn't imagine how this defaulting be done in practice. We have the type definition in crossplane-runtime but the `APIVersion` is only known on the provider codebase. Could angry-jet help here?

[2022-02-17 15:22] mcbenjemaa opened #2914 "Could not sync crossplane provider on upgrades."
### What happened?

When Upgrading a provider, the underlying deployment could not be synced!

[code]
I guess, need to replace it, if encountering changes in immutable fields!

### How can we reproduce it?

### What environment did it happen in?
Crossplane version:

[2022-02-17 15:23] hasheddan commented on #2914
@mcbenjemaa this was due to a change in the label selectors in a previous Crossplane version bump. This can be solved in a non-destructive manner by deleting the `Deployment` for the `Provider` and allowing Crossplane to re-create.

[2022-02-17 15:25] mcbenjemaa commented on #2914
this is true as a workaround :)

[2022-02-17 17:56] muvaf opened #2915 "Proposal for merging Jet AWS, Jet Azure and Jet GCP providers with their existing counterparts"
### What problem are you facing?

In provider strategy doc, the decision for initial releases of the first three Jet-based providers (AWS, Azure and GCP) was to have them as separate providers for the reasons stated [here](https://github.com/crossplane/crossplane/blob/master/design/design-doc-provider-strategy.md#decision-for-initial-releases). We called out that we'll revisit this decision after

[2022-02-18 02:11] jbw976 commented on #2913
Is this something you are taking on soon @hasheddan? I see you self assigned it already.

This could be a project of interest for LFX Mentorship, if it can wait for a few months until summer quarter.

[2022-02-18 21:02] natereid72 commented on #2121
Open for thoughts on this premise: In GitOps, we can use GitOps platform RBAC, Git repo approval requirements, and K8s RBAC+Policy to control where a Git repo source can deploy to. So for Global/Cluster scoped XR, we should be ok to have our workflow begin there. This eliminates the 'out of sync' issue with ArgoCD. Of the benefits XRC offers, being able to pass namespace into Composition assists w

[2022-02-19 04:16] jbw976 commented on #2913
Cool @hasheddan! I just wanted to make sure it could potentially wait a few months, if we have to wait until LFX Mentorship summer quarter.

But yes, I think this project would be a stimulating challenge for a mentee, it has obvious value for the project and community, and it's clearly belonging to upstream.  Great fit all around!

I've added a "good mentorship issue" to the repo and this issue, s

[2022-02-22 04:32] xshyamx commented on #2873
This enhancement will require that the crank release be made available as a tgz/zip file (Refer [Krew: Plugin Package Format](https://github.com/kubernetes-sigs/krew/blob/master/docs/KREW_ARCHITECTURE.md#plugin-package-format)) instead of the naked binaries hosted from release.crossplane.io

[2022-02-23 10:52] kertzi commented on #2882
I hit this issue too, so I wonder what is correct way to update existing configuration?
In my case for example ec2 instance type from t3.micro to t3.small.

I have understood too that If I change parameter value in claim which is patched in composition to update value in forProvider this should reflect changes to actual infra.

[2022-02-23 11:29] haarchri commented on #2849
we hit today the same issue with crossplane 1.6.0 and upgrading provider-aws v0.23.0 to v0.24.1

Events:

[code]

[code]

one example:
 kubectl edit crds secrets.secretsmanager.aws.crossplane.io
[code]

in core-crossplane we see a lot of events like:

` Waited for 1.09704816s due to client-side throttling, not priority and fairness, request: `

[2022-02-23 11:55] haarchri commented on #2849
we set limit for cpu to 1000m and added --max-reconcile-rate=100 which fixed the problem

[2022-02-23 22:49] negz commented on #2255
Good point. Yeah, I think we'd need to teach angry jet to do this. I don't remember whether we have any precedent for angry jet writing comment markers.

[2022-02-24 10:50] kertzi commented on #2882
Also find out that when changing some of forProvider parameter in composition it doesn't get updated to managed resource.

For example changing ec2 instance type in composition it will not trigger any updates to actual environment.
But when ADDING new resource to composition it will update that to actual environment.

So there is something broken in link between Composition and XRs created for tha

[2022-02-24 13:35] Feggah opened #2920 "Support base64 encode/decode within Composition patches using Transform Types"
### What problem are you facing?

I want to be able to use [Transform Types](https://crossplane.io/docs/v1.6/reference/composition.html#transform-types) within the Composition to encode a string into base64/decode the base64 to a string.

I have a managed resource that exposes on Status its ID base64-encoded. Some resources receives this ID as an input (spec) as decoded base64, and other resources

[2022-02-25 08:55] zzxwill opened #2962 "Cloud resource CRD help docs for end-users"
It's difficult for end-users to write `forProvider` for a specific cloud resource. It would be better to provide any of these help docs or tools.

- Something like the awsome tool https://doc.crds.dev/

The tool to visualize a CRD is super cool. I guess it's hosted by crossplane guys.
Like Alibaba Cloud RDSInstance [github.com/crossplane/provider-alibaba/database.alibaba.crossplane.io/RDSInstance/

[2022-02-25 10:30] NearchPasipou opened #2921 "Documentation issue: An architecture diagram depicting the network dependencies of Crossplane is missing."
Setting up Network Policies for applications deployed on (for example: EKS) kubernetes clusters is a typical security requirement.
Instead of attempting to reverse engineer the Egress and Ingress paths that Crossplane might need to function, a guideline must be provided in some part of Crossplane documentation.

[2022-02-25 10:36] NearchPasipou opened #2922 "Documentation issue: Suggestions for resource planning are missing."
Crossplane helm chart is supporting static replica deployment without HPA.
There is no indication on how to define the resource requests (and/or limits) for Crossplane workloads depending on the amount of XRs Crossplane has to manage.

resourcesCrossplane.requests.cpu
resourcesCrossplane.requests.memory
resourcesRBACManager.requests.cpu
resourcesRBACManager.requests.memory

Some indicative/approxi

[2022-02-25 12:02] ulucinar opened #2923 "Proposal for a Design Doc for Provider Identity Based Authentication"
### What problem are you facing?

Currently, we have IAM Roles for Service Accounts ([IRSA](https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/)) support for `provider-aws` and [Workload Identity](https://cloud.google.com/kubernetes-engine/docs/concepts/workload-identity) support for `provider-gcp`. Both IRSA of EKS and Workload Identities of GKE are implem

[2022-02-25 12:25] muvaf opened #2979 "One pager about performance characteristics of providers"
### What problem are you facing?

We have rough ideas about resource consumption and speed of provisioning of different implementations but not something we can compare against. This causes problem especially when people compare Jet providers with classic ones that call the APIs directly.

### How could Terrajet help solve your problem?

A one pager that describes how to run consumption and reconc

[2022-02-25 21:22] negz commented on #2672
@erikgb I'm on board with adding a `Ready` condition to all resources (e.g. packages etc) alongside their existing ones. `observedGeneration` sounds good to me too.

[2022-02-25 21:31] negz commented on #2773
I think we're also seeing an instance of https://github.com/argoproj/argo-cd/issues/5082, in which ArgoCD is unaware of the relationship between XRCs and XRs.

[2022-02-25 21:57] natereid72 opened #2928 "ArgoCD is unaware of XRC -> XR relationship"
### What problem are you facing?

This is likely something that will need to be addressed in Argo CD, creating issue here to describe and track. Argo CD ustilizes Kubernetes owner reference to determine if an Argo CD application is synchronized. XRC being namespaced cannot be the owner of cluster scoped XR.

This issue can be linked to #2773

### Overview of issue:

As it stands today, Argo CD acc

[2022-02-25 22:10] natereid72 commented on #2121
I've compiled my findings into #2928

I believe it covers the reason for every issue described here.

[2022-02-26 02:23] negz commented on #2928
Can you elaborate on this 'black hole' effect? I think that's the part I don't grok here.

Let me try play-back my understanding.

* We're talking about a case where folks are storing XRCs in git. The XRs and MRs are not in git. ArgoCD syncs the XRCs from git to Kubernetes, after which point Crossplane takes over and syncs the XRCs with XRs, MRs, etc.
* There may be a problem where ArgoCD thinks i

[2022-02-26 05:08] negz commented on #2524
Breadcrumbs to https://github.com/GoogleContainerTools/kpt/issues/2567, which discusses alternatives to containers as ways to run KRM functions.

[2022-02-26 13:31] slimm609 commented on #2770
@MisterMX Yea, We have looked at vcluster but isn't a scalable solution when you are dealing with highly restricted environments and hundreds of clusters.  Using vcluster for each team would add several hundred clusters to have to manage and harden.

[2022-02-27 00:57] natereid72 commented on #2928
This is a piece I'm still working on understanding actually. You are correct for sure on the Argo CD UI visualization part. I am still trying to work out, with what combination and if any, Argo CD will evaluate what 'should' be in the cluster via relationship and dry-run compare.

It certainly dies not matter when Crossplane is rectifying state based on its own machinery. So in that case, I agree

[2022-02-27 08:01] AaronME opened #2929 "Allow specifying multiple writeConnectionSecretsToNamespace targets for a Composition"
### What problem are you facing?
Some Composite Resources define infrastructure that is meant to be shared with other teams. One example would be a message queue, another could be a data lake bucket. There are several MRs which define "data transfer" as opposed to "data ownership" points.

When deployed as part of a Composite Resource, the connection secret for these MRs can only be written back t

[2022-02-27 16:34] natereid72 commented on #2928
Ok, I've been continuing to go through the 'start with XRC' vs. 'start with XR' pros and cons. As @negz raised, what is the real impact of starting with XRC and telling Argo CD to ignore the XR and beyond, I think I am back to thinking XRC is fine.

At least from a use of GitOps basis. Everything beyond XRC in that case in the Argo CD UI is just eye candy. And I believe it is better represented in

[2022-02-27 19:09] natereid72 commented on #2928
I've updated my blog post to reflect this shared opinion. I struggled back and forth with it, but the more I consider it, the more I believe a GitOps platform should only concern itself with what is in the repo, not what an operator created downstream. So I think we benefit from Argo CD improving its platform, whether that be through more flexible relationship modeling, or simply a setting that sa

[2022-02-28 16:05] ccremer opened #2931 "Support float64 values in Math/multiply Transform Type in Compositions"
It would be helpful if the math transformation is actually a float64-style numeric value and not just a plain integer.

Use case:
We have the idea to imply a memory-to-CPU ratio when a User provisions a claim with a scale-model.
For example, we provide a parameter `spec.parameters.memoryLimitGB` and based from that value, we can automatically calculate the `spec.template.spec.containers[*].resourc

[2022-02-28 23:17] natereid72 commented on #2928
So i think there are two separate issues. One is wrt Argo showing related resources past what it is track from the repo. Those resources are displayed but not factored into the apps sync status. So this is purely cosmetic in the case of XRC not showing XR or anything else.

Then there is the issue of #2121 which has a proposed fix. That fix would solve the primary issue with XRC and ArgoCD.

[2022-03-02 14:19] maltejk commented on #2535
We are also interested in this feature. cc @haarchri

[2022-03-02 18:15] iAnomaly commented on #1722
Excited to see this proposal and discussion! This is a critical need for us as I migrate our existing Terraform managed infra to Crossplane. @jessesanford captured the reality well that there will always be some infrastructure managed externally to Crossplane at larger organizations and glue is needed to access and build off that existing state.

My vote is for Option A as well acknowledging the c

[2022-03-02 19:41] James-Quigley commented on #2121
Adding the annotation `argocd.argoproj.io/compare-options: IgnoreExtraneous` to the XRC works. The XR and MRs will show up in the UI, but won't be considered when evaluating the sync status

[2022-03-02 20:10] natereid72 commented on #2121
@James-Quigley I'm not sure how that would work. That tells ArgoCD to ignore the resource. So it will ignore the XRC too if I read docs correctly. When I set it, I see this.
![image](https://user-images.githubusercontent.com/45366367/156440028-7ef599d7-f7e4-46b4-8852-7f0b272a8e8e.png)

[2022-03-03 13:35] MisterMX commented on #2099
This feature would help us a lot as we have to serve the same compositions for different environments.

Would it be possible to extend the Compositions API similar to the [generic patches in `provider-kuberntes`](https://github.com/crossplane-contrib/provider-kubernetes/blob/main/examples/object/references/patches-from-resource.yaml)?

We would propose a patch structure like this:

[code]

This wa

[2022-03-03 19:56] negz commented on #2929
Hrm, interesting. Honestly I've always thought of XR (as opposed to XRC) secrets as sort of intermediary storage, and expected a claim to happen if folks actually wanted to consume the connection secret. I think your way of thinking about this makes more sense though.

[2022-03-03 19:56] negz commented on #2929
CC @turkenh. Perhaps we should consider this as part of the API changes you're making to enable secret stores?

[2022-03-04 13:49] mcbenjemaa commented on #2876
My team is blocked, we are trying to move from DTR to artifact-registry.

[2022-03-04 13:54] hasheddan commented on #2876
@mcbenjemaa I believe this may have been fixed in https://github.com/google/go-containerregistry/issues/1298 -- I will coordinate with you to test an update in your environment 👍🏻

[2022-03-04 18:13] ryuheechul commented on #1722
_just adding an opinion on importance of this feature_

I think this feature will be critical for adoptions as much as [Data sources](https://www.terraform.io/language/data-sources) is a critical part of Terraform's feature. In fact, without it, [this claim](https://blog.crossplane.io/announcing-terrajet/#:~:text=Crossplane%20now%20has%20full%20coverage%20of%20all%20the%20resources%20available%20i

[2022-03-04 23:52] #2876 closed

[2022-03-06 17:01] hasheddan opened #2942 "Cut v1.6.4 on March 7, 2022"
This issue can be closed when we have completed the following steps (in order).
Please ensure all artifacts (PRs, workflow runs, Tweets, etc) are linked from
this issue for posterity. Refer to this [prior release issue][release-1.6] for
examples of each step.

- [ ] Updated all version information in the documentation on the relevant release branch.
- [ ] Run the [Tag workflow][tag-workflow] on th

[2022-03-07 06:17] AaronME opened #2943 "Support a 'json' transformation type to render connection secrets in proper json"
### What problem are you facing?
I am working with a terrajet provider based on [hashicorp/vault](https://registry.terraform.io/providers/hashicorp/vault/latest/docs). The `vault_generic_secret` resource requires that secret data be submitted as a json-formatted string.

Currently, emitting a json-formatted string requires manually constructing proper json using the string "fmt" transform, which c

[2022-03-07 06:41] #2888 closed

[2022-03-07 10:47] luebken commented on #2461
@danmx The fabulous @remyleone has released https://github.com/remyleone/crossplane-scaleway-provider

[2022-03-07 10:47] turkenh commented on #2929
I remember that we have discussed [similar](https://github.com/crossplane/crossplane/pull/2494#discussion_r733313923), [capabilities]((https://github.com/crossplane/crossplane/pull/2494#r696081422)) during the design and ended up choosing not to support publishing to multiple secrets/stores in favor of simplification especially considering this would still be possible with some third party tooling

[2022-03-07 12:05] haarchri opened #2944 "e2e test failed to get pre-cached package with pull policy Never"
### What happened?
looks like after we merged https://github.com/crossplane/crossplane/pull/2932 we get e2e-test failed in ci
examples:
 https://github.com/crossplane/provider-aws/pull/1122
 https://github.com/crossplane/provider-aws/pull/1158

locally i can see:
using crossplane version 1.7.0-rc.0.125.gfff10011
[code]

[code]

i changed crossplane in e2e tests locally to 1.6.3 without issues - an

[2022-03-07 13:26] MisterMX opened #2945 "XRD versions do not support deprecation"
### What happened?

XRDs do not support the `deprecated` and `deprecationWarning` fields that [are available for CRDs](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning/).

### How can we reproduce it?

1. Define a XRD with a version. Set `spec.versions.deprecated` to true.
2. Run `kubectl apply`

### What environment did it happen in?

Cross

[2022-03-07 14:13] muvaf opened #2947 "Package manager should ignore unknown types instead of stopping the installation"
### What problem are you facing?

With https://github.com/crossplane/crossplane/issues/2894 , provider packages will come with `ValidatingWebhookConfiguration` and `MutatingWebhookConfiguration` types. However, if you have an older version of Crossplane before https://github.com/crossplane/crossplane/pull/2919 then the installation/upgrade will not go through at all. This would mean that the provi

[2022-03-07 15:28] hasheddan commented on #2944
@haarchri thanks for opening! This change in functionality is mentioned in https://github.com/crossplane/crossplane/pull/2932#discussion_r820265162, though I didn’t call out that most provider e2e tests use the pre-caching strategy. As mentioned offline, a quick short term solution is using Crossplane from stable channel, but I also plan to introduce some functionality to make this easy using CLI

[2022-03-07 16:07] hasheddan commented on #2942
@mcbenjemaa is going to run this one!

[2022-03-07 16:23] mcbenjemaa commented on #2942
Update docs: https://github.com/crossplane/crossplane/pull/2952

[2022-03-07 16:53] hasheddan commented on #2942
Tag Workflow: https://github.com/crossplane/crossplane/actions/runs/1946765237

[2022-03-07 16:55] hasheddan commented on #2942
@muvaf apologies the tag was already in place when you commented -- I also have some questions about that changed functionality so I would prefer to address in a subsequent patch if it ends up being included.

[2022-03-07 17:01] hasheddan commented on #2942
Tag: https://github.com/crossplane/crossplane/releases/tag/v1.6.4

[2022-03-07 17:06] hasheddan commented on #2942
Release artifacts exist: https://releases.crossplane.io/build/release-1.6/v1.6.4/

[2022-03-07 17:08] hasheddan commented on #2942
Configurations Workflow: https://github.com/crossplane/crossplane/actions/runs/1946846886

[2022-03-07 17:10] jbw976 commented on #2942
I approved the joining of @mcbenjemaa to the release team, so he has perms to run this release 💪

[2022-03-07 17:11] hasheddan commented on #2942
Thanks @jbw976! @mcbenjemaa do you want to pick up from the `Promote` step?

[2022-03-07 17:23] mcbenjemaa commented on #2942
Promote workflow: https://github.com/crossplane/crossplane/actions/runs/1946920399

[2022-03-07 17:27] mcbenjemaa commented on #2942
Release published: https://github.com/crossplane/crossplane/releases/tag/v1.6.4

[2022-03-07 17:42] mcbenjemaa commented on #2942
slack announcement: https://crossplane.slack.com/archives/CEFQCGW1H/p1646674833171959

[2022-03-07 17:43] mcbenjemaa commented on #2942
@hasheddan Feel free to check Twitter Box and close the issue!

[2022-03-07 17:46] hasheddan commented on #2942
@mcbenjemaa done! Thank you!

[2022-03-07 20:01] remyleone commented on #2461
@danmx let me know what you think if you test my provider :) I'm actively looking for feedback :) Feel free to ask questions and talk with me on https://slack.scaleway.com/ #crossplane or on #provider-scaleway in the crossplane slack :)

[2022-03-07 22:00] negz commented on #2895
[Kubernetes Design: Discovery Client Cache Busting](https://docs.google.com/document/d/1AulBtUYjVcc4s809YSQq4bdRdDO3byY7ew9za4Ortj4/edit#heading=h.o6jdc98jqjle)

Just dropping a link to the above doc, which proposes an improvement for discovery caching in client-go. This wouldn't help with the time taken to perform discovery, though the doc does touch on future improvements that would make a small

[2022-03-08 02:51] #2945 closed

[2022-03-08 11:05] eloo commented on #2544
Hi,
i'm also just playing around with this feature and i can second that the generic revision name will cause trouble in our multicluster setup.
IMHO semver and using selector labels would maybe work for us 👍

[2022-03-08 11:31] eloo opened #2954 "Automatic update of composition revision is not working"
### What happened?
Working with composition revisions i try to understand and test the functionality and possibilities we have with the revisions and how we can update our claims.

So i have created a simple composition and also two claims. One claim with manual update and the second one with automatic update.
Then i have updated the composition to get a new revision. But both claims stick with th

[2022-03-08 11:48] eloo commented on #2954
Just discovered that it seems that the change it self is working with the automatic update.
But the revisionref is not updated in the claim.
Thats pretty odd because this revision is set by crossplane and is not set by myself. So crossplane is setting here a value which is going to be updated as soon as a new revision comes up.

This indicates then a wrong version for the claim.

[2022-03-08 17:47] eloo commented on #2656
Hi,
just came across at the same operative issue as @samidbb
How do i "promote" a new revision to my customers. And i agree with the idea to mark version as "stable" "latest" whatever.

But as we are going to have everything in a gitops manner the use of the kubectl or something does not fit our needs.
Maybe we need something like a marker resource like "DefaultCompositionRevision" or something li

[2022-03-08 19:16] hasheddan commented on #2947
@muvaf I think this is an entirely reasonable requirement. Webhooks are a new feature so patching them back to old release branches would go against are stated semver patch strategy. If we are concerned about upgrading providers to use webhooks, and that requiring a Crossplane version bump, which some users may not want to make initially, but may still want unreleatd fixes included in later versio

[2022-03-08 21:21] negz opened #2955 "Document the RBAC Manager"
### What problem are you facing?

https://github.com/crossplane/crossplane/blob/master/design/design-doc-rbac-manager.md

We've had the Crossplane RBAC manager for a long time (since before 1.0) but it has never been documented, as far as I can tell.

### How could Crossplane help solve your problem?

Document it! I wrote it so I should probably do this. :)

[2022-03-08 23:17] negz commented on #2929
I generally like the idea of using a selector, but typically selectors _set_ references, rather than being used instead of them. So if we wanted a selector to match and set multiple refs we'd need an array of config refs.

[2022-03-10 02:50] cahan1013 opened #2957 "Claim always say "Composite resource claim is waiting for composite resource to become Ready" while every resource is ready"
### What happened?
Our composition is referenced by a claim to create the following resource: Roles, RolePolicyAttachment, Cluster, NodeGroup, OpenIDConnectProvider, ProviderConfig(for helm-provider) and some Release. i always got message  "Composite resource claim is waiting for composite resource to become Ready" after every resource is SYNCD True and READY true. I can not tell which resource is

[2022-03-10 11:52] muvaf commented on #2947
Yes, we're on the same page here. The case I'm concerned is the following:
1. I'm a happy user of Crossplane v1.6 and provider-aws v0.24.1
2. A new version of provider-aws is released v0.25 which includes webhook configuration YAMLs.
3. I don't want to use webhooks (maybe even don't know about them or my provider upgrades are automatic etc.) but in order to install provider-aws v0.25, I have to up

[2022-03-10 18:05] hasheddan commented on #2947
That would be ideal, but I am not sure that we should be handling it at the package manager level. This feels like a prime candidate for [crossplane version constraints](https://doc.crds.dev/github.com/crossplane/crossplane/meta.pkg.crossplane.io/Provider/v1@v1.6.4#spec-crossplane-version) in a package. If we had formal cadences and backport policies around providers I think this would be less of

[2022-03-11 07:47] sergenyalcin opened #2958 "Build the KRM runner wrapper tool"
In the context of Custom Composition issue, we have POCs: https://github.com/sergenyalcin/custom-composition-poc

In these POCs, the KRM functions are run in init containers. For running the functions, we used kpt tool. We may consider developing a tool to run the custom KRM images. By this way, it may be possible to find a solution to the output pipeline.

[2022-03-11 07:52] sergenyalcin opened #2959 "Check advantages/disadvantages using the Pod - Job - CronJob to run KRM functions"
In the context of Custom Composition issue, we have POCs: https://github.com/sergenyalcin/custom-composition-poc

In the POC scenarios, we used Pods to run KRM functions. Now, we want to see if using Job or CronJob is feasible for our scenarios. In this context, we may consider adding new cases for POCs and testing them.

We can discuss the advantages or disadvantages that observed as a result of

[2022-03-11 08:42] turkenh opened #2960 "Rollout External Secret Store support to Providers"
### What problem are you facing?

With External Secret Store support being available soon, we need to roll out the feature to existing providers and add support in Terrajet.

### How could Crossplane help solve your problem?

 - [x] Add ESS support to Terrajet and Jet Based Providers
   - [x] Add controller option to Terrajet itself => https://github.com/crossplane/terrajet/pull/269
   - [x] provi

[2022-03-11 08:45] turkenh opened #2961 "Document External Secret Store feature"
### What problem are you facing?

With External Secret Store support being available soon, we need to document how to enable/configure the feature.

### How could Crossplane help solve your problem?

Add documentation and have a guide for writing secrets to Vault.

[2022-03-11 08:48] muvaf commented on #2962
I moved this to crossplane from terrajet since it's about CRDs in general.

[2022-03-11 08:54] muvaf commented on #2947
I think the problem is more about hesitance around upgrading Crossplane. While not as heavyweight as Kubernetes, people might want to wait for one or two minor releases before upgrading but for providers, it's usually a faster cycle because more fixes and features go in there. I agree that version constraints would work well but it'd force the upgrade whereas what I'd like to do is not block peopl

[2022-03-11 09:38] ulucinar opened #2963 "Cherry-pick kubectl discovery client parameters fix to release-1.23 branch"
### What problem are you facing?

As discussed in #2895, we would like to have kubectl discovery client's token bucket rate limiter parameter [fix](https://github.com/kubernetes/kubernetes/pull/107131) to the `release-1.23` branch.

### How could Crossplane help solve your problem?

We can cherry-pick the fix to the upstream `release-1.23` branch.

[2022-03-11 09:39] ulucinar commented on #2963
Cherr-pick PR has been merged here:
https://github.com/kubernetes/kubernetes/pull/108401

[2022-03-11 09:39] #2963 closed

[2022-03-11 12:42] muvaf commented on #2929
I also think of the secret of XR as intermediary storage for filtered secret that will be propagated to the claim's namespace. I think that's one of the main reasons we don't ask for a name, it's just UID of the XR.

When I think about usage pattern, I feel like the namespace of the claim has the right to use that infra, so maybe we can consider having an option to allow multiple claims binding to

[2022-03-11 12:43] #2881 closed

[2022-03-11 13:27] ulucinar opened #2964 "Proxy Support Issue for CRD-scaling in GKE Regional Clusters"
### What problem are you facing?

As detailed in #2895, we have been observing issues with GKE regional clusters (with HA control-planes) during the installation of `provider-jet-aws@v0.4.0-preview` with ~800 CRDs. We would like to open a support issue to diagnose these issues and explore any available workarounds/control-plane configuration options, etc.

### How could Crossplane help solve your

[2022-03-11 13:30] ulucinar commented on #2964
We have opened a support issue (case `29507449`) for GKE regional clusters. The current assessment from the support team is that currently there is no parameter that we can configure to affect the initial control-plane size, and what happens is that GKE determines it cannot repair the control-plane, after some initial crashes, with the machine type where control-plane components are running, and t

[2022-03-11 22:45] haarchri commented on #2957
you missing here https://github.com/cahan1013/crossplane-poc/blob/main/cluster-composition.yaml#L280 the following

[code]

you can also check: https://github.com/upbound/platform-ref-aws/blob/main/cluster/eks/composition.yaml#L210-L211

[2022-03-12 06:34] haarchri commented on #2656
@eloo thank for opening https://github.com/crossplane/crossplane/issues/2954 we faced today the same for automatic - that the revision number is not updated

[2022-03-14 08:10] sharigitpersonal opened #2966 "Crossplane creates multiple AWS EBS volumes while reconciling"
### What happened?

Created an EBS volume using crossplane and aws provider 'registry.upbound.io/crossplane/provider-aws:v0.23.0' . The volume was created with the exact configurations that I passed.

I tried to delete the volume manually to check the reconciliation feature of crossplane. But it started creating many volumes. It created almost 2k volumes and flooded the system.

I would like to un

[2022-03-14 09:58] i-kumaranand commented on #1957
I came acros this same issue of Not being able to pull AWS Provider package from my Private ECR repository. Same error as described above. Any solution to this? I am doing this on the Open Internet (with No proxies in between).

[2022-03-14 13:41] RafaelMarquesRodrigues commented on #2665
I'm having the same issue when upgrading from v0.24.1 to v0.25.0. How can I get around it and remove the extra `crossplane-aws-provider`?

[2022-03-14 13:48] hasheddan commented on #1957
@i-kumaranand what version of Crossplane are you using?

[2022-03-15 08:16] insider89 opened #2969 "Crosspalne GCP CloudSQL instance create separate password for read replica"
### What happened?
I am using GCP crossplane provider to create CloudSQL instance with read replica. As I understand I need 2 different yaml file: 1 for master node and 1 for read replica. For both of them I specify secret file to which connection information is written. For master node and read replica I specify different secret: `cloudsqlpostgresql-conn` and `cloudsqlpostgresql-conn-replica`. Wh

[2022-03-15 11:47] MisterMX commented on #2850
I as well do think that Crossplane should follow the standards. Considering https://kpt.dev/reference/schema/crd-status-convention/ I think it is already pretty close to what can be considered common.

When I look at it from the perspective of a Crossplane user I would be _very_ happy to see this merged. When developing and testing compositions it can be quite cumbersome to detect errors by lookin

[2022-03-16 16:07] muvaf opened #2975 "Update xpkg spec with the new webhook functionality"
### What problem are you facing?

With https://github.com/crossplane/crossplane/pull/2919 , we now accept packages with webhook config types (`MutatingWebhookConfiguration` and `ValidatingWebhookConfiguration`) however the package spec does not include them.

### How could Crossplane help solve your problem?

Add these types to known valid types to the spec.

[2022-03-16 16:09] muvaf opened #2976 "Update installation steps in docs with webhook"
### What problem are you facing?

In https://github.com/crossplane/crossplane/pull/2919 , we mention users can enable wehbooks in Helm parameter reference but that's not very visible.

### How could Crossplane help solve your problem?

We should mention this and other alpha features more clearly in the installation steps.

[2022-03-16 17:21] #2894 closed

[2022-03-16 17:28] muvaf commented on #727
With https://github.com/crossplane/crossplane/pull/2919 merged, this is now possible to implement on per-resource basis, see an example [here](https://github.com/crossplane/crossplane/blob/736e72a/apis/apiextensions/v1/xrd_webhooks.go#L49). I opened https://github.com/crossplane/crossplane-tools/issues/40 to automate it. I think the next step would be to open this issue for individual types.

[2022-03-16 17:28] #727 closed

[2022-03-16 17:31] muvaf opened #2977 "Cut v1.7.0 on March 22, 2022."
This issue can be closed when we have completed the following steps (in order).
Please ensure all artifacts (PRs, workflow runs, Tweets, etc) are linked from
this issue for posterity. Refer to this [prior release issue][release-1.6] for
examples of each step.

- [x] Created the release branch.
- [x] Created and merged an empty commit to the `master` branch.
- [x] Run the [Tag workflow][tag-workflo

[2022-03-16 17:36] muvaf commented on #2977
Code freeze was on March 15 but in order to get https://github.com/crossplane/crossplane/pull/2919 included, we pushed for one day. I just created `release-1.7` branch on March 16.

[2022-03-16 17:47] sharigitpersonal opened #2978 "How to associate an EIP to an EC2 instance using crossplane"
### What happened?

I am trying to create an EC2 instance and an EIP and associate the same to the EC2 created.
This is possible in terraform using the EIP association modules. Is there anything similar in crossplane.

I have created an ec2 and eip separately . Manually attached the EIP to the EC2 for the moment.
Unable to identify the right entries in the yaml to associate the EIP to the EC2.

##

[2022-03-17 12:05] muvaf commented on #2947
https://github.com/crossplane/crossplane/pull/2982 and https://github.com/crossplane/crossplane/pull/2981 are opened to allow installation of these packages in v1.5 and v1.6. Once v1.7 is released, users will be able to install packages with webhooks to the last three minor versions. @hasheddan I didn't open a PR for v1.4 since it will EOL with the release of v1.7 but I can do that as well if you'

[2022-03-18 13:05] turkenh opened #2985 "Support for Consuming Input Secrets from External Secret Stores"
### What problem are you facing?

With the recently introduced [External Secret Stores](https://github.com/crossplane/crossplane/blob/master/design/design-doc-external-secret-stores.md) support, it is now possible to write/publish Connection Details to External Secret Stores like Vault.

However, there is another relatively rare use case dealing with sensitive information that still can only be su

[2022-03-18 19:34] #2867 closed

[2022-03-18 20:46] haarchri commented on #2978
@sharigitpersonal can you open this question in crossplane/provider-aws ? Thanks

[2022-03-18 20:52] haarchri commented on #2966
@sharigitpersonal can we have this topic in crossplane/provider-aws ? btw never see something like this in our environment but i can check

[2022-03-18 20:54] haarchri commented on #2978
@jbw976 can you move this request to provider-aws ?

[2022-03-18 20:55] haarchri commented on #2966
@jbw976 can you move this bug to provider-aws ?

[2022-03-21 09:58] insider89 opened #2991 "GCP provider pubsub topic message retention"
### What problem are you facing?
I want to create GCP pubsub topic with retention period of 7d. Looks like current latest GCP provider version(v0.20) doesn't support it.
[Gcloud](https://cloud.google.com/sdk/gcloud/reference/pubsub/topics/create) utility support it: `--message-retention-duration=MESSAGE_RETENTION_DURATION`

### How could Crossplane help solve your problem?
Add support of `message-

[2022-03-21 11:33] Nightreaver opened #2992 "`crossplane` cli tool version information"
### What problem are you facing?
I would like to see which version of the cli I have installed, but any crossplane command is only giving me "how to use" instead of any version number.
I tried
* `crossplane --help`
* `crossplane -h`
* `crossplane -v`
* `crossplane --version`
* `crossplane version`

### How could Crossplane help solve your problem?
Add version information to the cli, so people can

[2022-03-21 11:39] ulucinar commented on #2992
Hi @Nightreaver,
Following seems to be working for me:
[code]

What's your output with `-v`?

[2022-03-21 11:41] Nightreaver commented on #2992
I'm running the command without `kubectl`, and there is no `-v` option.

[2022-03-21 11:50] ulucinar commented on #2992
We are talking about the Crossplane CLI (which is a `kubectl` plugin) as discussed here, is this correct?
https://crossplane.io/docs/v1.6/getting-started/install-configure.html#install-crossplane-cli

If so, could you please share the output of `kubectl crossplane --help`?

[2022-03-21 12:01] Nightreaver commented on #2992
I think I have mistaken "crossplane" (file) to be the crossplane cli tool.

In fact `crossplane` doesn't offer a version string, while `crank` aka `kubectl-crossplane` does.
So if I use the right cli tool, the version string exists.

[2022-03-21 13:05] turkenh opened #2993 "Proposal: Implement a plugin mechanism for out-of-tree External Secret Stores"
### What problem are you facing?

We recently [merged](https://github.com/crossplane/crossplane/pull/2940) External Secret Stores as an _alpha_ feature with an initial support of [Vault](https://www.vaultproject.io/) as a Secret Store. As proposed in [the design doc](https://github.com/crossplane/crossplane/blob/master/design/design-doc-external-secret-stores.md), this was implemented _in-tree_ in

[2022-03-22 11:59] #2975 closed

[2022-03-22 13:26] turkenh opened #2998 "Track usage of Secret StoreConfig and Prevent deletion while it is in use"
### What problem are you facing?

With External Secret Stores, [a new API](https://github.com/crossplane/crossplane/blob/master/design/design-doc-external-secret-stores.md#api) is proposed to write connection details to Secret Stores including Kubernetes. This API introduces a new CRD, namely `StoreConfig`.

To write/publish a connection secret, a resource (managed/composite/claim) needs to define

[2022-03-22 18:36] negz commented on #2992
Thanks @Nightreaver! It sounds like you figured this out so I'm going to resolve it. Let me know if I misunderstood.

[2022-03-22 18:36] #2992 closed

[2022-03-22 18:45] negz commented on #2957
@haarchri Are you sure `readinessChecks: [type: None]` would be required here? I would have expected this claim to become ready with the 'default' readiness check (that checks the `Ready` condition is `True`), given all composed resources seem to be `Ready`.

[2022-03-22 19:54] negz commented on #2850
Thanks for the context - I'm coming around to this idea. So I think the questions now are:

* Should we update all types with a status to support this (e.g. package types too)? I think yes.
* Do we roll forward with `Synced` (the path of least resistance) or adopt one of the other standards?

It's not clear to me how widely adopted the kpt and kstatus approaches are, so I'm personally leaning towa

[2022-03-23 05:47] negz opened #3001 "Prototype rootless container based composition functions"
### What problem are you facing?

As part of https://github.com/crossplane/crossplane/issues/2524 we're prototyping a few different approaches to how we might run "XRM functions" (a slightly more opinionated superset of KRM functions). One approach we'd like to try out is using chroot inside a single container to execute a pipeline of functions as described at https://github.com/GoogleContainerToo

[2022-03-23 07:23] turkenh opened #3002 "Updated the current release version in the Crossplane docs website repo."

[2022-03-23 07:23] turkenh commented on #3002
Converted to issue by mistake, closing.

[2022-03-23 07:23] #3002 closed

[2022-03-23 14:47] turkenh commented on #2977
Closed with https://github.com/crossplane/crossplane/releases/tag/v1.7.0

[2022-03-23 14:47] #2977 closed

[2022-03-23 14:47] AnaMariaMoga commented on #2944
Hello,

I am facing this issue with the latest stable version of crossplane, v1.7.0. Is there anything recommended for this?
(sorry if I miss any discussion or document on this topic, any help/direction is appreciated :pray: )

[2022-03-23 14:57] bassam commented on #2468
In situations where users are using controller config to set credentials it feels like it's on a 1:1 basis with provider and the credentials might as well have been set on the Provider object.

[2022-03-23 15:07] AnaMariaMoga commented on #2944
Ok, I see, thank you. I will use v1.6.4 for the moment. :+1: I am working on a Crossplane Provider, but it is not released yet.

[2022-03-23 17:12] iAnomaly commented on #2249
Nothing like a reply almost one year later right @negz? To answer your ping, I can confirm `crossplane.io/external-name` changes are propagating through the layers as expected now: updating the claim changes the XR and finally the MR(s).

HOWEVER, I am noticing an IMO unexpected behavior where the Ref resolved by a Selector type field does not update when it is changed. For example, if I change `c

[2022-03-24 13:42] jwitrick commented on #1722
I agree with the above, having the ability to specify external resources as a crossplane object AND make it readonly is REALLY important.

In my use case (like others above) we are using a different workflow to setup/manage our external resources (AWS VPC, etc..) and then we create crossplane resources for things like Subnets, SecurityGroups, etc... and use those resources in other crossplane reso

[2022-03-24 15:01] janwillies commented on #1722
Other possible ways to solve this without importing the resources into crossplane might be via https://github.com/crossplane/crossplane/pull/3008 or https://github.com/crossplane/crossplane/issues/2524

[2022-03-26 22:59] ytsarev opened #3009 "ComposeResources behaviour is inconsistent when the spec of Composed Resource is not fully specified"
### What happened?

Incosistency can be demonstrated by 3 different cases

1. When we have Composed Resource as part of the Composition without specification of full spec like

[code]

the Composition will fail to be created with
[code]

2. In the meantime, if we remove patching of `metadata.name` like

[code]

we wiil observe the same error for a while in event stream

[code]

but the creation of

[2022-03-28 14:24] odidev commented on #2912
I am happy to help if required in adding ARM64 jobs in Github actions.

[2022-03-28 15:51] muvaf commented on #2249
@iAnomaly thanks for confirming that the bug is fixed. https://github.com/crossplane/crossplane-runtime/issues/250 is I think what you're looking for that other problem.

[2022-03-28 15:51] #2249 closed

[2022-03-28 15:55] muvaf commented on #2468
There is a possibility that `Provider` does not match `ControllerConfig` or the `Deployment` 1:1 if we implement provider sharding based on `ProviderConfig` to cover [identity-based auth cases](https://github.com/crossplane/crossplane/issues/2923) where the cloud providers assign a single identity to a singe `ServiceAccount`, hence `Pod`, hence `Deployment`.

[2022-03-28 16:48] eloo opened #3010 "Managed resource stuck / How to force reconcile"
### What happened?
I have created a claim which is going to spin up a role, a policy and a rolepolicyattachment (provider-aws).
While not all resources and their dependencies were in ready state the rolepolicyattachment ( rpa ) was set to not ready with the following error:

[code]

Totally fine with that.
But after a few minutes all role and the policy has been changed to ready.
But the rpa is st

[2022-03-28 16:59] eloo opened #3011 "CompositionRevision duplicates"
### What happened?
Hi,
as we are using more and more composition revision we may have found a bug.
Or at least a really really unexpected behaviour.

We are facing composition revision duplicates.
Like this:

[code]

You see here that the revision `s3bucket-composition-4jsjv` and `s3bucket-composition-4ns75` having the same revision number.

Comparing the yaml output the only difference is
[code]

[2022-03-28 17:39] iAnomaly commented on #2249
Thanks for the reminder about https://github.com/crossplane/crossplane-runtime/issues/250 @muvaf. I forgot I was already following it and had previously left some comments.

[2022-03-28 20:47] glaxman commented on #2869
We started installing the aws terra jet provider using the following command, and it is taking too long to install all the cards. Moreover, we see a lot of client calls throttling. Is there a way to configure what CRDs we can install rather than installing all the CRDs?

[2022-03-29 09:13] fsniper commented on #2895
@ulucinar I would like to point out that a Sizing Guide would not be very applicable for managed cluster users like us.  We are using AKS clusters, and AKS does not provide anyway to configure the control plane.

Also when you start using multiple providers in the same cluster, crd numbers start stacking up. This means even if you do not use terrajet providers - which are the main aggressor here -

[2022-03-30 08:30] negz commented on #3001
We may be able to leverage gVisor to run functions inside our (typically unprivileged) container by using `runsc run --rootless` per https://github.com/google/gvisor/pull/6581. I haven't tested this though - we'll likely run into similar issues to https://github.com/google/gvisor/issues/4371 and/or its presumed containerd equivalent. This would also eliminate running Crossplane in a cluster that i

[2022-03-30 11:04] luebken opened #3012 "Listing Crossplane Providers"
### What problem are you facing?
With the advent of Terrajet we are seeing a sprawl of new providers by the community. Currently, these providers are hard to discover and the only Community provided list is in the docs at [/concepts/providers](https://crossplane.io/docs/v1.7/concepts/providers.html). All other providers need to be discovered by searching GitHub.

### How could Crossplane help solv

[2022-03-30 11:13] luebken commented on #3012
I've started building https://luebken.github.io/awesome-crossplane-providers/ which is powered by a set of batch jobs scraping Github. This project also introduces a maturity indication Unreleased, Alpha, Beta, V1 by examining the greatest version of any Managed Resource.

If the community supports this approach, I'd like to propose to move this project into the crossplane or crossplane-contrib or

[2022-03-30 12:34] muvaf commented on #2869
Cross reference to https://github.com/crossplane/crossplane/issues/2122

[2022-03-30 12:47] muvaf opened #3013 "Cut v1.6.5 on April 1, 2022."
This issue can be closed when we have completed the following steps (in order).
Please ensure all artifacts (PRs, workflow runs, Tweets, etc) are linked from
this issue for posterity. Refer to this [prior release issue][release-1.6] for
examples of each step.

- [x] Updated all version information in the documentation on the relevant release branch.
- [x] Run the [Tag workflow][tag-workflow] on th

[2022-03-30 12:48] muvaf opened #3014 "Cut v1.5.3 on April 1, 2022."
This issue can be closed when we have completed the following steps (in order).
Please ensure all artifacts (PRs, workflow runs, Tweets, etc) are linked from
this issue for posterity. Refer to this [prior release issue][release-1.6] for
examples of each step.

- [x] Updated all version information in the documentation on the relevant release branch.
- [x] Run the [Tag workflow][tag-workflow] on th

[2022-03-30 12:48] MisterMX commented on #3011
We encountered this issue as well. We suspect this might be caused by a race condition between two reconciles but weren't able to reproduce it so far.

[2022-03-30 12:53] MisterMX commented on #2850
Instead of showing two columns `SYNCED` and `READY` that can only print `true` or `false` each resource could just have a `STATUS` column with more meaningful content that matches the conditions, such as `Creating`, `Deleting` or `ReconcileError`.

[2022-03-30 13:23] eloo commented on #3011
@MisterMX
ah okay. good to know that at least this issue is already known.

maybe a solution to mitigate the race condition could be use a hash of the file as suffix as mentioned here:
https://github.com/crossplane/crossplane/issues/2656#issuecomment-1062041107

with the hash as suffix a collision would be detected by the reconcilers

[2022-03-30 13:37] hasheddan commented on #2944
Fixes are available for this, with the first patch rolling out in `provider-aws`: https://github.com/crossplane/provider-aws/pull/1239

As a side note, I am working on a draft of a plan to move integration testing scripts out of the provider repos and standardizing them in a location or framework that means maintainers won't have to deal with old bash scripts and can easily submit e2e jobs.

[2022-03-30 13:43] muvaf commented on #1846
https://github.com/crossplane/crossplane/pull/2983 will tackle the provider part of this by providing a tool to run standardized tests against common metrics.

[2022-03-30 17:33] AaronME commented on #2219
- I wanted to reopen this as I have hit the same behavior as @cihangirbesiktas without helm. Here is what we are seeing:

We had a development cluster running  test of provider-jet-vault. The provider was deployed via argo with the name `provider-jet-vault`.

At a later time, we added the same provider as a dependency on a Configuration Package and deployed to the development cluster. This created

[2022-03-30 19:04] AaronME commented on #2032
We encountered this behavior in our environments. (See [comment](https://github.com/crossplane/crossplane/issues/2219#issuecomment-1083424532).)

The guidance on using the same naming scheme as crossplane (<org>-<repo>) will help us moving forward. Are there any steps which could repair the case where we already have an Unhealthy provider stuck against a previously installed one?

[2022-03-30 19:30] wilhelmi opened #3015 "Problem deploying composition revisions in configuration packages"
Hit stumbling block with composition revision and configuration packages. Revisions are enabled in Crossplane 1.7.0, when I make changes to the composition locally and apply them they work as expected. I get multiple revisions, and I can point the claim to the desired revision.

Next step was to package up the changes. Created 2 packages each representing the stages I ran through above. When I app

[2022-03-30 21:50] clareliguori opened #3016 "Set user agent on AWS client"
### What problem are you facing?
It can be difficult to tell which requests in my AWS account are coming from Crossplane, vs other tools that may be using the same credentials/role.

### How could Crossplane help solve your problem?
I propose setting the user agent on the AWS clients created by Crossplane to something simple like "Crossplane".  CloudTrail records the user agent for AWS requests (s

[2022-03-30 22:00] negz commented on #3016
Thanks @clareliguori! We'd definitely be happy if you wanted to contribute this. I agree it's something we should do.

[2022-03-30 22:05] negz commented on #3011
Thanks for the report @eloo! That's definitely not expected.

[2022-03-31 07:22] #2947 closed

[2022-03-31 08:17] muvaf opened #3017 "Bug scrubbing and planning the next steps for issues"
### What problem are you facing?

There are many core Crossplane and provider issues that are stale

### How could Upbound help solve your problem?

We can plan for bug scrubbing sessions similar to k8s community where we spend time each week or every other week to go through all issues

[2022-03-31 11:17] laetho commented on #2895
Just want to chime in and stress the point others have made here that having 1000, 2000 or 3000 crds around seems unsustainable, regardless of performance improvements in the wider ecosystem.  Not to mention all the XRD people will create on top of the ones that come with the providers.

Would it not be better to be able to do something like the following:

[code]

[2022-03-31 11:22] jbw976 commented on #2895
Any folks that are interested in disabling/enabling certain CRDs and API groups when installing a crossplane provider should put a thumbs up 👍  on this tracking issue: https://github.com/crossplane/crossplane/issues/2869

[2022-03-31 20:30] wilhelmi commented on #3015
Same problem with 1.6.4, first package will deploy to a healthy state, second package fails.

[2022-03-31 22:47] wilhelmi commented on #3015
@negz as the driver of revisions, is it possible to package revisions up as packages, reading some package docs leaning towards this not being possible?

[2022-04-01 09:16] cahan1013 commented on #2957
You are right. This issue can be fixed by set readinessChecks to None.

[2022-04-01 09:26] muvaf commented on #3013
https://github.com/crossplane/crossplane/releases/tag/v1.6.5

[2022-04-01 09:26] #3013 closed

[2022-04-01 09:27] muvaf commented on #3014
https://github.com/crossplane/crossplane/releases/tag/v1.5.3

[2022-04-01 09:27] #3014 closed

[2022-04-01 12:46] MisterMX commented on #2099
@muvaf yes, this is indeed a problem that might lead to a big security loophole. We therefore suggested an alternative approach by introducing a new CR `ValueSet` that can be referenced in compositions without leading to privilege escalation. See #3008.

[2022-04-01 13:40] mcbenjemaa opened #3023 "Pulling packages from artifact-registry is not working in GKE cluster"
### What happened?

Surprisingly, pulling packages from artifact-registry  in GKE cluster is not working with crossplane `v1.6.4`

Error:
[code]

### How can we reproduce it?

Deploy crossplane `v1.6.4` and try to pull an image using imagepullsecret `dockerconfigjson`

### What environment did it happen in?
Crossplane version: v1.6.4
Cloud provider or hardware configuration: GCP
Kubernetes version

[2022-04-02 03:19] #2957 closed

[2022-04-04 10:45] samidbb opened #3025 "Support for field transforms on fromFieldPath that are part of Combine patch"
### What problem are you facing?
We want to avoid using annotations and status fields as temporary fields in our compositions.

Right now we are forced to do the followings on our composition that defines Topic in our Custom Confluent provider:
[code]
Input example:
availability: public
name: mytopic

Resulting topic name:
pub.mynamespace.mytopic

Storing temporary variables in labels, annotations

[2022-04-04 11:12] samidbb opened #3026 "Support for replace string transform"
### What problem are you facing?
We are always stumpling into the challenge of the limitation of not being able to do a simple string replace without the need for using annotations and status field temporarily

The challenge with the current approach is illustrated in this issue: https://github.com/crossplane/crossplane/issues/3025
### How could Crossplane help solve your problem?

An example of h

[2022-04-04 11:58] samidbb opened #3027 "Merge `provider-kubernetes` features into Crossplane Core?"
### What problem are you facing?

Important features that we are very much in need like:
- Read field values from ConfigMaps and Secrets
- Passing values between resources in a composition

These features have been described in this design document for the enhanced k8s provider:
https://github.com/crossplane-contrib/provider-kubernetes/blob/main/docs/enhanced-provider-k8s.md

### How could Crosspl

[2022-04-04 19:49] negz commented on #3001
@sergenyalcin just a heads up, I've been reading up on this a bit and hope to take a shot at a prototype today.

[2022-04-04 19:54] negz commented on #3001
Regarding my previous comment about gVisor - I'm thinking that gVisor (runsc) and/or regular runc are probably not the best approaches, at least to begin with. As far as I can tell:

* Neither will run within Docker/containerd today without a few modifications.
* gVisor only really supports amd64, though there's [preliminary aarch64 support][1].

I'm thinking we'll be able to prove this approach o

[2022-04-05 10:34] btwseeu78 commented on #3023
testing version:
kubernetes:  1.21.9-gke.1002
crossplane chart version : v1.6.4
values file:
[test.yaml.txt](https://github.com/crossplane/crossplane/files/8417214/test.yaml.txt)

provider-kubernetes:

`apiVersion: pkg.crossplane.io/v1
kind: Provider
metadata:
  name: provider-kubernetes
  namespace: crossplane-system
spec:
  package: us-central1-docker.pkg.dev/testplane-30/crossplane/provider-kub

[2022-04-05 10:38] btwseeu78 commented on #3023
this config works in my cluster.

[2022-04-05 14:17] muvaf commented on #3027
Would this design solve this use case for you? https://github.com/crossplane/crossplane/pull/3008

It's possible to use `ToComposite` patch type to copy a value from composed resource to the composite and then in another resource, use that value `FromComposite`. You can also block the creation if you make the patch policy `Required`. Would that help you in this case?

[2022-04-05 22:11] jessesuen opened #3028 "Regular expression group capture string transformation"
### What problem are you facing?

Crossplane currently supports a limited number of string transformations:
* fmt
* trim
* convert

However, I feel these are quite limiting. Crossplane could additionally support a regular expression syntax along with group capture, which would be much more flexible. It would even obsolete the need for TrimPrefix/TrimSuffix.

### How could Crossplane help solve you

[2022-04-06 02:13] negz commented on #3028
This sounds reasonable to me - I think it would be a good compliment to the existing trim transforms, which are still nice for simple cases due to their easier API.

[2022-04-06 02:14] negz commented on #2773
@jessesuen I've been meaning to find some ArgoCD maintainers to reach out to to chat about this issue; I suspect some of the work to make the two projects work better together might fit best on the ArgoCD end. Any tips on who I should talk to?

[2022-04-06 13:19] samidbb commented on #3027
I think the design will solve this use case for us.
with regards to using ToComposite and FromComposite patches it will involve using labels or annotation as temporary variables right?

[2022-04-06 13:47] chlunde opened #3030 "Flux compatibility - service account annotations"
### What happened?
We sometimes see bursts of Unauthorized for calls from crossplane providers to the kubernetes apiserver. After some debugging we've found that the UID in the service account does not match the token on the file system. We noticed that the service account has a "fluxcd.io" annotation, even though it is not managed by flux. This is because crossplane copies all annotations from th

[2022-04-06 17:51] chlunde commented on #3030
Workaround (thanks @haarchri): `kustomize.toolkit.fluxcd.io/prune: disabled`

[2022-04-06 20:52] muvaf commented on #3027
@samidbb you can have status fields in your `CompositeResourceDefinition` and use them as the middleman or go with labels/annotations for flexibility.

[2022-04-07 07:57] samidbb commented on #3027
We are using this approach already for storing temporary variables to overcome the shortcomings that are mentioned in the examples here https://github.com/crossplane/crossplane/issues/3025 and here https://github.com/crossplane/crossplane/issues/3026. So we want to avoid using this approach since it really complicate the process for writing and testing compositions.

[2022-04-07 10:02] ksawerykarwacki commented on #2099
@MisterMX I currently have workflow where I patch from one composition's connection secrets to another (shared infrastructure credentials for multiple application instances) and currently I have to do this in the application that generates claims. Is there any assumption that `ValueSet` could replace connection secret or extend that functionality?

[2022-04-07 12:08] smileisak commented on #3023
@mcbenjemaa I've created a Kind cluster and tested locally, it works. I've created as well a GKE cluster to be sure that the issue is not related to GKE and it works as well.

I think that the service account used does not have the rights to download the artifacts `artifactregistry.repositories.downloadArtifacts`. Meanwhile this service account acquired this permission. I have the same issue and b

[2022-04-07 13:02] MisterMX commented on #2099
@ksawerykarwacki I don't think that will happen (though its not up to me) and I am not sure if its actually desirable to replace the common Secret resource with something Crossplane specific.

However, you *could* add the `ValueSet` as a dedicated resource in your composition, patch the data you need and reuse it somewhere else.

[2022-04-07 13:36] #2960 closed

[2022-04-07 13:36] turkenh commented on #2366
All todo items completed, closing 🎉

[2022-04-07 13:36] #2366 closed

[2022-04-07 18:20] dee0sap opened #3034 "CVEs reported due to vault version"
### What happened?
The blackduck binary analysis tool we use reported that Crossplane 1.7.0 has the following vulnerabilities due to its use of vault-v1.3.1

CVE-2021-41802	2021/10/09	5.5	5.4	Exact match
CVE-2021-27400	2021/04/23	5.0	7.5	Exact match
CVE-2021-3024	2021/02/02	5.0	5.3	Exact match
CVE-2020-25594	2021/02/02	5.0	5.3	Exact match
CVE-2020-13223	2020/06/11	5.0	7.5	Exact match
CVE-2018-1978

[2022-04-07 18:33] trash-anger commented on #280
What about using crossplane's terraform provider, then terraform's mongo atlas provider to do it?

[2022-04-07 21:23] turkenh commented on #3034
@dee0sap thanks for the report!

Actually we don't have direct dependency to Vault itself, we depend on the following packages from Vault repository:

[code]

And when I check available versions there, I could only see the following (no `v1.7.4` version):

[code]

Would you mind sharing the output of your analysis tool for more details, if possible?

[2022-04-07 21:32] turkenh commented on #3034
Just opened [this](https://github.com/crossplane/crossplane-runtime/pull/327) if it helps.

[2022-04-07 22:05] dee0sap commented on #3034
Hey @turkenh
Thanks for looking into this.
Just was poking around and I think the problem is that the binary scanner we're using isn't smart enough to understand multi-module repositories.
Most likely just moving to the latest versions of sdk and api will deal with the issue.
Pretty sure I can 'manually' upload an image to the scanner so if you let me know when there is an image that is using the

[2022-04-07 22:31] turkenh commented on #3034
@dee0sap that would be great, thanks!

Just built/pushed `turkenh/crossplane:vault-update` from #3035.

[2022-04-07 22:52] luebken commented on #280
There is now a MongoDB Atlas provider https://github.com/crossplane-contrib/provider-jet-mongodbatlas

[2022-04-08 11:26] muvaf opened #3036 "Add webhook instructions to the provider development guide"
### What problem are you facing?

We have the webhook capabilities in Crossplane but there isn't much documentation for people to see how they can implement it in their providers.

### How could Crossplane help solve your problem?

We can update the [provider development guide](https://github.com/crossplane/crossplane/blob/master/docs/contributing/provider_development_guide.md) to have a section a

[2022-04-08 16:14] negz commented on #3001
@sergenyalcin Nice! I took a shot at integrating something very similar into Crossplane at https://github.com/negz/crossplane/commit/b537cc62cbb258525d44947525a812350c040a49. How are you feeling about the chroot vs CronJob approach at this point?

[2022-04-08 17:12] iAnomaly opened #3037 "Reconcile blocked by `crossplane.io/external-create-pending` annotation"
### What happened?

Managed resource stopped reconciling with error event:
[code]

This looks like a duplicate of #2843, but to be clear I am seeing this on an entirely different provider `aws` vs. `gcp` in that linked issue. I think it would be good to understand the root cause of this state rather than accepting the removal of the `crossplane.io/external-create-pending` annotation as the accepte

[2022-04-12 23:21] garreeoke commented on #3037
Same issue on crossplane version 1.7.0 and provider-aws 0.26.0. Running on a local kind cluster.

[2022-04-12 23:54] garreeoke commented on #3037
If the annotation is removed from managed resource, it doesn't seem to have any effect. What is causing this annotation to be created?

[2022-04-13 07:33] ulucinar opened #3042 "Proxy Issue for Upstream Kubernetes Issue to Discuss API Server Observations from #2918"
### What problem are you facing?

In the context of #2895, we have some API server observations and some related hypotheses in #2918, which we can discuss with the upstream community. We can have the related issues in upstream Kubernetes repos to discuss them with the broader community. Current list of issues are:
- https://github.com/kubernetes/kubernetes/issues/105932

### How could Crossplane h

[2022-04-13 07:45] ulucinar opened #3043 "Proxy Issue to Engage with the `sig-scalability` on CRD-scalability Thresholds"
### What problem are you facing?

[`sig-scalability`](https://github.com/kubernetes/community/tree/master/sig-scalability) maintains a [Kubernetes scalability thresholds](https://github.com/kubernetes/community/blob/master/sig-scalability/configs-and-limits/thresholds.md) document where various aspects of a Kubernetes cluster (such as the number of nodes or the number of pods, etc.) are discussed

[2022-04-13 07:46] ulucinar commented on #3043
One related discussion is here: https://github.com/kubernetes/kubernetes/issues/105932#issuecomment-954650339

[2022-04-14 07:47] sergenyalcin commented on #3001
We have two basic POCs for the two approaches and these implementations cover only the basic scenarios. However, we had chance to observe the end-to-end running processes for both options. So, first of all, I think the approaches have some advantages and disadvantages. Describing the points may help us to pick an approach to run XRM functions (supporting many ways may also be a future plan).

###

[2022-04-16 03:33] #1152 closed

[2022-04-16 04:31] negz opened #3046 "Repository maintenance improvements"
### What problem are you facing?

The c/c maintainers are starting to have trouble keeping up with issues and PRs raised against this repo. We'd like to ensure a good contributor experience (i.e. prompt responses to issues, reviews of PRs, etc) while also ensuring a fair workload for maintainers. I'd like to use this issue to explore some ideas around automation that may help here.

### How could

[2022-04-18 17:18] negz opened #3047 "Release manager program"
### What problem are you facing?

https://github.com/crossplane/crossplane/blob/7d01448/docs/contributing/release-process.md

We currently have a fairly well documented release schedule and process, but folks really only think about this toward the end of a release cycle. We typically raise a release tracking issue early, but then find ourselves soliciting a volunteer to cut the release close to w

[2022-04-18 17:19] negz commented on #3047
CC @jbw976 @hasheddan who I've discussed this with in the past.

[2022-04-18 22:56] muvaf commented on #3027
The other option I can think of is to make a patch type that will carry values between two composed resource but that'd complicate the patch mechanics even more since it'd add yet another dimension of value transit.

[2022-04-19 00:28] muvaf commented on #2964
Can we open a public issue so that we can tell Crossplane users who are experiencing this problem where to look?

[2022-04-19 16:27] jessesanford opened #3048 "Feature: Enable package signature validation with cosign"
Design 1-pager: https://github.com/crossplane/crossplane/pull/3297

Implementation: https://github.com/crossplane/crossplane/pull/3552

**What problem are you facing?**
Signed Crossplane packages are not able to be validated before installation.

**How could Crossplane help solve your problem?**

After speaking with @hasheddan in the slack channel, I would like to do some investigation into how we

[2022-04-19 16:52] asraa commented on #3048
I have some example usage of a cosign verification for keyless signed blobs, not containers, but there is some overlap in how to verify the TLOG entries
https://github.com/slsa-framework/slsa-verifier/blob/aee753f58fa9a4de2be6290e3eefae2d6e998a9d/pkg/provenance.go#L311

I'd be happy to review the verification code in the module, and double check that all the properties are there.

[2022-04-19 16:57] hectorj2f commented on #3048
@jessesanford We are currently working on reusing the current effort of sigstore/cosigned to verify signatures even using the CLI. I am not sure if that would help you but here we have our own admission controller with the validation piece of code https://github.com/sigstore/cosign/blob/main/pkg/cosign/kubernetes/webhook/validator.go#L115 and the CIP api type definition https://github.com/sigstore

[2022-04-19 23:17] negz commented on #3001
This is also where I'm leaning. I'm going to fill out the design document today to capture the fact that we'll take this direction. I'll note though that we may support other ways of running functions (CronJobs etc) in future since all options have some downsides.

[2022-04-20 08:15] Jell commented on #3037
We got the issue in the following scenario:

1. try to create a resource that was failing to be created due to some IAM configuration issues
2. restart the provider deployment
3. get the error

[2022-04-20 12:48] smileisak opened #3049 "Replacing claims ignores old composite resource"
### What happened?

When replacing a claim using `kubectl replace` strategy (PUT) a new underlying composite resource will be created which is normal, but the old one still available and should be deleted.

The expected behavior is to have only one composite resource from the replace claim.

### How can we reproduce it?

To reproduce this issue, you can follow these steps:

1. Install crossplane i

[2022-04-20 14:47] turkenh commented on #1730
@uluzox responded [here](https://github.com/crossplane-contrib/provider-kubernetes/issues/35#issuecomment-1104020537).

But the short answer is XRs are not namespace hence `metadata.namespace` is not set.

[2022-04-20 22:35] #2920 closed

[2022-04-21 19:34] jessesanford commented on #3048
Andres Torres mentioned the following from the admission controller: https://github.com/sigstore/cosign/blob/main/pkg/cosign/kubernetes/webhook/validation.go

[2022-04-21 23:36] #156 closed

[2022-04-21 23:38] muvaf commented on #280
As @luebken pointed out, there is now a provider. Feel free to open issues on that repo.

[2022-04-21 23:38] #280 closed

[2022-04-21 23:41] muvaf commented on #330
This issue seems to be solved now with manual steps in the release guide. Feel free to reopen if you see more to be done.

[2022-04-21 23:41] #330 closed

[2022-04-21 23:43] muvaf commented on #418
There is now a way to do this with a standard set of tags and it's applied in many provider-aws resources (like this [one](https://github.com/crossplane/provider-aws/blob/793e588/pkg/controller/ecr/repository/controller.go#L260)). We could do more to make it easier like https://github.com/crossplane/crossplane-runtime/issues/254 but the functionality is there and it's up to the providers now to im

[2022-04-21 23:43] #418 closed

[2022-04-21 23:45] muvaf commented on #549
`provider-aws` has this [now](https://github.com/crossplane/provider-aws/pull/1243) and I think individual issues in providers would be more helpful for maintainers to consider this individually.

[2022-04-21 23:45] #549 closed

[2022-04-21 23:50] muvaf commented on #724
Today, you can have a single OCI image including package metadata as well as the controller binary itself with https://github.com/crossplane/crossplane/pull/2758 So, this should help with moving things around. But if the request is about having support for literal registry operations, I think it's out of scope of Crossplane per its charter. Feel free to reopen if you think this doesn't address you

[2022-04-21 23:50] #724 closed

[2022-04-21 23:51] muvaf commented on #751
I think it's better to track these issues in individual provider repositories. Feel free to re-open if you think otherwise.

[2022-04-21 23:51] #751 closed

[2022-04-21 23:53] muvaf commented on #845
There is support for `category` in `CustomResourceDefinition`s and we use a set of defaults everywhere like `managed` for managed resources but it's up to the author of the kinds. I'm not sure if we'd like to manipulate the CRDs installed by package manager though. Feel free to re-open if you think we should do something additional here.

[2022-04-21 23:53] #845 closed

[2022-04-21 23:56] muvaf commented on #1651
We now have static values for patches and you can patch the status of composite with bi-directional patching referenced above. Feel free to re-open if your use case isn't addressed with these.

[2022-04-21 23:56] #1651 closed

[2022-04-21 23:57] muvaf commented on #1640
With externally-assigned ID cases, I don't think this is a practical behavior to enable by default. Feel free to re-open if you'd still like to pursue the idea.

[2022-04-21 23:57] #1640 closed

[2022-04-21 23:59] muvaf commented on #1603
There is now patch policy `Required` that can be used to achieve this. Feel free to re-open if it doesn't address your use case.

[2022-04-21 23:59] #1603 closed

[2022-04-22 00:00] muvaf commented on #1584
This is now possible with conversion webhooks capabilities introduced by https://github.com/crossplane/crossplane/pull/2919

[2022-04-22 00:00] #1584 closed

[2022-04-22 00:05] muvaf commented on #1225
We now have the standard tags and it can be implemented per-resource in providers. Though we can't force specific custom tags from a central place. I'd suggest looking at webhook tools like OPA that can mutate and/or validate that certain tags you'd like are there. Feel free to re-open if this wouldn't address your use case.

[2022-04-22 00:05] #1225 closed

[2022-04-22 00:08] muvaf commented on #1063
Most providers use our guides for implementation and code templates there include these comment tags. I think it's better to track this on per-provider basis.

[2022-04-22 00:08] #1063 closed

[2022-04-22 00:12] muvaf commented on #1833
I think this is done now as part of the release process.

[2022-04-22 00:12] #1833 closed

[2022-04-22 00:16] muvaf commented on #1699
https://github.com/crossplane/crossplane-runtime/issues/319 is probably a better place to track this.

[2022-04-22 00:16] #1699 closed

[2022-04-22 00:17] muvaf commented on #1672
XRM spec [advises](https://github.com/crossplane/crossplane/blob/master/design/one-pager-managed-resource-api-design.md#sensitive-input-fields) to accept a `Secret` but it's up to the provider developers to have the random gen functionality along that input.

[2022-04-22 00:17] #1672 closed

[2022-04-22 00:19] muvaf commented on #2157
Is this still relevant?

[2022-04-22 00:21] muvaf commented on #2148
Is this still relevant? `stable` is where we promote releases from release branches.

[2022-04-22 00:25] muvaf commented on #2079
The CRDs are now deployed by Crossplane itself, not Helm or kubectl, hence they are left in the cluster after the uninstallation. However, this usually doesn't cause a problem since no tool tries to delete them now as opposed to `helm delete` trying to clean up all what it installed. So it's probably not an issue anymore but feel free to re-open.

[2022-04-22 00:25] #2079 closed

[2022-04-22 00:26] #2013 closed

[2022-04-22 00:27] #2354 closed

[2022-04-22 00:29] #2290 closed

[2022-04-22 00:31] muvaf commented on #2253
Is this duplicate of https://github.com/crossplane/crossplane/issues/2417 ?

[2022-04-22 00:31] #2253 closed

[2022-04-22 00:38] muvaf commented on #2364
I think we'll tackle conditions and more advanced cases via custom composition https://github.com/crossplane/crossplane/pull/2886

[2022-04-22 00:40] muvaf commented on #2600
Is this still relevant? All core kinds we use are at least `v1` and I can't really remember user feedback mentioning that Crossplane couldn't be installed due to k8s version. Feel free to re-open if you think otherwise.

[2022-04-22 00:40] #2600 closed

[2022-04-22 00:45] muvaf commented on #2532
IMO, the external name is the unique and sole identifier of a resource; similar to ID of VPC in AWS; the string that would never change in the whole lifecycle of given resource.

[2022-04-22 00:50] muvaf commented on #2497
Having the standard tags is something we're doing but I'm not sure if we'd like to defer the identification to them since it's highly dependent of provider and also the resource itself; some resources don't have tags, many provider APIs don't support `search by tag`.

[2022-04-22 09:13] Feggah commented on #2532
I think it isn't ideal, because we are removing a feature from the API (the API supports updating the resource name, we wouldn't support it because of design issues), but if we have a webhook to validate this, the feedback to the user in the `kubectl apply` is instantaneous and its going to remove the "undesired behavior" of creating a new resource instead of renaming the older one.

This behavior

[2022-04-22 09:13] negz commented on #3001
I've been working on the design (https://github.com/crossplane/crossplane/pull/2886) and struggling to explain why we can't use https://rootlesscontaine.rs rather than a simple chroot. In theory it should work, but in practice I've been struggling.

I finally noticed that per [this guide](https://www.redhat.com/sysadmin/podman-inside-kubernetes) rootless podman works just fine (at least to run a b

[2022-04-22 11:05] mikkel1156 opened #3051 "Provider stays unhealthy"
Trying to create a custom provider, in this case testing creation of Proxmox Virtual Machines. Source code and image is public: https://gitlab.zerosrealm.xyz/zerosrealm/crossplane-proxmox-provider

There isn't much documentation on how to actually build and package the image, since it seems expected to use the Makefile from Upbound/Crossplane. Trying to create a proper pipeline.

### What happened