[2021-05-30 17:42] hasheddan commented on #2338
@ranjan68668 apologies for the negative experience here! A few questions to help us troubleshoot:
1. What version of provider-aws are you using?
2. Could you share the output of `kubectl get natgateway -o yaml` with any sensitive values obscured so we can see full status and ensure references to other resources were resolved correctly?

My early guess is that one of the referenced resources is inc

[2021-05-30 18:34] ranjan68668 commented on #2338
I am not sure about provider-aws version, i have't explicitly installed provider-aws, just installed V1.2.1 crossplane using below manifest
---
apiVersion: source.toolkit.fluxcd.io/v1beta1
kind: HelmRepository
metadata:
     name: crossplane
     namespace: crossplane
spec:
   url: https://charts.crossplane.io/master
   interval: 1m

--------------------nat gateway manifest--------------
kind: NAT

[2021-05-30 19:38] ranjan68668 commented on #2338
@hasheddan for aws -provider I am refering to master branch.

  clusterStacks.aws.deploy: true
    clusterStacks.aws.version: master
    clusterStacks.gcp.deploy: false
    clusterStacks.gcp.version: master

[2021-05-31 08:31] freegn opened #2339 "Create AWS KMS new key issue"
### What happened?

### How can we reproduce it?

### What environment did it happen in?

Am I missing something or this looks like a bug, on slack channel there was a kind of similar issue but also with defining an external-name in annotations.
Any advice or help really appreciated. Thank you.

[2021-05-31 11:28] muvaf commented on #2339
Could you reformat the YAML and code snippets with markdown? Also it's really hard to read/reproduce with all the indentation gone. See `Syntax highlighing` section in https://guides.github.com/features/mastering-markdown/ for details.

[2021-05-31 12:39] librannk commented on #2336
yes, i can give it a shot, not a pro in go though :) ..
also, there is 1 more related issue created by me: https://github.com/crossplane/provider-aws/issues/682

[2021-05-31 17:40] #2237 closed

[2021-06-01 22:08] hasheddan opened #2341 "Backport bot does not have proper permissions"
### What happened?

I added backport labels to #2340 and the first run failed because there was a merge conflict in `release-1.0` (related: should bot fail for all if one branch has merge conflict?). I removed the `backport release-1.0` and re-ran the workflow. The bot was able to cherry pick successfully, but then failed with `permission denied` when trying to open the backport PR.

### How can w

[2021-06-02 09:09] jbw976 commented on #2341
Looking at the logs of that failed run, it looks like it was trying to push a new branch (`backport-2340-to-release-1.1`) with the cherry-picked commit to the `crossplane/crossplane` repo, as opposed to a fork.  I think this is expected, but just wanted to make sure.

What identity does this action run with? I see it's using the default [`secrets.GITHUB_TOKEN`](https://github.com/crossplane/crossp

[2021-06-02 21:17] negz commented on #2341
I think we're hitting https://github.com/zeebe-io/backport-action/issues/41. When I tested the action out I did so on a repo I made for experimenting with actions, and the PRs I was making were from a local branch rather than a fork. I'm experimenting with a fix now.

[2021-06-03 11:36] hasheddan commented on #2212
Closing this out as it is now up to providers to incorporate these changes 👍

[2021-06-03 11:36] #2212 closed

[2021-06-03 11:45] hasheddan commented on #2135
@benagricola I think this is actually working as expected because if we don't have the old package image, we cannot be certain about what the contents of that package were. We could try to go through the resources that it has owner references on, or look in the `ConfigurationRevision` status for the list of objects, but I'm not sure this would actually be preferred when you can solve the problem b

[2021-06-03 12:00] benagricola commented on #2135
Yeah that's a fair assessment - without knowing for certain what resources a `ConfigurationRevision` is supposed to be managing (i.e. being able to read them from the image) it seems like it could be problematic to try to "guess" in some manner and accidentally release ownership of things.

I suppose it's worthwhile pointing that you need to keep the images available for each `ConfigurationRevisio

[2021-06-03 12:05] hasheddan commented on #2135
@benagricola I definitely think that would be worthwhile to document 👍 I have also added this as a discussion item for today's [community meeting](https://docs.google.com/document/d/1q_sp2jLQsDEOX7Yug6TPOv7Fwrys6EwcF5Itxjkno7Y/edit?usp=sharing). This topic is pretty nuanced as I could see either behavior being viewed as more "correct" depending on how you view the responsibilities of Crossplane. F

[2021-06-03 13:56] ulucinar commented on #2211
It seems like we have two issues here:

1. The composite reconciler, while rendering composed resources, can lose certain info when applying patches. An example to this issue is if the patch set of the composed template contains a patch for `metadata.annotations` as in the above example, then the `crossplane.io/composition-resource-name` annotation gets lost while applying patches (assuming templa

[2021-06-03 14:02] ulucinar commented on #2211
Also, if the above proposal of `MergeOptions` is okay, should we have some _declarative_ names instead of the imperative ones exemplified above, e.g., `keep: true` -> `kept: true` or `notOverridden: true`? Not sure but the imperative ones sound more natural but I think they are not in tandem with the API conventions.

[2021-06-03 15:18] muvaf commented on #2211
@ulucinar Thank you for the write-up!

Regarding [2]:

If I understood you correctly, I think this is actually the desired behavior, i.e. if user specifies a value in XR such as `crossplane.io/external-name` annotation (which is how we [import](https://crossplane.io/docs/v1.2/concepts/managed-resources.html#importing-existing-resources) resources), it should replace whatever is in the `RDSInstance

[2021-06-03 15:31] ulucinar commented on #2211
The issue mentioned in [1] is not related to json patch or json-merge patch, API server is not involved there. It's related with replacing values via the `fieldpath` library in the composite controller itself. We may, for example, overcome it by first merging  the patch source value with any existing values without overriding existing content and then call `fieldpath`'s `SetValue` with the merged

[2021-06-03 15:45] ulucinar commented on #2211
The `crossplane.io/external-name` annotation is removed from the composed resource's set of annotations because the XR has that annotation (with an empty string value). Thanks for the question @muvaf, actually this was something I was planning to mention but forgot to include in the initial write-up. So the behavior is expected as you mentioned, and that's why I would classify [1] as a bug but not

[2021-06-03 15:51] ulucinar commented on #2211
As discussed in slack, here is a snippet from an XR provisioned via a claim:
[code]
It contains the `crossplane.io/external-name` annotation, which causes the managed resource's annotation to be overridden.

[2021-06-03 15:52] muvaf commented on #2211
Yeah I just noticed that when I was testing. Apparently we propagate the external name back to claim even if it's empty and then the propagation flow is claim -> composite -> managed resource if `metadata.annotations` or even `metadata.annotations[crossplane.io/external-name]` is given and no external name annotation set in claim. So, doing [this](https://github.com/crossplane/crossplane/blob/ec0b

[2021-06-03 15:55] ulucinar commented on #2211
So, should we open bugs for these, and maybe reserve this issue for the feature request mentioned in [2] above?

[2021-06-03 16:00] muvaf commented on #2211
I think `Support merging, rather than replacing objects` is valid for [1] but not much for the empty external name propagation bug even though we thought one is the cause of other. A separate issue for setting an empty external name could make sense.

[2021-06-03 16:47] #2314 closed

[2021-06-03 18:55] muvaf opened #2350 "Composite reconciler initializes with empty string for external name"
### What happened?

When you create a claim you'll see that the external-name annotation has `""` value in both claim and composite. When you propagate `metadata.annotations[crossplane.io/external-name]` or `metadata.annotations` in `Composition` and left the annotation empty in claim/composite, you'll see that resources with late-assigned IDs like AWS VPC will be created over and over again due t

[2021-06-03 18:57] muvaf commented on #2211
Here is the issue specific to the external-name problem https://github.com/crossplane/crossplane/issues/2350

[2021-06-03 19:05] negz commented on #2211
/points 8

(Just a guess - mostly trying to make sure the points command works).

[2021-06-03 21:24] #2197 closed

[2021-06-04 07:11] jbw976 commented on #2350
@muvaf can you comment on the severity/priority of this? is this something that should be included in 1.3, backported to previous releases?  Is it a recent regression (and therefore doesn't exist in previous releases)?

[2021-06-04 12:41] muvaf commented on #2350
It happens when all three of the following exist together:
* You have a patch that includes external-name annotation, either like `metadata.annotations` or `metadata.annotations[crossplane.io/external-name]`
* You do not specify an external name annotation in the claim or composite.
* The managed resource you're propagating the external-name to gets its external-name from the cloud provider, like

[2021-06-04 13:30] ulucinar commented on #2350
Hi @muvaf,
What confused me when I first observed this issue in the context of https://github.com/crossplane/crossplane/issues/2211 is having an external-name annotation on an XR. What other use cases do we have for the external-name annotation besides relating a managed resource to the actual platform resource (e.g., relating an `RDSInstance.database.aws` CR to the actual AWS RDS database instanc

[2021-06-05 20:15] kernel164 opened #2354 "custom naming instead of dns naming convention for XRD"
### What happened?
I would like to have custom naming instead of dns naming convention for XRD and Composition metadata.name
It fails only for "CompositeResource" when XRD tries to create CRDs.

### How can we reproduce it?

I went through the code and found the issue.

https://github.com/crossplane/crossplane/blob/v1.2.2/internal/xcrd/crd.go#L62
`	crd.SetName(xrd.GetName()) `

https://github.com/

[2021-06-06 10:07] jbw976 commented on #2354
hey there @kernel164! can you provide an example of a name you'd like to you, but can't?

The Kubernetes API (as far as I know) limits the naming conventions for CRDs, so that may be a constraint here we have to deal with.  Your example could help us understand what you want to accomplish :)

[2021-06-07 12:06] muvaf commented on #2297
It seems like istio [doesn't plan to support](https://github.com/istio/istio/issues/32039#issuecomment-854795486) network access for init containers in strict mTLS mode.

[2021-06-07 19:36] negz commented on #2350
@ulucinar At the managed resource level the external name allows the managed resource author to influence the external name; i.e. it's (with some exceptions) the authoritative source of the external name, not only a record of it. The idea behind supporting the annotation at the claim and XR level was to allow claim and XR authors to influence the (conceptual) "external name" of a the claim they're

[2021-06-08 13:23] ulucinar commented on #2350
Hi @negz,
Thanks for the clarification. As you pointed out, I was thinking of the external-name annotation mainly as a record of what the platform chooses/names for us, not the way around. That definitely makes sense.

[2021-06-08 21:05] robsclark opened #2359 "Upbound blog post for rancher (asset)"
Rancher is going to be promoting upbound and crossplane. They don't have a partner website, so they use blogs and social/sales outreach combined with assets to point to.

To accompany the solution brief, request is for a blog post:

- what is unbound, upbound cloud, uxp, crossplane
- why use it with Rancher - benefits, what it delivers to the rancher client environment
- Reference the solution bri

[2021-06-08 21:06] #2359 closed

[2021-06-08 21:39] #2175 closed

[2021-06-08 22:04] negz commented on #2341
This was fixed in https://github.com/crossplane/crossplane/pull/2348.

[2021-06-08 22:04] #2341 closed

[2021-06-09 00:40] negz commented on #2279
I'm pretty sure we could just remove this from Crossplane builds; I don't think anything uses it anymore.

[2021-06-09 14:44] mf-lit commented on #2303
@hasheddan Sorry it's taken so long to respond on this, I've been tied up with other things.

Enabling debug on the AWS provider unfortunately just creates debug logs that corroborate what I see in the events.

I see a log message starting:
`Cannot resolve managed resource references`
Then there is nothing for several minutes regarding that iamrolepolicyattachment until eventually this:
`Reconcili

[2021-06-09 15:58] #996 closed

[2021-06-09 16:07] muvaf opened #2360 "ArgoCD custom readiness checks for XRDs"
### What problem are you facing?

@stevendborrelli noticed that ArgoCD doesn't pick up the readiness conditions we have.

### How could Crossplane help solve your problem?

For known CRDs, we can open PRs to [upstream](https://argoproj.github.io/argo-cd/operator-manual/health/) but likely we'll need another approach for XRDs defined in runtime.

[2021-06-09 19:01] muvaf commented on #2013
We just got together with folks from the community and went through the use cases this patch type would be useful and it seems like many of them would be solved by https://github.com/crossplane/crossplane/issues/2099 on managed resource level or with support for template string with no variables in https://github.com/crossplane/crossplane/pull/2352. The label problem @mcavoyk was having is more re

[2021-06-09 19:18] muvaf commented on #1895
@srueg We got together with folks from the community to [discuss](https://crossplane.slack.com/archives/CEF5N8X08/p1623172993129900) composition changes but sort of struggled to see whether it'd be worth to implement this feature. because implementing this would require non-trivial changes to patching machinery since currently fields are patched at every reconcile, hence generate a new value.

I m

[2021-06-09 23:18] #1973 closed

[2021-06-09 23:25] negz opened #2362 "Document Combine{From,To}Composite patch type"
### What problem are you facing?

Immediately after I merged https://github.com/crossplane/crossplane/pull/2352 I realised we didn't update the documentation to highlight the new patch type and how to use it.

### How could Crossplane help solve your problem?

We could update the documentation to highlight the new patch type and how to use it. :)

[2021-06-09 23:26] negz commented on #2362
@benagricola Are you interested in taking this one since you added the feature? :)

[2021-06-09 23:35] benagricola commented on #2362
@negz Yep I'll tackle it, definitely forgot to do that in the original PR 😅

[2021-06-10 11:12] Zak-Anderson commented on #2329
So to add to this ticket it would be nice if we could get a provider to Utilise the two processes built inside Terraform already

The Rancher2 provider is used to interact with the resources supported by Rancher v2.

The provider can be configured in 2 modes:

Admin: this is the default mode, intended to manage rancher2 resources. It should be configured with the api_url of the Rancher server and

[2021-06-10 14:19] tohjustin opened #2364 "Improve DX for conditional patching in Composition API"
### What problem are you facing?

I'm creating a composition with the `Queue` managed resource from [provider-aws](https://doc.crds.dev/github.com/crossplane/provider-aws/sqs.aws.crossplane.io/Queue/v1beta1@v0.18.1) to allow namespace-isolated tenants in our clusters to provision SQS queues.

- To implement namespace isolation (i.e. a `Queue` provisioned by an XRC cannot reference another `Queue`

[2021-06-10 14:49] rkr-kununu opened #2365 "Labelled Resources created via XRC's are not pruned with "kubectl apply --prune -l <labels>""
### What happened?
I'm evaluating Crossplane v1.2.2.  One _alpha_ feature we use heavily is kubectl's [prune](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/#alternative-kubectl-apply-f-directory-prune-l-your-label) option.

For other non-crossplane CRD's, for example Traefik v2, the prune option works as expected.  However, for resources constructed by using defined

[2021-06-11 15:32] muvaf commented on #2211
I'd suggest the following API to follow the existing [conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#primitive-types):
[code]

[2021-06-11 15:33] #2362 closed

[2021-06-11 20:38] negz opened #2366 "Support for external secret stores"
### What problem are you facing?

All conformant Crossplane managed resource support publishing their "connection details" - things like API endpoints and credentials - to a Kubernetes secret. All resources offer a `spec.writeConnectionSecretToRef` field. The managed resource reconciler will always write the referenced secret if specified, though what connection details to write (if any) is up to

[2021-06-11 20:43] negz commented on #2366
Here's a strawman proposal, that would be a breaking API change.

Publishing to a connection secret would look something like this:

[code]

Publishing to Vault would look something like this:

[code]

[2021-06-14 09:41] MisterMX opened #2367 "Overwrite package parameters in configuration"
### What problem are you facing?

We use a custom Docker registry to deploy Crossplane and its providers. Currently, `meta.pkg.crossplane.io/Configuration` provides no way to overwrite provider package configurations, such as the controller image. The only way is to rebuild the packages directly.

An alternative would be to deploy `pkg.crossplane.io/Provider` directly together with a `pkg.crosspla

[2021-06-14 12:51] #2182 closed

[2021-06-15 11:59] alexandru-crossover commented on #2290
@chlunde Can confirm, the issue is not reproducible on k8s 1.19. Thanks a lot for the help!

[2021-06-15 12:37] stephenrlouie opened #2372 "ControllerConfig with provider-aws: Kube permissions denied when running with LEADER_ELECTION: true"
### What happened?

[origin slack thread](https://crossplane.slack.com/archives/C01718T2476/p1623689121130700)
I wanted to try the aws-provider in HA mode and found that after increasing the replica count and enabling the LEADER_ELECTION env variable I began running into permissions problems with kubernetes. First was a denial on `leases` and second was a permission denied on `configmaps`. The fix

[2021-06-15 12:51] stephenrlouie commented on #2372
It looks like you can trigger this behavior by just enabling LEADER_ELECTION.

Looking at the clusterroles and clusterrolebindings have me confused because they do not change during this time. It makes me believe this might be a kubernetes problem?

[2021-06-15 13:02] hasheddan commented on #2372
@stephenrlouie I am surprised to see this behavior as we currently give _all_ providers access to `Leases` and `ConfigMaps` by default:
https://github.com/crossplane/crossplane/blob/9e108ecdedbda8b6f26d0c445eb73d9faf124385/internal/controller/rbac/provider/roles/roles.go#L57

Would you mind sharing the `Deployment` that is created for your `Provider` in this situation?

[2021-06-15 13:03] #2135 closed

[2021-06-15 13:06] stephenrlouie commented on #2372
It is bound to this ClusterRoleBinding `crossplane:provider:provider-aws-0113aaace17b:system` which connects to this ClusterRole: `crossplane:provider:provider-aws-0113aaace17b:system`

[code]

[2021-06-15 13:27] hasheddan commented on #2372
@stephenrlouie looks like a bug as I believe the `apiGroup` should be `coordination.k8s.io`. I will make sure this gets updated ASAP and we get patch releases out :+1:

[2021-06-15 13:34] stephenrlouie commented on #2372
Ah good catch! Thanks @hasheddan

[2021-06-15 15:15] wizbit opened #2376 "ConnectionDetails secret fails to populate with multiple resources"
### What happened?
ConnectionDetails are not updated if more than one resource is defined in a composite.
The secret `topic-testing` is created but empty, removing the resource `Publish` causes the secret to be populated.

### How can we reproduce it?
XRD
[code]

XR
[code]

Object
[code]

### What environment did it happen in?
Crossplane version: v1.1.1
Kubernetes version: 1.17
Kubernetes distribu

[2021-06-15 15:38] turkenh opened #2378 "Leader election configmaps getting periodic updates"
### What happened?

After installing Crossplane, I noticed that crossplane leader election configmaps are getting periodic updates (~ 50 updates per min)

[code]

### How can we reproduce it?

1. Install crossplane
2. kubectl get cm -w

### What environment did it happen in?
Crossplane version: 1.2.2

[2021-06-15 17:11] hasheddan commented on #2378
@turkenh here is some info about how leader election is configured:
1. Create manager
https://github.com/kubernetes-sigs/controller-runtime/blob/ce2f0c92d77e05609fab003663f2b5bb9c1990d7/pkg/manager/manager.go#L308
2. Build resource lock
https://github.com/kubernetes-sigs/controller-runtime/blob/ce2f0c92d77e05609fab003663f2b5bb9c1990d7/pkg/leaderelection/leader_election.go#L54
3. Default lease opti

[2021-06-15 18:42] #2372 closed

[2021-06-16 00:13] muvaf opened #2384 "Consider giving providers Secret and ConfigMap access only in their own namespace"
### What problem are you facing?

In the `ClusterRole` of providers, we add `Secret`, `ConfigMap`, `Lease` and `Event` [access](https://github.com/crossplane/crossplane/blob/master/internal/controller/rbac/provider/roles/roles.go#L66) that's not limited to any namespace. While we have to have this kind of power in core Crossplane due to how claims work, but it may not be necessary for providers. T

[2021-06-17 00:17] negz commented on #2303
I'm seeing something like this just now in provider-aws. My hunch is that it might have something to do with the number of CRs and contention for reconciles WRT the rate limiter. In my case I have ~75 active provider-aws managed resources and it seems like some resources are getting up to ~10 minutes between reconciles. For example:

[code]

Note the long gap between the last two events; I observe

[2021-06-17 00:18] negz commented on #2303
Breadcrumbs for https://github.com/crossplane/crossplane/issues/2256, which might be related.

[2021-06-17 18:16] hasheddan commented on #1867
This is no longer relevant with the OAM subchart being removed.

[2021-06-17 18:16] #1867 closed

[2021-06-18 13:07] luebken opened #2391 "Using Postgres version 9.6 results in a deprecation warning in AWS"
### What happened?

The current example uses Postgres version 9.6. In AWS this results in an upgrade warning:

![image](https://user-images.githubusercontent.com/53055/122563840-fb747900-d044-11eb-802c-d640ab86c5c4.png)

The warning links to [this announcement ](https://forums.aws.amazon.com/ann.jspa?annID=8499) which notes an End-of-Life date Jan 18, 2022 of v9.6.

### What would I expect?

As a

[2021-06-19 21:33] sanketg86 opened #2393 "any plan for Google Cloud Scheduler"
Hi Team,

I am looking solution to configure Google Cloud Scheduler through crossplane, any plan in future to add this feature in crossplane ?

[2021-06-21 11:19] morningspace opened #2394 "Does composition transforms support string concatenate from multiple source fields"
### What problem are you facing?

When I try to use composition to abstract the API routing that covers different implementations underneath such as [Kong](https://konghq.com/) and [Ambassador](https://www.getambassador.io/), I found that the current transforms does not support below case:

Say, I have one ingress rule in Kong described using:
[code]

Where the same thing will be defined different

[2021-06-21 12:23] jbw976 commented on #2394
Good question @morningspace, this was actually just recently implemented via #2352 and will be included in the v1.3 release on June 29th!

See the documentation in `master` at https://crossplane.io/docs/master/concepts/composition.html, search the page for `value based on multiple input values`, to get started with this functionality.  Let us know if you have any feedback!

[2021-06-21 15:08] #2391 closed

[2021-06-21 15:50] dee0 commented on #2335
Fwiw my team is bumping into this as well.  Specifically

[code]

Wonder how feasible it would be to make use of yq ( https://github.com/mikefarah/yq ) in Crossplane?

Example yq command that performs the transform my team needs

`echo '[ { cidrIp: "127.0.0.1" }, { cidrIp: "10.0.0.0" } ]' | yq eval '{ "allowListIPRanges" : [.[].cidrIp] }' -`

outputs

[code]

[2021-06-22 00:18] morningspace commented on #2394
This is awesome, thanks @jbw976 , let me check it!

[2021-06-22 01:52] morningspace opened #2396 "Proposal: Reusable composed resource templates"
### What problem are you facing?

I have a set of managed resources which I want to compose using different combinations. For example, if I have resource A, B, and C. I want to support combination such as AB, BC, AC, and ABC. Right now, the way I know to achieve this when define the combination using Composition is that, I have to define the Composition for each of these combinations, also the XRD

[2021-06-22 05:50] linuxbsdfreak commented on #2335
Same here. Would be nice that crossplane could support iterating over arrays. +1 for this issue to have it fixed.

[2021-06-22 15:29] jessesanford commented on #274
I would like a way of running cross plane controllers on KubeEdge. That would allow for disconnected or "occasionally" connected crossplane controllers reconciling within their own "domains"

[2021-06-23 12:29] hasheddan commented on #2366
@negz any thoughts on supporting a slice of "sinks"? I could see it being useful to some folks to be able to publish connection details to multiple locations, and I don't think it would require significant additional effort given the architecture of the managed reconciler you alluded to.

[2021-06-23 13:49] grantgumina opened #2397 "Annotations on Providers should tell me what permissions I need for each ManagedResource"
### What problem are you facing?
Something I've been struggling with, and I've seen others in the community struggle with, recently is that it's unclear what permissions I need to give the service account(s) being used by my Providers. Today I either have to ask someone in the Crossplane community or look at the code itself and understand what resources are being used, and cross-check with the CSP

[2021-06-23 14:33] adamkirk commented on #2394
I've just used this feature on version crossplane-1.3.0-rc.0.98.gbd77167d of the helm chart (in master repository).

It works a treat, thanks @jbw976!

My use case was for an iampolicy. I wanted a simple way to create an s3 bucket and an iam user with access to only this s3 bucket. Essentially i created a composition which accepts a name and then creates the relevant iampolicy, iamuser, and iampol

[2021-06-23 15:06] hasheddan commented on #2393
@sanketg86 I don't think anyone has proposed this yet, but I'll move it to the `provider-gcp` repo so it can be tracked accordingly. Are you interested in working on the implementation?

[2021-06-23 15:58] dradetsky commented on #2397
I would add that:

0. Even looking at the code is sometimes not sufficient unless it's combined with a good understanding of how the underlying managed service works. And lots of users won't understand at least some of the services they're trying to manage.

1. Not having this information (the exact set of permissions I need to give my crossplane service user for it to manage e.g. DynamoDB tables

[2021-06-23 16:21] jbw976 commented on #2394
very cool @adamkirk 😮 !! Feel free to share that example (including all the resources in the composition if you're comfortable with that so its a full example) on the show and tell "discussions" page! https://github.com/crossplane/crossplane/discussions/categories/show-and-tell

[2021-06-23 19:13] negz commented on #2366
@hasheddan Yeah, that sounds like a good approach.

[2021-06-24 06:34] chlunde opened #2398 "Add static label to providers identifying the package"
### What problem are you facing?
We have installed `provider-sql` using the `Provider` CRD. I would like to restart the deployment using a predictable name, and add security groups to the pods, but the names of the pods/deployments are generated. One way to achieve this would be to use label selectors.

[code]
[code]

### How could Crossplane help solve your problem?
Add a label at least for the p

[2021-06-24 11:44] chlunde commented on #2398
I see they are already copied from the controllerconfig, if any, so it is possible to add labels by using a controllerconfig:

https://github.com/crossplane/crossplane/blob/d04a059fe341a941760a3a94ef07085ae7158365/internal/controller/pkg/revision/deployment.go#L95-L101

[2021-06-25 12:50] arturobrzut opened #2400 "Why resourceRefs in claim write data into spec, rather then inside status"
Why resourceRefs in claim CR write data inside spec, rather than inside status.
Our approach:
 On the top of crossplane we have our App with K8s Controller which creates CR for our Claims.
(we have many claims CRD for many services.)
Inside our controller, we check if someone changed Claim CR for the service.
```reconcileContext.ResourceReconciler.Reconcile(kafkaName, kafkaclaims.From(kafkaClaimCR

[2021-06-28 13:17] chlunde commented on #2290
@hasheddan does crossplane support Kubernetes 1.18 at all, or should this issue be closed?

[2021-06-28 18:03] psinghal20 commented on #2336
Hi @negz @librannk, I took a look at this issue and the current implementation of the string transform. What do you think about adding different string operations as separate transforms? I was thinking of adding one initially for Trim and Substring:
[code]
One other thing we can do is group all these string transforms together under `string` transform and add another `type` subfield under it. Some

[2021-06-28 22:53] #2169 closed

[2021-06-28 23:06] negz commented on #2400
This is a common pattern in Kubernetes in cases where the controller needs to set a (derived) field that in turn specifies the desired state of the resource, rather than simply reflecting its observed status. This is sometimes called ["late initialization"](https://github.com/kubernetes/community/blob/2f26b93380f504e4c11effdae1eee7bbe6648d5b/contributors/devel/sig-architecture/api-conventions.md#l

[2021-06-29 09:17] hasheddan opened #2408 "Cut v1.3.0 Release"
### Release Information

**Type:**

- [x] Minor
- [ ] Patch

**Version:** v1.3.0

**Release Date:** Jun 29, 2021

### Steps

I have:

- [x] Created the [release branch][release-branch].
- [x] Created and merged an empty commit to the `master` branch ([PR][empty-commit-pr]).
- [x] Run the [Tag workflow][rc-tag-workflow] on the `master` branch with the next release candidate tag ([Tag][rc-tag]).
- [

[2021-06-29 12:07] hasheddan opened #2411 "Consider allowing provider partition on ProviderConfig"
### What problem are you facing?

As users continue to adopt Crossplane, installed Providers have become responsible for an increasing number of managed resources. As the number of managed resources climbs, Providers are more likely to run into resource constraints (i.e. CPU / memory), as well as controller rate-limiting, and any rate-limiting imposed by the external API. To address the first issu

[2021-06-29 18:15] negz commented on #2408
https://github.com/crossplane/crossplane/blob/1286d77/docs/contributing/release-process.md

I'll be following the above steps today. @hasheddan Looks like you've already done all the minor release specific steps, so I've checked those boxes.

[2021-06-29 23:35] jguionnet opened #2414 "HNC and crossplane conflict with each other"
### What problem are you facing?

I would like to use [The Hierarchical Namespace Controller (HNC)](https://github.com/kubernetes-sigs/multi-tenancy/tree/master/incubator/hnc) with crossplane.

However, when I am trying to associate a namespace with a parent a namespace, it is rejected. When I create each namespace. the [crossplane RBAC Manager](https://github.com/crossplane/crossplane/blob/master

[2021-06-30 00:21] #2408 closed

[2021-06-30 15:05] hasheddan commented on #2414
@jguionnet thanks for raising this issue! I don't think we have considered whether Crossplane should be HNC aware, but it sounds like this problem could be addressed by either Crossplane not creating roles if the namespace is managed by HNC, or HNC supporting deferring management of certain roles to a different system (e.g. ignoring roles that have something like `hnc.x-k8s.io/ignore: true`). The

[2021-06-30 15:19] hasheddan commented on #2414
As a short-term solution, @negz pointed out that you could opt to run the RBAC manager in `Basic` mode, meaning it would only manage the roles needed for core Crossplane itself, not all of the namespaces ([Helm chart docs](https://github.com/crossplane/crossplane/tree/master/cluster/charts/crossplane#configuration)):

`rbacManager.managementPolicy`: The extent to which the RBAC manager will manage

[2021-07-01 11:08] ulucinar opened #2416 "Rendered Annotations on Managed Resources Get Lost if a Patch on the root Annotations Object is Specified"
### What happened?

This is one of the three issues that surfaced when discussing #2211.
As discussed [here](https://github.com/crossplane/crossplane/issues/2211#issuecomment-853889836), if a patch from XR to MR (managed resource) is defined on the root `metadata.annotations` object, and if the XR has a non-zero `metadata.annotations` map, then for instance, the `crossplane.io/composition-resource

[2021-07-01 11:45] mf-lit opened #2417 "Unreliable/intermittent creation of composite secrets"
### What happened?

<details>
<summary><code>claim</code></summary>

[code]

</details>

<details>
<summary><code>xrd</code></summary>

[code]

</details>

<details>
<summary><code>composition</code></summary>

[code]

</details>

We're seeing some really bizarre behaviour around the creation of composite secrets. With the xrd and composition above we're finding that only one composite secret key

[2021-07-01 11:56] hasheddan commented on #2417
@mf-lit your Crossplane version is listed as `1.13.0`, which is not an existing version. Did you mean `1.3.0` or possibly `1.1.3`? Also, would you be able to provide (obscured) managed resource secret and the `Queue` managed resource itself? I wonder if those fields are being intermittently wiped from the status / connection secret of the managed resource somehow.

[2021-07-01 12:05] hasheddan commented on #2417
Also noting here from #2253:

Are you still only seeing this happen with `Queue`?

[2021-07-01 12:20] ulucinar commented on #2416
A related and somewhat confusing observation is that on top of #2353 if you first provision the composed via a claim with no annotations, then as expected you get the rendered annotation `crossplane.io/composition-resource-name` (one of the preconditions of this issue is missing) but when you add an annotation to the claim and the XR's annotation map is no longer zero-valued (and all of the precon

[2021-07-01 17:14] ulucinar commented on #2416
/points 4

[2021-07-01 18:39] negz commented on #1481
/points 21

[2021-07-01 19:59] #2350 closed

[2021-07-02 08:52] mf-lit commented on #2417
Ah yes, that was a typo sorry - I meant 1.3.0

(MR was sent by DM)

Yes, we're only seeing this with Queue still.

The other two composites we're using extensively are for RDS and IAM:
The RDS composite has four connection secrets (all of which are `fromConnectionSecretKey`), we've had no such issues with it.
The IAM composite has a single secret which is `fromFieldPath: "status.atProvider.arn"`,

[2021-07-02 19:44] negz commented on #2366
It occurred to me this morning that this could actually be backward compatible, since `writeConnectionSecretToRef` is an optional field. We could simply mark it deprecated and introduce the new `publishConnectionDetails` field.

[2021-07-06 19:17] psinghal20 commented on #2335
Hi @rozcietrzewiacz @dee0, I had some initial thoughts regarding the API design for the iterate patch functionality.
[code]
The API could look something like this for the first use case of mapping a records array to Route53 Resource records:
[code]
I believe the same could work for the use case by @dee0.
Now, you could repeat the same patch again to patch multiple fields in an object. For eg.
[cod

[2021-07-06 19:59] #1965 closed

[2021-07-06 20:05] negz commented on #2335
I'm empathetic to the UX desires here, but I'm very wary of adding iteration to the Composition API. Features like iteration and conditionals were things we explicitly did not want to add to the API in order to avoid it turning into a basically a fully fledged programming language expressed as YAML. :) Instead, we would like to add 'custom composition' support ([design doc](https://github.com/cros

[2021-07-06 22:13] psinghal20 commented on #2335
Oh nice, I took a brief look at the design doc and got the gist of it. Being unfamiliar with the cdk8s, some of it seemed a little confusing. I liked the idea of having a composition engine running as a sidecar(or controller) that handles the creation of appropriate YAML or objects.

I would still be a little biased towards transformers for simple use-cases but I understand that drawing this line

[2021-07-07 14:49] dee0 commented on #2335
Fwiw, the CustomComposition looks like overkill for my team's case.
psingal20's suggestion would be preferable.   That said, my team is already familiar with JSONPath and yq just as a result of working with k8s and so more preferable still would be the ability to use one of these syntaxes we know within in the current transform mechanism.

[2021-07-07 15:17] amitsadaphule opened #2424 "Enhancement Request: add IBM Power Linux Platform (ppc64le) support"
Hi,

With the merge of my 2 PRs (https://github.com/upbound/build/pull/134, https://github.com/upbound/build/pull/135) on upbound/build repo, I've been able to build crossplane top of the tree (commit # 231ba7de48970da2657e9a971e5e1b1d607c87b5) on ppc64le with the following steps:

[code]

However, I see that the following 2 things are blocking a complete ppc64le support for the repo:
1. For runni

[2021-07-07 15:43] hasheddan commented on #2424
@amitsadaphule thanks for opening this! We currently produce binaries for the following `PLATFORMS` as defined [here](https://github.com/crossplane/crossplane/blob/231ba7de48970da2657e9a971e5e1b1d607c87b5/Makefile#L7):
[code]

We produce images for the following `PLATFORMS` as defined [here](https://github.com/crossplane/crossplane/blob/231ba7de48970da2657e9a971e5e1b1d607c87b5/cluster/images/cross

[2021-07-07 16:01] amitsadaphule commented on #2424
Thanks @hasheddan for the review and feedback! I'll try a local build of binaries and images, with the change that you suggested and then raise PR. Also, I'll keep e2e tests as a secondary target at this point.

[2021-07-07 16:03] hasheddan commented on #2424
Perfect. thanks @amitsadaphule! If you want to test building for all platforms locally you can run `make -j2 build.all`

[2021-07-08 05:55] singaravelanIngka opened #2427 "Does cross plane has the client-go to interact with its CRD"
### What problem are you facing?
* I need to interact with the crossplane using go-client, Is there an go client for it??

[2021-07-08 19:22] hasheddan commented on #2427
@singaravelanIngka we currently generate clients, but they are in `internal/` so they cannot be consumed externally. Would you mind sharing your use-case? :)

[2021-07-08 19:23] hasheddan commented on #2400
@arturobrzut I am going to close this one out, but please feel free to reopen if you feel your question has not been fully addressed :)

[2021-07-08 19:23] #2400 closed

[2021-07-08 23:16] #1953 closed

[2021-07-08 23:19] negz commented on #29
https://github.com/crossplane-contrib/provider-sql handles this these days. :)

[2021-07-08 23:19] #29 closed

[2021-07-08 23:21] negz commented on #262
We're using Terraform in a number of ways these days!

https://github.com/crossplane-contrib/provider-terraform-vsphere
https://github.com/crossplane-contrib/provider-terraform

[2021-07-08 23:21] negz commented on #159
I don't think this is especially relevant with where Crossplane is at today - we can reopen if and when we invest more in native or day two workload support.

[2021-07-08 23:21] #159 closed

[2021-07-08 23:22] #64 closed

[2021-07-08 23:23] negz commented on #285
This is kind of broad, but we actually do have some serverless support with https://github.com/crossplane/provider-aws/pull/559. I'm going to close this issue in favor or more scoped ones.

[2021-07-08 23:23] #285 closed

[2021-07-08 23:23] negz commented on #478
This handler has since been rewritten.

[2021-07-08 23:23] #478 closed

[2021-07-08 23:25] negz commented on #326
We no longer have 'native' workload support (instead relying on workload-aware providers) so I don't believe this issue is relevant any more.

[2021-07-08 23:25] #326 closed

[2021-07-08 23:26] #718 closed

[2021-07-08 23:27] negz commented on #365
I think this is technically possible under Crossplane's current architecture; it's mostly a question of whether a provider (e.g. provider-rook) supports this.

[2021-07-08 23:27] #365 closed

[2021-07-08 23:28] negz commented on #599
I think this is now the default (pruning unknown fields) now that we're using v1 CRDs.

[2021-07-08 23:28] #599 closed

[2021-07-08 23:30] negz commented on #847
I believe the work @muvaf did on the init container and @hasheddan's subsequent Lock cleanup work addressed most or all of these pains.

[2021-07-08 23:30] #847 closed

[2021-07-08 23:30] #920 closed

[2021-07-08 23:30] #1269 closed

[2021-07-08 23:32] #1153 closed

[2021-07-08 23:33] #1120 closed

[2021-07-08 23:35] negz commented on #1116
We no longer have a Stack^HPackageInstall type, or use jobs in our package machinery. :)

[2021-07-08 23:35] #1116 closed

[2021-07-08 23:37] negz commented on #1098
@hasheddan actually added support for this a while back! See https://pkg.go.dev/github.com/crossplane/crossplane-runtime@v0.14.0/pkg/resource#ExtractEnv

[2021-07-08 23:37] #1098 closed

[2021-07-08 23:42] negz commented on #1010
I think between "bidirectional patching" and configurable composite resource readiness we pretty much have this now (with some configuration required). For example an XR author could configure which managed resource composed fields must be in what state in order to consider the XR to be 'ready', and thus in turn what means the claim is ready. They could also add bespoke status information to their

[2021-07-08 23:42] #1010 closed

[2021-07-08 23:42] #1090 closed

[2021-07-08 23:44] negz commented on #1627
Oh hey packages totally did make it to v1. :)

[2021-07-08 23:44] #1627 closed

[2021-07-08 23:44] negz commented on #1430
We've removed OAM support from Crossplane and we recommend folks check out KubeVela instead. :)

[2021-07-08 23:44] #1430 closed

[2021-07-08 23:45] negz commented on #1402
We don't use PackageInstalls or jobs anymore.

[2021-07-08 23:45] #1402 closed

[2021-07-08 23:46] negz commented on #1505
We don't have classes anymore - I suspect the use case called out in this issue is still valid though and would be approached by https://github.com/crossplane/crossplane/pull/1705.

[2021-07-08 23:46] #1505 closed

[2021-07-08 23:46] negz commented on #1506
I think we should address this with https://github.com/crossplane/crossplane/pull/1705.

[2021-07-08 23:46] #1506 closed

[2021-07-08 23:47] negz commented on #1601
We haven't seen much demand for this functionality, so I am going to close this.

[2021-07-08 23:47] #1601 closed

[2021-07-08 23:48] #1626 closed

[2021-07-08 23:49] #1769 closed

[2021-07-08 23:50] negz commented on #252
I'm going to dedupe this in https://github.com/crossplane/crossplane/issues/252, which has the most discussion of a handful of issues around this topic.

[2021-07-08 23:50] #252 closed

[2021-07-08 23:50] negz commented on #1066
I'm going to dedupe this in #252, which has the most discussion of a handful of issues around this topic.

[2021-07-08 23:50] #1066 closed

[2021-07-08 23:52] negz commented on #1838
We decided this wasn't a good fit for `kubectl crossplane`, but some of us at Upbound did build similar functionality into https://github.com/upbound/up!

[2021-07-08 23:52] #1838 closed

[2021-07-08 23:53] negz commented on #1745
I'm pretty sure @hasheddan did this already.

[2021-07-08 23:53] #1745 closed

[2021-07-08 23:54] negz commented on #1661
https://github.com/crossplane/oam-kubernetes-runtime is now archived.

[2021-07-08 23:54] #1661 closed

[2021-07-08 23:55] negz commented on #1689
We did this. :) CC @luebken for a bit of historical context.

[2021-07-08 23:55] #1689 closed

[2021-07-09 00:01] negz commented on #2394
Hey folks! It sounds like you may have what you need here, so I will close this issue please let me know if we should reopen it.

[2021-07-09 00:01] #2394 closed

[2021-07-09 18:48] amitsadaphule commented on #2424
@hasheddan I was able to get the buildx based build to work on Power and confirm that the images being built belonged to the respective architectures as:

[code]

However, when I tried to validate the deployment of the image by following instructions from https://github.com/amitsadaphule/crossplane/blob/master/CONTRIBUTING.md#establishing-a-development-environment, I ran into issue where the cross

[2021-07-09 20:58] amitsadaphule commented on #2424
Checked the logs of the init container as:
[code]
Got the issue resolved with this:
[code]
crossplane pods are started as expected now:

[code]

[2021-07-10 15:18] jbw976 commented on #2424
@amitsadaphule did you have to run that firewalld workaround only for ppc64le? 🤔

[2021-07-12 01:21] #2424 closed

[2021-07-12 07:27] amitsadaphule commented on #2424
@jbw976 unfortunately, I couldn't verify the cross build, validation for ppc64le on amd64/x86, since the command `docker run --rm --privileged tonistiigi/binfmt:latest --install all` was failing to add qemu support `ppc64le`. But I believe this firewall issue may be specific to the VMs/network that I'm using and not a generic one.

[2021-07-12 08:14] sri-vathsa opened #2432 "Script unable to handle aarch64 architecture"
### What happened?
I am trying to build crossplane for arm on AWS-Graviton2 instance following the instructions available [here](https://github.com/crossplane/crossplane/issues/2424). But I get the error `error build only supported on amd64, arm64 and ppc64le host currently`

### Solution

Add the following to the `build/makelib/common.mk` file.

[code]
After making this change I could run all the

[2021-07-12 14:20] morningspace opened #2433 "Can readinessChecks support syntax that matches a string inside an array"
### What problem are you facing?

I have a resource that I would like to refer inside my Composition definition where the readinessChecks can be determined based upon the appearance of a specific text inside an array in `status` field. Just as an example:
[code]

Ideally, I could say something as the resource is ready when `status.conditions[*].type` contains `Deployed`. However, it looks the curr

[2021-07-13 10:39] pgodowski opened #2434 "Allow Crossplane's Claim CRs to be created by parent operator"
### What problem are you facing?

We would like to have the Application which uses OLM/Operator code to create all the prerequisites for the application operand to be started. Some of those prerequisites are Crossplane's Claims, to ensure that e.g. the database is created via Crossplane, and the connection details are exposed to the consuming code. Claim CRs are created within operator's reconcile

[2021-07-13 20:54] dee0 opened #2435 "Managed resources exist in AWS even after we have waited for deletion of API objs to complete"
### What happened?
After deleting a composite and waiting, with kubectl wait,  for all of the referenced api objects to be deleted, managed resources still existed in AWS.
This is a problem for us because this wait logic is a gate used to delay deletion of our k8s cluster.  If the managed resources in AWS aren't cleaned up by the time we are done waiting they will most likely end up orphaned.  ( W

[2021-07-13 21:19] negz commented on #2434
Hi @pgodowski - thanks for raising this issue.

Unfortunately this assumption is not supported by Kubernetes API conventions, which allow controllers to update spec fields of an object after it is created or updated as long as the changes extend rather than alter the desired state. This is called "late initialization", and is what we're doing by setting the `spec.resourceRef` of a claim. We do thi

[2021-07-13 22:41] #1711 closed

[2021-07-14 04:59] dee0 commented on #2435
So the data that I provided when I opened this defect was collected from logs from a CI/CD pipeline.

A short while ago I performed a manual test where I I had better ability to collect logs.

 I deleted a claim and all of the API objects except the composition were deleted from k8s.   The last conditions for the composition are
  conditions:
    - lastTransitionTime: "2021-07-14T02:56:38Z"

[2021-07-14 05:30] dee0 commented on #2435
I examined a teammate's deploy and I see there are 3 named route tables, clearly from the composition, and one nameless one.
At the moment I don't understand where these nameless route tables are coming from or why my deployment had two while my teammate's had only one.
In any case, it seems these nameless routetables are some how related to the problem we are seeing.

[2021-07-14 11:21] dee0 commented on #2435
The application of the claim happens with in k8s job.   I just thought to check the logs of this job for both my teammate's deployment and mine.

I see in my teammate's deployment the job ran once.   However in my deployment it ran twice.   The first run failed while the second succeeded.  The log for my deployment's first run ends with
[code]
The log for the second run ends with
[code]

That fail

[2021-07-14 16:24] dee0 commented on #2435
Hmm, just looked at CloudTrails events for vpc-14449-d66-dm ( the ci/cd case ) and vpc-0623d044576ddef33 ( my manual case ) and I think either there are two different problems or the nameless route tables are irrevevant.

In the case of vpc-14449-d66-dm only 3 route tables ( the expected number given the xrd ) were created while in the case of my manual those nameless route tables are hanging arou

[2021-07-14 18:58] hasheddan commented on #2435
@dee0 are the "nameless" route tables being created by another process? `provider-aws` not force deleting dependent resources is by design -- we encourage management of all resources via Crossplane, and we do not want to delete resources that are not under Crossplane's management in any scenario.

[2021-07-14 19:44] dee0 commented on #2435
@hasheddan The nameless routes are not being created by another process, they are being created by Crossplane.
The timing, user id, client ip etc for the create event in CloudTrails indicate this.

[2021-07-14 19:46] dee0 commented on #2435
Wonder if this could be related at all to either
https://github.com/upbound/platform-ref-aws/issues/3#issuecomment-713025391
or the various issues linked from the discussion of that issue.

[2021-07-14 19:59] dee0 commented on #2435
Aws provider log for my manual test  ( the one involving vpc-mc-i540621-dmi )
[i540621-dmi-aws-provider.log](https://github.com/crossplane/crossplane/files/6818638/i540621-dmi-aws-provider.log)

[2021-07-14 21:09] dee0 commented on #2435
Btw the problem of leaked resources, whatever the cause(s), happens often but not always.   A cluster I was comparing against yesterday was successfully cleaned up this morning.

[2021-07-14 23:30] jbw976 commented on #2435
It would be interesting to understand more about the unexpected / "nameless" RouteTables **before** any attempt is made to delete resources and clean the cluster up.  I want to see if we can find early on, before deletions come into play, if there are any leaked or untracked resources.

For any unexpected RouteTable, can you confirm:

* they don't show up in Crossplane at all? e.g. `kubectl get Ro

[2021-07-15 00:14] dee0 commented on #2435
@jbw976 I'll try to get the answers as soon as I can.
Btw in regards to the 1st question, is running
kubectl get managed -A
equivalent?  I ask because I can say for sure that the nameless route tables don't show up in that output.

[2021-07-15 05:15] dee0 commented on #2435
Spent the last while reviewing about VPC in AWS, 7 orphaned and the rest in use.
All 7 seem to match the pattern I reported when I opened this defect.   That is
- several deletes that fail due to dependencies
- we run out of things to wait on and then gardener cluster delete process kicks and creates a chaotic shutdown that orphans items

None of the VPC, orphaned otherwise, have nameless route ta

[2021-07-15 14:12] greg-caffeine commented on #2219
I also encountered the same problem as the community member described in the original post during an upgrade of the aws-provider (from 0.17.0 to 0.19.0) and ended up destroying an entire cluster's worth of AWS infrastructure.  Fortunately it was a development cluster, but it was a shared dev cluster and it is definitely alarming that a semi-stateful entity (in the form of finalizer dependencies) l

[2021-07-15 23:11] dee0 commented on #2435
A word on the nameless routebables.   Looks like there should be at least one associated with each VPC
https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Route_Tables.html
https://docs.aws.amazon.com/vpc/latest/userguide/WorkWithRouteTables.html

Not sure how we ended up with two nameless route tables though.  I did just performed a deploy where there was no problems and I saw that when I looked

[2021-07-16 08:43] kelvinwijaya opened #2438 "Support metadata labels in ControllerConfig"
### What problem are you facing?
When we want to expose the prometheus metric through Service object, there is no way for us to specify labels for the provide-aws pods thru matching the metadata labels

### How could Crossplane help solve your problem?
To support metadata labels in ControllerConfig object

[2021-07-18 00:59] morningspace opened #2439 "Way to block managed resource from being deleted till its dependency deleted"
### What problem are you facing?

I have two managed resources where one depends on the other. When delete the two resources, one will fail if the other is deleted too early. Right now, it looks the general reconciler handles managed resources deletion independently, which is good. The thing is that wether it could allow provider owner to customize this behavior somehow using `finalizer`.

Couple

[2021-07-19 18:35] ejf-coders51 opened #2440 "error: unable to recognize "STDIN": no matches for kind "ProviderConfig" in version "gcp.crossplane.io/v1beta1""
### What happened?
Error on ProviderConfig deployment

### How can we reproduce it?
Create a cluster
kind create cluster

Install crossplane

kubectl create namespace crossplane-system
helm install crossplane --namespace crossplane-system crossplane-stable/crossplane

Install gcp provider

kubectl crossplane install provider crossplane/provider-gcp:v0.12.0

When i try to deploy the config like thi

[2021-07-19 18:37] hasheddan commented on #2440
@ejf-coders51 upgrading to the latest version of `provider-gcp` should fix the issue :) https://github.com/crossplane/provider-gcp/releases/tag/v0.17.1

[2021-07-20 01:38] morningspace commented on #2439
Seeing a similar issue reported here: https://github.com/crossplane-contrib/provider-sql/issues/47, so I see more people having this similar issue. It could be fixed somehow at provider level, but given more providers potentially having this problem, it would be better to address it properly at crossplane core & runtime level.

[2021-07-20 04:18] negz commented on #2439
Can you give an example of the nature of the dependency?

This is an anti-pattern that will be removed. The provider-azure storage controllers in fact predate the `managed.Reconciler`, so the issue is more that they have not yet been updated rather than that they're doing something special on purpose.

We have consciously avoided this level of dependency modelling in Crossplane - i.e. having Cross

[2021-07-20 07:18] ejf-coders51 commented on #2440
i've deleted the cluster and do it again with the provider-gcp:v0.17.1 but the error persist

[2021-07-20 09:36] hasheddan commented on #2440
@ejf-coders51 can you provide the output of `kubectl desribe provider` and `kubectl describe providerrevision`?

[2021-07-20 12:37] ejf-coders51 commented on #2440
Name:         crossplane-provider-gcp
Namespace:
Labels:       <none>
Annotations:  <none>
API Version:  pkg.crossplane.io/v1
Kind:         Provider
Metadata:
  Creation Timestamp:  2021-07-20T07:05:58Z
  Generation:          1
  Managed Fields:
    API Version:  pkg.crossplane.io/v1
    Fields Type:  FieldsV1
    fieldsV1:
      f:spec:
        .:
        f:ignoreCrossplaneConstraints:
        f:

[2021-07-20 18:23] hasheddan commented on #2440
@ejf-coders51 it appears that you do not have access to dockerhub from inside your cluster. Can you describe your environment?

[2021-07-20 18:25] hasheddan commented on #2438
@kelvinwijaya any labels or annotations on the `ControllerConfig` should be passed to both the `Deployment` and the `ServiceAccount` that are created (see [here](https://doc.crds.dev/github.com/crossplane/crossplane/pkg.crossplane.io/ControllerConfig/v1alpha1@v1.3.0#spec)), are you not seeing this behavior?

[2021-07-20 18:40] hasheddan opened #2441 "Help avoid XRD syntax mistakes using the package manager"
### What problem are you facing?

Currently, `Configuration` packages are marked as `Installed: True` and `Healthy: True` if we are able to successfully create all `CompositeResourceDefinitions` (`XRD`) and `Compositions`. However, `XRDs` have the unique attribute that Crossplane renders `CustomResourceDefinitions` (`CRD`) in response to their creation. Therefore, if the `CRD` is not created succe

[2021-07-20 19:32] negz commented on #2441
In general I think the right place to validate the health of an XRD is at the XRD level (i.e. XRD scoped controllers and webhooks) rather than the package level. I could imagine for example an XRD webhook doing a dry-run apply of its CRD to determine whether it was likely to be valid.

That said, I would support some lightweight investments at the package level, namely:

1. Linting a small set of

[2021-07-21 01:26] kelvinwijaya commented on #2438
Hi @hasheddan .

I see the behaviour for `annotations` but not `labels`, when i put `labels` - faced validation errors

[2021-07-21 05:59] ejf-coders51 commented on #2440
i've tried with k3d istead of kind and it works. it should be some config of kind.  thaks for the help

[2021-07-21 08:06] morningspace commented on #2439
@negz To answer your question

My scenario actually comes from the use of [ODLM](https://github.com/IBM/operand-deployment-lifecycle-manager/), which is sort of workload launch abstraction on top of [OLM](https://github.com/operator-framework/operator-lifecycle-manager) and can be used to provision operators and operands (the actual workloads) either in local or remote cluster, depending on kubeco

[2021-07-21 19:30] negz opened #2442 "Remove or highlight older Crossplane version documentation"
### What problem are you facing?

Crossplane's goals, concepts and APIs went through many iterations before we released Crossplane 1.0. https://crossplane.io/docs contains a snapshot of our documentation for all Crossplane releases back to v0.1. The site _defaults_ to the latest release, but we often find folks are for whatever reason following older versions of the documentation (e.g. v0.7) that

[2021-07-22 00:05] negz commented on #2442
@stevendborrelli mentioned that one downside of adding a banner is that often folks will:

1. Be reading an old version of a page that no longer exists.
2. Click the latest version in the dropdown up top to select the newest version of that page.
3. Get a 404 due to the page no longer existing.

Perhaps we could include a link in the banner to https://crossplane.github.io/docs, which will redirect

[2021-07-22 03:59] rotemjac opened #2444 "Crossplane resources state in ArgoCD Dashboard"
### What happened?
When you combine Crossplane with ArgoCD and provision resources - you can only see the actual state of the CRDs but not the real state of the provisioned resources (for example the resource of AWS RDS cluster).

### How can we reproduce it?
Deploy Crossplane with ArgoCD and create a sample resource - can be a simple VPC.

### What environment did it happen in?
Crossplane version

[2021-07-22 23:44] dee0 commented on #2435
[14814-2e1-dmi-leak.zip](https://github.com/crossplane/crossplane/files/6865810/14814-2e1-dmi-leak.zip)

We have made some changes so that we can capture debug logs from Crossplane.   The spreadsheet in the attached zip contains log data from
kibana - This has the debug logging from Crossplane
jenkins - This contains messages showing the clean up activity
cloudtrail - This shows the events from AW

[2021-07-23 01:30] dee0 commented on #2435
Just checked another case of leaked resource and I see pattern.
- Delete claim
- Try to wait for VPC to be deleted but get not found
- Get managed returns the VPC
- Deleting VPC the wait=true returns immediately
- Despite the above logs show Crossplane hasn't actually deleted the VPC from AWS.

Btw for each of these cases we are only creating one VPC.   So it isn't the case that get managed is ret

[2021-07-26 18:05] muvaf commented on #2433
Would it be more helpful if you could give an identifier for the array entry you're looking for instead of iterating over all? Iteration is simpler to implement but I feel like if we had a syntax in fieldpath library that will allow you to choose a specific entry and do the comparison, it'd help other use cases in composition in general. Maybe something like the following that uses go-template syn

[2021-07-26 18:08] negz commented on #1750
We (the Crossplane community) are not planning on maintaining a Crossplane entry in OperatorHub. However, putting on my @upbound employee hat, we are maintaining an OperatorHub entry for our distribution of Crossplane - see https://operatorhub.io/operator/universal-crossplane.

[2021-07-26 18:12] negz commented on #1730
Our position as to whether Crossplane should be used to compose non-Crossplane resources has not changed. We don't design for that use-case and thus do not recommend or support it.

There is however a potential alternative now with @turkenh's https://github.com/crossplane-contrib/provider-kubernetes project. This provider can adapt any Kubernetes object to act as a valid Crossplane managed resourc

[2021-07-26 18:24] koanplaned opened #2445 "Azure Service Principal role "owner""
Hi all,

I'm completly new to crossplane and want to try it out on my Azure Subscription.

Following the docs, I have to create a Service Principal with rbac role "owner". This is pretty scary to me, since I open the complete system for Crossplane. Is it really necessary to use role "owner" and if yes - why? I'd rather like to use role "contributor".

Thanks for your answers in advance.

[2021-07-26 20:41] psinghal20 commented on #2319
Hi @hasheddan, I looked into this issue and had some observations regarding this issue which I would love to discuss here. I primarily used this blog for provider credentials through vault as a starting point for my exploration: https://crossplane.io/docs/v1.3/guides/vault-injection.html

- To fetch PackagePullSecrets from the vault, we need to feed the core `crossplane` deployment with vault secr

[2021-07-27 01:58] morningspace commented on #2433
@muvaf, yes, that makes sense to me. Thanks.

[2021-07-27 04:49] muvaf commented on #2442
From my personal experience, when I enter a docs page and choose the latest version from drop-down, being redirected to the root page and having to find the corresponding page is quite laborious. Though there isn't really a catchall solution I can recommend to this problem except manually binding each page in each version to its correspondence.

We might be able to hit the new version if the URL h

[2021-07-27 04:57] muvaf commented on #2445
Hi @koanplaned ! You don't need to use owner role necessarily, it's just there in getting started guide for easier testing. The role can be as limited as what you want to provision with Crossplane - in case it's not enough, you'll see the error Azure returned in the status of the custom resource.

[2021-07-27 08:33] avdhoot opened #2449 "Too many update calls for resource customresourcedefinitions"
### What happened?
We have recently installed crossplane Things are working fine. The only observation is crossplane making around 178,554 update call on resource `customresourcedefinitions` in 24 hrs. Is this expected?

![crossplane-update](https://user-images.githubusercontent.com/1314627/127122651-7b77899f-cb73-43ee-a0a1-c5fb50dce3a3.png)

### How can we reproduce it?
Enable k8s audit log and c

[2021-07-27 10:14] koanplaned commented on #2445
Hi @muvaf, thanks for the info, that helped!

[2021-07-27 10:14] #2445 closed

[2021-07-27 21:21] negz commented on #2442
I think that's how it works now, isn't it? i.e. If the same page exists in the newer version we redirect there. If not we briefly show a 404 then redirect to the root.

[2021-07-28 12:17] stevendborrelli commented on #2442
Yes, that is how it works now (for the most part). For example, the 0.14 [providers](https://crossplane.github.io/docs/v0.14/introduction/providers.html) section does not map to 1.3 [providers](https://crossplane.github.io/docs/v1.3/concepts/providers.html), it returns a 404 since the URL is slightly different.

One of the biggest issues is that Google still indexes these pages and returns them on

[2021-07-28 12:47] stevendborrelli commented on #2442
I did a quick check of the 0.14 docs to see what returns a 404 when selecting the 1.3 version of the docs in the dropdown:

### Welcome

- <https://crossplane.github.io/docs/v0.14/getting-started/compose-infrastructure.html> returns a 404, probably should map to <https://crossplane.github.io/docs/v1.3/getting-started/create-configuration.html>
- <https://crossplane.github.io/docs/v0.14/getting-sta

[2021-07-28 14:33] muvaf commented on #2411
From what I can tell, the constraints users have been reporting are around CPU/memory limitation of the controller and API rate-limiting of the provider. As mentioned, CPU/memory problem is alleviated by increasing the allocated memory through `ControllerConfig`. But I'm not sure if partitioning will help external API rate limiting. For example, AWS imposes call limit [**per account** and **per re

[2021-07-28 14:44] hasheddan commented on #2411
@muvaf that is true for some providers (such as AWS), but there is still value in partitioning on the `ProviderConfig` because it allows you to configure which resources get to "consume" the allotment of API requests that can be made. For instance, if you have resources that are being used for non-critical workloads, you could have them use all `ProviderConfig` that was tied to a partition with a

[2021-07-28 14:52] muvaf commented on #2411
Got it, so the goal is more around giving the option to the users so that they can selectively allocate CPU/memory/rate to different sets of resources.

I think we discussed that a while ago and partitioning came up but I couldn't find the thread. Yes, I believe partitioning would be a great solution for that problem.

[2021-07-28 14:53] muvaf commented on #2449
Hi @avdhoot ! We don't expect that many update requests at all on CRDs. How many XRDs you deploy and could you check whether there is any error reported in their status? If possible, examples of those XRDs would be great.

[2021-07-28 15:07] muvaf opened #2450 "Use object reference pattern in v2 of Crossplane APIs"
### What problem are you facing?

Kubernetes community has landed on a [new pattern](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#multiple-resource-reference) for referencing objects where users now need to address the resources via their API endpoints rather than kind and apiVersion. Crossplane APIs are built with old types but as comm

[2021-07-29 04:25] avdhoot commented on #2449
@muvaf  As per my understanding on crossplane we are not using xrd(CompositeResourceDefinition). We using crossplane  to provision infrastructure for now. currently we have one rds provisioned  using crossplane. Plane is it replace in-houce aws operator with crossplane.

[2021-07-29 07:15] jmcclell commented on #2442
@muvaf asked on Slack for detail as to how old documentation was found.

Answer: Google

Seriously. Google for anything Crossplane related and you're probably getting linked to an old documentation page.

https://www.google.com/search?q=installing+crossplane

Gives me a document from v0.1 as the first result.

[2021-07-29 10:42] muvaf commented on #2449
Hmm that's interesting, then it could be the package manager. @hasheddan does this problem sound familiar?

Could you post the output of the following commands?
* `kubectl get providerrevision`
* `kubectl get provider`
* `kubectl describe provider`
* `kubectl describe providerrevision`

[2021-07-29 10:45] muvaf commented on #2442
I remember a similar experience with OpenShift. Their old docs had a big warning and you could choose a version fro drop-down but the link would be broken most of the time. So I wonder whether removing doc versions older than some number of releases would help.

[2021-07-29 11:18] hasheddan commented on #2449
@muvaf yes, this is likely the package manager (or potentially a combination of it and composition engine), and could be happening even if the packages are healthy as we just [use an `Update` call](https://github.com/crossplane/crossplane/blob/8e76b9cdcf0c112e57a5ea9a281cf74baaa584b0/internal/controller/pkg/revision/establisher.go#L170) because we want to ensure that the resource looks exactly as

[2021-07-29 11:25] avdhoot commented on #2449
@muvaf PFA

[code]

[2021-07-29 13:58] turkenh commented on #2384
Extending `ControllerConfig` in a backward-compatible way for this sounds like a good idea to me.

Considering, users might request [additional permissions](https://github.com/crossplane/crossplane/pull/2385#discussion_r654680659) at the configuration level, what do you think an API like the following?

[code]

[2021-07-29 14:13] hasheddan commented on #2384
@turkenh this sounds fairly reasonable, but there are two main areas of concern from me:
- `ControllerConfig` has proved fairly useful, but I am still somewhat concerned about it becoming the "kitchen sink" for anything we want to do. As it continues to grow, we may want to consider if there is a more elegant design. (I realize this a somewhat vague and unhelpful comment, but I am happy to work al

[2021-07-29 15:15] turkenh commented on #2384
Yeah, agreed. I also noticed that all existing parameters in `ControllerConfig` affect the controller pod manifest. But `PermissionConfig` would be an exception in that sense and will affect RBAC created and require changes in RBAC manager. Trying to keep it scoped to controller pod spec sounds reasonable.
However, if it became a requirement to configure RBAC at installation time, we would need a

[2021-07-29 15:30] jmcclell commented on #2442
I wonder if there isn't some basic SEO stuff that could be done to keep search engines from surfacing older pages? 🤷

[2021-07-29 15:38] muvaf commented on #2449
@hasheddan Provider seems to be healthy and functioning normally from what I can tell. Could there be some changes on the CRD that package manager isn't aware? Otherwise, I'd expect update calls to be no-op.

[2021-07-29 17:38] negz commented on #2449
@hasheddan Do we blindly update? Would it be feasible to read (from our watch cache) to determine whether the resources were already up-to-date and if so avoid the write?

[2021-07-29 18:21] hasheddan commented on #2449
@avdhoot I made a light edit to your comment to keep the conversation more readable :)

@negz correct -- we could do as you suggest, but I'm also wondering if it would be more effective to go ahead and expose the interval at which we reconcile package revisions, and / or have the controllers watch the objects the revision owns rather than requeing on a periodic basis.

[2021-07-30 01:28] dee0 commented on #2435
@hasheddan @jbw976 Have a couple more pieces of info
- We are defining CompositeResourceDefinition with kind = VPC.
   I think the reason for the unexpected NotFound error when we try to wait on the VPC managed resource is that
   kubectl wait VPC [name]
   is actually trying to wait a Composite Resource instead of the managed resource.
   Here is output from kubectl api-resources to further show

[2021-07-30 05:40] dee0 commented on #2435
[2021-07-29-extra-route-table.zip](https://github.com/crossplane/crossplane/files/6905270/2021-07-29-extra-route-table.zip)

In the attached zip are
- vpc-events.csv  Events for the VPC from CloudTrails.    The extra route table is rtb-03959f8ca1b9ebe36
- kibana.csv  Logs crossplane pods

The extra route table was created at about July 29, 2021, 09:58:23 (UTC-07:00)

[2021-07-30 05:55] dee0 commented on #2435
grep -Pi route.*created kibana.csv
Turns up 4 events indicating successful creation of route tables ( expect only 3 ).  There are two events for vpc-mc-i540621-dmi-ds67r-k6xxz, maybe that is a clue?

[2021-07-30 07:39] muvaf commented on #2433
Alternatively, we can use JSONPath to find an element like: `.status.conditions[?(@.type=='Synced')].status` where it returns the element whose `.type` field equals to `Synced`.

[2021-07-30 09:23] morningspace commented on #2433
yep, either way, looks good to me, or could support both :-D

[2021-07-30 11:00] muvaf commented on #2449
I think that'd be a more future-proof solution. Even in lower frequency, not issuing the call at all if it's no-op would be preferred.

FWIW, so far we've been assuming that `Update` call is no-op if there is no change, I guess that diff calculation happens on the server side?

[2021-07-30 14:21] dee0 commented on #2435
[2nd-and-3rd-routetable-messages.zip](https://github.com/crossplane/crossplane/files/6908053/2nd-and-3rd-routetable-messages.zip)

In the attached zip are log messages that I have extracted from kibana.csv ( see above ) and normalized for comparison
- vpc-mc-i540621-dmi-ds67r-k6xxz-events.txt has the log messages related for the route table API object vpc-mc-i540621-dmi-ds67r-k6xxz.   This is the

[2021-07-30 19:32] negz commented on #2435
I'm thinking the spurious RouteTable creation could be a race in the relevant controller. RouteTables are one of the resources where we rely on the `crossplane.io/external-name` being set to determine whether we've created the desired RouteTable or not per the below code:

https://github.com/crossplane/provider-aws/blob/v0.18.1/pkg/controller/ec2/routetable/controller.go#L109

The flow is:

1. `Ob

[2021-07-30 19:45] dee0 commented on #2435
Fwiw we haven't done anything to increase the concurrency.

Have been tracing through the code to see where an extra event might come from or where they might be allowed through.   I up to the the point where the rate limiting queue receives events.   Haven't seen anything yet.

Btw my background is mostly with C++ and Java and with those languages I am used to having a thread id in log messages.

[2021-07-30 19:53] dee0 commented on #2435
@negz If you haven't already would you please use a visual diff tool ( e.g. winmerge on Windows ) to compare vpc-mc-i540621-dmi-ds67r-k6xxz-events.txt and vpc-mc-i540621-dmi-ds67r-pxd9x-events.txt? ( See my post a bit earlier today )

Am hoping you will recognize something I do not, something that confirms your theory.

[2021-07-30 20:04] negz commented on #2435
@dee0 The fact that `k6xxz` has two `CreatedExternalResource` calls, each at a different `resourceVersion`, supports my theory above. That said, I would also expect to have seen a "the object has been modified; please apply your changes to the latest version and try again" error immediately after the second create. I note that we do have one of those in the logs but it appears to pertain to updati

[2021-07-31 05:11] dee0 commented on #2435
Checked the log and confirmed the workcount for the routetable controler is 1

"2021-07-29T16:58:02.288Z","2021-07-29T16:58:02.288Z    INFO    controller-runtime.manager.controller.managed/routetable.ec2.aws.crossplane.io  Starting workers        {""reconciler group"": ""ec2.aws.crossplane.io"", ""reconciler kind"": ""RouteTable"", ""worker count"": 1}"

[2021-07-31 16:27] dee0 commented on #2435
@hasheddan @negz I think I might have a clue about how the scenario Nic described is happening.
[vpc-mc-i540621-dmi-ds67r-k6xxz-events-with-times-order-fixed.zip](https://github.com/crossplane/crossplane/files/6911443/vpc-mc-i540621-dmi-ds67r-k6xxz-events-with-times-order-fixed.zip)

In the attached zip is a file where I have taken the log messages related to the problematic managed resource vpc-m

[2021-08-01 00:47] dee0 commented on #2435
Been reading through the code and at the moment I think the problem is with the caching.
In the log I uploaded in my last post this is the problematic revision sequence
34683 // provider-aws log message
35015 // controller-runtime.manager.events message
35012 // provider-aws log message <!-- problem
35017 // controller-runtime.manager.events message

The provider-aws messages use data from a manag

[2021-08-01 06:43] dee0 commented on #2435
Think I see where the concurrency problem comes from.

There are 5 categories of goroutines involved in processing resource events.
(1) Reflector::Run
Observes resources in API server and pushes deltas it detects into DeltaFifo.  Updates the cache approximately 800ms
There are one of these for each managed resource type.

(2) sharedIndexInformer::Run
Pops updates from DeltaFifo and pushes notifica

[2021-08-02 05:47] JAditya1395 opened #2454 "The default service account name is the provider-aws revision and changes with every provider release. Assuming serviceaccount name as provider-aws-* does not work"
### What happened?

apiVersion: pkg.crossplane.io/v1alpha1
kind: ControllerConfig
metadata:
  name: provider-aws
spec:
  controllerConfigRef:
    name: aws-config

Referring  https://github.com/crossplane/provider-aws/commit/0faa6de98d9fdb942e7e984f6e5115e3895caeea

Since service account name created with every  version of provider package  is different. While using IRSA it posts a problem of hard

[2021-08-02 06:43] turkenh commented on #2384
@hasheddan any quick feedback about introducing a dedicated `PermissionConfig` resource (suggested by @muvaf) instead of including that to `ControllerConfig`?

[code]

Package revision controller would take this into account while calculating `Status.PermissionRequests` for providerRevision which is used by RBAC manager to create the requested permissions.

[2021-08-02 19:30] negz commented on #1424
I'm going to roll this into https://github.com/crossplane/crossplane/issues/2366. This issue is older, but that issue captures the slightly broader scope we'd like to design for - e.g. supporting many secret stores, not just Kubernetes secrets and Vault.

[2021-08-02 19:30] #1424 closed

[2021-08-02 20:42] dee0sap commented on #2435
@hasheddan @negz Think this may be what happened with the reconciles

1. Version 34625 in cache.  Requeued because vpcId could not be resolved.
2. Version 34626 in cache.  Requeued because vpcId could not be resolved.  Not sure what was changed between 34625 and 34626.
3. Version 34626 in cache.  Requeued because natGateWayId could not be resolved.  Probably this is just the requeue from #2.  Note

[2021-08-03 09:54] chlunde commented on #2398
it's only copied to the deployment, but for Security Group Policy we will need labels on the template, ignore my previous comment :)

[2021-08-04 17:33] austinsasko commented on #2442
Our team was bit by this a couple of times where we were following old version's documentation. +1 to this issue as even knowing about this issue I still keep accidentally following old documentation

[2021-08-04 18:23] chlunde commented on #2454
I suspect you use `StringEquals` instead of `StringLike` in the assume role policy document.

[2021-08-04 18:26] chlunde commented on #2438
@kelvinwijaya labels the pods are OK for you, you don't need it on a service, right? I created a PR for this: https://github.com/crossplane/crossplane/pull/2455

[2021-08-04 19:42] nabadger commented on #2442
Similar story here - I always end up on the old version of the docs because I use Google (although most other popular search engines end up on older docs too).

My general expectation would be to end up on the latest stable docs (with `master` / `main` being easily available too).

[2021-08-05 01:04] jbw976 commented on #2442
@chlunde suggested a reasonable potential fix for this issue: https://github.com/crossplane/crossplane.github.io/issues/107#issuecomment-892948049

I have google search console access, so I can possibly help with the testing of such a fix.

[2021-08-05 01:10] jbw976 opened #2457 "Consider adding .gitignore entries for credentials files from docs"
### What problem are you facing?

In the documentation (getting started etc.), we instruct users to [create credentials files](https://crossplane.io/docs/v1.3/getting-started/install-configure.html#get-aws-account-keyfile) locally on their file system that will then be used to import these creds into their control plane.

Some example files with sensitive information:

* `providerconfig.yaml`
* `c

[2021-08-05 03:20] kelvinwijaya commented on #2438
Hi @chlunde ,

Thanks for accommodating to the Change Request, yes only for enabling metadata.labels in the Controller Pods

Service object is created at my side to proxy the Controller deployment. Not sure if Crossplane should provide this

[2021-08-05 05:27] chlunde commented on #2290
Since 1.22 has been released, I think it should be OK to close this issue...

[2021-08-05 21:50] negz commented on #2440
@ejf-coders51 Thanks for letting us know you got this working. I'll close this issue but let us know if there's anything else you need.

[2021-08-05 21:50] #2440 closed

[2021-08-05 23:25] negz commented on #2313
CC @luebken. I think this will be a pressing issue as we introduce more managed resources. We always introduce new managed resources as v1alpha1, which means the initial implementation of any new managed resource has no guarantees around upgradability.

[2021-08-06 09:15] ulucinar opened #2458 "Race condition while setting XR's `spec.claimRef`"
### What happened?

Previously while working on some experiments with compositions to answer a [question](https://crossplane.slack.com/archives/C01718T2476/p1624587843169500) in the Crossplane providers slack channel, I have observed a race condition that causes an AWS `Bucket` MR (and the corresponding S3 bucket) to leak. If a bucket leaks and when the corresponding claim is deleted, the leaked `

[2021-08-06 09:15] ulucinar opened #2464 "Race condition while setting XR's `spec.claimRef`"
### What happened?

Previously while working on some experiments with compositions to answer a [question](https://crossplane.slack.com/archives/C01718T2476/p1624587843169500) in the Crossplane providers slack channel, I have observed a race condition that causes an AWS `Bucket` MR (and the corresponding S3 bucket) to leak. If a bucket leaks and when the corresponding claim is deleted, the leaked `

[2021-08-06 10:14] ulucinar commented on #2458
I had taken some notes about this issue and I was planning to do some deeper investigation not to raise a false positive but could not find time to do so. And here is some more context for another discussion in slack (not linked here because it's under a private slack workspace). @negz, not sure if the original issue you mentioned is related to this, so I do not want to link these two issues atm.

[2021-08-06 21:13] dee0sap commented on #2435
Another bandaid option

Instead of having ResolveReferences update the managed object in kubernetes have it return all of the external ids of the references if they are available.   If they are not then requeue as is done today.

Then just set them on the managed object when setting the external-name.

[2021-08-07 01:51] negz commented on #2302
I was just going to take a quick stab at this, and realised it's actually possible already if folks feel okay with having an extra step. We don't currently support directly surfacing a _composed_ resource fields as connection details, but we do support:

1. Patching the value from a composed resource field to a composite resource field.
2. Exposing a composite resource field as a connection detail

[2021-08-08 09:21] danmx opened #2461 "Scaleway support"
### What problem are you facing?

I'm deploying my [Scaleway] infrastructure using Terraform but I'd like to dynamically assign Flexible IPs similar to [Digital Ocean Floating IP controller] or deploy other services like object storage associated to my Kubernetes stack.

### How could Crossplane help solve your problem?

I wouldn't have to build a dedicated controller per object similar to [Digita

[2021-08-08 19:05] alex-treebeard opened #2462 ""Could not connect" to New VPC RDS instance from tutorial"
### What happened?

After running the new VPC RDS instance guide in the [docs](https://crossplane.io/docs/v1.3/getting-started/provision-infrastructure.html)

When running the test pod shown below, I see:

[code]

### How can we reproduce it?

### What environment did it happen in?
Crossplane version:

➜ kubectl crossplane --version
v1.3.0

Running on minikube

[code]

Thanks!

[2021-08-09 12:23] hasheddan commented on #2454
@JAditya1395 could you see if @chlunde suggestion works for you and close out this issue if so? :)

[2021-08-09 12:24] hasheddan commented on #2449
@muvaf do you mean here or across the project in general?

[2021-08-09 14:39] hasheddan commented on #2384
@turkenh agreed, but my desire to dig deeper on it is that I think we need to consider it while thinking about the feature that is in scoped for this ticket. In addition, how do you envision the `PermissionConfig` interacting with the "build-time" permission requests? Are you envisioning the `PermissionConfig` spec mirroring https://doc.crds.dev/github.com/crossplane/crossplane/meta.pkg.crossplane

[2021-08-09 14:46] hasheddan commented on #2449
@turkenh suggested using [`controllerutil.CreateOrUpdate`](https://github.com/kubernetes-sigs/controller-runtime/blob/c0a5babc6854d42ab37eb5323ff024eb0dc24b9d/pkg/controller/controllerutil/controllerutil.go#L195), which performs the client-side diff before deciding whether to update. I think this, along with exposing the `longWait` period for reconciling revisions as a configurable flag makes sens

[2021-08-09 15:07] #2398 closed

[2021-08-09 16:22] chlunde commented on #2438
@hasheddan I think we can close this one too now, I initially scoped created an issue for static labels, but since they are user controllable it should solve this issue too.

[2021-08-09 16:23] hasheddan commented on #2438
Thanks @chlunde!

[2021-08-09 16:23] #2438 closed

[2021-08-09 22:12] armsnyder commented on #1481
If an XR has `compositionUpdatePolicy: Manual`, and a new revision of the XRD is created, then two questions:
1. How do I as an XR or XRC owner know that there is a new revision to take? Will there be K8s warning events I can watch?
2. How do I take that revision? Is there a field for specifying the desired revision, or do I change the `compositionUpdatePolicy` to `Automatic`?

[2021-08-10 02:48] negz commented on #2464
So it turns out we've actually seen this before, which is in part why we added support for required patches in https://github.com/crossplane/crossplane/pull/2133. That PR allows you patch from the `spec.claimRef.name` only if it is not empty. If the name is empty the patch fails and we never create the XR.

However I think there is more we can do here - we're vulnerable to both this and another ki

[2021-08-10 02:58] negz commented on #2079
@hasheddan Do you know if this issue is still relevant? I know we've made some changes to how the Lock is handled since it was raised.

[2021-08-10 03:07] hasheddan commented on #2079
@negz we now remove finalizers from the Lock when packages are uninstalled, which makes it easier to clean up, but the Lock and CRDs must still be manually cleaned up. So we have smooth uninstall / reinstall, but technically the Lock is still left behind on uninstall.

[2021-08-10 07:39] negz opened #2468 "Promote `ControllerConfig` to v1beta1"
### What problem are you facing?

The `ControllerConfig` type was added back in [v0.14.0](https://github.com/crossplane/crossplane/releases/tag/v0.14.0). It has had undergone some evolution since introduced, and appears to have proved useful to users. We need to make a decision on whether it is ready to promote to v1beta1.

### How could Crossplane help solve your problem?

We should determine wha

[2021-08-10 07:40] negz commented on #2468
I'm assigning @hasheddan (at least for now) since he originated this type and has done most of the work on it. Do you feel like it's close to v1beta1?

[2021-08-10 07:41] negz opened #2469 "Promote `Lock` to v1beta1"
### What problem are you facing?

The (package) `Lock` type was added back in [v1.0.0](https://github.com/crossplane/crossplane/releases/tag/v1.0.0). We need to make a decision on whether it is ready to promote to v1beta1.

### How could Crossplane help solve your problem?

We should determine what we want to do with `Lock` - e.g. update it to v1beta1 as is, remove it, or leave it as is. If we do

[2021-08-10 07:42] negz commented on #2469
@hasheddan this one has mostly been your baby too. :) How do you feel about it?

[2021-08-10 07:46] negz commented on #2157
@hasheddan adding myself as an assignee, as I'd like to help with this. Let me know if you've started anything and/or really want to tackle it yourself.

[2021-08-10 15:14] zonybob commented on #2099
Starting to use Crossplane in support of my customer's platform, and this enhancement would be highly beneficial. Any ideas if/when it might become available?

[2021-08-10 20:17] negz opened #2470 "Document Composition patterns and gotchas"
### What problem are you facing?

There are a handful of things you can do using Crossplane Compositions that may not be immediately obvious. I'm thinking of things like:

* Patching from one composed resource to another (via the XR)
* Deriving a connection detail from a composed resource (again via the XR)
* Deriving XR status from a composed resource
* Using external names to influence external

[2021-08-10 20:26] negz commented on #2462
Thanks @alex-treebeard! Is there any chance something was preventing outbound connections from your minikube to AWS? (Just a thought - it's possible our docs are broken but I haven't had a chance to repro.)

[2021-08-10 20:26] negz commented on #2462
Whoops - closed by accident.

[2021-08-10 20:34] alex-treebeard commented on #2462
Everything was fine in creating the RDS instance so I doubt it.

My hunch is the new Vpc was not configured correctly, but unfortunately don't have evidence. (I'm not the most knowledgeable on configuring these networks)

[2021-08-10 21:48] negz opened #2471 "Suppress "object has been modified" events"
### What problem are you facing?

Crossplane controllers - particularly the composition controllers - tend to hit a lot of "object has been modified" errors. These errors are returned by the API server when we attempt to mutate a resource with a stale resource version. I believe they're HTTP 409 Conflict errors.

Here's an example of a resource claim that hit three of these errors in a matter of s

[2021-08-10 21:50] hasheddan commented on #2468
@negz to be honest I am still not sure on this one. It is undoubtedly used fairly heavily by Crossplane users, and I have anecdotally heard pretty positive feedback. That being said, as I mentioned in [a recent conversation](https://github.com/crossplane/crossplane/issues/2384#issuecomment-889180160), I worry about it continuing to grow in size as a sort of "kitchen sink" for anything that we don'

[2021-08-10 21:54] hasheddan commented on #2469
@negz I am feeling pretty good about it. I think it has been working fairly soundly as a mechanism that sits behind the scenes and does its job without many users even knowing it exists. I would like for users to stress test package dependency trees further than they are at this time, but I don't envision future changes to dependency management directly affecting this rather generic API (the only

[2021-08-10 21:54] negz opened #2472 "Reduce "object has been modified" errors"
### What problem are you facing?

Crossplane controllers - particularly the composition controllers - tend to hit a lot of "object has been modified" errors. These errors are returned by the API server when we attempt to mutate a resource with a stale resource version. I believe they're HTTP 409 Conflict errors.

Here's an example of a resource claim that hit three of these errors in a matter of s

[2021-08-10 22:06] negz commented on #2469
@hasheddan that sounds good. Let's discuss this at the community meeting before proceeding.

[2021-08-10 22:08] negz commented on #2468
If I recall correctly, part of us adding `ControllerConfig` was as a proving ground for things we might add to `Provider`. Am I remembering that right? Is there anything we have on `ControllerConfig` today that might make sense to migrate to the `Provider` type?

I do think we'll need some kind of a plan to proceed here; I'm hesitant to leave this type in alpha indefinitely. Let's discuss it at th

[2021-08-10 22:10] hasheddan commented on #2449
I took a look at the diffs that we are seeing on CRDs and it looks like it is primarily just in managed fields. I imagine we can safely ignore those when checking for updates:
[code]

[2021-08-11 00:20] jbw976 commented on #2468
Added it to the agenda for [Aug 12 community meeting](https://docs.google.com/document/d/1q_sp2jLQsDEOX7Yug6TPOv7Fwrys6EwcF5Itxjkno7Y/edit#heading=h.3znynaj7c7go)

[2021-08-11 00:35] negz opened #2473 "Malicious claim appears to be able to delete arbitrary XRs"
### What happened?

https://github.com/crossplane/crossplane/blob/d8f233a96c/internal/controller/apiextensions/claim/reconciler.go#L318

I believe it's currently possible for a malicious claim to delete an arbitrary XR, as long as they're both defined by the same XRD.

### How can we reproduce it?

 haven't tried to reproduce this, but it seems like you could:

1. Create a claim with a `resourceRe

[2021-08-11 01:26] dee0sap commented on #2468
Below is our usage.   The primary thing we are doing is dealing with is the fact that our deployments can only pull from a private registry.  So
- ControllerConfig specifies the image location
- Provider spec forces use of prepopulated image cache

Also in dev clusters we are using --debug so that we have the logs to track down the intermittent problem https://github.com/crossplane/crossplane-runt

[2021-08-11 01:27] benofben opened #2474 "install.sh fails silently on missing binary"
### What happened?

We discussed this in https://github.com/crossplane/crossplane/pull/2466.  The short story is that s3 generates HTML index pages for URLs that don't exist.  The result of that is that the install.sh script for crossplane will download HTML rather than a binary file and not know/warn the user that this happen.

One thought on how to deal with this --- check (using file or similar

[2021-08-11 04:55] negz commented on #2473
Attempting to reproduce this. I've created this claim (from the getting started with GCP example):

[code]

This results in the following XR:

[code]

When I apply and then delete the following claim I see that it deletes the above XR:

[code]

[code]

Interestingly even outside the delete issue, we currently apply the composite resource in the claim controller before we ever check whether they're

[2021-08-11 07:04] negz opened #2476 "Audit claim reconciler conditioned status and return values"
### What problem are you facing?

https://github.com/crossplane/crossplane/blob/d8f233/internal/controller/apiextensions/claim/reconciler.go#L361
https://github.com/crossplane/crossplane/blob/d8f233/internal/controller/apiextensions/claim/reconciler.go#L398

As far as I can tell the claim reconciler is almost arbitrary as to how it handles errors during a reconcile. In almost all cases it emits a

[2021-08-11 12:24] alexandru-crossover opened #2477 "Crossplane scalability"
### What problem are you facing?
We have an K8S cluster with over 1000 composite resources and over 2000 AWS resources managed by Crossplane (a combination of API Gateway, SNS and SQS resources). We are noticing slower and slower sync times for both types of resources.

We ran some load tests using Crossplane 1.1.1 (prod version) and version 1.3.0. Both are showing the same behavior.

We have test

[2021-08-11 21:28] negz commented on #2477
Thanks for raising this @alexandru-crossover! I'm planning to spend some of this quarter focused on scalability issues like these, so this is great feedback to have. I broadly agree with all of your suggestions. I'm also hopeful that a few other improvements (i.e. writing fewer noisy events, looking for places we hit errors and requeue too frequently) will help.

I'm planning to run similar scale

[2021-08-12 00:42] negz commented on #1481
@armsnyder Have you taken a look at the design we landed on in https://github.com/crossplane/crossplane/pull/2437? It may answer some of your questions. In short:

As currently implemented in https://github.com/crossplane/crossplane/pull/2451 each _unique_ revision is allocated a monotonically increasing revision number that will be shown as a column in the output of `kubectl get compositionrevisi

[2021-08-12 00:49] armsnyder commented on #1481
I like the idea of that being a dedicated status field or condition, and ideally a printcolumn as long as you don't think that would be too noisy. I think then an event wouldn't be necessary.

That sounds great! I had skimmed the design and must have missed that. 🤦

[2021-08-12 01:00] negz commented on #2462
I suspect your hunch is right. The guide actually uses an older version of provider-aws (v0.16 per [this pin](https://github.com/crossplane/crossplane/blob/69b559/docs/snippets/package/aws-with-vpc/crossplane.yaml#L15)) where the `RouteTable` type was at `v1alpha4`. We dropped that alpha version and it's now at `v1beta1` in provider-aws v0.19.

Did you happen to manually install the newer version

[2021-08-12 01:04] negz commented on #2462
I've confirmed that when I use provider-aws v0.19 I need to edit the Composition to use a v1beta1 RouteTable. When I do that I can successfully run the 'see-db' pod and connect to the database.

[2021-08-12 03:55] halcyondude commented on #2470
Is this a reference to [ExternalName](https://kubernetes.io/docs/concepts/services-networking/service/#externalname)?

[2021-08-12 04:51] negz commented on #2470
No - that's a coincidence. This is refering to the `crossplane.io/external-name` annotation that influences and/or captures the actual name (unique identifier) of a resource in an external system when that name should or must differ from the Kubernetes resource's `metadata.name`.

[2021-08-12 07:04] turkenh commented on #2477
Re: `MaxConcurrentReconciles`

We had similar scalability issues in provider-helm while trying to manage 1000+ helm releases and [bumping](https://github.com/crossplane-contrib/provider-helm/pull/53) `MaxConcurrentReconciles` helped in our case.

[2021-08-12 09:04] #2454 closed

[2021-08-13 02:03] halcyondude commented on #2470
I see, thanks for explaining.

I'm happy to help review the document (in draft/rough is fine) when the time comes. I'm a new user with fresh eyes.

[2021-08-13 19:05] zonybob commented on #2318
@hasheddan I will need this functionality to support my customer, and I have interest in contributing a pull request. Please let me know if you have any specific guidance on contributing. Thanks!

[2021-08-15 20:23] novoselskiy opened #2480 "Install error on arm64"
### What happened?
~/crossplane# ./install.sh
Crossplane does not support Linux / aarch64 at this time.

kubectl plugin downloaded successfully! Run the following commands to finish installing it:

sudo mv kubectl-crossplane /usr/bin
kubectl crossplane --help

Visit https://crossplane.io to get started. 🚀
Have a nice day! 👋
### How can we reproduce it?

Try install on arm64, raspberry PI 4 for exa

[2021-08-16 15:30] zonybob commented on #2318
Additionally, I have been able to work around this issue with no code changes, simply by mounting over the default ca bundle that is in the distroless image at `/etc/ssl/certs/ca-certificates.crt`. Would that be an acceptable fix to this? Basically just updating helm chart to optionally add that file override mount from a configurable configMap or secret?

[2021-08-16 16:26] jbw976 opened #2482 "Clarify roadmap process for the community"
### What problem are you facing?

I've seen more users recently wondering about the [project ROADMAP](https://github.com/crossplane/crossplane/blob/master/ROADMAP.md) and noticing that it has gone stale.  This is causing some confusion and lack of clarity for the community that want to know what to expect in the project going forward.  There's a lot to be excited about in the future of Crossplane

[2021-08-16 22:03] #2078 closed

[2021-08-16 22:03] #2464 closed

[2021-08-16 22:03] #2473 closed

[2021-08-17 00:06] negz commented on #2482
I agree with @jbw976's suggestions here. If we do want to maintain a roadmap that extends more than one version out I'd personally prefer something like GitHub's public roadmap - https://github.com/github/roadmap/projects/1. This is the approach we use internally at @upbound, and I find it both easier to read and (presumably) easier to update than a markdown file.

Another interesting factor to co

[2021-08-17 00:17] #2480 closed

[2021-08-17 00:19] negz commented on #1033
@hasheddan, @rahulgrover99  do you know if this issue should still be "In Progress" in the v1.4 timeframe? Is it being actively worked on?

[2021-08-17 00:43] hasheddan commented on #1033
@negz is it not to my knowledge. I feel like it would it make sense to close this one out as much of the context is stale, and more specific issues related to this effort would serve as better items for folks to work on.

[2021-08-17 01:38] negz commented on #2256
We're approaching the feature freeze for v1.4, so I'm bumping this back out of to do. It is still a near term priority for me though, so I expect to start at least investigating in the next week or two.

[2021-08-17 20:42] #2211 closed

[2021-08-18 05:36] #1481 closed

[2021-08-18 05:39] negz opened #2492 "Document composition revisions"
### What problem are you facing?

We recently added support for a new feature we call 'composition revisions'. This feature is in alpha (behind a feature flag), and allows platform teams and their customers to roll out new compositions at a controlled pace. At the time of writing the feature is not documented.

https://github.com/crossplane/crossplane/pull/2437 - One pager
https://github.com/cross

[2021-08-18 05:43] negz opened #2493 "Highlight the 'current' composition revision"
### What problem are you facing?

We recently added support for a new feature we call 'composition revisions'. This feature is in alpha (behind a feature flag), and allows platform teams and their customers to roll out new compositions at a controlled pace.

#2437 - One pager
#2451 - Implementation

Each unique new state of a `Composition` triggers the creation of a `CompositionRevision` that an X

[2021-08-18 14:59] luebken commented on #2468
I was about to document the different flags for the different providers and wanted to follow the [troubleshooting guide for Provider Logs](https://crossplane.io/docs/v1.3/reference/troubleshoot.html#provider-logs) which leverages ControllerConfig. Given this issue, I'm going to pause my efforts to avoid confusion and possible unwanted usage of ControllerCongi

[2021-08-18 18:34] kferrone opened #2497 "Truly Stateful Imports of Existing Resources"
### What problem are you facing?
A lot of resources we create with Crossplane need the `deletionPolicy` to be `Orphan`. This means if I delete the resource from crossplane the underlying resource sticks around. I often have to do this when upgrading crossplane or migrating something.

The issue is when I add it back, I have to write update scripts to apply the `crossplane.io/external-name` annotat

[2021-08-19 01:15] negz commented on #2497
Sadly it's not actually that easy. Some thoughts on this in https://github.com/crossplane/crossplane-runtime/issues/254.

[2021-08-19 01:26] negz opened #2499 "Don't rely on humans to keep CRDs in sync"
### What problem are you facing?

Most of the `apiextensions.crossplane.io` and `pkg.crossplane.io` API types are offered at v1beta1 and v1. We don't do any translation between the types served at these two versions, so we rely on their schemas to remain identical. Their schemas are generated by controller-tools from Go files with kubebuilder annotations under the `apis/` directory. Often we make

[2021-08-19 01:27] negz commented on #2499
Note - a lot (all?) of our v1beta1 APIs are slated for deprecation with Crossplane v1.6, so it's possible this problem is not worth spending the time solving.

[2021-08-19 10:37] mscottini opened #2501 "GCP Bucket, lifecycle feature: Invalid value: "null":"
### What happened?

### How can we reproduce it?

### What environment did it happen in?
Crossplane version: v0.16.0

[2021-08-19 11:36] Zak-Anderson commented on #2449
@hasheddan We are very much also seeing the above and would love to get this looked at as well any ETA

[2021-08-19 12:25] hasheddan opened #2502 "Long compile times for tests"
### What happened?

We started compiling our `e2e` tests in https://github.com/crossplane/crossplane/pull/2486 to ensure that they did not become stale. However, this has led to almost tripling the duration of our `Publish Artifacts` stage in CI. We should try to minimize that time to cut down our runtime and resource usage of CI.

### How can we reproduce it?

Compare this run from a month ago: h

[2021-08-19 13:51] hasheddan commented on #2449
@turkenh @negz I have experimented with a number of different strategies here and have essentially landed on that it is pretty hard to know whether we want to issue an update or not at any given time. My assertion that the diff was only in the managed fields was incorrect, and depending on whether the resource being installed is a CRD / XRD / Composite there are different diffs that we need to acc

[2021-08-19 14:46] hasheddan commented on #2449
Update: I confirmed that watching installed resources does in fact cause conflicts (i.e. `ConfigurationRevision` controller fights with `XRD` controller). I think my feeling at this point is that we should _not watch_ installed resources, _not requeue_ after successful reconcile, and _do watch_ (via `Own` reconciler option) a `ProviderRevision` `Deployment` as we need to see immediately if a Provi

[2021-08-19 16:23] #2493 closed

[2021-08-19 21:16] #539 closed

[2021-08-19 21:19] negz commented on #418
Relates to https://github.com/crossplane/crossplane-runtime/issues/254.

[2021-08-20 14:02] mzingarelli commented on #2411
We are facing a similar issue as you have outlined but its not performance related, rather a separation of concerns.
We have very strict policies that are driven with specific roles. We are not allowed to use any other method beside IRSA.
An example of this would be `RDS-Admin-Role`, `KMS-Admin-Role` and so on.

Crossplane only supports a single `ControllerConfig` to inject the annotation `eks.ama

[2021-08-20 17:04] kferrone commented on #2497
Oh I see. Well, I'll wait patiently.

[2021-08-20 17:11] hasheddan opened #2506 "Cut v1.1.4 Release on August 23, 2021"
### Steps

This issue can be closed when we have:

- [ ] Updated all version information in the documentation on the relevant release branch ([link][docs-update-pr]).
- [ ] Run the [Tag workflow][tag-workflow] on the relevant release branch with the proper release version ([link][tag]).
- [ ] Run the [CI workflow][ci-workflow] on the release branch and verified that the tagged build version exists

[2021-08-20 17:11] hasheddan opened #2507 "Cut v1.2.4 on August 20, 2021"
### Steps

This issue can be closed when we have:

- [ ] Updated all version information in the documentation on the relevant release branch ([link][docs-update-pr]).
- [ ] Run the [Tag workflow][tag-workflow] on the relevant release branch with the proper release version ([link][tag]).
- [ ] Run the [CI workflow][ci-workflow] on the release branch and verified that the tagged build version exists

[2021-08-20 17:11] hasheddan opened #2508 "Cut v1.3.1 Release on August 23, 2021"
### Steps

This issue can be closed when we have:

- [x] Updated all version information in the documentation on the relevant release branch ([link][docs-update-pr]).
- [x] Run the [Tag workflow][tag-workflow] on the relevant release branch with the proper release version ([link][tag]).
- [x] Run the [CI workflow][ci-workflow] on the release branch and verified that the tagged build version exists

[2021-08-20 19:02] chlunde commented on #2502
_Possible_ cause:

https://github.com/upbound/build/blob/master/makelib/helm.mk#L48-L54

I think overriding `XDG_*` points the Go cache to `GOCACHE="/home/chlunde/src/crossplane/.work/helm/go-build"`
which I suspect is not reflected here, because it does not run through the same Makefile variables:

https://github.com/crossplane/crossplane/blob/master/.github/workflows/ci.yml#L57

[2021-08-20 22:22] #2449 closed

[2021-08-22 03:12] #2492 closed

[2021-08-23 14:00] johnpemberton commented on #1708
Just to try and add a bit more weight to this... we're working on an internal PaaS solution, whereby we define our own simplified CRDs for things like RDS, so end users don't need to worry about things like security groups and subnet groups, and we can enforce standards like encryption at rest etc..

Our initial approach was to use our kubernetes operator (kubebuilder based) to take the CRs that o

[2021-08-23 14:16] turkenh commented on #2508
In progress...

[2021-08-23 14:54] AaronME commented on #2506
This issue can be closed when we have:
  * [X]  Updated all version information in the documentation on the relevant release branch ([link](#)).
  * [ ]  Run the [Tag workflow](#) on the relevant release branch with the proper release version ([link](#)).
  * [ ]  Run the [CI workflow](#) on the release branch and verified that the tagged build version exists on the [releases.crossplane.io](https:

[2021-08-23 20:55] turkenh commented on #2508
All steps are done, release completed.

[2021-08-23 20:55] #2508 closed

[2021-08-23 21:07] #2506 closed

[2021-08-23 21:18] negz opened #2523 "Cut v1.4.0 on August 31, 2021."
### Steps

This issue can be closed when we have:

- [x] Created the [release branch][release-branch].
- [x] Created and merged an empty commit to the `master` branch ([PR][empty-commit-pr]).
- [x] Run the [Tag workflow][rc-tag-workflow] on the `master` branch with the next release candidate tag ([Tag][rc-tag]).
- [x] Updated the current release version in the [Crossplane docs website repo] ([link

[2021-08-23 21:24] negz commented on #2523
The v1.4 release will EOL the v1.1 release, so another little task here will be to remove the v1.1 release from our list of supported resources in `README.md`.

[2021-08-23 22:19] negz commented on #1708
@johnpemberton Can you elaborate on what types of Crossplane CRs your operator is creating? Are you creating managed resources (things like `RDSInstance`) directly, or are you using Crossplane's Composition functionality to define your own simplified CRDs (i.e Crossplane Composite Resources, or XRs)?

[2021-08-24 01:25] negz commented on #2470
I updated this to include documenting some of the gotchas that folks run into with Composition.

One that immediately comes to mind is XR secrets. For an XR secret to work a lot of things have to align. Specifically:

1. The XRD must declare what connection details its XR can expose.
1. The XR must be configured to write a connection secret (e.g. have `writeConnectionSecretToRef` set.
1. The conne

[2021-08-24 04:38] negz opened #2524 "Proposal: Custom Compositions"
### What problem are you facing?

Composition is the Crossplane feature that lets teams define their own opinionated APIs (i.e. Kubernetes CRs). We call these APIs "Composite Resources", or XRs for short. When a user creates an XR, Crossplane uses another kind of resource - a `Composition` - to determine what to do. For example a `Composition` might tell Crossplane that when a user creates an `Acm

[2021-08-24 04:39] negz commented on #1955
I'm going to close this issue in favor of https://github.com/crossplane/crossplane/issues/2524, which focuses on the broader "custom composition" concept that we're frequently proposing to Crossplane users as an alternative to Crossplane's intentionally simplistic `Composition` type.

[2021-08-24 04:39] #1955 closed

[2021-08-24 04:43] negz commented on #2335
I was thinking today that we didn't really have a single place that captured all of our thinking around the custom composition concept, so I've raised https://github.com/crossplane/crossplane/issues/2524 to track that.

[2021-08-24 06:25] johnpemberton commented on #1708
So we have our own independent CRDs for things like RDS/S3/Elasticache.   They are very simple and hide the underlying complexities from the end user engineering teams that use our platform, and enforce security, snapshots etc.  i.e. they don't need to know about subnet groups, and they can't have unencrypted things etc.   Plus we want to add additional features such as grafana dashboards and prom

[2021-08-24 18:56] negz commented on #1955
I'm going to roll this into https://github.com/crossplane/crossplane/issues/2524.

[2021-08-24 18:56] negz commented on #1678
I'm going to roll this into https://github.com/crossplane/crossplane/issues/2524.

[2021-08-24 18:56] #1678 closed

[2021-08-24 19:04] negz commented on #2524
Following up with some more thoughts:

[code]

We could also potentially use the `config.kubernetes.io` style annotations to indicate which output resource in the `ResourceList` is the XR, and which are composed resources. This would probably be `config.crossplane.io` or something similar under the `crossplane.io` domain though).

[2021-08-24 22:53] negz opened #2526 "Create a "roadmap-ish" GitHub project"
### What problem are you facing?

Crossplane is a community driven project. Historically we haven't been able to reliably forecast how much time community members can commit to the project, and thus have not maintained a roadmap with specific time commitments. Currently we maintain a GitHub project board for each Crossplane release, with one (minor version) release every eight weeks. These release

[2021-08-24 23:12] negz commented on #1708
@johnpemberton The problem you're solving with your simplified, opinionated CRs that are translated into Crossplane "managed resources" (i.e. the CRs from something like provider-aws) sounds _exactly_ like the project our Composition functionality is intended to solve. In fact, we really optimise for our managed resources to be used as part of a Crossplane "composite resource" (which can be of wha

[2021-08-25 02:34] johnpemberton commented on #1708
Interesting, thanks @negz.   Just having [a read about that](https://crossplane.io/docs/v1.3/concepts/composition.html) and certainly seems useful for our purposes.   Still think it would be nice to have the option of pulling in an API package for working with crossplane resources directly in golang code.

We're loving crossplane btw... helping us solve some real problems in provisioning cloud inf

[2021-08-25 15:18] muvaf commented on #2526
I agree that a running board would be more suitable. Would labeling the ones we want to include in a specific release as such make sense here? Possibly the ones under **In Progress**, like `release-1.5`.

[2021-08-25 15:21] hasheddan commented on #2523
Also as part of the v1.1 EOL, a PR will need to be made to the `release-1.1` branch adding `DOCS_VERSION_ACTIVE=false` in the `Makefile`. (see https://github.com/crossplane/crossplane/pull/2516 for more info)

[2021-08-25 22:50] negz opened #2528 "Refresh the provider development guide"
### What problem are you facing?

We've tried to make contributing a managed resource to a Crossplane provider easier than writing an arbitrary Kubernetes controller from scratch, but it's still a fairly complex task. In Crossplane implementing a managed resource typically boils down to defining the API type (using kubebuilder and controller-tools) then implementing an [`ExternalClient`](https://p

[2021-08-26 13:13] #2302 closed, assigned to muvaf

[2021-08-26 14:18] luebken opened #2530 "Document generateName"
### What problem are you facing?

Kubernetes allows for generating names for resources by specifying `generateName`.  See [Kubernetes API Concepts
](https://kubernetes.io/docs/reference/using-api/api-concepts/#generated-values). This is a useful method for creating Crossplane resources.

### How could Crossplane help solve your problem?
We should document generateName (and possibly other generated

[2021-08-26 18:07] Feggah opened #2532 "Support for update for external-name and other identifier fields"
### What problem are you facing?
After developing some managed resources, I got into an use case where I want to update a field that is used as an "identifier" in `GET` requests. Usually, this field is the external-name, which we can get by calling `meta.GetExternalName()`. The problem relies on when someone updates the `external-name` annotation, the first reconcile loop with the new name won't b

[2021-08-27 00:04] dfallert-rcd opened #2533 "New Composition should be selected when changing an XRC's matchLabels"
### What happened?
When modifying the labels under an XRC's `spec.compositionSelector.matchLabels`, the XR in which the claim points to, does not properly update its `spec.compositionRef.name`. As a cluster owner/admin, I can always just manually edit, and delete `spec.compositionRef.name` from the XR and force it to update. However, a user wouldn't have access to do this, as XRs are cluster-scope

[2021-08-27 14:42] AaronME opened #2534 "Support documentation of ConnectionDetails for providers"
### What problem are you facing?
Crossplane enables writing ConnectionDetails to a secret via the WriteConnectionSecretRef key. However each provider, and each resource, determines it's own ConnectionDetails. (For example, connecting to a database and connecting to a storage Bucket require entirely different keys/values.) The only way to currently inspect a Resource for what ConnectionDetails it o

[2021-08-27 15:13] zonybob opened #2535 "Volume support in ControllerConfig"
### What problem are you facing?

I need to use provider-aws and I need to override the AWS client's CA bundle (this can be done in `aws-sdk-go-v2` via `AWS_CA_BUNDLE=/path/to/pem` ... https://github.com/aws/aws-sdk-go-v2/blob/f5b68d198dbefe144696aa0051ed854571b5d614/config/env_config.go#L146-L162)
My issue is that there does not seem to be a way (without using mutating webhooks on the provider po

[2021-08-27 21:58] #2534 closed, assigned to nobody

[2021-08-27 22:05] #70 closed, assigned to nobody

[2021-08-28 01:08] negz commented on #1993
We're experimenting with a different approach on this one at the moment in https://github.com/crossplane-contrib/terrajet - we're using that repo to track.

[2021-08-28 01:08] #1993 closed

[2021-08-28 01:10] negz commented on #1844
We're experimenting with a different approach on this one at the moment in https://github.com/crossplane-contrib/terrajet - we're using that repo to track.

[2021-08-28 01:10] #1844 closed

[2021-08-28 01:17] negz commented on #2434
@pgodowski is this something you'd be interested in setting up time to discuss? I don't think it's feasible for us to make the proposed breaking API change, but I'd be happy to try to find an alternative.

[2021-08-28 01:18] negz commented on #2427
Hi @singaravelanIngka - we haven't heard back so I'm going to close this. Please reply if you'd like to provide more detail,

[2021-08-28 01:18] #2427 closed

[2021-08-28 01:23] negz commented on #2396
@morningspace Can you elaborate on what you're trying to achieve here? I think I get it, but I want to make sure. It sounds like you're wanting to define each element in a Composition's `resources` array once, then reuse it across multiple Compositions?

I could imagine us doing something like introducing a new `ComposedResource` type that could be aggregated to a `Composition` using a label selec

[2021-08-28 01:27] negz commented on #2336
@psinghal20 the second approach you suggest looks good to me. I think it matches our original intent for the string transform type.

[2021-08-28 01:35] negz commented on #1252
Anecdotally this isn't something I've seen any demand for yet within our community. I want to cross-link it to https://github.com/crossplane/crossplane/issues/2366 though - I could see us using that design to support this a connection details sink/plugin.

[2021-08-28 01:37] negz commented on #1225
This sounds similar to https://github.com/crossplane/crossplane-runtime/issues/254.

[2021-08-28 01:43] negz commented on #1148
I thiiink what this issue is going for is kind of a 'dummy' resource that can be used to test Crossplane, right? If so we've built https://github.com/crossplane-contrib/provider-nop for that.

[2021-08-28 01:43] #1148 closed

[2021-08-28 01:46] negz commented on #979
I'm going to close this because for the time being we've parted ways with the idea of Crossplane (as a project) having UI metadata. We at @upbound however are still thinking this will be useful for products like Upbound Cloud and our `up` CLI tool, but we're going to work on that in https://github.com/upbound/universal-crossplane for now. If we see strong enough demand from the community (e.g. oth

[2021-08-28 01:46] #979 closed

[2021-08-28 01:48] negz commented on #1104
I feel like the process I mentioned in my last comment has actually been working pretty well. I suspect eventually we will need something a little more robust like KEPs, but for our current scale I think we're good. I'm going to close this until we start seeing pain here.

[2021-08-28 01:48] #1104 closed

[2021-08-28 02:02] negz commented on #1962
I'm a little unclear on whether this issue is actually asking if we will support copying connection details _from_ a `ConfigMap`, or _to_ a `ConfigMap`. I don't see us natively adding support to copy _from_ a `ConfigMap` - this isn't something we've had any demand for outside of this issue - though I could imagine a particular provider choosing to do that.

When it comes to writing _to_ a `ConfigM

[2021-08-28 02:02] #1962 closed

[2021-08-28 02:04] negz commented on #1977
Hey @psinghal20! Please do feel free to work on this now that you've moved us over to kong. :)

[2021-08-28 02:12] negz commented on #2471
Heh - this is almost an exact duplicate of https://github.com/crossplane/crossplane/issues/2114.

[2021-08-28 02:12] #2471 closed

[2021-08-28 02:13] negz commented on #2114
Related: https://github.com/crossplane/crossplane/issues/2472

[2021-08-28 02:18] negz commented on #2179
I _think_ this could be done at the moment with a bit of convention. e.g. The platform team could make sure to label all compositions with something like `claim-type=acmewidget`, which would allow claim authors to run something like `kubectl get compositions -l claim-type=acmewidget`. Something more automated would be ideal though.

We could have the XRD controller discover all compatible Composit

[2021-08-28 02:21] negz commented on #2249
@iAnomaly I know we have some fixes to the claim/XR external-name propagation due to be released in v1.4 - it might be worth checking whether that release fixes this issue.

[2021-08-28 02:45] negz commented on #2290
@chlunde sorry for the lack of response on this issue. 😬 Do we have any idea what changed (presumably in the API server) in v1.19 that would have caused this behaviour change? I couldn't find any evidence that status updates no longer cause `metadata.resourceVersion` bumps, e.g. https://github.com/kubernetes/kubernetes/issues/8625.

[2021-08-28 02:47] negz commented on #2297
Hrm, @haraldatbmw have you managed to find any workarounds here? I'm not sure there's much we can do, apart from perhaps document some init-container-less install method.

[2021-08-28 11:23] hasheddan commented on #2535
@zonybob thanks for raising this! I would be in support of this feature, though I do want to mention that the functionality provided by `ControllerConfig` is being discussed in a broader sense in #2468 -- I don't think it needs to block implementation of volume support though :)

[2021-08-28 14:32] zonybob commented on #2535
@hasheddan thanks for that reference.
FWIW (and maybe to assist anyone else stumbling upon this) I have been able to work around this issue using a Kyverno mutating policy shown below...
Still I look forward to Crossplane handling this without dependencies.

[code]

[2021-08-29 08:52] chlunde commented on #2290
@negz I think the problem was that 1.18 `Update()` with a `.status` change would ignore the status change, but still bump the resource version number. Newer versions of the api server ignores the change to `.status` in `Update()` so the code moves forward to `Status().Update()` which actually modifies `.status`.

[2021-08-30 06:18] haraldatbmw commented on #2297
@negz Our workaround was to disable istio for the crossplane-systems namespace.

[2021-08-30 19:23] #2469 closed

[2021-08-30 23:02] negz commented on #1415
We haven't seen much demand from the community for this integration, so I'm going to close this issue. We can revisit this if and when we see folks asking for the feature.

[2021-08-30 23:02] #1415 closed

[2021-08-30 23:45] dfallert-rcd opened #2538 "XRC used to adopt an orphaned primitive never reaches ready state with default readiness check"
### What happened?
An XRC that's used to "adopt" a resource currently unmanaged by Crossplane doesn't seem to ever reach the ready state.
The reason, according to the claim, is ` Composite resource claim is waiting for composite resource to become Ready`

when examining the XR that's created via this claim, its status shows
[code]
with these events

[code]

While the claim continues to remain in t

[2021-08-31 17:17] muvaf commented on #2523
I've used the following code to get all PRs introduced in this release. I'm thinking of adding a `make release-notes` target to build submodule that will run a Python or Bash version of this.
[code]

[2021-08-31 19:11] jbhennin opened #2544 "compositionRevisionRef needs to be consistent when managing multiple clusters"
### What problem are you facing?

Although this feature is not yet released (slated for 1.4), we have identified a necessary area of improvement for those who manage many kubernetes clusters.  Currently, the implementation requires an individual with cluster scoped access to discover the available composition revisions by running `kubectl get compositionrevision -l  #crossplane.io/composition-name

[2021-08-31 19:43] muvaf commented on #2523
v1.4.0 is out! https://github.com/crossplane/crossplane/releases/tag/v1.4.0

[2021-08-31 19:43] #2523 closed

[2021-09-01 14:29] morningspace commented on #2396
@negz Yeah, you are right. And, I thought what you suggested as above using `ComposedResource` is something might be helpful in this case. Interestingly, I was experimenting some of such cases recently and I thought I might have a few more concrete cases that I could share here which makes me start to think that to simply refer to something using label selector might not be sufficient. I will writ

[2021-09-01 16:11] anoop2811 commented on #2544
Additionally if it was possible to give more control on how the revision is expressed like for example if it supported semantic versioning, it would help to communicate to the consumers/developers on the extent of change to expect

[2021-09-02 01:05] negz commented on #2528
Adding a note that per @chlunde's suggestion, when we put this together we may also want to consider whether there is any help we could condense for folks reviewing new managed resource contributions.

[2021-09-02 05:42] erikgb commented on #2528
I could take a look on refreshing the [existing Provider Development Guide document](https://github.com/crossplane/crossplane/blob/master/docs/contributing/provider_development_guide.md)? I don't think I have the bandwidth to do that much, but at least some minor fixes. We just started on  our first provider, and as crossplane noobs, we found the PDG. And it is outdated, oh yes. 😅

@negz Which pro

[2021-09-02 06:19] chlunde commented on #2528
For new resources:
* Working examples (that fit together with the other examples, for example named references)
* Tests/coverage, what kind of tests do we require? What's nice to have?
* Manual testing, test not only create and delete but also modifications

For reviews/changes:
* alpha vs. beta API changes
* release note procedure?
* alpha vs beta requirements

for reviewers:
* Review process - y

[2021-09-02 09:52] piotrmsc opened #2549 "Helm Chart passes wrong flags to install providers and configurations"
### What happened?
I'm using crossplane installed using helm charts in version 1.3.1, I have upgraded crossplane to recent version 1.4.0 but it does not work. Crossplane init container fails with :

[code]

I have GCP provider `crossplane/provider-gcp:v0.17.1`

### How can we reproduce it?

1. Create k8s cluster (for reproducing I used k3d for simplicity `k3d cluster create test`)
2. Install helm

[2021-09-02 12:56] luebken commented on #1975
Regarding Metal 3 I found https://github.com/metal3-io/baremetal-operator.  We should reach out to Metal3 and see if we can collaborate on a Metal3 provider for Crossplane.

[2021-09-02 13:22] muvaf opened #2550 "Proposal for a new PR workflow to better track responses"
### What problem are you facing?

With large number of PRs that are opened across the repositories under `crossplane` org, especially providers, it becomes harder to respond on time with the reviews and sometimes it just slips through the cracks and maintainers/authors don't notice that they should respond.

### How could Crossplane help solve your problem?

We can have a bot that labels the PRs w

[2021-09-02 17:26] dfallert-rcd commented on #2549
the arg in the helm chart is [here](https://github.com/crossplane/crossplane/blob/99643d044389ee8cab85e973b10ec3f5cb1945f9/cluster/charts/crossplane/templates/deployment.yaml#L40)

it may be worthwhile to verify if [this one](https://github.com/crossplane/crossplane/blob/99643d044389ee8cab85e973b10ec3f5cb1945f9/cluster/charts/crossplane/templates/deployment.yaml#L44) works as well, or if it too ne

[2021-09-02 22:18] negz commented on #262
I'd like a github.com/crossplane issue we can use to track our efforts around Terraform-wrapped providers on our project board. We've had a lot of efforts in this area in the past so there's quite a few different existing (closed) issues. I figured I'd open this original issue to use it to track. :)

https://github.com/crossplane/crossplane/pull/2536 reflects our current area of exploration.

[2021-09-02 22:36] negz commented on #2528
Minor fixes are more than welcome!

As you mention, provider-template is typically the best but it is a little basic. Apart from that it's really hard to say. The AWS provider is the most extensive and mature, but because much of it is generated code it's not the best reference for folks building their own providers by hand.

[2021-09-02 23:21] vfarcic opened #2551 "Construct a key in connectionDetails of a composite"
### What problem are you facing?

I'm trying to generate a `uri` key that will contain a combination of a few entries that already exist in a secret (e.g., `user`, `pass`, `ip`, ...).

### How could Crossplane help solve your problem?

Provide a mechanism to construct a key in a secret specified in `connectionDetails` of a Composite. That key could be based on a combination of other keys in a secr

[2021-09-03 04:31] negz commented on #2549
Thanks for catching and diagnosing this folks!

[2021-09-03 04:35] negz commented on #2538
Huh - interesting. Can you grab the events and status from the adopted resources (and any other resources of which the XR is composed)? I'd expect they're not becoming ready for some reason.

[2021-09-03 04:40] negz commented on #2544
One interesting challenge here is that we'd presumably need to coordinate to ensure each Crossplane cluster chose the same revision name. If we just use a monotonically increasing revision number there's technically nothing keeping different clusters in sync - e.g. if you create a `Composition` named `example` on one cluster then later (after say 3 revisions on the first cluster) created the (now

[2021-09-03 10:05] luebken commented on #2550
The label "priority" would would conflict with other priorities besides age.

Also do we really need a label? What about plain sorting by recently updated? https://docs.github.com/en/github/administering-a-repository/finding-information-in-a-repository/sorting-issues-and-pull-requests

[2021-09-03 15:27] shuknk8s opened #2552 "PostgreSQL RDS Instance - Storage size change through claim is not working , unable to show case drift detection and reconciliation"
### What happened?

Modified the claim to increase or decrease storage size of the database , did not reflect on the rds instance ever.

### How can we reproduce it?

1. Modify the storage size parameter in aws-claim.yaml as developer and apply it on the cluster
2. Deleted composed infra like sub nets , they did not get recreated
3. Deleted database , but after it was recreated , the connection se

[2021-09-03 15:29] anoop2811 commented on #2544
Yes, exactly the reason if we could have a version number that is manually set in the composition instead of auto generated revision which could help in such a situation

[2021-09-05 02:50] #2549 closed

[2021-09-05 20:59] vinsguru opened #2555 "Reduce the wait time for composition readiness"
First of all, thanks to **_crossplane_** team for creating this awesome project & their contribution.

I have been playing with crossplane for the past few days. Overall, I love it.

I do see some kind of weird behavior in my composition. If we could improve this, it would be great. I create a simple **composition** over aws bucket. It works just great. But it takes `~30seconds` to become ready wh

[2021-09-06 05:15] jgillich commented on #2524
Disclaimer: I've only been using Crossplane for a couple of days so I might get some things wrong here, but I thought I'd give my 2 cents on this matter.

I have a work-in-progress operator that is 90% composing resources and generating sensible statuses, and this is of course what Crossplane does really well so I'm considering adopting it. My initial expectation was that Crossplane might not prov

[2021-09-06 07:39] muvaf commented on #2552
Hi @shuknk8s ! Could you share your YAMLs so that we can reproduce the problems?

[2021-09-06 15:31] shuknk8s commented on #2552
No special claim file but the same aws-claim.yaml of the getting started
guide(new vpc variant)

On Mon, Sep 6, 2021, 3:39 AM muvaffak onuş ***@***.***> wrote:

[2021-09-06 17:39] shuknk8s commented on #2552
Here are the files to be explicit - please follow the getting started guide
with aws rds for further details,
 don't think you need to do that as you are the owner of the repo :-)
1. XRD - definition.yaml
2. XR and XRC - composition.yaml
3. PostgreSQL RDS claim -claim-aws.yaml

On Mon, Sep 6, 2021 at 11:31 AM Shu C ***@***.***> wrote:

[2021-09-06 19:00] antonyc opened #2556 "Crossplane provider for Yandex Cloud"
### What problem are you facing?

Having read the [contrib rules](https://github.com/crossplane/crossplane/blob/76319eb840e6813c1b78a1f672549dd39c8c7800/CONTRIBUTING.md), I suggest creating a Yandex Cloud provider. https://cloud.yandex.com/en-ru/ is a cloud offering virtual machines, load balancing, AI, Managed Databases, K8S and many more other services.

### How could Crossplane help solve your

[2021-09-07 16:08] mcbenjemaa opened #2560 "Proposal: Adding `fromCompositeFieldPath` to `connectionDetails`"
### What problem are you facing?

Difficulties to span `connectionDetails`

### How could Crossplane help solve your problem?

[Proposal]
Sometimes you gotta fetch `connectionDetails` from composite resource fields.

Hence, It'd be better to add this functionality.
For instance, a `fromCompositeFieldPath`  should be added to the `connectionDetails`  in the Composition.

However, The combination an

[2021-09-07 16:11] mcbenjemaa commented on #2560
relates to #2551

[2021-09-08 04:32] negz commented on #2560
@mcbenjemaa Thanks for the proposal!

We already have a (poorly documented) `FromFieldPath` type of connection detail that reads a value from a _composed_ resource. Could you give me a little bit more information about your use case? I'm wondering if `FromFieldPath` would work for you, or if you really need the value to come from an XR field.

[2021-09-08 04:34] negz commented on #2556
Hi @antonyc! It sounds like you're interested in working on this provider. Is that correct?

If so we can get you setup with a repository under the crossplane-contrib org (we start new providers there these days). Sadly our provider development documentation needs work, but https://github.com/crossplane/crossplane/issues/2528 is currently a good list of all the resources we have available.

[2021-09-08 07:18] antonyc commented on #2556
It is correct, I am researching the actions needed for this.

[2021-09-08 07:33] MisterMX opened #2561 "Crossplane does not use K8s credential providers to pull packages"
### What happened?

Since #2108 Crossplane does not use the credential providers for k8s in `go-contrainerregistry` that would use the identity of the kubelet to fetch packages from a private registry. A current workaround is using `packagePullSecrets` but that's quite cumbersome because it requires a uploading a token manually (at least for AWS).

The providers were deactivated because some issue

[2021-09-08 09:44] negz commented on #2335
I'd be against this. I prefer to avoid adding too much meaning/structure in otherwise opaque strings that can't be validated by the API server.

[2021-09-08 18:34] mcbenjemaa commented on #2560
@negz I have a Helm release and I'm trying to construct a hostname from the status of my composite resource.
It would be more easier for me to get `connectionDetails` from the status of my `composite` resource.

Although, there's a workaround to get this field from `connectionDetails` of the release but I think it's worth to have this kind of field supported in the `connectionDetails`.

PS: I have

[2021-09-08 19:05] negz commented on #2560
Can you explain _why_ this is easier, please? I presume your status field is derived from a composed resource field, right? Could you just use that composed resource field?

[2021-09-09 14:00] turkenh opened #2564 "Installing packages with many CRDs causes reconciler to exceed context deadline"
### What happened?

Cannot install a provider package containing 750+ CRDs.

Trying to install [provider-tf-aws](https://github.com/crossplane-contrib/provider-tf-aws) built from [this commit](https://github.com/crossplane-contrib/provider-tf-aws/tree/daf1e9f7fcbd7959c25ccdcc11e0800d17e904fe), but package is never installed.

I am observing context deadline errors in `providerrevisions.pkg.crosspl

[2021-09-09 15:06] mcbenjemaa commented on #2560
No, I can't use the composed resource field because I need to combine it and transform it.

this is a simple example:
[code]

then, I have the `status.host` published to the composite resource which is great.
that was the idea, later on the `connectionDetails` could just fetch it :)

I have also some other uses cases Where I would set a DNS name in the composite spec, and I want to supply it to th

[2021-09-09 16:36] muvaf opened #2565 "Cut v1.4.1 Release on September 10, 2021"
### Steps

This issue can be closed when we have:

- [x] Updated all version information in the documentation on the relevant release branch ([link][docs-update-pr]).
- [x] Run the [Tag workflow][tag-workflow] on the relevant release branch with the proper release version ([link][tag]).
- [x] Run the [CI workflow][ci-workflow] on the release branch and verified that the tagged build version exists

[2021-09-10 01:59] negz commented on #2560
Thanks for the context @mcbenjemaa. That makes sense. Given that currently (iirc) a composite resource field can only be derived from a single composite resource, would you still need this functionality if we instead implemented the suggestions in https://github.com/crossplane/crossplane/issues/2551? That is, if you could use something like `CombineToComposite` to 'combine' multiple values from a

[2021-09-10 02:57] negz commented on #2556
Nice! Thank you. I just created https://github.com/crossplane-contrib/provider-yandex-cloud and invited you as a maintainer.

[2021-09-10 02:58] negz commented on #2556
I think we've addressed everything here (apart from actually writing the provider) so I'm going to close this. Definitely let us know if we can help - Slack is probably the best place to reach out for that.

[2021-09-10 02:58] #2556 closed

[2021-09-10 03:01] negz commented on #2555
Thanks for raising this @vinsguru! I completely agree that this should happen faster. The issue is that we currently have a fixed 30 second polling interval when we're waiting for something to happen. We have https://github.com/crossplane/crossplane/issues/2157 to track using a faster polling interval (with exponential backoff). Since solving that issue will solve this one, I'm going to close this

[2021-09-10 03:01] #2555 closed

[2021-09-10 03:05] negz commented on #2411
Sorry for missing discussion in the community meeting this morning. Are we really ready to commit to this (major) architectural change in Crossplane v1.5? Should we perhaps move this to a one pager stage for more discussion and keep it on the roadmap project (in the 'In Design') column?

[2021-09-10 03:15] negz opened #2568 "Test Crossplane at scale"
### What problem are you facing?

We've historically deferred optimising for performance when building Crossplane in favor of optimising for simplicity and maintainability. The idea being that we'd start optimising for performance when folks start hitting scaling limits. That time has come. I've been using the `performance` label to track issues that pertain to Crossplane performance, and we now h

[2021-09-10 09:18] turkenh commented on #2564
I've updated the issue description, as originally I tried to install provider with controller image 🤦

[2021-09-10 12:33] janwillies commented on #1641
This is still an issue (some resources need to be patched) but I think it's not in-scope for crossplane/crossplane. Going to close, feel free to re-open if you think it is.

[2021-09-10 12:33] #1641 closed

[2021-09-10 15:29] mcbenjemaa commented on #2560
I agree, While I don't know to much about the design here,
I think this is gonna help in some situation.
but as I mentioned, combining fields to `connectionDetails` is something should be implemented. (with the attention to allow combination from both sides {From my point of view})

[2021-09-10 19:35] negz opened #2573 "Automate provider repository creation"
### What problem are you facing?

Our GitHub Actions workflows use Docker Hub credentials to push to repositories. We used to use credentials that also had admin access and could thus automatically create new repositories as needed. Recently we switched to using credentials with only permissions to read and write from certain repositories. This means there's a fairly onerous process every time we

[2021-09-10 20:10] #2565 closed

[2021-09-10 21:06] #452 closed

[2021-09-14 01:32] shuknk8s commented on #2552
I am wondering whether or not expect a response after sharing the details
that were requested for.

On Mon, Sep 6, 2021, 1:38 PM Shu C ***@***.***> wrote:

[2021-09-15 07:58] erikgb opened #2579 "ToUpper/ToLower Composition string transform"
### What problem are you facing?

We are building a Crossplane provider for Cohesity, and our first goal is to allow end-users to provision their S3 buckets. And while we technically made this work, we had to "hack" inside the provider when setting ACLs on bucket (Cohesity call it a view).

This is our composition, at least parts of it:

[code]

Somehow the Cohesity API requires the `grantee.id` t

[2021-09-15 12:50] abhivaidya07 commented on #1754
@kelvinwijaya Could you please share the yaml files here, i'm facing the same issue ??

[2021-09-15 15:35] turkenh commented on #2573
@negz that would be helpful.

Actually intended to create such a script but looks like there is no proper tooling or API to automate this. Looking for a docker hub CLI, I found [this](https://github.com/docker/hub-tool#readme) (experimental) `hub-tool` cli but it does not have enough functionality (no repo create option):

[code]

and also there is a very limited REST API which seems not to have e

[2021-09-15 17:28] turkenh commented on #2552
@shuknk8s just able to reproduce the problem of storage size not changing.
I bumped `storageGB` from `20` to `30`, and actually, I see the change in the claim propagated down to managed resource properly but not reflected to the cloud side.

In the status of `RDSInstance` resource, I am seeing it as `Pending Modified Values`:

[code]

So, this implies that this is not an issue with flowing configu

[2021-09-15 17:44] turkenh commented on #2552
Hmm, actually it is also reflected to the cloud side as a pending modification to be applied during the next maintenance window.

<img width="936" alt="Screen Shot 2021-09-15 at 20 36 47" src="https://user-images.githubusercontent.com/9900707/133482177-2b0c59da-e35b-4eca-a6a4-305e7be0fc9a.png">

So, looks like, provider-aws also did its job properly. If we really want to apply immediately, we shou

[2021-09-15 17:51] turkenh commented on #2552
How did you delete this, from AWS Console? Asking because it does not allow me to delete a subnet.

<img width="998" alt="Screen Shot 2021-09-15 at 20 50 23" src="https://user-images.githubusercontent.com/9900707/133483994-9ea9d0ee-4113-475e-a852-584ff8d528e3.png">

Or do you mean deleting managed resources (corresponding CRs in k8s) and expecting them to be composed again?

[2021-09-15 18:50] shuknk8s commented on #2552
I was able delete the sub nets from aws console, not the db group subnet
but the vpc subnets, wondering how.

On Wed, Sep 15, 2021, 1:52 PM Hasan Turken ***@***.***> wrote:

[2021-09-16 05:01] negz commented on #2568
I've put together a repository to make these tests somewhat reproducible at https://github.com/negz/crossplane-scale. An initial test of 100 claims (each with 4 managed resources) shows that it took about 18 minutes for all claims to become ready. By contrast a single claim becomes ready in about 30 seconds.

[2021-09-16 05:08] negz commented on #2477
I've started tracking some scale testing of our own in https://github.com/crossplane/crossplane/issues/2568, mostly to give us a repeatable way to test potential improvements such as the ones you've suggested. So far our tests are fairly in line with what you're seeing.

[2021-09-16 08:39] paulcarlton-ww opened #2580 "Make provider setup available using gitops approach"
### What problem are you facing?

I am trying to deploy crossplane and use it to configure AWS infrastructure via gitops methodology.
I can install controller using flux2 Helm Controller but adding the aws provider requires use of crossplane cli as per https://crossplane.io/docs/v1.4/getting-started/install-configure.html, i.e.

[code]

### How could Crossplane help solve your problem?
I'd like to

[2021-09-16 10:00] muvaf commented on #2122
We had a quick sync with @ulucinar about this issue. I believe the use cases (partition, hence stronger IRSA story) described in the issue will be mostly covered by https://github.com/crossplane/crossplane/issues/2411 . So, it would make sense to limit this to just being able to install a provider with limited set of resources with no guarantee about whether you can install another provider with a

[2021-09-16 16:08] ulucinar commented on #2122
Thanks @muvaf. One question: Why do we treat a change in the set of reconciled API groups by the provider as a new provider revision? It will correspond to a change in the command-line options we pass to the provider. Is it because the change is in the provider spec? If so, what about making this part of the ControllerConfig maybe?

[2021-09-16 19:51] #2434 closed

[2021-09-17 02:11] negz commented on #2580
Hi @paulcarlton-ww! This should actually be possible today - the `kubectl crossplane` command you reference is actually just creating a `Configuration` resource under the hood. Take a look at https://crossplane.io/docs/v1.4/concepts/packages.html#installing-a-package for more detail, but I think what you're looking for would be:

[code]

Let me know if I've misunderstood what you're looking for.

[2021-09-17 02:11] #2580 closed

[2021-09-17 02:56] negz opened #2581 "Patch `mergeOptions` are written from the perspective of Go code, not YAML"
### What happened?

https://doc.crds.dev/github.com/crossplane/crossplane/apiextensions.crossplane.io/Composition/v1@v1.4.1

Currently a `Composition` patch policy can look like this:

[code]

There's a few inconsistencies that weren't caught at review time here. Namely:

1. The MergeOptions apply to the `toFieldPath` - this might be obvious but ideally it would be more explicit.
2. More important

[2021-09-17 09:33] muvaf commented on #2411
@negz I'm not aware of a decision we made in the community meeting to take on this.

[2021-09-17 09:44] muvaf commented on #2122
Unfortunately, it's not only that. Package manager applies CRDs and then creates the `Deployment` object. Then RBAC manager reconciles the active `ProviderRevision` to create the managed roles. All three is affected by the list of CRDs a provider brings in. So, the significance of the change is as high as updating the provider. Even if the image tag doesn't change, we actually do update everything

[2021-09-17 13:13] muvaf commented on #2524
Tangentially related, https://github.com/crossplane/crossplane/issues/2110 is also about customizing composition behavior but at a lower level that won't require you to give up using `Composition` completely.

[2021-09-17 20:08] brianmjones commented on #280
would love to see mongodb atlas supported as a provider in crossplane.

[2021-09-21 09:31] MisterMX commented on #2367
@hasheddan any progress on this issue? I would volunteer to help.

[2021-09-21 15:09] hasheddan commented on #2367
@MisterMX I have not made any progress here yet, and I would be happy for you to work on it :) Some initial thoughts:
- Today this can be worked around by installing the `Provider` with whatever settings you want before installing the `Configuration` and ensuring that it has a compatible version (I think this is what you mention, but want to be clear that dependency resolution can still work -- an

[2021-09-22 06:27] negz commented on #2568
I made some basic (but onerous, refactoring wise) tweaks to the core Crossplane controllers and the time taken for a burst of 100 new claims (each with four composed resources) to become ready dropped from ~18 minutes to ~8 minutes.

<img width="1374" alt="pretty-colours" src="https://user-images.githubusercontent.com/1049349/134293393-7e5bcbdb-84c8-44a0-b2d8-b00b79258185.png">

Specifically I:
*

[2021-09-22 08:23] MisterMX commented on #2367
@hasheddan thanks for the explanation. I understand why you want a package to be more flexible. Our `Configuration` package on the other hand is already quite specific because we only use it to ship our compositions and XRDs that are written for a specific environment. So it would be fine for us if the it would also contains a specific `ControllerConfig`.

We are mainly interested in overriding th

[2021-09-22 16:16] vinsguru opened #2586 "Crossplane resource describe provides wrong information."
We have created a Composition called `S3Bucket` on top of Crossplane `Bucket` resource. Our base composition is like this initially.

[code]

 We build the configuration v1 and push it into our k8s cluster. Let's assume that we have provisioned few buckets using the composition. Everything looks great so far.

 Now due to some requirement change , we have to change the composition like this & buil

[2021-09-22 16:29] #2586 closed

[2021-09-22 16:32] zonybob commented on #2367
Interested in following along with this thread. I too am running into this issue (at least I think it's the same!).
I build configuration packages with
[code]

... but certain target environments all have their own private registries, and the preference all along has been to not rebuild separate config package/image per environment.

[2021-09-22 16:53] hasheddan commented on #2367
@zonybob Unintended consequences in this case just means that a configuration package may not work properly and Crossplane won't tell you about it (since you have disabled dependency resolution.

@zonybob (and maybe useful for @MisterMX also) FWIW you can set the default registry to be used for packages that do not specify: https://github.com/crossplane/crossplane/blob/0b084aa5b087e95a3a96659ea206

[2021-09-22 20:51] mcbenjemaa commented on #2579
I think I might need it as well.

[2021-09-22 21:10] negz commented on #2579
I think we'd want the `ToUpper` as a transform, right? The proposed API shows it as a combine strategy. So perhaps something like:

[code]

[2021-09-22 21:10] #2470 closed

[2021-09-22 21:22] mcbenjemaa commented on #2579
@negz  Thanks.

While I was expecting to add this `convert` to the `transforms`  and to the `combine.string`,
But, your proposal is clear and makes sense.

you can assign me, I'd take this issue.

/assign

[2021-09-23 05:53] samidbb opened #2588 "Support for boolean values in map transform in compositions"
### What problem are you facing?
We are building a package that offers claim to create sqldatabase instances on AWS on-demand (dynamic provisioning).
User has to specify boolean parameter `isProduction` to tell whether the instance is running in production  mode or in non-production mode. Based on the  provided value, `skipFinalSnapshotBeforeDeletion` will be set.

XRD:
[code]

The logic should be

[2021-09-23 07:17] samidbb opened #2589 "Support for fromFieldPath, nil/null and default value in map transform"
### What problem are you facing?
Related to the case mentioned in #2588
So we are basically trying to build a package that offers claim to create sqldatabase instances on AWS on-demand (dynamic provisioning).

User has to specify boolean parameter `isProduction` to tell whether the instance is running in production  mode or in non-production mode.
XRD:
[code]
Based on the provided value, `skipFina

[2021-09-23 10:06] turkenh opened #2590 "Need a way to pause reconciliation of individual resources"
### What problem are you facing?

Recently, while I was working on the [migration guide for provider-gcp](https://github.com/crossplane/provider-gcp/blob/master/docs/upgrading-to-v0.18.x.md), I needed a way to make sure that no crossplane or provider controllers reconcile on some custom resources (managed, composite, configuration etc). However, currently, we don't have such an option today to pau

[2021-09-23 13:49] MisterMX commented on #2367
@hasheddan Currently it's just `docker pull` followed by a `docker push`. We don't rebuild the provider packages (and would like to keep it that way if possible).

Would overwriting the default registry make Crossplane pull the default provider packages from a custom registry instead of DockerHub?

If yes, is this supported by Crossplane's Helm chart and what would be the best way to enable it?

[2021-09-23 17:16] negz commented on #2590
I've been kind of hesitant about this in the past, but only because I worry that folks might accidentally miss that some MRs are paused. I wonder if we could solve that with events/metrics? e.g. Perhaps when this annotation existed the managed resource reconciler could return early without actually doing any meaningful reconciling, but emit a `Paused` event. We could also potentially add a new con

[2021-09-23 17:21] negz commented on #2544
@jbhennin just raised this at this week's community meeting. I'd like to get some more community input on this to make sure we arrive at a solution that works for everyone. So:

* Is anyone else hitting this issue at this stage?
* If so, do you feel a semver describing what revision of a composition your claim should target would make sense?

[2021-09-23 17:24] hasheddan commented on #2411
@negz ah I unintentionally moved this TODO in v1.5 board but just wanted to propose -- I'll write up a one-pager around how this could work / some other options 👍🏻

[2021-09-23 17:36] hasheddan commented on #2367
@MisterMX it would 👍🏻 you can set it with `--set args='{"--registry","registry.upbound.io"}'` or the equivalent in your `values.yaml`. Just noting again that this _will not_ change the referenced controller image in the package.

[2021-09-23 18:03] negz commented on #2589
Thanks for writing up this very detailed use case @samidbb!

I'm a little hesitant to support a "special" `source.fromFieldPath` value in the `map` transform specifically, which otherwise is a simple map of key to values. It seems like what we're really trying to do here is support a conditional of sorts, which is broadly one of the things we called out that we would not do with the `Composition`

[2021-09-23 18:11] negz opened #2593 "Proposal: Soften requirement for XRDs to declare connection details"
### What problem are you facing?

Currently in order for an XR (or claim) to successfully publish connection details to a secret:

1. The XRD that defines the XR and claim must declare what connection details they expose as part of [`spec.connectionSecretKeys`](https://doc.crds.dev/github.com/crossplane/crossplane/apiextensions.crossplane.io/CompositeResourceDefinition/v1@v1.4.1)
2. The Compositio

[2021-09-23 18:25] negz commented on #2593
https://github.com/crossplane/crossplane/blob/164eed44/internal/controller/apiextensions/composite/api.go#L78

I _think_ this would just be a case of either dropping the `APIFilteredSecretPublisher`, or perhaps updating it to warn us if it's publishing unexpected connection details?

[2021-09-23 18:26] negz commented on #2593
Another smaller change we could make is to just address the TODO @muvaf left in the above `APIFilteredSecretPublisher` implementation and switch up the API such that if you don't specify a filter (i.e. don't specify `spec.connectionSecretKeys`) we'll just allow all keys, but if you do specify a filter we'll maintain today's behaviour.

[2021-09-23 18:52] negz opened #2594 "Proposal: Optionally skip 'intermediate' connection secrets"
### What problem are you facing?

For a claim to write a connection secret many things need to align, including (but not limited to):

1. The actual 'source' of connection details (i.e. composed resources) writing connection details to secrets.
2. The XR aggregating the connection details from the secrets in 1 to its own connection secret.
3. The claim propagating the connection details from 2 to

[2021-09-23 18:54] negz commented on #2594
I could kiiind of imagine us taking a similar approach to managed resource secrets too - i.e. automatically setting all managed resources to write their connection details directly to the claim's secret. The tricky part there would be handling conflicts (i.e. if multiple composed resources all wanted to write the `password` key). Currently that's handled at the `Composition` layer (i.e. at a layer

[2021-09-23 21:27] negz commented on #2568
I think there's potentially a couple of things happening here. Namely:

1. Not all reconciles are actually rate limited. There's four things that trigger a reconcile: a watch event, returning `RequeueAfter: t`, returning `Requeue: true`, or returning an error. Only the latter two cases are subject to rate limiting. That is, if you create 100 claims at once you'll get 100 claims queued at once (sub

[2021-09-23 21:35] negz commented on #2568
I've been thinking of rate limiting as more of something that works like https://github.com/kubernetes-sigs/controller-runtime/issues/857.

[2021-09-24 03:02] negz opened #2595 "Proposal: Add a `--max-reconcile-rate` flag to Crossplane and all providers"
### What problem are you facing?

In Crossplane managed resource controllers there's a fairly strong correlation between "reconcile rate" - the rate at which the controller reconciles desired state with actual state - and calls to an external API. I think it's safe to say that _most_ controllers make one API call per reconcile when they're in steady state - they `Observe` the external resource. Si

[2021-09-24 03:02] negz commented on #2477
Some ideas for improvements in https://github.com/crossplane/crossplane/issues/2595.

[2021-09-24 06:36] turkenh opened #2596 "Sizing guide for Control plane cluster"
### What problem are you facing?

Resource requirements of Crossplane and provider pods vary based on multiple factors:

- Number of managed resources
- Number of compositions
- Number of CRDs (i.e. providers) deployed
- Expected reconciliation time
- ...

While deploying crossplane and providers into a Kubernetes cluster, users need some guidance for sizing of the Kubernetes cluster (a.k.a. contr

[2021-09-24 07:06] negz commented on #2596
https://github.com/negz/crossplane-scale/blob/f4dad1a/package/xclusters.test.crossplane.io/composition.yaml

FWIW I've been using the above config for the scale testing. Happy to provide more detail once we know more, but I would generally expect Crossplane to work fine on "most Kubernetes clusters" - our controllers aren't crazy resource hungry though they do make quite a few API calls.

[2021-09-24 07:20] andrzej-natzka commented on #2596
I started crossplane validation and would like to test some configurations like getting started or platform-ref. Currently I use 3 node AKS cluster with D2s_v3 machines and I wonder if this is really needed. Might be that one node will be sufficient for this.

[2021-09-24 07:39] jesumyip commented on #280
I would similarly love to see support for mongodb atlas. I currently have a production API infrastructure that uses Tyk, which needs MongDB to work. I have gone ahead and provisioned an Atlas instance. My goal is to have my entire API infrastructure (Auth0, Tyk, Mongodb, redis, GAE) deployable within minutes using Crossplane.

[2021-09-24 19:53] negz opened #2600 "Document supported Kubernetes versions"
### What problem are you facing?

https://kubernetes.io/releases/

In practice we've historically aimed to support all Kubernetes versions that have not been declared EOL, but there's no way for users to know this.

### How could Crossplane help solve your problem?

Ideally we'd document this policy. Even more ideally we'd actually integration test it somehow.

[2021-09-24 21:18] negz commented on #1782
This KEP is relevant, worth watching - https://github.com/kubernetes/enhancements/pull/2840

[2021-09-25 06:27] negz opened #2603 "Malformed `crossplane.yaml` leads to misleading errors"
### What happened?

I was just trying to install a provider I had built, but found its revision was failing:

[code]

In my case I was actually running a branch with some refactoring to the revision reconciler, so I spent a good amount of time trying to figure out how I broke it. Turns out this is actually runtime scheme for "your YAML isn't valid". 😞 The real problem was that I was missing a `:`

[2021-09-25 06:28] negz commented on #2603
I feel like this was a known issue, but I couldn't find any existing issue referencing it. 🤔

[2021-09-26 11:12] Anubha13kumari commented on #2600
hi @negz  .first timer this side .i want to contribute on this issue  .

[2021-09-27 10:49] MisterMX commented on #2367
@hasheddan ok, so it wont be very useful for us.

Do you see any issue with ControllerConfigs being part of the package? That would be the solution we prefer right now.

[2021-09-27 16:03] mcbenjemaa commented on #2588
@negz Can you share your thoughts regarding this request?
and if applicable can you describe how the API should look like, from a Design perspective ?

If so, and I have a little time, I'd work on this issue.

[2021-09-29 10:09] cihangirbesiktas commented on #2219
This is still an issue as a provider is created for each version. I've upgraded provider-azure from version 0.15.0 to 0.17.0 and the result is having two providers for each version.
[code]

And two providers of the same type are figthing to control CRDs.

[code]

So deleting the old provider makes the CRDs to be deleted. And new provider never become healthy even if you delete the old provider.

[2021-09-29 11:06] eloo opened #2606 "Connection details are not propagated to secret"
### What happened?
Hi,

i was about to create a composition for s3 bucket and want to create connection details but the secret is every time empty.

If im going to let the MR create its connection details this secret is filled with the data as expected. But the composition or claim secret is still empty.

I've also tested a fixed value like this
[code]
but this is also not working.

So it seems li

[2021-09-29 11:17] eloo opened #2607 "Warnings are only logged in debug mode"
### What happened?
I'm currently working with crossplane and i have seen that the log output of crossplane is not sufficient without enabling debug mode (which should not be the case in prod).

Currently important warning are logged in debug level but are internal marked as Warning which seems to be not really consistent.

I would suggest to log Warning on Warn level as expected. This also applies

[2021-09-29 21:58] muvaf commented on #2219
@cihangirbesiktas Could you describe the steps you went through for updating to the new version?

[2021-09-30 07:24] turkenh opened #2608 "Conversion support for XRD versions?"
### What problem are you facing?

Crossplane allows you [to specify multiple versions in an XRD](https://github.com/crossplane/crossplane/pull/1884) but does not support providing a conversion strategy.

See the related discussion: https://github.com/crossplane/crossplane/discussions/2605

### How could Crossplane help solve your problem?

Consider adding support for a conversion strategy for XRD

[2021-09-30 08:40] cihangirbesiktas commented on #2219
I have updated the provider by changing the helm chart value.

[code]

[2021-09-30 09:36] muvaf commented on #2219
The usual update process is to change `spec.image` of the `Provider` object but it seems like Helm chart creates a new `Provider` object when a different version is chosen since it affects the [name of the resource](https://github.com/crossplane/crossplane/blob/master/internal/initializer/installer.go#L68).

@cihangirbesiktas could you try updating by changing `spec.image`?

[2021-09-30 09:41] muvaf opened #2609 "Cannot update providers during helm upgrade"
### What happened?

When you run `helm upgrade` with a different version of the same provider, it creates a new `Provider` object.

### How can we reproduce it?

Install provider via `helm install` of Crossplane, then run `helm upgrade` with another version.

### What environment did it happen in?
Crossplane version: 1.4.1

[2021-09-30 09:42] muvaf commented on #2219
@cihangirbesiktas opened https://github.com/crossplane/crossplane/issues/2609 regarding the Helm upgrade process.

[2021-09-30 14:47] MisterMX opened #2610 "Use K8schain in Crossplane CLI"
### What problem are you facing?

We use Crossplane's CLI in our CI pipeline to automatically build and push configuration packages from our composition files.

The package gets pushed into a private ECR repository. Our pipeline runs on an EKS cluster and gets it's credentials from an IAM web identity token file. Currently we use a combination of `aws` and `jq` in a shell script to generate a Dock

[2021-09-30 18:13] Feggah opened #2611 "Documentation about convert transform type outdated"
### What happened?
I was following the [documentation](https://crossplane.io/docs/v1.4/reference/composition.html) explaining about Transform Types.
![image](https://user-images.githubusercontent.com/11353912/135508262-6d3bf89f-4f5b-4b6f-b135-b59cf1aee34d.png)
When using the same snippet from the documentation, and error was raised during `kubectl apply`:
[code]

### How can we reproduce it?
Apply

[2021-09-30 18:16] Feggah commented on #2611
When searching in the source code I found these lines:
https://github.com/crossplane/crossplane/blob/8d1a4477d36c249e6a19e05d6f8966bca08a7e86/apis/apiextensions/v1/composition_transforms.go#L197-L201

I think the convert transform type was updated and the documentation became outdated. I changed my code to the snippet below and the `kubectl apply` was successful.
[code]

[2021-10-01 11:07] hasheddan commented on #2609
@muvaf this should be able to be solved by just changing how we name providers that are installed via the helm chart to not include tag. I can take this one 👍🏻

Note: we likely should not backport this as it would lead to folks upgrading on the same minor version (i.e. upgrading to a new patch) running into the duplicate package issue even when they have not changed the install version of their pa

[2021-10-01 11:11] hasheddan commented on #2603
@negz I would love to invest some time in refining our parser as it impacts both package build time and install time diagnostics. However, as you mention, we are just deferring everything to k8s runtime scheme today, which does have some benefits. One solution may be to continue to utilize type registration with the scheme, then only perform a second pass for detecting exact issue if the k8s machi

[2021-10-01 11:22] jesumyip opened #2612 "(moved to provider-gcp github; pls delete) - issue with spec.forProvider.addonsConfig.networkPolicyConfig when using provider-gcp"
Sorry sorry! Moved this to https://github.com/crossplane/provider-gcp/issues/382.

Can someone kindly help me delete this issue? My apologies again!

[2021-10-02 11:06] hasheddan commented on #2612
No worries -- Thanks @jesumyip !

[2021-10-02 11:06] #2612 closed

[2021-10-04 10:45] denist-huma commented on #2606
@eloo I am new to crossplane too and had the same question once.

Why do you expect to have ConnectionSecretKey: endpoint in a bucket? It has no such thing in its API.

Actually, that is no code exists at all to create a connection secret for a bucket here. https://github.com/crossplane/provider-aws/blob/5e832d622a5a7dec61808766650dd88a91a14a9b/pkg/controller/s3/bucket.go
I compared to the iamacce

[2021-10-04 11:05] denist-huma commented on #2606
Since my issue is like this with "connectionDetails.fromFieldPath", I add it to not create an additional one.

### What happened?

How to get back a real S3 bucket name in a secret?
After I have a first step forward with custom CompositeBucket, I am struggling to make work connectionDetails.fromFieldPath: "metadata.annotations['bucket-name']"
In my IAMAccessKey I got this annotation visible and po

[2021-10-04 11:47] eloo commented on #2606
@denist-huma
i'm expecting the bucketname as "endpoint" and the region because is the behaviour you will see when you create just a s3 bucket as managed resource.
so IMHO it would make sense to have the same for a composition.

further i see the same behaviour if i create a composition with a redis cluster..
and here i really really need that secret because the token is autogenerated

[2021-10-04 12:48] robertgates55 opened #2615 "writeConnectionSecretsToNamespace - ability to automatically set to XRC namespace"
Apologies if this is an obvious question, but I've been unable to find it in the docs.

I have an XRD defined for a composition that creates an RDS instance. The `XRC` is namespaced, and I'd like the resultant connection secret to write into the same namespace where the xrc originated.

Because of where the `patches` are applied though, I can't see at what level I should be doing this? Or whether

[2021-10-04 13:37] denist-huma commented on #2606
me too :+1:

[2021-10-04 17:14] robertgates55 commented on #2615
Aha - I just found that if you specify

[code]
On the `XRC` itself, the secret `dave` that gets created is in the same namespace.

That's awesome, and just what I needed, but probably wants some more documenting!

[2021-10-04 17:14] #2615 closed

[2021-10-05 08:01] eloo commented on #2606
finally i have managed to make my compositions working.
the ticket https://github.com/crossplane/crossplane/issues/2593 had the important information gathered.

in my case the issue was that i have missed to add the writeSecretToRef in every managed resource in the composition.
In general this feels like a bit overhead but at least its working for now.

[2021-10-05 09:03] denist-huma commented on #2606
@eloo please share your find.
And if add "spec.writeConnectionSecretToRef.namespace: crossplane-system", the bucket creation breaks, not even shoving errors, just an empty buckets list.
The AWS S3 bucket CRD has no spec.writeConnectionSecretToRef!?

[2021-10-05 09:18] eloo commented on #2606
@denist-huma
for the manage resource you need to use `writeConnectionSecretToRef` which is defined in the CRD here https://doc.crds.dev/github.com/crossplane/provider-aws/s3.aws.crossplane.io/Bucket/v1beta1@v0.19.1

so could look like this
[code]

[2021-10-05 12:28] denist-huma commented on #2606
thanks @eloo!
I got success too!
you can close this issue

[2021-10-07 10:04] luebken opened #2621 "Docs: Describe configurations"
### What problem are you facing?
[Configuration](https://doc.crds.dev/github.com/crossplane/crossplane/meta.pkg.crossplane.io/Configuration/v1@v1.4.1) is not described in the [concepts section](https://crossplane.io/docs/v1.4/concepts/overview.html) of the documentation only in the [getting started section](https://crossplane.io/docs/v1.4/getting-started/create-configuration.html).

### How could

[2021-10-07 19:13] marshmallory commented on #2000
@blut is correct for this being a workaround.  For our purposes, we did need to tweak the settings slightly since Composite was far too broad.  Also, we are on an older version: 1.7.10, so things look a little different.

This is the code we added to our project.yaml to restrict the resource:

`  clusterResourceBlacklist:
  - group: '*'
    kind: 'CompositeTelematicPattern*'`

[2021-10-11 19:54] negz commented on #2608
Thanks for raising this @turkenh - I didn't realise we didn't have an issue tracking it. As you pointed out, we deferred this for now because it seems like the only option would be to have folks write conversion webhooks (presumably in Go), which would somewhat defeat the "no code" nature of XRs. I think the first step here would be exploring what a declarative conversion strategy would look like.

[2021-10-11 19:56] negz commented on #2606
Thanks for helping each other folks! I'll close this.

[2021-10-11 19:56] #2606 closed

[2021-10-11 19:57] negz commented on #2606
Breadcrumbs for future readers: there is some troubleshooting docs for secrets at https://crossplane.github.io/docs/v1.4/reference/composition.html#composite-resource-connection-secrets.

[2021-10-12 01:25] kitkars opened #2624 "[FEATURE] - Provide the ability to extract value from Secret in PatchSet"
Hi Crossplane Team,

I have some data in a configMap/secret. Is there any way for me to access that information in my composition spec.
I was looking for a strategy in the PatchSet. I could not find an option in the Compositions [CRD](https://github.com/crossplane/crossplane/blob/b7ce021e32305e60ed920a48883c03b332e556e7/cluster/crds/apiextensions.crossplane.io_compositions.yaml).

I was thinking o

[2021-10-12 01:26] #2624 closed

[2021-10-13 00:41] hasheddan commented on #2609
@muvaf I believe the current behavior is creating a new version of the `Provider` if the `Provider` install version changes, not the Crossplane version. Today, if someone updates Crossplane to a new version, but keeps all the `Provider` install versions packaged with it the same, duplicates would _not_ be created. However, if we backported the change, if someone ran this exact same scenario, they

[2021-10-14 00:55] negz commented on #2621
https://crossplane.io/docs/v1.4/concepts/packages.html#configuration-packages
https://crossplane.io/docs/v1.4/concepts/terminology.html#configuration

It's not completely undocumented, but I agree we could use more. Are you thinking we should add a dedicated page under the 'Concepts' sidebar (like we have for 'Providers')?

[2021-10-14 00:56] negz commented on #2611
Thanks @Feggah! I don't suppose you're interested in fixing this? :) The docs are all under `docs/`.

[2021-10-15 01:47] #2579 closed

[2021-10-19 17:25] AaronME opened #2635 "Crossplane init-container cannot accept packages"
### What happened?
While installing crossplane from helm chart and including a configuration package the initContainer fails to accept the provided `--configuration` flag.

The initContainer looks like this:
[code]

InitContainer log output:
[code]

### How can we reproduce it?
1. Run `helm install crossplane crossplane-stable/crossplane --set 'configuration.packages[0]=registry.upbound.io/aaronme

[2021-10-19 19:48] #2635 closed, assigned to hasheddan

[2021-10-19 19:56] muvaf opened #2643 "Release Crossplane v1.5.0 on October 26, 2021"
### Steps

This issue can be closed when we have:

- [ ] Updated all version information in the documentation on the relevant release branch ([link][docs-update-pr]).
- [ ] Run the [Tag workflow][tag-workflow] on the relevant release branch with the proper release version ([link][tag]).
- [ ] Run the [CI workflow][ci-workflow] on the release branch and verified that the tagged build version exists

[2021-10-19 20:38] negz commented on #2568
I've updated https://github.com/crossplane/crossplane/pull/2602 with an implementation that gets us 'true' global rate limiting - i.e. `--max-reconcile-rate=10` (the default) caps the controller manager at about 10rps. Combined with https://github.com/crossplane/provider-gcp/pull/380 my testing (still using https://github.com/negz/crossplane-scale) shows:

* A single claim takes < 30 seconds to be

[2021-10-19 22:06] negz opened #2645 "XR and claim controllers make superfluous API server requests"
### What happened?

While investigating Crossplane performance in https://github.com/crossplane/crossplane/issues/2568 I noticed that the XR and claim controllers were making a surprising amount of calls to the API server.

<img width="1299" alt="rps" src="https://user-images.githubusercontent.com/1049349/137987458-788bc903-b17a-4b3d-b4f6-a607b1b99622.png">

The above graph is from a test in which

[2021-10-20 17:34] muvaf opened #2647 "Is it possible for package manager to use node image cache"
### What problem are you facing?

We're trying to make Crossplane provider installation work in an offline environment. While we can load the controller images into the node cache of `kind` cluster and use `IfNotExist` policy to make it use that, package manager has its own client that hits the registries. This results in a few things:
* Users have to deploy their own in-cluster registry.
* In-clu

[2021-10-20 20:17] #2336 closed

[2021-10-20 23:01] negz commented on #2596
FWIW I've found that once you're getting up to managing _a lot_ of claims and managed resources (i.e. thousands) the Crossplane and provider pods benefit from having around one CPU core and quite a lot of memory - around 1GB. This assumes very high concurrency (i.e. thousands of goroutines), which is not currently tunable but hopefully soon will be.

[2021-10-21 20:11] ulucinar opened #2649 "API Server (and clients) becomes unresponsive with too many CRDs"
### What problem are you facing?

As part of the ongoing [Terrajet-based] providers effort, we have observed that registering 100s of CRDs has some performance impacts on the cluster. Observations from two sets of experiments are described [here](https://github.com/crossplane-contrib/terrajet/issues/47#issuecomment-920316141) and [here](https://github.com/crossplane-contrib/terrajet/issues/47#issu

[2021-10-21 20:22] negz commented on #2649
Breadcrumbs for this possibly related issue: https://github.com/kubernetes/kubernetes/issues/101755

[2021-10-22 15:31] slimm609 opened #2652 "Crossplane ControllerConfig annotations being added to pod but not deployment"
### What happened?

according to the documentation, `Metadata that will be added to the provider Pod.` however in the ticket it says it should apply to both deployments as well as pods.
https://github.com/crossplane/crossplane/issues/2438

The annotations show on the pod but not the deployment.

### How can we reproduce it?

[code]
The annotation shows up on the pod but not the deployment.

### Wh

[2021-10-22 23:10] negz opened #2656 "Promote `CompositionRevision` to v1beta1"
### What problem are you facing?

Support for `CompositionRevision` was added at v1alpha1 in v1.4.0.
### How could Crossplane help solve your problem?

We need a plan to promote it to v1beta1, which may include accepting it as is, changing it, or dropping the feature. Community feedback would help here.

### Related issues

- [ ] https://github.com/crossplane/crossplane/issues/2762
- [ ] https://g

[2021-10-23 00:51] negz commented on #2649
@muvaf I'm not convinced the second part of what you've mentioned - users have to install more CRDs than they need - is a real problem. If there were no performance downsides would it have any other meaningful impacts?

Presumably the main downside would be 'clutter' in OpenAPI discovery and `kubectl get crds`, but that seems like a very minor concern. Especially since if we do start having folks

[2021-10-25 01:04] hasheddan opened #2661 "Cut v1.2.5 on October 25, 2021"
### Steps

This issue can be closed when we have:

- [x] Updated all version information in the documentation on the relevant release branch ([link][docs-update-pr]).
- [x] Run the [Tag workflow][tag-workflow] on the relevant release branch with the proper release version ([link][tag]).
- [x] Run the [CI workflow][ci-workflow] on the release branch and verified that the tagged build version exists

[2021-10-25 01:04] hasheddan opened #2662 "Cut v1.3.2 on October 25, 2021"
### Steps

This issue can be closed when we have:

- [x] Updated all version information in the documentation on the relevant release branch ([link][docs-update-pr]).
- [x] Run the [Tag workflow][tag-workflow] on the relevant release branch with the proper release version ([link][tag]).
- [x] Run the [CI workflow][ci-workflow] on the release branch and verified that the tagged build version exists

[2021-10-25 01:05] hasheddan opened #2663 "Cut v1.4.2 on October 25, 2021"
### Steps

This issue can be closed when we have:

- [x] Updated all version information in the documentation on the relevant release branch ([link][docs-update-pr]).
- [x] Run the [Tag workflow][tag-workflow] on the relevant release branch with the proper release version ([link][tag]).
- [x] Run the [CI workflow][ci-workflow] on the release branch and verified that the tagged build version exists

[2021-10-25 17:55] yshu2017 opened #2665 "When upgrading aws provider from v0.19.0 to v0.20.0, multiple providers are installed"
### What happened?

When upgrading aws provider from v0.19.0 to v0.20.0,  multiple providers are installed. Due to multiple aws-providers, resource creation is failing.

`kubectl get providers` generates the following results:

`NAME           INSTALLED  HEALTHY  PACKAGE `
`crossplane-provider-aws  True    False   crossplane/provider-aws:v0.20.0  3m33s`
`provider-aws       True    True   crossplan

[2021-10-26 00:51] hasheddan opened #2671 "[RFC] Provider Runtime Interface (PRI)"
### What problem are you facing?

Crossplane supports two types of packages: `Configurations` and `Providers`. In practice, both of these packages need only be a single `package.yaml` file in a tarball in the first layer of an OCI image that contains a [stream of YAML documents](https://yaml.org/spec/1.2.2/#92-streams). However, `Providers` are unique in that they also [point to another image](htt

[2021-10-26 01:44] #2661 closed, assigned to hasheddan

[2021-10-26 01:44] #2662 closed, assigned to hasheddan

[2021-10-26 01:45] #2663 closed, assigned to hasheddan

[2021-10-26 12:26] erikgb opened #2672 "Crossplane custom resources status should be compatible with kstatus"
### What problem are you facing?

We are attempting to provision crossplane custom resources (i.e. providers) with [FluxCD](https://fluxcd.io/), and seem to have issues enabling [health assessment](https://fluxcd.io/docs/components/kustomize/kustomization/#health-assessment) for crossplane custom resources. And it seems like the problem is related to the following requirement for custom resources:

[2021-10-27 03:39] negz opened #2677 "Hosted Crossplane docs links broken"
### What happened?

https://crossplane.github.io/docs/v1.5/getting-started/install-configure.html#start-with-a-hosted-crossplane

The 'create' and 'connect' links under the above heading both now return 404s.

### How can we reproduce it?

Click the links!

### What environment did it happen in?
Crossplane version: v1.5

[2021-10-27 20:04] #2677 closed, assigned to nobody

[2021-10-28 14:41] haarchri opened #2685 "problem with policy mergeOptions in composition"
we have a problem in composition to patch additional  label for matchLabels in subnetIdSelector for eks cluster

composition:
[code]

at the moment matchLables is overriden - no merge no additional add
[code]

expected:

[code]

any ideas ?

### What environment did it happen in?
Crossplane version: 1.4.1

[2021-10-29 09:09] #2685 closed, assigned to nobody

[2021-10-29 14:52] robertgates55 opened #2688 "Compositions - matchControllerRef: true in selector picks unexpected resource"
I'm trying to create a composition that creates an RDS cluster, plus a new kms key, isolated dbsubnet, db instances, etc.

What's the correct pattern to have the resources in a composition reference each other? Eg in the below, I create a kms key and a dbcluster. I want to ensure that the kms key created _by this composition_ is the one that's consumed by the dbcluster:
[code]

However, what actua

[2021-10-29 14:58] #2688 closed, assigned to nobody

[2021-10-29 21:17] negz commented on #2649
It seems like in https://github.com/kubernetes/kubectl/issues/1126 there's consensus that the rate limiting in `kubectl` will be removed and they'll instead defer to [APF](https://kubernetes.io/docs/concepts/cluster-administration/flow-control/). I believe this should alleviate the discovery rate limiting issue - we'd be subject to configurable server side request queueing instead.

I've raised ht

[2021-10-29 22:18] negz commented on #2649
### Executive summary:

* Rate limiting CRD installs doesn't reliably alleviate the problems we're seeing.
* Fixes are open for the problems we're seeing and _may_ be available as patch releases in ~1 month.
* I support breaking Terrajet into smaller providers rather than adding filtering support.

Sadly I'm feeling convinced that at the moment the only way to reliably avoid the API server and `ku

[2021-10-30 01:00] negz commented on #2649
Turns out at the time of writing the proposed kubectl fix (https://github.com/kubernetes/kubernetes/pull/105520) doesn't work, but I raised https://github.com/kubernetes/kubernetes/pull/106016 which does. Discovery time is reduced from 6 minutes to 15 seconds in my tests with ~2.000 CRDs.

[2021-10-30 12:05] muvaf commented on #2649
Findings are from before @negz posted and they are pretty similar, so you can skip to suggestions section.

---

### Findings

I ran some tests in `kind` cluster where the CPU and memory have hard limits to see the behavior. [This Grafana dashboard](https://snapshot.raintank.io/dashboard/snapshot/HDamUxs2qW3LAZjeDMTgwFydfgbilK6D) shows what happens when you create 750 CRDs with `1s` wait period. A

[2021-10-30 13:05] hasheddan commented on #2647
Wanted to follow up on a few assertions here:

This is one option, but certainly not the only one. The [Crossplane package cache](https://crossplane.io/docs/v1.5/concepts/packages.html#the-package-cache) can be backed by any volume, which means that it can be [pre-populated](https://crossplane.io/docs/v1.5/concepts/packages.html#pre-populating-the-package-cache). In our integration tests for all `

[2021-10-31 04:52] fire-ant commented on #2671
I like the idea of running a Provider per tenant workload where Crossplane is either:
- running in the CAPI mgmt plane
- Running as a dedicated cluster deployed by CAPI using KCP

this allows me to utilise a provider runtime with the specific remit of setting up predicates such as IAM/KMS/VPC as part of the tenant bootstrap process and also manage the separation of concerns with greater granularit

[2021-10-31 05:12] fire-ant commented on #2671
I should also say that the KCP is just a kubernetes-centric way of deploying the crossplane controllers and of course running in an alternative managed service which was transparent to the provider runtime would be ideal too (though it might be a little chicken/egg as to how that's managed lifecycle wise). As a candidate/target, KCP would have the advantage of being consistent across clouds and wo

[2021-10-31 19:38] muvaf commented on #2649
I have [tested](https://github.com/crossplane-contrib/provider-tf-aws/pull/127/commits/5e907597b584a41987eb093c253a69e378c2f4f3#diff-2960dea708e16d16821e2cbd47f3be21db8dcd4a9e313b01d9c01da3d1edce98) this idea. It downloads and checks for a GVK string existence in the JSON blob and that reliably reports whether all processing has been done for given CRD. You can follow the instructions [here](https

[2021-11-01 23:46] ulucinar commented on #2649
Here are some initial results from two sets of experiments performed on kind clusters running on a GCP `e2-standard-4` VM.

The first experiment does **not** include the [lazy marshaling PR](https://github.com/kubernetes/kube-openapi/pull/251) under consideration and is included here as a reference. Similar to our previous results reported [here](https://github.com/crossplane-contrib/terrajet/issu

[2021-11-02 15:48] eloo opened #2690 "MergeOption: appendSlice is overwriting instead of appending"
### What happened?

Hi all, i guess the mergeOption: appendSlice is broken.
Seems like the appendSlice is not respected and the tagset is overwritten.
Is this a known issue?
Thanks

### How can we reproduce it?
I have the following composition with patches

[code]

My claim has the following:
[code]

So the following would be expected result:
[code]

But i get the following:
[code]

### What envir

[2021-11-02 17:58] apelisse commented on #2649
That's really awesome. Quick question: there is a massive difference in the time it took for the CRD count to increase, is it because the CRDs applied much faster or is it something else? Is it a cause or a consequence? I'm not sure how to interpret this data.

[2021-11-03 00:50] negz commented on #2688
Sadly no - at least not at the `Composition` layer. It's been on our TODO list for a long time per https://github.com/crossplane/crossplane/issues/1476. We have all the schemas necessary to validate, but we need to write a webhook to do it.

[2021-11-03 07:50] robertgates55 commented on #2688
Cool - makes sense.

Relatedly, is there a preference on using this ...Selector.matchControllerRef pattern vs using the XRD ToCompositeFieldPath pattern (adding fields to the XRD to pass the dependent ARNs etc around?)

[2021-11-03 17:52] ulucinar commented on #2649
Hi @apelisse,
Thank you very much. In both experiments, a `kubectl create -f` is run on a directory containing `658` CRDs, with no "external" client-side throttling, excluding of course any client-side throttling that may be performed by the controller-runtime client itself. Perhaps the legend & the title in "CRD Count" graphs are a bit misleading. These are the graphs of the [`apiextensions_opena

[2021-11-03 19:07] ulucinar commented on #2649
We (@muvaf, @hasheddan and me) attended today’s sig-api-machinery meeting held at 11:00am PST to discuss whether it's possible to cherry-pick the [lazy marshaling PR](https://github.com/kubernetes/kube-openapi/pull/251) to active release branches.

So the general consensus is that the lazy marshaling PR is close to be merged after some remaining issues with the PR are addressed. But it looks like

[2021-11-04 08:09] arturobrzut opened #2691 "Crossplane uses default SA instead of Crossplane SA in same cases ( can not load Configuration image )"
### What happened?
Crossplane uses default SA instead of Crossplane SA in the same cases and can not load Configuration image in such case.
Crossplane can not load Configuration image from Configuration CR

### How can we reproduce it?
1. Deploy crossplane and configuration CR , everything should work (Service Account in crossplane pod is `crossplane`,  but
2. If we add non exists secret  to the s

[2021-11-05 10:54] hasheddan commented on #2691
Hi @arturobrzut, thanks for opening this issue! This is actually an intentional decision (albeit one we potentially should consider revisiting) as to decouple the traditional use of imagePullSecrets on an SA from pulling package images in Crossplane. Doing so means that if you don’t explicitly specify the credentials to use when pulling a private package, Crossplane will not silently use credentia

[2021-11-05 12:14] arturobrzut commented on #2691
For us, if this field will be configurable it will be enough good.

[2021-11-05 12:20] tobru commented on #2671
An idea could also be to use [vcluster](https://www.vcluster.com/) instances to run a Provider per tenant, but not having to spin up a full Kubernetes cluster.

[2021-11-05 15:02] RafalMaleska opened #2693 "composite status empty when using fromFieldPath: Required"
### What happened?

When creating 2 depended resources with one composition. Resource A provides a value for a patch into the status field (ex. status.resourceARN) of a composite and Resource B reads that value from the status field.

If setting for Resource B for that field:
[code]

The status of the composite is empty and cannot be patched from Resource A. The composite never fails or becomes re

[2021-11-05 15:03] mcbenjemaa opened #2694 "Denied permission when mounting dynamic volume to the cache on GKE"
### What happened?

I would like to use crossplane with multiple providers, which means that cache size will be increased.
I used a PVC on GKE to make crossplane save caches in a volume instead of in memory.

Using crossplane values to create a pvc

[code]

this will cause an issue, if you check the error in the pkgrev

[code]

### How can we reproduce it?

Deploy crossplane on GKE and use pvc tha

[2021-11-05 16:41] #2694 closed

[2021-11-05 19:43] erikgb commented on #2411
Disclaimer: I am quite new to Crossplane, so not aware of the inner details, but I just wanted to throw some comments and ideas on the table - from a Crossplane user perspective.

Faced with the issue of pulling provider credentials from Hashicorp Vault following [the docs](https://crossplane.io/docs/v1.5/guides/vault-injection.html), for multiple environments of the same type (same Provider, but

[2021-11-06 08:14] muvaf commented on #2411
@hasheddan FWIW, I don't think this has to be optional on provider level. Today, there is no way that you can make use of a provider without a `ProviderConfig` object anyway. So, for users, the only difference will be that they will see more `Deployment` objects which we can assess whether has some performance implications (I assume we'll need some event filtering based on `providerConfigRef.name`

[2021-11-06 12:37] erikgb commented on #2411
I agree with @muvaf that this could be the new default. If I have understood this correctly, it will only make a difference for users with more than one ProviderConfig for any Provider - and isn't that the use case we want to solve here?

To illustrate my idea, I will show an example on how I have to solve my use case with the current architecture, and how I as a user would like to see this in the

[2021-11-06 12:58] hasheddan commented on #2411
@erikgb thanks for adding your thoughts here! This issue is discussing specifically spinning up new controllers on each `ProviderConfig`, whereas configuring each of those controllers (which I believe we must support as the credentials use cases you describe are also called out as a motivation for this design in the original body) is a follow-on effect of the partitioning. To support this, I have

[2021-11-08 18:49] negz commented on #2649
Some important dates for getting our proposed fixes released. We have two fixes in flight:

https://github.com/kubernetes/kubernetes/pull/106181 - We hope to have this cherry-picked so that our users aren't required to update their API servers to Kubernetes v1.23 in order to install many CRDs.

https://github.com/kubernetes/kubernetes/pull/105520 (or https://github.com/kubernetes/kubernetes/pull/1

[2021-11-08 19:51] negz commented on #2649
@roycaihw just provided the following input on Kubernetes Slack, that may help us create more scoped cherry-pick PRs:

[2021-11-08 20:07] negz commented on #2649
The general consensus within the folks working on this (i.e. @ulucinar, @muvaf, @luebken, and myself) is that we're not likely to get these cherry-picked in time for the patch releases that will be released on Nov 17th:

* The PR that needs cherry-picking is not yet reviewed or merged (but is fairly uncontroversial).
* The deadline to get those cherry-picks merged is the 12th (this Friday).
* The