[2022-04-22 13:53] hasheddan commented on #3049
Hey @smileisak! Apologies for the delayed response here. Just to make sure I have full context, can you confirm that this only happens with `kubectl replace` and does not happen when a user performs a `kubectl delete` then a `kubectl replace`?

[2022-04-22 14:04] smileisak commented on #3049
@hasheddan yes it happens with just a `kubectl replace` without deleting the resource.

[2022-04-23 00:19] natereid72 commented on #2985
There is another edge case to this one (I think). It would be beneficial if we could create secrets from the values in Crossplane cluster MRs' connection secrets, in provisioned K8s clusters with provider-kubernetes. If we could patch from Secret the base64 encoded values, into a Secret manifest object, we could then enable pods running in the provisioned cluster to connect to databases that have

[2022-04-24 21:11] ArunRamakani opened #3052 "ProviderConfig should have Ready state with true/false"
If we try to compose helm or k8s provider config inside a composition, the XR/Claim does not move to Ready state as true even after all composed resources are created successfully.

I guess this is because the ProviderConfigs does not have a Ready flag.

It will be useful when we have a remote cluster created with XR/Claim and wanted to generate provider config for that remote cluster in the same

[2022-04-24 21:17] turkenh commented on #3052
You can use custom readinessChecks, please see https://github.com/crossplane-contrib/provider-helm/blob/176aa6812860e95712ea7aecd541a564bc839b14/examples/in-composition/composition.yaml#L166

[2022-04-25 00:08] ArunRamakani commented on #3052
Great @turkenh. Thanks for the quick help

[2022-04-25 00:08] #3052 closed

[2022-04-25 08:52] jbw976 commented on #3052
I see people running into this semi-frequently - i wonder if this is something we could address so that people don't have to run into this behavior then find the solution.

Is there a downside to having ProviderConfig just set Ready=True all the time?

[2022-04-25 11:03] ulucinar commented on #2869
In the context of #2122, we had previously considered extending the `Providers.pkg` API and correspondingly the `kubectl crossplane install provider` command to support selective installation of CRDs and selectively starting reconcilers (starting only reconcilers for the enabled CRDs) with the following PR (and a bunch of other related PRs in the provider repos):
https://github.com/crossplane/cros

[2022-04-25 15:33] Smana commented on #3010
Seems also be related to this issue https://github.com/crossplane/crossplane/issues/2072

[2022-04-25 22:03] negz opened #3054 "Move all providers to crossplane-contrib"
### What problem are you facing?

Under the recently merged [project charter](https://github.com/crossplane/crossplane/blob/6c1b06507db47801c7a1c7d91704783e8d13856f/CHARTER.md) extensions such as providers are no longer 'in scope' for Crossplane as a project. Per https://github.com/crossplane/crossplane/pull/3053 we'd like to keep https://github.com/crossplane scoped to things that fall under the

[2022-04-25 22:10] negz opened #3055 "Deprecate `kubectl crossplane`"
### What problem are you facing?

Under the recently merged [project charter](https://github.com/crossplane/crossplane/blob/6c1b06507db47801c7a1c7d91704783e8d13856f/CHARTER.md) CLI tooling is no longer 'in scope' for Crossplane as a project. We do however currently have a small `kubectl crossplane` extension (aka "crank).

The extension is really just a convenience wrapper. It can:

* Install Cros

[2022-04-26 02:01] vishnujanardhanan opened #3056 "Certificate based auth for azure service principals"
As of now we have a secret based auth for azure service principals. May i know whether there is a future plan to introduce a certificate based auth for azure sp's please?

secret based sp creation:
az ad sp create-for-rbac --sdk-auth --role Owner > "creds.json"

cert based sp creation:
az ad sp create-for-rbac -n crossplanesp --keyvault basekv --cert spcert --create-cert --role Owner --scopes ....

[2022-04-26 05:26] ArunRamakani opened #3057 "Support patch from Kubernetes secrets"
### What problem are you facing?

Secrets created in one XR are required in another XR. Allow patching of secrets in the compositions.

Nested XR is not an option as we need to have segregation of concerns between XR as a design option.

### How could Crossplane help solve your problem?

Core Kubernetes APIs already have this pattern. For example, Pod specification can refer to a secret for the en

[2022-04-26 12:22] Feggah commented on #3055
How should we `docker build` `Configuration` packages?

The providers already have Dockerfiles and some helpful `make` commands to build it, but for `Configurations` we don't have it. Do we just need to `COPY` all YAML manifests (XRDs and Compositions) into the container?

[2022-04-26 12:50] Feggah commented on #3051
Hey @mikkel1156, thanks for raising this issue!

I installed the Provider in my machine and then I `kubectl describe pkgrev` to see what problem is happening to the provider installation. This Warning appeared:
[code]

So I tried to see your repository to understand how the provider image was created. I saw that you used for the [controller `image` value](https://gitlab.zerosrealm.xyz/zerosrealm/c

[2022-04-26 13:12] ezgidemirel commented on #2882
Hello @lsoica, I tried to reproduce the issue with Crossplane 1.7.0, but couldn't be successful. The update I made on the claim propagated to the managed resource and to the cloud provider. Could you please give it another try with the latest version and/or share your composition/definition/claim manifests with me? Thanks!

[2022-04-26 14:54] MisterMX commented on #3055
I agree that `kubectl crossplane install` is not necessary if you can just use `kubectl apply -f` to do exactly the same.

However, `kubectl crossplane build package` is not equivalent to `docker build`. The former construct an OCI image with a single layer that contains a single YAML file without any dependencies while the latter requires a Dockerfile and a daemon running the build command. Addit

[2022-04-26 14:56] MisterMX commented on #3057
Duplicate of #2099

[2022-04-26 14:58] MisterMX commented on #3054
Will the docker images be moved as well?

Currently, all provider images, regardless if in `crossplane` or `crossplane-contrib` have the tag `crossplane/...`

[2022-04-26 18:08] #3057 closed

[2022-04-26 18:16] negz commented on #2772
Continuing on my speculation from a previous comment, I could imagine tackling this by updating Crossplane such that all connection details were written to status. Something like:

[code]

If we included sensitive keys this could help make make it a little more obvious what connection details exist. On the other hand it leaks information (e.g. that a username and password even exist). It would als

[2022-04-26 18:18] negz commented on #3054
@MisterMX They'll stay the same (`crossplane/provider-*`) for the foreseeable future, I believe.

[2022-04-26 18:56] negz commented on #3037
Crossplane (or more specifically, a Crossplane provider) adds the `crossplane.io/external-create-pending` annotation to managed resources right before it attempts to create their corresponding external resource. It then adds another annotation - either `crossplane.io/external-create-failed` or `crossplane.io/external-create-succeeded` once the creation is observed to have succeeded or failed. Unfo

[2022-04-26 20:47] gresco commented on #2773
I am also curious about the sitrep here in consideration to a project at my work that would benefit from this being fixed.

[2022-04-27 02:56] shu-ming opened #3058 "Can we pass the logger to the lifecycle functions?"
### What problem are you facing?
I'm building a custom provider with Crossplane. I want to emit error logs when something gets wrong in the lifecycle functions, e.g. the api calls to external cloud always get errors in **Observe** due to the external cloud downtime. Currently all these kind of errors would be written into the log by the reconciler only when we set the log level to debug. But the l

[2022-04-27 06:47] MisterMX commented on #3055
Yes, you could use `podman` to build OCI images, but it is still not as convenient as `kubectl crossplane build package`. Especially, because the latter builds the image exactly the way it is expected by the Crossplane controller.

Its a tools that works quite well. I think it would make things worse for the user if it is dropped.

[2022-04-27 08:40] Feggah commented on #3055
I agree with @MisterMX. I think Crossplane CLI is really useful to simplify building packages. In my own experience, the crucial here is the `Configuration`, because the `Provider` is easily built with the `Makefiles` in each provider repository.

In my opinion the best option here is the "Grandfather crank into the scope of the project and just leave it as is"

[2022-04-27 14:45] Smana commented on #3010
Following a conversation on Slack we applied the following changes that allowed us to fix the issue:
* upgraded to the provider-aws version v0.26.1
* changed the providerconfig as follows:
[code]

[2022-04-28 00:03] jessesuen commented on #2773
Hi @negz. Sorry for the late reply. We use crossplane at Akuity and so I fully understand and appreciate the pain point. I can be that point of contact for you.

I think the biggest issue with crossplane + Argo CD is the XRC -> XR relationship, or rather the lack thereof. Argo believes the XRs need to be pruned because the XRs had carried over the resource tracking label Argo CD put on the XRC.

A

[2022-04-28 13:24] ytsarev opened #3059 "Enhance `multiply` of transform `math` type with support of `float64`"
### What problem are you facing?

Currently  `multiply` of transform `math` type is limited to work with `int` and `int64` only.

If we try the constructs like

[code]

we will encounter patching failure of
[code]

In other words, `multiply` does not work with decimals on both sides of the equation: both inputs and multiplication factors are required to be integer only.

It is seriously limiting i

[2022-04-28 23:28] negz commented on #3059
I'm all for this, but one constraint we'll see is that API conventions require (or strongly recommend) us to not actually use floats in our API due to some serialization issues. I imagine it would probably be fine as long as we were _converting_ something (e.g. a string) to a float though.

https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#p

[2022-04-29 08:10] negz commented on #3058
https://github.com/crossplane/crossplane/blob/master/docs/contributing/observability_developer_guide.md may be of interest.

Typically we recommend that logs are only emitted for debugging purposes, and not for 'production' use. Instead we recommend emitting Kubernetes events, which 'regular users' (i.e. folks who may not have access to the provider pod logs) can see. If Observe for example hits a

[2022-04-29 08:14] negz commented on #3037
I don't think we currently have any logic to handle graceful shutdowns in providers, but yes I agree that would be a good idea.

[2022-04-29 09:07] negz commented on #3001
I've been testing a prototype based on user namespaces and noticed that Docker's default seccomp profile actually denies the `unshare` syscall (i.e. prevents us from creating a new user namespace). Kubernetes doesn't have this restriction though.

https://docs.docker.com/engine/security/seccomp/#significant-syscalls-blocked-by-the-default-profile

[2022-04-29 16:28] natereid72 commented on #2439
To add additional consensus. If you delete a resource that created an AWS load balancer (e.g. release), and an EKS cluster at the same time, if the order of those two resources aren't deleted correctly, the load balancer becomes stuck and the VPC can't be deleted until you go into the aws console and manually delete the lb.

[2022-04-29 17:36] bobh66 commented on #2439
What @natereid72 said.  We hang LBs in AWS all of the time and it's a pain.

Another scenario is documented here https://github.com/crossplane-contrib/provider-terraform/issues/47 - I have a Composition that creates a VPC via provider-aws and then does some configuration of the VPC via provider-terraform, since the AWS provider doesn't support the fine-grained configuration that is required.  On d

[2022-04-29 21:44] negz commented on #3058
I'm going to close this one in the hope that I've answered your question. 🙂 https://github.com/crossplane/crossplane/discussions would be a good place to continue the discussion if needed.

[2022-04-29 21:44] #3058 closed

[2022-04-30 02:54] natereid72 opened #3066 "Lifecycle Hooks"
### What problem are you facing?

I've searched the open issues and see a number of 'ordered create/delete' requests. But I don't find this case, apologies in advance if it is being tracked already.

There are cases with provider-kubernetes and provider-helm where we create a resource that is a sort of 'create outside of managed resource; mode. For example, if we create a k8s job via provider-kube

[2022-04-30 08:45] #2958 closed

[2022-05-01 11:41] sergenyalcin opened #3067 "Implementing helm-based reference XRM function"
After our sync meeting on 19 April with @negz , we determined some action items for the Custom Compositions task. One of them is the providing a helm-based reference function.

One of the main goals of the Custom Compositions' alpha version is preparing 1-2 advanced XRM functions. So we will work to implement a XRM reference function. By using the provided function (image), we believe that, the us

[2022-05-01 11:41] sergenyalcin commented on #3067
About this issue there is an example KRM function in KPT function catalog: https://catalog.kpt.dev/render-helm-chart/v0.1/

I reviewed implementation of this function to understand the design because I thought that, integrating the same approach to our XRM reference function can be an option. (For discovering the render function of KPT catalog period, we also discussed the details and possible opt

[2022-05-02 05:38] negz commented on #3067
Agreed.

Can you expand on what you mean here by "elements"? Are you suggesting the input `ResourceList.items` be used as the Helm chart templates? Or the values.yaml? (Or both?)

This is definitely the approach I was imagining we'd take. I think if we build this function as a small wrapper around the `helm` (Helm 3) CLI tool we don't even need to pull and untar the chart - Helm will do it for us.

[2022-05-02 05:49] negz commented on #3067
Another option we might consider is building this as a tool that bakes the Helm chart into the function - so instead of a generic `render-helm-chart` function each person would use a tool to build a `render-my-specific-helm-chart` function.

I'm on the fence about whether this would be a better or worse experience. I'm expecting folks will need to write a bespoke Helm chart that takes an instance

[2022-05-02 09:10] jbw976 commented on #2564
This is still occurring for some folks (see #3061) - we should reconsider the hard-coded timeout value and expose it as a configurable value.

[2022-05-02 11:51] anilnokia opened #3068 "How to deploy K8 cluster on Baremetals."
I am able to use crossplane for GCP. I am also interested in using crossplane to deploy kubernetes cluster on baremetal systems OR on-prem servers. How can I do that? What are the choices of software which I can easily install and start using crossplane to create K8 cluster on on-prem servers. Thanks,

[2022-05-02 20:38] negz commented on #3068
Hi @anilnokia, since this is more of a question I recommend opening a discussion under https://github.com/crossplane/crossplane/discussions.

The quick answer though is that Crossplane would need a provider to handle the bare-metal provisioning, for example an Openstack provider. Unfortunately I'm not aware of any such provider that exists today (there's a request for an OpenStack provider at http

[2022-05-02 20:38] #3068 closed

[2022-05-02 20:43] negz commented on #3066
I can't immediately find any issues, but we've had some discussion in the past about Crossplane deleting things that it didn't directly created - the quintessential example is deleting all the objects in an S3 bucket. Crossplane created the bucket, but didn't create the objects in it. Crossplane can't delete the bucket until the objects are deleted first. We've historically been wary of allowing C

[2022-05-02 20:44] negz commented on #3066
@natereid72 Do you think these hooks would fit best at the MR level, or at the XR level?

[2022-05-02 21:58] natereid72 commented on #3066
@negz

In this case, I am creating a database on an RDS instance that isn't open to the network my Crossplane is running on. So am running K8s job with mysql client to create DBs from K8s cluster running on network attached to RDS instance. So provider-sql wasn't best option. In that case, I'd want a hook to run the inverse job. Alternatively, could use jet provider for Lambda function, but would

[2022-05-03 08:26] negz commented on #2770
It sounds like you might be using Crossplane without claims and XRs, which is not a use case we support per [the recently added charter](https://github.com/crossplane/crossplane/blob/master/CHARTER.md). I don't see us supporting namespaced managed resources without a major overhaul (i.e. going to at least v2 of our APIs). As @MisterMX suggested I think the best approach if you need stronger isolat

[2022-05-03 08:26] #2770 closed

[2022-05-03 22:10] noyoshi commented on #2882
I think the issue was that updating the composition didn't update all the resources using that composition within the cloud provider? Not that updating a claim updates the resources in the cloud provider. I have hit this case where it sometimes works and sometimes doesn't, although with my case its the azure-terrajet provider.

[2022-05-04 15:56] anilnokia opened #3069 "Deploy K8 cluster and a workload on it"
I can create a gke cluster using Crossplane. But How can I deploy cluster and workload on the created cluster using same manifest?

Thanks,

[2022-05-04 16:01] ytsarev commented on #3069
@anilnokia if I understood the context correctly you can potentially use https://github.com/crossplane-contrib/provider-kubernetes

[2022-05-04 17:42] anilnokia commented on #3069
Do you have any example manifest to use provider-kubernetes?

[2022-05-05 09:54] ytsarev commented on #3069
@anilnokia I will close this issue if you don't mind.

Let's continue at https://github.com/crossplane/crossplane/discussions/ if you have any additional questions.

[2022-05-05 09:54] #3069 closed

[2022-05-05 11:33] anilnokia commented on #3069
Yes please.

Thanks

From: Yury Tsarev ***@***.***>
Sent: Thursday, May 5, 2022 5:55 AM
To: crossplane/crossplane ***@***.***>
Cc: Rana, Anil (Nokia - US/Murray Hill) ***@***.***>; Mention ***@***.***>
Subject: Re: [crossplane/crossplane] Deploy K8 cluster and a workload on it (Issue #3069)

@anilnokia<https://github.com/anilnokia> I will close this issue if you don't mind.

Let's continue at http

[2022-05-05 12:18] kertzi opened #3070 "Proposal: Ability to add spec parameters to composition/claim connection secret"
It would be nice to have possibility to pass composition/claim spec parameter value to composite's connection secret.

Example use case:
We have defined parameter in XRD which value we want to end up to claim's connection secret. Because it's useful for infra "consumer" to have all needed details in one place.

Currently we do this with little hack where we just pick one resource in composition an

[2022-05-05 17:49] bobh66 opened #3071 "Crossplane pod crashes when debug is enabled"
### What happened?
The crossplane pod crashes when debug is enabled because there are log.Debug statements that have the wrong number of arguments:

[code]

### How can we reproduce it?
I'm not entirely sure what triggered it as I was running with debug enabled for weeks before it started crashing

### What environment did it happen in?
Crossplane version: 1.7

I'll push a PR that fixes the loggin

[2022-05-05 18:02] negz commented on #3071
Huh. I wonder why no one else has reported this. It definitely sounds like one of the log statements is broken - perhaps its a less commonly used one?

[2022-05-05 18:30] #3071 closed

[2022-05-05 18:32] negz commented on #2890
We haven't quite hit July, but a quick check-in:

* Crossplane 1.7 had some notable features - e.g. webhook support and external secret store support.
* Composition Functions was due for 1.8 but has slipped, so we only have a few (one?) smaller contributions.

I'm still in support of releasing less frequently to help avoid these relatively empty releases.

[2022-05-05 20:15] negz opened #3075 "Cut v1.6.6 on May 5, 2022"
This issue can be closed when we have completed the following steps (in order).
Please ensure all artifacts (PRs, workflow runs, Tweets, etc) are linked from
this issue for posterity. Refer to this [prior release issue][release-1.7] for
examples of each step.

- [x] Updated all version information in the documentation on the relevant release branch.
- [x] Run the [Tag workflow][tag-workflow] on th

[2022-05-05 20:16] negz opened #3076 "Cut v1.7.1 on May 5, 2022"
This issue can be closed when we have completed the following steps (in order).
Please ensure all artifacts (PRs, workflow runs, Tweets, etc) are linked from
this issue for posterity. Refer to this [prior release issue][release-1.7] for
examples of each step.

- [x] Updated all version information in the documentation on the relevant release branch.
- [x] Run the [Tag workflow][tag-workflow] on th

[2022-05-05 20:16] negz commented on #3076
Releasing to address this panic bug - https://github.com/crossplane/crossplane/issues/3071

[2022-05-05 20:16] negz commented on #3075
Releasing to address this panic bug - https://github.com/crossplane/crossplane/issues/3071

[2022-05-05 20:34] negz commented on #2885
I believe provider-template was updated. I'm going to dedupe this issue into #2595. Thanks @chlunde!

[2022-05-05 20:34] #2885 closed

[2022-05-05 20:42] negz commented on #2595
I think Terrajet has mostly been updated to follow the pattern this issue tracks.

https://github.com/crossplane-contrib/provider-jet-template/blob/704868/cmd/provider/main.go#L56
https://github.com/crossplane/terrajet/blob/4f9db8/pkg/pipeline/templates/controller.go.tmpl#L53

I do notice provider-jet-template has no `--poll-interval` flag (or `--poll`) flag but rather a fixed interval. It also us

[2022-05-05 20:44] negz commented on #3075
https://github.com/crossplane/crossplane/runs/6313420319?check_suite_focus=true

[2022-05-05 20:44] negz commented on #3076
https://github.com/crossplane/crossplane/runs/6313422602?check_suite_focus=true

[2022-05-05 20:46] negz commented on #3076
https://github.com/crossplane/crossplane/actions/runs/2278172062

[2022-05-05 20:47] negz commented on #3075
https://github.com/crossplane/crossplane/actions/runs/2278172659

[2022-05-06 00:24] negz commented on #3075
I need to fix the tag above - we merged a fix for the build pipeline after I tagged so artifacts are being built with `1.6.6-N.hash` style tags.

[2022-05-06 00:24] negz commented on #3075
I need to fix the tag above - we merged a fix for the build pipeline after I tagged so artifacts are being built with `1.7.1-N.hash` style tags.

[2022-05-06 00:26] negz commented on #3075
New tag run: https://github.com/crossplane/crossplane/actions/runs/2279005429
New CI run: https://github.com/crossplane/crossplane/actions/runs/2279007453

[2022-05-06 00:27] negz commented on #3076
I need to fix the tag above - we merged a fix for the build pipeline after I tagged so artifacts are being built with 1.7.1-N.hash style tags.

[2022-05-06 00:28] negz commented on #3076
New tag run: https://github.com/crossplane/crossplane/actions/runs/2279010509
New CI run: https://github.com/crossplane/crossplane/actions/runs/2279013085

[2022-05-06 00:49] negz commented on #3075
Configs run: https://github.com/crossplane/crossplane/actions/runs/2279078614

[2022-05-06 00:49] negz commented on #3076
Configs run: https://github.com/crossplane/crossplane/actions/runs/2279078928

[2022-05-09 14:03] AvineshTripathi commented on #2863
Hello, @muvaf I learned about this issue through the lfx mentorship programme and find it fascinating, though I'm having trouble understanding a few terminologies in the description (I'm new to this project, so...) Would you mind sharing some additional resources that can help me clarify my concepts on what providers are, what changes are considered as breaking changes, the tools, and the workflow

[2022-05-09 18:09] natereid72 commented on #2929
perhaps `propagateConnectionDetailsTo` as an option, with a list of providerConfigs that can be patched in. There is benefit to having the. secret in the Crossplane cluster and in other clusters. Rather than either/or. I think we can achieve this with Vault and then consuming from Crossplane and other cluster, but is much more complex of a setup.

[2022-05-09 18:28] Alt-Shivam commented on #2913
Hey, @jbw976, @hasheddan
Discovered this project through the LFX mentorship program and found it interesting and totally meets my tech stack.
and I am interested to work on this project. So to get familiar with this issue, could you please share some resources or topics that I should study first. also If you could assign me some tasks to perform, I would really appreciate that.
Thanks.

[2022-05-09 18:32] Alt-Shivam commented on #2913
Meanwhile,
I'm starting with understanding the code-base and having a look at some issues.

[2022-05-09 23:00] #3075 closed

[2022-05-09 23:00] #3076 closed

[2022-05-10 06:24] jbw976 commented on #2913
Good questions @Alt-Shivam, thank you for your interest in this issue! 💪

It's a great idea to research and understand the problem space better, but please do remember to officially apply on the [LFX Mentorship site](https://mentorship.lfx.linuxfoundation.org/project/c6e63427-09d9-42e5-b2af-c9c66e57881a).  We want to give everyone a fair chance to apply and be selected before any work starts 😅

He

[2022-05-10 19:44] iAnomaly commented on #2417
@mf-lit Thanks for creating this issue and #2253. I've now gone down the rabbit hole trying to get things working and also using `Queue`. I'm going to document the journey here and hopefully clarify for others and maybe even provide an explanation for what you are seeing.

### What environment did it happen in?
Crossplane version: 1.7.0
AWS provider: 0.26.0
Kubernetes version: 1.22 (EKS)

First, i

[2022-05-10 21:25] negz commented on #3054
Note to my future self (or whoever takes this) - we'll need to make sure the repos still have access to all the GH secrets they need to build and publish once they're under the new org. I'm pretty sure all those secrets exist at the crossplane-contrib GH org level and we'll just need to give the new repos permission to consume them.

[2022-05-10 21:53] bobh66 opened #3084 "Add lifecycle configuration to ControllerConfig"
### What problem are you facing?
provider-terraform needs to be able to gracefully shutdown any running terraform commands when before the pod is terminated.  This is needed to avoid locks being left behind on Lease objects in the kubernetes back end.

One way to do this would be to use the pod lifecycle configruation to define a preStop hook that sends a HUP signal to all running terraform proces

[2022-05-11 10:26] muvaf commented on #2863
Hi @AvineshTripathi !

Thank you for your interest. I can definitely give some pointers but please do not start any design/work for this issue before being accepted for the project through [LFX Mentorship](https://mentorship.lfx.linuxfoundation.org/project/06fe8a5b-c3b9-4d12-975f-19f5ec49d006) program. This issue is reserved for that program and we would like to give a fair chance to everyone appl

[2022-05-11 11:02] muvaf commented on #3054
@negz I'd actually propose that we have a `crossplane-contrib` org in DockerHub for these images. It'd be helping with differentiation laid out in the charter and also be easier to discover the source repo from the image and vice versa.

[2022-05-11 14:35] sbdtu5498 commented on #2863
Hi @muvaf, thanks a lot for the shared resources. I am Sanskar Bhushan, an aspiring software developer with polyglot programming experience interested in working with organizations that endorse open-source philosophy. I am currently involved with pgRouting, an OSGeo community project, and aspire to become a contributor in Crossplane. As mentioned earlier, I am deeply interested in working with org

[2022-05-13 12:38] smileisak commented on #3023
As discussed with @hasheddan the issue is present in GKE when node image type is `cos` or `cos_containerd`. So I'll reopen this issue to be able to track it with Google Support Team.

[2022-05-13 12:39] smileisak commented on #3023
@mcbenjemaa could you please reopen this issue ?

[2022-05-13 23:21] garreeoke opened #3086 "Connection Details FromFieldPath type not working"
### What happened?
Trying to set connection details from a composed resource's status and put it in to the connection secret.  However, no values are written.

### How can we reproduce it?

- Find a valid status field in a managed resource. In my case it was status.arn.
- Use that resource in a composition and attempt to put that data in the connection secret

**XRD**
[code]

**Composition**
[code

[2022-05-13 23:24] garreeoke commented on #3086
Looking at the code, seems this won't work the conn object passed to extractFieldPathValue is not a point so I don't think it will retain the value given in that function and appears if the length of the conn object is 0 it is returned w/o error.

[2022-05-14 07:48] edith007 commented on #2913
Hi @jbw976 @hasheddan 👋🏻
 I am really interested in working on this project. And have started exploring cross plane project and trying to fix bugs. 🙇🏻

[2022-05-14 07:49] edith007 commented on #3059
Hi @ytsarev! 👋🏻
I would like to work on this issue. 🙇🏻 🙏🏻

[2022-05-14 10:05] ytsarev commented on #3059
Hi @edith007 , that sounds great! I've assigned you to this issue. Please let me know if I can help with your work :)

[2022-05-16 16:29] garreeoke commented on #3086
Deleted the XRD and Composition and it seems to work now. Closing.

[2022-05-16 16:29] #3086 closed

[2022-05-17 05:10] AvineshTripathi commented on #2863
Hey @muvaf I have applied for the LFX mentorship and have submitted the cover letter and resume, I just wanted to confirm if you have recieved properly as in my task board I see 2 resume and 2 cover letter task.

Also thank you for the pointers, after taking an overview I am really excited to learn all these concepts and use it to build the tool

[2022-05-17 06:56] jbw976 opened #3088 "Cut v1.8.0 Release on May 17, 2022"
This issue can be closed when we have completed the following steps (in order).
Please ensure all artifacts (PRs, workflow runs, Tweets, etc) are linked from
this issue for posterity. Refer to this [prior release issue][release-1.7] for
examples of each step.

- [x] Release new version of crossplane-runtime
    * https://github.com/crossplane/crossplane-runtime/releases/tag/v0.16.0
- [x] Create an

[2022-05-17 08:37] smileisak commented on #3023
Forget my last comment, it is not related to the image type. Therefore, I think that I found the root cause of the issue.
To fetch images from Artifact Registry Crossplane is using [go-containerregistry](https://github.com/google/go-containerregistry) k8schain like described bellow: https://github.com/crossplane/crossplane/blob/6b82113f952ddfd15a4fc43a945742bba45d4471/internal/xpkg/fetch.go#L119-L

[2022-05-17 09:56] muvaf commented on #2863
@AvineshTripathi I see two cover letters and two resumes submitted but they seem to be just duplicates. So, you're all fine 🙂 For queries related to the program specifically, like this one, you can contact the folks at LFX as they'd be more helpful knowledgeable about the program than me 🙂

[2022-05-18 09:50] jbw976 commented on #3088
Release v1.8.0 is completed and all relevant artifacts are linked in the checklist above! 💪

[2022-05-18 09:50] #3088 closed

[2022-05-18 13:22] kiote commented on #3028
Hello, I'd like to work on this issue.

[2022-05-19 11:15] kiote commented on #3028
Hi @jessesuen, do you have any ideas on how it should work with more complex cases, than in your example?

Atm I see that I can start with something very simple like regex returns one match, this match goes to the resulting string unchanged.

In this case, we don't even need `group`, and can keep this type of interface:

[code]

or even

[code]
I personally like the second option more, because the

[2022-05-19 12:49] sannaroby opened #3095 "Kinesis Data Firehose support"
### What problem are you facing?
We need to use a Kinesis Data Firehose delivery stream

### How could Crossplane help solve your problem?
Add Crossplane Managed Resources for Kinesis Data Firehose delivery stream

[2022-05-19 22:50] adrienzieba opened #3096 "Proposal: Ability to use combine in ConnectionDetails"
### What problem are you facing?
In composition, it can happen that connectionDetails give you information in a format that is not the one expected. For example, when we create a AWS Access Key, we get the username (Access ID) and the password (Access secret) as 2 key in the secrets.
if we want to create a secret containing only the aws-creds (combining id+secret) we need a manual step taking this

[2022-05-19 23:19] bobh66 commented on #2439
It seems like this issue could be mitigated by allowing the composition to arrange for owner dependencies between resources within the composition and setting blockOwnerDeletion along with the use of the "forward" cascade policy for delete.  That would potentially allow the user to control the order of resource deletion within the Composition without any changes in Crossplane.

I attempted to see

[2022-05-21 06:34] Ruhika1417 commented on #2863
Hello @muvaf! I'm interested in contributing to this Project. It matches my tech stack. I'm also, going through the resources you've suggested to Avinesh. I'll be submitting the prerequisite tasks on the LFX site by tomorrow. Thanks :)

[2022-05-21 14:09] haarchri commented on #3095
Can you move this to provider-aws repo ?

[2022-05-22 12:44] shreemaan-abhishek opened #3097 "Multiple occurrences of `No such file or directory` when running `make reviewable`"
### What happened?

I ran `make reviewable` as [suggested](https://github.com/crossplane/crossplane/pull/3087#issuecomment-1128236532) by @haarchri. Then I got this error:

[code]

So I manually created the `go-junit-report` directory.  I re-ran the `make reviewable` command, then I realised that it should have been a file because I got an error:

[code]

So I deleted the `go-junit-report` directo

[2022-05-22 13:06] shreemaan-abhishek commented on #2863
Hey @muvaf, I'm interested in working on this LFX project. I would love it if you could help me resolve a few doubts:

Are you talking about CRD generators that reflect changes made to golang code for YAML structs?

After reading the issue I think what we are aiming for is a GitHub bot that would act like a YAML parser and perhaps apply those manifests using automation with kubectl and report brea

[2022-05-22 13:07] shreemaan-abhishek commented on #2863
The "reporting breaking changes" part is very interesting, I'm trying to figure out on what basis can we conclude that a certain change in CRD would mean a breaking change. 😊

[2022-05-22 21:29] bobh66 commented on #3097
Did you run "make" by itself after running git clone?  That should set up the build environment so that everything else works.

See https://github.com/crossplane/crossplane/blob/master/CONTRIBUTING.md#establishing-a-development-environment

[2022-05-23 01:21] kzap commented on #2524
Could I add my 2 cents here, and with the current draft you will end up making Crossplane turing complete at what cost? Every templating tool that has introduced constructs like this has had it misused and set some poor standards which make it harder for the eco system to stay simple and easy to use.

Please dont recreate DAGs or functions in YAML. That's already been done.

[2022-05-23 12:53] sumit-158 commented on #3059
Hi, @edith007 are you still working on it? If no, can I take it!

[2022-05-23 16:38] #3023 closed

[2022-05-23 17:51] smileisak commented on #2780
This Issue should be resolved by updating the go-contrainerregistry package as described in this MR #3098
The `github.com/opencontainers/image-spec` is updated to version `1.0.3`.

[2022-05-24 02:25] thejosephstevens commented on #2524
Hey all! We've started using Compositions as a key component for our cell-based architecture and there's a few things we're running into that I don't see simple solutions to today:
1. One common pattern we run into is that because we deploy resources into customer accounts, our access is restricted, and sets of resources can't be provisioned by us due to permissions constraints (e.g. IAM users, po

[2022-05-24 03:17] edith007 commented on #3059
Hi @sumit-158! 👋🏻 Actually, I am still working on this issue. 🙇🏻

[2022-05-24 11:29] sumit-158 commented on #3059
Great!

[2022-05-24 16:05] ChrisJBurns opened #3100 "Flux Crossplane Provider"
### What problem are you facing?
Currently, when we provision a new managed cluster (AKS, EKS, GKE etc), when the cluster has been provisioned and can verify it is up and running, we have to manually install Flux onto the cluster.

### How could Crossplane help solve your problem?
There are some hacky solutions using [`crossplane-terraform`](https://github.com/junaid18183/flux_crossplane_package),

[2022-05-25 03:09] shreemaan-abhishek commented on #3097
@bobh66 , no I had not run `make` before you told me to do so. So I ran `make` and then ran `make reviewable`, but I still get the error:

[code]

[2022-05-25 07:52] stevendborrelli opened #3102 "Invalid Package version causes XP to panic"
### What happened?

Crossplane panics when trying to log about a lock issue:
[code]

Crossplane had recently been upgraded from 1.6.x to 1.7.0.
There was a single lock on the system that existed before XP was upgraded.

[code]

### How can we reproduce it?

Possibly upgrade Crossplane with a package lock that does not include a value version.

### What environment did it happen in?
Crossplane vers

[2022-05-25 11:15] MisterMX commented on #3055
@negz I would suggest to move crank into `crossplane-contrib/crossplane-cli` to give the community the opportunity to fix bugs or extend it if needed.

This would require moving all source files from `internal/` to `pkg/` because go does not allow importing internal packages.

[2022-05-25 13:59] hasheddan commented on #3102
Fix and patch release incoming 👍🏻

[2022-05-25 16:05] gberche-orange commented on #3086
Had the same symptom: an update to the connection details from the composition had no effect with crossplane 1.6.4. Once I restarted the crossplane pods, the XR secret go updated as requested by the composition

[2022-05-25 17:40] stevendborrelli commented on #3102
Thanks @hasheddan!

[2022-05-25 17:44] #3102 closed

[2022-05-25 19:32] hasheddan opened #3107 "Cut v1.8.1 Release on May 26, 2022"
This issue can be closed when we have completed the following steps (in order).
Please ensure all artifacts (PRs, workflow runs, Tweets, etc) are linked from
this issue for posterity. Refer to this [prior release issue][release-1.7] for
examples of each step.

- [x] Updated all version information in the documentation on the relevant release branch.
- [x] Run the [Tag workflow][tag-workflow] on th

[2022-05-25 19:32] hasheddan opened #3108 "Cut v1.7.2 Release on May 26, 2022"
This issue can be closed when we have completed the following steps (in order).
Please ensure all artifacts (PRs, workflow runs, Tweets, etc) are linked from
this issue for posterity. Refer to this [prior release issue][release-1.7] for
examples of each step.

- [ ] Updated all version information in the documentation on the relevant release branch.
- [ ] Run the [Tag workflow][tag-workflow] on th

[2022-05-25 19:33] hasheddan opened #3109 "Cut v1.6.7 Release on May 26, 2022"
This issue can be closed when we have completed the following steps (in order).
Please ensure all artifacts (PRs, workflow runs, Tweets, etc) are linked from
this issue for posterity. Refer to this [prior release issue][release-1.7] for
examples of each step.

- [x] Updated all version information in the documentation on the relevant release branch.
- [x] Run the [Tag workflow][tag-workflow] on th

[2022-05-26 07:02] haarchri commented on #3100
you can use flux2 helm-chart
https://github.com/fluxcd-community/helm-charts/tree/main/charts/flux2
and flux2-sync helm-chart
https://github.com/fluxcd-community/helm-charts/tree/main/charts/flux2-sync

with provider-helm

[2022-05-26 07:05] haarchri commented on #3100
here is also an idea to implement with compositions: https://github.com/upbound/platform-ref-aws/pull/60

[2022-05-26 20:05] negz commented on #3097
@shreemaan-abhishek Try clean your make environment and start over. So `make distclean && make && make reviewable`.

[2022-05-26 20:06] negz commented on #3054
I'm going to start this now.

[2022-05-26 21:14] hasheddan commented on #3109
Tag Run: https://github.com/crossplane/crossplane/actions/runs/2393168192

[2022-05-26 21:15] hasheddan commented on #3108
Tag Run: https://github.com/crossplane/crossplane/actions/runs/2393174302

[2022-05-26 21:16] hasheddan commented on #3107
Tag Run: https://github.com/crossplane/crossplane/actions/runs/2393177159

[2022-05-26 21:18] hasheddan commented on #3109
CI Run: https://github.com/crossplane/crossplane/actions/runs/2393185282

[2022-05-26 21:18] hasheddan commented on #3108
CI Run: https://github.com/crossplane/crossplane/actions/runs/2393186496

[2022-05-26 21:19] hasheddan commented on #3107
CI Run: https://github.com/crossplane/crossplane/actions/runs/2393188009

[2022-05-26 21:19] hasheddan commented on #3109
Configurations Run: https://github.com/crossplane/crossplane/actions/runs/2393190489

[2022-05-26 21:20] hasheddan commented on #3108
Configurations Run: https://github.com/crossplane/crossplane/actions/runs/2393190991

[2022-05-26 21:20] hasheddan commented on #3107
Configurations Run: https://github.com/crossplane/crossplane/actions/runs/2393191632

[2022-05-26 21:28] hasheddan commented on #3108
Release Branch: https://releases.crossplane.io/build/release-1.7/v1.7.2/

[2022-05-26 21:29] hasheddan commented on #3109
Release Branch: https://releases.crossplane.io/build/release-1.6/v1.6.7/

[2022-05-26 21:31] hasheddan commented on #3108
Promote Workflow: https://github.com/crossplane/crossplane/actions/runs/2393237585

[2022-05-26 21:35] hasheddan commented on #3107
Release Branch: https://releases.crossplane.io/build/release-1.8/v1.8.1/

[2022-05-26 21:35] hasheddan commented on #3107
Promote Workflow: https://github.com/crossplane/crossplane/actions/runs/2393258905

[2022-05-26 21:37] hasheddan commented on #3107
Release: https://github.com/crossplane/crossplane/releases/tag/v1.8.1

[2022-05-26 21:37] hasheddan commented on #3108
Release: https://github.com/crossplane/crossplane/releases/tag/v1.7.2

[2022-05-26 21:37] hasheddan commented on #3109
Release: https://github.com/crossplane/crossplane/releases/tag/v1.6.7

[2022-05-26 21:44] hasheddan commented on #3109
Release is live!

[2022-05-26 21:44] #3109 closed

[2022-05-26 21:44] hasheddan commented on #3108
Release is live!

[2022-05-26 21:44] hasheddan commented on #3107
Release is live!

[2022-05-26 21:44] #3107 closed

[2022-05-27 00:13] negz opened #3113 "Partial composition revision propagation"
### What happened?

We have code in `internal/controller/apiextensions/composition/revision.go` that syncs a Composition with a Composition Revision. I believe we've extended the Composition API type a few times but forgot to update this file to propagate the code. We need to audit it to ensure everything is being copied across.

[2022-05-27 01:04] negz commented on #3054
This process is proving to be dramatically more painful than I expected, due to the need to rename the Go modules and update all the imports. Currently working on provider-aws, which is blocked on https://github.com/aws-controllers-k8s/code-generator/pull/338.

[2022-05-27 11:29] ChrisJBurns commented on #2772
This would help me in my case also.

Currently, I want to be able to share values between composition resources, and currently some values are output into a connection secret, which I cannot access in another managed resource.

So in my case, I have a terraform resource, and inside it I use the `tls` terraform provider to generate a `public_key` and `private_key`.

[code]
The `public_key` is fine

[2022-05-27 14:55] shu-ming commented on #3058
understood. I raise this as the events are not persistent. Now all the k8s events get persistent for one month on cloud. I can look back these events for trouble shooting.

[2022-05-27 16:34] bitgandtter opened #3114 "rbac pod keep restarting"
### What happened?
Upgrade to the latest crossplane version 1.8.1 and rbac pod keeps restarting causing other providers not to get access to CRDs, I tried to roll back to old versions of crossplane with no luck. Below some logs from:

 the terrajet MongoDB atlas provider
`
2022-05-27T13:43:16.613Z	ERROR	controller-runtime.manager	error received after stop sequence was engaged	{"error": "failed to

[2022-05-27 17:17] haarchri opened #3115 "[1.6.6] upgrade configuration package - cannot resolve package dependencies: missing dependencies"
### What happened?
durin upgrade package(in `Configuration`) from v1.65.0 to version v1.67.0 composition updates we get the following error in configurationrevision:
`cannot resolve package dependencies: missing dependencies`

[code]

[code]

in pkgrev we can see that all providers installed and active:

[code]

configuration.yaml
[code]

for now we changed to

[code]

### How can we reproduce it?

[2022-05-27 17:22] haarchri commented on #3115
@hasheddan  perhaps related to ? https://github.com/crossplane/crossplane/pull/3103

[2022-05-27 19:37] #3054 closed

[2022-05-27 22:06] hasheddan commented on #3115
@haarchri possibly, if so you should see panics in the logs — were you able to observe any?

[2022-05-28 03:28] shanproofpoint commented on #2712
I also would like this as well. creating an entire composition violates DRY.  I understand conditionals can get out of hand... but is there anyway we can limit it to just what was originally proposed here ?  This feature I am surprised cross plane does not support. I also understand your arguments for avoiding compositions to devolve into a full fledged DSL.  It is so critical for example if a gcp

[2022-05-28 15:31] shreemaan-abhishek commented on #3097
@negz Still the same error 😬

[code]

[2022-05-30 13:20] ytsarev commented on #3097
@shreemaan-abhishek what is the output of `make submodules` ?

[2022-05-30 20:52] turkenh commented on #1922
I was about to create a new issue titled "Deploy time parameters for configuration packages" with the same arguments and found this issue.
@marcinc explained the reasoning pretty well and I have a slightly different point. Instead of calling these as `global parameters`, I would prefer to say `deploy time parameters` which are known at configuration package deploy time by platform operators and no

[2022-05-30 21:42] bobh66 commented on #2772
A workaround for this was discussed in https://github.com/crossplane-contrib/provider-kubernetes/issues/41 where you can use managementPolicy: Observe in the kubernetes provider to "import" a Secret and copy any data you need from the Secret, even using the FromBase64 / ToBase64 transforms as needed to manipulate the data,

It's definitely not ideal to have to observe a Secret that contains the co

[2022-05-31 10:20] Ruhika1417 commented on #3059
Hi @edith007. Are you still working on this? I'd like to take this up otherwise. Thanks.

[2022-05-31 16:46] ChrisJBurns opened #3117 "Getting error with maxReconcileRate flag not found"
### What happened?
Upgraded my Crossplane version to use the `maxReconcileRate` but it turns out, the flag isn't found when the init container starts.

### How can we reproduce it?
Install Crossplane with Flux like so and watch it blow (at least in my case)
[code]

![image](https://user-images.githubusercontent.com/29541485/171229060-b50d8c5e-b8e2-475e-a26e-7705db89dfc7.png)

### What environment

[2022-05-31 19:30] edith007 commented on #3059
Hi @Ruhika1417! I am still working on this issue.

[2022-06-01 14:58] luebken opened #3118 "Docs: Document ProviderConfigUsage"
### What problem are you facing?

With ProviderConfigUsage [e.g. in AWS](https://doc.crds.dev/github.com/crossplane/provider-aws/aws.crossplane.io/ProviderConfigUsage/v1beta1@v0.13.0) we have a CR that indicates that a resource is using a ProviderConfig. This type is not documented and it's unclear to the user what the purpose of that resource is and how to work with it.

### How could Crossplane

[2022-06-02 07:17] ym-Arcadia opened #3119 "Can you add Kind:TransitGatewayRouteTableAssociation in group ec2.aws.crossplane.io"
Able to create all the required resources except route table association using provider-aws, later I installed and configured provider-jet-aws to achieve it. So I feel its good to have in group ec2.aws.crossplane.io also. Thanks

[2022-06-02 12:25] ytsarev commented on #2931
@ccremer somehow I missed this Issue and created #3059. There is work going on there and I will close this one with the reference. Thanks a lot for spotting it before.

[2022-06-02 12:25] #2931 closed

[2022-06-02 12:25] ytsarev commented on #3059
Also reported in https://github.com/crossplane/crossplane/issues/2931

[2022-06-02 12:40] MisterMX opened #3120 "Allow deterministic Composite Resource Names"
### What problem are you facing?

Crossplane composite resource names are generated by the kube API server through setting `generatedName` to `<claim-name>-`. The server will append a random string as suffix to make the object's name unique:

https://github.com/crossplane/crossplane/blob/master/internal/controller/apiextensions/claim/configurator.go#L134

[code]

Because of this randomness, creati

[2022-06-02 17:28] tbmetcalfe opened #3121 "External resources: unable to delete when required field removed from CRD but not from the corresponding required list."
This is somewhere between a bug and a feature request.

### What happened?
While developing an external resource, I accidentally updated its CompositeResourceDefinition where a field was deleted but was not removed from the required list. I made this update while a resource still existed.

Before CRD:
[code]

After CRD:
[code]

Since then this resource cannot be deleted, it simply hangs. When I tr

[2022-06-02 21:52] negz commented on #3120
I have a vague recollection that we did used to include the claim namespace at some point, but moved away from that. Perhaps because the resulting XR names were being truncated?

[2022-06-02 23:55] negz commented on #3084
Cross-linking to https://github.com/crossplane/crossplane/issues/2468

[2022-06-02 23:56] negz commented on #3030
Cross-linking to https://github.com/crossplane/crossplane/issues/2468

[2022-06-02 23:57] negz commented on #2647
Cross-linking to https://github.com/crossplane/crossplane/issues/2468

[2022-06-02 23:57] negz commented on #3010
Cross-linking to https://github.com/crossplane/crossplane/issues/2468

[2022-06-02 23:57] negz commented on #2652
Cross-linking to https://github.com/crossplane/crossplane/issues/2468

[2022-06-02 23:59] negz commented on #2367
Cross-linking to https://github.com/crossplane/crossplane/issues/2468

[2022-06-03 07:38] renescheepers opened #3123 "CompositeResourceDefinition shouldn't just blindly propagate annotations"
### What happened?
Currently we use a [deploy-tool](https://github.com/Shopify/krane) that prunes all resources that have a certain label in combination with annotation `kubectl.kubernetes.io/last-applied-configuration` when you are applying manifests. When using this tool to deploy CompositeResourceDefinitions this causes issues, because the CRD's both will have copied over all annotations and la

[2022-06-03 09:21] morningspace commented on #2439
As a general option, I'm thinking if k8s provider could help somehow in this case, given that something running inside k8s cluster is responsible for the CRUD of the actual remote resource, either directly or indirectly, e.g.: certain provider w/ its custom resource as the remote representation of some service on public cloud. We could create a special type of `Object` w/ [`ObserveDelete` policy](

[2022-06-03 10:25] ytsarev commented on #3123
@renescheepers could you show associated Composition?

[2022-06-03 10:49] renescheepers commented on #3123
In the sample I gave there isn't a Composition I combine it with. Just to show that the two CRD's(claim, XRD) get the same annotations. I have no issues with the compositions themselves.

[2022-06-03 10:55] ytsarev commented on #3123
@renescheepers my assumption was that something inside in Composition is actually copying the annotations over.

[2022-06-03 12:04] renescheepers commented on #3123
Correct me if I'm wrong, but I think this [code](https://github.com/crossplane/crossplane/blob/181f4ba67ee9e5a5d3dbc6c723a0993f301ed044/internal/xcrd/crd.go#L138) is responsible for that.

[2022-06-03 12:13] ytsarev commented on #3123
@renescheepers Ah, now I get this problem, sorry, was thinking that we are talking about metadata propagation down to MRs.

@negz looks like the above-mentioned metadata copy is part of the current design. Do you remember why? Should we change it?

[2022-06-03 16:50] bobh66 commented on #2439
The dependency of the Object on the Cluster is rather straightforward other than the fact that there are multiple implementations of a Cluster.  In the AWS case, there is the Cluster.eks object and associated connection Secret which need to stay in existence until all of the dependent Objects/Releases/Workspaces are finished using the K8S API.   There are equivalent dependencies in GCP, Azure, etc

[2022-06-03 20:20] negz commented on #3123
I don't. Changing it seems reasonable.

[2022-06-07 19:19] haarchri commented on #3119
@jbw976 can you move to provider-aws ?

[2022-06-07 19:25] haarchri commented on #3117
was implemented with https://github.com/crossplane/crossplane/pull/3039 for initContainer

[2022-06-07 20:56] jbw976 commented on #3119
I don't seem to be able to transfer this issue to https://github.com/crossplane-contrib/provider-aws, possibly because it's in a different organization? The Github UI for transferring seems different recently and it may now be missing this functionality.

https://github.com/github-community/community/discussions/5766

@ym-Arcadia would you mind closing this issue and reopening in https://github.co

[2022-06-08 06:44] muvaf commented on #2915
See https://github.com/crossplane/crossplane/pull/2930 for context.

[2022-06-08 06:44] #2915 closed

[2022-06-08 09:54] #3119 closed

[2022-06-08 11:18] muvaf opened #3128 "External name annotation when there is no identifier"
### What problem are you facing?

There are resources such as [IAM Role Attachment](https://github.com/crossplane-contrib/provider-aws/blob/aef7ee3/pkg/controller/iam/rolepolicyattachment/controller.go#L100) where there is no specific identifier that we can use as external name. The parameters make up the final identifier. Another example could be the AWS [`Route`](https://github.com/crossplane-co

[2022-06-08 20:57] jwjs36987 opened #3130 "NewCompositionRevisionTransform SIGSEGV on string TrimPrefix transform"
### What happened?
When using a string transform of TrimPrefix the crossplane manager hits a SIGSEGV

[code]

### How can we reproduce it?

Launch crossplane with composition revisions enabled and create a composition which includes the following patch on a resource:

[code]

### What environment did it happen in?
Crossplane version:  v1.7.1, v1.7.2, v1.8.1
With composition revisions enabled.
Runn

[2022-06-08 20:58] jwjs36987 commented on #3130
I think the issue is with https://github.com/crossplane/crossplane/blob/9715681117c17dead1e189969e717094cb899383/internal/controller/apiextensions/composition/revision.go#L164

which assumes that any string transform is a format transform

[2022-06-08 21:56] #3123 closed

[2022-06-09 13:23] TheLastProject opened #3131 "[Documentation] Azure setup documentation is incorrect"
### What happened?
I tried to set up Azure following the documentation but got the following error message:
[code]

### How can we reproduce it?
Run the command written in https://github.com/crossplane/crossplane/blob/master/docs/getting-started/install-configure.md?plain=1#L441:

[code]

### What environment did it happen in?
Crossplane version: https://crossplane.io/docs/master/getting-started/i

[2022-06-09 15:38] hasheddan commented on #3115
@haarchri sounds good -- let me know if you are able to 👍🏻

[2022-06-10 09:51] renescheepers opened #3133 "Broken named links on crossplane.io"
### What happened?
Some links are broken on https://crossplane.io/docs/v1.8/concepts/managed-resources.html#backup-and-restore and https://crossplane.io/docs/master/concepts/managed-resources.html#backup-and-restore.

<img width="949" alt="image" src="https://user-images.githubusercontent.com/38879286/173039968-f500db5d-2862-4873-99bf-29e647087330.png">

### How can we reproduce it?
Go to that pag

[2022-06-10 10:44] #3133 closed

[2022-06-10 12:50] ytsarev commented on #3059
@Ruhika1417 @sumit-158 still want to chime in? :)

[2022-06-10 13:08] Ruhika1417 commented on #3059
Yes, @ytsarev. Please assign it to me.
Thanks!

[2022-06-13 22:36] cdloh opened #3139 "ToCompositeFieldPath not updating status on XRD when used in a PatchSet"
### What happened?

When attempting to patch back onto the status fields of XRD using `ToCompositeFieldPath` and a `PatchSet` the fields are not updated or set. If you create a `Patch` directly inline it works.

I thought it may have been due to the policy I have set but removing the Optional doesn't change any of the results.

In the below XRD and Composition I expect the `status.atProvider.arn`

[2022-06-14 00:55] negz commented on #3130
Yeah, I think this is the same issue as https://github.com/crossplane/crossplane/issues/3113. Thank you for the report!

[2022-06-14 00:57] bobh66 commented on #3139
This can be caused by an error that happens during reconciliation.  Did you try running the crossplane controller with debug enabled and review the logs?

[2022-06-14 01:34] negz commented on #3118
I believe this was originally implemented in https://github.com/crossplane/crossplane-runtime/pull/206.

While I don't disagree that it should be documented somewhere, `ProviderConfigUsage` something end users are expected to need to be aware of or really think about. You can think of them as similar to finalizers - they exist to prevent a `ProviderConfig` from being deleted until all the managed

[2022-06-14 08:02] jwjs36987 commented on #3113
As part of fixing this would it be possible for crossplane to log an error if they are out of sync/it hits something it doesn't recognize? It took quite a while to work out what was happening (see #3130)

[2022-06-14 09:11] dorroddorrod opened #3140 "Provision OpenShift cluster"
Hi all,
Is there a way to provision an OpenShift cluster using Crossplane ?

[2022-06-14 11:09] cdloh commented on #3139
Nothing in the logs that suggest it is erroring.

[code]

[2022-06-14 14:01] luebken commented on #3118
I would argue if it's there, it should be documented. I think especially Platform Builders would appreciate a brief explanation like the one above.

What if we expand
// A ProviderConfigUsage indicates that a resource is using a ProviderConfig.
to
// A ProviderConfigUsage indicates that a resource is using a ProviderConfig. They are similar to finalizers - they exist to prevent a ProviderConfig fr

[2022-06-15 06:45] jbw976 commented on #3139
Thanks for providing all of this debugging and repro information @cdloh, and for narrowing down the Crossplane version (1.5.x) where the potential regression may be.

One thing to try out here is that I notice the status values are being patched via a `PatchSet`: https://gist.github.com/cdloh/38b56570b41f038df8054d8b6e5077fb#file-s3-composition-yaml-L297-L308

Does the same behavior happen if you

[2022-06-15 15:23] MisterMX commented on #3120
Some more thoughts:

* It might be necessary to have different composite names for different XRDs. In this case the configuration would need to be part of the XRD spec instead of a CLI argument.
* Users might have the need for a more complex name generation per claim. This could be solved by providing the user a mini go template mechanism (similar to helm).

Proposal:

Add a new field `spec.compos

[2022-06-17 10:36] Naresh240 opened #3145 "Unable to connect to Azure from crossplane"
Please check below link to understand my issue:
(https://github.com/crossplane-contrib/provider-azure/issues/342)

[2022-06-19 19:53] nvzard commented on #1977
Hey, want to contribute, and can pick this up?

[2022-06-19 23:08] jtreuting opened #3146 "Composition patch using spec.writeConnectionSecretToRef.name resolves to incorrect value"
### What happened?

I have a Composition where I am doing a patch and trying to use the spec.writeConnectionSecretToRef.name to set a secret reference on a resource within the Composition.  Instead of getting the value that I am setting in my Claim, it is returning a UID instead.

### How can we reproduce it?

Here are the files that I am using:

XRD:

[code]

Composition:

[code]

Claim:

[code]

[2022-06-21 01:43] jbw976 commented on #2279
Building, installing, running a local build with `make` and `kind.sh` works great for me now on my new M1 laptop.  I suspect a lot has been figured out in the ecosystem (e.g. a new version of kind) since this issue was opened.  Closing now since I think the mainline scenario is OK now!

[2022-06-21 01:43] #2279 closed

[2022-06-21 01:54] jbw976 opened #3149 "kind.sh helm-upgrade doesn't always update the local cluster install"
### What happened?

I was playing around with the local dev steps in https://github.com/crossplane/crossplane/blob/master/CONTRIBUTING.md#establishing-a-development-environment on my new Mac M1 laptop now and almost everything works great.

Except for using `kind.sh helm-upgrade` to update my local installation with new changes while I'm iterating.  It appears to work OK the first time, but subseq

[2022-06-21 20:50] negz commented on #3120
Can you elaborate on the problems caused by having a randomly generated XR name? Are you concerned about the actual external names of your resulting managed resources or something else?

I think of claim -> XR as somewhat like deployment -> pod. When create a deployment multiple times the pods will also get different names.

[2022-06-22 05:32] negz commented on #2869
@ulucinar regarding https://github.com/crossplane/crossplane/issues/2869#issuecomment-1108422111, I recall we had some technical concerns with this implementation, but I unfortunately can't find them written down anywhere.

One issue was how we'd handle cross-resource-references. For example you enable API group A and disable API group B, but API group A can reference API group B. I believe in htt

[2022-06-22 05:54] negz commented on #2849
FWIW I'm seeing this while trying to install the big three jet providers. I have successfully installed the previews of provider-jet-gcp and provider-get-azure installed and am trying to install provider-jet-aws. I'm up to ~1,600 CRDs in the system and seeing:

[code]

In my case I've just set CPU to `1000m` but haven't yet tried tweaking the `--max-reconcile-rate`. I figured it wouldn't help much

[2022-06-22 05:57] negz commented on #2849
https://github.com/crossplane/crossplane/blob/release-1.8/internal/controller/pkg/revision/reconciler.go#L54

Noting that this means PackageRevision reconciles are taking more than 3 minutes to complete - presumably in this case the delay is installing the massive amount of CRDs that come with provider-jet-aws.

[code]

[2022-06-22 06:07] negz commented on #2895
Despite the excellent one-pager having been merged, I'm going to reopen this as a place to continue the conversation around these performance issues.

[2022-06-22 06:15] negz commented on #2895
I'm actually having trouble replicating the client-side issues at the moment. 🤔 I believe I'm using a client with 50 qps / 300 burst per https://github.com/kubernetes/kubernetes/blob/release-1.23/staging/src/k8s.io/kubectl/pkg/cmd/cmd.go#L92. I have ~1,600 CRDs and ~350 API versions but with a cold cache my VM seems to complete discovery within about a second. 🤔

[code]

I'm running the test on a

[2022-06-22 08:07] MisterMX commented on #3120
Yes, the problem is that multiple creations of the same claim with the same name leads to different resources being created.

This leads to two main issues causing lot of headache for use:

1. Migrating resource from one cluster to another is currently very clumsy. If you miss a little detail you end up with the another database being created instead of reusing the old.
2. Connecting resources fro

[2022-06-22 15:34] MisterMX opened #3150 "Transform: Support mapping to arbitrary JSON values"
### What problem are you facing?

Similar to #2887, #2698 and #2588.

Currently, Crossplane's map transform does only allow mapping to string values. It should support any kind of valid JSON / YAML which includes strings, numbers, boolean, objects and arrays.

### How could Crossplane help solve your problem?

Instead of a `map[string]string` it should map to a `map[string]extv1.JSON` where [JSON]

[2022-06-22 17:26] carpenterm commented on #2869
I just started looking at Crossplane and came across this issue as was suddenly experiencing throttling and wanted to cut down the number of CRDs to just those I want to use. It's great that the Crossplane team have been focusing on fixing performance issues upstream, thank you for those efforts. I feel those issues were important to fix for scenarios where people genuinely have 1000s of CRDs they

[2022-06-22 17:58] negz commented on #2869
I think perception of this problem is being exacerbated by the client-side rate limiting, which is an eminently fixable problem. The latest releases of kubectl are configured to burst to 300rps during discovery, which in [some initial tests](https://github.com/crossplane/crossplane/issues/2895#issuecomment-1162688419) indicate discovery of ~1,600 CRDs can complete in about a second. This makes sen

[2022-06-23 01:04] negz commented on #3113
@jwjs36987 I'd rather detect this at build time than runtime - it should be possible to detect the schemas being out of sync.

[2022-06-23 01:06] negz commented on #3140
I'm not aware of any provider that targets OpenShift at the moment. Is there an API Crossplane could call to provision OpenShift clusters?

[2022-06-23 01:06] negz commented on #3130
Going to close this as a duplicate of #3113.

[2022-06-23 01:06] #3130 closed

[2022-06-23 10:27] carpenterm commented on #2869
Thanks for the update on the performance work. This doesn't address the other issues around user experience, general bloat or highly regulated environments though. Not having the ability to choose the APIs a provider like Terrajet installs is going to result in extra work building custom providers for folks who care about this stuff or simply don't have a choice (e.g. https://github.com/crossplane

[2022-06-23 12:08] ttreptow commented on #3055
Having the `xpkg` package be importable would be nice to have for incorporating into custom tooling as well.

In the meantime, the terrajet project template has a [Makefile](https://github.com/crossplane-contrib/provider-jet-template/blob/main/cluster/images/provider-jet-template/Makefile) for building a provider image.

It could also be done in a multi-stage dockerfile:
[code]

[2022-06-23 20:32] negz commented on #2869
I'd love to hear more detailed experience reports from folks in these highly regulated environments. What is it that the security teams are assessing about these CRDs? What do reviews look like? Are they doing code and/or schema audits of Crossplane providers, or is it more simple - "we want folks to be allowed to use S3 but not RDS" for example?

[2022-06-23 20:38] tnthornton commented on #2895
I've run the test on my M1 Mac on home wifi with a gigabit connection. Below were my results:
[code]

[2022-06-23 20:55] negz commented on #2895
@tnthornton very strange - your setup is almost identical to mine, but your test looks like it took 18 seconds to my 1. Only possible differences I can spot are different kubectl versions, and the fact that I'm running from a Linux VM rather than macOS.

[2022-06-23 20:58] jastang commented on #2895
@negz Results with same kubeconfig on different client version (with burst + QPS):
[code]

Speedtest:
[code]

[2022-06-23 21:12] jbw976 commented on #2895
Looks like mine took about ~15 seconds:

[code]

My speedtest numbers form google:
[code]

[2022-06-23 21:32] negz commented on #2895
For historical context, all the folks posting results here are testing against the same EKS server I used.

We're definitely noticing a trend of the slowdown being on MacOS. I ran my original test above in qemu. I was running a NixOS guest with an M1 Mac host. If I repeat the test on Linux I'm still seeing it complete in around a second, but on Mac I see it take 12-18 seconds:

[code]

[2022-06-23 21:55] turkenh commented on #2895
From Turkey, on a Mac with `kubectl` `v1.23.3`:

[code]

---
Update `kubectl` to `v1.24.2`

[code]

[2022-06-23 23:22] negz commented on #2849
Cross-referencing https://github.com/crossplane/crossplane/issues/2564, which planes to make the deadline configurable.

[2022-06-23 23:27] negz commented on #2564
Let's make the context deadline configurable via a flag and also bump the default up a little - maybe to 5 mins for now? Ideally we'd avoid having configurable deadlines for only only a subset of reconcilers so maybe we can set one value for all of them? That said I could be convinced that package revisions are a special case.

We might also consider bumping the default Crossplane deployment's CPU

[2022-06-24 00:21] natereid72 commented on #2895
Mac M1:

Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.5", GitCommit:"c285e781331a3785a7f436042c65c5641ce8a9e9", GitTreeState:"clean", BuildDate:"2022-03-16T15:51:05Z", GoVersion:"go1.17.8", Compiler:"gc", Platform:"darwin/arm64"}
Server Version: version.Info{Major:"1", Minor:"22+", GitVersion:"v1.22.9-eks-a64ea69", GitCommit:"540410f9a2e24b7a2a870ebfacb3212744b5f878", GitT

[2022-06-24 04:25] negz commented on #2895
On the API server memory consumption front, I did some not very scientific tests with https://github.com/kcp-dev/kcp today and found that it appears to use about half the memory of the Kubernetes API server. I'm not sure why, but the fact that it's possible to serve CRDs while using less memory is possible.

Rough resident memory observations from the API server (v1.24.0 in `kind`):

* ~350Mi at b

[2022-06-24 19:31] bgrant0607 commented on #2672
FWIW, Config Sync and kpt also assume kstatus.

[2022-06-24 20:35] AaronME commented on #3121
Removing a field from the Composite definition would be a breaking change for version v1alpha1. To do this safely, a new version (e.g, `v1alpha2`) should be created with the field removed, and all resources should be migrated to the new version. For a time, the package would need to serve both versions.

This is only necessary when removing fields. Adding fields is not a breaking change.

[2022-06-25 20:25] #3115 closed

[2022-06-27 09:25] tbmetcalfe commented on #3121
@AaronME so I certainly learned this the hard way! However, I bet I'm not the first to make this mistake nor will I be the last. Perhaps, we can add some escape route out of this? Perhaps where we are still able to delete the external resource despite it being in an error state?

[2022-06-27 20:58] #3117 closed

[2022-06-28 01:41] antoninbas opened #3157 "`packagePullPolicy: IfNotPresent` ignore for Provider"
### What happened?
I am building a custom version of https://github.com/crossplane-contrib/provider-aws with `make build`. I didn't want to push the images to a registry, so I loaded them manually to my Kind Nodes (with `kind load docker-image <IMG>`) and set `packagePullPolicy` to `IfNotPresent`. However, installation of the provider failed, as crossplane was trying to pull the image from the reg

[2022-06-28 07:50] celalettin1286 commented on #2652
Thanks to @sergenyalcin , he explained me how it works.

[here](https://github.com/crossplane/crossplane/blob/d1e3547fbb292bb6259338fed6efcbc872bcfec3/internal/controller/pkg/revision/deployment.go#L177) the implementation.

metadata.annotations on the ControllerConfig propagates to the deployment's annotations, spec.metadata.annotations on the ControllerConfig propagates to the pod's annotations.

[2022-06-28 16:24] slimm609 commented on #2869
@negz in the highly compliant environments, it is mixture of things. As you go to more and more restricted environments, this translates to stricter and stricter controls. When dealing with the U.S. DoD here is a reference of what controls/policies may apply to a project. https://csiac.org/wp-content/uploads/2022/04/2022-04-01-csiac-dod-cybersecurity-policy-chart.pdf. As you can see there are a to

[2022-06-29 05:29] kertzi commented on #2825
Hello,
I'm hitting this with crossplane version 1.8.1 also, at least when running in minikube
Logs from crashing crossplane pod

[code]

[2022-06-29 17:54] negz commented on #2869
For those still experiencing performance issues due to rate limiting - here's the current state of the world to my knowledge.

The key issue here is that clients (like kubectl, helm, etc) need to occasionally perform a "discovery" process to understand what APIs (CRDs) the server supports. When there are too many CRDs this process takes a long time because clients are configured to limit the rate

[2022-06-29 20:05] shanproofpoint commented on #2524
Sorry if this question has already been addressed,

why couldn't we just expand on composition and just add these as yaml preprocessing ?
and if the functions are not specified, it will just work as it currently does today.

[2022-06-30 02:30] jbw976 commented on #2825
Re-opening to investigate into this potential regression, thank you for reporting this @kertzi 🙇

[2022-06-30 06:15] negz commented on #2825
This isn't the same issue / a regression. If you read the stack traces you'll see they're in two different parts of the codebase. The two issues just both happen to relate to Composition Revisions and both happen to cause panics. I think this is related to https://github.com/crossplane/crossplane/issues/3113 so let's track it there.

[2022-06-30 06:15] #2825 closed

[2022-06-30 06:16] negz commented on #3113
Another report from @kertzi in https://github.com/crossplane/crossplane/issues/2825#issuecomment-1169549620:

[code]

[2022-06-30 08:31] negz commented on #3120
Can this issue be addressed by remembering to set `crossplane.io/external-name` annotations on the managed resources that are derived from something deterministic (e.g. the claim name, or some formatting thereof)?

I think I'm almost following you here, but an example would help. It sounds like you're hoping to rely on deterministic XR names in order to allow the composed resources from one claim/

[2022-06-30 17:55] jbw976 commented on #2564
@haarchri brought this up today in the community meeting, as he and others in the community are seeing similar behavior in #2849 and feeling the pain around it.

[2022-06-30 17:57] jbw976 commented on #2895
Dropping a breadcrumb to this write-up from @negz about the current state of performance issues, in the context of the desire to disable/limit/select which CRDs will get installed:

https://github.com/crossplane/crossplane/issues/2869#issuecomment-1170306448

[2022-06-30 18:00] WilliamCoffeyTri opened #3160 "InjectedIdentity Credentials Source Not Working"
I've been trying for a while now to crop up Crossplane to manage AWS resources, but I've been running into a lot of problems with providing Crossplane authentication in a manner I'm comfortable with. I stumbled into the InjectedIdentity credentials source, which I'd hoped would be the solution I needed, but this does not appear to be working as expected. I can create a pod in the same namespace an

[2022-06-30 18:39] DenislavTsonev opened #3161 "ReplicationGroup SecurityGroupIDSelector doesn’t work"
Hello, guys,

I'm trying to create a composition that creates AWS Elasticache Redis "cluster" + Cache Subnet group and security group but it seems like attaching the security group to the replication group is not happening at all

### What happened?

And all resources are created, the replication group, the subnet group, and the security group but without attaching the SG to the replication group.

[2022-06-30 19:46] negz commented on #2564
Thanks @haarchri and @jbw976! This is going to be a priority ASAP.

[2022-06-30 20:58] negz commented on #2564
I just chatted with @avalanche123, who is going to take a shot at this! Per my comment at https://github.com/crossplane/crossplane/issues/2564#issuecomment-1165007894 the quick fix here is likely going to be to make this deadline configurable. That said, I think it would be interesting to check in with @hasheddan to see whether he can think of any low hanging fruit to speed up the reconcile proces

[2022-07-01 02:36] negz commented on #3113
I'm working on back porting this fix to 1.8, 1.7, and 1.6.

[2022-07-01 06:56] djfinnoy opened #3165 "Conflict management when running multiple clusters"
### What problem are you facing?

Assume that you have a blue / green deployment strategy at the cluster level for all of your Kubernetes instances, including the management cluster where Crossplane is installed.
This is an appealing pattern because at some point in the future there will be major updates that cause down time. This downtime can be avoided:
1. All traffic is routed to `blue`
2. Prov

[2022-07-01 17:24] haarchri commented on #3161
Can you open this Issue in crossplane-contrib/provider-aws ?

[2022-07-04 07:01] MisterMX commented on #3120
You can. But only in cases where the external name derives from the name of the managed resource. This does not work if the external name is generated by the provider backend (such as subnets in AWS).

This is exactly what we want. In some cases we circumvent this by using label selectors. But in many others it doesn't. For example, creating a bucket via one composition and putting the bucket's na

[2022-07-05 04:58] parul5sahoo commented on #3157
Hey @antoninbas, actually if you see [the docs for](https://crossplane.io/docs/v1.8/concepts/packages.html#specpackagepullpolicy) `spec.packagePullPolicy` you'il find that if you wish to prohibit crossplane from downloading the package from any registry you need to use the value `Never`, for if you use `IfNotPresent`  it will try installing it and by default will head to Docker hub since the Makef

[2022-07-05 17:17] jonnylangefeld commented on #2895
I think these performance tests would be more useful if always run from the same source server in the cloud to the same target cluster for comparable results.
Other than that, discovery should take a significantly shorter time with https://github.com/kubernetes/kubernetes/pull/107131 as there is no rate limiting happening for discovery anymore. Still all API calls are made to all custom resource d

[2022-07-05 20:38] negz commented on #2849
[code]

I can reproduce this, but only when a new Crossplane pod starts up. This is what I'd expect - for discovery to be rate limited, where discovery (mostly) only happens at pod startup time.

[2022-07-06 00:54] negz opened #3169 "Cut v1.9.0 on July 12, 2022"
This issue can be closed when we have completed the following steps (in order).

Please ensure all artifacts (PRs, workflow runs, Tweets, etc) are linked from this issue for posterity. Refer to this [prior release issue][release-1.7] for examples of each step.

- [x] Prepare the release branch at the beginning of [Code Freeze]:
  - [x] Created the release branch.
  - [x] Created and merged an empt

[2022-07-06 01:00] negz commented on #3169
Release branch: https://github.com/crossplane/crossplane/tree/release-1.9

[2022-07-06 01:41] negz commented on #3169
v1.10.0-rc.0 tag

* Workflow: https://github.com/crossplane/crossplane/actions/runs/2619891663
* Tag: https://github.com/crossplane/crossplane/releases/tag/v1.10.0-rc.0

[2022-07-06 07:01] #3028 closed

[2022-07-06 07:04] negz commented on #3169
Not really related to the v1.9 release but I'm dropping a mental note for myself that I also need to cut patch releases for 1.6, 1.7, and 1.8 for https://github.com/crossplane/crossplane/issues/3113.

[2022-07-06 20:36] mvaalexp commented on #2869
Just FYI, we are now also seeing this which seems to be related to the number of CRDs installed
https://github.com/crossplane/crossplane/issues/2564

[2022-07-07 15:28] Shadowraze228 opened #3172 "Duplicate of secret when trying to publish from composition"
### What happened?

When crossplane deployed with `--enable-external-secret-stores` secrets are duplicated because `publishConnectionDetailsWithStoreConfigRef` field in Composition CRD defaulted and can't be disabled.

So in result i have 2 secrets with same data in Vault:
- UID name secret(e.g. `crossplane-system/0348bc2b-3d7b-4cf0-8d61-5ce8d52d9703`)
- expected secret (e.g. `crossplane-system/pa

[2022-07-07 23:47] refnode commented on #3120
I use atm the labels

- metadata.labels[crossplane.io/claim-namespace]
- metadata.labels[crossplane.io/claim-name]

in the patches to generate names and tags. I don't know if I oversee something with this approach, but it works so far.
Probably this approach could be a workaround for you?

[2022-07-08 02:22] negz commented on #2895
@jonnylangefeld The idea was to (casually) test multiple different clients against the same server. We all used the same EKS API server. To my knowledge everyone experiencing slowness was being affected by https://github.com/kubernetes/kubernetes/issues/110753.

[2022-07-08 12:32] haarchri commented on #3139
we facing the same issue

when we using
[code]

it is not working in patchSet - directly it is working

[2022-07-08 13:10] refnode opened #3177 "Documentation bug on label crossplane.io/claim-name*"
### What happened?

The documentation explains the existence of a annotation crossplane.io/claim-name and crossplane.io/claim-namespace.
These are labels and not as described in the docs annotations.

### How can we reproduce it?

### What environment did it happen in?
Crossplane version: 1.8

For docs v1.8
* https://github.com/crossplane/crossplane.github.io/blob/master/docs/v1.8/reference/compos

[2022-07-11 19:51] ttreptow opened #3179 "Change Approval/Audit Webhook"
### What problem are you facing?

I would like a way to programatically prevent the reconciliation loop from proceeding after the desired state is determined to be different from the current state (i.e. after Observe but before Create, Update or Delete), most likely with some sort of webhook.

This would enable both controlled change management (e.g. by notifying an operator who then does some man

[2022-07-12 15:55] James-Riordan commented on #2712
This feature is absolutely necessary. It would instantly replace helm templates... Please for the love of god let me get rid of the moustaches

[2022-07-13 01:07] negz commented on #3169
I unfortunately don't have the bandwidth to get to this today so this is going to slip.

[2022-07-13 13:55] gberche-orange opened #3180 "Unable to patch XRC metadata.label"
The XRC metadata.label doesn't get patched, while the XR metadata.label does get patched

### What happened?

Given the following patch in my composition

[code]

Given a CloudSql MR with the following status

[code]

Then the XR has the proper label `servicebinding.io/provisioned-service: "true"`:

[code]

but the XRC does not and has a no metadata.labels

### How can we reproduce it?

See snippe

[2022-07-13 14:30] gberche-orange opened #3181 "Proposal - provide full control over connection Secret (in addition to data fields)"
### What problem are you facing?

In order to implement the the k8s service binding spec at https://github.com/servicebinding/spec#provisioned-service, I need the
Secret type to be patched by the composition

Currently, crossplane only provides control over the connection secret `.data` fields

### How could Crossplane help solve your problem?

The [composition's connection details](https://crossp

[2022-07-13 21:11] #2849 closed

[2022-07-14 18:11] negz commented on #2890
We voted today in the steering committee to go to a quarterly release cycle.

[2022-07-15 04:20] negz commented on #3169
Tag action run: https://github.com/crossplane/crossplane/runs/7352010343?check_suite_focus=true
Tag: https://github.com/crossplane/crossplane/releases/tag/v1.9.0

[2022-07-15 04:24] negz commented on #3169
CI action run: https://github.com/crossplane/crossplane/actions/runs/2674618883

[2022-07-15 04:39] negz commented on #3169
Artifacts: https://releases.crossplane.io/build/release-1.9/v1.9.0/

[2022-07-15 04:40] negz commented on #3169
Configurations action run: https://github.com/crossplane/crossplane/actions/runs/2674670598

[2022-07-15 04:41] negz commented on #3169
Configurations:

* https://marketplace.upbound.io/configurations/xp/getting-started-with-gcp/v1.9.0
* https://marketplace.upbound.io/configurations/xp/getting-started-with-azure/v1.9.0
* https://marketplace.upbound.io/configurations/xp/getting-started-with-aws/v1.9.0
* https://marketplace.upbound.io/configurations/xp/getting-started-with-aws-with-vpc/v1.9.0

[2022-07-15 04:42] negz commented on #3169
Promote action run: https://github.com/crossplane/crossplane/actions/runs/2674676481

[2022-07-15 04:46] negz commented on #3169
Promoted artifacts: https://releases.crossplane.io/stable/v1.9.0/

[2022-07-15 04:52] negz commented on #3169
Release: https://github.com/crossplane/crossplane/releases/tag/v1.9.0

[2022-07-15 05:05] negz commented on #3177
Can you clarify how? Do they not exist at all?

[2022-07-15 05:12] negz commented on #3169
Release table PR: https://github.com/crossplane/crossplane/pull/3187

[2022-07-15 05:25] negz commented on #3169
@jbw976 I'm going to assign you to close this one out if you don't mind.

[2022-07-15 12:36] jbw976 commented on #3169
All done with the requeest to remove the 1.6 docs (prefix `https://crossplane.io/docs/v1.5`) from google search! 💪

[2022-07-15 12:50] jbw976 commented on #3169
Twitter tweet has been tweeted: https://twitter.com/crossplane_io/status/1547926460341428224

[2022-07-15 12:50] #3169 closed

[2022-07-18 08:45] turkenh commented on #3172
@Shadowraze228 [publishConnectionDetailsWithStoreConfigRef](https://doc.crds.dev/github.com/crossplane/crossplane/apiextensions.crossplane.io/Composition/v1@v1.9.0#spec-publishConnectionDetailsWithStoreConfigRef) in the composition spec works similar to the deprecated [writeConnectionSecretsToNamespace](https://doc.crds.dev/github.com/crossplane/crossplane/apiextensions.crossplane.io/Composition/v

[2022-07-18 08:47] Shadowraze228 commented on #3172
@turkenh yep, it's my case

[2022-07-18 10:18] MisterMX commented on #3046
@negz Thanks for raising this issue. I think its very important to tackle this problem. We also experienced that waiting for open source reviews became quite a bottleneck in our development process.

I would offer to become one of those "community reviewers" or even an actual maintainer depending on whether the former does actually help speeding things up since maintainer approval is still require

[2022-07-18 10:40] #2785 closed

[2022-07-18 22:52] AaronME opened #3194 "Bad error message on missing MR secret from Composition"
### What happened?
Crossplane error indicates it is attempting to write to the same secret for both MR and XR when External Secret Store is enabled. This seems to be https://github.com/crossplane/crossplane/issues/3172. Error message is ambiguous.

### How can we reproduce it?

**This test requires a StoreConfig named `vault` which is pointing to a working Vault instance.**

1. Publish the followi

[2022-07-18 23:06] AaronME opened #3195 "Crossplane cannot delete kubernetes secrets generated by External Secrets Stores"
### What happened?
We deployed a composite which set the `publishConnectionDetailsTo` to the `default` StoreConfig.
### How can we reproduce it?
1. Run crossplane with `--enable-external-secret-stores` flag
2. Configure the following StoreConfigs
[code]
3. Launch a Claim targeting these storeConfigs.
4. Observe Managed Resources and Secrets will create successfully.
5. Delete the Claim.
6. Note an

[2022-07-19 11:54] Shadowraze228 commented on #3172
For what this behavior?

[2022-07-19 16:31] gberche-orange opened #3197 "XRD spec.versions[0].schema.openAPIV3Schema is weakly typed as an object instead of full openapi schema"
### What problem are you facing?

As a crossplane XRD author, in order to write provide quality openapi schemas for my XRDs, I need to leverage IDE completion based on the XRD CRD schema definition.

Currently the XRD CRD is defining spec.versions[0].schema.openAPIV3Schema  as a plain object without detailing supported fields

https://github.com/crossplane/crossplane/blob/6494953ca4d5a56350fbe696d

[2022-07-19 16:57] gberche-orange commented on #3197
Actually, it seem the K8S CRD openapi schema is also currently defining top level fields which is insufficient to properly author a CRD schema
![image](https://user-images.githubusercontent.com/4748380/179807053-f2e7f871-c926-4959-8667-6a0183f6ae62.png)

[2022-07-20 06:34] MisterMX commented on #3197
Defining a schema for `openAPIV3Schema` requires recursive schema definition which is currently not supported by Kubernetes at the moment. See https://github.com/kubernetes/kubernetes/issues/62872.

It works for CRDs because they are a built-int type.

[2022-07-20 18:12] gberche-orange commented on #2024
Workarounds:
- delete the XRD, which as a side effects seems to delete XRCs and consequently XRs and associated MRs
- delete the crossplane pod (and let the deployment recreate them)

[2022-07-20 21:42] negz commented on #3197
Yeah, sadly this is a painful known issue. We've discussed writing a validation webhook for it since CRD machinery can't handle it internally - that seems like the most promising path forward.

[2022-07-21 08:50] gberche-orange commented on #3197
Thanks @MisterMX and @negz for the follow up

I guess this would cover the case of rejecting invalid schemas in XRDs, but not yet improving the authoring experience by supporting coding assistance (completion, syntax check, inline documentation).

[2022-07-21 13:22] gberche-orange commented on #3197
I'm currently working around this issue using the [carvel ytt  YAML template engine](https://carvel.dev/ytt/) with which I inline a valid Json schema file (natively supported by IDEs such as intellij) into my XRD

https://www.jetbrains.com/help/idea/json.html#ws_json_using_schemas

[code]

definition-xrd-schema.lib.yaml:
[code]

![image](https://user-images.githubusercontent.com/4748380/180217413-

[2022-07-21 19:01] gmrodgers commented on #3195
Also seeing this when using the default store and gcp provider.  Crossplane version 1.9.1 on kubernetes v1.22.8-gke.202 GKE.

[2022-07-22 14:14] blut opened #3199 "Composition Patch map default value or regexp match"
Hello

If possible, I'd like to set a default value for a composite resource patch of type map.

### What problem are you facing?
We have a value map for different environments.
With multiple dev-environments, I'd like to define the value for all dev enviroments through a map default value or a map regexp match.

Currently I have to specify each environment in my patch map
![image](https://user-im

[2022-07-22 16:11] MisterMX commented on #3199
Thanks for opening this issue @blut. I stumbled across this multiple times as well.

Thing is that `map` is serialized into `map[string]string` and don't think its a good idea to make an exception for a special key like `_default`.

I can imagine something like

[code]

[2022-07-23 00:12] agracey opened #3201 "Ability to add labels to connection secret"
### What problem are you facing?

When I run through the getting started guide, I find that the secret that gets created doesn't have any labels propagated to it.

We would like to be able to add labels to my connection secret that get created via writeConnectionSecretToRef. This would allows us to integrate with our developer platform better since we could account for the secrets and mount them i

[2022-07-25 06:04] turkenh commented on #3201
Hi @agracey,

This is already possible with the new `PublishConnectionDetailsTo` [API](https://github.com/crossplane/crossplane/blob/master/design/design-doc-external-secret-stores.md#api) which is alpha right now and disabled by default.

[code]

`writeConnectionSecretToRef` API is planned to be deprecated in favor of `PublishConnectionDetailsTo`, hence no changes/improvements should be expected

[2022-07-25 06:04] #3201 closed

[2022-07-25 06:05] turkenh commented on #3201
To enable the alpha feature you would need to pass `--enable-external-secret-stores` to both Crossplane and provider pods ATM.

[2022-07-25 12:27] haarchri commented on #2896
we had today an silent issue with cluster.eks.aws.crossplane.io resource
no isse, no report, no debug

[code]

[2022-07-25 13:09] agracey commented on #3201
Thank you so much for you quick reply!

[2022-07-25 14:44] enrichman opened #3203 "Cannot publish secret: "not owned by UID""
### What happened?

Crossplane and `provider-aws` deployed with `--enable-external-secret-stores` flag.
When a claim is asking to `publishConnectionDetailsTo` this secret then it will not be updated because the owner is different:

[code]

### How can we reproduce it?

Created a secret, and then asked for a claim:

[code]

### What environment did it happen in?

Crossplane version: v1.9.0 (local c

[2022-07-25 18:03] tnthornton commented on #3197
This is pretty spot on. The resulting feedback loop is pretty rough as well.

This is pretty interesting. This solution is primarily focused on authoring the XRD itself and getting type hints there, right? Or does it also cover XRs and claims?

FWIW, we included a [language server](https://code.visualstudio.com/api/language-extensions/language-server-extension-guide), in the `up` CLI that gives _s

[2022-07-25 18:09] bobh66 commented on #3197
@tnthornton this looks really useful - however the link to the up-ls repo is broken - it doesn't seem to be a public repo on github.

[2022-07-25 18:11] tnthornton commented on #3197
@bobh66 sorry about that. The important steps were:
[code]

[2022-07-25 18:11] bobh66 commented on #3197
thanks!

[2022-07-25 18:17] tnthornton commented on #3197
If you happen to use VSCode, we also have a very thin extension that starts up the language server and listens to diagnostics https://marketplace.visualstudio.com/items?itemName=Upboundio.upbound.

[2022-07-25 20:48] valorl commented on #2439
Regarding the EKS LB issue, I think that's painful regardless whether the tool you use has the ability to enforce order/dependencies. It should really be handled by EKS. https://github.com/aws/containers-roadmap/issues/1348

[2022-07-25 21:00] gberche-orange commented on #3197
thanks @tnthornton

For XRC, the plain openapi schema seems sufficient to get full coding assistance. What additional info would give the XRD that is'nt in the corresponding generated CRD ?

From https://youtrack.jetbrains.com/issue/IDEABKL-7409 I see that LSP support in intellij isn't very strong

I however also use the ytt templating for authoring Compositions (including base resources and patch

[2022-07-26 07:45] turkenh commented on #3203
@enrichman this is expected to happen when the secret has an owner other than the MR itself which is the `DynamoDBTable` here. Did you check who owns that secret, i.e. where `ownerReferences` field points to.

This could happen when multiple MRs/XRs pointing to the same secret as the connection secret.

[2022-07-26 12:23] enrichman commented on #3203
It seems that it didn't have an owner at all, but I guess that the problem was due to the Composition that I was using: https://github.com/aws-samples/crossplane-aws-blueprints/blob/main/compositions/aws-provider/dynamodb/provisioned-composite-key.yaml

Could the
[code]
be a problem? I was using also an existing secret, and I don't know if that's an issue.

I've tried to edit the Composition chang

[2022-07-26 13:55] btwseeu78 commented on #3121
same type issue and quite problematic:

steps:
1. create a new definition(example dockerconfig)
2. create composition based on it.
3. try change xrd add new **required** field ,kubectl apply(it gets configured not blocked)
4. now try to delete old dockerconfigs.

error from manager.

`1.6588434313483527e+09  DEBUG   crossplane.events       Warning {"object": {"kind":"XDockerConfig","name":"dockerc

[2022-07-26 13:55] Ottovsky commented on #2882
I am observing the same behavior with crossplane v1.8.0, when updating claim, the update is propagated to the XR, but the composition resources do not reflect this update.

[2022-07-26 13:56] btwseeu78 commented on #3121
we would love to have some doc on migration documentation.

[2022-07-26 15:52] enrichman commented on #3203
Ok, in the end it worked adding again this part:

[code]

but I see that the published secret is of the `connection.crossplane.io/v1alpha1` type. Is it possible to use an existing secret, or they needs to be of this specific type?

[2022-07-26 23:34] negz commented on #3015
@wilhelmi Just to make sure I'm following, are you literally putting a CompositionRevision in the package, or just a Composition? The former is not intended to work, but the latter should.

Cross-linking https://github.com/crossplane/crossplane/issues/2656 so we make sure to factor this in when we start work promoting CompositionRevisions to v1beta1.

[2022-07-26 23:55] wilhelmi commented on #3015
@negz Just putting a composition in a package,  I was expected new CompositionRevision to be created when when packages were deployed.

[2022-07-27 12:12] blut commented on #3199
Would you think interpreting map keys as rexexp would break many use-cases?
We might consider a separate transform type, such as regexpMap.

[2022-07-27 13:21] MisterMX commented on #3199
I think regex support could be enabled via a flag:

[code]

[2022-07-27 20:53] shanproofpoint commented on #1722
Hi can i get a status of this?

[2022-07-28 02:38] jbw976 commented on #1722
@shanproofpoint I know there is a lot of interest in this issue from the community, but it is not being actively worked on at the moment.  It remains highly positioned on the roadmap though, so its high demand is captured and would be reflected well in any planning effort by the community for upcoming releases 🙇

[2022-07-28 02:55] bobh66 commented on #1722
@jbw976 Could this be handled in the crossplane-runtime managed.Reconciler instead of being implemented individually in every provider?   Considering the managementPolicy work that was done in provider-kubernetes, https://github.com/crossplane-contrib/provider-kubernetes/blob/main/internal/controller/object/object.go#L247 - it just skips the function if the management policy does not support that

[2022-07-28 03:41] ekristen commented on #2869
Definitely would like to see the ability to not load all CRDs, it would be nice to be able to pick and choose. In my use case over 50% will never be used.

[2022-07-28 16:10] shanproofpoint commented on #1722
thank you @jbw976 @bobh66 !

[2022-07-28 17:50] #3195 closed

[2022-07-28 18:31] bobh66 opened #3211 "Rendering of composite removes external ownerReferences"
### What happened?
The metadata.ownerReferences attribute of all composed objects is restricted to contain a single entry for the crossplane controlling resource:

https://github.com/crossplane/crossplane/blob/master/internal/controller/apiextensions/composite/composed.go#L366

This eliminates the ability to represent multiple owner relationships between resources and implement functionality like

[2022-08-01 14:09] deepakal opened #3214 "compositionRef will not get updated on updating compositionSelector in claim"
### What happened?
On updating set of labels under compositionSelector in Claim, resulting in XR object updated with new  "Composition Selector" value but "Composition Ref" still pointing to old composition. Because of this managed resource are not taking latest changes from updated/new composition.

### How can we reproduce it?
1) Created two different composition, change in name and Label but bo

[2022-08-02 16:34] dvagapov commented on #3146
Sorry, wrote comment in wrong repo

[2022-08-02 20:28] negz commented on #3214
This is by design - a set reference takes precedence over a selector. I believe this pattern is fairly idiomatic in Kubernetes - e.g. node selectors - and it's tricky to have this work another way. If the selector labels match multiple resources for example we'd be at risk of updating the reference to point to a different one every reconcile.

[2022-08-03 04:19] deepakal commented on #3214
Thanks for clarification..... Then how crossplane choose the composition  for the very first time if it finds more than one by matching selector labels? Is there any weight mechanism that can be attached with composition or its random?

[2022-08-03 11:08] YashasviChaurasia commented on #2943
@Aaron, I would like to work on this issue.
Kindly assign me if I have your approval.
Thank you

[2022-08-03 18:55] negz commented on #3214
It's random, but I like the idea of a weight mechanism - I would suggest opening a new issue requesting that feature.

[2022-08-03 18:55] #3214 closed

[2022-08-05 04:05] ryeyao opened #3222 "Failed to pull package from harbor registry"
### What happened?

Install custom configuration from internal harbor registry failed:
[code]
But `docker pull` works fine
[code]
### How can we reproduce it?

I find out some issues that may be related, #1957 , [NEXUS-12684](https://issues.sonatype.org/browse/NEXUS-12684), [NEXUS-27619](https://issues.sonatype.org/browse/NEXUS-27619) and [NEXUS-29640](https://issues.sonatype.org/browse/NEXUS-2964

[2022-08-05 17:17] SleepyBrett opened #3224 "ProviderConfigUsage creation blocked because providerconfig name > 63 characters"
Note: I'm not sure where it would be best to raise this issue, there is a duplicate here: https://github.com/crossplane/crossplane-runtime/issues/345

### What happened?
Kubernetes object names (.metadata.name) supports a maximum length of 253 characters.

Kubernetes Label values (.metadata.labels[]) are limited to 63 characters in length.

Therefore if your ProviderConfig has a name that is > 63

[2022-08-09 02:04] knowshan commented on #3059
@Ruhika1417 Are you still working on it? If not, I can pick it up.

[2022-08-09 08:34] Ruhika1417 commented on #3059
You can take it up @knowshan!

[2022-08-09 21:30] knowshan commented on #3059
/assign

[2022-08-11 03:14] bobh66 opened #3225 "Proposal: Support foreground cascading deletion"
### What problem are you facing?

When deleting a Crossplane Claim, the "--cascade=foreground" option to kubectl delete has no impact on the delete process.
All Composite Resources get deleted immediately and all Managed Resources are deleted as soon as possible by their associated providers.

This can cause issues with hung resources as documented in many other issues including:

#1612
#1782
http

[2022-08-12 06:11] #2993 closed

[2022-08-12 19:32] kderck opened #3226 "Examples in Documentation like Terraform"
### What problem are you facing?

I am using Crossplane for the first time and I have found it hard to adopt due to lack of examples in the documentation. It would be nice to see examples like Terraform, and what are acceptable values would be. I can see you have examples in this repository, but these really should be in the documentation

EDIT: I've noticed I've opened this in the wrong place. Ho

[2022-08-12 21:08] ytsarev commented on #3226
Examples can be exposed in the Marketplace, e.g. see Examples section in  https://marketplace.upbound.io/providers/upbound/provider-aws/v0.7.0/resources/ec2.aws.upbound.io/VPC/v1beta1

[2022-08-12 23:41] negz commented on #3172
@Shadowraze228 The connection secrets pertain to different resources. One of the reasons we store them for both the claim and the XR is that it's uncommon but possible to create a claim for an existing XR. When doing so it's rarely possible to lookup secret connection details for the XR after the fact, so we need to persist them somewhere at creation time (e.g. there's no API to ask for what the p

[2022-08-12 23:41] #3172 closed

[2022-08-12 23:45] #3131 closed

[2022-08-13 01:04] negz commented on #3046
FWIW I enabled this for this repo today.

I'd really like to setup reviewers and auto-assignment ASAP, but I'm struggling to find good existing automation that can handle it. I'm looking for something similar to prow on Kubernetes where you can make the distinction between reviewers and approvers at the directory level, and assign both to new PRs. I'm a little wary to try use actual prow though (i

[2022-08-13 03:01] KylePeterDavies commented on #3226
@ytsarev So what should I use the `API Documentation` or the `Upbond Marketplace`? Also why are most the descriptions empty?

<img width="1792" alt="Screenshot 2022-08-13 at 03 59 55" src="https://user-images.githubusercontent.com/12613678/184465984-e8458c87-4d13-4d60-b397-7e0851a7ab70.png">

[2022-08-13 03:15] KylePeterDavies commented on #3226
![Uploading Screenshot 2022-08-13 at 04.14.48.png…]()

[2022-08-13 03:16] KylePeterDavies commented on #3226
<img width="1792" alt="Screenshot 2022-08-13 at 04 15 54" src="https://user-images.githubusercontent.com/12613678/184466429-ca1b7f49-c40d-4639-9c21-0ad78e4a1656.png">

[2022-08-13 03:16] KylePeterDavies commented on #3226
<img width="1792" alt="Screenshot 2022-08-13 at 04 14 48" src="https://user-images.githubusercontent.com/12613678/184466440-b39f9420-7f09-4106-87cb-919caa4e0a3e.png">

[2022-08-13 22:36] eloo commented on #3011
Not stale

[2022-08-13 22:41] natereid72 commented on #2121
Revive

[2022-08-13 22:42] natereid72 commented on #3066
Revive

[2022-08-14 07:33] haarchri commented on #2656
Is this something for 1.10 / 1.11 ?

[2022-08-14 14:37] anoop2811 commented on #2414
ping...still interested in this.

[2022-08-15 11:35] ytsarev commented on #3226
@KylePeterDavies better field documentation to API fields is coming soon. You are free to choose between community doc.crds.dev and vendor-backed https://marketplace.upbound.io/. I just pointed out that Upbound Marketplace has already embedded tested Examples which I personally find very useful in practice.

[2022-08-15 14:21] haarchri commented on #3146
we have the same issue in Crossplane 1.9.0

the managed resource has:
[code]

but we normally have the following path in composition:

[code]

[2022-08-15 15:40] aabouzaid commented on #3140
I'm also looking for a way to set up OpenShift on [Red Hat Cloud](https://cloud.redhat.com/). However, I couldn't find any API to do that programmatically.

One more tip here: OpenShift is also available on other platforms like [AWS ROSA](https://aws.amazon.com/rosa/) which could be a good solution based on the use case (also a similar option available for other cloud providers like GCP and Azure)

[2022-08-15 17:00] displague commented on #1159
https://crossplane.github.io/docs/v1.9/guides/multi-tenant.html provides many of the requested documentation enhancements.

[2022-08-15 17:00] #1159 closed

[2022-08-15 18:46] negz commented on #2645
I could see this being a good first issue, especially for someone with some controller-runtime familiarity.

[2022-08-15 22:49] jbw976 commented on #2656
I would like to see CompositionRevision matured/stabalized for folks to start depending on them over the next couple releases, yes @haarchri.  We can't guarantee that will be delivered, but I would like it to happen.  I've already included it on the Releases board :)

[2022-08-16 00:02] negz commented on #3046
I think we're close to done here. To recap:

* We now have a "stale bot" that will mark issues and PRs stale after 90 days of inactivity, then close them after a further 7 days of inactivity.
* All new PRs will be assigned to one maintainer and two reviewers. We try to assign to a maintainer who is an SME for the part of the codebase being updated. For now we pick the two least loaded reviewers re

[2022-08-16 00:04] negz commented on #3046
@MisterMX I've sent you an invite to be our first reviewer. Could you please follow the process at https://github.com/crossplane/crossplane/blob/master/GOVERNANCE.md#organization-members to become a member of the org. :)

[2022-08-16 04:25] odidev commented on #2912
@muvaf Please let me know if any help required from my end.

[2022-08-16 06:52] eloo commented on #2607
not stale

[2022-08-16 06:53] eloo commented on #2954
not stale

[2022-08-16 06:53] eloo commented on #2544
not stale

[2022-08-16 08:20] sboschman commented on #3049
Same happens when using e.g. Kyverno to generate Crossplane claims, I guess it used the replace functionality under the hood.

[2022-08-16 11:05] #3226 closed

[2022-08-16 19:08] rkoalign commented on #2887
You can probably get this done without having to store intermediate string as XR field. You can have multiple transform types in a single transform block and your input will be transformed in the sequence those transform types are specified. For example:

[code]
If your input field is a string "medium", then the resultant value after these transforms should be an integer 4.

[2022-08-16 20:47] aktech commented on #2912
I suggested a solution here if folks are interested 😅
https://github.com/aquasecurity/trivy/issues/2660#issuecomment-1217145390

[2022-08-16 22:38] #2979 closed

[2022-08-17 00:59] #3211 closed

[2022-08-17 08:01] muvaf commented on #2851
Fixed with https://github.com/crossplane/crossplane/pull/2919

[2022-08-17 08:01] #2851 closed

[2022-08-17 14:03] mvkrishna86 opened #3237 "Need namespace-scoped resources"
### What problem are you facing?
I am able to create the AWS infrastructure using crossplane. But all the resources in kunernetes are global.
I have 5-6 environments to be configured, and if we can create the resources as namespace-scoped, I can use one namespace for each environment.

### How could Crossplane help solve your problem?
Please make the k8s resources namespace scoped.

[2022-08-17 21:09] negz commented on #3237
Hi @mvkrishna86. It sounds like you might be using provider-aws managed resources directly. I recommend you instead look into using a Composite Resource Claim (XRC), which is a namespaced resource that can be composed of managed resources. See https://crossplane.io/docs/v1.9/concepts/composition.html for more information.

At this stage we're not likely to make managed resources namespaced.

[2022-08-17 21:09] #3237 closed

[2022-08-17 22:30] negz commented on #1143
We probably don't want to let this one go stale.

[2022-08-17 22:57] negz commented on #2564
We've had 1-2 reports of this still happening, so I'm reopening to dig into that.

[2022-08-18 00:27] negz commented on #2564
Specifically seeing this now:

[code]

[2022-08-18 00:41] negz commented on #2564
Just confirmed I'm seeing the same with `upbound/crossplane:v1.9.0-up.2` too. Both tests using kind v1.24.0 clusters.

[2022-08-18 02:35] negz commented on #2564
And yet `crossplane/crossplane:v1.10.0-rc.0.31.g781e909f` works as I would expect. 🤔 I guess perhaps this issue is somehow isolated to UXP. Will close and move discussion there.

[2022-08-18 02:35] #2564 closed

[2022-08-18 03:24] negz commented on #1143
You there stale bot? 🤔 I'm pretty sure you should be marking this as not stale.

[2022-08-18 04:00] negz commented on #1770
Unstale please. I'm still pretty sure we're going to need this.

[2022-08-18 04:38] haarchri commented on #2564
@negz we see the warning as
well in 1.9.0 after a few loops it is working without handmade interactions

[2022-08-18 04:59] negz opened #3239 "Add a `--version` flag"
### What problem are you facing?

I'm currently trying to figure out what version of Crossplane a particular build is by creating a `Configuration` that will only work on that version, e.g.

[code]

### How could Crossplane help solve your problem?

Life would be a lot simpler if I could just run `crossplane --version` to find out what version a particular binary was.

[2022-08-18 06:03] Santosh1176 commented on #3239
Can I work on this?

[2022-08-18 06:24] negz commented on #3239
@Santosh1176 Sure!

[2022-08-18 06:30] negz commented on #3239
@Santosh1176 Take a look at how https://github.com/crossplane/crossplane/blob/master/cmd/crank/main.go#L56 works. I'm pretty sure you just need to copy that pattern to cmd/crossplane.

[2022-08-18 06:32] Santosh1176 commented on #3239
Thanks for the hint. I'll look into that.

[2022-08-18 06:39] ytsarev commented on #1140
still relevant

[2022-08-18 06:40] Santosh1176 commented on #3239
Is there a way to run the CLI commands using `make` locally? Any method to build the CLI dev env?

[2022-08-18 06:45] ytsarev commented on #274
still relevant

[2022-08-18 08:57] negz commented on #3239
@Santosh1176 You should be able to run `make` to get a build (pretty sure the binary gets dropped in `_output`). You should also be able to `go run cmd/crossplane/...` iirc.

[2022-08-18 09:06] ytsarev commented on #58
Looks like something to keep around for graduation.

[2022-08-18 11:19] ytsarev commented on #2329
solved by https://github.com/crossplane-contrib/provider-jet-rancher

[2022-08-18 11:19] #2329 closed

[2022-08-18 13:58] chlunde opened #3240 "Proposal: state metrics for managed resources (draft)"
# What problem are you facing?

It is difficult to locate resources that are not ready or not synced using the available observability tools. While there are events and kubernetes objects have status fields available, making that information consumable by alerting solutions is not easy. For example, it would be nice to trigger an alert in on cases such as:
* when an invalid PostgreSQL version has

[2022-08-18 17:15] dskatz commented on #2869
We also have concerns about the additional CRDs and as previously stated, in our case as well over 50% will never be used.

[2022-08-18 19:24] shanproofpoint commented on #1730
When allowing resources to become consistent in the reconciliation loops, some ci cd tools like argocd are stuck when webhooks wait for each other cyclicly.  The same can happen for kubernetes provider objects that depend on each other dynamically.

[2022-08-18 19:26] shanproofpoint commented on #2072
When allowing resources to become consistent in the reconciliation loops, some ci cd tools like argocd are stuck when webhooks wait for each other cyclicly. The same can happen for kubernetes provider objects that depend on each other dynamically.

[2022-08-18 19:43] shanproofpoint commented on #2072
After reading above comments, I also realize and concur that incomplete cleanups on retries may conflate the cyclic stuck reconciliation problems.

[2022-08-18 20:53] shanproofpoint commented on #1805
This definitely is a critical tool to have before merging a change in git

[2022-08-18 21:19] negz commented on #3046
It seems like per https://github.com/probot/stale/issues/324 Stale bot is unmaintained and doesn't work so well, which is unfortunate given that it appears to be an "official" GitHub app.

The new hotness appears to be https://github.com/actions/stale. I've uninstalled the Stale bot from our org and will now attempt to switch this repo over to the action.

[2022-08-18 22:13] negz commented on #1143
FYI - replacing the stale bot per https://github.com/crossplane/crossplane/issues/3046#issuecomment-1219974924.

[2022-08-18 23:14] nabuskey commented on #2121
As of ArgoCD 2.4.8, the new annotation based tracking works with xr and xrc with auto pruning enabled. Application shows as synced and health is reflected correctly. XR does not get auto-pruned.

One caveat is that XRs will show as root resources instead of them being "children" of claims.

<img width="1281" alt="image" src="https://user-images.githubusercontent.com/21176944/185510440-611c6856-767

[2022-08-18 23:29] negz commented on #2607
Per my comment at https://github.com/crossplane/crossplane/issues/2607#issuecomment-940395314, I don't think this is something we're going to change. As mentioned, the logs are intended only for debugging. Our suggestion here is to use events for this - either via `kubectl describe` or `kubectl get events` or by exporting events to your system of choice using e.g. https://github.com/opsgenie/kuber

[2022-08-18 23:29] #2607 closed

[2022-08-19 11:59] hasheddan opened #3247 "Attach more metadata to getting started packages"
### What problem are you facing?

The [`Configuration` packages](https://github.com/crossplane/crossplane/tree/master/docs/snippets/package) used in the getting started guide are extremely minimal, and do not contain any additional metadata about their purpose or usage.

### How could Crossplane help solve your problem?

The [`xpkg` specification](https://crossplane.io/docs/v1.9/reference/xpkg.htm

[2022-08-19 13:04] tbmetcalfe opened #3248 "Bug/Clarification removing XR fields, once set, does actually get removed"
### What happened?

I've created an XR with a particular XRD with some optional parameter which has a default value as specified in its corresponding Composition.

If you choose to override this field when using the XR and then choose to remove this overridden field, the overridden field persists where I would have expected it to revert to the default value. Therefore to actually use the default v

[2022-08-19 16:56] turkenh commented on #3009
Just hit this issue while trying to give a [deterministic name](https://github.com/crossplane/crossplane/issues/3120) to my composed resource.

Thanks @ytsarev for the dummy value workaround.

[2022-08-19 17:29] ricardomiguel-os opened #3249 "Cannot update dynamodb table with kms encryption"
### What happened?
I've created a `dynamodb` table using `provider-aws` without explicit encryption resulting in the default `Owned by Amazon DynamoDB` encryption as expected.

Afterwards I've updated the same table definition with a customer key by specifying `kmsMasterKeyID` with my key alias.

I can see that the managed resource (table) has the correct updated encryption and the resource is syn

[2022-08-20 19:18] haarchri commented on #3249
Can you Switch this issue to crossplane-contrib/provider-aws ? Thanks

[2022-08-20 19:18] #3249 closed

[2022-08-21 08:04] #3026 closed

[2022-08-21 08:04] #3012 closed

[2022-08-21 08:04] #2959 closed

[2022-08-21 08:04] #2944 closed

[2022-08-21 08:04] #2923 closed

[2022-08-21 08:04] #2922 closed

[2022-08-21 08:04] #2962 closed

[2022-08-21 08:04] #2914 closed

[2022-08-21 08:04] #2889 closed

[2022-08-21 08:04] #2879 closed

[2022-08-21 08:04] #2878 closed

[2022-08-21 08:04] #2877 closed

[2022-08-21 08:04] #2737 closed

[2022-08-21 08:04] #2665 closed

[2022-08-21 08:05] #2461 closed

[2022-08-21 08:05] #2444 closed

[2022-08-21 08:05] #2255 closed

[2022-08-21 08:05] #2235 closed

[2022-08-21 08:05] #2032 closed

[2022-08-21 08:05] #1846 closed

[2022-08-21 08:05] #1698 closed

[2022-08-21 08:46] haarchri commented on #2535
/reopen

[2022-08-21 10:04] #2875 closed

[2022-08-21 10:04] #2873 closed

[2022-08-21 10:04] #2871 closed

[2022-08-21 10:04] #2866 closed

[2022-08-21 10:04] #2865 closed

[2022-08-21 10:04] #2864 closed

[2022-08-21 10:04] #2862 closed

[2022-08-21 10:04] #2860 closed

[2022-08-21 10:04] #2857 closed

[2022-08-21 10:04] #2803 closed

[2022-08-21 10:04] #2796 closed

[2022-08-21 10:04] #2698 closed

[2022-08-21 10:04] #2693 closed

[2022-08-21 10:04] #2691 closed

[2022-08-21 10:05] #2621 closed

[2022-08-21 10:05] #2610 closed

[2022-08-21 10:05] #2596 closed

[2022-08-21 10:05] #2594 closed

[2022-08-21 10:05] #2590 closed

[2022-08-21 10:05] #2589 closed

[2022-08-21 10:05] #2560 closed

[2022-08-21 10:05] #2550 closed

[2022-08-21 10:05] #2477 closed

[2022-08-21 10:05] #2122 closed

[2022-08-21 10:05] #2000 closed

[2022-08-21 12:05] #2763 closed

[2022-08-21 12:05] #2755 closed

[2022-08-21 12:05] #2730 closed

[2022-08-21 12:05] #2754 closed

[2022-08-21 12:05] #2711 closed

[2022-08-21 12:05] #2703 closed

[2022-08-21 14:04] #2573 closed

[2022-08-21 14:04] #2551 closed

[2022-08-21 14:04] #2538 closed

[2022-08-21 14:04] #2533 closed

[2022-08-21 14:04] #2530 closed

[2022-08-21 14:04] #2499 closed

[2022-08-21 14:04] #2476 closed

[2022-08-21 14:04] #2474 closed

[2022-08-21 14:04] #2462 closed

[2022-08-21 14:04] #2457 closed

[2022-08-21 14:04] #2441 closed

[2022-08-21 14:04] #2432 closed

[2022-08-21 14:04] #2397 closed

[2022-08-21 14:04] #2396 closed

[2022-08-21 14:04] #2384 closed

[2022-08-21 14:04] #2376 closed

[2022-08-21 14:04] #2365 closed

[2022-08-21 14:04] #2335 closed

[2022-08-21 14:04] #2322 closed

[2022-08-21 14:04] #2319 closed

[2022-08-21 14:04] #2303 closed

[2022-08-21 14:04] #2301 closed

[2022-08-21 14:04] #2297 closed

[2022-08-21 14:05] #2266 closed

[2022-08-21 14:05] #2258 closed

[2022-08-21 14:05] #2257 closed

[2022-08-21 14:05] #2256 closed

[2022-08-21 14:05] #2179 closed

[2022-08-21 14:05] #2165 closed

[2022-08-21 14:05] #2144 closed

[2022-08-21 14:05] #2065 closed

[2022-08-21 14:05] #2060 closed

[2022-08-21 14:05] #1985 closed

[2022-08-21 14:05] #1923 closed

[2022-08-21 14:05] #1800 closed

[2022-08-21 14:05] #1799 closed

[2022-08-21 14:05] #1762 closed

[2022-08-21 14:05] #1732 closed

[2022-08-21 14:05] #1708 closed

[2022-08-21 14:05] #1632 closed

[2022-08-21 16:04] #2236 closed

[2022-08-21 16:04] #2193 closed

[2022-08-21 16:04] #2188 closed

[2022-08-21 16:04] #2109 closed

[2022-08-21 16:04] #2096 closed

[2022-08-21 16:04] #2068 closed

[2022-08-21 16:04] #2049 closed

[2022-08-21 16:04] #1914 closed

[2022-08-21 16:04] #1863 closed

[2022-08-21 16:04] #1852 closed

[2022-08-21 16:04] #1727 closed

[2022-08-21 16:04] #1692 closed

[2022-08-21 16:04] #1602 closed

[2022-08-21 16:04] #1390 closed

[2022-08-21 16:04] #1265 closed

[2022-08-21 16:04] #1181 closed

[2022-08-21 16:04] #1082 closed

[2022-08-21 16:04] #1040 closed

[2022-08-21 16:04] #1033 closed

[2022-08-21 16:04] #967 closed

[2022-08-21 16:04] #933 closed

[2022-08-21 16:04] #925 closed

[2022-08-21 16:04] #852 closed

[2022-08-21 16:04] #766 closed

[2022-08-21 16:04] #630 closed

[2022-08-22 18:07] negz commented on #2780
/fresh

Just using this issue to test the bot - pretty sure this is actually fixed already per @smileisak

[2022-08-22 18:08] negz commented on #2780
I'm seeing us at 1.0.3, so I believe this is no longer an issue.

https://github.com/crossplane/crossplane/blob/d58f9187d1485a72ceaadb1d2f13d99024f09e57/go.mod#L123

[2022-08-22 18:08] #2780 closed

[2022-08-22 20:10] Santosh1176 commented on #3239
I believe I've implemented the feature. But, I am unable to get a build for testing it locally. Would that be okay if I raised a PR without testing?
I am stuck here when I try to run  `make`.

![crossplane-make](https://user-images.githubusercontent.com/91916466/186009623-9e1820a0-9d7c-4543-8be0-21abca95a4a7.png)

[2022-08-22 21:15] natereid72 commented on #2121
@negz I propose closing this issue based on @nabuskey comment.

[2022-08-23 07:59] vasicvuk opened #3261 "Azure provider docs outdated"
This document is outdated:
https://github.com/crossplane/crossplane/blob/master/docs/cloud-providers/azure/azure-provider.md?plain=1#L43

grant command now requires **--scope** argument on Azure CLI and it is not documented what scope is needed. And also **--expires never** is no longer supported

[2022-08-23 15:35] ccremer opened #3262 "Error in rendering XRs are not propagated to Claims"
Note: The issue of map transform failing is just one example of a case where rendering can fail. The real issue is that any rendering error isn't visible for the user interacting with the claim.

### What happened?

When patching with a Map transform, if the key doesn't exist it silently fails to apply the patch (snippet below).

The composition will stay not ready, with a spec only with 1 conditi

[2022-08-23 16:06] ytsarev commented on #3262
@negz I think I've seen an associated discussion somewhere(can't find it anymore) where we agreed that we should propagate this to a standard non-debug event stream

[2022-08-23 17:08] iAnomaly commented on #3037
@negz I have confirmed we are seeing this not just at creation!

I have two `provider-aws` `queues.sqs.aws.crossplane.io` Managed Resources that are 209d old and after upgrading our Kubernetes cluster (which resulted not only in a newer Kubernetes API version 1.22 -> 1.23 but replacement of all nodes that would have terminated and recreated both the `crossplane` and `provider-aws` Pods) they are f

[2022-08-23 17:19] bobh66 commented on #3037
This issue is also discussed here:   https://github.com/crossplane/crossplane-runtime/issues/340

@negz  - would it make sense to move the current check after the Observe function call, and if Observe returns successfully (Create is not needed) then the annotation could be updated to avoid this error.   That would handle the case where the resource was created and/or already exists and the externa

[2022-08-23 19:00] negz commented on #3262
I would expect issues like this to show up as:

* A status condition on the XR
* An event on the XR
* A debug log

What I would not expect is:

* This to be an info log - typically we want folks to look at their infra (e.g. `kubectl describe foo bar`), not Crossplane pod logs, to debug that infra.
* Specific errors like this to be propagated from the XR to the claim. This one is a bit painful for

[2022-08-23 19:03] negz commented on #3262
I'm slightly second guessing the good first issue label, but I'll leave it there for someone who wants a possibly kinda tricky good first issue. If this is indeed not showing up as a status condition on the XR then it's not working as intended.

[2022-08-23 19:05] negz commented on #3261
Good catch, thanks. I think we partially addressed this in https://github.com/crossplane/crossplane/pull/3166 but missed this instance.

[2022-08-23 19:09] negz commented on #3199
This could also be a different kind of transform entirely (e.g. `matches` or something). I don't feel strongly though.

[2022-08-23 19:17] ccremer commented on #3262
Sorry for not using the correct terms, I'm still somewhat learning the terminology.

I agree

I agree this holds true in cases where the user has full access to such resources. However, in a multi-tenant setup our users don't have access to the cluster-scoped resources, they only have claims. (to explain, we can't allow this to users since they would be potentially able to see other resources, and

[2022-08-23 19:20] vasicvuk commented on #3261
In general I managed to get it working by adding subscription scope and with removing of --expires never.

[2022-08-23 22:38] jbw976 commented on #3262
Leaving a breadcrumb to a general community member complaint about silent errors and the challenges of debugging compositions: #2896

[2022-08-23 22:38] jbw976 commented on #2896
Breadcrumb to #3262, another instance of this general type of issue where it can be challenging to understand the underlying error in a composition

[2022-08-24 08:32] ccremer commented on #3262
I have another case of practically silencing errors:
We have a provider that is using the webhooks feature of Crossplane and it does some validation of the XR's spec.
In my use case I have a claim where a certain property cannot be changed after initial creation. When I do change the property regardless, the validation webhook denies the request to update the managed resource, and the XR is in a s

[2022-08-24 13:55] eloo opened #3263 "Unable to switch from manual to automatic composition revision policy"
### What happened?

Hi we have tested around with the composition revisions and have found a bug.
Currently it seems that its not possible to switch from "manual" to "automatic" revision policy because of a limitation in kubectl together wit crossplane.

### How can we reproduce it?

- Enable composition revisions in your cluster
- Create any composition and xrd
- Create a claim and set the revisi

[2022-08-24 15:13] MisterMX commented on #3199
Yeah, some other languages like Godot's GDScript are using `match` instead of switch / case and maps. Although I have a feeling that it might confuse people in this case since `map` would just be a low-level version of `match`.

What about having a `mapPolicy` property where we have more freedom and can put everything there to configure map transforms? I.e.

[code]

[2022-08-24 19:01] akoserwal opened #3264 "spec.containers[0].securityContext.runAsUser: Invalid value: 2000: must be in the ranges: [1001030000, 1001039999]."
### What happened?

Kubernetes version
v1.24.0+9546431.

[code]
kubectl crossplane install provider crossplane/provider-gitlab:v0.2.0
creating: pods "crossplane-provider-gitlab-1e8fa6ab1027-78748b54d4-" is forbidden: unable to validate against any security context constraint: [provider "anyuid": Forbidden: not usable by user or serviceaccount, spec.containers[0].securityContext.runAsUser: Invalid

[2022-08-24 21:03] jond3k opened #3266 "No feedback when installing missing provider version"
### What happened?

I tried to install a version of `crossplane/provider-jet-gcp` that doesn't exist. The command is accepted but never shows any feedback in the logs or created provider resource.

### How can we reproduce it?

1. Run `kubectl crossplane install provider crossplane/provider-jet-gcp:v0.3.0-rc` (Note that a correct version would be [crossplane/provider-jet-gcp/v0.3.0-rc.35.g40c122f]

[2022-08-25 00:30] negz commented on #1770
Throwing out another idea (based on a demo of something related @apelisse) put together - I could see a distinct `Reference` type being in some ways better than an array of references embedded in a resource.

So instead of...

[code]

We'd have something like:

[code]

Some challenges that come to mind:

* RBAC. The controller resolving the `Reference` type would need to read "to" resources and wr

[2022-08-25 00:48] negz commented on #3263
Linking to https://github.com/crossplane/crossplane/issues/2656

[2022-08-25 08:11] ytsarev commented on #3264
You can use ControllerConfig to control associated configuration https://doc.crds.dev/github.com/crossplane/crossplane/pkg.crossplane.io/ControllerConfig/v1alpha1@v1.9.0#spec-securityContext-runAsUser

[2022-08-25 08:16] ytsarev commented on #3266
Can you try the following
* `kubectl describe providers crossplane-provider-jet-gcp`

* `kubect get providerrevisions` and then `describe` the associated `providerrevisions`

[2022-08-25 10:33] thradec commented on #2121
Hi, did you use any additional configuration/tuning, I have a recent version of ArgoCD 2.4.11 and still struggling with the pruning of XRs.

[2022-08-25 11:17] #3222 closed

[2022-08-25 12:08] thradec commented on #2121
Sorry, I missed the `application.resourceTrackingMethod: annotation`, with it,  it's working great, thx.

[2022-08-25 15:51] jbw976 commented on #2121
I think we could close this when #3041 is merged - that provides guidance on how to configure Argo, `application.resourceTrackingMethod: annotation`, etc. to work well with Crossplane 🤓

[2022-08-25 22:04] negz commented on #1770
I was just reminded of one other shortcoming with generic references - when any field can be 'computed' by a reference no field can be required in the OpenAPI schema sense, because then the referencing (from) object could never be created in the first place.

One horrible hack we could do here would be to have folks create the resource with a "placeholder" required value then guarantee that refere

[2022-08-25 22:37] #3046 closed

[2022-08-25 22:48] negz commented on #950
I believe @apelisse mentioned some folks in his team are working on this.

[2022-08-25 23:41] natereid72 opened #3270 "patchSet - patch from literal value"
When repeating a static value multiple times, at the same path in a Composition (e.g. spec.forProvider.location), it would be useful if we could patch the literal value from a single patchSet. This will reduce the chances of making a mistake when changing things like region in a Composition and make it easier.

Proposed:

[code]

[2022-08-26 15:36] natereid72 opened #3271 "providerconfig won't delete"
Crossplane 1.9.x with KinD cluster. Without any recognized way to recreate the issue.

Occasionally a providerconfig will hang on the finalizer, even when all of the resources are deleted and there are no providerconfigusages listed. Can only delete the providerconfig by manually deleting the finalizer.

[2022-08-26 15:41] apelisse commented on #1770
Yeah, then you need either loose validation or the placeholder to pass the validation, and even then you don't really know if the final value will pass the validation either.

[2022-08-26 15:58] apelisse commented on #950
Enhancement issue: https://github.com/kubernetes/enhancements/issues/1027
KEP: https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1027-api-unions

[2022-08-26 18:24] #3247 closed

[2022-08-27 00:11] negz opened #3272 "Encourage Kubernetes clients to bump discovery rate limits to 300+ rps"
### What problem are you facing?

Kubernetes struggles when you install a lot of CRDs (e.g. 1,000+), which Crossplane users regularly do. One of the issues is primarily client-side, in that the client-go "discovery client" will attempt to walk the tree of APIs offered by the API server, but will rate limit itself while doing so. This causes some commands (e.g. `kubectl get pods`) to block for a lo

[2022-08-27 00:12] negz commented on #3272
I'm assigning this to myself, since I expect the work here to primarily be asking other projects to bump their rate limits. I'm planning to use this issue to link back to the various projects with context.

[2022-08-27 00:13] negz commented on #3272
Some initial projects that come to mind:

* Helm
* ArgoCD
* Flux
* kuttl

[2022-08-27 13:19] makdeniz opened #3273 "cannot get authorizer from client credentials config: failed to get SPT from client credentials: parameter 'activeDirectoryEndpoint' cannot be empty"
### What happened?

I got this error both from my local kind cluster and AKS. Any idea?

### How can we reproduce it?

[code]

### What environment did it happen in?
Crossplane version:
v1.9.0
provider-azure-controller:v0.19.0

[2022-08-28 06:20] haarchri commented on #3273
please open this issue in crossplane-contrib/provider-azure thanks ;)

[2022-08-28 06:20] #3273 closed

[2022-08-29 04:56] haarchri commented on #2772
/fresh we have a lot of folks for this feature

[2022-08-29 09:03] MisterMX opened #3274 "Ensure full compatibility between Composition and CompositionRevision"
### What happened?

Compositions and CompositionRevisions are made of different Go structs in `apis/apiextensions/v1` and `apis/apiextensions/v1alpha1`. This frequently leads to a desynchronization between both because changes in Compositions are not propagated to CompositionRevisions:

* #2825
* #2836
* #3113
* #3130

Consistency with Compositions for CompositionRevisions should be ensured before

[2022-08-29 10:38] chlunde commented on #2877
One problem is that it's fairly easy to get crossplane killed during a package upgrade (OOM, evicted due to disk), and then we get an inconsistent state, and crossplane does not easily recover when ownerReferences have issues

[2022-08-29 11:19] artem-nefedov commented on #2544
This is also extremely important for GitOps model.
When all manifests are stored in git, and if your claim manifests have composition revisions, the deployment should be idempotent regardless of how many times composition was upgraded in the cluster.
Without it, whole GitOps setup completely falls apart.

[2022-08-29 15:20] jond3k commented on #3266
1. `kubectl describe providers crossplane-provider-jet-gcp` shows an error
2. There's no associated revision.

So actually I think the status message is enough to see why there's a problem though maybe there should be feedback in the `get` table too?

[code]

[code]

[2022-08-29 21:23] negz commented on #3274
xref to https://github.com/crossplane/crossplane/issues/2499, which was somewhat similar.

[2022-08-29 23:20] #3239 closed

[2022-08-29 23:23] negz commented on #2772
/fresh

https://github.com/crossplane/crossplane/runs/8063904781?check_suite_focus=true - Looks like I need to fix this action.

[2022-08-30 09:13] ytsarev commented on #2219
the issue is still relevant, reopening

[2022-08-30 12:17] MisterMX commented on #3274
I personally tend towards option 2 because internally, a CompositionRevision is converted to a Composition using the hand-written [`AsComposition`](https://github.com/crossplane/crossplane/blob/7a8f3e03abfb7d86e350a253466259fc7d1c7672/internal/controller/apiextensions/composite/revision.go#L29) converter function. By importing the same types we can just reuse the value of `Spec` and can decrease c

[2022-08-30 14:37] #3266 closed

[2022-08-30 18:38] Santosh1176 commented on #3270
Hey @negz can I work on this?
To have some context, is this about `patchStrategy` tag on `patchSets`?

[2022-08-30 19:08] negz commented on #3274
I wouldn't _normally_ be a fan of sharing the same structs across API types due to the strong coupling of APIs. That is, if we ever did want to change the v1alpha1 API we'd end up with a mix of importing types from v1 and "bespoke" types in the v1alpha1 API. Perhaps it's not as bad in this particular case where we really do want the two API types to remain mirrors of each other.

[2022-08-30 19:09] negz commented on #3274
FWIW with that in mind my preference is to use a code generator to automatically copy types. Bonus points if it's generally applicable - i.e. for next time we're in a similar situation having to maintain e.g. v1beta1 and v1 variants of the same API.

[2022-08-30 20:11] muvaf opened #3277 "Cut v1.10.0 on October 18, 2022"
This issue can be closed when we have completed the following steps (in order).
Please ensure all artifacts (PRs, workflow runs, Tweets, etc) are linked from
this issue for posterity. Refer to this [prior release issue][release-1.7] for
examples of each step.

- [x] Prepare the release branch at the beginning of [Code Freeze]:
  - [x] Created the release branch: https://github.com/crossplane/cross

[2022-08-30 23:20] negz commented on #267
/fresh

[2022-08-30 23:21] negz commented on #267
Just testing the stale bot using this issue - I do actually think this is stale.

[2022-08-31 11:25] ranjith-ka commented on #3261
`resource mapping not found for name: "default" namespace: "" from "minikube/crossplane/provider.yaml": no matches for kind "ProviderConfig" in version "azure.crossplane.io/v1beta1"
ensure CRDs are installed first
Error from server (BadRequest): error when creating "minikube/crossplane/provider.yaml": Secret in version "v1" cannot be handled as a Secret: v1.Secret.ObjectMeta: v1.ObjectMeta.TypeMet

[2022-08-31 18:49] jbw976 commented on #3277
@muvaf we had decided to move to a quarterly release cycle: https://github.com/crossplane/crossplane/issues/2890#issuecomment-1184752236

we've been tracking a date of Oct 18th for 1.10 in the community meetings: https://docs.google.com/document/d/1q_sp2jLQsDEOX7Yug6TPOv7Fwrys6EwcF5Itxjkno7Y/edit#heading=h.razvwktquxbn

sorry for the trouble, can you please help get these release plans and calenda

[2022-09-01 07:04] urbaniak commented on #2588
I'm having similar issue - trying to set bool flags on s3 bucket based on `spec.access` field which is a string private/public using that patch and it's not populating the `restrictPublicBuckets` field

[code]

that one (without a transformation, in the same patch) is working fine

[code]

[2022-09-01 07:49] eloo commented on #3010
/fresh

[2022-09-01 08:30] muvaf commented on #3277
@jbw976 thanks for the heads-up! I closed the empty commit PR but couldn't delete the release branch since code freeze is on October 11th. @negz could you delete `release-1.10`?

[2022-09-01 14:52] cwilhit opened #3282 "Proposal: Rev the Getting Started Guide on XP Docs"
### What problem are you facing?

I've been talking with a lot of users in the community and I've noticed a theme that the docs--`getting started`, notably--are difficult to follow. The guide introduces a lot of technical concepts at once (with plenty of acronyms, to boot). Make no mistake: the Crossplane documentation is packed with a lot of great content. But it needs to reworked to lower the le

[2022-09-01 15:03] mckenzig opened #3283 "Helm chart missing license"
### What problem are you facing?
Hi I am working with an enterprise which requires helm charts to be onbarded to in internal repository. The onboarding process requires the chart to have a license declared as defined here:

https://helm.sh/docs/topics/charts/

The onboarding is complaining that a license is not included in the crossplane chart 1.10.0-rc.0.112.g83356388 I am onboarding

Looking at

[2022-09-01 15:54] MisterMX opened #3284 "Transforms: Support parsing strings as `resource.Quanitity` to `float64`"
### What problem are you facing?

K8s does not recommend using floats in APIs [[1]](https://github.com/kubernetes-sigs/controller-tools/issues/245#issuecomment-518465214) and instead promotes the use of integers when dealing with numbers.

However, some apps require numbers with decimal points, such as the (haha) official [Kubernetes autoscaler](https://github.com/kubernetes/autoscaler/blob/8ba185

[2022-09-01 16:22] MisterMX commented on #3274
I agree. We have a special case here since a CompositionRevision is basically just a historic version of a Composition with different kind.

Another argument that speaks for the import solution is that CompositionRevision is expected to land in `v1` at some point in the future. And it is also something of an internal type, because users never create revisions directly.

[2022-09-01 16:27] MisterMX commented on #3270
@Santosh1176 I guess you can work on this. Though I think this is not about `patchStrategy` (do we have this field?) and more about patches and a new patch type in general.

[2022-09-01 17:53] muvaf commented on #3282
Some earlier discussions https://github.com/crossplane/crossplane/issues/2322

[2022-09-01 21:08] negz commented on #3282
We're certainly open to improvements here. One thing I would ask is that we try to be guided by "data" (or at least sound logic) as much as possible when we make any significant changes to the docs. Docs tend to be incredibly subjective, and we used to regularly fall into the trap of rewriting the docs and finding that we'd just made them different, not better.

[2022-09-02 00:50] codes4coffee opened #3285 "Docs: Add basic StoreConfig example using type Kubernetes"
The documentation only contains a complex example of setting up an external StoreConfig with Vault. Can a basic example that uses Kubernetes secrets as well as touching on the concepts of StoreConfig be added to the docs? It was really difficult figuring out how to use StoreConfig, and I still haven't gotten it working.

[2022-09-02 13:19] MisterMX opened #3286 "Claim: Composite Name is regenerated if `spec.resourceRef.name` is set"
### What happened?

The reference to the composite resource in the claim is stored at `spec.resourceRef`. When the composite is deleted by the user, Crossplane will try to create a new composite - **always with a new name**. This, however, will fail because the resource reference still exists with the old name the controller will fail with the message
[code]

### How can we reproduce it?

1. Claim

[2022-09-02 18:43] spkane opened #3288 "Make it possible to sideload provider and configuration packages (`*.xpkg`) into Crossplane"
### What problem are you facing?
During the early development of new provider and configuration packages it would be convenient to sideload any `*.xpkg` into the cluster without requiring that they be pushed up to and pulled down from an OCI registry.

### How could Crossplane help solve your problem?
Create and document a workflow for this process.

[2022-09-02 20:37] negz commented on #3285
CC @turkenh

[2022-09-02 22:44] aabouzaid commented on #3140
Here is the API of the OpenShift project.
https://api.openshift.com/

[2022-09-02 23:27] bobh66 commented on #3225
In testing these changes I discovered that the Claim is not defined as an Owner of the Composite - there is no ownerReference in the Composite object pointing at the Claim.  I assume this is intentional, but it also disables foreground cascading deletion because Kubernetes garbage collection creates the resource graph using ownerReferences.  Since there is no ownerReference, the foregroundDeletion

[2022-09-02 23:28] negz commented on #3277
@muvaf I just took a look and don't see `release-1.10` so I'm guessing someone else beat me to it.

[2022-09-02 23:31] negz commented on #3288
I agree that documenting this would be good. FWIW I'm pretty sure it's possible - it's been a minute since I've done any provider development but I'm fairly sure my process is typically:

1. Make sure my current `~/.kube/config` context is pointing at the cluster where Crossplane is running.
2. `kubectl apply -f package/crds` for my provider (and if necessary make sure I have RBAC access to them)

[2022-09-02 23:58] #2121 closed

[2022-09-03 00:09] #2890 closed

[2022-09-03 01:53] bobh66 commented on #3262
The error leg records an Event for this condition - https://github.com/crossplane/crossplane/blob/master/internal/controller/apiextensions/composite/reconciler.go#L496 - but there are times when the events don't show up in the describe output so the composite is not reconciling but there is no indication of why outside of the debug logs.

If the intent is to provide the user with enough informatio

[2022-09-03 02:44] bobh66 commented on #3225
I assume that there is no ownerReference so that the Claim reconciler can handle the composite deletion itself here - https://github.com/crossplane/crossplane/blob/master/internal/controller/apiextensions/claim/reconciler.go#L377

Is there a reason to do the composite delete explicitly in the reconciler instead of letting kubernetes handle it via an ownerReference?

[2022-09-03 13:02] Santosh1176 commented on #3283
Can I work on this by adding the Licence to the chart?

[2022-09-03 13:54] Santosh1176 commented on #3270
Thanks for clarifying @MisterMX. Is this about adding a new patch type `fromLiteral` and Apply functionality to it? Sorry, if I am asking for too much.

[2022-09-03 14:48] spkane commented on #3288
My thought was that it would be nice to sideload the actual `*.xpkg` file into the cluster in a way that the controller can use it in the same fashion that it would if pulled from a registry so that you can test the whole thing, if possible.

That being said, having directions on how to unpack the `*.xpkg` and apply the correct manifests would be useful.

[2022-09-03 15:13] bobh66 commented on #3225
Since the Claim->Composite relationship is being handled explicitly, what about adding another DeletionPolicy value of "Foreground" that only applies to Claims/Composites (it makes no sense to apply it to Managed Resources) and only gets used in the claim reconciler?  If the DeletionPolicy on the Claim/Composite is set to "Foreground", then that option gets passed to the r.client.Delete() command

[2022-09-04 07:29] muvaf commented on #2863
/fresh

https://github.com/crossplane/crossplane-tools/pull/45 to check breaking changes has been merged but we'll need follow-up PRs to integrate it with providers.

[2022-09-04 13:38] tanujd11 commented on #3181
@negz can I take this up?

[2022-09-04 16:28] bobh66 commented on #3225
I thought it might be possible to detect the cascading foreground deletion request when the Claim was deleted - kubernetes seems to apply the foregroundDeletion finalizer to the claim for a brief period of time, but it's not there when the Claim reconciler gets the object, so we can't call the composite Delete() with the Foreground Propagation Policy which would serve the same purpose as having an

[2022-09-05 07:21] MisterMX commented on #3181
@tanujd11 sure you can!

[2022-09-05 07:31] MisterMX commented on #3270
Judging from the provided example, I would say yes.

Although, I think we should support other datatypes as well, not just strings. Maybe with a `fromValue` patch that can store any kind of [JSON](https://pkg.go.dev/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1#JSON) data:

[code]

[2022-09-05 23:59] jbw976 commented on #3277
looks like release-1.10 branch still exists: https://github.com/crossplane/crossplane/commits/release-1.10

But it looks like it's from 2020 and It has the same exact commits that [release-0.10](https://github.com/crossplane/crossplane/tree/release-0.10) has - perhaps it was created by mistake back then?

The delete button looks to be disabled though, so I'm not able to delete it.  Not sure why th

[2022-09-06 15:50] bobh66 commented on #3225
It looks like there are a couple of options for allowing foregroundDeletion to work on the Claim:

1 - change the Claim/Composite code to put an ownerReference on the Composite that points at the Claim, and remove the explicit Delete of the Composite from the Claim reconciler.  This essentially lets k8s handle the deletion of the composite.

2 - Add an attribute to the Claim/Composite which can be

[2022-09-06 18:31] haarchri commented on #3288
can you have a look at:

https://github.com/crossplane-contrib/provider-zpa/blob/main/cluster/local/integration_tests.sh#L94
https://github.com/crossplane-contrib/provider-zpa/blob/main/cluster/local/integration_tests.sh#L145
https://github.com/crossplane-contrib/provider-zpa/blob/main/cluster/local/integration_tests.sh#L159

thinks its possible today

[2022-09-06 19:10] haarchri commented on #3288
you can check: https://github.com/crossplane-contrib/provider-aws/blob/master/cluster/local/integration_tests.sh

[2022-09-06 20:26] negz commented on #3225
@bobh66 Thanks for looking into this. I generally like the approach of enabling foreground deletion. I thought that we had ruled this approach out as something we couldn't make work, but that was a long time ago and I don't recall why. Perhaps @muvaf does (though I believe he's out on vacation)?

Unfortunately it's not possible for a claim to be the owner or controller of an XR because claims are

[2022-09-06 20:59] wwentland commented on #2295
This issue is still present, please reopen.

[2022-09-06 21:06] wwentland commented on #3030
/fresh

This can still be reproduced, please do not close.

[2022-09-06 21:14] wwentland commented on #2295
/fresh

This can still be reproduced, please re-open.

[2022-09-07 01:56] #3097 closed

[2022-09-07 03:12] bobh66 commented on #3225
Thanks @negz - I knew there had to be a good reason for the way it is designed.

That's true, the Crossplane resource instance (Claim, Composite or Managed) is preserved until the last finalizer is removed, but the Crossplane reconcilers execute their Delete logic without regard for the external finalizers, and so the "external" state of the resources is not maintained while the finalizers exist.

[2022-09-07 03:28] dee0sap opened #3293 "rbac manager pod crashes with leader election error on google cloud"
### What happened?
We are deploying to clusters on Azure, AWS and GCP.
On GCP we are seeing that the rbac manager pod exits periodically and unexpectedly.   It could run for hours or a few days before exiting.

[code]

Thread where this was mentioned in slack
https://crossplane.slack.com/archives/CEG3T90A1/p1661969338405399

Might be a coincidence, but we had two clusters where we rolled the pods

[2022-09-07 04:01] negz commented on #3293
I think I've seen this too. The good news is that it shouldn't meaningfully effect Crossplane functioning, but it would be nice to fix. It looks like we give Crossplane core a slightly longer than default lease timeout - I bet replicating that to the RBAC manager would help. See https://github.com/crossplane/crossplane/blob/b01b17353/cmd/crossplane/core/core.go#L90.

[2022-09-07 04:07] dee0sap commented on #3293
Hm, pity that isn't something that is configurable.   Then I could play with it to see if reducing the lease exacerbated the problem and extending it alleviated the problem.

[2022-09-07 12:19] mckenzig commented on #3283
@Santosh1176 @negz Modify the helm makefile to copy the license into the help package before pushing it?

[2022-09-07 14:42] hasheddan commented on #3288
+1 to @haarchri suggestion -- there is some light documentation on this in https://crossplane.io/docs/v1.9/concepts/packages.html#pre-populating-the-package-cache

[2022-09-07 18:51] hasheddan opened #3294 "Honor `imagePullSecrets` on the Crossplane `ServiceAccount` and propagate to dependencies and Provider `Deployment`s"
### What problem are you facing?

Crossplane has a dedicated `ServiceAccount` that [gets created on installation](https://github.com/crossplane/crossplane/blob/b01b17353198a8de28664cf1eec601aaaf2fd95a/cluster/charts/crossplane/templates/serviceaccount.yaml#L2). The Helm chart allows for attaching `imagePullSecrets`, but currently the package manager does [falls back](https://github.com/google/go-c

[2022-09-07 18:55] hasheddan opened #3295 "Package revisions do not consider version when removing self from `Lock`"
### What happened?

Upgrading a version of a package can fail if an older `Inactive` revision exists due to the fact that the old revision [only considers `source`](https://github.com/crossplane/crossplane/blob/b01b17353198a8de28664cf1eec601aaaf2fd95a/internal/controller/pkg/revision/dependency.go#L237) (not `version`) when removing itself from the `Lock`. This can cause the revisions to fight in

[2022-09-07 19:40] dee0sap commented on #3293
Was reviewing more clusters and I found this problem also happened in AWS.   So it just seems to be happening more frequently in GCP for some reason.

[2022-09-07 21:08] vasicvuk opened #3296 "Provider upgrade procedure"
### What problem are you facing?

I am trying without sucess to find a document that describes what happens if provider such as AWS introduced new resource version for example v1beta1 and deprecates v1alpha1 totally. If we have EKS Cluster deployed will provider itself migrate the existing resources, or this should be done manually, If the answers is manually, then what is the common procedure for

[2022-09-08 17:09] hasheddan opened #3298 "Cut v1.7.3 Release on September 12, 2022"
This issue can be closed when we have completed the following steps (in order).
Please ensure all artifacts (PRs, workflow runs, Tweets, etc) are linked from
this issue for posterity. Refer to this [prior release issue][release-1.7] for
examples of each step.

- [x] Updated all version information in the documentation on the relevant release branch.
- [x] Run the [Tag workflow][tag-workflow] on th

[2022-09-08 17:09] hasheddan opened #3299 "Cut v1.8.2 Release on September 12, 2022"
This issue can be closed when we have completed the following steps (in order).
Please ensure all artifacts (PRs, workflow runs, Tweets, etc) are linked from
this issue for posterity. Refer to this [prior release issue][release-1.7] for
examples of each step.

- [x] Updated all version information in the documentation on the relevant release branch.
- [x] Run the [Tag workflow][tag-workflow] on th

[2022-09-08 17:10] hasheddan opened #3300 "Cut v1.9.1 Release on September 12, 2022"
This issue can be closed when we have completed the following steps (in order).
Please ensure all artifacts (PRs, workflow runs, Tweets, etc) are linked from
this issue for posterity. Refer to this [prior release issue][release-1.7] for
examples of each step.

- [x] Updated all version information in the documentation on the relevant release branch.
- [x] Run the [Tag workflow][tag-workflow] on th

[2022-09-08 17:24] hasheddan commented on #3298
Would like to get https://github.com/crossplane/crossplane/issues/3295 in before this release.

[2022-09-08 17:24] hasheddan commented on #3299
Would like to get https://github.com/crossplane/crossplane/issues/3295 in before this release.

[2022-09-08 17:24] hasheddan commented on #3300
Would like to get https://github.com/crossplane/crossplane/issues/3295 in before this release.

[2022-09-08 17:41] h20220025 commented on #3293
Can I work on this one! Need to know more about the issue.

[2022-09-09 01:58] #3084 closed

[2022-09-09 01:58] #2647 closed, assigned to nobody

[2022-09-09 01:58] #2367 closed

[2022-09-12 00:59] hasheddan commented on #2219
Assigning myself here as this is something I would like to address as part of the v1.10 release. I think this is partly a documentation issue (i.e. we should have a more comprehensive provider upgrade guide), but we can also improve the way the package manager transitions ownership.

[2022-09-12 12:43] kiote commented on #3199
From what I see so far option offered here https://github.com/crossplane/crossplane/issues/3199#issuecomment-1192730066 seems to be quite easy to implement.

If no one started to work on it yet, I'd take it.

[2022-09-12 15:04] MisterMX commented on #3199
@kiote I actually planned to start working on this in the next days. But if you have time go ahead ;)

[2022-09-12 15:27] didip opened #3305 "Installation failure when trying to install CrossPlane"
### What happened?
I am trying to follow the [documentation](https://crossplane.io/docs/v1.9/getting-started/install-configure.html) by running:
[code]
And this is my `kubectl version`:
[code]
And my `aws --version`:
[code]

### How can we reproduce it?

[code]

### What environment did it happen in?
Crossplane version: It supposed to be the latest.

[2022-09-12 20:04] negz commented on #3296
Thanks @vasicvuk. I agree this should be better documented.

I recently added https://github.com/crossplane/crossplane/blob/b01b173/docs/reference/feature-lifecycle.md which touches on some of this. Specifically, there's no contract around v1alphaN resources when it comes to upgrades. They may be dropped and require manual intervention to update to v1beta1 (or indeed be dropped without having new

[2022-09-12 20:07] negz commented on #3305
@didip Did you install Crossplane via its Helm chart before trying to install the CLI and a Configuration? See https://crossplane.io/docs/v1.9/getting-started/install-configure.html#install-crossplane.

The error you're getting indicates Crossplane did not install the `Configuration` CRD it needs to function - try `kubectl -n crossplane-system get pods` to determine whether the Crossplane pods are

[2022-09-12 20:13] negz commented on #3293
I think it would be reasonable to make this a flag.

[2022-09-12 21:30] #2850 closed

[2022-09-12 23:59] #3295 closed

[2022-09-13 06:51] vasicvuk commented on #3296
Hi @negz,

AWS for example as a provider already has some v1beta1 resources. Currently, we are facing a problem choosing Crossplane as a project that we would like to integrate with since we don't have a clear vision of how much time would be needed to maintain it afterward.

[2022-09-13 07:39] kiote commented on #3199
hi @MisterMX then you do it :) I thought about starting in a few days as well, so if you were inclined to do the same, I'll pass and find some other issue to work on :+1:

[2022-09-13 09:11] MisterMX commented on #3199
I spent some more thoughts on whether to extend the `map` transform or create a new `match` transform.

* `map` API is difficult to extend because it allows no sub properties.
* Mapping is currently done by checking for a key in the Go map directly. If keys are treated as Regexps and given the unsorted order of Go maps, how can we ensure order if multiple matches occur?
* What if we decide to matc

[2022-09-13 09:37] Creatone opened #3313 "Missing `writeConnectionSecretToRef` field from Composite Resource in XR."
### What happened?

Missing `writeConnectionSecretToRef` field from Composite Resource in XR.
It's present in the XR `kubectl.kubernetes.io/last-applied-configuration` annotation.

### How can we reproduce it?

I'm missing this field each time.
### What environment did it happen in?
Crossplane version: 1.9.0, 1.8.1

[2022-09-13 11:39] haarchri commented on #3293
we see the same in aws

`crossplane-rbac-manager-799fc56665-cqtrb                        1/1     Running   199        36d`

[2022-09-13 11:51] turkenh commented on #3313
@Creatone could you give some more details, ideally with some example YAMLs?

[2022-09-13 12:10] Creatone commented on #3313
Example claim:
[code]

and I want to use `writeConnectionSecretToRef.Name` in this composition:
[code]

Sorry I cannot share all details.

[2022-09-13 17:54] jbw976 commented on #3277
Aha, deletions of release branches was not enabled in the [branch protection rules](https://github.com/crossplane/crossplane/settings/branches). I temporarily enabled that, deleted the release-1.10 branch in the [UI](https://github.com/crossplane/crossplane/branches/all), then disabled branch deleting again to restore the branch protection rules back to the way they were.

The [release-1.10 branch

[2022-09-14 01:56] #3128 closed

[2022-09-14 09:07] MisterMX commented on #3225
I am not sure if that relates to the core of this issue but I think the deletion process could be "improved" by keeping the finalizer alive until all subresources are gone. Meaning, the XR stays alive until the XRC is gone and the XRC stays alive until all composed resources are gone.

I get a lot of complains from users that the XRs instantly vanish while MRs stay around until deletion (if you do

[2022-09-14 09:17] turkenh commented on #3313
@Creatone `claims (XRCs)`, `composites (XRs)` and composed resources (MRs) should own separate connection secrets. In other words, a connection secret could not be owned by both claim and MR which seems like what you're trying to achieve.

Another point is, In your case, the `kafka-example` `KafkaInstance` (claim) owns the connection secret `kafka-secret` in `my-ns` namespace. The corresponding co

[2022-09-14 12:27] Creatone commented on #3313
@turkenh it seems that I miss understanding API. This https://github.com/crossplane/crossplane/blob/37dc5c378814886964c5a0780753796963df63ad/docs/reference/composition.md#composite-resources-and-claims docs lead me to this conclusion.

Could you show me example of usage of `writeConnectionSecretToRef.name` from claim ( XCRs ) ?

[2022-09-14 13:23] hasheddan commented on #3298
Tag workflow: https://github.com/crossplane/crossplane/actions/runs/3053151501

[2022-09-14 13:24] hasheddan commented on #3299
Tag workflow: https://github.com/crossplane/crossplane/actions/runs/3053159185

[2022-09-14 13:25] hasheddan commented on #3300
Tag workflow: https://github.com/crossplane/crossplane/actions/runs/3053163910

[2022-09-14 13:26] hasheddan commented on #3298
CI workflow: https://github.com/crossplane/crossplane/actions/runs/3053169665

[2022-09-14 13:26] hasheddan commented on #3299
CI workflow: https://github.com/crossplane/crossplane/actions/runs/3053170601

[2022-09-14 13:27] hasheddan commented on #3300
CI workflow: https://github.com/crossplane/crossplane/actions/runs/3053171549

[2022-09-14 13:28] hasheddan commented on #3298
Configurations workflow: https://github.com/crossplane/crossplane/actions/runs/3053180122

[2022-09-14 13:28] hasheddan commented on #3299
Configurations workflow: https://github.com/crossplane/crossplane/actions/runs/3053181073

[2022-09-14 13:28] hasheddan commented on #3300
Configurations workflow: https://github.com/crossplane/crossplane/actions/runs/3053181636

[2022-09-14 13:44] hasheddan commented on #3298
Promote workflow: https://github.com/crossplane/crossplane/actions/runs/3053296971

[2022-09-14 13:44] hasheddan commented on #3299
https://github.com/crossplane/crossplane/actions/runs/3053301402

[2022-09-14 13:45] hasheddan commented on #3300
Promote workflow: https://github.com/crossplane/crossplane/actions/runs/3053303671

[2022-09-14 13:52] bobh66 commented on #3225
I believe this change will do what you are asking, with the exception of the XRC->XR., though that could also be implemented via a finalizer if so desired.

In the existing implementation of these changes, all of the resources that "belong" to an XR (MRs and other XRs) will all be deleted before the XR is deleted, working from the edge nodes towards the top-level Composite.

However since the clus

[2022-09-14 14:03] hasheddan commented on #3298
https://github.com/crossplane/crossplane/releases/tag/v1.7.3

[2022-09-14 14:03] hasheddan commented on #3299
https://github.com/crossplane/crossplane/releases/tag/v1.8.2

[2022-09-14 14:03] hasheddan commented on #3300
https://github.com/crossplane/crossplane/releases/tag/v1.9.1

[2022-09-14 17:18] fabioaraujopt commented on #1895
This would be really useful, some of the examples here relied on the fact the provider accept some kind of "SecretRef".
However in a composition containing this resource:
[code]

how would crossplane solve the problem?

[2022-09-14 21:43] bluedog13 opened #3322 "Azure deployment: failed to get SPT from client credentials"
### What happened?
The "SYNCED" status is always "false" when I try to deploy a resource into Azure. I have the creds.json file and have generated the secret using creds.json file as well.

I am following the example provided [here](https://crossplane.io/docs/v1.9/getting-started/provision-infrastructure.html) to deploy a resource in Azure.

I see the below error when i run the describe command on

[2022-09-14 22:48] bluedog13 commented on #3322
Moved the bug to [provider-azure](https://github.com/crossplane-contrib/provider-azure/issues/351) space.

[2022-09-14 22:49] #3322 closed

[2022-09-15 01:49] bobh66 opened #3323 "Proposal: Reconcile Finalizers"
### What problem are you facing?
One way in which Kubernetes represents dependencies between resources is via finalizers.  A resource with a dependency on another resource can place a finalizer on it's dependency so that the dependency cannot be deleted until the dependent resource removes the finalizer.

Crossplane Composites are collections of other resources, so any dependency on a Claim or Com

[2022-09-15 01:55] bobh66 commented on #3323
@morningspace @ytsarev FYI

[2022-09-15 07:12] MisterMX commented on #1895
Related to https://github.com/crossplane-contrib/provider-aws/pull/1413

[2022-09-15 09:42] turkenh commented on #3313
@Creatone cool. You can find some examples below (not sure that they are exactly doing what you're trying to though):

https://github.com/upbound/platform-ref-gcp/blob/main/examples/cluster.yaml
https://github.com/upbound/platform-ref-aws/blob/main/examples/cluster.yaml
https://github.com/upbound/platform-ref-multi-vault/blob/main/examples/vaultcluster.yaml

[2022-09-15 13:36] Creatone commented on #3313
@turkenh thanks, after some investigation I found out that missing `spec.writeConnectionSecretsToNamespace` in `Composition` leads to missing `writeConnectionSecretToRef` in `Composite Resource` (XR) and that leads even to missing the connection details/connection secrets.

There is no warning, maybe should be any?

[2022-09-15 18:24] negz commented on #3225
@bobh66 That sounds reasonable.

[2022-09-16 10:14] #3283 closed

[2022-09-16 10:20] MisterMX commented on #3225
Does it makes sense to let the claim deletion behave like defined in `spec.compositeDeletionPolicy` (`Foreground`, `Background` or `Orphan`), ignoring any additional finalizers and the `--cascade` option (which we cannot access anyway, appearently)?

And let all composed resources have `blockOwnerDeletion: true` set, so the deletion behaves as intended by the `--cascade` option?

Additionally we a

[2022-09-16 14:56] bobh66 commented on #3225
compositeDeletePolicy does not have an Orphan option as it is currently defined - I don't think it makes sense to "Orphan" a Composite object the way we Orphan Managed Resources.

That is set in the crossplane-runtime code change:
https://github.com/crossplane/crossplane-runtime/pull/355/files#diff-898270f422155d6d5b46facaf0aaafe21c07e22a7ee4544b2c5ae0f7ed9eb3c6R117

Is this intended to prevent th

[2022-09-16 22:01] jessesuen commented on #3272
Thanks for the heads up @negz. I took a look at what we're doing in Argo CD.

Our default Client QPS is 50 which is overridable with `ARGOCD_K8S_CLIENT_QPS` env var to controller.
https://github.com/argoproj/argo-cd/blob/master/pkg/apis/application/v1alpha1/cluster_constants.go#L42

We do not have a separate control for discovery QPS, and so we end up using the same QPS value for discovery:
[code]

[2022-09-17 00:39] #3150 closed

[2022-09-19 07:52] MisterMX commented on #3274
@negz one thought that caught me during the weekend was the design of CompositionRevisions in general. What if there are breaking changes in the Composition API in the future? How does Crossplane switch between pre- and post-breaking revisions?

Maybe you have discussed this already, but wouldn't it make sense to store the composition as a JSON blob inside the Revision instead of having to revisio

[2022-09-19 09:55] luebken opened #3329 "Can't install package configuration"
### What happened?
I try to install a basic configuration package and get the following error:

`cannot initialize parser backend: failed to open package stream file: EOF`

### How can we reproduce it?
See https://github.com/luebken/config-test/ for a simple example.

[code]
### What environment did it happen in?
[code]

[2022-09-19 10:57] luebken commented on #3329
Fixed by switching to `kubectl crossplane config push` https://github.com/luebken/config-test/commit/0e5b7d48197772961c2160650e88db5eca3985cc

[2022-09-19 10:57] #3329 closed

[2022-09-19 14:01] hasheddan opened #3330 "Consider not blocking dependency installation on inability to install others"
### What problem are you facing?

Currently, if we are unable to [fetch tags](https://github.com/crossplane/crossplane/blob/master/internal/controller/pkg/resolver/reconciler.go#L235) for a dependency, we are unable to install any other dependencies for which we may have access.

### How could Crossplane help solve your problem?

We should consider installing the subset of dependencies we have acc

[2022-09-20 01:56] #3118 closed

[2022-09-20 20:33] ytsarev commented on #3329
FWIW, I am packaging and pushing platform-refs with
[code]
whole day and it works like a charm.

[2022-09-20 21:11] negz commented on #3274
The Composition API is v1, so we really can't make breaking changes. If we did, we'd have to introduce v2 and keep serving a round-trappable v1 API variant. I imagine we'd do the same with CompositionRevisions.

That aside, some revision implementations do work the way you suggest where the revision stores an opaque blob of the type under "revision control". Under this approach setting the "active

[2022-09-21 00:27] bobh66 commented on #1612
Would this be handled natively by kubernetes if blockOwnerDeletion is set to true in the Controller ownerReferences?  At least on the composite case where the ownerReferences allow the garbage collector to generate a graph.

[2022-09-21 12:54] natereid72 commented on #2928
this is resolved via argo cd

[2022-09-21 12:54] #2928 closed

[2022-09-22 07:45] #3313 closed

[2022-09-22 17:15] ulucinar opened #3335 "Support merging with an array item in composition patches"
### What problem are you facing?

We have recently encountered an issue with a Crossplane composition that patches the selector field of an array item. Crossplane [does a merge patch](https://github.com/crossplane/crossplane-runtime/blob/619edbacb81eb9b4ccb6a5a7ba8f07d74cc07dc9/pkg/resource/api.go#L157), which overrides the whole array element together with the target field and the reference field

[2022-09-22 17:24] bobh66 commented on #3335
Did you try the mergeOptions appendSlice policy as described here:  https://crossplane.io/docs/v1.9/reference/composition.html#compositions ?

[2022-09-22 20:22] hasheddan commented on #2472
/fresh

[2022-09-22 22:29] HarrisonTotty commented on #3120
This would be absolutely useful to us. We have developed a composition that creates an AWS RDS instance and would like to be able to also create a `Service` of type `ExternalName` with the same name as the claim so that our developer's code can always point to the same address (mainly `<claim name>.<namespace>.svc.cluster.local`).

[2022-09-23 06:23] erikgb commented on #2672
Still relevant.

/fresh

[2022-09-23 06:36] erikgb commented on #2672
/fresh

Still relevant.

[2022-09-23 08:43] ytsarev commented on #3055
/fresh crossplane plugin is still around

[2022-09-23 13:37] MisterMX commented on #2472
I believe this problem could be avoided by using `kube.Patch()` instead of `kube.Update()`?

[2022-09-23 13:55] MisterMX commented on #3274
Does this mean it won't be possible to have a fluent migration from v1 to a possible future v2 Composition?

I understand. However, package revision types are somewhat of an "active" resource with a controller in the background that reconciles it and has an effect on the cluster. A CompositionRevision on the other hand is "passive" and basically just a JSON blob. It's sole presence on the cluster

[2022-09-23 14:29] bobh66 commented on #3274
I like that analogy.  We essentially want to take a snapshot of the Composition at the time the Composite is created, and only reconcile the Composite against that version/revision/commit of the Composition.  Then later on we might want to "rebase" the Composite to a later revision/commit of the Composition.

[2022-09-23 14:39] ulucinar commented on #3335
Hi @bobh66,
Thank you for the pointer. I think the appendSlice is for appending a new slice item in addition to the existing ones in the observed state when patching. However, what we need here is to be able to merge with an existing slice item via a designated key. This would be similar to Kubernetes strategic merge patching with a similar need for the specification of a `patchMergeKey` in additi

[2022-09-24 01:32] negz commented on #3335
Is there any upstream machinery that could help with this? In particular I suspect we're overdue to move to server-side apply which appears to have 'built in' support for merge strategies on custom resources - https://kubernetes.io/docs/reference/using-api/server-side-apply/#merge-strategy

[2022-09-24 02:40] negz commented on #2439
@valorl I do like the idea that EKS should clean up after itself, but unfortunately this only seems to be the most common/painful instance of the problem. I note for example that per https://cloud.google.com/kubernetes-engine/docs/how-to/deleting-a-cluster GKE won't necessarily clean up LBs or volumes when you delete the cluster.

[2022-09-24 11:01] muvaf commented on #3335
If I'd like to patch `spec.forProvider.bArr[0].targetSelector.matchLabels[key2]` and other properties of `spec.forProvider.bArr[0]` get affected by this for some reason, I'd say this is a bug regardless of the underlying machinery. So I changed the label to `bug`.

[2022-09-24 11:16] muvaf commented on #2439
Just noting here that there is some discussion regarding this problem here https://github.com/crossplane/crossplane/discussions/3116#discussioncomment-2856158 .

IMO, `ConnectionSecretUsage` pattern suggested there would cover a lot of grounds here without any user involvement and it's a familiar pattern. But that wouldn't include the cases like LB deletion because Crossplane effectively has no id

[2022-09-24 17:04] mogul commented on #1692
In case anyone is interested: I found that someone has implemented a Crossplane-to-OSBAPI adapter.
https://kb.vshn.ch/app-catalog/explanations/crossplane_service_broker.html

I would _love_ to see something like this made a native part of Crossplane so that operators can better meet app developers where they are... Whether that's via native Crossplane abstractions, via `svcat` (via OSBAPI) or in C

[2022-09-26 01:55] #1977 closed

[2022-09-26 07:40] tobru commented on #1692
The Crossplane Service Broker found under https://github.com/vshn/crossplane-service-broker is designed with reusability in mind. If there is interest in the Crossplane community to continue developing this project, it would certainly be possible to donate it to the Crossplane project (probably under crossplane-contrib). Or simply start using it and report back issues or contribute fixes.

[2022-09-26 10:17] developer-guy commented on #3048
We did the same effort in Flux v2, you can take a look at the following issue 👇

https://github.com/fluxcd/source-controller/issues/863

/cc @stefanprodan @dentrax

[2022-09-26 12:37] Piotr1215 opened #3339 "Consider removing `aggregationRule` to support working in restricted environments"
### What problem are you facing?

Crossplane requires admin privileges on the crossplane service account due to

[code]
This prevents Crossplane from working in restricted environments.

### How could Crossplane help solve your problem?

Remove the `aggregationRule` to enable Crossplane to work in restricted environments.

[2022-09-26 13:09] Rishikeshcg opened #3340 "Consider adding vpcPeeringConnectionIdRef in Route table"
In the route tables, there is no option to refer a peering connection without hardcoding the peering connection id. If vpcPeeringConnectionIdRef or Selector is added, there is no need to hardcode the peering id.

[2022-09-26 13:10] jessesanford commented on #3048
That's exactly what we are thinking. Would love the help @developer-guy! @hasheddan should we extend the one pager to include the cli changes or create a new one?

[2022-09-26 13:16] hasheddan commented on #3048
I don't think we necessarily need to bring Crossplane CLI into scope (at least initially) here. One of the benefits of using OCI images is that users can rely on the same tooling they use elsewhere. In this case, `cosign` itself can be used to perform the signing.

xref https://github.com/crossplane/crossplane/issues/3055

[2022-09-26 14:06] jessesanford commented on #3048
Fair enough. At the very least it might be interesting to have some examples created on how to implement signing into a workflow that produces xpkgs. Maybe some documentation additions?

[2022-09-26 14:09] jessesanford commented on #3048
@developer-guy, @turkenh if you still want to lend a hand, I have started coalescing commits for a initial implementation for validation here: https://github.com/crossplane/crossplane/compare/master...jessesanford:crossplane:master

Right now I am just doing simple signature validation with x509 certs. I think that a next step iteration to implement policy validation would be very helpful. Were yo

[2022-09-26 17:15] rahtr opened #3341 "Composite resource Postgresql not deleted after deleting the claim."
### What happened?

I am following the setting started documentation(https://github.com/crossplane/crossplane/blob/master/docs/getting-started/provision-infrastructure.md) and was able to deploy a RDS instance.
I am somehow unable to delete the instance. I executed this command: `kubectl delete postgresqlinstance my-db` but the I can still see this instance in AWS:

<img width="1441" alt="image" s

[2022-09-27 04:58] AndresPineros opened #3342 "Feature: Sync resources as soon as their definitions are updated"
### What problem are you facing?

I don't want to have a small poll-interval because at some point I'd reach the AWS API ratelimit, as shown in [#1412 aws-provider](https://github.com/crossplane-contrib/provider-aws/issues/1412). I'd like to be able to specify a poll-interval of 5h or greater. I don't really care for a constant poll that checks the state of the resources because we don't allow for

[2022-09-27 08:04] ytsarev commented on #3340
@Rishikeshcg does not seem related to the core crossplane.  Could you please open this issue in the associated provider repository?

[2022-09-27 08:04] #3340 closed

[2022-09-27 15:25] AndresPineros commented on #3341
I also see this problem in verson v1.9

I need to remove RDS instances manually, otherwise the finalizers of the RdsInstance resource are never done.

[2022-09-27 22:33] negz commented on #1770
Last night I was wondering whether a mutating admission control webhook could resolve a Reference object to satisfy required fields, but in retrospect this wouldn't work. Probably for a bunch of reasons (client-side validation? Do mutating admission control webhooks even run before OpenAPI validation?), but mostly because the webhook would have to reject create requests if the Reference object ref

[2022-09-28 00:31] negz commented on #3323
I don't think this is actually how finalizers are typically used. In fact, I think it may be an anti-pattern.

Specifically I don't think its true that resources place finalizers on their dependencies. Rather, I believe its the case that resources (i.e. resource controllers) place finalizers on _themselves_ to indicate they _may be_ a dependency and should ensure no dependents exist before they ca

[2022-09-28 02:14] negz commented on #3339
Can you elaborate? What environments restrict aggregation rules? How do they do that?

[2022-09-28 02:19] negz commented on #3342
This is already the case.

We _also_ poll in order to correct unforeseen drift, because there's no straightforward way to subscribe to changes to external resources.

Most providers already support this. For provider-aws `--poll=5h` should do it.

[2022-09-28 02:19] #3342 closed

[2022-09-28 02:22] negz commented on #3335
@muvaf I don't disagree - my point is that I'm wary of continuing to "reinvent the wheel" by teaching our client-side patching logic how to do what it seems SSA already does.

[2022-09-28 08:19] Feggah commented on #2524
/fresh

[2022-09-28 16:36] eaepstein opened #3345 "installing kubectl plugin has dependency on env "VERSION""
### What happened?

curl -sL https://raw.githubusercontent.com/crossplane/crossplane/master/install.sh | sh

downloaded the wrong thing from URL=https://releases.crossplane.io/stable/v16.17.0/bin/linux_amd64/crank

### How can we reproduce it?

have the env "VERSION" set to something unexpected before running install.sh, like "v16.17.0"

### What environment did it happen in?
Crossplane version: 1

[2022-09-28 20:03] muvaf commented on #3335
@negz Oh yeah, my comment wasn't really directed towards what approach we'd like to take. Just wanted to change it to be considered as a bug, which I think would impact whether we add a policy if we consider it as feature or improve the existing behavior if it's considered as bug.

From what I'm reading the doc you shared, `Using Server-Side Apply in a controller` section does describe the behavio

[2022-09-28 23:07] muvaf commented on #3335
I just gave it a shot. Added an applicator to crossplane-runtime in https://github.com/crossplane/crossplane-runtime/pull/358 that uses server-side apply as described [here](https://github.com/kubernetes-sigs/controller-runtime/issues/347).

First, I wanted to reproduce the behavior with what @ulucinar provided. Just needed to add the following to give Crossplane permissions to work with the CRD:

[2022-09-29 09:22] muvaf commented on #3335
I run another experiment today with the OpenAPI markers. In SSA (it doesn't work with client-side), you can designate a field to be the identifier of the array item and I did that by adding another field called `index` to the list above. The schema became the following for `bArr` field:
[code]

Then in the `Composition` template I assigned `0` to the `index` of the first element. It worked. When I

[2022-09-29 13:14] kaiquerass commented on #3285
I'm facing the same issue here. I have 2 examples, one using `publishConnectionDetailsTo`, which does not create any secret on kubernetes at all.
And the another one using `writeConnectionSecretToRef`, which creates the secret as expected. The only difference between those two manifests is this config, as you can see below:

[code]

[code]

I've even tried to create a default storeconfig for the p

[2022-09-29 18:40] muvaf commented on #3335
I've just updated the client-side experiment https://github.com/crossplane/crossplane/pull/3347 . Now, it's just a new `ApplyOption` that patches current object with every field of the desired state. It's working as expected with the test data @ulucinar provided.

[2022-09-29 19:08] negz commented on #1895
Reopened - I agree this is one that we want. I removed the "good first issue" label because we found it was trickier than we expected API and implementation wise back in https://github.com/crossplane/crossplane/pull/2308 label but anyone is still welcome to give this a shot.

[2022-09-29 19:40] Dentrax commented on #267
Hey @rochaporto, still working on this? Any updates? 🤔

[2022-09-29 21:15] negz commented on #3335
I think we should be biasing for moving toward SSA rather than extending (further diverging) our client-side patching logic.

Could we establish a pattern where we by default inject a string field "`name`" into arrays of objects (as in "name of this entry in the array", and use that as a map key? I feel like there's quite a bit of precedent for this in Kubernetes - e.g. the `containers` array in a

[2022-09-29 22:09] vfarcic opened #3348 "Secret key with multiple values"
### What problem are you facing?

I need to create a new secret key based on keys created by a Crossplane XR. For example, a database gives me a secret with `endpoint`, `port`, `username`, `password`, and I need to add to that secret (or create a new one) a key `uri` that combines those four.

### How could Crossplane help solve your problem?

Provide a mechanism to create a Secret key that is a c

[2022-09-29 23:30] bobh66 commented on #3323
Based on feedback from Nic and another idea that will solve most of the same problem without using finalizers, I'm closing this issue.

[2022-09-29 23:30] #3323 closed

[2022-09-30 08:49] muvaf commented on #1895
If we're not happy with implementing it per-resource, maybe having a new type in provider-kubernetes could make sense. Something like `GeneratedSecret` with options to change the shape of what's produced and it'd write the generated content to its connection details secret, which can be referenced by other members of the composition.

[2022-09-30 11:33] rochaporto commented on #267
Hi @Dentrax . We're meeting today between different people to work out how to best progress with this. Will update the ticket soon.

[2022-09-30 12:55] muvaf commented on #2656
I'm trying to get a complete list of issues need to be solved before `v1beta1`. What I'm looking for is essentially the issues that may result in breaking changes. Though given that we have webhook support, I think the bar for v1beta1 is lower than it used to be since we are now able to handle schema changes between two versions.

Behavior additions/changes:
* [ ] A stable identifier for revision

[2022-09-30 19:57] bobh66 commented on #1895
We use provider-terraform to generate random values and base64 encode them, then pass them as outputs to the places they are needed.

[2022-09-30 20:06] negz opened #3350 "Stop publishing crossplane-contrib extensions to crossplane OCI repository"
### What problem are you facing?

https://github.com/crossplane/crossplane/blob/dd87bfb/CHARTER.md
https://github.com/crossplane/crossplane/blob/dd87bfb/GOVERNANCE.md

Our charter and governance documents clarify that the crossplane-contrib GitHub org exists as a neutral place for the community to collaborate on Crossplane extensions (e.g. providers). Extensions aren't required to fall under Cross

[2022-10-01 19:07] muvaf commented on #3335
Agreed but I think there should be a ceiling to how much sacrifice we can make.

The map keys need to be either required or defaulted. Defaulting would be fine and non-breaking but defeats the purpose of unique identification. So, it'd be breaking change. (I just checked that apiserver enforces that uniqueness of given keys of the elements in the array. So, I'm guessing that they allow defaulting

[2022-10-02 14:30] #3288 closed

[2022-10-02 19:10] AndresPineros commented on #3342
Previous to opening the issue, I set the AWS poll interval to 5h and resources wouldn't sync after changing their definition. I waited about 10 minutes, nothing happened. Set the interval back to 1m and then the sync started.

[2022-10-03 21:42] rahtr commented on #3305
I am on the same boat as well. I am running a kind cluster and trying to reinstall Crossplane. I deployed the helm chart but the pods won't come up:

[code]

[code]

[code]

I couldn't find any logs which would point put out to the right direction. The installation did work for the first time.

[code]

[2022-10-04 02:02] hasheddan commented on #3157
@parul5sahoo is correct here 👍🏻 Crossplane maintains a separate cache than the node's container runtime, so if you populate the cache and use `packagePullPolicy: Never`, Crossplane should always use that cached package.

[2022-10-04 02:02] #3157 closed

[2022-10-04 10:02] muvaf commented on #3335
There are good arguments here https://github.com/kubernetes/website/pull/37110 in favor of SSA even if we don't have map keys, like "extract" method to filter only the changed fields. We could possibly move to SSA without solving the problem this issue describes to enable provider developers use map keys if they choose to do so. Ideally, it'd be no-op for others, hence we can continue the discussi

[2022-10-04 11:50] hasheddan opened #3356 "Document attaching package pull secrets to Crossplane ServiceAccount"
### What problem are you facing?

https://github.com/crossplane/crossplane/pull/3332 made it possible for pull secrets attached to the Crossplane `ServiceAccount` to be used when pulling packages. It did not provide documentation on how to do so.

### How could Crossplane help solve your problem?

We should add documentation on how to do so.

[2022-10-04 15:29] eloo commented on #2690
@negz @jbw976
have you tested the fix from @EdgeJ

for it looks still that appendSlice is not working.

with version 1.9.0 i still the same replace instead of merge as with 1.4.1

can you please check if this is really fixed? for me this is still buggy and thus we should reopen this ticket.

[2022-10-05 01:06] jbw976 commented on #2690
I have not personally tested the fix myself @eloo 😊  - a couple questions though:

* can you share a streamlined repro scenario and manifests that show the behavior you're still seeing?
* is your scenario covered by #3335 by any chance? There's been a lot of discussion there recently on a similar issue.

[2022-10-05 01:55] #2652 closed

[2022-10-05 02:57] negz opened #3361 "Deprecate `fromConnectionSecretKey` in `Composition`?"
### What problem are you facing?

Crossplane connection details were originally hardcoded to be Kubernetes Secrets, but we now have alpha support for secret stores that allow you to write them to other stores such as Vault. To that end we've started replacing references to "connection secrets" with "connection details" to distinguish them from Kubernetes Secrets.

Currently the documentation for t

[2022-10-05 02:58] negz commented on #3361
CC @turkenh

[2022-10-05 03:04] chewbh opened #3362 "Switch listing of crossplane charts in Artifact Hub from master to stable channel"
### What problem are you facing?
Currently, the listing of all crossplane helm charts in ArtifactHub are pointed to the master channel rather than the stable channel. Thus, we can't leverage on ArtifactHub to look for a stable release of crossplane charts. Thus pose a problem for us as our internal package mirroring tool rely on ArtifactHub api to search charts.

### How could Crossplane help solv

[2022-10-05 09:46] grafanalf commented on #3027
Any progress on this? I have some use cases that would benefit from being able to read data from existing Kubernetes resources, like Secrets and ConfigMaps. For example, for self-managed certificates in AWS ACM, uploaded from a Certificate provisioned by `cert-manager`.

[2022-10-05 11:36] eloo commented on #2690
@jbw976

i guess the mentioned issue is not covering this bug because in this issue here its about adding new items to a slice and not editing

you can use the definition and composition from here:
https://github.com/aws-samples/crossplane-aws-blueprints/blob/main/compositions/aws-provider/s3/definition.yaml
and the same composition (general-purpose.yaml) with additional tags in the composition li

[2022-10-06 00:44] hasheddan commented on #2535
Another use case for this functionality: https://github.com/crossplane-contrib/provider-terraform/pull/112#discussion_r988458764

[2022-10-06 00:48] bobh66 commented on #2535
I think in this scenario we would want the default configuration of the provider to have a volume mounted - adding it in the ControllerConfig would also be useful, but we don't want to require every user to set up a ControllerConfig for this scenario.

If we just want to clean up the Dockerfile we could move the /tf content to /var/tmp/tf or something similar, since the content is volatile whereve

[2022-10-06 14:52] EdgeJ commented on #2690
I decided to test this out locally myself to verify whether this fix actually worked. When I create the same compositions/claims against Kubernetes, I see that it does work in the sense that the created bucket has the correct tags:
[code]

But, to @eloo 's point, I did notice that the objects on the Kubernetes cluster don't necessarily reflect the patching that happened. I don't expect the claim t

[2022-10-06 15:18] EdgeJ commented on #2690
Actually, I take back what I said about the XR not reflecting the patching. Thinking about it some more, I realized that I should be looking at the underlying MR instead. When checking that I see the patches as expected:
[code]

[2022-10-06 22:51] ytsarev commented on #1722
I've just tested the temporary workaround for this problem which involves provider-terraform and Composition, example is here https://github.com/crossplane-contrib/provider-terraform/pull/113 , maybe it will be useful to somebody.

[2022-10-10 03:41] druchoo commented on #2895
/fresh

[2022-10-10 09:33] eloo commented on #2690
@EdgeJ thanks for checking this again..
and you're right.. its working with your branch.

and while testing this with your branch i guess i have found the root cause for this issue..

it looks like the composition-revisions feature is killing your bugfix..

so this bug is related to the composition-revisions feature...

i have tested it with 1.9.0 without revisions and its working as expected.
wit

[2022-10-10 20:18] negz commented on #3335
Thanks for digging deep into this @muvaf.

I continue to feel that our ultimate goal should be to migrate to SSA. I can see that it might be unrealistic to block this particular fix on that migration, but I am a little wary of kicking the can down the road and never getting around to it.

Using "map keys" in an array of objects does seem more resilient than an ordered array due to the issues you d

[2022-10-10 23:40] lavalamp commented on #3335
For reference, the serverside apply code serializing paths is here: https://github.com/kubernetes-sigs/structured-merge-diff/tree/master/fieldpath

e.g. this test illustrates multiple list keys: https://github.com/kubernetes-sigs/structured-merge-diff/blob/master/fieldpath/path_test.go#L44

...I don't think this code is going to solve your problems (no wildcards, at least not intentionally--it mig

[2022-10-11 07:30] pcktdmp commented on #2712
/fresh

[2022-10-11 16:06] MallikharjunaTeja commented on #3362
i want to work on this could you please assign me this

[2022-10-12 01:15] negz commented on #3335
@lavalamp Thanks, that helps - at least being able to align on the same format. We're currently using a similar package - https://github.com/crossplane/crossplane-runtime/tree/master/pkg/fieldpath. We'd probably have used the one you linked rather than reinventing the wheel but we weren't aware of its existence.

[2022-10-12 01:31] negz commented on #2656
Thanks @muvaf. That looks good to me.

My suggestion is that we do two things here:

1. Switch to using a partial sha256 hash of the Composition to generate revision name suffixes per @eloo's suggestion at https://github.com/crossplane/crossplane/issues/2544#issuecomment-1061659094
2. Add a `compositionRevisionSelector` to allow selecting by labels.

The first feature seems like a cheap and elegan

[2022-10-12 01:41] negz commented on #3277
I'd like to make a code-freeze exception for https://github.com/crossplane/crossplane/pull/3321 if possible (i.e. make sure it's included in this release).

[2022-10-12 06:13] gberche-orange commented on #3180
/fresh

[2022-10-12 10:05] ytsarev commented on #3362
@MallikharjunaTeja assigned you to this issue, thanks for the willingness to contribute 👍

[2022-10-12 13:42] muvaf commented on #3335
Seems like extract methods aren't available through controller-runtime. I need to spend more time on this to make sure we know precisely whether it's possible at all to have index-based patching in SSA. I'd be more comfortable if we know all implications of SSA before making a decision either way.

The fix for this issue won't make it in `v1.10.0` whose code freeze date is today.

[2022-10-12 13:57] gberche-orange opened #3370 "Add OCI label org.opencontainers.image.source to crossplane providers images"
### What problem are you facing?

I'm using [Renovate](https://github.com/renovatebot/renovate) to update dependencies including crossplane providers. [Renovate supports](https://docs.renovatebot.com/modules/datasource/docker/) the  [OCI label org.opencontainers.image.source](https://github.com/opencontainers/image-spec/blob/main/annotations.md) to point to source and add the release notes in the

[2022-10-12 20:11] apelisse commented on #3335
Side-note, can you open a bug against controller-runtime for that, so that we can keep track of it.

[2022-10-12 20:58] AideGarcia commented on #3305
Hi!
I have the same problem, do you find a way to solve this?

[2022-10-12 21:41] #3225 closed

[2022-10-12 22:46] bjulian5 commented on #3305
I'm using podman which  defaults to 1 vCPU and 2 GiB RAM. I noticed that the crossplane pod failed to schedule due to insufficient cpu when I ran

[code]
output
[code]

I followed https://github.com/containers/podman/issues/12713 to increase my vCPU,  and was able to complete the installation

[2022-10-13 00:13] dee0sap commented on #3293
Hey @negz could we possibly avoid this issue by setting leaderElection = false?

For my team we just have a single replica for both crossplane and the rbac manager.   I expect this is sufficient for our needs as our Crossplane load is pretty light.   Our customers are provisioning a handful of of postgres and maybe a couple handfuls of redis.   Our compositions take care of provisioning the suppor