[2020-02-04 00:57] jbw976 commented on #1229
Also, this looks related to https://github.com/crossplaneio/stack-gcp/issues/157

[2020-02-04 01:56] suskin commented on #1210
@displague and I discussed the `behaviors.yaml` versus `stack.yaml` options a bit more in Slack; summarizing the outcome here.

We both agree that the next state will be a temporary state as we consolidate the behavior configuration and the stack app metadata, and the stack configuration. We're trying to get the best combination of something we can iterate on quickly, and something which has minim

[2020-02-04 02:01] jbw976 commented on #710
I vote to close out these older blog post related issues and open new ones as needed for new topics.

[2020-02-04 02:01] #710 closed

[2020-02-04 02:01] jbw976 commented on #733
I vote to close out these older blog post related issues and open new ones as needed for new topics.

[2020-02-04 02:01] #733 closed

[2020-02-04 02:44] jbw976 commented on #510
that sounds fine @negz, the stack related controller(s) don't necessarily follow this principle fully yet.

[2020-02-04 08:50] muvaf commented on #1229
In pod<>pvc<>pv consumption model, `ReadWriteMany` allows N<>1<>1 relationship while what I was investigating is more like N<>N<>1 where you have more than one claim to bind to one resource so that different apps only need to create a claim to say that it needs that kind of resource and not worry about other stuff.

In pod consumption model, there is still one claim because in most of the cases, a

[2020-02-04 08:54] #749 closed

[2020-02-04 08:58] muvaf commented on #1170
Helm 3.1 will include a flag to disable OpenAPI validation https://github.com/helm/helm/pull/6819#issuecomment-581531879

[2020-02-04 10:26] muvaf commented on #1223
It's also really hard to browse even if the links worked. I wonder if we can have something like https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/

[2020-02-04 11:54] muvaf commented on #1229
@jbw976 I opened this issue because of https://github.com/crossplaneio/sample-stack-wordpress/issues/26 but yes, that issue can also be fixed by many-to-one claim-to-resource proposal.

[2020-02-04 21:27] displague opened #1232 "Include CRD read access to environment and namespace viewers"
### What problem are you facing?

The RBAC refinement offered by #1190, #1215, and #1219 needs additional tweaking.

In order for Namespace or Environment viewers to identify the Stack resources available and examine the UI-Schemas stored in those CRDs, these personas will need access to CRD resources.

### How could Crossplane help solve your problem?

Include CRD read access to environment and n

[2020-02-05 01:01] #1209 closed

[2020-02-05 02:25] #1185 closed

[2020-02-05 18:14] rberrelleza commented on #1225
When the AWS bill comes, I want to be able to tell how much of it is "owed" by the team that owns a specific Kubernetes cluster. I'd like every AWS resource created by a specific crossplane provider to have, for example, a "Owner=TeamName"  and "Cluster=Cluster-Name" tag.

[2020-02-06 08:44] muvaf opened #1235 "Versioning and Jenkins pipelines for new repositories"
### What problem are you facing?

The following repositories need their images to be pushed to Dockerhub but the process is currently manual:
* https://github.com/crossplaneio/stack-minimal-aws
* https://github.com/crossplaneio/stack-minimal-gcp
* https://github.com/crossplaneio/stack-minimal-azure
* https://github.com/crossplaneio/templating-controller

### How could Crossplane help solve your pr

[2020-02-06 15:21] displague opened #1238 "Stacks pullPolicy for package and deployments images should be configurable"
## What problem are you facing?

In development environments, it may be preferable for the `imagePullPolicy` of the `stack unpack` process and the stack deployment controller to be `Never` or `IfNotPresent`.

In [hosted environments](https://github.com/crossplaneio/crossplane/pull/1138), on the other hand, `Never` and `IfNotPresent` are not preferable.  `Always` would be a better choice.  This is

[2020-02-06 20:56] muvaf opened #1240 "Implement tests for template stacks functionality"
### What problem are you facing?

The template stacks code flows do not have as much test as the rest of the codebase right now.

### How could Crossplane help solve your problem?

We should implement the missing tests to increase quality of the codebase.

[2020-02-06 20:58] muvaf opened #1241 "Templating controller missing tests"
### What problem are you facing?

The generic templating controller used in template stacks does not have as much test coverage as original crossplane repositories.

https://github.com/crossplaneio/resourcepacks (will be renamed to `templating-controller` once https://github.com/crossplaneio/resourcepacks/pull/2 is merged)

### How could Crossplane help solve your problem?

Implement unit tests in

[2020-02-06 21:01] muvaf commented on #1240
Apparently an issue already exists for this :( https://github.com/crossplaneio/crossplane/issues/1198

[2020-02-06 21:01] #1240 closed

[2020-02-06 22:12] #944 closed

[2020-02-06 23:08] #331 closed

[2020-02-06 23:08] #388 closed

[2020-02-06 23:46] hasheddan opened #1242 "Allow annotations to be passed from ClusterStackInstall to stack deployment's ServiceAccount"
### What problem are you facing?

Some managed Kubernetes providers allow for authentication by associating IAM roles with Kubernetes `ServiceAccounts`. This is usually done by enabling the functionality in the Kubernetes cluster, then annotating the `ServiceAccount`. There are examples of how to do so on [AWS](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html) a

[2020-02-07 06:14] negz opened #1243 "Author a managed resource import/adopt tool"
### What problem are you facing?

Many folks use Terraform to managed their infrastructure. Crossplane can 'adopt' existing infrastructure, including that originally provisioned by Terraform, by statically provisioning a Crossplane managed resource and setting its external name annotation (`crossplane.io/external-name`) to the name of the existing resource. One challenge with this approach is that

[2020-02-07 08:47] negz commented on #1243
I _suspect_ this would fit well in https://github.com/crossplaneio/crossplane-cli, which powers the `kubectl crossplane` functionality, but I'm going to leave the issue here for now.

[2020-02-07 08:52] muvaf commented on #1243
Related to https://github.com/crossplaneio/crossplane/issues/1140

[2020-02-07 09:13] muvaf commented on #1243
A note for the future implementer: you only need to fill the **required** fields of the CR correctly and leave the rest empty. Crossplane will fetch the empty fields from the provider because of the [late-initialization](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#late-initialization).

[2020-02-07 13:46] #1211 closed

[2020-02-07 14:19] vasartori opened #1244 "Support PostgreSQL 11"
### What problem are you facing?
Missing PostgreSQL 11 support

### How could Crossplane help solve your problem?
Allow PostgreSQL 11 support

[2020-02-07 15:02] displague commented on #1242
This is also related to https://github.com/crossplaneio/crossplane/issues/974.  I think what we need at this point is a design to surface the surge of interest in providing Stack deployment (controller and SA) augmentations via (Cluster)StackInstall spec.

[2020-02-07 16:53] jbw976 opened #1246 "Stack's controller image doesn't respect the StackInstall's image source"
### What happened?

When using an alternate image source in a `StackInstall`, for example to point to an alternate registry besides docker hub, this value will be honored to download the Stack image itself, but not the Stack's controller image.

Alternate image source example: https://github.com/crossplaneio/crossplane/blob/master/cluster/examples/stacks/stackinstall.yaml#L6

Stack controller imag

[2020-02-07 16:55] jbw976 commented on #1246
One simple suggestion could be for the stack manager to prepend the `StackInstall.spec.source` value to the stack controller deployment's image field (if it doesn't already have a fully qualified image path that already specifies an alternate registry).

[2020-02-07 17:43] suskin commented on #1235
The sample wordpress repo is also in this category:

* https://github.com/crossplaneio/sample-stack-wordpress

[2020-02-07 18:11] suskin commented on #1197
In testing the work that's happening in #1209, #1210, and #1211, it looks like we don't need to do anything extra to get this (like Muvaffak was saying). I'm going to keep this open while that work is still settling, but we shouldn't need to do any work for this. We may want to add host awareness to the list of test scenarios we exercise though.

[2020-02-07 19:28] displague opened #1247 "crossplane-admin should be able to get/list/watch ClusterRoles"
### What problem are you facing?

The RBAC refinement offered by #1190, #1215, and #1219 needs additional tweaking.

Currently, the built in crossplane-admin role (`crossplane:masters` binding group) does not have any access to `ClusterRoles`.  They are however allowed full access to all bindings (`ClusterRoleBindings` and `RoleBindings`).  Roles do not need to be included because Crossplane does

[2020-02-07 19:31] displague commented on #1246
I'm not sure if this can be determined because official images can be expressed as `ubuntu` with no slashes, so I assume (could be wrong) that `foo.bar/ubuntu` is not distinguishable from `foo/ubuntu`, so it would not be possible to determine if a repository hostname was provided unless there are three components (`foo.bar/ubuntu/ubuntu`)

[2020-02-07 20:03] displague opened #1248 "Package unpack format should be typed and well-defined"
To improve code quality, stack unpack could emit the following format:

[code]

rather than the current format of:

[code]

With the benefits being that we wouldn't need 'what is this?' conditions and we would not have to deal with unstructured.

We would unmarshal directly using:

[code]

_Originally posted by @displague in https://github.com/crossplaneio/crossplane/pull/1217/files_

[2020-02-07 21:53] #9 closed

[2020-02-07 21:55] jbw976 commented on #260
I'm going to optimistically close this issue with the new support @negz pointed out, but please do weigh in and let us know your thoughts if you get the time @iamzhout :)

[2020-02-07 21:55] #260 closed

[2020-02-07 22:03] jbw976 commented on #560
I think the streamlined experience offered by the minimal (easy) environment stacks go a long way to addressing this original complaint.  I'm going to close this now.

* https://github.com/crossplaneio/stack-minimal-gcp/
* https://github.com/crossplaneio/stack-minimal-aws/
* https://github.com/crossplaneio/stack-minimal-azure/

[2020-02-07 22:03] #560 closed

[2020-02-07 22:16] jbw976 commented on #881
I think this has been superseded by https://github.com/crossplaneio/sample-stack-wordpress/issues/28

[2020-02-07 22:16] #881 closed

[2020-02-07 22:25] jbw976 commented on #764
I'd call this one covered by #1235

[2020-02-07 22:25] #764 closed

[2020-02-07 22:26] jbw976 commented on #822
I'd call this one covered by #1235

[2020-02-07 22:26] #822 closed

[2020-02-08 02:44] #1244 closed

[2020-02-09 01:16] #1210 closed

[2020-02-09 03:28] displague opened #1249 "Consider removing Job support from install.yaml"
_Originally posted by @jbw976 in https://github.com/crossplaneio/crossplane/pull/1217_

[2020-02-10 18:13] macsux opened #1252 "Support for Spring Cloud / Steeltoe Connectors"
### What problem are you facing?
Connection information provided by the resource claim needs to be read by the application workload. Right now this is usually written as a secret via `writeConnectionSecretToRef` on the claim. Internally the app then needs to bootstrap it's internal objects with this configuration, such as creating MySqlConnectionFactory to configure MySqlConnection objects with co

[2020-02-11 00:21] negz opened #1254 "Duplicate controller names break metrics"
### What happened?

I noticed the following while running `stack-gcp` from master:

[code]

I believe this was introduced in https://github.com/crossplaneio/stack-gcp/pull/142. I thought it was safe for two controllers to have the same name, but I was wrong. We'll need some way to differentiate in any cases where there are two controllers of the same "type" (e.g. `managed`) for the same kind (e.g.

[2020-02-11 00:24] hasheddan commented on #1254
@negz does this make the manager crash? I feel like I have run the stack successfully since this was merged 🤔

[2020-02-11 02:31] jbw976 opened #1255 "crossplane-admin role should have read access to ClusterRoles and Roles"
### What problem are you facing?

Currently, the built in crossplane-admin role does not have any access to `ClusterRoles` or `Roles`.  They are however allowed full access to all bindings (`ClusterRoleBindings` and `RoleBindings`).

This results in a situation where they are allowed to bind subjects to existing roles, but not have any insight into what are the roles that exist.  Therefore, the ab

[2020-02-11 07:00] negz commented on #1254
@hasheddan No crash, but many repeated errors with stack traces. I imagine failed metrics for the controller in question too.

[2020-02-11 09:39] muvaf commented on #727
@negz That KEP is being updated to meet our requirement. See `AddOnly` in https://github.com/kubernetes/enhancements/pull/1341

[2020-02-11 09:46] muvaf commented on #1225
@rberrelleza That'd be pretty cool. I didn't know [it was possible ](https://aws.amazon.com/tr/premiumsupport/knowledge-center/tags-billing-cost-center-project/)to group expenses via tags on AWS.

I think labelling by provider and resource class would enable interesting grouping mechanisms. Something like;
[code]

`crossplane.io/class` would be empty for statically provisioned resources. The name

[2020-02-11 11:54] muvaf commented on #1242
@hasheddan Do those mechanisms work if the user manually annotates the `ServiceAccount` after its creation?

[2020-02-11 14:32] displague opened #1257 "Stacks: StackDefinition should not depend on StackInstall"
## What problem are you facing

_Originally posted by @displague in https://github.com/crossplaneio/crossplane/timeline_

## How can Crossplane help?

The `StackDefinition` controller should not have a dependency on the installjob handler process.  StackDefinition resources should be a resource that can be created on their own and be fully reconciled.

The templating controller image value should

[2020-02-11 15:35] displague commented on #1255
This is a dupe of #1247, although in that issue `roles` are not deemed necessary because Crossplane does not manage any persona roles (only clusterroles).

[2020-02-11 18:32] displague commented on #1255
Closing this in favor of #1247. I've updated the description in 1247 with some of @jbw976's well written text.

[2020-02-11 18:32] #1255 closed

[2020-02-11 18:48] displague opened #1259 "All Crossplane Stack personas should have read-access to Namespaces"
### What problem are you facing?

Currently, the built in crossplane-admin role (`crossplane:masters` binding group) has full access to operate on namespaces.  This allows `crossplane-admins` to create the namespaces for namespace persona users and to enroll existing namespaces in that behavior (see #1124).

Non-admin crossplane personas have no ability to list the namespaces available to them.  T

[2020-02-11 19:46] displague commented on #1242
@muvaf The service account is only created, not updated. (`processRBAC` is called from the `stack` controller `handler`'s `create` function, `update` is empty)

[2020-02-12 01:23] negz commented on #1254
This has been fixed by the series of PRs crosslinked above.

[2020-02-12 01:23] #1254 closed

[2020-02-12 02:46] negz commented on #1225
@muvaf Do you think our controllers should automatically apply such tags, or would it be better to allow it to be done by convention (e.g. by setting whatever field under `.spec.forProvider` corresponds to the resource's tags)?

[2020-02-12 04:03] jbw976 commented on #697
We would really like to do this before Kubecon Amsterdam

[2020-02-12 04:23] negz commented on #697
@jbw976 I'm guessing we'll need your expertise on the build tooling to help with any breakage that happens. Perhaps we should just pick a day when you're relatively available and do it?

[2020-02-12 04:34] negz commented on #1252
I wonder if this kind of functionality could be supported by a separate process that knew how to take a set of environment variables (i.e. those exposed by a Crossplane secret) and form them into the the VCAP format. For containerised workloads this would allow us to configure a sidecar container that handled this transformation without Crossplane workloads themselves needing any knowledge of Spri

[2020-02-12 04:47] macsux commented on #1252
I also thought about this today as there are many instances where you may
wanna run a precompiled image that expects configuration in very specific
format. Imo some kind of general purpose transformation controller would do
the trick, ex pushing input secret through a jq pipeline.

On Tue., Feb. 11, 2020, 11:35 p.m. Nic Cope, <notifications@github.com>
wrote:

[2020-02-12 08:10] muvaf commented on #1257
This was brought up during planning on how we'd like to implement template stacks. Essentially, there is a user who just create a `StackDefinition` with correct behavior and source image/repo/chart and get the template stack up and running. That user wasn't a priority as we were focused on making the existing stacks we have work with template stacks. So, we punted on supporting that scenario.

Wha

[2020-02-12 08:32] muvaf opened #1737 "ProviderConfigs should not be deleted until all resources referring to it are deleted"
### What problem are you facing?

When I delete an infra-stack, all CRDs get deletion requests, including `Provider` ones. Since there is no `finalizer` on `Provider` resources, they are deleted immediately. This leads to hanging resources with deletion timestamp because their controllers cannot make deletion calls anymore since they'd have to have `Provider` resource to give them the credentials.

[2020-02-12 08:53] muvaf commented on #697
I've done a few renaming of the repos. In my experience, nothing really breaks for current go modules importing our repos because go mod looks for [module name in `go.mod`](https://github.com/crossplaneio/crossplane/blob/master/go.mod#L1) and this is version-controlled. This means the requests are redirected to the correct repo by Github and go mod imports will keep working since they'll look at o

[2020-02-12 09:09] muvaf commented on #1225
I'm not 100% sure but we have all the info we need through [`ResourceSpec`](https://github.com/crossplaneio/crossplane-runtime/blob/5ece4af/apis/core/v1alpha1/resource.go#L127) but just the method to put those labels is missing. Maybe an interface like the following could be supplied by each resource and we could add the tags:
[code]

Then managed reconciler could use these functions to add the ta

[2020-02-12 17:09] #1202 closed

[2020-02-12 17:25] displague commented on #1051
@muvaf encountered the following logged failure when attempting to install the same stack into multiple namespaces:
[code]

[2020-02-12 19:42] negz commented on #1229
Why do we need to share infrastructure at the managed resource level instead of at the resource claim level? I strongly prefer sharing at the resource claim level (which I believe is how persistent volumes work), because:

* You're logically choosing to share the claim that represents the imagery database instance, not some anonymous SQL instance that happens to also be some other team's super sen

[2020-02-13 20:09] muvaf commented on #1136
All three of them are published:
https://hub.docker.com/r/crossplane/stack-minimal-gcp
https://hub.docker.com/r/crossplane/stack-minimal-aws
https://hub.docker.com/r/crossplane/stack-minimal-azure

[2020-02-13 20:09] #1136 closed

[2020-02-13 22:29] displague commented on #1259
Justification for environment personas was discussed here: https://github.com/crossplaneio/crossplane/pull/1234#issuecomment-585972085

[2020-02-14 01:06] displague commented on #1197
@suskin, this was verified during https://github.com/crossplaneio/crossplane/issues/1210 testing. Is there anything left to do here?

[2020-02-14 12:03] muvaf opened #1265 "Manual testing steps for testing a managed resource"
### What problem are you facing?

When we make updates to implementations of managed resources, we often do manual testing. Although we have unit tests and integration tests in place, there are some scenarios that are like sanity checks that we humans are more capable of seeing.

### How could Crossplane help solve your problem?

I think if we write those scenarios down and check them especially d

[2020-02-14 12:07] hasheddan commented on #1265
@muvaf I think most of these could be written as periodic integration tests. The framework we are using on stack-gcp allows for creating resources, waiting for conditions, etc. I think even if we have manual tests written down that we will still miss a lot of things. If you have any features that you feel are not available in our integration testing framework let me know 👍

[2020-02-14 12:09] hasheddan commented on #1265
We do need to develop a criteria for introducing new tests / removing old ones / setting run frequency so that we don’t end up running a lot of low value tests.

[2020-02-14 12:20] muvaf commented on #1265
@hasheddan Yeah, my point is we should just make sure that if a big change on existing resource is introduced or a new resource is implemented, we know what to test either through integration test or manual test.

What we could do is to write down the main scenarios and require the author of the PR either write an integration test using the framework(definitely recommended) or confirm that they di

[2020-02-14 12:50] muvaf commented on #1229
In persistent volumes case, `ReadWriteMany` is used to share the volume between different pods of the **same** application. Developers are able to bundle a `ReadWriteMany` PVC resource and refer to that in `Deployment`, `StatefulSet` etc. This is the default in our case because you can just have one `KubernetesCluster` in your app bundle and use its secret name in many pods. So, all this is possib

[2020-02-14 14:56] hasheddan commented on #1265
@muvaf I really like this. We could even create a PR check that says if a "sensitive" (i.e. API changing) part of the code is modified than an integration test must exist for it :+1:

[2020-02-14 15:00] #1247 closed

[2020-02-14 15:00] #1259 closed

[2020-02-14 15:03] #1249 closed

[2020-02-14 15:05] jbw976 commented on #1232
Fixed by #1234

[2020-02-14 15:05] #1232 closed

[2020-02-14 17:10] displague commented on #1051
Uninstall is a larger issue than install because the CRD resources should not be removed if other StackInstalls are using it.

[2020-02-14 17:11] #1124 closed

[2020-02-14 17:27] jbw976 commented on #1150
Tracking this scenario in #1052

[2020-02-14 17:27] #1150 closed

[2020-02-14 17:34] jbw976 commented on #1013
This content has been merged into #1014 for consolidated tracking

[2020-02-14 17:34] #1013 closed

[2020-02-14 17:36] jbw976 commented on #526
This will be tracked by the scenario solved by #1051

[2020-02-14 17:36] #526 closed

[2020-02-14 19:27] negz commented on #1229
Is there any documentation around this limitation? I was under the impression that a PVC could be shared by arbitrary applications/pods, with the main restriction being that a PV can only ever be attached to a particular host.

[2020-02-14 21:43] negz commented on #697
I suggest we get this into the next sprint and work on it first thing Monday.

[2020-02-14 22:34] displague commented on #899
The existing RoleBinding vs ClusterRoleBinding dicotomy that differentiates StackInstall and ClusterStackInstall service accouts creates a boundary preventing namespaced Stacks from depending on cluster-scoped Stack owned types.

We may want to put more definition around these boundaries, through this dependsOn restriction work:
* a namespace stack can not dependOn a cluster-scoped CRD (this is on

[2020-02-14 22:38] #1197 closed

[2020-02-15 17:06] #1170 closed

[2020-02-15 20:09] hasheddan commented on #1242
@muvaf yes, manual annotation will enable the functionality presently, but it also requires restarting the controller `Pod`, which can be done by `kubectl delete pod [pod name]` and letting the `Deployment` bring it back up 👍

[2020-02-17 18:23] negz opened #1268 "Render OAM ApplicationConfigurations"
### What problem are you facing?

The [OAM Runtime Architecture document](https://docs.google.com/document/d/11AYNGhvry_B3l_tO3Yyv1f9tDoezZOpGIYV56oZwb5s/edit#heading=h.x458enhyy1sq) has tentatively been approved by the OAM maintainers. We'd like Crossplane to start adding OAM support to Crossplane, with a goal of Crossplane eventually becoming a production quality OAM runtime.

### How could Cros

[2020-02-17 18:52] suskin commented on #640
This was originally created for an earlier release, so I'm going to close this since it's fairly old at this point. We can always open a new one for similar work that we plan to do.

[2020-02-17 18:52] #640 closed

[2020-02-17 19:35] displague commented on #1242
I'm working on this as part of #505.

The current thinking is:

[code]

These imagePullSecrets will be included in the Stack resource and the Stack unpack job.

I've not yet considered how these imagePullSecrets will make their way into `KubernetesApplication` resources, per #505.

[2020-02-17 19:35] displague commented on #1238
I'm working on this as part of #505.

The current thinking is:

kind: StackInstall
spec:
  serviceAccount:
    imagePullSecrets:
    - foo
These imagePullSecrets will be included in the Stack resource and the Stack unpack job.

I've not yet considered how these imagePullSecrets will make their way into KubernetesApplication resources, per #505.

[2020-02-17 19:59] muvaf opened #1269 "Sample stacks should be part of the documentation"
### What problem are you facing?

We have implemented the environment stacks like [Minimal GCP](https://github.com/crossplaneio/stack-minimal-gcp), [Minimal AWS](https://github.com/crossplaneio/stack-minimal-aws) and [Minimal Azure](https://github.com/crossplaneio/stack-minimal-azure) that will deploy a private network environment and resource classes that use that environment with minimal hardwar

[2020-02-17 20:17] displague commented on #1107
This has some overlap with https://github.com/crossplaneio/crossplane/issues/1028, in that Stacks should distinguish the types of CRDs they own as Classes, Claims, or managed resource types.

UIs can benefit from this level of identification and generated RBAC roles (for namespaced stacks) can be restrict access to Classes and Claims. https://github.com/crossplaneio/crossplane/issues/899#issuecomm

[2020-02-18 00:28] jbw976 opened #1274 "build: copying of install-crossplane.md removes some of its yaml content"
### What happened?

We have build automation that copies [`docs/install-crossplane.md`](https://github.com/crossplaneio/crossplane/blob/master/docs/install-crossplane.md) to [`cluster/charts/crossplane/README.md`](https://github.com/crossplaneio/crossplane/blob/master/cluster/charts/crossplane/README.md).  It attempts to use `sed` to remove the front matter but that accidentally wipes out some of

[2020-02-18 01:09] displague commented on #1106
There are some other gaps to fill before Stacks can provide Class and Claim types that are not already known to Crossplane:
* the Stack Manager will not give the controller deployment rights to watch the namespaced class/claim CRD across namespaces (https://github.com/crossplaneio/crossplane/blob/v0.8.0-rc/pkg/controller/stacks/stack/stack.go#L419-L427)
* Namespace personas (`crossplane:ns:foo:adm

[2020-02-18 01:16] displague commented on #1106
It may also be useful to UI tools and the Stack Managers RBAC generation and persona aggregation to know the difference between owned resources, claim/class resources, and other dependent resources. https://github.com/crossplaneio/crossplane/issues/1028 is tracking that line of thinking.

[2020-02-18 01:23] #1274 closed

[2020-02-18 19:50] displague commented on #1106
A `stack-core` would need the ability to create claim and class types, the existing Crossplane types.
 This issue blocks https://github.com/crossplaneio/crossplane/issues/1154.

[2020-02-19 01:35] prasek commented on #853
superseded by other template stack work

[2020-02-19 01:35] #853 closed

[2020-02-19 01:51] prasek commented on #1038
@displague @turkenh is anything left for this issue to get closed out?

[2020-02-19 03:14] suskin commented on #1196
I was taking a look at https://github.com/crossplane/templating-controller/pull/6 , and we should get this level of graceful error handling at the deployment level. The templating controller will fail to start up, and its pod will be restarted until the CRD exists. Or, if it never exists, the error will be in the pod logs.

[2020-02-19 03:14] #1196 closed

[2020-02-19 06:26] turkenh commented on #1038
Resolved with #1139

[2020-02-19 06:26] #1038 closed

[2020-02-19 09:21] #1241 closed

[2020-02-19 18:16] suskin commented on #1011
Closing this as it is a bit outdated now and we are tracking this information elsewhere.

[2020-02-19 18:16] #1011 closed

[2020-02-19 19:51] negz opened #1283 "Replace Sonarcloud"
### What problem are you facing?

The Crossplane project started using Sonarcloud ~6 months ago out of desire for accurate code coverage details. We previously used https://codecov.io/, which we found to be inaccurate. I do not believe sonarcloud has been working well for us, because:

* It's seemingly also inaccurate, or at least just as unintuitive as Codecov per https://github.com/crossplane/cr

[2020-02-19 21:13] negz commented on #880
I've removed Sonarcloud per #1283.

[2020-02-19 21:13] #880 closed

[2020-02-19 21:16] negz commented on #875
Per #1283 I've removed Sonarcloud from c/c and setup https://golangci.com/ for all repositories. This means all crossplane org repositories now have linting enabled using the same configuration and heuristics as `make reviewable`, because they run `golangci-lint` and respect its configuration file. You can see an example of this in action here - https://github.com/crossplane/crossplane/pull/1284#p

[2020-02-19 21:16] #875 closed

[2020-02-19 22:17] suskin commented on #1235
This is now in review for wordpress and the minimal gcp stack. After we've merged the open PRs for those two repos, we may need to adjust things and improve them based on what we find when we actually use the pipelines.

[2020-02-19 22:26] suskin opened #1287 "template stacks: helm chart input translation"
### What problem are you facing?

As a stack author using a helm chart with template stacks, I'd like to be able to present an interface to my stack consumers which is different from the schema of the underlying values.yaml file (currently we just pass everything from the CR down unmodified). For example, if I want a simplified CR, or if I am wrapping a third-party helm chart which I can't control

[2020-02-20 04:32] negz commented on #1283
I've setup https://codecov.io for c/c crossplane-runtime, stack-aws, stack-azure, and stack-gcp. I went with codecov despite our previous issues with the service. Per https://github.com/crossplane/crossplane/pull/378 those issues were:

1. Codecov was frequently inaccurate (or unintuitive)
1. Codecov leaves big ugly comments on PRs.
1. Codecov is not as fast as Sonar.

Points 1 and 2 are true for

[2020-02-20 04:51] negz commented on #1283
I believe Sonarcloud is now gone. RIP Sonarcloud.

[2020-02-20 04:51] #1283 closed

[2020-02-20 07:51] tobru commented on #1160
I've read through the draft PR and without being an expert in all the Crossplane inner details (yet) I'd say it's on a good track.

I feel it's a huge topic and it probably should be broken down in several steps until all involved components can be automatically upgraded and rolled back. A first step should be to be able to manually upgrade the components by providing an upgrade guide per release

[2020-02-20 09:18] srueg opened #1290 "Stack Install does not update existing objects"
### What happened?

I installed a stack for which the CRDs already existed on the cluster. Since the stack install job ignores objects that already exist in the cluster, the existing CRDs were not updated: https://github.com/crossplane/crossplane/blob/b1f4a1e05da6973c13adee50a200a338b24e6d06/pkg/controller/stacks/install/installjob.go#L271
Unfortunately the existing CRDs were missing the correct l

[2020-02-20 11:44] muvaf commented on #1290
I think the reason it works this way is about ownership of the CRDs. The controller assumes that there will be one and only one owner(`*StackInstall` object) of the CRDs that the stack. This is especially useful for deletion of the stack where the look-up is done via labels. If the object is created by some other entity, it doesn't label it because then the delete logic could result in deletion of

[2020-02-20 13:45] muvaf opened #1291 "template stacks: stacks should be able to specify controller version"
### What problem are you facing?

If I deploy a template stack, the version of the generic templating-controller image comes from the Crossplane helm chart. However, I might want my stack to be pinned to use a fork/master version/older version no matter what Crossplane version is deployed.

### How could Crossplane help solve your problem?

It should be possible to embed the templating-controller

[2020-02-20 14:06] displague commented on #974
While considering how best to cram extra options into the `StackInstall` resource, I was reminded that the end product is a `Stack` resource, not the deployment whose configuration is want to change.

As such, the `Stack` resource can be created with all of the customizations sought by this issue.

The benefits of using a `StackInstall` resource are that the CRDs are unpacked and annotated using m

[2020-02-20 16:39] displague commented on #1290
I agree that the Stack Manager should not prevent this workflow and I see how this workflow is valuable.

I propose that the Stack Manager should continue to delete Stacks labeled under its ownership (however this will be getting some rework in #1051), but the Stack Manager should not search for all CRDs by parent label.  Rather, the listing of the needed CRDs could be done by field filters (apiVe

[2020-02-21 16:55] hasheddan opened #1295 "Remove API reference docs in favor of doc.crds.dev"
### What problem are you facing?

Currently our [API Reference docs](https://crossplane.io/docs/v0.8/api.html) are manually generated using [crossdocs](https://github.com/negz/crossdocs). This is not ideal for the following reasons:
- Crossdocs requires manual setup and configuration to pick up all relevant API types from every repo in the Crossplane ecosystem
- API types exist in many repositorie

[2020-02-21 18:48] negz commented on #697
@hasheddan handled this on Tuesday!

[2020-02-21 18:48] #697 closed

[2020-02-21 20:33] #1246 closed

[2020-02-21 23:21] suskin commented on #1291
Who is deciding which version to use? Is it a stack author, or the stack consumer? Would I want to be able to specify the image pull policy too?

[2020-02-22 00:45] prasek opened #1296 "Docs 404 error for servicenetworking.gcp.crossplane.io/v1alpha3"
On https://crossplane.io/docs/v0.8/api.html, when you click [servicenetworking.gcp.crossplane.io/v1alpha3](https://crossplane.io/docs/v0.8/api/crossplaneio/stack-gcp/servicenetworking-gcp-crossplane-io-v1alpha3.md) it takes you to https://crossplane.io/docs/v0.8/api/crossplaneio/stack-gcp/servicenetworking-gcp-crossplane-io-v1alpha3.md which should be an html file.

![image](https://user-images.gi

[2020-02-22 01:12] jbw976 opened #1297 "Update and clean up template stack UI schema files"
The ui schema files for the minimal stacks aren't up to date with the latest schema/format defined by the design doc(s):

* https://github.com/crossplane/crossplane/blob/master/design/one-pager-stack-ui-metadata.md#example-ui-schemayaml
* https://github.com/crossplane/crossplane/blob/master/design/design-doc-upbound-ui-spec.md#required-fields

Some possible issues to clean up:

* The `version` fie

[2020-02-22 14:34] muvaf commented on #1291
It's the stack author.

I don't think that's very necessary at this point. Image pull policies are usually used either in dev mode to use the cached images or to save disk space in the cluster; for both cases our default `IfNotExists` should be sufficient IMO. If you have a use-case, would love to hear.

[2020-02-22 15:08] hasheddan commented on #1296
Unfortunately, this is a manually modified file, so it was not updated when we regenerated :disappointed: fix coming and see #1295 for future state :+1:

[2020-02-23 00:46] negz commented on #1295
Fixed by https://github.com/crossplane/crossplane/pull/1298.

[2020-02-23 00:46] negz commented on #1295
Whoops - closed the wrong issue.

[2020-02-23 00:46] negz commented on #1296
Fixed by https://github.com/crossplane/crossplane/pull/1298.

[2020-02-23 00:46] #1296 closed

[2020-02-23 00:55] negz commented on #1295
@hasheddan Some functionality I think we'd need to take a dependency on https://docs.crds.dev:

*  Reliably detect and list all CRDs within a repository, i.e. https://github.com/crdsdev/doc/issues/9.
*  Allow us to link to a particular git tag, so that older versions of the Crossplane docs can link to older versions of CRDs, i.e. https://github.com/crdsdev/doc/issues/5
* The ability to trust that

[2020-02-23 01:18] hasheddan commented on #1295
@negz I believe https://github.com/crdsdev/doc/issues/9 is now fixed 👍 I followed up with a comment there.

I agree on the other two. The reliability of doc.crds.dev is currently constrained by Github API rate limiting, but various caching strategies are being explored and tracked by https://github.com/crdsdev/doc/issues/13

[2020-02-24 18:37] muvaf commented on #1230
All environment stacks linked are template stacks now.

[2020-02-24 18:37] #1230 closed

[2020-02-24 19:20] suskin opened #1301 "Delete provider objects after the objects that consume them"
This is a summary of some discussions around this topic.

### What problem are you facing?

As a Crossplane user who's deleting a bunch of resources and a provider, I'd like my provider to be deleted last. For example, let's say I install the minimal GCP stack, which also creates a provider for me. Let's say I then create a database in GCP, `D`. If I uninstall the stack, which deletes the provider

[2020-02-24 19:46] prasek opened #1302 "Add packageType meta descriptor for stacks"
### What problem are you facing?
There are different types of packages in common usage including:

**Providers**: add infrastructure to a `Crossplane Instance`, so you can provision cloud services, cloud networking & security, and managed Kubernetes target clusters from the Crossplane API using tools like `kubectl` and `kustomize`.
 * [GCP provider](https://github.com/crossplane/stack-gcp)
 * [AWS

[2020-02-24 22:04] negz commented on #1301
I think this is a duplicate of https://github.com/crossplane/crossplane-runtime/issues/116.

[2020-02-26 15:05] displague commented on #1302
Reopening until the various stack and CLI PRs are merged

[2020-02-26 18:57] #1291 closed

[2020-02-28 16:38] #1242 closed

[2020-02-28 16:41] displague commented on #1238
Closed by #1281

[2020-02-28 16:41] #1238 closed

[2020-02-28 22:00] prasek commented on #900
@bassam absence of version field is implicitly version #1, so we're looking to punt this for march launch.

//cc @lukeweber @jbw976 @rbwsam

[2020-02-28 23:42] prasek commented on #1203
@muvaf do you have this in flight?

[2020-02-28 23:43] prasek commented on #1302
done and done

[2020-02-28 23:43] #1302 closed

[2020-02-28 23:44] prasek commented on #1297
@muvaf is this ready to close?

[2020-02-28 23:45] prasek commented on #1235
@suskin is this ready to close?

[2020-02-28 23:53] prasek commented on #505
@displague sounds like we have the first two bullets done, but still need the

[2020-02-29 01:29] suskin commented on #1301
@negz you are right - sounds like a duplicate. I'll close this one

[2020-02-29 01:29] #1301 closed

[2020-02-29 01:33] suskin opened #1307 "Stack manager: Support reading stack version from docker tag"
### What problem are you facing?

As part of simplifying how we manage versions for our stacks, we would like to omit the stack version from the `app.yaml`, and just use the version from the docker tag if it exists. It appears that the stack manager does not currently support this, in the sense that it does not pull the version from the docker tag and put it on the `Stack` or `StackDefinition` obj

[2020-02-29 01:58] suskin opened #1308 "Stacks: Combine stack image references (unpack and controller image should be the same)"
### What problem are you facing?

As we have been using our stacks and managing them, we have discovered that having two references to each stack image is making things unnecessarily error-prone for us, and we aren't using the feature at all.

The feature works as follows. A stack image is specified in two places:

* On install, for the unpack phase
* In configuration (either `install.yaml` or `be

[2020-02-29 17:19] muvaf opened #1309 "Template Stacks: support for deploying resources to clusters provisioned by Crossplane"
### What problem are you facing?

Today, template stacks are used to bundle resources that are to be deployed into the cluster that Crossplane runs. While this is useful for cloud resources, the general application model of Crossplane works through `KubernetesApplication` which includes a list of resources to deploy to the cluster provisioned by Crossplane.

While it's possible to include all reso

[2020-03-01 07:43] muvaf commented on #1207
Supporting this scenario via template stacks might make more sense as we think `KubernetesApplication` resource a low-level component that just deploys resources to the remote cluster. See https://github.com/crossplane/crossplane/issues/1309 for details.

[2020-03-01 07:52] muvaf commented on #1203
yes, it's been waiting for review https://github.com/crossplane/templating-controller/pull/10

[2020-03-01 19:33] muvaf opened #1312 "Investigate multiple controllers vs one controller per process/pod"
### What problem are you facing?

In Crossplane ecosystem, we generally have 1 manager and N controller registered to it in every stack. This 1 manager runs in 1 process which runs in 1 container that is contained in 1 pod.

We have continued to follow a similar in template stacks, too. A template stack author writes the stack YAMLs and then during installation, it uses a manager with a generic co

[2020-03-02 14:22] hasheddan opened #1313 "Render OAM ContainerizedWorkload"
### What problem are you facing?

Per the [OAM Runtime Architecture document](https://docs.google.com/document/d/11AYNGhvry_B3l_tO3Yyv1f9tDoezZOpGIYV56oZwb5s/edit#heading=h.x458enhyy1sq) and subsequent [spec updates](https://github.com/oam-dev/spec/pull/316), the first core `Workload` type required by OAM is the `ContainerizedWorkload`. As an implementation of the OAM spec, Crossplane should suppo

[2020-03-02 14:54] displague commented on #505
@prasek I think the third bullet warrants its own issue.

Workloads is a broad term here and could refer to any image being referenced within a `KubernetesApplication`.

This could be the image on a Pod, Job, Deployment, or even  \*_**Inception** sound effect_\* a StackInstall.  While I think we can make some effort to deeply apply imagePullSecrets, imagePullPolicy, and image source replacement fo

[2020-03-02 15:10] displague commented on #505
For host aware environments, we will want to create another issue to copy imagePullSecrets to the host environment.

These secrets will need to be given UUID names on the host side since tennant namespaces share a common controller namespace in this environment and we wouldn't want secrets from varying namespaces to be available outside of their intended namespace. In order for these renamed secre

[2020-03-02 18:39] infinitecompute opened #1316 "Prioritization of AWS managed service support"
### What problem are you facing?

We are gathering community feedback to help us prioritize development of additional AWS managed services and maturing of existing service implementations.
* What are the most important AWS services for you?  Please share your service list in the comments.
* What are your use cases?  This will help us model an end-to-end implementation of business logic consuming t

[2020-03-02 19:22] displague opened #1317 "Copy imagePullSecrets to Crossplane Host environments"
## What problem are you facing?

`imagePullSecrets` can now be shared between StackInstall, Stack, and Deployment resources as needed to unpack packages and run the controller.

The named `imagePullSecrets` are not available in the host for host aware stack-manager installations.

## How could Crossplane help solve your problem?

These secrets will need to be given UUID names on the host side sinc

[2020-03-02 23:33] jbw976 opened #1318 "Support in workloads for images from private registries"
This issue is broken out from #505

The Stack Manager now supports the scenario of installing a stack from a private registry, supplying the image pull secrets to the unpacking job and the stack's controller.

Another scenario that needs to be supported is for when the a workload is to be run on a remote k8s target and the container image for that workload comes from a private registry.   The imag

[2020-03-02 23:35] jbw976 commented on #505
The remaining work discussed in this issue is being tracked in:

* #1318 - Support in workloads for images from private registries
* #1317 - Copy imagePullSecrets to Crossplane Host environments

[2020-03-02 23:35] #505 closed

[2020-03-03 00:57] jbw976 opened #1320 "Stack builds are overwriting crossplane builds in crossplane.releases bucket"
### What happened?

It looks like the stack repos are using setting up their builds with `S3_BUCKET ?= crossplane.releases`, which is causing their binary outputs to be published to the same S3 bucket where crossplane is published to.

Take for example https://releases.crossplane.io/build/release-0.6/v0.6.0/.  This **should** be from the main crossplane repo's v0.6 release, but it appears to be fr

[2020-03-03 01:47] suskin commented on #1203
Sorry about the delay on the review; that's my fault. I got sidetracked last week

[2020-03-03 08:41] turkenh commented on #1317
I agree what @displague states in description and with current implementation, UUID approach seems to be a good solution.

However, I have another point:

Users can only access host API Server (where controller-namespace lives) via deployment spec of controller. This is the only path they can use to access something on host cluster.
Embedding whole controller deployment spec into stack definition

[2020-03-03 11:35] janwillies commented on #1316
It might be interesting to watch what AWS is up to: https://github.com/aws/aws-service-operator-k8s

[2020-03-03 16:32] displague commented on #1317
This is the direction we are headed by pushing the stackinstall tag into the controller (#1307) and forcing the StackInstall image to be the stack controller (#1308).  The remaining parameters are command line arguments and environment variables.

It is easy to lock this forceful behavior in for Stack resources created by StackInstall resources.  Since StackInstall resource handlers are the only t

[2020-03-03 16:37] displague commented on #1317
Another thought: Instead of copying DeploymentSpec when creating the new Deployment resource, we could walk the Stack.Spec.Controller.Deployment (DeploymentSpec) and only pull out the pieces that we are interested in. We would not support complex environment variables.

[2020-03-03 22:18] negz commented on #1316
@infinitecompute Should we move this issue to the stack-aws repo?

[2020-03-04 01:23] #900 closed

[2020-03-04 02:02] jbw976 commented on #1316
Thank makes the most sense to me @negz, i'll transfer now.  Then I'll tweet that link to get some more community visibility on this call for opinions

[2020-03-04 09:16] muvaf commented on #1297
Printer columns and other updates are done:
* Minimal AWS https://github.com/crossplane/stack-minimal-aws/pull/7
* Minimal Azure: https://github.com/crossplane/stack-minimal-azure/pull/7
* Minimal GCP has the fixes.
* Sample Wordpress has the fixes.

@jbw976 do you think we should revert ui-schema versions back to 0.1.0 now or count from this point on?

[2020-03-04 09:20] muvaf commented on #1204
@suskin do you have specifics regarding this issue? I think we're handling errors wherever possible, so it should be isolated as much as other controllers.

[2020-03-04 09:21] muvaf commented on #1175
@suskin The items listed here do not seem to be existing anymore. Could you take a second look and update the list or close the issue?

[2020-03-04 09:33] muvaf commented on #1320
Probably because of this https://github.com/crossplane/stack-aws/blob/master/Makefile#L17

[2020-03-04 18:10] jbw976 commented on #1175
@muvaf is that true for the TODO item even?

We don't have to fix them all, but doing a quick audit on them and opening up official issues to track the more scary ones would be great

[2020-03-04 20:14] negz commented on #1313
Cross linking the work on this in https://github.com/crossplane/stack-oam-kubernetes-remote/pull/1.

[2020-03-04 21:07] #1307 closed

[2020-03-04 23:02] prasek commented on #1308
@suskin looks like we'll need to remove [image: "crossplane/stack-gcp:master"](https://github.com/crossplane/provider-gcp/blob/4dc7426f1e10542b19de1e8069ba6e35665e335e/config/stack/manifests/install.yaml#L20) from the install.yaml of the various providers as well.

this will simplify things quite a bit so looking forward to getting this in the near future, thanks!

//cc @rathpc @thephred @jbw976

[2020-03-04 23:06] prasek commented on #1308
@displague sounds like `Stack Manager` could simply overwrite the controller image e.g. `image: "crossplane/stack-gcp:master"` in the [install.yaml](https://github.com/crossplane/provider-gcp/blob/4dc7426f1e10542b19de1e8069ba6e35665e335e/config/stack/manifests/install.yaml#L20) automatically for all stacks (essentially forcing all stacks to use the stack image as the controller image), and this ch

[2020-03-05 02:51] suskin commented on #1308
I was thinking about this a little more, and realized that we currently support stacks with no controllers, and we probably want to preserve that. The simplest way to do that - for now - would be to leave the `install.yaml` in the contract if you want to have a controller for your stack. But, if you leave the image blank for a container in the deployment, the stack's image will be used instead. Th

[2020-03-05 04:46] hongchaodeng opened #1323 "Add Alibaba Cloud Infra Stack"
This is the umbrella issue to track all progress on Alibaba Cloud Infra Stack:

- [ ] Postgres
- [ ] ACK

[2020-03-05 05:35] ryanzhang-oss opened #1324 "Add OAM local stack"
Main repo: https://github.com/crossplane/addon-oam-kubernetes-local
Owner: @ryanzhang-oss

This is the umbrella issue to track all progress on OAM local Stack:

* [ ] Containerized Workload
* [ ] ManualScalerTrait

[2020-03-05 14:25] displague commented on #1308
I like the way you are thinking about this @suskin. We could preserve the no-op Stack format signalled by a missing `install.yaml`.  I recently took advantage of this to `StackInstall` a non-traditional stack (templating-controller's image with an added app.yaml and an icon) onto a cluster, since 'docker push' was not an option.

 However, I think we have already found some alternate approaches.

[2020-03-05 15:00] displague opened #1325 "Package images should not require a shell"
### What problem are you facing?

Crossplane packages are installed using an `initContainer` that runs `cp` to get package metadata into the container where the Stack Manager `unpack`  is run.   This `cp` command is run using a binary found in the stack package.

This `cp` command should not be trusted.

Secondarily, stacks, especially template stacks, should not require a base operating system in

[2020-03-05 21:06] negz commented on #1323
Thanks @hongchaodeng! You should all now have access to https://github.com/crossplane/provider-alibaba/ - I'm going to move this issue over there.

[2020-03-06 03:26] suskin commented on #1308
Discussed this with @displague and @jbw976 today. I am planning on going with the approach of injecting the `image` field into the `Deployment` specified in `install.yaml` if the field is not specified. From a simplicity standpoint, I like the approach that @displague outlined (generate a default `install.yaml`) more than the approach I plan to take. However, I do not want to do that right now bec

[2020-03-06 23:44] suskin commented on #1308
I've opened a PR for the functionality. After that's merged, we'll want to:

* [ ] Update all of our stacks to use the new functionality
* [ ] Update any documentation that discusses the stack format, such as the stack design doc
* [ ] Update the crossplane-cli `init` boilerplate to omit the image name from the generated install.yaml (nice to have rather than needed, since the change is backwards-

[2020-03-09 15:08] rathpc opened #1330 "created in error"
Created in error

[2020-03-09 15:13] rathpc opened #1331 "created in error"
Created in error

[2020-03-10 11:51] #1331 closed

[2020-03-10 11:55] #1330 closed

[2020-03-10 12:02] muvaf commented on #1175
@jbw976 I've gone through them now. They are mostly exploration notes like `think about how we could do this better` rather than `blow this up after the first iteration`. @suskin might have some other things in mind though.

[2020-03-11 07:51] muvaf commented on #1175
Closing this for now. Feel free to reopen if you have some action items in mind.

[2020-03-11 07:51] #1175 closed

[2020-03-11 16:25] #1051 closed

[2020-03-11 16:26] jbw976 commented on #1290
@displague is this fixed now with #1311?

[2020-03-11 16:37] jbw976 commented on #1308
Let's follow up on this checklist so we can close out this issue and get some relief from it! 🤕

[2020-03-11 22:09] jbw976 opened #1334 "Minimal happy path upgrade support"
### What problem are you facing?

Some folks have deployed Crossplane and have started to depend on it to manage their infrastructure.  Currently, we have not done any effort at all to support even happy path upgrades.  The behavior for upgrading Crossplane and installed stacks is essentially undefined.

### How could Crossplane help solve your problem?

It would be *very* nice for users to be abl

[2020-03-11 22:13] displague commented on #1290
@srueg You should find that this has been addressed in the latest Crossplane master, which will be released soon as Crossplane 0.9.0.

Specifically, so long as a Stack's CRDs exists in the cluster the requirements to start the controller will have been met.  Removing the StackInstall for such a Stack will not affect the CRD. This CRD will not be managed (or labeled) by Crossplane in any way.

If t

[2020-03-11 22:13] #1290 closed

[2020-03-11 23:45] suskin opened #1335 "template stacks version cleanup"
### What problem are you facing?

We have released some versions of template stacks by hand in the past, and have recently switched to more automated releases.

However, the automated releases that run whenever changes are merged to master generate their own unique version, and they use the most recent tag on the branch to do that. When we were releasing by hand, we didn't necessarily always tag t

[2020-03-12 00:20] suskin commented on #1308
Here are the PRs to update our stacks functionality:

* controller image: remove explicit image crossplane/provider-gcp#199
* controller image: remove explicit image crossplane/provider-aws#153
* controller image: remove explicit image crossplane/provider-azure#120
* controller image: remove explicit image crossplane/provider-rook#48
* behavior image: remove explicit image crossplane/stack-minimal

[2020-03-12 01:20] suskin commented on #1235
We ended up talking about this in sprint planning, but this is paused and waiting for some work on #1308 to resolve before we get back to it. We'll also want to add some jobs to templating-controller which are similar to the other jobs for other controllers before this is considered complete.

[2020-03-12 01:50] jbw976 commented on #1335
Is it already part of the release process for each template stack repo to add a new tag, so subsequent builds from master will have a version based off that new latest release tag?

[2020-03-12 07:43] #1203 closed

[2020-03-12 08:54] muvaf commented on #1334
I think at least a manual guide for this should be in scope because as we move to `v1beta1`, we require deletion of the existing resources. It's a bit cumbersome but at least we'd have a document we can point to with instructions like:
* Take copy of managed resource CR, say `GCP Network v1alpha1`
* Shut down GCP controller -> deployment replica set to 0
* Delete GCP stack and manually remove fina

[2020-03-12 10:12] srueg commented on #1290
Very cool, thanks! I'll let you know once I get around to test it

[2020-03-12 15:24] displague opened #1337 "Resource names and labels produced by Crossplane may exceed name lengths"
# What happened?

Using Stack Manager in a host-aware environment, various resource names and labels exceeded the max length supported by the Kubernetes API.

### How can we reproduce it?

In a host-aware environment, create a host config whose name along with the namespace and name of a controller exceed 253 characters.

The same long names will effect labels created elsewhere.

### What environm

[2020-03-12 18:53] displague commented on #1317
The secrets will need to be available on the host for either/both of:
* StackInstall resources that reference the imagePullSecret
  The unpack job needs imagePullSecrets to access the private image.
* Stack resources that reference the imagePullSecret
  The controller needs to prepare the secrets for the Deployment to run.

Syncing will have to take place in both StackInstall and the Stack control

[2020-03-12 20:33] displague commented on #1317
Another approach, far simpler to contend with, is to use a single parent label on a secret.  Either a StackInstall or a Stack will be the parent.  In general practice, the secret will be copied twice, once by the StackInstall controller, once by the Stack controller.

This duplication simplifies the ownership and deletion responsibility and makes the most sense for reusing the existing flow for ho

[2020-03-13 04:49] #1308 closed

[2020-03-13 19:44] displague commented on #1334
I think we could approach this problem as milestones, for both Crossplane and Stacks:
* Support inplace controller upgrades with no change in CRDs
* Support new CRDs that include the previous versions in their spec with no incompatible changes
* Support Stack webhooks (this is necessary for any conversion and more complex scenarios)
* Support resource upgrades and conversions from deprecated CRDs

[2020-03-15 23:09] lukeweber opened #1339 "Not clear this is a drop down, and not clear what the email is for"

[2020-03-15 23:10] #1339 closed

[2020-03-16 14:00] displague commented on #1317
The owner of the synced StackInstall secrets can be the InstallJob.  When the InstallJob is created, the secrets will be synced. Deleting the installjob will result in the GC removal of the synced secret(s).

The owner of the synced Stack secret can be the deployment SA. When the Deployment SA is created, the secrets will be synced. Deleting the deployment SA will result in the GC removed of the s

[2020-03-16 15:47] jbw976 commented on #1204
I agree @muvaf, I think our error handling isolation is OK with the final design we implemented.

[2020-03-16 15:47] #1204 closed

[2020-03-16 17:05] muvaf commented on #1297
Closing this optimistically.

[2020-03-16 17:05] #1297 closed

[2020-03-16 17:16] negz opened #1342 "Allow a claim"

[2020-03-16 17:17] #1342 closed

[2020-03-16 17:21] negz opened #1343 "Application and infrastructure composition"
### What problem are you facing?
The goal of this epic is to converge upon and implement a design that unifies the various threads of application and infrastructure composition in Crossplane.

Crossplane models **infrastructure** using resource claims. A resource claim[1] is a somewhat portable representation of an application's infrastructure needs. A resource claim is satisfied by binding to one

[2020-03-16 17:24] negz commented on #1343
Design work proceeding in https://github.com/crossplane/crossplane/pull/1163 and https://github.com/muvaf/define-your-claim.

[2020-03-16 23:32] negz opened #1344 "Design document for application and infrastructure composition"
This issue tracks the research and design phase of the application and infrastructure composition epic, https://github.com/crossplane/crossplane/issues/1343. Please refer to that epic for background on the general problem and how Crossplane might solve it.

[2020-03-16 23:37] negz commented on #1344
Design work proceeding in https://github.com/crossplane/crossplane/pull/1163 and https://github.com/muvaf/define-your-claim.

[2020-03-17 13:10] displague commented on #1317
We current use the `default` SA of the `{tenant}-controllers` namespace on the host to run all of the stack controllers in a host-aware environment.

I supposed we might be able to leverage the ServiceAccount `imagePullSecrets` on the host to inject the secrets into the stack controller's pods.

What I discovered, with @turkenh's help, is that this approach...

1. We would want to create a new SA

[2020-03-17 14:18] displague opened #1346 "Stack Manager option to force ImagePullPolicy"
### What problem are you facing?

In multi-tenant environments, images fetched for one Stack unpack or Stack controller become available in the node level docker registry.  This could allow other tenants to access those images without the appropriate imagePullSecrets.

### How could Crossplane help solve your problem?

The Stack Manager should offer an option to force an imagePullPolicy. Users sho

[2020-03-17 22:05] muvaf commented on #1198
In templating-controller, there are 3 main packages that contain the logic and here is their coverages:
[`pkg/controllers`](https://github.com/crossplane/templating-controller/tree/master/pkg/controllers): 81%
[`pkg/operations`](https://github.com/crossplane/templating-controller/tree/master/pkg/operations): 0%
[`pkg/resource`](https://github.com/crossplane/templating-controller/tree/master/pkg/re

[2020-03-18 00:48] #1313 closed

[2020-03-18 04:35] #899 closed

[2020-03-18 09:01] muvaf commented on #1235
The PR https://github.com/crossplane/templating-controller/pull/9 by @suskin in templating-controller is the final PR to close this issue.

[2020-03-18 18:30] negz commented on #1181
The most recent release of Crossplane is currently `0.8.0`, but master builds are currently tagged `0.8.0-rc.XX`. This is a little confusing, because it sounds like the master builds are a release candidate for 0.8.0, whereas I think they're actually a release candidate for 0.9.0.

[2020-03-18 18:35] jbw976 commented on #1181
Agreed @negz, there's been discussion in the upbound/build repo (https://github.com/upbound/build/pull/92) about how to make this versioning workflow automatic.

It's a bit tricky to automate it, but I think we can make a minor change within the crossplane release process in the meantime.  Instead of tagging `v0.9.0-rc` when we are ready for 0.9, we could do something like `v0.10.0-pre` or somethi

[2020-03-18 22:47] artursouza commented on #280
Please, assign this issue to me.

[2020-03-18 23:26] negz commented on #1154
We should consider the proposed OAM architecture as part of this issue - https://docs.google.com/document/d/11AYNGhvry_B3l_tO3Yyv1f9tDoezZOpGIYV56oZwb5s/edit#heading=h.x458enhyy1sq

[2020-03-18 23:31] negz commented on #1154
We should also consider https://github.com/crossplane/crossplane/pull/1163. When that design (or something like it) lands:

* The core "resource claim" types will likely go away.
* The controllers that handle Crossplane infrastructure and application composition will need to live somewhere.

[2020-03-19 02:41] displague opened #1351 "Debug logging messages are not emitted"
### What happened?

#1333 introduced a bug preventing debug messages from being emitted.

The arguments are parsed (and `debug` is set) after the unset debug variable is being used to incorrectly enable debug output.

### How can we reproduce it?

`go run cmd/crossplane/main.go --debug` should start with a `DEBUG` line mentioning the sync period:

[code]

### What environment did it happen in?
Cro

[2020-03-19 03:32] #1351 closed

[2020-03-19 05:47] artursouza commented on #280
Atlas seems to be an external offering, is there a way to support an external offering via a provider in Crossplane? My goal is to support the AWS and Azure providers via DynamoDB and CosmosDB respectively. Any idea how to support MongoDB in GCP via crossplane? I see that GCP offers it via Atlas but it seems just the billing in GCP while the managed service is outside (Atlas). Does anyone have exp

[2020-03-19 08:42] muvaf opened #1352 "Use of `v` prefix in versions in Crossplane ecosystem"
### What problem are you facing?

I would like to get to a consensus about using `v` prefix in the versions of the releases in Crosslane ecosystem. According to [SemVer](https://semver.org/), the spec does not include `v` prefix but it [doesn't restrict it either](https://github.com/semver/semver/issues/204). There are many instances of `v` prefix being used. Apparently, `v` prefix existed in earl

[2020-03-19 08:46] muvaf opened #1353 "Backup and Restore doc"
### What problem are you facing?

There is no instruction or assurance about Crossplane's ability to be backed up and restored. It has been one of the things that we have been careful implicitly while following Kubernetes API patterns but there is no testing done or any doc that describes how you'd do it.

### How could Crossplane help solve your problem?

Test dynamic and static provisioning of `

[2020-03-19 10:57] hasheddan commented on #280
@artursouza just a heads up, I believe @sahil-lakhwani is in progress on AWS DynamoDB so it may be good to just focus on Azure Cosmos to start. I am thinking (at least for now) that we likely will not support marketplace installations like MongoDB Atlas on GCP. Instead, I think [Mongo](https://github.com/mongodb/go-client-mongodb-atlas) could be its own self-contained `provider` to support Atlas.

[2020-03-19 13:31] displague commented on #1352
https://github.com/crossplane/crossplane/pull/1288/files#diff-2685e3bc90b840b02487c9e329030a1cR93-R97 will need some updates however we change things.

[2020-03-19 13:37] displague commented on #1352
I would like to see us stick to one common convention in all of our uses, but I don't think that we should break convention of the greater communities. In Git repos it is possible to tag with a numeric "1" or "1.2.3", but in my experience this is very uncommon compared to using the "v" prefix.

I got the impression when reading the semver docs that "1.2.3" is the semantic version, whether or not a

[2020-03-19 13:52] displague commented on #1353
The results of this could be linked from this document: https://github.com/crossplane/crossplane/pull/1288/files#diff-2685e3bc90b840b02487c9e329030a1cR27-R31

I think it is important to define the scope of the backup/restore.  For example, a complete restore (of etcd) will have less complications than a partial restore (of just the crossplane-system namespace, for example) because of the dependenc

[2020-03-19 14:03] displague commented on #1353
I think for Stack Manager, the state is represented by a single cluster.

The more interesting (and fault prone) scenarios will involve how the Stack Manager handles host-aware backup/restore scenarios.  Can one side be restored without the other? How should you restore the tenant or the host alone? How does this affect the crossplane (KubernetesTarget) clusters?

On the Crossplane core side, the

[2020-03-19 14:30] hasheddan commented on #1352
+1 for including "v" everywhere

[2020-03-19 14:51] artursouza commented on #280
We can support nosql databases and let the API (mongodb or not) to be an attribute. In Azure you choose which API to use.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Daniel Mangum <notifications@github.com>
Sent: Thursday, March 19, 2020 3:57:31 AM
To: crossplane/crossplane <crossplane@noreply.github.com>
Cc: Artur Souza <artursouza.ms@outlook.com>; Mention <

[2020-03-19 22:46] suskin commented on #1235
I ended up closing the previous PR and replacing it with a new one - https://github.com/crossplane/templating-controller/pull/12

[2020-03-20 16:45] muvaf commented on #1353
I think the best course of action would be to make CRDs that we reconcile in a way that they can be safely restored from scratch, i.e. I should be able to export all CR instances (or whatever we need) and when I `apply` them in a new cluster, I should get to the same state. So, I don't expect Crossplane to be aware of the backup or restore scenario and act on it, rather be idempotent and declarati

[2020-03-23 16:16] jbw976 commented on #1198
https://github.com/crossplane/templating-controller/pull/11 has been merged, so the coverage in the templating-controller repo is great now.

The only thing left is StackDefinition test I think? @muvaf are you going to follow up on that or should this issue be assigned to someone else? Thanks!

[2020-03-23 23:17] displague commented on #1337
Closed by #1338

[2020-03-23 23:17] #1337 closed

[2020-03-24 01:14] jbw976 opened #1362 "Package Crossplane for OperatorHub.io"
### What problem are you facing?

Crossplane is available for installation currently as a container published to dockerhub and a helm chart published to https://charts.crossplane.io/.  These are useful in a lot of environments, but do not natively integrate with OperatorHub.io and OpenShift.

### How could Crossplane help solve your problem?

Crossplane's functionality could provide a lot of value

[2020-03-24 16:24] muvaf commented on #1198
@jbw976 I just opened a PR to convert the test to work without the api-server https://github.com/crossplane/crossplane/pull/1363

[2020-03-24 17:17] #1235 closed

[2020-03-24 20:00] #1198 closed

[2020-03-25 18:59] resouer opened #1366 "Deprecate crd-install hook?"
### What happened?

This is a known issue: https://github.com/crossplane/crossplane/blob/569c75e30db93cf2f73eb028890ae976c37d1895/Makefile#L121

[code]

I suggest we can consider deprecating crd-install in Crossplane helm package.

### How can we reproduce it?

[code]

### What environment did it happen in?
Crossplane version: 0.9.0-rc.20.g569c75e

[2020-03-25 19:58] muvaf commented on #1366
Hi @resouer !

We kept it in place [to be compatible with Helm 2](https://github.com/crossplane/crossplane/pull/1020). AFAIK, in Helm 3 you only get a warning and installation succeeds. Have you had a different experience?

[2020-03-25 20:52] resouer commented on #1366
@muvaf No, just warnings of course. I didn't know that Crossplane wants to keep compatibility with helm 2. Any upgrade plan may I ask?

[2020-03-26 12:45] muvaf commented on #1366
I think we want Crossplane to be compatible with both Helm2 and Helm3, which is the case right now. But this comes with its own challenges, especially around maintenance burden of making the same chart compatible with both.

So, in case we can't support both at the same time, we'd probably have two different charts for each version but in the foreseeable future, I don't see Crossplane dropping sup

[2020-03-26 16:13] infinitecompute opened #1372 "CacheSubnetGroup"
### What problem are you facing?
Would like add a CacheSubnetGroup resource

### How could Crossplane help solve your problem?
Enables creation of ElastiCache resources

### References
*

[2020-03-26 16:16] infinitecompute opened #1373 "Add ElastiCache support"
### What problem are you facing?
Would like add support for ElastiCache resource

### How could Crossplane help solve your problem?
Enables creation of ElastiCache resources

### References
* https://crossplane.io/docs/v0.9/api/crossplane/provider-aws/cache-aws-crossplane-io-v1beta1.html

[2020-03-26 16:38] infinitecompute opened #1374 "AWS Certificate Manager"
### What problem are you facing?
Would like add a support for certificate provisioning / SSL

### How could Crossplane help solve your problem?
Enables creation of AWS Certificate Manager resources

### References
*

[2020-03-26 23:28] negz commented on #5
We're going to need this for Crossplane itself and each addon/provider/etc controller.

[2020-03-27 02:07] negz commented on #5
Updated the title of this issue; the controller managers we run all use single pod deployments now. We'd be in a bad place if two replicas were active at once though, and thus still would like leader election.

[2020-03-27 03:31] resouer commented on #1366
OK, I think it's clear now. Maybe you can add this plan in doc or somewhere. I will close this issue.

[2020-03-27 03:31] #1366 closed

[2020-03-27 03:45] resouer opened #1375 "Give TraitDefinition/WorkloadDefinition a short name?"
xref: https://github.com/oam-dev/spec/issues/331#issuecomment-604787669

I am thinking maybe we can give them a short name like "trait" and "workload"?

I feel my fingers are trembling after CRUD `traitdefinitions` and `workloaddefinitions` for several times, they are just too long and verbose to type in even with best keyboard.

/cc @negz

[2020-03-27 10:38] muvaf commented on #5
I remember controller-runtime had this problem of two replicas reconciling the same resource during updates, i.e. when you update the image in `Deployment` there is no guarantee that different versions will not be up at the same time, which is much worse than having two pods with same image reconciling the same resource.

Then they started to use `StatefulSet`, which does have such a guarantee, fo

[2020-03-27 16:56] muvaf opened #1378 "Use workload identity as provider"
### What problem are you facing?

Crossplane `Provider` resources refer to a `Secret` that contains credentials data for the given account that Crossplane will use to provision resources. However, cloud providers suggest that identity credentials should be used through a mechanism that will inject them into the pod that uses them. How it's enabled differs between providers but the general idea is

[2020-03-27 17:09] hasheddan opened #1379 "Consider adding categories to CRDs"
### What problem are you facing?

It is currently tedious to list some of our resources with longer names (specifically in some of the providers). It is also sometimes desirable to list "all crossplane resources" or "all gcp resources".

### How could Crossplane help solve your problem?

You can add [categories](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resourc

[2020-03-27 21:14] displague commented on #1346
I'm not sure about how the Kubernetes environment would handle two competing StackInstalls from private images, both with `imagePullPolicy: Always` enforced.  If one of these StackInstalls references a needed imagePullSecret, and the other does not, will the StackInstall (Job, or Deployment) missing the imagePullPolicy ever succeed?

[2020-03-28 01:03] negz commented on #1375
Is the goal to find all trait definitions (kind of traits) or to find all instance of traits?

If it's the former, I think short names like `traitdef` and `workloaddef` or even `td` and `wd` would be appropriate. If it's the latter I think @hasheddan's suggestion in https://github.com/oam-dev/spec/issues/331#issuecomment-605116830 of adding all kinds of workload and trait CRDs to either the `workl

[2020-03-30 07:10] janwillies opened #1380 "patch existing Kubernetes resource with KubernetesApplication"
### What happened?
I want to patch an existing Kubernetes resource (see https://github.com/crossplane/provider-aws/pull/164). After removing the following checks:

- https://github.com/crossplane/crossplane/blob/master/pkg/controller/workload/kubernetes/resource/resource.go#L262
- https://github.com/crossplane/crossplane/blob/master/pkg/controller/workload/kubernetes/resource/resource.go#L333
- ht

[2020-03-30 16:57] negz opened #1382 "Allow a KubernetesApplication to be backed up and restored"
### What problem are you facing?

When a `KubernetesApplication` is backed up using a tool like https://velero.io/ it cannot be recreated if its remote resources are still running. Remote resources are annotated with the UID of their `KubernetesApplicationResource` as a kind of cross-cluster controller reference. These UIDs change when the `KubernetesApplicationResources` are recreated, and thus t

[2020-03-30 17:00] negz opened #1383 "Allow resource claims to be backed up and restored"
### What problem are you facing?

When a managed resource and its resource claim are backed up and subsequently restored using a tool like https://velero.io they do not remain bound:

[code]

### How could Crossplane help solve your problem?

It should be possible to backup a managed resource and its claim, then recreate them (in any order) and have them remain bound and functional.

[2020-03-30 17:12] janwillies commented on #1380
some further digging: after patching [crossplane-runtime](https://github.com/crossplane/crossplane-runtime/blob/da385a76bc9b8bb68ca2d5685c8d13009c437481/pkg/resource/resource.go#L310) to use `StrategicMergePatchType` the daemonset was successfully reconciled. However if I remove the corresponding `kubernetesapplicationresource` the daemonset is removed from the target cluster as well. Probably not

[2020-03-30 17:53] suskin opened #1384 "ci2ci: Add notifications"

[2020-03-30 18:35] #1384 closed

[2020-03-30 18:35] suskin commented on #1384
Whoops - closing this as I created it in the wrong repo

[2020-03-30 20:29] suskin commented on #835
Closing this as it is out of date

[2020-03-30 20:29] #835 closed

[2020-03-31 03:02] negz commented on #1383
Testing by applying the following resource class and claim:

[code]

[code]

Applying the above resulted in the below:

[code]

[code]
[code]

[2020-03-31 04:06] negz commented on #1383
I'm going to try recreating the resource using the below configurations. I'm not sure if this is exactly what Velero does, but I presume it does not backup resource status or server-generated metadata.

[code]

[code]

Everything seems to work when I first create the managed resource, then the claim:

[code]

[2020-03-31 04:23] negz commented on #1383
Hrm, also seems to work when I first create the claim, then next the managed resource:

[code]

@turkenh, is there anything you can think of that I might have missed in trying to reproduce this issue? One obvious difference is that I've used CloudMemorystore rather than CloudSQL, since there was a [known issue](https://status.cloud.google.com/incident/zall/20004) with CloudSQL when I went to try i

[2020-03-31 11:11] turkenh commented on #1383
@negz Yes, I used app-wordpress stack (sample-stack-wordpress:master).

Nothing special I can think of regarding Velero. Backup cluster a and restore into cluster b.

Could it be related to wordpress stack controller also running in my case and interferes with already existing claim? We restore claim with restore, but also wordpress instance. How does wordpress controller behave in this case?

[2020-03-31 16:14] displague commented on #1362
PR in progress at https://github.com/operator-framework/community-operators/pull/1461/

[2020-03-31 16:27] displague commented on #509
@hasheddan has created https://github.com/crossplanebook/provider-template which is what this issue was imagining, focused on providers.

[2020-03-31 16:32] muvaf commented on #1380
That's actually expected. `KubernetesApplicationResource` CRs are assumed to be the controller of the remote object and tightly coupled. So, if you delete `KubernetesApplicationResource`, then the corresponding object will be deleted, too. So, it's not a one time thing but more like managing the object and its lifecycle from the control cluster.

Do you see the resources created in the remote clus

[2020-03-31 18:06] #631 closed

[2020-03-31 23:10] negz commented on #1383
Okay, testing this out with Velero now. Here's what I'm going to try backup:

[code]

[code]

[2020-03-31 23:11] negz commented on #1383
The tarball from the previous comment includes our resources backed up as JSON:

[code]

[code]

[2020-03-31 23:30] negz commented on #1383
I'll now simulate a loss of data by:

1. Stopping the provider-gcp process
2. Deleting and manually removing the finalizer from both the postgresqlinstance and cloudsqlinstance
1. Restarting the provider-gcp process

[code]

[2020-03-31 23:41] negz commented on #1383
Running the restore:

[code]

This did not work as expected:

[code]

[2020-03-31 23:48] negz commented on #1383
Here's the restored resources:

[code]

Note both resources have lost control of their secrets;

[code]

Interestingly the secrets just don't seem to have any owner references anymore...

[code]

[2020-03-31 23:55] negz commented on #1383
Here's some logs from around the restore:

[code]

[2020-04-01 00:09] negz commented on #1383
I managed to get the claim to bind to the managed resource by manually deleting both secrets.

I believe the problem is that the claim and resource become temporarily unbound because there's a brief window in which only one of them exist; either the claim or the managed resource is created first. This is working as expected. Normally the claim reconciler logic would rebind the two resources once t

[2020-04-01 00:17] negz commented on #1383
Seems Velero does backup the controller references:

[code]

[2020-04-01 00:35] negz commented on #1383
I can't find any evidence that Velero is actively stripping out these owner references. My guess is that Velero faithfully restores them, at which point removed by the Kubernetes garbage collector since they're dangling references.

https://github.com/kubernetes/kubernetes/blob/dda530c/pkg/controller/garbagecollector/garbagecollector.go#L468

[2020-04-01 11:07] muvaf commented on #631
@negz Why is this not considered useful anymore?

[2020-04-01 13:48] displague opened #1389 "Allow Stack, StackInstall, StackDefinition to be backed up and restored"
### What problem are you facing?

Client-side backup and restore tools for Kubernetes, such as a Velero, typically recreate resources on restore.  The UID of these resources will differ from the original because UID is ignored on resource creation.

The StackManager and the resources it creates are not prepared to handle a change of UIDs in the resources that the StackManager creates and otherwise

[2020-04-01 14:16] #1187 closed

[2020-04-01 16:52] muvaf opened #1390 "Default additional resources that are auto-provisioned by provider"
### What problem are you facing?

When you create a `VPC` in AWS, you get a `default` security group and a main route table. While these resources exist in the provider, I don't have any view of them in Crossplane after I create my VPC. This has some implications like not being able to work just with the default security group and route table instead of creating additional ones so that I can refer

[2020-04-01 22:56] #1317 closed

[2020-04-02 00:22] #1346 closed

[2020-04-02 06:22] negz commented on #1382
I believe this was fixed by https://github.com/crossplane/crossplane/pull/1381.

[2020-04-02 06:22] #1382 closed

[2020-04-02 09:59] muvaf commented on #1352
I think we have settled on `v` prefix as all new releases now include it.

[2020-04-02 09:59] #1352 closed

[2020-04-02 21:35] negz commented on #496
This controller has been refactored twice since this bug was raised; I'm going to close it out. We can reopen if we observe that this is still an issue.

[2020-04-02 21:35] #496 closed

[2020-04-02 21:52] negz commented on #458
As of https://github.com/crossplane/provider-gcp/pull/208 GCS is switched over to our `crossplane.io/external-name` annotation, and no longer uses `NameFormat`. Under this pattern the bucket names should typically be a lot shorter. If you omit the `crossplane.io/external-name` annotation your bucket will be named `claimnamespace-claim-name-5char`, for example `default-coolbucket-dk4jd`. If you spe

[2020-04-02 21:52] #458 closed

[2020-04-03 00:36] negz commented on #418
Related: https://github.com/crossplane/crossplane/pull/1129

[2020-04-03 00:36] negz commented on #678
We don't use Sonarcloud anymore. :)

[2020-04-03 00:36] #678 closed

[2020-04-03 00:37] negz commented on #479
We've moved to a standardised resource claim controller since this issue was raised; I'm going to close it out as I expect it's either fixed or affecting all managed resources. We can reopen if the latter is true.

[2020-04-03 00:37] #479 closed

[2020-04-03 00:39] negz commented on #436
I believe ths

[2020-04-03 00:39] #436 closed

[2020-04-03 00:42] negz commented on #506
I believe cross resource references solves most of this. The "magic" aspect is somewhat covered by the impending work detailed in https://github.com/crossplane/crossplane/pull/1163.

[2020-04-03 00:42] #506 closed

[2020-04-03 00:45] negz commented on #494
I don't think this request fits with our current thinking around what claims and classes represent.

[2020-04-03 00:45] #494 closed

[2020-04-03 00:46] negz commented on #26
I believe this is done, at least for Crossplane core. I think Azure AKS might be the only controller that still uses this harness, and it will naturally migrate away when we rev it to v1beta1.

[2020-04-03 00:46] #26 closed

[2020-04-03 00:48] #99 closed

[2020-04-03 00:50] negz commented on #351
I don't know that were was ever a design for this, but we certainly support modelling network and security managed resources now, as well as how they relate to each other.

[2020-04-03 00:50] #351 closed

[2020-04-03 00:51] negz commented on #258
This is (much) older than https://github.com/crossplane/crossplane-runtime/issues/116, but that issue is in the right repo for this topic these days, so I'm going to mark this one as a duplicate.

[2020-04-03 00:51] #258 closed

[2020-04-03 00:54] negz commented on #281
We're starting to work on this in each provider, for example in https://github.com/crossplane/provider-aws/issues/170. I agree we want this functionality, but I'd prefer to stick with more targeted "add message queue service foo" in each provider than have one issue tracking all of them.

[2020-04-03 00:54] #281 closed

[2020-04-03 00:55] negz commented on #738
I think we pretty much have a decision here; only thing left to do is capture that somewhere. Is this issue enough?

[2020-04-03 00:56] negz commented on #566
I'm just going to close this out; the way we're doing this today is inline with typical Kubernetes patterns.

[2020-04-03 00:56] #566 closed

[2020-04-03 00:57] negz commented on #902
We closed out the epic this was in, as it's less of a priority now. I'm going to close this issue accordingly.

[2020-04-03 00:57] #902 closed

[2020-04-03 00:57] negz commented on #886
We closed out the epic this was part of as it's less of a priority now. I'm going to close this issue accordingly.

[2020-04-03 00:57] #886 closed

[2020-04-03 00:59] negz commented on #790
In retrospect, I think the work per the previous comment is enough that we don't need an issue tracking this.

[2020-04-03 00:59] #790 closed

[2020-04-03 01:01] negz commented on #919
We closed the parent epic here, and I don't think there's enough context in this issue to determine what work (if any) is still relevant, so I'm going to close it out.

[2020-04-03 01:01] #919 closed

[2020-04-03 01:02] negz commented on #918
We closed the parent epic out here, and I can't tell from this issue what work it's tracking, so I'm going to close it out.

[2020-04-03 01:02] #918 closed

[2020-04-03 01:03] negz commented on #916
Is this still something we want to do @prasek @suskin?

[2020-04-03 01:04] negz commented on #914
Is this still something we want to do @prasek @suskin?

[2020-04-03 01:06] negz commented on #950
I think this is actually possible now at the CRD level; see `oneOf` in https://kubernetes.io/blog/2019/06/20/crd-structural-schema/. Not sure if kubebuilder supports it yet.

[2020-04-03 01:09] negz commented on #1127
This will be fixed when we remove these API docs in favor of @hasheddan's new tool; https://github.com/crossplane/crossplane/issues/1295

[2020-04-06 01:59] #1379 closed

[2020-04-06 13:40] muvaf commented on #418
This is true for all resources that are v1beta1 if they support labelling/tagging. #1129 generates a set of tags to be used but does not automagically copy some prefixed labels from Kubernetes metadata into the tags array of the managed resource. @negz is this what we'd like to achieve? I can see it helping with standardizing labelling for all resources, which can be utilized by the platforms buil

[2020-04-07 09:34] muvaf commented on #738
@negz I think this should be enough. For managed resources, we go with whatever provider decides. For claims, it's probably a common ground and it won't matter much anyway after enabling users to write their own claims, i.e. we'll let them decide.

[2020-04-07 09:34] #738 closed

[2020-04-07 15:24] displague opened #1402 "PackageInstall jobs do not work in MiniShift"
### What happened?

While attempting to debug https://github.com/crossplane/stack-aws-sample/issues/17, @muvaf discovered that the StackInstall InstallJobs had abbreviated pods logs. This created incomplete CRD documents and lead to the omission of other CRD resources and the Stack resources itself.

The `stack unpack` command (the install job) works by having the package mounted to it, examining

[2020-04-07 17:03] DaveTorbeck opened #1403 "Documentation for Minimal GCP Environment Stack + Wordpress e2e"
Video of demo: https://drive.google.com/open?id=1wXzOkNl2rEynOWtsCURiEfO-tU12AoC_

[2020-04-07 17:20] #1403 closed

[2020-04-07 19:27] infinitecompute opened #1404 "Documentation for building providers"
### What problem are you facing?
We need a set of docs for building providers.

### How could Crossplane help solve your problem?
A documentation section for Infrastructure Providers looking to develop standalone providers.

It would point to resources that have already been developed:
https://github.com/crossplanebook/provider-template

[2020-04-08 17:58] muvaf commented on #1402
@displague does this happen only in Minishift or is OpenShift also affected?

[2020-04-08 18:48] negz commented on #1389
@displague FWIW I haven't yet tested backup and restore of StackInstalls. I confirmed that Velero backs up owner references and resource statuses, but removes them during the restore phase. So owner references are gone, not mismatching as I originally thought.

The approach I've been taking is to remove UIDs from most references and instead reference only by (some subset of) GVK, name, and namespa

[2020-04-08 19:10] displague commented on #1402
This issue is tracking what we noticed in minishift. Open shift is not affected from the limited environments I have experienced.

I don't know about other environments. Presumably the setting that minishift uses will prevent stackinstall from working under similar settings.

This issue is a place to explore the reason (identify the setting) and possible solutions.

OpenShift does not appear to be

[2020-04-08 20:29] prasek commented on #1389
@displague is there a simple fix here we can get in by EOD today or early tomorrow AM so we can start using a newer Crossplane rc version on dev to test the stacks/packages that are being cut later today / tomorrow morning so we can test this as part of UbC v0.7?

[2020-04-08 21:23] displague commented on #1389
@prasek I can swing at it with https://github.com/crossplane/crossplane/pull/1407, but there are unknowns here.

I'll start by fixing the things that I know will fail with a loss of UIDs (as considered in the PR description).  The definition of 'fix' here means making things more backup and restore tolerant while introducing different behaviors for other edge cases, hopefully justified and support

[2020-04-09 07:21] negz commented on #1389
FWIW during my travels today I've stackinstalled myself a `stack-azure-sample`, and an `app-wordpress`, backed everything up with Velero, recreated my minikube, and restored. Nothing obviously and immediately broke as far as I can tell with regard to Stacks; Velero happily restored the templating controller deployments and things kept plugging along.

[2020-04-09 13:54] displague commented on #1389
I think in a full backup and restore, stack uninstall is where we will find pieces orphaned.
I'm running this scenario now.

---
I've also observed that a namespace level backup can not be supported because the CRDs that are stored by Velero in a namespace inclusive backup are only those in use. If a StackInstall installed CRDs that were not in use I think you will find these lost on restore.

`ve

[2020-04-09 14:29] displague commented on #1389
I've confirmed the stackinstall delete scenario leaves orphaned stacks.
The installjob seems to have been cleaned up correctly.

Deleting stacks (and stackdefinitions) by hand then orphans deployments, clusterroles, and rolebindings/clusterrolebindings.

Because the stackinstall resource was already removed, the CRDs are orphaned because the stack was never deleted which would have released its sh

[2020-04-09 14:49] jbw976 opened #1411 "Remove golangci.com integration"
Unfortunately, it looks like golangci.com is shutting down its service on April 15th.  More details are available in this blog post: https://medium.com/golangci/golangci-com-is-closing-d1fc1bd30e0e

We should remove our integrations with golangci.com from our builds/PRs across all repos.

[2020-04-09 15:02] jbw976 commented on #1320
This has been fixed in all of the provider repos with the following PRs:
* https://github.com/crossplane/provider-gcp/pull/214
* https://github.com/crossplane/provider-aws/pull/190
* https://github.com/crossplane/provider-azure/pull/132
* https://github.com/crossplane/provider-rook/pull/54

I have verified in s3 that those repos are no longer publishing (and overwriting) builds on https://releases

[2020-04-09 15:02] #1320 closed

[2020-04-09 15:57] displague commented on #1389
I would have thought that most of these problems would be remedied with https://github.com/crossplane/crossplane/pull/1407, which removes UID from the parent labels but I'm now seeing that the StackInstall `finalizer` is not being restored with the resource.

I would expect that the stackinstall controller would re-add this on restore (create), but that isn't happening either.

[2020-04-09 15:57] jbw976 commented on #1389
Thanks for the investigations and information @displague and @negz.  So it looks like the Stacks still seem "functional" after a backup/restore, e.g. the installed stack is still performing its job and its managed resources are accessible and healthy.  The only issue is that we can no longer garbage collect fully, so their resources will get orphaned and not cleaned up without manual intervention.

[2020-04-09 19:51] displague commented on #1389
With regard to limited namespace backups, @nrb suggested:

And for a Crossplane or `StackInstall` specific set of backup plans, we could create a BackupAction plugin https://velero.io/docs/master/custom-plugins/#plugin-kinds.  Examples of some of the builtin plugins are here: https://github.com/vmware-tanzu/velero/blob/master/pkg/cmd/server/plugin/plugin.go#L38-L41.  A plugin could, for example, i

[2020-04-09 21:15] displague commented on #1029
This has effectively been implemented with the following examples:
* https://github.com/crossplane/stack-aws-sample
* https://github.com/crossplane/stack-gcp-sample
* https://github.com/crossplane/stack-azure-sample

I believe my original wording and thinking behind this was that we could offer CR instances of `FooClass`.  The sample stacks above achieve this dynamically with an added layer (offer

[2020-04-09 21:15] #1029 closed

[2020-04-10 12:42] displague commented on #1362
The community-operators PR has also been merged: https://github.com/operator-framework/community-operators/pull/1515

The issue reported here https://github.com/crossplane/stack-aws-sample/issues/17 prevents the use of sample stacks in Openshift with https://github.com/crossplane/crossplane/pull/1400 proposing a fix.

For the next few Crossplane releases, manually updating the directories added in

[2020-04-10 12:42] #1362 closed

[2020-04-11 00:41] prasek opened #1415 "Docker compose support for app deployments with managed services"
### Problem
Deploying Kubernetes apps often requires a steep learning curve and many app developers are already familiar with [Docker `compose`](https://docs.docker.com/compose/) as a simple way to standup apps locally. The [Kubernetes `kompose`](https://kubernetes.io/docs/tasks/configure-pod-container/translate-compose-kubernetes/) tool allows you to take a standard `compose` application and run

[2020-04-11 16:05] muvaf commented on #1415
I think we have two options here:
* Add a top level field to [Compose spec](https://github.com/compose-spec/compose-spec/blob/master/spec.md).
* Have a compose in a Kubernetes YAML and inject necessary connection secret data to containers; similar to how we mount the connection secrets to pod.
* Deploy Crossplane as container together with a Kubernetes api-server, configure the managed resources i

[2020-04-13 03:01] negz commented on #1411
We already run golangci-lint as part of our Jenkins build, so all the golangci Github integration does for us is provide a nice bot with comments and suggestions when there are linter errors. I've asked them if we can self-host such a bot per https://github.com/golangci/golangci/issues/53, but have no response just yet. We could consider switching to something like https://github.com/reviewdog/rev

[2020-04-13 17:05] muvaf opened #1416 "composition: implement InfrastrcutureDefinition and its reconciler"
### What problem are you facing?

Implementing https://github.com/crossplane/crossplane/pull/1163

### How could Crossplane help solve your problem?

* InfrastructureDefinition kind
* A common configurable reconciler for both InfrastructureDefinition and ApplicationDefinition

[2020-04-13 17:10] muvaf opened #1417 "composition: implement generic reconciler for composition mechanism and Composition type"
### What problem are you facing?

Implementing #1163

### How could Crossplane help solve your problem?

* Composition kind
* The generic reconciler to create/update child resources

[2020-04-13 17:10] muvaf opened #1418 "composition: implement publication"
### What problem are you facing?

Implementing #1163

### How could Crossplane help solve your problem?

* InfrastructurePublication type
* Reconciler to publish the defined infrastructure and propagate the values back and forth

[2020-04-13 17:11] muvaf opened #1419 "Implement selectors for cross resource references"
### What problem are you facing?

* Add selector for cross resource references in runtime
* Update all reference fields to adopt selector

### How could Crossplane help solve your problem?

[2020-04-13 17:16] muvaf opened #1420 "Implement ApplicationDefinition and its reconciler"
### What problem are you facing?

Implementing #1163

### How could Crossplane help solve your problem?

* Implement ApplicationDefinition type
* Adopt common reconciler to cover ApplicationDefinition

[2020-04-13 17:38] resouer commented on #1415
Just jump in to throw my 2 cent:

It sounds we are proposing a Compose user use Docker Compose deploy apps but write K8s YAML to provision cloud resources - this is the most weird thing I've heard in 2020 🙂

Another arguement it where is the biggest user base who are mostly developers and have strong need for cloud resources? I really doubt it's Docker Compose community. Serverless/FaaS/ACI/Fargat

[2020-04-13 19:42] muvaf commented on #1415
I'm not sure whether K8s YAML is wildly different than Compose YAML. Following is an example Compose YAML from spec doc:
[code]

If we go with the third option we can have a plugin-like thing to convert whatever format that they are most comfortable into K8s resource that will be deployed to the internal api-server. Adding `metadata` and `apiVersion` fields would be pretty simple.

But I agree tha

[2020-04-13 22:03] resouer commented on #1415
I may be opinionated as I work on K8s :-) But it's weird and heavy burden in mind if I have to take care of two data models come from two different worlds, think about writing code with Python & Java at same time.

Seems off topic but I'm also not sure how this works. You should ship a single node K8s to make Crossplane run, no?

[2020-04-13 22:47] muvaf commented on #1415
Crossplane and the api-server would run in one container in the composition and Crossplane would target that local api-server. Crossplane doesn't have to be in a pod or run in Kubernetes as long as a `KUBECONFIG` is provided. There would probably some intricacies along the way but it should be possible.

[2020-04-13 23:04] resouer commented on #1415
I see. I feel it's more exciting to leave this "Crossplane as a Container" idea to Fargate/Cloud Run/ACI case instead of local/Docker Compose. Provision apps and cloud resources with K8s resource model where K8s is not even there.

[2020-04-14 21:24] prasek commented on #1415
@resouer Yes, that's a great idea too! For Crossplane + Docker Compose the idea is that the platform ops team could provide a catalog of available managed services (as Crossplane/k8s yaml), that app devs could provision by name or matchSelector from within a Compose file without having to write k8s yaml at all. Just trying to meet people where they are, esp. for the app dev users who may not want

[2020-04-14 22:44] resouer commented on #1415
@prasek Just several inputs based on real-world use cases on our side.

On Alibaba Cloud, the main motivation our customers use kompose is to migrate their legacy Swarm applications to Kubernetes and very few of them consume cloud service (e.g. they deploy mysql container instead of consuming Alibaba Cloud RDS). And due to lack of stickiness to cloud services, Alibaba has officially shutdown compo

[2020-04-15 04:28] resouer opened #1423 "[Data model] several owner references are not set properly"
Sample app comes from https://github.com/oam-dev/crossplane-oam-sample

[code]
1. Component is missing. Seems its owner reference is not set properly.
2. Trait owns deployment. This link should already be recorded by `workloadRef`, seems we don't need to set owner reference on deployment? Also, I think Trait could be owned by Component.
3. I'd suggest Workload always share the same name with Compo

[2020-04-15 05:54] negz commented on #1423
1. Is intentional. The `kind: ApplicationConfiguration` does not own the `kind: Component`.
2. This doesn't fit with my mental model of what a `kind: Component` is.
3. That's not possible. There is a one-to-many `kind: Component`-to-workload relationship.

[2020-04-15 15:31] muvaf opened #1424 "Publish credentials to Vault"
### What problem are you facing?

Crossplane publishes sensitive connection information of cloud resources Kubernetes Secrets. But I'd like them to be published to my Vault so that it can be accessed by other systems completely separate from Crossplane or cluster that it runs inside.

### How could Crossplane help solve your problem?

Publish connection secrets to a Vault instance with a custom op

[2020-04-15 22:54] resouer commented on #1423
@negz If I understand correctly, I think you mean another `ApplicationConfiguration`  could reference existing `Component` and create different `Workload` CR. So in this mental model, `kind: Component` is a workload generator/template (model 1).

The alternative is `Component` is the 1:1 envelope of `Workload` to carry extra fields such as `parameters`. This makes implementation simpler to address

[2020-04-15 23:57] vturecek commented on #1423
Component is distinct from a component _instance_. The ApplicationConfiguration doesn't own the component, it owns an instantiation of the component, which is represented by a workload type. So that part seems right in the tree.

Similarly, a Component doesn't own a trait, but a component _instance_ does (or rather, a trait belongs to a specific component instance). The tree shows the ApplicationC

[2020-04-16 00:11] resouer commented on #1423
@vturecek For ownership issue, I believe we are in same picture. It's totally OK for me to let AppConfig to own Workload instead of Component. While for the `Component` part, there seems a gap.

Are you also suggesting that Component has 1:N mapping with Workload? i.e. it's a practice to reference same Component in different AppConfig? My opinion is we should not encourage that, it's problematic i

[2020-04-16 00:35] resouer commented on #1423
A summary for current discussion to make sure everyone in the same pic:

- [x] AppConfig owns Workload instead of Component - all agree
- [ ] Workload owns Trait instead of the other way around - Lei, Vac agree
- [ ] Component Workload 1:1 mapping - proposed by Lei

[2020-04-16 00:49] negz commented on #1423
I don't think we should try to resolve this in this issue. Today in the spec and the implementation a `kind: Component` is a template used by many `kind: ApplicationConfiguration` to produce many workloads. Presumably changing that would require fairly fundamental changes to the spec, which seems like it warrants its own design issue.

[2020-04-16 00:53] negz commented on #1423
The `kubectl tree` you posted does not know a workload owning a trait. It shows both the workload and the trait owning the output of the workload; the `kind: Deployment` and `kind: Service`. This feels appropriate to me because both the workload (`kind: ContainerizedWorkload`) and the trait (`kind: ManualScalerTrait`) orchestrate the `kind: Deployment` and `kind: Service`.

[2020-04-16 01:14] resouer commented on #1423
I am not sure where this implication comes from? and why fairly fundamental change is needed?

Can we just set owner of Trait to corresponding Workload CR it applies to?

[2020-04-16 05:24] resouer commented on #1423
I see, it should because the assumption that `Component` in still considered as immutable in v1alpha2, xref: https://github.com/oam-dev/spec/pull/343

Can we open it up and allow developers to modify `Component`? In that case `Component` is an instance instead of "template", and 1:1 mapping to `Workload` CR.

[2020-04-16 17:41] kasey opened #1426 "One-pager defining code generation goals and first approximation of appproach"
The goal of this document is to define the problem and get alignment on what we are (and are not) trying to accomplish with the current epic. As part of this task I want to analyze targets for generation, previous work, and document sources of machine-readable cloud API descriptions, as well as frame out what kind of structures code generation will need to target in controller code.

[2020-04-16 17:55] resouer commented on #1423
@vturecek Yes I can understand the mental model you are describing. Though I don't think it's necessary in v1alpha2 spec and will cause confusion by sharing Component obj across AppConfigs, I will raise a discussion in oam side.

[2020-04-16 18:00] negz commented on #1295
Could we have the CRD docs rendered expanded (i.e. not collapsed) by default?

[2020-04-16 18:01] negz commented on #1295
Also, (low prio) but a list of suggested repos to explore on the splash page would be nice.

[2020-04-16 18:50] negz commented on #1295
More nice to have / UX stuff: ideally the repo splash page like https://doc.crds.dev/github.com/crossplane/provider-gcp would use a friendlier identifier than the CRD filename. Perhaps something like:

* `cache.gcp.crossplane.io`
  * `v1beta1`
    * `CloudMemorystoreInstance`
    * `CloudMemorystoreInstanceClass`

[2020-04-17 12:48] hasheddan commented on #1119
@rathpc is this still in-scope and a desired feature on your end?

[2020-04-17 13:13] rathpc commented on #1119
@hasheddan yes

[2020-04-17 13:14] hasheddan commented on #1119
@rathpc nice, assigning myself 👍

[2020-04-17 13:17] rathpc commented on #1119
@hasheddan there is also this related issue: https://github.com/crossplane/crossplane/issues/1120

[2020-04-17 17:28] nrb commented on #1389
If anyone has questions on the plugin model, feel free to come to our community meetings. You can see more info [on our community page](https://velero.io/community/).

[2020-04-17 18:36] hasheddan commented on #1389
Thanks for letting us know @nrb :)

[2020-04-19 02:39] wonderflow opened #1430 "Add an entry point in README along with some documentation for OAM users"
Now we already have implemented OAM controller in Crossplane, in fact crossplane is an OAM implementation. But we can't find anything about OAM in README.

I suggest:

1. Add an entry point for OAM user in README, which can refer to some demo documentation.
2. Add `demo` / `get started` documentation for OAM app.

[2020-04-19 08:24] wonderflow commented on #1423
Not like that. Let's use K8s `deployment` as an example, `deployment` is an instance when it was deployed, but there are Controller Revisions created behind it. We could use controller revision to do rollback for `deployment`. So there's the same case for OAM Component upgrade scenarios when we treat Component as instance.  OAM implementation can record Component revision when Component is updated

[2020-04-20 02:32] negz commented on #1423
As far as I can tell, Crossplane is setting sensible owner references according to the v1alpha1 OAM spec. This issue seems to have mostly diverged to discussing _changing_ the spec (i.e. to introduce "component instances" rather than ensuring Crossplane is compliant with the spec. I suggest we close this issue and track any potential improvements to the spec upstream.

[2020-04-20 02:39] resouer commented on #1423
Yes, please feel free to follow up on the mutable Component discussion: https://github.com/oam-dev/spec/issues/350

[2020-04-20 02:39] #1423 closed

[2020-04-21 04:43] wonderflow opened #1432 "Support Cron Trait"
We used to discuss it in Rudr https://github.com/oam-dev/rudr/issues/40
I think this is really a common trait which can be `core` trait candidate.

This is an issue from https://github.com/crossplane/addon-oam-kubernetes-local/issues/13.

We'll continue discuss here.

[2020-04-21 18:42] muvaf commented on #1426
Whenever we discuss code generation stuff for managed resources, I end up being pessimistic remembering all the custom logic I had to write for almost every resource. I think that our best shot at this is to provide a good boilerplate to make it easier to write a managed resource code rather than full code generation without human touch like some providers do for their SDKs.

Here is the list of t

[2020-04-22 11:52] hasheddan opened #1435 "Use v1 CustomResourceDefinitions"
`v1beta1` `CustomResourceDefinitions` are [scheduled for removal](https://github.com/kubernetes/apiextensions-apiserver/blob/99685ba23021e88fc9a771f029157b348fd92bab/pkg/apis/apiextensions/v1beta1/types.go#L380) in the `v1.19` cycle. We should start using `v1` prior to the release of `v1.19`, which is [tentatively scheduled](https://github.com/kubernetes/sig-release/pull/1058) for Tuesday, August

[2020-04-23 05:57] #1416 closed

[2020-04-23 12:09] muvaf commented on #1435
I think we need to decide on a version interval for supported Kubernetes versions. For example, if `v1.CustomResourceDefinition` doesn't work in k8s `1.14`, I'd not use it since 1.14 is still widely used as default by cloud providers. But if the removal will render our CRDs useless in 1.19, we should document that Crossplane is not compatible with 1.19.

[2020-04-23 16:11] jbw976 commented on #1126
I believe this has been taken care of, where a stack author does not have to specify an image for its controller in the `install.yaml` file at all.  The stack manager will just reuse the image of the package itself.

[2020-04-23 16:11] #1126 closed

[2020-04-23 16:25] jbw976 opened #1441 "install.yaml allows a full Deployment spec to be declared which can be problematic"
### What problem are you facing?

Currently, stack packages allow the author to specify an entire `Deployment` within their `install.yaml` file.  This is helpful for flexibility for the author to customize and provide additional configuration for their stack controller, but presents some security and reliability concerns, first described by @turkenh here: https://github.com/crossplane/crossplane/i

[2020-04-24 01:48] #1389 closed

[2020-04-26 04:38] negz commented on #1418
First pass completed in https://github.com/crossplane/crossplane/pull/1440, but there's a lot of follow up still required (i.e. fixing known issues, adding tests), so I'm not going to close this yet.

[2020-04-27 15:53] muvaf opened #1446 "Continuous update of remote resources causes Azure LB provisioner to fail"
### What problem are you facing?

When I try to install Wordpress, I see the following events in the `wordpress` Service that is created in the remote cluster:

[code]

This doesn't happen all the time but I've seen it happen a few times. Workaround is simply delete the service in the remote cluster, wait for a new one to be created by `KubernetesApplicationResource` controller and hope it works t

[2020-04-27 15:55] hasheddan commented on #1446
@muvaf were you able to observe the actual update that was being made on each reconciliation?

[2020-04-27 16:03] muvaf commented on #1446
@hasheddan No, I didn't debug the controller deeply.

[2020-04-27 21:43] ryanzhang-oss opened #1448 "[Design Proposal] Add a generic mechanism for traits to work with workloads in OAM runtime"
### Problem
Traits and workloads are two major types of resources in OAM.  Traits usually affect how a workload operate either directly (through spec change) or indirectly (add ingress or sidecar). However, the current OAM implementation does not contain a generic mechanism for traits to locate and apply the desired changes to the resources. Therefore, we propose to address this problem in the OAM

[2020-04-27 22:48] hongchaodeng commented on #1448
These steps are too verbose. We can do an alternative that by adding child object references in the annotations of workload CR, this can be simplified and easier to understand. Here's an example:
[code]

[2020-04-27 22:58] ryanzhang-oss commented on #1448
Who would put that info in the  workload CR? It seems that appConfig controller would have no idea.

[2020-04-27 23:03] hongchaodeng commented on #1448
It is the appConfig controller actually because it has all the context to watch child resources created, filter owner references, and attaching those info back.

[2020-04-27 23:04] resouer commented on #1448
@ryanzhang-oss Can we make it a PR so folks can leave comment easier?

Here's a perfect place for proposals: https://github.com/crossplane/crossplane/tree/f86e47e06fd5d221b33f29847bf4e12813f769da/design

[2020-04-28 01:29] hongchaodeng commented on #1448
Agree. Making it a proposal would be a great start to have a well defined, unambiguous direction for implementation.

To make a proposal, we should structure this more user friendly, and have a end2end user story.

---

First of all, the title should be focused on **adding a new trait from user perspective**. Currently the title is too implementation focused. From platform builder's POV, Trait is

[2020-04-28 04:27] artursouza commented on #1448
"Add a childResources field in the WorkloadDefinition."
It only works for simple 1-1 mappings. One Workload to one service and to one deployment. It does not work if there is a more complex logic involved to generate those. We should define an interface instead. This way, how one particular WorkloadType maps to CRDs is abstracted and just matters at runtime.

"ApplicationConfig controller add labe

[2020-04-28 13:59] hasheddan commented on #1119
@rathpc wanted to give you an update here. Currently the `Icons` array is storing *all* icons in a stack package. This means that the icons for each individual CRD as well as for the overall stack are stored here. We could pretty easily combine the two fields of the `Icon` type, but updating to only including a single `Icon` would require fairly significant other changes (i.e. adding another field

[2020-04-28 14:11] rathpc commented on #1119
@hasheddan I addressed that earlier in this issue actually

So essentially in order to avoid major breaking changes we can just add new properties and leave the old icons key until we deprecate that officially and just mark it as deprecated as part of this change.

`icon` - single icon in new format
`graphics` - all icons in new format
`icons` - existing but deprecated

[2020-04-28 14:15] hasheddan commented on #1119
@rathpc Are you saying this is a breaking change from the perspective of someone parsing the icons? This change does require any updates on behalf of provider / stacks / apps builders from what I can tell so I am not too worried about it.

[2020-04-28 14:18] rathpc commented on #1119
yes, it would be a breaking change for someone consuming the package if they had already been referencing icons in its current format.

[2020-04-28 22:14] resouer commented on #1448
Echo to this comment: https://github.com/crossplane/crossplane/issues/1448#issuecomment-620275559

I agree we should try best to simplify the workflow in Trait controller by annotating GVK + name of child resource on Workload CR. There's several approaches to do this and we can follow up the discussion on the upcoming proposal.

[2020-04-29 04:18] negz opened #1455 "A Composition should be able to patch from a non-existent field path"
### What happened?

Currently if a `fromFieldPath` references a non-existent field it's considered an error, i.e.:

[code]

I believe we should not consider this an error. For example below we might want to copy the labels of the composite resource to a composed resource if those labels exist, but ignore it if they do not.

[code]

### How can we reproduce it?

Create any `kind: Composition` with

[2020-04-29 06:00] #1455 closed

[2020-04-29 07:01] negz opened #1457 "Connection secret and reclaim policy are only replicated during composition selection"
### What happened?

I created a composite resource that explicitly specified a composition by setting its `spec.compositionRef`. I expected my composite resource to derive its `spec.reclaimPolicy` and `spec.writeConnectionSecretToRef` from its `Composition`, but it did not. I believe this is because [the code is never reached](https://github.com/crossplane/crossplane/blob/7ced24/pkg/controller/api

[2020-04-29 18:23] #1457 closed

[2020-04-29 18:33] #1417 closed

[2020-04-29 19:44] negz opened #1462 "Cannot update existing Crossplane provider CRD"
### What happened?

I encountered the following when I tried to `ClusterStackInstall` `provider-azure:master`:

[code]

I believe the issue was that I had installed the provider-azure CRDs out of band (i.e. `kubectl apply -f config/crd`). Once I removed my manually installed provider-azure CRDs everything worked as expected.

### How can we reproduce it?

### What environment did it happen in?
Cro

[2020-04-29 23:56] muvaf opened #1469 "composition: external-name override"
Implementation of `crossplane.io/external-name` annotation propagation to composed resources as designed [here](https://github.com/crossplane/crossplane/pull/1163/files#diff-0108add8ced3d7384cc6114d228ee9fbR986).

[2020-04-30 00:00] muvaf opened #1470 "Enforced composition ref on the definition"
### What problem are you facing?

Currently, there is no way to enforce a specific `Composition` resource for the instances of `InfrastructureDefinition`. Without this, the permission of creation an instance of the definition (`MySQLRequirement` or `MySQL`) is a vague one since the referenced `Composition` could include anything.

### How could Crossplane help solve your problem?

Optionally, make

[2020-04-30 00:01] muvaf opened #1471 "Allow specifying a default composition in definition"
### What problem are you facing?

There is no way to mark a `Composition` as default of a given `InfrastructureDefinition`.

### How could Crossplane help solve your problem?

Enable users to specify a `Composition` as the default on the `InfrastructureDefinition` resource.

[2020-04-30 00:02] muvaf opened #1472 "composition: unit tests for composite package"
### What problem are you facing?

Unit tests for composite package are missing.

### How could Crossplane help solve your problem?

Implement those unit tests.

[2020-04-30 00:04] muvaf opened #1473 "Unit tests for composite resource claim package"
### What problem are you facing?

Unit tests for definition and requirement packages are missing.

### How could Crossplane help solve your problem?

Implement those tests.

[2020-04-30 00:04] muvaf opened #1474 "Unit tests for definition package"
### What problem are you facing?

Unit tests for definition package are missing.

### How could Crossplane help solve your problem?

Implement those tests.

[2020-04-30 00:06] muvaf opened #1475 "Composed resources are still claimable"
### What problem are you facing?

Claims bind to resources whose binding status is `Unbound` and composed resources never become `Bound`

### How could Crossplane help solve your problem?

Composed resources shouldn't be claimed by others.

[2020-04-30 00:08] muvaf opened #1476 "Validate compositions via webhook"
### What problem are you facing?

You can put any valid YAML under `Composition.spec.to` array. However, they have to be registered on the api-server, which means they can be validated against their registered OpenAPIv3 schemas.

### How could Crossplane help solve your problem?

Implement an admission webhook that will validate every template in `Composition` resource with correct OpenAPIv3 schem

[2020-04-30 00:11] muvaf opened #1477 "Reject creation of composition resource if creator does not have perms to create the templated resources"
### What problem are you facing?

Anyone with permission to create `Composition` can essentially create anything in the cluster that Crossplane can as long as there is a compatible definition and they have the permission to create an instance.

### How could Crossplane help solve your problem?

A webhook could check whether the creator has the permission to create the resources in the `Compostion.

[2020-04-30 00:13] muvaf opened #1478 "Recreate the composed resource if it is deleted"
### What problem are you facing?

If you delete a composed resource, controller won't recreate it.

### How could Crossplane help solve your problem?

Make controller create it 🤷

[2020-04-30 00:23] muvaf opened #1479 "Deprecate resource claims and classes"
Ship Crossplane with a default set of `InfrastructureDefinition`s that will replace today's claims.

[2020-04-30 21:40] hongchaodeng commented on #1448
proposal: https://github.com/crossplane/crossplane/pull/1454

[2020-05-01 02:10] negz commented on #1469
What do you think about pushing this concern entirely into the `patches`? Specifically:

* We replicate the between a requirement and a composition as we do today.
* Compositions don't replicate the annotation to their composed resources by default.
* You can patch `{fromFieldPath: meta.anno[cp.io/e-name], toFieldPath: meta.anno[...]}`
* You can use the string format transform to add suffixes/pref

[2020-05-01 02:28] resouer opened #1480 "Implement ApplicationScope in Crossplane"
### What problem are you facing?
We didn't find concrete use case for Scope concept on K8s before so we decide to skip it temporarily in Crossplane. Though we now found Scope is actually a strong need for traffic mgmt in app. For example the [Istio BookInfo sample](https://github.com/istio/istio/tree/master/samples/bookinfo) should be able to be modeled easily with Crossplane's application model.

[2020-05-01 06:19] negz opened #1481 "Proposal: Introduce CompositionRevision"
### What problem are you facing?

The [experimental composition design](https://github.com/crossplane/crossplane/pull/1163) introduces the concept of a Crossplane resource that composes other resources. Under this design there is [an open question](https://github.com/crossplane/crossplane/pull/1452#discussion_r417671831) around which resource(s) should represent the authoritative desired state for

[2020-05-01 06:30] tapanhalani opened #1482 "Unable to delete clusterstackinstall resource after deleting helm release"
Installation of crossplane:
Installed using helm chart using the following command:
`helm install crossplane --namespace crossplane-system crossplane-alpha/crossplane --version 0.9.0 --set clusterStacks.azure.deploy=true --set clusterStacks.azure.version=v0.7.0 --devel`

Current behaviour:
When trying to uninstall crossplane using the command:
`helm uninstall crossplane --namespace crossplane-syst

[2020-05-01 11:41] hasheddan commented on #1482
Hi @tapanhalani, thanks for opening this issue! I am surprised in this case that the `ClusterStackInstall` gets left behind, but I am guessing it may have a finalizer that did not get removed before the stack manager pod was terminated. I will investigate this scenario, but you should also be able to fix it in the short term by manually removing the finalizer on the `ClusterStackInstall`. Please l

[2020-05-01 12:42] tapanhalani commented on #1482
@hasheddan Perfect. Thank you for the quick response, and for the short term fix. It worked perfectly on my side. I used the following 2 commands to remove finalizer from clusterstackinstall and stack, after which I was able to successfully delete the pending CRD clusterstackinstall, stackinstall and stack:

`kubectl patch clusterstackinstall provider-azure -p '{"metadata":{"finalizers":[]}}' --ty

[2020-05-01 16:47] jbw976 commented on #1482
Thank you for confirming your commands and that it removed the lingering CR for you @tapanhalani

For future visitors to this issue, we also have this section addressed in the troubleshooting page of our docs: https://crossplane.io/docs/v0.10/reference/troubleshoot.html#deleting-a-resource-hangs

[2020-05-01 21:33] resouer commented on #1480
@artursouza volunteered offline to tackle this issue, though I have no privilege to assign issue to him ...

@negz or @hasheddan  help?

[2020-05-01 21:40] hasheddan commented on #1480
@resouer i think he needs to be added to Crossplane org. @jbw976 could you add @artursouza?

[2020-05-01 23:33] hongchaodeng opened #1483 "official chart release should include OAM workload/trait controllers"
Currently the chart release include only the *AppConfig* controller, but not OAM workload/traits.
If users want to deploy OAM apps, they need to do additional [cumbersome steps](https://github.com/crossplane/addon-oam-kubernetes-local#getting-started):

[code]

As discussed previously, we want to have the workload/trait controllers in the chart release too. This issue is created to discuss details

[2020-05-01 23:34] hongchaodeng commented on #1483
cc @negz @hasheddan @ryanzhang-oss @resouer @wonderflow @artursouza

[2020-05-01 23:46] resouer commented on #1483
Yes, similar discussion was brought up in slack channel.

Today, we have multiple entries to install Crossplane with OAM core controllers (addon-local/remote), it's painful to re-direct users across different orgs/repos.

We have:

1. https://github.com/oam-dev/crossplane-oam-sample
    1. this one is basically a one-line `helm install`, very simple
    2. as mentioned in its README, it's a tempor

[2020-05-02 14:09] hasheddan opened #1484 "Consider blocking remote cluster deletion on extant resources"
### What problem are you facing?

Some hosted k8s providers have issues with leaking resources created in response to Kubernetes objects being created in a cluster. For instance, GKE seems to leak network load balancers that are created for a `Service` in a cluster (ref: https://github.com/kubernetes/kubernetes/issues/39420). When a `GKECluster` resource is deleted in this scenario, resources can

[2020-05-02 15:07] jbw976 commented on #1480
I have sent an invitation to @artursouza to join the Crossplane org as a member. Once he accepts then issues can be assigned to him. I've never understood that GitHub limitation 🤔

[2020-05-02 15:14] hasheddan commented on #1480
Thanks so much @jbw976 :)

[2020-05-04 19:11] hasheddan commented on #1484
This issue provides even more context on what happens here: https://github.com/kubernetes/ingress-gce/issues/136

[2020-05-04 23:06] resouer commented on #1480
@hasheddan Hi Daniel, seems now the issue can be assigned to Artur. Could you help with that?

[2020-05-04 23:13] hasheddan commented on #1480
@resouer done :)

[2020-05-05 05:06] negz commented on #1418
We followed up with some polish in https://github.com/crossplane/crossplane/pull/1451, and have opened https://github.com/crossplane/crossplane/issues/1473 to track adding tests.

[2020-05-05 05:06] #1418 closed

[2020-05-05 05:10] negz commented on #1295
@hasheddan Should we consider this done now that https://crossplane.io is pointing at doc.crds.dev?

[2020-05-05 10:32] hasheddan commented on #1295
@negz I believe so 👍 Will track future improvements in https://github.com/crdsdev/doc

[2020-05-05 10:32] #1295 closed

[2020-05-05 16:00] muvaf commented on #1446
@hasheddan feel free to assign this to yourself since you're working on it.

[2020-05-05 20:24] muvaf commented on #1484
@hasheddan I agree with your sentiment you mentioned in the meeting about this idea, i.e. we can't wait for deletions to succeed so this will only let the remote cluster know that things should be deleted, which will decrease the probability of a leak since at least a `Delete` call is made. It won't have any bad effects probably, since if the cluster is deleted you'd most probably want the resourc

[2020-05-06 14:07] hasheddan commented on #1446
@prasek @muvaf just an update here. I think the issue here may not be that the loadbalancer is not actually getting created, but rather that it is just not able to update the status of the `Service` because we are in fact bumping the resource version on ever reconcile. This is due to the fact that we do not "late initialize" our KAR templates, so nested arrays appear to not match when values are a

[2020-05-06 14:54] hasheddan commented on #1446
We may be able to re-use this pattern https://github.com/crossplane/crossplane/blob/2c02b534d5fb71273012bfdcd09571fba071c43a/pkg/workload/apply.go#L44

[2020-05-06 18:20] muvaf commented on #1446
In theory, this shouldn't be much of a problem as long as other controller is able to handle it but it seems Azure LB controller can't and I can't really blame it since repetitive no-op updates are no good in any case.

In the case of `KubernetesApplication`, the type of the object is known, so we're able to implement a custom logic for its local merge. In remote cluster scenario, the template cou

[2020-05-06 20:44] muvaf commented on #1481
@negz Thank you for putting all this together after our discussion!

Before going into details, I would like to point out that the problem that we are trying to solve here is about the ability of the user to affect the fields on primitive resources that are not covered by field propagation from the requirement/composite resource. They may or may not be covered by the template in the `Composition`

[2020-05-06 20:51] muvaf commented on #1481
On another note, continuous patch from a template when there is an array that is late-initialized is a problem that makes the patched resource unusable in some cases like https://github.com/crossplane/crossplane/issues/1446 . Somehow, I believe we will find a way to handle this better but it's good to increase the perceived cost of `continuously patch from a template` option in our minds while thi

[2020-05-06 21:13] hasheddan commented on #1223
We no longer use generated docs so I am going to go ahead and close this :+1:

[2020-05-06 21:13] #1223 closed

[2020-05-06 22:16] hasheddan commented on #1446
Adding some thoughts after doing additional research:

Currently we are doing a [merge patch](https://kubernetes.io/docs/tasks/run-application/update-api-object-kubectl-patch/#use-a-json-merge-patch-to-update-a-deployment) as opposed to a [strategic merge patch](https://kubernetes.io/docs/tasks/run-application/update-api-object-kubectl-patch/#use-a-strategic-merge-patch-to-update-a-deployment) whe

[2020-05-06 23:32] muvaf commented on #1446
If the API type is properly annotated by a key, we could possibly treat the array like a map in the local and, do the manipulations as necessary submit the new object. However, I can't think of a way to retrieve the patch key of that specific struct from the remote cluster.

@hasheddan were you able to try to use strategic merge patch without any extra logic just to see how it reacts if we change

[2020-05-07 00:43] negz commented on #1475
Any managed resources that are composed into a composite will have their controller reference set to point to the composite. I don't think there's ever a situation where a managed resource with a controller reference is a valid target for a claim that sets an explicit `resourceRef`, so perhaps we could solve this by adding a check to the claim binding `Bind()` methods that refuses to bind to a man

[2020-05-07 04:47] resouer opened #1488 "Crossplane resources generated from Terraform modules"
### What problem are you facing?

There are 3036+ [Terraform modules]( https://registry.terraform.io/browse/modules)  today, and it will be great if Crossplane can leverage it automatically as underlying cloud resource provider.

### How could Crossplane help solve your problem?

I assume https://github.com/crossplane/crossplane/pull/1453 (i.e. code gen) could help solve the issue? And the user ex

[2020-05-07 10:51] hasheddan commented on #1446
I have not tried this out but will give it a shot today 👍

I don't think so, but I am not certain. The [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/0006-apply.md#lists) seems to suggest that party that added the item to the list owns the entire item:

"Items of an associative lists are owned by the person who applied the item to the list."

[2020-05-07 11:07] hasheddan commented on #1446
Followed up in k8s slack on question about granular field management above. For additional reference, here are the relevant tags on `ServicePort`:

[code]

https://github.com/kubernetes/kubernetes/blob/6abb8ebd190b0ba0d1e9de2063979406066d8cc6/staging/src/k8s.io/api/core/v1/types.go#L3872

[2020-05-07 15:59] prasek commented on #1446
@hasheddan this issue doesn't repro for me after moving from Kubernetes 1.14.8 to 1.15.10 for AKS: https://github.com/crossplane/stack-azure-sample/pull/25

[2020-05-07 17:55] #1157 closed

[2020-05-07 20:47] #1105 closed

[2020-05-07 20:47] #1106 closed

[2020-05-07 20:47] #1107 closed

[2020-05-07 20:47] #1344 closed

[2020-05-08 06:57] jbw976 commented on #1488
@resouer is this different from #262?

[2020-05-08 08:55] wonderflow commented on #1483
I'm working on this, my plan is:
1. clean up charts files of [addon-oam-kubernetes-local](https://github.com/crossplane/addon-oam-kubernetes-local/pull/23)
2. make addon-oam-kubernetes-local as a sub module of crossplane
3. add helm charts files of addon-oam-kubernetes-local  to crossplane charts.
4. add charts for [addon-oam-kubernetes-remote](https://github.com/crossplane/addon-oam-kubernetes-re

[2020-05-08 09:32] draveness commented on #1480
Hi @artursouza, do we have any ongoing PR or implementations on this issue? :)

[2020-05-08 09:39] wonderflow commented on #1480
I'm not sure if there's any existing proposal about how to implement scope? @artursouza

In my mind, scope is create by stand alone CR but component joining a scope should be controlled by oam-k8s-runtime.

For example, a workflow may be something like below:

1. Create a scope CR first

[code]

2. create  AppConfig who's going to use this scope

[code]

3. AppConfig Controller(oam-k8s-runtime) wi

[2020-05-08 19:14] resouer commented on #1488
@jbw976 Seems very related, I will move discussion there.

[2020-05-08 19:14] #1488 closed

[2020-05-08 19:20] resouer commented on #262
ref: https://github.com/crossplane/crossplane/issues/1488

I also suggest we explore how to leverage Terraform modules to make Crossplane be usable in much wider use cases. It's also beneficial to advocate the advantage of "abstraction" idea in Crossplane when users can experience the complexity in raw resources.

@tamalsaha I personally think kubeform is great integration candidate to make this h

[2020-05-08 20:30] prasek commented on #1353
@negz @muvaf @hasheddan will the doc for using `crossplane.io/external-name` annotation to support adopting existing external resources when CRs are restored from backup?

this looks fairly straight forward, just add `crossplane.io/external-name` to the managed resource or resource claim like the following:

<details><summary>Resource Claim</summary>

[code]

</details>

<details><summary>Managed

[2020-05-08 21:09] muvaf commented on #1469
@negz yeah, I think it makes sense. I was thinking that the reason `external-name` existed in the first place was to be able to override the name with a static one and inherently names are per-resource. So, giving it at the top level with low level resources having no idea that it's overriden(like today with claim -> managed) may not be possible and wouldn't make sense if you can't point to **the*

[2020-05-08 21:09] #1469 closed

[2020-05-08 22:37] #1472 closed

[2020-05-09 04:32] tamalsaha commented on #262
Thanks @resouer ! I think @kubeform project has shown that Terraform can be used to achieve this. We are looking forward to further extend it. I am happy to discuss further. You can reach me tamal@appscode.com or on Twitter.

[2020-05-09 04:57] negz commented on #1481
Let's try approaching these - humans and controllers interacting with fields - as two different but related problems.

When an InfraOp defines a new composite resource they could be doing so with one or more personas in mind. They might be defining it for themselves to use, for other InfraOps to use, for their AppOps to use, or some combination thereof. I suspect that when they define these new re

[2020-05-09 06:53] resouer commented on #1343
Just echo @bassam 's comment in https://github.com/crossplane/crossplane/pull/1163#issuecomment-625872889

For different elements in one application, let's say Deployment, a Service, and MySQLInstance, I think the best experience is combination rather than composition (or, Pod rather than a monolithic container).

I personally don't see much value to merge them into a whole object. For example, he

[2020-05-11 22:07] muvaf opened #1496 "Implement default InfrastructureDefinitions"
### What problem are you facing?

People who want to write `Composition`s have to define their own `InfrastructureDefinition`s even though it's pretty basic like claims we have today.

### How could Crossplane help solve your problem?

It'd be nice if Crossplane deployed a bunch of `InfrastructureDefinition`s like claims we have today so that it's easier to write `Composition`s for common cases.

[2020-05-11 22:14] muvaf opened #1497 "Validate fieldpaths in the compositions"
### What problem are you facing?

In `Composition`, there are `patches` where you define `fromFieldPath`s and `toFieldPath`s. If there is a typo there, no error is propagated to user.

### How could Crossplane help solve your problem?

Crossplane actually knows the schema of both `to` and `from` resources since they are registered in the api-server. So, it'd be cool to reject or at least print err

[2020-05-12 03:20] negz opened #1499 "Inform the user which cross resource reference is not ready"
### What problem are you facing?

We recently simplified the cross resource reference implementation. During this refactor we lost the ability to determine which specific reference is unready or broken.

https://github.com/crossplane/provider-gcp/blob/0e59ca/apis/container/v1beta1/referencers.go#L60

For example if the above resource reference from a GKE cluster to the subnetwork it lives in is no

[2020-05-12 03:21] artursouza commented on #1480
Hi,

Sorry for the delay on this. Here is what I am thinking for ApplicationScope:

1. A CR(s) to deploy a resource first. In case of a network in Azure, it is done in 3 CRs, like in the example below:
[code]

2. A CR to declare the Scope, referencing the resource above:
[code]

3. Create AppConfig to use scope:
[code]

4. AppConfig Controller(oam-k8s-runtime) must be aware of the structure of eac

[2020-05-12 07:28] wonderflow commented on #1480
If appconfig controller MUST understand a specific kind of scope, it will be very hard to extend without changing the core of appconfig controller. Now we have very flexible extendability of OAM v1alpha2, we'd better not break it.

[2020-05-12 09:39] wonderflow commented on #1497
Do we have an [admission webhook](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/) to do this kind of validation?

[2020-05-12 09:41] wonderflow commented on #1476
I think all validation work (including https://github.com/crossplane/oam-kubernetes-runtime/issues/14) can all be done by this admission webhook.

[2020-05-12 14:17] hasheddan commented on #1499
@negz I had remembered you feeling as though this was too verbose, does this differ because here you propose providing the field path? https://github.com/crossplane/crossplane-runtime/pull/151#issuecomment-614290886

[2020-05-12 15:19] hongchaodeng commented on #1480
I agree with the point that appconfig controller should not know the spec of any scope types. Only the scope CR controller knows how to handle specific scope types, like NetworkScope. The workloads to the scope could be passed down as mentioned in https://github.com/crossplane/crossplane/issues/1480#issuecomment-625732816.

[2020-05-13 01:11] artursouza opened #1500 "Support OAM's HealthScope"
### What problem are you facing?
OAM's HealthScope is not supported in Crossplane.

### How could Crossplane help solve your problem?
Support HealthScope, similar to Rudr:

https://github.com/oam-dev/rudr/tree/master/healthscope

[2020-05-13 01:35] artursouza commented on #1480
I've created the work item for HealthScope.

For Ingress, since it is a Trait and not Scope, I did not create a work item for this here.

I suggest we continue the design discussion for Scopes in a Google Docs. I can share the link once we have a draft.

[2020-05-13 02:38] resouer commented on #1480
@artursouza Just clarify, Scope will be used to model cross components traffic service like [Virtual Service in Istio](https://github.com/istio/istio/blob/master/samples/bookinfo/networking/virtual-service-reviews-v2-v3.yaml), it could also be Ingress/APIGateway in some context. This is a real world use case and let's put it in design doc.

Essentially, Ingress is a trait or scope depends on it is

[2020-05-13 03:01] resouer commented on #1480
Also, we will need to differentiate "bring your own Scope" and "develope your Scope" in the this design just like [Trait - Workload proposal](https://github.com/crossplane/crossplane/pull/1454).

[2020-05-13 05:23] wonderflow commented on #1480
Yes, exactly, we'd better have a proposal about scope like  [Trait - Workload proposal](https://github.com/crossplane/crossplane/pull/1454) before implementation.

[2020-05-13 23:39] negz commented on #1499
@hasheddan If I recall correctly, the old output:

* Told you all the references that weren't ready at any point in time.
* Identified unready references only by their name - not field name or path.

I think it was something like `ReferencesBlocked: [{example: NotReady}]`. So in cases like the below configuration it was difficult to determine at a glance which reference wasn't ready.

[code]

I th

[2020-05-14 16:41] arturrez opened #1505 "keep count of how many instances of the Class are created"
### What problem are you facing?
I am trying to implement something similar to  https://www.terraform.io/docs/configuration/functions/cidrsubnet.html
in regards to `GKECluster` to control `spec.forProvider.privateClusterConfig.masterIpv4CidrBlock`
This IP range has to be unique in the scope of VPC, so I need to keep a count of `GKEClusters` created using `GKEClusterClass` so I can divide and alloc

[2020-05-14 16:50] arturrez opened #1506 "allow users to define external scripts/function and include interpolation support"
### What problem are you facing?
I am trying to use `specTemplare.forProvider.privateClusterConfig.masterIpv4CidrBlock` in `GKEClusterClass` to control masterIpv4CidrBlock for GKECluster instances created using this class. This approach is similar to https://www.terraform.io/docs/configuration/functions/cidrsubnet.html using allocation strategy like http://jodies.de/ipcalc?host=192.168.0.1&mask1=2

[2020-05-15 02:15] wonderflow opened #1509 "Create admission webhook controller for validation"
### What problem are you facing?

Now we have some validating issues:

1. https://github.com/crossplane/oam-kubernetes-runtime/issues/14
2. https://github.com/crossplane/crossplane/issues/1476
3. https://github.com/crossplane/crossplane/issues/1497

and more...

All of them can be fixed if we have an [admission webhook](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-c

[2020-05-15 09:00] negz commented on #1509
@wonderflow What is the UX like these days for setting up the admission controller? It's been a long time since I wrote an admission control webhook, but I recall it was a little painful to get it working properly with the API server.

It seems like we should use the controller-runtime support for webhooks, since our project is build on controller-runtime; https://book.kubebuilder.io/cronjob-tutor

[2020-05-15 09:30] wonderflow commented on #1509
What is the `UX` here mean?

[2020-05-15 10:14] tvvignesh opened #1512 "Queries on Crossplane, Unable to find GcePersistentDiskCsiDriver addon"
Hi. I was trying out Crossplane but I was not able to find the addon `GcePersistentDiskCsiDriver` in the docs - https://doc.crds.dev/github.com/crossplane/provider-gcp/config/crd/container.gcp.crossplane.io_gkeclusters.yaml

The CSI driver is documented here: https://cloud.google.com/kubernetes-engine/docs/how-to/gce-pd-csi-driver

Also while there is shieldedInstanceConfig, I am not able to find

[2020-05-15 21:58] artursouza commented on #1480
We have a document to discuss the proposal: https://docs.google.com/document/d/1uMxRZKba0QnBJ0BpnjhyedbiEVgjWgliZ1ljWrbO0es/edit?usp=sharing

[2020-05-15 22:46] resouer commented on #1480
@artursouza Great! Could you please open comment access btw?

[2020-05-17 02:32] muvaf opened #1520 "Composite and Requirement resources lack printer columns"
### What problem are you facing?

Composite and Requirement resources lack printer columns.

### How could Crossplane help solve your problem?

We can implement some for better UX.

[2020-05-17 18:22] prasek commented on #1520
by default, should we be showing Ready: False and maybe the reason in the printer columns for:
`kubectl get mysqlinstancerequirement.database.example.org my-db`

Currently all I see is:
![image](https://user-images.githubusercontent.com/284840/82156566-9abab180-9830-11ea-94b0-29fc745b46e7.png)

also, is `bindingPhase: Bound` going away for the requirements?

maybe also the composition name, like w

[2020-05-17 22:28] muvaf commented on #1520
@prasek in the PR, composite resource has `READY`, `SYNCED` and `COMPOSITION` columns while requirement has `READY`, `SYNCED` and `CONNECTION-SECRET`. I was thinking of adding the name of the composite resource as column in requirement but it's not much useful since you can't query it without its kind. Connection secret sounded more useful at that consumption level.

Yes.

[2020-05-17 22:59] #1520 closed

[2020-05-18 04:12] leopoldxx commented on #1509
User experience ?

[2020-05-18 07:43] ryanzhang-oss commented on #1509
You can take a look at  "addon-oam-kubernetes-local" repro which comes with an admission control wehbook.  We can't use kubebuilder directly as it modifies the api go struct type which in our case is in another repro.

I created a simple framework on top of the controller-runtime framework to get around that problem. All one needs to do now is to implement a struct with a pre-defined function.

[2020-05-19 18:02] nebhale commented on #1252
Over in the CNCF [Cloud Native Buildpacks](https://buildpacks.io) project (the next generation of the Heroku and Cloud Foundry Buildpacks) we've been attempting to tackle this head on.  We've proposed a [specification](https://github.com/buildpacks/spec/blob/master/extensions/bindings.md) (internally for us, but as a proving ground for broader acceptance) that mounts metadata and secrets about a b

[2020-05-19 19:03] vasartori opened #1544 "[GCP] - Missing roles in docs"
### What happened?
Missing role storage.admin in docs and helpers scripts.
The absence of this role, makes crossplane don't create buckets.

### How can we reproduce it?
Follow the procedure described here:
https://crossplane.io/docs/v0.10/cloud-providers/gcp/gcp-provider.html

### What environment did it happen in?
Crossplane version: 0.10.0

[2020-05-19 19:52] #1544 closed

[2020-05-20 03:41] resouer commented on #1479
Do we have concrete plan or guide on this deprecation?

There some apps in the wild also need upgrade, for example: https://github.com/oam-dev/samples/tree/master/2.ServiceTracker_App

[2020-05-20 05:23] negz opened #1550 "Getting started guide does not work end-to-end for Alibaba"
### What happened?

Our getting started guide walks through composing a PostgreSQL instance on various clouds, and deploying an OAM application that uses that database. We wrote the example OAM app config such that it assumed all PostgreSQL instances listened on the standard TCP port 5432, but Alibaba uses port 3433.

Normally we'd just propagate the port of each SQL instance from its connection s

[2020-05-20 17:25] thephred opened #1552 "Associate commits to sentry releases"

[2020-05-20 18:08] jbw976 opened #1553 "Update operatorhub with latest Crossplane releases"
The last release available on https://operatorhub.io/operator/crossplane is v0.9 which is out of date and not really supported anymore.

We need to get operatorhub updated with the latest release at the minimum, then maybe as a follow on figure out to do a more streamlined process of keeping the latest releases flowing to operatorhub.

The steps necessary for manually updating operatorhub with a n

[2020-05-20 19:33] #1552 closed

[2020-05-20 19:33] thephred commented on #1552
Not meant for this repo :(

[2020-05-20 21:04] negz commented on #1512
Hi @tvvignesh! It looks like @muvaf is updating our GCP provider with the functionality you need in https://github.com/crossplane/provider-gcp/pull/229, so I'll focus on addressing your questions around Crossplane's purpose.

I believe what is easier will be different for different people, so whether a gcloud CLI or YAML is your preferred language to describe infrastructure is a little subjective.

[2020-05-21 03:50] tvvignesh commented on #1512
@negz Thanks a lot for your elaborate reply to my questions. Really appreciate it.

While it does clarify them and am convinced that it will add a lot of value for people who are not using K8s and are using a lot of managed services, I am still not that convinced when I have everything (including the DB, monitoring, etc) self-hosted in my K8 cluster and the only managed services I use are GKE, Clo

[2020-05-21 06:32] kevin-zhaoshuai commented on #267
Any update on this?
If not, I can take over this task now.
We ( Linaro ) are using OpenStack deeply in a public cloud

[2020-05-21 07:47] zzxwill opened #1554 "error: unable to recognize "STDIN": no matches for kind "ClusterPackageInstall" in version "packages.crossplane.io/v1alpha1""
### What happened?

It failed to install `Install Alibaba Provider`
[code]

### How can we reproduce it?

Followed instructions per [Install & Configure Crossplane](https://crossplane.io/docs/v0.11/getting-started/install-configure.html), there are all the outputs.
[code]

### What environment did it happen in?
Crossplane version:
[code]

* Cloud provider or hardware configuration

* Kubernetes ve

[2020-05-21 12:24] hasheddan commented on #1554
Hi @zzxwill! Sorry you experienced this issue :/ This is a result of a breaking change from Crossplane `v0.10` --> `v0.11` (see "Breaking Changes" in [release notes](https://github.com/crossplane/crossplane/releases/tag/v0.11.0)). I see here that you have installed the `v0.10` version of Crossplane. I would recommend running `helm repo update` then installing Crossplane from `alpha` again. Thank y

[2020-05-21 20:21] muvaf commented on #1509
A while ago, I've opened https://github.com/crossplane/crossplane/issues/1152 for a one-pager design about webhooks in Crossplane. It's needed in several places as this issue mentions but I believe some building blocks that will pave the way for all components in Crossplane ecosystem would make the implementations more streamlined and reliable. Off the top of my head, I think 1 certificate in Cros

[2020-05-21 20:49] muvaf commented on #1479
We are shipping a set of commonly used `InfrastructureDefinition`s that will replace today's claims: https://github.com/crossplane/crossplane/tree/master/cluster/composition/definitions

Although they are not installed automatically in v0.11, they can be installed manually.

But we don't have a clear-cut release that will remove the claims from the codebase. I believe we'll keep the support for at

[2020-05-22 00:39] negz commented on #1550
I'm going to reopen this to indicate track that while the bug is fixed in master it needs to be released.

[2020-05-22 03:21] zzxwill commented on #1554
Thanks, by upgrading the release, the issue was fixed.

[2020-05-22 03:21] #1554 closed

[2020-05-22 03:49] zzxwill opened #1558 "The Provider "alibaba-provider" is invalid: spec.region: Required value"
### What happened?

Followed [install-configure](https://crossplane.io/docs/v0.11/getting-started/install-configure.html) to configure Alibaba Provider, it failed.
[code]

### How can we reproduce it?

### What environment did it happen in?
Crossplane version:

[2020-05-22 03:50] zzxwill commented on #1558
Per the Provider specification https://github.com/crossplane/provider-alibaba/blob/master/apis/v1alpha1/types.go#L30, the sample provider.yaml needs to be revised.

[2020-05-22 05:14] wonderflow commented on #1509
@muvaf  Your design is exactly what I want to do, and I found it was created several months ago. What blocks it to come true?

[2020-05-22 06:49] zzxwill opened #1561 "Provisioning an ApsaraDB for RDS instance failed with the RDSInstance CRD"
### What happened?

Followed [provision infrasture](https://crossplane.io/docs/v0.11/getting-started/provision-infrastructure.html) to provision an RDSInstance CRD, it failed with the issue `connect failed: cannot get provider secret: Secret "alibaba-creds" not found`
[code]
### How can we reproduce it?

Followed [provision infrasture](https://crossplane.io/docs/v0.11/getting-started/provision-inf

[2020-05-22 06:53] zzxwill commented on #1561
I figured out the root cause is the creation of Alibaba Provider secrets that the secret should be created under namespace `crossplane-system` by `kubectl create secret generic alibaba-creds --from-literal=accessKeyId=LTAI4FihXXpGkBdb4V13qJSW --from-literal=accessKeySecret=8FafZc2DJw8AjtMlxfwVfaB1qKGgov -n crossplane-system`.
Wait for a while, the RDSInstance CRD became READY and the PostgreSql RD

[2020-05-22 07:17] zzxwill commented on #1550
By fixing two doc issues with pull request #1560 #1562 , the end-to-end RDSInstance provisioning   succeeded.
[code]
![image](https://user-images.githubusercontent.com/2805315/82639782-0095a780-9c3c-11ea-9e90-2c952637b970.png)

[2020-05-22 11:47] hasheddan commented on #1561
Thanks for the detailed description and for providing fixes here @zzxwill!

[2020-05-22 19:20] hasheddan commented on #1561
I believe you have fixed this in #1562 and it has been back ported in #1565 :+1:

[2020-05-22 19:20] #1561 closed

[2020-05-22 19:21] hasheddan commented on #1558
I believe you have fixed this in #1560 and it has been cherry picked in #1565 :+1:

[2020-05-22 19:21] #1558 closed

[2020-05-22 19:25] hasheddan commented on #1479
Just noting here that the "auto target" controller should also be removed as part of this effort:https://github.com/crossplane/crossplane/blob/7d1ce57e4aff97bf17e13883b58c9be7fd53a5f7/pkg/controller/workload/kubernetes/target/target.go#L58

[2020-05-22 20:31] negz commented on #1506
[code]

https://crossplane.io/docs/v0.11/introduction/composition.html

Under composition we could add a transform function that did this. For example:

[code]

This would address this issue only (i.e. not #1505), in that the author of the `KubernetesCluster` would be able to specify which network number their cluster should be. That said, I'm not sure we should take this approach. If the `Kuberne

[2020-05-23 21:45] negz commented on #1550
Thanks @zzxwill! There was another issue to fix to get it working all the way through to consuming it from a pod and an OAM application, which landed as part of v0.11.1.

[2020-05-23 21:45] #1550 closed

[2020-05-24 05:42] jbw976 opened #1574 "Update Gitlab managed app with latest releases"
The [Gitlab managed app for Crossplane](https://docs.gitlab.com/ee/user/clusters/applications.html#crossplane) has fallen quite a bit behind in the version it is using. Looks like it's still using [`v0.4.1`](https://gitlab.com/gitlab-org/gitlab/-/blob/master/app/models/clusters/applications/crossplane.rb#L6).

As discussed in [this issue](https://gitlab.com/gitlab-org/gitlab/-/issues/211253), we n

[2020-05-24 05:43] jbw976 commented on #1574
Just to be clear, this is **not** a priority for Community Day 😅

[2020-05-24 10:14] zzxwill opened #1575 "The key port and its value of connection secret didn't set to db-conn"
### What happened?

For alibaba provider PoC, followed [publish infrastructure](https://crossplane.io/docs/v0.11/getting-started/publish-infrastructure.html) to consume infrastructure by creating a pod with command `kubectl apply -f https://raw.githubusercontent.com/crossplane/crossplane/release-0.11/docs/snippets/publish/pod.yaml` and it failed.
[code]

### How can we reproduce it?

Follow instru

[2020-05-24 10:17] zzxwill commented on #1575
I'm not sure whether it was caused by crossplane or provider-alibaba, reading those specs and going through source code:)

BTW, by hardcoding the value of `port` in pod.yaml, infrastructure could be successfully consumed.
[code]

![image](https://user-images.githubusercontent.com/2805315/82751567-af77e600-9dea-11ea-9362-7fb435b5937f.png)

[2020-05-24 13:44] hasheddan commented on #1574
@jbw976 this feels like an awesome thing for a new community member to take ownership of! Obviously some updates require pretty deep knowledge of Crossplane, but the work to make sure the application still functions properly / consumes any upstream enhancements from the application developers could be handled by someone who is relatively new 🙂

[2020-05-24 14:05] hasheddan commented on #1575
@zzxwill thanks for opening this! I think I know what is happening here and will have a fix in shortly :) The issue is likely that the `port` key only ever gets written on the `Create` call, and not on any subsequent `Observe`. This means if it is not present on the object returned from `CreateDBInstance` then it will not ever be written in the `ConnectionDetails`, which dictate what appears on th

[2020-05-24 14:07] hasheddan commented on #1575
This API spec does seem to indicate the the port should be present in the response from a `CreateDBInstance` request: https://www.alibabacloud.com/help/doc-detail/26228.htm

[2020-05-24 14:49] hasheddan commented on #1575
However, it does not appear that `port` is actually returned in the `DescribeDBInstances` call, which is being used in `Observe`, so simply adding it there will likely not fix the problem

[2020-05-25 21:42] hasheddan commented on #1575
@zzxwill after https://github.com/crossplane/provider-alibaba/pull/19 I am seeing the port value appearing consistently :) Feel free to try it out again from `master` and let us know if you have any trouble!

[code]

[2020-05-26 03:02] zzxwill opened #1578 "Failed to deploy applicationconfiguration service-tracker with two warnings"
### What happened?

Followed [Run application](https://crossplane.io/docs/v0.11/getting-started/run-applications.html) to run the application by `kubectl apply -f https://raw.githubusercontent.com/crossplane/crossplane/release-0.11/docs/snippets/run/appconfig.yaml
` and it hit two issues.
[code]

### How can we reproduce it?

Followed [Run application](https://crossplane.io/docs/v0.11/getting-star

[2020-05-26 03:03] zzxwill commented on #1578
For No. 1 warning, it could be fixed by `k create clusterrolebinding system_serviceaccount_oam-system_crossplane-oam --clusterrole=postgresqlinstances.database.example.org --user=system:serviceaccount:oam-system:crossplane-oam --group=database.example.org`.
[code]

For No. 2 warning, I have no idea.

[2020-05-26 03:11] hasheddan commented on #1578
@zzxwill did you have any errors when installing the OAM helm chart?

[2020-05-26 06:19] zzxwill commented on #1578
Thank you for the reminder, I noticed that pod `crossplane-oam-localstack` failed.
[code]

By fixing the image pulling issue,  the service endpoint shows up.
[code]
And the No. 2 warning disappears.
[code]

[2020-05-26 09:27] zzxwill commented on #1575
Cook, It worked. Thanks for the quick fix.
[code]

[2020-05-26 09:27] #1575 closed

[2020-05-26 09:39] zzxwill commented on #1578
Sorry, please ignore this bug.

I deployed a Kubernetes cluster `from scratch` and did another PoC. No need to apply additional clusterrolebinding for warning No. 1 and No. 2 didn't ever show up. And I could see the application UI.
![image](https://user-images.githubusercontent.com/2805315/82885430-c3048780-9f77-11ea-82a0-98309fd9268c.png)

[2020-05-26 16:16] zzxwill commented on #1578
I think this issue could be closed :)

[2020-05-26 16:59] bassam commented on #267
@kevin-zhaoshuai we'd love your support here ! Please join the slack channel at https://slack.crossplane.io and we'd love to discuss further.

[2020-05-26 19:09] hasheddan commented on #1578
Sounds good! Thanks for following up :)

[2020-05-26 19:09] #1578 closed

[2020-05-27 16:09] zzxwill opened #1579 "Alibaba: PostgreSQLInstance.database.crossplane.io "app-postgresql" is invalid: spec.engineVersion: Unsupported value: "10.0": supported values: "9.6", "11""
### What happened?

Followed [provider-alibaba README](https://github.com/crossplane/provider-alibaba/blob/master/README.md) to `make demo` for the PoC, I hit an issue.
[code]

### How can we reproduce it?

Followed [provider-alibaba README](https://github.com/crossplane/provider-alibaba/blob/master/README.md)

[2020-05-27 16:12] hasheddan commented on #1579
@zzxwill I am going to move this over to the `provider-alibaba` repo :+1:

[2020-06-02 14:31] muvaf commented on #1506
I think a nice setup for this case could be a custom mutating webhook where if the caller leaves the cidr blocks empty, the webhook would go query the provider API for the clusters in that network and their blocks to find a suitable one and fill those fields. All CRs in the control cluster would still be kept stateless and the query would be against the actual state.

Though I agree with @negz in

[2020-06-02 14:35] muvaf commented on #1574
I believe this could be part of our release pipeline after the artifacts are uploaded to DockerHub and Helm repository. The task would open a PR automatically and add us as assignee, most probably the PR will be very simple and they will merge it without much manual interference.

[2020-06-02 21:32] negz commented on #1553
@kasey Did this get wrapped?

[2020-06-02 22:14] negz commented on #967
We're planning to deprecate resource classes, but I believe this proposed feature could still be useful in the context of compositions, which are roughly analagous to resource classes.

[2020-06-02 22:16] negz commented on #1479
I'm repurposing this existing issue to cover deprecating all resource claims and classes. Note that v1beta1 resource classes (e.g. `GKEClusterClass`) are in scope for this deprecation.

[2020-06-02 22:26] negz opened #1582 "Add Crossplane support to the Quay operator"
### What problem are you facing?

Crossplane is [available](https://operatorhub.io/operator/crossplane) on OperatorHub. Many of its contemporary operators could make use of Crossplane in order to deploy and managed their infrastructure resources.

### How could Crossplane help solve your problem?

We'd like to investigate how it might look for an existing operator to optionally support using Cross

[2020-06-02 23:35] negz opened #1583 "Fork Upbound build submodule"
### What problem are you facing?

Currently Crossplane relies on a CI/CD system that could be opaque to community members who do not work for Upbound.

* The majority of repos under the crossplane org use [a git submodule of Make libraries](https://github.com/upbound/build/) that lives under the upbound org. This submodule is also use by several private repositories inside Upbound. This makes it d

[2020-06-02 23:37] negz commented on #1583
https://crossplane.github.io/docs/master/release/release-process.html

Note that Jenkins (somewhat) automates the above release process for Crossplane, and any proposal to change to a different CI/CD system will need to account for automating Crossplane releases (i.e. tagging, Cross compiling, and publishing artifacts).

[2020-06-02 23:40] negz commented on #1553
https://operatorhub.io/operator/crossplane

I see that we're running v0.11, but it seems like part of this issue is to automate the process of publishing new Crossplanr releases to the OperatorHub so I'm going to leave this open.

[2020-06-03 02:55] negz opened #1584 "Support serving multiple versions of a CR consecutively"
### What problem are you facing?

All of Crossplane's resources are Kubernetes custom resources, defined by CRDs. Custom resources are versioned (e.g. v1alpha1, v1beta1, etc). [Backward incompatible](https://github.com/kubernetes/community/blob/c64e24/contributors/devel/sig-architecture/api_changes.md) changes may not be made to a v1beta1 or above resource - they must be introduced as a new versio

[2020-06-03 03:51] negz opened #1595 "Deprecate KubernetesApplication"
### What problem are you facing?

Crossplane uses a `KubernetesApplication` to schedule and deploy arbitrary resources to a 'remote' Kubernetes cluster - specifically to a `KubernetesTarget`. `KubernetesApplication` is so named because we originally envisioned that it would be an application model, but it has since become more of a "behind the scenes" delivery mechanism used by higher level applic

[2020-06-03 03:55] negz opened #1589 "Update contributing docs"
### What problem are you facing?

Crossplane has a few guides for potential contributors - i.e. CONTRIBUTING.md, INSTALL.md, the build submodule docs, the services developer guide, the definition of done doc, and the Github PR templates. These docs are a little stale, and quite a lot to discover and read through.

### How could Crossplane help solve your problem?

I'd like to take a pass at cleani

[2020-06-03 09:59] muvaf commented on #1582
I believe it's likely that we'll come up with a list of requirements as the interface of the operator. For example, we'll need it to write any credentials to a secret and give us the reference to that secret somehow. Or expose a `Ready` condition so that we know when the resource is ready.

There are somethings we can do in Crossplane as well to make it more flexible for integration. For example,

[2020-06-03 10:04] muvaf commented on #1584
It seems this depends on https://github.com/crossplane/crossplane/issues/1152 like many other features we'd like to implement.

[2020-06-03 10:12] muvaf commented on #1509
@wonderflow It's about prioritization and almost all use cases we had for webhooks have been about validation, which is a nice-to-have but not a must, really. In most of those cases, Crossplane returns error in conditions and/or fires an event that's shown on `kubectl describe`.

However, I believe CRD update/versioning https://github.com/crossplane/crossplane/issues/1584 is a must for `v1beta1` a

[2020-06-03 11:37] wonderflow commented on #1509
@muvaf Thanks, Now I'm totally understood, I think we can setup this admission webhook controller together.

[2020-06-03 17:03] muvaf opened #1586 "Migrate sample stacks to composition"
### What problem are you facing?

They are still using claims and classes.

### How could Crossplane help solve your problem?

We can migrate them to composition.

[2020-06-03 17:29] #1484 closed

[2020-06-03 17:30] muvaf commented on #1484
Fixed by https://github.com/crossplane/crossplane/pull/1567 , https://github.com/crossplane/crossplane/pull/1556 and https://github.com/crossplane/templating-controller/pull/18

[2020-06-03 18:37] muvaf commented on #1496
Fixed by https://github.com/crossplane/crossplane/pull/1508

[2020-06-03 18:37] #1496 closed

[2020-06-03 18:38] muvaf opened #1587 "Install common InfrastructureDefinitions by default"
### What problem are you facing?

They are not installed by default and apps need those common requirement CRs to declare what they need, just like claims.

### How could Crossplane help solve your problem?

Install them with `helm install crossplane`

[2020-06-04 17:05] muvaf commented on #1586
Depends on https://github.com/crossplane/crossplane/issues/1587 so that all sample stacks and Wordpress app target the same definitions.

[2020-06-04 20:01] #1474 closed

[2020-06-07 03:36] wonderflow commented on #1595
I think  users will glad to see `KubernetesApplication` being OAM `ContainerizedWorkload` + `ClusterScope`.

OAM AppConfig is the Application layer of Crossplane, we can use OAM concepts to accomplish this target. Then users don't need to learn one more concept.

Besides automatically schedule cluster(cloud provider), we can do more on `ClusterScope`.

[2020-06-08 17:26] #1589 closed

[2020-06-08 17:35] negz commented on #1595
I think one consideration there @wonderflow is that we _might_ want a lower level construct to schedule. For example if we ended up with multiple kinds of workload that could be scheduled to a remote cluster, we'd probably want a single type for the scheduler to work with.

[2020-06-09 07:58] wonderflow commented on #1595
Yes, in my view, the scheduler can only work with the `ClusterScope` type. Do you mean that? @negz

[2020-06-13 06:22] artursouza opened #1597 "HealthScope"
# Context

[HealthScope](https://github.com/oam-dev/spec/blob/master/standard/scopes/health_scope.md) aggregates the health status of multiple components via a web API.

In Rudr, it was implemented as described here: https://github.com/oam-dev/rudr/tree/master/healthscope

# Proposal

Re-implement Rudr's approach but for the new v1alpha2 spec.

1. Deploy OAM's health scope controller:
[code]

[cod

[2020-06-13 20:01] hongchaodeng commented on #1597
That's a great start!

Just one nit:

In k8s , we usually use the following format instead:

[code]

Label key is an indicator of the type, not the instance.

[2020-06-13 20:03] artursouza commented on #1597
But it can belong to many health scopes. It is a many to many relationship. So, the key cannot repeat.

— Artur Souza
________________________________
From: Hongchao Deng <notifications@github.com>
Sent: Saturday, June 13, 2020 1:01:36 PM
To: crossplane/crossplane <crossplane@noreply.github.com>
Cc: Artur Souza <artursouza.ms@outlook.com>; Assign <assign@noreply.github.com>
Subject: Re: [crossplan

[2020-06-13 22:08] hongchaodeng commented on #1597
I see. In this case, why not add a status to indicate all the scopes in a component:

[code]
They are all oam concepts and we should have a standardized status like this.

[2020-06-15 17:21] muvaf opened #1598 "Composed member names can get too long"
### What problem are you facing?

Currently, every creation level appends `-randm` characters and there is nothing to limit this. Given that there are some resources with really short max length (GCP SA max 30), it makes sense to come up with a solution to prevent that while keeping the uniqueness of the members.

### How could Crossplane help solve your problem?

Idea here https://github.com/cros

[2020-06-15 21:50] hongchaodeng commented on #1597
I think it is ambiguous on the "services" and diverging our discussions.
Could you write more details on how HealthScope controller check Components' health status?

[2020-06-16 02:40] wonderflow commented on #1597
Instead of using labels, what about aggregate all information into Scope instance.
[code]

We can assume every OAM AppScope will have a fixed field such as `workloadRefs`. So oam-kubernetes-runtime can insert workloads to this fixed field without understand the AppScope.

This mechanism is a little like [workload and trait interaction mechanism](https://github.com/crossplane/oam-kubernetes-runtime

[2020-06-16 18:18] hongchaodeng commented on #1597
I agree with @wonderflow .
As mentioned in offline meeting, we should aggregate the components within the scope into the status of the Scope object.

[2020-06-17 15:31] hasheddan opened #1599 "Move provider-template to Crossplane Org"
### What problem are you facing?

A number of users have shown interest in adding support for new Providers, but it can be difficult to get started. Generally advice amounts to "copy from existing providers", but I have been directing a few folks to https://github.com/crossplanebook/provider-template. It is a lightweight template for getting a Provider started, and it cuts down on some of the comp

[2020-06-18 22:47] #1479 closed

[2020-06-19 00:39] resouer opened #1601 "Decomposition for higher level abstractions"
### What problem are you facing?

So today, we have Composition to create higher level abstraction (i.e. a simpler version of original data). The idea is:

[code]

This pattern actually applies to the other direction:

[code]

The second use cases exists widely in creating abstractions with separated concerns. For example, for a given [OpenKruise CRD](https://github.com/openkruise/kruise/blob/mast

[2020-06-19 02:22] resouer commented on #1601
/cc @negz @hasheddan

[2020-06-19 08:11] muvaf opened #1602 "Generate the conversion functions of managed resources"
### What problem are you facing?

In managed resource reconcilers, we got our own representation of the cloud resource struct embedded in CRD and there is the struct (or a few structs) that's made available by the cloud provider. In [every](https://github.com/crossplane/provider-gcp/tree/master/pkg/clients) - [managed](https://github.com/crossplane/provider-aws/tree/master/pkg/clients) - [resource

[2020-06-19 09:04] muvaf commented on #1601
This sounds interesting. Technically, the new CRDs would be used for `Patch` operations but they would have a schema for validation which can limit what they do as opposed to raw patch. Since it's on CRD level, RBAC could be applied. I guess OAM can be modeled like this to some extent, right?

[2020-06-19 09:10] #1598 closed

[2020-06-19 09:32] muvaf commented on #1599
It doesn't have the upbound/build submodule which has very useful make targets like `make reviewable`. Do you think that should be integrated as well?

[2020-06-19 10:09] wonderflow commented on #1601
@muvaf  Yes, they are exactly `Patch` on technical. Besides `RBAC` and `validation` benefits, user can also write custom operator to generate Patch for different scenarios, in another word we can reduce complex patch to simple CRD for end user.

[2020-06-19 19:50] janwillies opened #1603 "Composition to reference fields from another base"
Looking at solving https://github.com/crossplane/provider-aws/issues/212 with `Composition` I ran into the following:

1. need to reference a fieldpath from another base
2. fill a placeholder in a free form `spec.forProvider.assumeRolePolicyDocument: |`
3. only a substring of the string from 1. is needed

Here is the YAML file I came up with:
[code]

[2020-06-19 20:09] negz commented on #1603
Hrm, I wonder if this could be a case for cross resource references? I'm not sure it's a great fit given that it's a bit weird for a policy document to reference an EKS cluster, but we could allow `spec.forProvider.assumeRolePolicyDocumentRef` to reference an EKS cluster...

The substring transform should be straightforward to add if we need it.

[2020-06-19 21:43] negz commented on #1471
@muvaf Could you make sure the documentation reflects this new functionality?

[2020-06-19 21:44] negz commented on #1470
@muvaf Could you make sure the documentation reflects this new functionality?

[2020-06-21 05:57] artursouza commented on #1597
BTW, I also propose we report the health status directly on the scope status, this way, there is no need for a HTTP API. Users can just use:

[code]

[2020-06-21 06:15] wonderflow commented on #1597
@artursouza  Yeah, agree. Restful API could be an advanced feature, we can add it later.

[2020-06-22 11:16] turkenh commented on #1603
I think this has other use cases and would a powerful feature to consider adding:

**Use case 1:**

I want to provision a [private GKE clusters](https://cloud.google.com/kubernetes-engine/docs/how-to/private-clusters) using crossplane and define this as a composition together with other resources (NodePools etc) that my application needs.

To be able to provision private GKE clusters, I need to se

[2020-06-22 12:54] muvaf opened #1605 "Kubernetes Application cannot schedule to the types defined via InfrastructureDefinition"
### What problem are you facing?

Kubernetes Application cannot schedule to the types defined via InfrastructureDefinition. This is required for [Wordpress](https://github.com/crossplane/app-wordpress) app to work with composition.

### How could Crossplane help solve your problem?

Allow `KubernetesApplication` or `KubernetesApplicationResource` to accept a secret to connect to the target cluster

[2020-06-22 12:54] muvaf commented on #1586
Depends on https://github.com/crossplane/crossplane/issues/1605 so that Wordpress can still schedule to the target cluster.

[2020-06-22 14:07] muvaf commented on #1470
@negz done in https://github.com/crossplane/crossplane/pull/1607

[2020-06-22 14:07] #1470 closed

[2020-06-22 14:07] muvaf commented on #1471
@negz done in https://github.com/crossplane/crossplane/pull/1607

[2020-06-22 14:07] #1471 closed

[2020-06-22 15:04] hasheddan commented on #1599
@muvaf from folks I have talked to, it is actually easier to get started without the `build` submodule. I definitely think that in a production setting that we should be doing the same checks that the `build` submodule provides, but for folks just starting a new provider not having the `build` submodule means that they can use whatever CI they like and add any checks without having to understand w

[2020-06-22 15:09] janwillies commented on #1603
Good points. Would be great to have a crossplane model for the DNS end to end. Maybe something like the Gardener solution: https://github.com/gardener/external-dns-management#the-model

[2020-06-22 19:07] muvaf opened #1609 "Composition to support taking values from members to fill the connection secret"
### What problem are you facing?

In some cases, applications need non-sensitive data that is exposed through spec.forProvider or status.atProvider. But we composition only supports propagating values from the connection secret that the managed resource exposes, which has pre-defined keys that may not work for all cases.

See the discussion on Slack https://crossplane.slack.com/archives/CEG3T90A1/

[2020-06-23 12:24] muvaf opened #1610 "InfrastructureDefinitions cannot be included in a package"
### What problem are you facing?

I am trying to bundle a [stack package](https://github.com/crossplane/stack-gcp-sample/pull/55) and wanted to use a new type called `PrivateNetwork` that is defined by the stack. Since `InfrastructureDefinition`s require a new `ClusterRole` to be aggregated to core Crossplane `ServiceAccount`, I included it in the package and added the following to `dependsOn` sec

[2020-06-23 12:39] hasheddan commented on #1610
@muvaf this should be addressed by the new package design 👍

[2020-06-23 14:51] muvaf opened #1611 "KubernetesApplicationResource should not submit resource if the additional secret is not ready"
### What happened?

If you create a `KubernetesApplicationResource` whose template is of kind `Deployment` that has a secret and you'd like that secret to be propagated to the target cluster, you'll see that the `Deployment` will be created in the target immediately even if the additional secret you supplied via `KubernetesApplicationResource.secrets` doesn't exist yet.

This causes unnecessary er

[2020-06-23 15:27] muvaf opened #1612 "Composite and claim deletion should be blocked while composed resources are being deleted"
### What problem are you facing?

When you delete a composite resource, it disappears after making deletion calls to all composed resources. However, there are many cases where actual deletion of the composed resources result in error. To account for that, admins should scan the cluster time to time to see if there are any orphan composed resources.

Also there are systems like stacks that depend

[2020-06-23 15:46] muvaf commented on #1586
Here is the list of PRs and issues that are required for Wordpress to work on composition e2e:
* KAR needs to work with just a Secret  - PR https://github.com/crossplane/crossplane/pull/1604
* There is no way to include InfraDef  in a package, which is required if we'd like to have stack define its own API for network resources; the alternative is to dump network resources just like today and only

[2020-06-23 18:30] negz commented on #1605
I'm assuming we'll remove support for `KubernetesApplication` when we remove support for claims (around 0.14) - thus breaking support for the Wordpress app as it exists today.

[2020-06-23 20:50] muvaf opened #1615 "InfrastructurePublication can be a field on InfrastructureDefinition"
### What problem are you facing?

Here is an example `InfrastructurePublication`:
[code]

This can actually be a field on `InfrastructureDefinition` to avoid a separate resource call as well as the mechanics of deletion being dependent on each other; you have to delete `InfrastructurePublication` before `InfrastructureDefinition` and that causes some problems in some systems, for example Helm wher

[2020-06-24 09:06] muvaf commented on #1586
We've synced and here is the current status on that migration.

The biggest hurdle to do this migration is to be able to bundle an `InfrastructureDefinition` in a package that will deploy it [only once](https://github.com/crossplane/crossplane/issues/1610), as opposed per CR which is how template stacks work right now. Essentially, we need a treatment for `InfrastructureDefinition` as if it's a CR

[2020-06-24 10:42] muvaf opened #1617 "Design for Crossplane Agent"
### What problem are you facing?

There are 2 main modes of deployment of Crossplane that folks are mostly using:
* Local scenario.
  * In this model, you have a single beefy cluster with infrastructure CRs and you create Kubernetes primitive resources to deploy your apps (`Deployment`, `Pod` etc) that will consume that infrastructure.
* Remote scenario.
  * You have a single dedicated Crossplane

[2020-06-25 03:54] negz commented on #1615
This would simplify our implementation - the relationship between the two is awkward in code. Before we move forward though we should consider:

* How likely is it that we'd want to add some publishing specific configuration in future? This could still be done on the ID, but we'd probably want to consider what it would look like if the publishing concept grew to be more than a simple boolean.
* Ho

[2020-06-25 13:08] muvaf commented on #1615
I can't immediately think of many configurations. Maybe we'd want to publish to only specific namespaces but that's technically not possible with CRDs, so it'd use RBAC to allow all users in specific namespace to be able to create it. But I don't feel like it'd be the job of publication really.

A printer column on `InfrastructureDefinition` looks OK to me. A column with boolean value or direct ki

[2020-06-25 14:44] zzxwill commented on #1611
FYI, here is a design from @hongchaodeng for this similar service dependency mechanism in OAM https://github.com/crossplane/oam-kubernetes-runtime/blob/master/design/resource-dependency.md

[2020-06-25 16:54] prasek commented on #1617
@muvaf having multiple agents (in different k8s app/target clusters) connect to a namespace in a single control plane instance is likely something worth supporting. let's discuss.

[2020-06-26 09:13] muvaf opened #1619 "Crossplane should grant permission to reconcile new types introduced via InfrastructureDefinition"
### What problem are you facing?

Today, if you create an `InfrastructureDefinition` a new CRD will be created and its instances will be reconciled by Crossplane pod. However, since it's a new API, Crossplane pod needs a `ClusterRole` to reconcile that API. In documentation, we have [a step](https://github.com/crossplane/crossplane/blob/master/docs/getting-started/publish-infrastructure.md#grant-r

[2020-06-26 19:02] lukeweber commented on #1615
I think we should consider that we may publish these in a namespace scope only. Further, I think it would be nice to find the Requirements via CRD directly with labels since that's the standard way to query for something based on traits.

I'm still considering the discoverability aspects of the resulting Requirements, and Definitions and whether they should be labeled or annotated so they can be d

[2020-06-26 19:23] lukeweber commented on #1615
Another thought it to annotate type or purpose on the CRD instead of label just for tools to understand.

I think also putting the publication info into definition might not be ideal. If publication is two types, a ClusterPublication, and a Publication (namespaced version) you could theoretically allow someone to be a manager of their namespace and grant them access to Publish the apis for their n

[2020-06-27 06:16] jbw976 commented on #1574
This issue is about the build/release process to keep the GitLab managed app up to date over time, but there are also some concerns that are potentially more near term:

* the GitLab managed app is still v0.4, which is ancient
* the documentation and walkthrough for how to use the Gitlab managed app is using out of date concepts and could greatly benefit from using new concepts like composition.

[2020-06-29 16:41] muvaf commented on #1615
IMO, since the result of publication is a CRD, it's a losing game to try to narrow its scope down to namespace. Kubernetes doesn't have a notion of namespaced APIs; it suggests using RBAC to control who can do what in which namespace but all APIs in the cluster are open to everyone. It's got a clear separation in terms of what's available and what's allowed. Honestly, trying to workaround this fee

[2020-06-29 18:53] kasey opened #1623 "Analyze possible integration between Crossplane and Terraform providers"
### What problem are you facing?

I think that wrapping terraform could be an effective way for crossplane to get a significant boost in coverage across the major cloud providers. However, there are some gaps between our model and terraform. Before committing significant resources to implementing a system for generating providers from Terraform, we need to analyze those gaps and gain confidence in

[2020-06-29 20:43] kasey opened #1624 "Design document for Crossplane to use terraform in the generation of providers"
Part of https://github.com/crossplane/crossplane/issues/262

### What problem are you facing?

Terraform providers contain data models and business logic that we can use to interface with cloud providers in a consistent way. However, Terraform's operational and data model differs from Crossplane in significant ways, which an integration needs to take into account. A one-pager will help drive discu

[2020-06-29 20:58] hasheddan opened #1625 "Design Doc for Package Refactor"
### What problem are you facing?

Crossplane is simplifying the concept of a package, while also adding new functionality to support versioning and upgrade of installed packages. Other areas that may also be impacted by a refactor include the following:

- `ClusterRole` creation for Crossplane to manage resource types created by `InfrastructureDefinition`/`InfrastructurePublication`
- Annotation o

[2020-06-29 22:47] negz commented on #91
I _think_ this is no longer relevant given that we're deprecating resource classes. I suppose we could do something like this for selecting a composition based on the composite resource's configuration, though I'm not sure whether we still see that as a direction we want to go. I'm going to close this - let me know if you want it to stay open and we can instead reframe it around composition.

[2020-06-29 22:47] #91 closed

[2020-06-29 22:49] negz commented on #113
We moved forward with #1163, which I believe addresses all of the requirements here!

[2020-06-29 22:49] #113 closed

[2020-06-29 23:05] negz commented on #115
I don't believe this is relevant (at least in this specific context) with the direction we're going. We don't intend for Crossplane to manage workloads.

[2020-06-29 23:05] #115 closed

[2020-06-29 23:07] negz commented on #149
We're not as focused on portability as we once were, though we do still support defining portable APIs. I'm going to close this - we may need to address it but I'd like to hear that from our community to help prioritise it.

[2020-06-29 23:07] #149 closed

[2020-06-29 23:13] negz commented on #118
I believe our current thinking is that we might integrate with something like OPA to handle this, rather than inventing our own constraint concepts. It's worth noting that in the brave new world folks can author their own API definitions and how those definitions relate to a composition of resources, which can cover some rudimentary constraints (e.g. you can limit what engine versions are valid wh

[2020-06-29 23:13] #118 closed

[2020-06-29 23:18] negz commented on #254
I think we have most of this now between the release process docs, the managed resource developer guide, and the contributor guide.

[2020-06-29 23:18] #254 closed

[2020-06-29 23:19] negz commented on #155
We're planning to deprecate KubernetesApplication (neé Workload), so I don't believe this is relevant anymore.

[2020-06-29 23:19] #155 closed

[2020-06-29 23:19] negz commented on #154
We're planning to deprecate KubernetesApplication (neé Workload) so I don't think this is relevant anymore.

[2020-06-29 23:19] #154 closed

[2020-06-29 23:20] negz commented on #262
I'm assigning this to @kasey, who has been doing some R&D in this area.

[2020-06-29 23:22] negz commented on #489
This is actually now pretty much done, in that folks consume resources via a composite resource, and they can configure exactly what that composite resource's secret looks like via its InfrastructureDefinition.

[2020-06-29 23:22] #489 closed

[2020-06-29 23:24] negz commented on #279
We're deprecating KubernetesApplication (neé Workload) so I don't believe this issue will be relevant going forward.

[2020-06-29 23:24] #279 closed

[2020-06-29 23:26] negz commented on #313
@hasheddan Is this still relevant? We talk about _using_ the build submodule in our contributing docs, but I don't think we have anything for actually working on the submodule itself.

[2020-06-29 23:31] negz commented on #288
We're deprecating KubernetesApplication (neé Workload), so I don't think this will be relevant going forward.

[2020-06-29 23:31] #288 closed

[2020-06-29 23:31] negz commented on #287
We're deprecating KubernetesApplication (neé Workload), so I don't think this will be relevant going forward.

[2020-06-29 23:31] #287 closed

[2020-06-29 23:33] negz commented on #324
We're deprecating KubernetesApplication (neé Workload), so I don't think this will be relevant going forward.

Furthermore, we have few to no resources left that allow broad access by default. Almost all resources are high fidelity representations of their underlying APIs, and thus support all security configurations of said APIs.

[2020-06-29 23:33] #324 closed

[2020-06-29 23:33] negz commented on #293
I believe I inadvertently addressed this in https://github.com/crossplane/crossplane/pull/1590.

[2020-06-29 23:33] #293 closed

[2020-06-29 23:35] negz commented on #340
I don't think this is relevant now that we're moving away from supporting workloads. With Composition I think we a pattern for defining API types that represent some of these things (at least the ones that you can CRUD via the provider, like VPCs).

[2020-06-29 23:35] #340 closed

[2020-06-29 23:35] negz commented on #427
We're deprecating complex workloads, so this issue is no longer relevant.

[2020-06-29 23:35] #427 closed

[2020-06-29 23:36] negz commented on #457
We're deprecating KubernetesApplication, so this is no longer relevant.

[2020-06-29 23:36] #457 closed

[2020-06-29 23:38] negz commented on #289
I'm going to close this - I'm not really aware of anything we can do here apart from polling the providers. Please reopen if anyone has any ideas!

[2020-06-29 23:38] #289 closed

[2020-06-29 23:44] negz commented on #367
I believe we have these now under the examples dir.

[2020-06-29 23:44] #367 closed

[2020-06-29 23:48] negz commented on #510
@hasheddan Do you think this needs to stay open to cover Packages?

[2020-06-29 23:49] negz commented on #536
I addressed this in https://github.com/crossplane/crossplane/pull/1590.

[2020-06-29 23:49] #536 closed

[2020-06-29 23:52] resouer commented on #262
Thanks Nic. Maybe sth like "external providers" in https://github.com/crossplane-contrib which can easily integrate community operators/orchestrators and use Crossplane as the unified control plane (install, configure, composition and consume).

[2020-06-29 23:59] negz commented on #690
I don't think we really want this empty status block, but it's also not hurting anything AFAIK. I believe it would need to be fixed in upstream in controller-tools.

[2020-06-29 23:59] #690 closed

[2020-06-30 00:08] negz commented on #757
@prasek This doesn't fit exactly into our new model, but it could still be relevant as a general problem. Do you think we should keep it open? I could imagine something like Composition inheritance/stacking to address this, though I'm not sure if it warrants the increased complexity.

[2020-06-30 00:12] negz commented on #834
I don't think we're seriously considering supporting this - Crossplane being somehow aware of resources it is not the source of truth for. I'm going to close this; please reopen if you feel strongly.

[2020-06-30 00:12] #834 closed

[2020-06-30 00:13] negz commented on #784
The GitLab examples are all based on claims and classes, which are deprecated. The documentation has also been removed. I don't think this is relevant anymore, though we may need to port the examples to composition at some point.

[2020-06-30 00:13] #784 closed

[2020-06-30 00:15] negz commented on #780
I think this issue predates our current approach to documentation. I'm going to close it - please reopen if you feel we still need this guide.

[2020-06-30 00:15] #780 closed

[2020-06-30 00:19] negz commented on #865
I think this is a stale epic - I'm going to close it.

[2020-06-30 00:19] #865 closed

[2020-06-30 00:23] negz commented on #898
If this is still true it's definitely something we'll need to address before getting to v1beta1 APIs.

[2020-06-30 00:24] negz commented on #851
We're deprecating resource claims, so this is no longer relevant. I suspect we might run into this with requirements (the code is currently pretty similar), but I'm going to optimistically close this in the hope that we the requirement code grows we don't end up with this bug.

[2020-06-30 00:24] #851 closed

[2020-06-30 00:26] negz commented on #597
I believe this pertains to KubernetesApplication, which we're deprecating. I'm going to close this, as it won't be relevant going forward.

[2020-06-30 00:26] #597 closed

[2020-06-30 00:31] negz commented on #876
I still think we want this but I'm not sure how this can be addressed now that we're using doc.crds.dev, which renders CRDs, which are not (AFAIK) aware of immutability. CC @hasheddan.

[2020-06-30 00:31] #876 closed

[2020-06-30 00:32] negz commented on #916
I believe this is stale - we're not moving forward with template stacks.

[2020-06-30 00:32] #916 closed

[2020-06-30 00:33] negz commented on #914
I don't believe we still plan to use template stacks (i.e. the templating controller) to manage apps via Crossplane.

[2020-06-30 00:33] #914 closed

[2020-06-30 00:55] negz commented on #908
I believe we're planning to deprecate template stacks (i.e. the templating controller) in favour of composition. We may support a Helm composition which could perhaps value from some templating. I'm going to close this - we can open a new issue if we need this for compositions.

[2020-06-30 00:55] #908 closed

[2020-06-30 00:56] negz commented on #852
Relates to https://github.com/crossplane/crossplane/issues/1583.

[2020-06-30 01:51] negz commented on #1085
I believe this should no longer be an issue once we remove resource claims and move the OAM appconfig controller out of core. At that point Crossplane (core) will only define types for which it actually has controllers, and providers will not need to import Crossplane core.

[2020-06-30 01:51] #1085 closed

[2020-06-30 01:53] negz commented on #1064
We haven't heard from you in a while @bshetti, so I'm going to close this issue. Let us know if we should reopen it!

[2020-06-30 01:53] #1064 closed

[2020-06-30 01:57] negz commented on #1036
I think we can close out this epic, as it doesn't represent our current thinking for Packages (neé Stacks).

[2020-06-30 01:57] #1036 closed

[2020-06-30 01:59] negz commented on #1028
I don't think this is relevant anymore given our move away from packaging applications that would in turn create claims, and given the deprecation of claims themselves.