[2020-11-16 12:44] haoqing0110 opened #1962 "Is there plan to support copying connection info from configmap?"
### What problem are you facing?

Is there plan to support copying connection info from configmap?

2 reasons why need this support:
- Generally some connection data may not only stored in `Secret`, but also stored in `Configmap`
- This might also be a follow-up requirement of https://github.com/crossplane/crossplane/issues/1730 .
If crossplane supports composing arbitrary Kubernetes resources, th

[2020-11-16 12:51] benagricola commented on #1960
Hmm, thinking about this style more, it actually seems to be conflating `patchTypes` (which I copied from `patchSets` above) with a patch entry in the base resource, which right now refers to a single patch.

Should a `patchType` defined on the composition only define a single 'named' patch, which can then be referenced multiple times (but each patch must be referenced individually on each resourc

[2020-11-16 13:12] pgodowski commented on #1962
I think the binding concept shall be similar to the Service Binding Operator concepts: https://github.com/redhat-developer/service-binding-operator  , which is not limited only to `Secrets`.

[2020-11-16 13:18] pgodowski commented on #1553
With the v0.14 being release, the Crossplane operator is at version 0.11. What is required to have the automation in place, to have the operator being refreshed with a new releases? Are the steps listes https://github.com/crossplane/crossplane/issues/1362#issuecomment-612012871 still valid?

[2020-11-16 19:51] prasek commented on #1755
@negz looks like this is all wrapped up, closing it out 👍

[2020-11-16 19:51] #1755 closed

[2020-11-16 20:13] hasheddan opened #1965 "Default to registry.upbound.io when pulling packages"
### What problem are you facing?

Currently, the package manager falls back to Docker Hub when pulling a package with no registry supplied. With the newly imposed [rate limiting](https://www.docker.com/blog/what-you-need-to-know-about-upcoming-docker-hub-rate-limiting/), users can run into issues if they pull too frequently, especially in a scenario where `packagePullPolicy: Always`. Also note tha

[2020-11-17 01:09] benagricola commented on #1960
https://github.com/benagricola/crossplane/commit/fa4af7203f583f11aba95a09050157dba7d04fa5 WIP implementation of `patchType` as a single patch rather than a list of patches. Seems pretty succinct code-wise. Needs doc, more tests and some bits and pieces moved around before PR / review.

If we wanted types to be a list of patches rather than individuals, then I think we'd need to go the previous rou

[2020-11-17 11:02] negz commented on #1960
I agree that fixed/built in patch sets probably aren't the way to go here - I suspect we'll appreciate a more flexible approach in future. I do like the `type` approach though, as it opens us up for other types of patches (e.g. "reverse" patches from the composed resource to the composite resource). I think it could work together with the `patchSets` approach. Something like:

[code]

[2020-11-18 14:15] benagricola commented on #1960
I've managed to get the format pretty similar to the above:

[code]

Types are currently `ref` and `std` (implied) - can rename these of course.

`patchSets.patches` and `resource.patches` both use the same type definition (`[]Patch`) but an error will be thrown if someone attempts to use a reference type patch from within the `patchSets` definition.

I'll double check everything and submit a PR f

[2020-11-18 14:41] muvaf commented on #1962
Hi @haoqing0110 ! What is your use case? Is this `ConfigMap` part of the `Composition`?

[2020-11-18 15:58] muvaf commented on #1640
Another problem we'd face by propagating the external-name by default is that some resources will not work. For example, `IAMPolicy` uses ARN as external name and if we propagate the external-name like `my-special-bucket`, we'll get
[code]

What happens is that SDK immediately rejects the name because it doesn't conform to the format it expects. One way to eliminate this is to use `transform` in t

[2020-11-18 18:50] rozcietrzewiacz opened #1973 "Composition transform patch: Introduce a way to getValues from an array of fieldPaths"
### What problem are you facing?
Currently the `string` transform allows a single placeholder substitution in the `fmt` string. This allows pre-/in-/suffixing. Here's a use case where it would make more sense to consume a list of input `fromFieldPaths` for subsequent `%s` placeholders.

Consider a Composition that provisions an s3 bucket on AWS along with a set of IAM objects that reference it, re

[2020-11-18 19:09] rozcietrzewiacz commented on #1973
https://github.com/crossplane/provider-aws/issues/315 Would allow to work around the issue in case of `IAMPolicy`. One could go the route of serializing all supported json documents in various resources... And that would probably be the cleanest way to do it, once all those document fields are supported in all providers. But until that is done, having multiple `%s` in a `fmt` string would unlock a

[2020-11-18 19:10] negz commented on #1973
This should be doable, but I suggest we add a `type` field to help make the Composition author's intent clear when they could be specifying either `fromFieldPath` or `fromFieldPaths`. We have to leave the former in place in order to maintain backward compatibility.

I'm thinking something like:

[code]

I believe this API change would be compatible with https://github.com/crossplane/crossplane/iss

[2020-11-18 19:15] rozcietrzewiacz commented on #1973
@negz Absolutely. How about having the following set of types (could be added over time): `OneToOne` (default), `OneToMany`, `ManyToOne` (case at hand) ?

[2020-11-18 22:30] negz opened #1974 "Introduce composition patch types."
### What problem are you facing?

Crossplane Compositions consist of an array of 'base' resources, each with an array of zero or more patches. Currently these patches support patching from a field path within an XR to a field path within the base (composed) resource. Each patch may also include zero or more simple transforms. Currently `fromFieldPath` and `toFieldPath` are required fields.

For ex

[2020-11-18 22:31] hasheddan commented on #1017
Closing this out as it is no longer applicable in the new package manager

[2020-11-18 22:31] #1017 closed

[2020-11-18 22:32] negz commented on #1973
@rozcietrzewiacz I think we need to pick types that will accomodate a small handful of use cases we have. I've written up the ones I know of in https://github.com/crossplane/crossplane/issues/1974.

Do we need to cover this case? Wouldn't it be functionally the same as including multiple patches that each patch from the same XR field, but patch to different composed resource fields?

[2020-11-18 23:05] aakash-sahai opened #1975 "Add providers for Metal3 (aka MetalKube) and Kubevirt"
### What problem are you facing?
Using Kubernetes as a signular control plane for managing infrastructure is our goal to simplify the operations of diverse infrastructure. We intend to use Metal3 to manage baremetal servers from K8s, and virtualized infrastucture using Kubevirt. Crossplane's value will be enhanced manyfold with the addition of provider for Metal3 and Kubevirt, for people who want

[2020-11-18 23:50] benagricola commented on #1974
Just while it's front-of-mind with `type: FromCompositeFieldPaths` - I wonder if there's a situation here where rather than using _all_ fields, you might want to pick the first field that exists or isn't empty, and whether that's a different patch type or another setting on `FromCompositeFieldPaths` :)

[2020-11-19 01:45] #1649 closed

[2020-11-19 07:25] haoqing0110 commented on #1962
@muvaf `configmap` is similar to `writeConnectionSecretToRef`, while some non-sensitive data might write not only to secret.

A more general case is to copy `service binding info` back , as https://github.com/redhat-developer/service-binding-operator describes,  "Backing Service Operator that exposes binding information in secrets, config maps, status, and/or spec attributes. "

[2020-11-19 11:03] muvaf commented on #1962
The `writeConnectionSecretToRef` is used to reference the `Secret` that the provider will write credentials to. However, https://github.com/crossplane/crossplane/issues/1609 addresses the case where you'd like to populate that `Secret` with information that exists on the custom resources you're composing rather than their secrets.

So, do you want Crossplane to dump the credentials into a `ConfigM

[2020-11-19 15:48] kasey opened #1976 "Consider a switch to structured logging (k8s.io/klog)"
### What problem are you facing?

Our logs are semi-structured, json payloads in whitespace delimited log lines. Our logs also contain the occassional unstructured stack trace. Moving to structured logs has a number of well-understood advantages, as touched on in the k8s blog post on the topic:
https://kubernetes.io/blog/2020/09/04/kubernetes-1-19-introducing-structured-logs/

### How could Crossp

[2020-11-19 20:35] negz commented on #1976
I believe our logs should only be semi-structured when run in debug mode, where they're intended to be more human readable. If you run in production mode (i.e. omit the `-d` flag) they should be fully structured JSON.

I'm fairly resistant to changing how we log. Quite a lot of thought went into the existing implementation; https://github.com/crossplane/crossplane-runtime/blob/1b691ef/pkg/logging/

[2020-11-19 21:41] rozcietrzewiacz commented on #1973
I agree, it looks like a minor optimization and I don't think there would be much demand for it - so I would leave it out at least in first api update. But some day, with the growth of provider base and use cases, someone might find it really useful. I mentioned it merely for completeness, also to justify the simple naming pattern.

[2020-11-19 21:42] prasek commented on #1961
awesome thanks @hasheddan !

[2020-11-19 21:42] #1961 closed

[2020-11-19 21:43] prasek commented on #1961
note you can now `cdk8s import github:crossplane/crossplane@0.14.0` with https://github.com/awslabs/cdk8s/pull/378 🚀

[2020-11-19 22:02] kasey commented on #1976
With the additional context from @negz, I'll update this issue to instead suggest that we create a separate flag to control structure independent of log level.

[2020-11-19 22:10] kasey opened #1977 "Separate log-level and structured/unstructured cmd options"
### What problem are you facing?

Setting the `--debug` flag currently also changes the output formatting of our logs to semi-structured. It can sometimes be helpful to switch to a debug log level in production, or use structured logs in development.

### How could Crossplane help solve your problem?

Remove the `--debug` flag and add 2 new flags `--log-level=(info|debug)` and `--output=(json|text

[2020-11-19 22:10] kasey commented on #1976
on second thought, I'm closing this in favor of https://github.com/crossplane/crossplane/issues/1977

[2020-11-19 22:10] #1976 closed

[2020-11-19 22:43] negz commented on #1977
I like the idea of decoupling output format from verbosity but I'd prefer to avoid removing the debug flag as that could be considered a breaking/potentially disruptive change. What do you think about instead adding a new flag ala `--output` or `--log-format`? The idea being that if the `--log-format` flag was omitted Crossplane would behave exactly as it does today, but if the flag were supplied

[2020-11-19 22:57] kasey commented on #1977
I should have mentioned defaults. To match current behavior I had been thinking the default value of `--log-format` would be `json` and the default format of `--log-level` would be `info`. We could keep `--debug` and just define it as a shortcut/legacy (maybe set it for deprecation and warn?) for setting `--log-format=text` and `--log-level=debug`.

[2020-11-20 00:50] hasheddan opened #1978 "Add kubectl crossplane upgrade command for packages"
### What problem are you facing?

Currently, packages can be installed using the Crossplane CLI, but if a user wants to upgrade they must manually edit the YAML.

### How could Crossplane help solve your problem?

Add commands for Providers and Configurations to upgrade. It should take the Provider / Configuration name and a tag or hash. It would also be nice to optionally allow for upgrade to the

[2020-11-20 01:48] negz commented on #1977
I'm not seeing why we'd need to deprecate or replace it - it doesn't feel broken to me. That said, I don't feel particularly strongly about this except that I don't want folks who expect to be able to run `crossplane --debug` to experience issues due to that flag being removed.

[2020-11-20 08:22] haoqing0110 commented on #1962
@pgodowski ^^^ any comments for above question?

[2020-11-20 08:31] pgodowski commented on #1962
@muvaf the use case scenario that we are after is that the underlaying custom resource which we're composing has both Secret and ConfigMap resources. In Secrets are kept the sensitive details (mostly, username/password), whereas ConfigMap contains basic service attributes (like connection URL, parameters of the exposed service, for service consumer's use cases). The non-sensitive data does not nee

[2020-11-20 13:32] muvaf opened #1979 "Static provisioning mechanism does not respect external name annotation"
### What happened?

https://github.com/crossplane/crossplane/pull/1970#discussion_r526190545

TLDR is that when a claim is bound to existing composite, it overrides the external name annotation and that could break the existing managed resources.

### How can we reproduce it?

Create a composite.
Create a claim that targets that composite.

### What environment did it happen in?
Crossplane version

[2020-11-20 13:39] muvaf commented on #1962
Alright so here is what I understand, please correct me if I'm wrong. You have a managed resource that you implemented, let's call it `AcmeResource` and the controller you wrote for it creates both `Secret` and `ConfigMap` resources that contain the connection information. Now, you'd like to use `AcmeResource` in a `Composition` resource. However, in composition, we only support `resources[*].conn

[2020-11-20 14:51] muvaf opened #1980 "Generating all services available in ACK with v1alpha1 support"
### What problem are you facing?

We have started using [AWS ACK generation pipeline](https://github.com/aws/aws-controllers-k8s/pull/449) to generate managed resources for provider-aws. The first batch was [API Gateway v2 Services](https://github.com/crossplane/provider-aws/pull/416).

We would like to generate all available services in ACK for provider-aws in v1alpha1 quality, which means at lea

[2020-11-20 14:53] muvaf commented on #1980
https://github.com/crossplane/crossplane/issues/1845 tracks only the type generation and I believe this is mostly achieved by https://github.com/crossplane/provider-aws/pull/416 . However, controller code for all services is more tricky and this issue covers that.

[2020-11-20 16:03] muvaf commented on #1863
I have got the [API Gateway v2](https://github.com/crossplane/provider-aws/pull/416) resources generated and while writing the custom code to handle external-name, I faced an issue where it's really hard to decide what should be the external-name. For example, `API` resource has a `Name` field but also AWS-assigned `ID`. If we use `external-name` for `Name`, we can make it work with `GetApis` requ

[2020-11-20 19:20] muvaf commented on #1980
At the moment, issues are opened for all services available in ACK:
* SNS https://github.com/crossplane/provider-aws/issues/451
* SFN https://github.com/crossplane/provider-aws/issues/450
* ElastiCache https://github.com/crossplane/provider-aws/issues/449
* ECR https://github.com/crossplane/provider-aws/issues/448
* DynamoDB https://github.com/crossplane/provider-aws/issues/447

[2020-11-20 22:01] negz commented on #1974
@benagricola I'd probably go with another type there, perhaps something like `FromFirstNonEmptyCompositeFieldPath` if that's not too verbose.

[2020-11-20 22:24] hasheddan opened #1981 "Consider changing release channel names for v1.0"
### What problem are you facing?

Currently, our release channels (`alpha` and `master`) are not indicative of the type of release a user is consuming. The `alpha` channel is really the latest stable version.

### How could Crossplane help solve your problem?

The smallest change would be to just rename `alpha` to `stable`, but it may also make sense to maintain an `rc` channel for pre-release ver

[2020-11-20 22:41] jbw976 commented on #1981
For v1.0, we should just promote to the `stable` channel. No renaming would be needed I believe.

[2020-11-21 13:11] hasheddan commented on #1981
@jbw976 awesome! Thanks for that info :) Looks like `build` submodule` will create a new directory in bucket for the channel if it doesn't already exist 👍

[2020-11-21 13:12] hasheddan commented on #1975
@aakash-sahai this sounds like a great idea! Are you interested in working on this? If so, I would be happy to get a repo set up for you in @crossplane-contrib :)

[2020-11-21 13:33] hasheddan opened #1982 "Allow configuration of crossplane security context in Helm chart"
### What problem are you facing?

Currently, Crossplane runs with a [restrictive security context](https://github.com/crossplane/crossplane/blob/d82548334ba1b3770122e46e78aec6ce69a0e1fd/cluster/charts/crossplane/templates/deployment.yaml#L40) by default. However, some platforms, such as Openshift, require values such as `runAsUser` to fall into a specific range.

### How could Crossplane help solv

[2020-11-22 17:26] hasheddan opened #1984 "Formalize Guides in Documentation"
### What problem are you facing?

We currently have a number of guides on the Crossplane documentation that point to the corresponding TBS episodes. Many of these have become out of date, and the manifests used in the TBS repo will no longer work with the latest Crossplane version.

### How could Crossplane help solve your problem?

We should formalize the process of adding and maintaining guides.

[2020-11-23 12:43] haoqing0110 commented on #1962
@muvaf the controller will create both `Secret` and `ConfigMap`. copy `Secret` to `Secret` is already covered by crossplane,  expect Crossplane to also fetch some values (non-sensitive data) from `configmap` and put them into the final connection `configmap`.

[2020-11-23 14:27] hasheddan commented on #1982
Fixed by https://github.com/crossplane/crossplane/pull/1983

[2020-11-23 14:27] #1982 closed

[2020-11-23 14:44] muvaf commented on #1962
Alright. Currently, composition mechanism is designed to work with managed resources and that enforces controllers to have their output in either on the managed resource itself or in a `Secret`. I don't think we have any plans to expand the managed resources to produce a `ConfigMap` output, too. There is an [issue](https://github.com/crossplane/crossplane/issues/1730) tracking whether composition

[2020-11-23 14:48] muvaf commented on #1974
We've had a lengthy discussion in https://github.com/crossplane/crossplane/pull/1972#discussion_r528726387 related to this issue. I'm copying my proposal here since it's related:
[code]

[2020-11-23 18:57] hasheddan opened #1985 "Configuration of installed dependencies"
### What problem are you facing?

#1971 adds functionality to automatically install dependencies for a package that are declared in the `crossplane.yaml`. However, those dependencies are created with the default package settings, so things like `packagePullSecrets` do not flow through.

### How could Crossplane help solve your problem?

It would be nice if users could configure their package depen

[2020-11-23 21:12] negz commented on #1974
@muvaf It looks like your proposal above contains a list of objects under the `patches` array, each with a different key set (e.g. `customPatchRef` or `compositePatch`).

Each entry in patches needs to be an object, and that object had a corresponding Go type it would need to have all of the `customPatchRef`, `compositePatch`, and `resourcePatchList` fields. When this happens in the Kubernetes API

[2020-11-23 21:54] negz commented on #1974
I just did a bit of a survey of the Kubernetes API looking for instances of discriminator fields - they include the Deployment strategy, HPA metric source and targets, and Service type. I believe the reason they're not present in older parts of the API (e.g. volume source, env var source) is because there has historically been some controversy as to whether adding them would constitute a breaking

[2020-11-24 10:56] Henni commented on #1911
Same happens for me on v0.13.0.
Bug might be fixed with v0.15.0 because the code changed quite a bit, but haven't tested it yet.

The closest I got so far: https://github.com/crossplane/crossplane/blob/release-0.13/pkg/controller/apiextensions/composite/reconciler.go#L278

[2020-11-24 11:43] muvaf commented on #1974
Thanks for references! I agree with Tim here https://github.com/kubernetes/kubernetes/issues/35345#issuecomment-275834360 . However, I see that the [KEP](https://github.com/apelisse/enhancements/blob/c192aeb95be857b79d997a54e1b8bf7beac62c67/keps/sig-api-machinery/20190325-unions.md) you linked for discriminators is accepted and there is an effort to migrate the existing APIs. So, Kubernetes commun

[2020-11-24 18:07] negz commented on #1974
I don't see any indication that this is a strict requirement - in fact in the KEP's given example the `TopLevelUnion` type (which inlines its nested structs) would render out as:

[code]

Note that `fieldA` is a simple `int` field at the same level as the discriminator, rather than being a value nested in an object.

I don't feel moving the discriminated values into a nested object is worthwhile f

[2020-11-24 21:45] negz commented on #1965
@hasheddan Is it worth making the default registry a flag? I wonder whether doing so could potentially make the upgrade/cutover process less disruptive. Credit to @lukeweber for the idea.

[2020-11-24 22:20] hasheddan commented on #1965
@negz that should be straightforward to do :+1:

[2020-11-25 00:22] negz commented on #1473
https://github.com/crossplane/crossplane/pull/1970 adds tests for the claim (neé requirement) package. Tests for the definition package (which now includes the old publication package) were added a while back in https://github.com/crossplane/crossplane/pull/1588.

[2020-11-25 00:22] #1473 closed

[2020-11-25 00:55] negz commented on #1478
I thiiiink this might have been implemented by accident during some previous refactoring of the XR reconcile - at a glance it seems like this is the behaviour we'd see today.

[2020-11-25 01:46] negz commented on #1478
Yeah, this appears to now be the case. I confirmed by applying the GCP configuration and claim from the composition getting started guide, deleting the resulting `CloudSQLInstance` and confirming that it was recreated:

[code]

In this instance I expect the newly created database will fail since GCP won't let us reuse the exact same name (which persists because it was stored as a reference on the

[2020-11-25 01:46] #1478 closed

[2020-11-25 08:20] muvaf commented on #1974
Yes, this seems to be the case, I hadn't notice. Examples from Kubernetes seem to be just one pattern of unions that were embraced in this KEP.

Also since we don't strictly need to have a field for each type, it'd be less verbose for general cases like the ones who use `fromFieldPath` and `toFieldPath`.

PatchSet sounds reasonable. It just felt like the `patchSet` is something that comes as a who

[2020-11-25 18:34] prasek commented on #1955
@eladb and @muvaf: good sync today, here are the next steps I captured going into Dec 15th:
 - [ ] @prasek: cleanup https://github.com/prasek/crossplane-cdk/tree/cross-pkg and split out different packages
    - [x] reserve https://github.com/crossplane-cdk to mirror the crossplane org packages and version releases
 - [ ] @eladb: get the https://github.com/eladb/cdk8s-pack-prototype ready for use w

[2020-11-25 23:21] #1979 closed

[2020-11-27 05:27] gyliu513 opened #1990 "Can I use crossplane to provision a k8s cluster"
I can see there are some discussion by using cluster api to provision k8s cluster at https://github.com/crossplane/tbs/tree/master/episodes/11 , but what is the plan to enable crossplane to support this or does crossplane has other solutions to manage clusters?

[2020-11-27 08:02] jianh619 opened #1991 "Distribute app to provisioned kubernetes cluster"
### What problem are you facing?

I can create kubernetes cluster on public cloud via crossplane , by leveraging OAM , crossplane help me to deploy application on kubernetes clusters , so I'm wondering , if there's way for me to distribute application on clusters , e.g I can specify app running on Cluster A/B/C from AWS , instead login in each cluster , to install OAM and deploy app ? I'm trying t

[2020-11-30 05:34] gyliu513 commented on #1991
@jianh619 can you show some detail how did you provision a k8s cluster via crossplane? Any links or samples that I can refer?

[2020-11-30 06:40] jianh619 commented on #1991
@gyliu513
I find this example https://github.com/crossplane/provider-aws/tree/master/examples/eks , but seems it's out of date , so I modify some attributes according to API spec , https://doc.crds.dev/github.com/crossplane/provider-aws
[code]

[2020-11-30 09:43] muvaf commented on #1991
Hi @jianh619 ! There is [`provider-helm`](https://github.com/crossplane-contrib/provider-helm) in Crossplane Contrib org that you can use to schedule Helm charts using the connection secrets of provisioned Kubernetes clusters.

[2020-11-30 10:02] muvaf commented on #1990
Hi @gyliu513 ! Yes, you can provision anything cloud providers offer as long as its support is implemented in its Crossplane provider. Here you can see how to provision a cluster together with all networking stuff using composition feature https://crossplane.io/docs/v0.14/getting-started/package-infrastructure.html

But you can also simply create the CRs and get it up and running. You can find the

[2020-11-30 10:02] #1990 closed

[2020-11-30 13:06] gyliu513 commented on #1991
@muvaf you mentioned `schedule` here, does this mean the crossplan has kind of placement policy to help schedule my helm charts to different k8s clusters? Can I specify the clusters that I want to run my helm chart?

Also as crossplane can work with OAM, so how can I distribute the OAM templates to different clusters?

[2020-11-30 13:37] gyliu513 opened #1992 "[Question] Can I create a k8s cluster with some addon operators"
I can use crossplane to provision a k8s cluster, but here the question is only provisioning a k8s cluster is not enough, as I also need to enable the k8s cluster has some add operators, like logging, monitoring etc, so is it possible to let the crossplane to provision a k8s cluster with some add-on operators?

[2020-11-30 13:50] hasheddan commented on #1842
Fixed by #1971

[2020-11-30 13:50] #1842 closed

[2020-11-30 13:54] hasheddan commented on #1992
@gyliu513 absolutely! This is a good example here of deploying EKS clusters with Prometheus installed: https://github.com/upbound/platform-ref-aws

Feel free to join our [Slack](http://slack.crossplane.io/) if you would like to discuss specific your specific use-case or get any assistance in implementing a `Configuration` :)

If this answers your question, you are welcome to go ahead and close out

[2020-11-30 14:10] muvaf commented on #1842
Congratulations @hasheddan ! This was a pretty big feature 🙂

[2020-11-30 14:13] muvaf commented on #1991
Yes, take a look at the examples here https://github.com/crossplane-contrib/provider-helm/blob/master/examples/sample/release.yaml

You just need to give a ProviderConfig that points to the credentials of the cluster you're targeting. You can use that `Release` object inside your `Composition`s, too.

[2020-11-30 14:16] gyliu513 commented on #1992
Thanks @hasheddan , this is exactly what I want, let me close it. I have joined the slack channel, and will post some questions there if needed ;-)

[2020-11-30 14:16] #1992 closed

[2020-11-30 14:18] gyliu513 commented on #1992
@jianh619 ^^

[2020-11-30 15:16] muvaf commented on #1845
Fixed by https://github.com/aws/aws-controllers-k8s/pull/449

[2020-11-30 15:16] #1845 closed

[2020-11-30 19:00] kasey opened #1993 "provider-terraform-aws reconciler implementation"
### What problem are you facing?

We need to show how the schema types generated in https://github.com/crossplane/crossplane/issues/1844 will be used in a crossplane reconciler. This means having `provider-terraform-aws` implementations for all the [terraform-provider-runtime](https://github.com/crossplane-contrib/terraform-runtime/pull/1/files) interfaces used in the [provider-terraform-gcp](http

[2020-12-01 10:40] muvaf opened #1995 "Experimental Custom Composition"
### What problem are you facing?

[Custom composition](https://github.com/crossplane/crossplane/pull/1705) has been put on hold for a while but it would be nice to get an experimental version of it to show off in Crossplane Community Day.

### How could Crossplane help solve your problem?

We have a [demo](https://github.com/eladb/cdk8s-pack-prototype/pull/16#issue-499329625) already but it needs

[2020-12-02 02:41] jianh619 commented on #1991
thanks @muvaf  ,  couples of questions here ,
- Do I have to convert my app to helm chart first to use provider-helm ?
- It doesn't leverage the OAM , right ?

[2020-12-02 08:45] muvaf commented on #1991
Yes, you'd need to supply a Helm chart.

You can install Crossplane using its helm chart via provider-helm, which would install OAM. Then in your app charts, you'd include OAM YAMLs and they'd work when provider-helm deploys the chart.

[2020-12-02 09:03] jianh619 commented on #1991
GOTCHA , thank you @muvaf  .

[2020-12-02 09:03] #1991 closed

[2020-12-03 20:10] displague commented on #1730
When considering potential Equinix Metal compositions, a `Cluster` composition may be very beneficial.

I do not want to reinvent the wheel by provisioning Kubernetes on bare metal devices using Crossplane's EM Device support and the `userdata` property.  I can already rely on the existing Cluster API ~Packet~ _Equinix Metal_ Provider to provide this capability.

Crossplane comes in where CAPP and

[2020-12-03 21:52] mcavoyk opened #2000 "Add field to ignore specific label propagation to Composite Resource"
### What problem are you facing?

Background: https://crossplane.slack.com/archives/CEG3T90A1/p1607026377006100

ArgoCD uses a label to indicate ownership of a Kubernetes resource to an application. Any resource with this label that is not deployed as part of ArgoCD could be deleted as part of the next application sync. Composite Resource Claim (XRC) automatically propagate all labels and annotati

[2020-12-04 00:58] negz commented on #1929
I believe this is now fixed since https://github.com/crossplane/crossplane/pull/1932 was merged (in addition to the PRs already linked).

[2020-12-04 00:58] #1929 closed

[2020-12-04 01:04] #1960 closed

[2020-12-04 01:43] khos2ow commented on #1846
@jbw976 In #1940 we're enabling metrics by tapping into metrics server `controller-runtime` provides. There's also a way to extend that and add customized metrics (which I don't remember off the top of my head), but at the bare minimum some good handful of metrics are available (can be found [here](https://gist.github.com/khos2ow/6ab83bd0bb9b0823935bd8bf8998850d)). That being said even proceeding

[2020-12-04 08:57] srueg opened #2003 "Generated CRDs are Missing the `required` Field in the Structural Schema"
### What happened?

I just hit a small issue with `openAPIV3Schema` for XRDs: In the code we only copy the `.Properties` field of the `spec` schema to the final CRD schema.
This makes it impossible to make properties of the `spec` schema required because the `.Required` field at this level is ignored.
Also the `spec` field itself is not required and could therefore be completely missing.

Same goe

[2020-12-04 08:59] srueg commented on #2003
Proposal:
1. Aggregate the `required` array of the XRD's `.spec` schema (with the ones defined in `CompositeResourceClaimSpecProps()`)
1. Mark the `.spec` property as a required field

[2020-12-04 17:47] hasheddan opened #2008 "Dependencies are not found if provided without registry"
### What happened?

`go-containerregistry` defaults to `index.docker.io` as registry if none is provided. We account for this when a package identifies itself in the `Lock`, but not for identifying dependencies. This means that having a dependency on something like `crossplane/provider-aws` will always fail to find a matching dependency, but `registry.upbound.io/crossplane/provider-aws` or `index.

[2020-12-04 21:07] tompscanlan opened #2010 "Allow use of private images"
I need to be able to use private images.

## What I'm doing:

[code]

I'd expect the package install would use my referenced image.

## What happens:

The deployment for provider-aws is referencing the public image instead.

[code]

## Why?

I think it may be this line https://github.com/crossplane/provider-aws/blob/83fc1b6f5cf3ebb31be6efa191a4affa76e485e1/package/crossplane.yaml#L32

## Fix ?

I'

[2020-12-04 21:17] hasheddan commented on #2010
@tompscanlan to get the images on your private registry did you rebuild and push or just sync? If the latter, the controller image is baked in, but you can override it by referencing a `ControllerConfig` https://doc.crds.dev/github.com/crossplane/crossplane/pkg.crossplane.io/ControllerConfig/v1alpha1#spec-image

Example here: https://github.com/crossplane/crossplane/pull/1905#issue-511679507

Also

[2020-12-04 21:32] tompscanlan commented on #2010
Excellent! I'll accept that answer. Thanks!

[2020-12-04 21:42] #2010 closed

[2020-12-05 00:38] jbw976 commented on #2010
@hasheddan do we have an example in the docs similar to what you shared in https://github.com/crossplane/crossplane/pull/1905#issue-511679507?  i wonder if more folks will go looking for this topic in the docs.

[2020-12-05 00:51] hasheddan commented on #2010
@jbw976 not yet but we will :)

[2020-12-07 19:18] negz commented on #1974
This was introduced in https://github.com/crossplane/crossplane/pull/1972. Currently we support only `FromCompositeFieldPath` and `PatchSet`, but I think the pattern being established is enough to resolve this issue.

[2020-12-07 19:18] #1974 closed

[2020-12-07 20:10] #2008 closed

[2020-12-08 14:10] #314 closed

[2020-12-08 15:36] rozcietrzewiacz opened #2013 "Add constant value patch type in Composition"
### Use Case

While building a resource catalog, we are leveraging Helm to template Compositions and CompositeResourceDefinitions for individual resources. On the input of such chart, we define upstream (provider) resource kind/apiVersion, some resource defaults (those go to `spec.forProvider` dierctly), some configurables (those go to `patches`). On top of that, we specify values that are global

[2020-12-08 17:37] mcavoyk commented on #2013
I've come across a similar use-case, when patching labels from a XRD to each composed resource but also wanting some static labels. My workaround so far has been to use the map transform, but a value patch would be a better solution.

[code]

[2020-12-08 18:06] rozcietrzewiacz commented on #2013
Nice hack, @mcavoyk ! I totally forgot about `map` transform.

[2020-12-08 19:31] jseriff commented on #1722
We have a similar use case, that I believe either of the options discussed above would resolve:

We have some infrastructure "superstructures" such as Networks which we do not want to be controlled by Crossplane (because they may exist outside of scope of our Kubernetes clusters).  To simplify work for developers, we'd want to create a Network object in Crossplane that we can reference from other

[2020-12-08 19:43] prasek commented on #1847
unable to repro, looks like this was fixed indirectly

[2020-12-08 19:43] #1847 closed

[2020-12-08 19:48] benagricola commented on #1973
Was having a think about this earlier as I have the same specific problem as @rozcietrzewiacz RE: IRSA in an EKS cluster, and ISTM that there's some unknowns that would need to be cleared up around how a 'many to one' patch type (`FromCompositeFieldPaths`?) would work.

1) What happens if one or more of the `From` fields are not set? Gut says that most use-cases for this revolve around patching mu

[2020-12-08 22:15] negz commented on #1722
@jseriff Out of curiosity, would you be more comfortable having Crossplane take full RW ownership of the VPC if you could deploy Crossplane such that you had one dedicated control plane (i.e. an API server running just Crossplane) that was responsible for ownership of all your infrastructure, and were able to connect your various workload-running Kubernetes clusters up to that control plane? The i

[2020-12-08 22:32] jseriff commented on #1722
In your proposal, would this control plane be a dedicated service (ala Terraform Cloud) or are you thinking this is a dedicated cluster running crossplane to manage shared infrastructure?  I'm assuming this would include a mechanism for synchronizing connection secrets back out to the workload cluster?

While either option is something that is definitely possible for us, it feels a bit more comple

[2020-12-09 07:32] negz commented on #2013
I don't think I'm quite grokking these use cases. Can you help me understand why you can't include these static values as part of the base resource, rather than as a patch? e.g.

[code]

[code]

[2020-12-09 07:35] negz commented on #2013
Ah - I see now in @mcavoyk's example the issue is that you'd like to patch over the entire labels array, which would overwrite any static labels you had included in the base. We might be able to address that specific use case if we merged rather than overwrite objects when one was patched onto another.

[2020-12-09 11:24] rozcietrzewiacz commented on #2013
@negz To answer your question:

Because we are operating on a variable jsonPath, which can be different for different individual resource types we are including in our resource catalog (notice the `{{- range .Values.supportedResources }}` at the top of my code snippet)

[2020-12-09 16:07] pdettori opened #2016 "Following install instructions for providers in docs result in "Unknown command: install""
### What happened?

The instructions in the "Install & Configure Crossplane" section for installing a provider do not seem to be correct.

### How can we reproduce it?

Follow the instructions in "Install & Configure Crossplane" up to running the command to install a provider, e.g.:

[code]
this results in the following error:

[code]

### What environment did it happen in?
* Crossplane version: v

[2020-12-09 16:41] hasheddan commented on #2016
@pdettori I believe you have an old version of the crossplane CLI. You can install the new version here: https://crossplane.io/docs/v0.14/getting-started/install-configure.html#install-crossplane-cli

Feel free to close this out if it answers your questions :)

[2020-12-09 17:01] pdettori commented on #2016
@hasheddan thank you, it looks like I missed the part printed at the end of the shell script

[code]
so I probably did this a while ago but not this time, and that explains why I had a older version even if I ran the script to install the plugin.

[2020-12-09 17:01] #2016 closed

[2020-12-09 19:24] jbw976 opened #2017 "docs: provider-gcp setup creates non default ProviderConfig"
### What happened?

The docs on https://crossplane.io/docs/v0.14/cloud-providers/gcp/gcp-provider.html#setup-gcp-provider instruct the user to create a `ProviderConfig` named `gcp-provider`, which is incompatible with all the other docs for provisioning infrastructure, because they rely on using a default ProviderConfig (named "default").

### What environment did it happen in?
Crossplane version:

[2020-12-09 19:25] jbw976 commented on #2017
Ivan @ Kiratech pointed this out, seeing if he wants to also fix this before just fixing ourselves :)

[2020-12-09 21:33] #1981 closed

[2020-12-10 03:33] negz commented on #2013
I just took a quick pass at implementing this, thinking it would be pretty simple and low risk to add the functionality. One quirk though is how we'd represent the source value - is it a string, an int, etc?

[code]

If we went with an API something like the above I don't know that there's a clean way to represent in the CRD schema that `fromConstantValue` could be anything. I'm fairly sure CRDs w

[2020-12-10 04:29] negz commented on #2013
Unfortunately this doesn't work - the generated CRD schema expects the field to be of type `object`.

[2020-12-10 09:39] #2003 closed

[2020-12-10 10:54] muvaf commented on #2013
This could be an option:
[code]

From the use cases above, I feel like there won't really be variance in the type even if the fieldpath varies. So, it may not be so useful to force everyone to use the additional transform. On the other hand, most of the time it's `string`. I'm not really sure, I can be convinced either way.

[2020-12-10 11:45] rozcietrzewiacz commented on #2013
Could it be possible to consume the `from` as string always and add some logic in runtime to dynamically infer the target data type from the target resource schema?

[2020-12-10 20:08] negz commented on #2013
@muvaf The API you propose is close to what I was thinking too, though as usual I'd like a type field to distinguish user intent - i.e.:

[code]

I also suspect that strings will be the most common type, but I'm definitely not advocating for the approach in which a number would be written as a string, requiring a transform function. Definitely just thinking out loud with that idea.

@rozcietrzewia

[2020-12-10 20:21] #1856 closed

[2020-12-10 21:12] mcavoyk commented on #967
We have a use-case where we may offer multiple compositions, say at-least one per cloud provider we support and with a few options for some cloud providers, and want to be able to weight these if a claim is created which selects more than one possible composition with their selector.

Currently with random selection we have to tightly manage our compositions and the label selectors use to make sur

[2020-12-11 01:19] #1767 closed

[2020-12-11 11:44] bandesz opened #2024 "Can't update `connectionDetails` for existing resources"
### What happened?

I had a typo in the name of the connection secret. CompositeResourceDefinition had "awsSecretAccessKey" while in the Composition object I had "awsSecretAccesskey" in connectionDetails (or the other way around). After fixing the typo (sorry, I don't remember which one had the wrong name) the generated connection secret didn't have awsSecretAccessKey, only awsAccessKeyID.

I've d

[2020-12-11 13:42] muvaf commented on #2013
@negz proposed API looks good to me. `constantValue.type` indicates the type in Go whereas `patches[*].type` is something Crossplane-specific but I don't really think we can find a better name for that field other than `type`.

[2020-12-11 17:15] idallaserra commented on #2017
Dear, opened this PR https://github.com/crossplane/crossplane/pull/2026 , please forgive me if I am missing some step.
Thanks.

[2020-12-11 17:29] #2017 closed

[2020-12-13 19:57] hasheddan opened #2032 "Updating a depended upon package can cause resolver to produce undesired package"
### What happened?

If a package is installed and later depended upon by another package, updating the depended upon package will cause the dependency resolver controller to produce a new package in the brief moment between the old revision removing itself from the `Lock` and the new one adding itself. This is only true if the depended upon package was not previously installed by dependency resolu

[2020-12-13 21:29] negz commented on #2024
I need to double check, suspect we currently only have code to assess these at create time, so updates aren't honored. I agree though that you should be able to update your connection details and have them be propagated.

[2020-12-13 21:36] #1941 closed

[2020-12-14 06:37] #1881 closed

[2020-12-14 06:40] negz commented on #1631
This is all done, in time for tomorrow's release. :)

[2020-12-14 06:40] #1631 closed

[2020-12-14 06:41] negz commented on #1334
@hasheddan Do you feel like we can close this one?

[2020-12-14 07:20] negz opened #2037 "Provision Azure getting started guide not working"
### What happened?

My PostgreSQL server never creates. Note that it thinks it has created and updated many times, and is in state `Dropping`.

[code]

### How can we reproduce it?

### What environment did it happen in?
Crossplane version:

[code]

[code]

[2020-12-14 07:37] negz commented on #2037
Interesting the compose example works just fine.

[2020-12-14 07:46] negz commented on #2037
Hrm, applying the exact same manifest with a different name works just fine - I suspect this is some kind of name reuse issue at the Azure level. I have a bit of de ja vu about running into this during a previous release, but can't immediately find an issue about it.

[2020-12-14 07:46] #2037 closed

[2020-12-14 15:41] muvaf commented on #2024
@negz you're right. It seems like we're initializing the controller with the [initial filter array](https://github.com/crossplane/crossplane/blob/6e4486b/internal/controller/apiextensions/composite/api.go#L66). The alternative would be to fetch the XRD in every reconciliation and use the latest `filter []string`. I feel like controller-runtime cache should help here but these are dynamically spawn

[2020-12-15 15:56] chlunde opened #2040 "AWS: getting started using db.t2.small does not work for everyone"
### What happened?
Following "Provision Infrastructure" in getting-started, multiple users get issues provision PostgreSQL at
https://crossplane.io/docs/v1.0/getting-started/provision-infrastructure.html

### How can we reproduce it?
* Apply https://github.com/crossplane/crossplane/blob/master/docs/snippets/provision/aws.yaml#L7-L8 with region eu-north-1 or us-east-1 (not sure if it applies to all

[2020-12-15 16:31] muvaf commented on #2040
Interesting, I just tested this a few hours ago with `us-east-1`, let me try it again

[2020-12-15 17:08] muvaf commented on #2040
The example YAML worked for me again in `us-east-1` region.

[2020-12-15 17:31] chlunde commented on #2040
Funny, but it does not work for everyone, and `us-east-1` might not be available for organizations in the EU/EEC. Availability of t2 might also depend VPC settings, given the error the other user got, I don't know.

![image](https://user-images.githubusercontent.com/131994/102249907-2c8fb780-3f03-11eb-94bf-4665fcd6b1f1.png)

[2020-12-15 18:48] prasek commented on #1955
https://github.com/crossplane-contrib/crossplane-cdk8s (experimental) is live!

[2020-12-15 19:58] negz commented on #2040
@chlunde Hrm - do you know if there are any zones/instance types that work uniformly across AWS? It seems like it could be tricky to guarantee that our getting started manifests could work unmodified for all comers.

[2020-12-15 20:48] msonnleitner opened #2043 "Upgrade doc for 1.0 contains broken link"
### What happened?
The upgrade guide on
https://github.com/crossplane/crossplane/blob/release-1.0/docs/guides/upgrading-to-v1.0.md
references an url which returns 404:

https://raw.githubusercontent.com/crossplane/crossplane/release-1.0/cluster/charts/crossplane/crds

[2020-12-15 20:58] hasheddan commented on #2043
Thanks @msonnleitner! Fix is open in #2044

[2020-12-15 21:07] msonnleitner commented on #2043
@hasheddan it is maybe a minor inconvenience, but when upgrading to the 1.0.0 version, the
helm repo has also to be added (which is mentioned in v1 installation guide)

[code]

[2020-12-15 21:10] Emc1992 commented on #1481
To add to the above - I feel it would be a nice feature to mark Compositions as deprecated (e.g. for when a composition is using old unsupported resources)

Once we have a deprecated flag, we can log out to users / Warns in STDOUT etc etc

[2020-12-15 21:43] chlunde commented on #2040
@negz nope, sorry, I'm fairly new to AWS.
But at least the error is visible with `kubectl describe rdsinstance rdspostgresql` :)

Feel free to close the issue.

[2020-12-15 22:16] negz opened #2045 "Have Crossplane repos use 'main' as the default branch"
### What problem are you facing?

`main` is a more inclusive name for the default branch of Crossplane repos than `master`, which was the default when we created the repos. `main` is now the default for all GitHub repos - I'd like us to consider switching over.

### How could Crossplane help solve your problem?

We should investigate how disruptive this change would be, and if it's low risk, we sh

[2020-12-15 22:20] #2043 closed

[2020-12-16 06:51] gyliu513 opened #2048 "1.0 provider install failed"
[code]
[code]
[code]
[code]

[2020-12-16 06:55] gyliu513 commented on #2048
I was not using hosted crossplane so have to install crossplane first, this is not a problem.

[2020-12-16 06:55] #2048 closed

[2020-12-16 17:18] hasheddan commented on #2045
@negz first step here would be changing the default branch for all newly created repositories to `main` in the project settings :+1:

[2020-12-16 19:57] negz commented on #1481
Another thing we'll need to consider with revisions is guardrails around how revision changes can happen - e.g the platform operator (who may not be the Composition author - e.g. if it's from a third party Configuration) should be able to either force upgrades, force pins, or allow claim authors to control this.

[2020-12-16 20:07] emctl commented on #1481
This reminds me of chef attributes where the order of precedence helps answer these questions based on where the configuration is set (eg explicitly on a node or at the environment level) - unsure if it helps but maybe something that might help

[2020-12-16 22:05] muvaf commented on #1722
When I think about the downsides of the two options, I see the following:

Option A (a field or metadata field):
* Field/Annotation/Label could be manipulated and suddenly controller will start to make changes. One can prevent this via RBAC but that'd cover every instance of the kind. Doing RBAC per-resource is not a nice UX.
* Current controllers will not override the spec fields if a value exist

[2020-12-17 00:13] jbw976 commented on #2045
Looks like the default for new repos across the organization is now `main`:
![Screen Shot 2020-12-16 at 4 12 52 PM](https://user-images.githubusercontent.com/4313439/102421574-9c607980-3fb9-11eb-9fd3-e493583d9ce3.png)

[2020-12-18 22:24] kferrone opened #2049 "Plugins for k8s Tools"
### What problem are you facing?
Not enough awesomeness in my k8s IDEs/tools like Octant and Lens when viewing Crossplane resources.

### How could Crossplane help solve your problem?
Make plugins for Octant and Lens. Neither of these projects have very many plugins yet. Would be cool to see Crossplane be one of the first to really get integrated.

They both have Go plugin support. Would be cool t

[2020-12-24 00:20] prasek commented on #1955
great article on jsii:

https://aws.amazon.com/blogs/opensource/how-the-jsii-open-source-framework-meets-developers-where-they-are/

for running cdk8s apps behind the API line in `CustomCompositions` we should discuss the side-effects of:

[2020-12-24 06:56] eladb commented on #1955
These properties of jsii is the reason the server in cdk8s-operator spawns a new child process for each synthesis. This way, the solution is language agnostic and also is not impacted by the lack of memory management in non javascript languages.

[2020-12-25 17:46] haarchri commented on #2040
looks like in eu-north-1 in general no t2.* instances are available

`aws ec2 describe-instance-type-offerings --location-type availability-zone  --filters Name=instance-type,Values=t2.small --region eu-north-1 --output table`
[code]

vs.

`aws ec2 describe-instance-type-offerings --location-type availability-zone  --filters Name=instance-type,Values=t2.small --region eu-central-1 --output table`

[2020-12-31 15:06] hasheddan commented on #836
This issue is no longer relevant now that metadata lives in annotations and directory structure is not prescriptive in the new packaging format.

[2020-12-31 15:06] #836 closed

[2020-12-31 15:07] hasheddan commented on #1325
This issue is no longer relevant with the new package manager.

[2020-12-31 15:07] #1325 closed

[2020-12-31 15:11] hasheddan commented on #1656
This issue has been addressed by adding the `nodeSelector` field on the `ControllerConfig`, which can be referenced by a `Provider` https://doc.crds.dev/github.com/crossplane/crossplane/pkg.crossplane.io/ControllerConfig/v1alpha1#spec-nodeSelector

[2020-12-31 15:11] #1656 closed

[2021-01-03 14:22] hasheddan opened #2060 "Explore exclusive ownership semantics for packages"
### What problem are you facing?

Crossplane packages are given RBAC permissions to [manage the types](https://github.com/crossplane/crossplane/blob/59f12f56b52dde354a81135a8c0f129dc7375457/internal/controller/rbac/provider/roles/roles.go#L78) (CRDs) that they install, a few [common types](https://github.com/crossplane/crossplane/blob/master/internal/controller/rbac/provider/roles/roles.go#L56) (s

[2021-01-04 17:48] hasheddan commented on #2032
One option here would be for the package controller (i.e. the parent of the revision that is being updated), to take out a lock on the `Lock`. This could be done by adding a field to the `Lock` spec and setting it to the package UID when it is updating. This would signal to the dependency resolver controller not to create any new packages because a package that may satisfy a missing dependency is

[2021-01-04 18:15] hasheddan commented on #1975
Following up, any desire to work on this @aakash-sahai?

[2021-01-05 00:38] negz commented on #1152
It seems like it's increasingly common for controller managers to include built in support for managing their own webhook certs - e.g. https://github.com/open-policy-agent/cert-controller.

[2021-01-05 00:53] negz commented on #1922
@marcinc Would something like a `FromConfigMap` patch type work here? i.e. You could put your globals in a ConfigMap, then have your package install a `Composition` that will patches a particular composed resource field (e.g. VPC ID) from a value it reads from a ConfigMap (or Secret?) data key?

[2021-01-05 01:17] hasheddan commented on #1922
I like the idea of pushing this to the composition layer rather than the package layer as it could become quite messy to be maintaining (potentially diverging) templating languages at each level :+1:

[2021-01-05 10:03] marcinc commented on #1922
@negz Yes, this sounds good! Composition patching by referencing existing ConfigMap key would work very well I think 👍 By the same token `FromSecret` patch would be very useful too.

[2021-01-05 10:19] janwillies commented on #1922
Yeah that sounds great. We found the same pattern in provider-helm quite useful

[2021-01-06 13:09] kornelione opened #2062 "Extend SQLServerParamters for Azure SQL Postgres to support creating server from backup"
### What problem are you facing?
In case I need to provision a Azure SQL postgres server from an existing backup, I cannot do this with Crossplane.
It is however supported using Terraform:
https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/postgresql_server#create_mode
### How could Crossplane help solve your problem?

Extend the CRD with a setting "create_mode" and "c

[2021-01-06 13:16] kornelione opened #2063 "Extend SQLServerParameters for Azure SQL Postgres to support setting minimum tls version"
### What problem are you facing?
I would like to configure all aspects of Azure SQL postgres servers using crossplane.
To improve security on the azure sql postgres server, I would like to set minimum tls version to 1.2. This is supported using the azure portal, and also with Terraform.
### How could Crossplane help solve your problem?
Extend the CRD for azure postgres server with a Sql server par

[2021-01-06 16:57] muvaf opened #2064 "Document process of using ACK to generate Crossplane AWS resource"
### What problem are you facing?

ACK has the ability to generate Crossplane types and controllers now. However, it's not really documented and community members who'd like to add new resources are asking how to do it since we prefer generated code over hand-written.

### How could Crossplane help solve your problem?

We should have a guide that shows how to implement an AWS resource from scratch

[2021-01-07 08:51] chlunde commented on #2040
I think you can close this issue if it does not seem like a good idea to change the example to t3.

[2021-01-07 10:42] #2040 closed

[2021-01-07 16:39] hasheddan opened #2065 "Save image tarballs to GH action output on PR builds"
### What problem are you facing?

Currently, we publish artifacts built in CI pipelines for a specific PR. This includes all binaries as well as the helm chart tarball.

### How could Crossplane help solve your problem?

While it doesn't make sense to push images to a registry, it may be useful to save the image tarballs to the output directory such that they can be downloaded and then used to `do

[2021-01-07 17:44] hasheddan opened #2066 "Establish LTS schedule around releases"
### What problem are you facing?

With the release of crossplane v1.0.0 all minor versions moving forward should be backwards compatible. However, it is likely that we will want to retire service for versions when a sufficient number of subsequent versions have been released.

### How could Crossplane help solve your problem?

We should publish an official schedule for versions that are currently

[2021-01-08 20:45] negz opened #2068 "Iterate on and formalise the Crossplane Resource Model (XRM)"
### What problem are you facing?

We've come to think of the conventions of the Crossplane API as the "Crossplane Resource Model" or XRM. The XRM is a superset of the Kubernetes Resource Model (KRM). Much of the XRM is specified in the [Managed Resource API Design](https://github.com/crossplane/crossplane/blob/2bee08be1e5a8161d2485f39d55272f9c372a824/design/one-pager-managed-resource-api-design.md

[2021-01-11 18:29] hasheddan opened #2070 "Provider authentication architecture design doc"
### What problem are you facing?

Crossplane providers currently authenticate to the API they interact with by referencing a `ProviderConfig` that in turn references a Kubernetes `Secret`. Some providers also allow for specifying [`InjectedIdentity`](https://github.com/crossplane/crossplane-runtime/blob/479dbc8a456086622ce1afab66aad11ba6c8f78d/apis/common/v1/resource.go#L200) such as IRSA or workl

[2021-01-11 18:30] hasheddan commented on #1957
@tompscanlan any updates here?

[2021-01-11 18:37] tompscanlan commented on #1957
I'm still waiting to hear back, but it is not a blocker for me. I've dropped them a follow up mail in December and just now. You are welcome to close this one. I'll add notes if it's still open and I get feedback.

[2021-01-11 18:51] negz commented on #1980
We're now have v1alpha1 implementations of all available resources in ACK, and are moving onto a strategy to keep up with newly added resources.

[2021-01-11 18:51] #1980 closed

[2021-01-11 18:51] #1995 closed

[2021-01-12 16:52] krishchow opened #2072 "Composition Dependency and Ordered Creation"
### What problem are you facing?
Although my default Crossplane creates all resources in a composition in order, this typically does not include the entire reconciliation lifecycle for provisioning some abstract resource. Just applying a resource does not mean that has been created, and we may have other resources in the composition rely on a previous resource. Currently, within Crossplane the mai

[2021-01-12 21:43] negz commented on #2072
I'd like some more context before we proceed with this enhancement. Can you share some concrete examples in which this might be used, and how our current approach of eventually consistent reconcilers (which I believe is fairly idiomatic to Kubernetes) falls short?

What do you mean by "resources outside of the Crossplane ecosystem", here?

[2021-01-13 11:40] muvaf commented on #2070
Will this design doc address the multiple `ProviderConfig` use case? For example, I would have one `ProviderConfig` with IRSA and another one with Vault or even two different `ProviderConfig`s that targets different IAM Roles using IRSA. Since IRSA works in a role-per-pod model, I'm guessing some changes will be required in package manager.

[2021-01-13 12:41] hasheddan commented on #2070
@muvaf that is not the primary purpose here, and I am not sure we should try to take a system that is intended to work on a one-per-pod basis and force it into a many-per-pod model. Currently, outside of the IRSA case, you can have many `ProviderConfig`s for a provider, and the model proposed in this design doc would support many as well. It will essentially just make credentials available in the

[2021-01-13 17:52] krishchow commented on #2072
An example of where this might be useful is for one-off resources or certain resources that expect dependencies are fulfilled prior to creation (where the reconciler is not designed to support ambiguous scenarios). Similar to the [Terraform depends_on](https://www.terraform.io/docs/configuration/meta-arguments/depends_on.html), this should be rarely used, but effectively required in some scenarios

[2021-01-13 19:32] muvaf commented on #1722
Another idea could be that we can have one new kind like `ExternalResource` that has `data` instead of `spec`, similar to `ConfigMap`. Through generic cross resource reference, we can refer to a field under `data`. One drawback of this approach is that we won't do any late-init (probably not even reconcile), user has to fill in all the values they would like to be referred, which doesn't seem too

[2021-01-13 23:18] negz commented on #2072
It's worth noting that per https://github.com/crossplane/crossplane/issues/1730 our support for arbitrary resources is not intentional. I'm planning to dive deeper on that issue this quarter, but for the time being it's explicitly not a case that we're designing for in Crossplane.

[2021-01-14 17:55] krishchow commented on #2072
Even outside of directly including external resources within a composition, this depends_on functionality is still useful if you include any external resources defined in a Helm chart (which you can create via the Helm Provider)

[2021-01-14 23:55] negz opened #2078 "Streamline claim binding logic"
### What problem are you facing?

@mcavoyk points out in https://github.com/crossplane/crossplane/pull/2077/files#r557603114 that our claim reconciler:

1. Creates an XR.
1. Updates the claim to reference the XR.
1. Updates the XR to reference the claim.

This means that we make multiple calls to create and bind a new XR, and that XRs exist for a brief period of time without referencing a claim. T

[2021-01-15 06:31] JasP19 opened #2079 "Lock resource prevents automated deletion of Crossplane"
### What happened?

We are experiencing an issue when trying to delete Crossplane (providers and controllers) in an automated pipeline. The CRDs created as part of the Crossplane controller are not getting deleted due to the presence of the Lock.pkg.crossplane.io/v1alpha1 object.

The presence of the "lock.pkg.crossplane.io" finalizer on the Lock.pkg.crossplane.io/v1alpha object is preventing the

[2021-01-15 15:05] pdettori opened #2080 "Make "runAsUser" and "runAsGroup" configurable in ProviderDeployment"
### What problem are you facing?

I want to deploy Crossplane and Crossplane providers on OpenShift. Since OpenShift has security context constraints, I get this error when trying to deploy a provider:

[code]

The same issue happens with Crossplane, however Crossplane has options in the helm chart to configure the security context by deploying the helm chart with:

[code]
that solves the problem

[2021-01-15 16:42] pdettori commented on #2080
Note that there is also a related issue for the AWS Provider: https://github.com/crossplane/crossplane/issues/2080

[2021-01-15 16:48] hasheddan commented on #2080
Also see https://crossplane.io/docs/v1.0/introduction/packages.html#speccontrollerconfigref

[2021-01-15 17:38] mcavoyk opened #2081 "Persist CompositeResourceDefinition status schema"
### What happened?

Any fields in XRD status sub-field is overwritten and not persisted to the offered CRDs.

### How can we reproduce it?

Apply the XRD yaml below.  The generated CRD's will have the default claim/composite status field with added fields not present.

 <details>
    <summary>xrd-deploy.yaml</summary>
  <br></br>
<head class="lang-yaml">

    apiVersion: apiextensions.crossplane.i

[2021-01-15 22:10] krishchow commented on #2080
This seems to work perfectly! @pdettori e.g., https://gist.github.com/krishchow/f4ecb1fbad04d84aa7e142abfdb472bf

Openshift handles setting the securityContext, so we just set the to default to null

[2021-01-16 03:39] cg2p commented on #2080
Please elaborate @krishchow

I recreated my OpenShift environment and *removed* the privileged `oc adm policy ...` as per [this](https://github.com/crossplane-contrib/provider-ibm-cloud/issues/19).

Then from the IBM Cloud provider install instructions, instead of executing this:
[code]
I can apply this yaml as per your [gist](https://gist.github.com/krishchow/f4ecb1fbad04d84aa7e142abfdb472bf)
[co

[2021-01-16 06:44] krishchow commented on #2080
In my Openshift 4.4 cluster, if I create the Provider with an empty securityContext as specified ControllerConfig, Openshift fills in the pods `spec.securityContext.fsGroup` and `spec.containers[0].securityContext.runAsUser` values with the appropriate IDs.

Prior to this, I used to use `oc edit` to modify the Deployment for the Provider I was creating, and remove the hardcoded values. This was a

[2021-01-16 09:43] cg2p commented on #2080
ok let me try in my environment again.

Are we executing the same steps i.e. applying that yaml above, and not executing `kubectl crossplane install provider crossplane/provider-ibm-cloud:alpha`?

I am using OpenShift 4.5 on IBM Cloud, are using OpenShift on the AWS?

Also, where do you look to confirm OpenShift has fills in the pods values with the appropriate IDs?

And, finally what `apiVersion`

[2021-01-18 16:32] krishchow commented on #2080
Yes exactly, you should be able to apply the manifest in the gist instead of using the `install provider` command.

I am using Openshift on AWS.

I confirm that Openshift fills in the pod values by using `kubectl describe pods -n crossplane-system`. `crossplane-system` is the namespace where I expect my providers to be created. The apiVersion for the Provider and ControllerConfig is v1 and v1alpha

[2021-01-18 16:42] cheewaio opened #2083 "Installing configuration packages using crossplane helm chart"
### What problem are you facing?

After build a configuration package, I can install the package using the kubectl command
`kubectl crossplane install configuration <package>`

Is there a way to install the configuration package during crossplane helm chart installation?

### How could Crossplane help solve your problem?

I notice there is an option to specify provider packages in the crossplane h

[2021-01-18 16:52] pdettori commented on #2080
@krishchow thank you, it works well for me on my OpenShift 4.5 with the IBM Cloud Provider. I just slightly modified your snippet for my provider:

[code]
Perhaps only minor issue is that I can't use "kubectl crossplane" to install the provider, but this looks good enough to me.

[2021-01-18 16:55] hasheddan commented on #2080
@pdettori I'll update `kubectl crossplane` with a flag to reference the `ControllerConfig` to make this a bit easier :)

[2021-01-18 18:08] cheewaio opened #2084 "How to grant RBAC permissions for composition managed resources"
### What problem are you facing?

I've created a composition, for example:
[code]

What is the recommended way to specify the ClusterRole permissions needed for crossplane service account to create the base managed resources (ExampleA and and ExampleB)?

[code]

### How could Crossplane help solve your problem?

I am looking for a way to package the RBAC permission requests. I notice there is a me

[2021-01-19 03:30] wonderflow commented on #2065
I'm just curious what's the difference between local built image with the github actions built. Does it just for saving time?

[2021-01-19 22:10] negz commented on #2081
Thanks for raising this @mcavoyk! This is expected (albeit poorly documented) behaviour at the moment given that we don't yet support bidirectional patching (i.e. a configurable way to derive XR status from composed resources). We'll need to change this behaviour to support https://github.com/crossplane/crossplane/pull/2077.

[2021-01-19 22:17] cheewaio commented on #2084
Here is my understanding:
- XRDs included in the configuration package are scanned, and permissions are automatically aggregated to the `crossplane` clusterrole
- Managed resource CRDs included in the provider package are scanned, and permissions are automatically aggregated to the `crossplane` clusterrole
- additional resource permissions can be requested in the provider `crossplane.yaml`, provid

[2021-01-19 22:19] hasheddan commented on #2083
@cheewaio that would be pretty straightforward to add and I would certainly be in support of it :) Are you interested in working on this?

[2021-01-19 23:11] enderv commented on #2000
Was taking a look at this and ran into some issues. Based on the current [setup](https://github.com/crossplane/crossplane/blob/master/internal/controller/apiextensions/claim/configurator.go#L55) looks like the only place currently to supply the label would be on the XRC which would require the end user to know what labels to ignore instead of the infrastructure operators.
Thoughts on making this a

[2021-01-20 03:17] negz commented on #2084
Hi @cheewaio! Your understanding is correct. The Crossplane process will automatically be granted permission to create any managed resources defined by a Crossplane provider (i.e. the CRDs included with a provider), and any XRs defined by a configuration (i.e. the XRDs included with a configuration).

Is the issue that you'd like to use composition to compose non-Crossplane resources? i.e. Resourc

[2021-01-20 03:29] cheewaio commented on #2083
I will be glad to contribute

[2021-01-20 10:45] mikelo commented on #1953
if help is still needed, I'd be glad to help on this one

[2021-01-20 15:51] muvaf commented on #2000
When I look at Kubernetes ownership relationships between objects, I don't really see a full-copy of labels done like we do. It's usually under spec template like `spec.podTemplate.metadata.labels`. So maybe we shouldn't copy any label/annotation of claim to composite at all and have a spec field in claims for additional metadata to be copied over to composite resource.

[2021-01-20 16:14] muvaf commented on #2072
I think the use cases that we come up with to justify `depends_on` need to include only managed resources since as @negz pointed out, composition is designed for composing managed resources. For example, right now we deploy all at the same time and dependency resolution happens via cross-resource references (`*Ref` fields). The cases where this is not enough will be covered by https://github.com/c

[2021-01-20 16:18] muvaf commented on #2066
I think it's worth to define what _support_ means in this context. It seems Kubernetes [defines it](https://kubernetes.io/docs/setup/release/version-skew-policy/) as:

From what I can tell, the only kind of support Kubernetes provides is to ensure important fixes are backported. I think that's a good fit for us, too.

[2021-01-20 16:40] krishchow commented on #2072
Hmm, interesting, could #1770 be used to create a reference from a job to some other resource such that the creation is blocked until the other resource finishes being provisioned? I could see that working, although it does feel like a slightly hacky solution.

As for what I mentioned before, exclude that I mentioned jobs being provisioned through a composition, although that's how I've tested the

[2021-01-20 17:55] muvaf commented on #2072
Yes, I believe we hit this in one of the Upbound reference platforms where we wanted to pre-install some stuff to the provisioned cluster.

I think yes. I wouldn't expect a CR to be reconciled before all of the references are resolved but that's still to be designed.

[2021-01-20 18:23] muvaf commented on #1911
Since https://github.com/crossplane/crossplane/issues/1730 is still up, I think we can close this issue since it's a case we don't aim to cover for now.

[2021-01-20 18:23] #1911 closed

[2021-01-20 19:59] #2083 closed

[2021-01-20 20:20] cheewaio commented on #2084
Thanks @negz. This is indeed a similar use case as #1730

[2021-01-20 20:20] #2084 closed

[2021-01-20 22:44] negz commented on #2072
I like the idea of potentially using #1770 to address this use case. Or if that feels like too much of a hack, generally building this down at the managed resource level rather than up at the Composition level (similar to how we've built cross resource references thus far). I suspect this will simplify the implementation of things like depending on a resource that isn't part of your composition (a

[2021-01-22 00:10] negz commented on #2000
@muvaf I like that idea, though if possible it might be preferable to describe which labels/annotations should be propagated between the claim and its XR be defined in the XRD.

[2021-01-22 12:12] bandesz opened #2091 "Claim created two instances of the same resource when metadata.name is set using a transformation"
### What happened?

I have a claim which would create a single RDSInstance resource.

In the composition the metadata.name was set using a transformation - the idea being that the Kubernetes object would have the same name as the real resource.

Normally only one underlying resource is created, but one time I had two created with a one second difference.

The claim stays not ready forever.

See th

[2021-01-22 16:05] benagricola commented on #1973
Name suggestion: `FromMultipleCompositeFieldPaths` or something similar to avoid confusion with the other patch types.

Implementation of the actual patch method seems simple, but introduces a chunk of complexity around how transforms are applied.

Based on the above discussion around `OneToMany`, it seems safe to assume that patches will only target a single destination field, which means a multi

[2021-01-22 19:34] #1984 closed

[2021-01-22 20:08] negz commented on #2091
@bandesz Thanks for raising this!

I think @hasheddan responded already on Slack, but I agree with his assessment in that I suspect what's happening here is that the XR briefly exists with an empty claim ref, so the patch from the claim ref's name has no effect and we fall back to the normal practice of deriving the RDSInstance's name from the XR's name (plus a suffix). The claimRef is then set, s

[2021-01-23 00:13] benagricola commented on #1973
I've implemented the multiple-source patch type and a transform that allows multiple values to be combined - but it's currently implemented as a single `Transform` that could then have other `Combine` methods underneath it, like this:

[code]

But I think it might be simpler if each `Combine` action is just implemented as a new `Transform` type:

[code]

For some combine actions that means we can

[2021-01-23 02:11] negz commented on #1973
@benagricola I wonder if there's some way this could play with the patch set you recently added?

I need to write up the issues, but one thing we've heard some demand for and are considering is patching from some common useful sources that aren't part of the Composition - thing things like `type: FromConfigMap`, `type: FromSecret`, or `type: FromNamespace`. If we do implement these I could see fol

[2021-01-23 02:43] negz opened #2094 "Optionally mark certain patches as required"
### What problem are you facing?

https://github.com/crossplane/crossplane/blob/65e42d5/apis/apiextensions/v1/composition_types.go#L266

Currently Crossplane will happily allow you to patch from a non-existent field path - treating the patch as a no-op. This enables 'opportunistic' patching - i.e. "patch from this field if it exists". This us useful for some use cases, but in others it would be be

[2021-01-23 17:51] benagricola commented on #1973
A sort of.... patch of patches? I could see that working, yeah, something like a `PatchSet` but instead of applying the individual patches to an output field, patch them to a temporary location, with some sort of 'patch of patches' setting to control how they're combined?

Transforms on the 'sub patches' apply as usual to massage individual values, a combine setting is used to control how the indi

[2021-01-25 10:19] muvaf commented on #708
This is fixed a long time ago with the completion of cross resource referencing feature.

[2021-01-25 10:19] #708 closed

[2021-01-25 11:54] muvaf commented on #2094
I'm wondering whether it should be `Required` all the time. Are there cases where you'd need it to create the resource even if the source field path doesn't have the information? For example, using https://github.com/crossplane/crossplane/pull/2077 I would use this feature as a lock mechanism, i.e. create the composed resource only if `status.subnet` has a value, similar to cross resource referenc

[2021-01-25 16:11] benagricola commented on #1973
Okay. I think implementing this directly on `PatchSet` would indeed make this nice and clean:

### Sketch

[code]

### Implementation

1. During `InlinePatchSets()`, check if each `PatchSet` has a `Combine` set. If it does, either:
   - Override the `ToFieldPath` of each patch with a constant, or
   - Introduce an additional field on `Patch` that tells the patch to apply to a temporary location
2.

[2021-01-25 16:50] vqian-guidewire opened #2095 "Optional fields are missing after import existing AWS S3 bucket into crossplane"
### What happened?

Tried to import existing aws s3 bucket by following steps in https://crossplane.io/docs/v0.14/introduction/managed-resources.html#importing-existing-resources. However, all optional fields (ie, tagging, cors, encryption, policy etc) are missing, and the optional fileds in the actual aws s3 bucket has been reset to be default (in this case, all empty). which is not desired.

###

[2021-01-25 18:39] muvaf opened #2096 "Composite should be able to take ownership of existing managed resource"
### What problem are you facing?

Today we have a well-defined way of importing an existing external resource as managed resource using `crossplane.io/external-name` annotation. However, there isn't a documented way of migrating existing external resources into a composition setting.

### How could Crossplane help solve your problem?

I think this could be achieved in two ways:
* Import external r

[2021-01-25 21:58] jbhennin commented on #2096
This is exactly what we need and it is critical to the adoption of crossplane.
In theory once a resource is migrated and adopted, we would want to generate the claim.yaml according to our XRD so that users can manage the resource going forward.

[2021-01-25 22:14] benagricola commented on #1973
I've implemented the above here: https://github.com/crossplane/crossplane/compare/master...benagricola:Multi-Source-PatchSet - it seems to work well, with my manual testing, and original + new tests pass.

Not entirely convinced by using `toFieldPath` to communicate the 'temporary' nature of the patch though 🤔

[2021-01-26 00:20] negz commented on #2094
I don't think that's an option now that we've hit 1.0. It's a behaviour change that I think could have impact on existing Compositions - e.g. a Composition that doesn't block on missing fields in Crossplane 1.0 shouldn't start blocking in 1.1.

IMO there are. I touched on this in https://github.com/crossplane/crossplane/issues/1455, which was the issue that lead to the condition. The most concrete

[2021-01-26 02:40] negz commented on #2096
What if the Composition was written such that the source of the external names were optional annotations on the XR? i.e. If you create the XR with those annotations it adopts the existing resources, but if you don't it happily creates new ones. I suspect this would still be awkward, but slightly less awkward than option one. This could look something like:

[code]

Under option one (import externa

[2021-01-26 02:43] negz opened #2098 "Add CodeQL Security Scanning"
### What problem are you facing?

CodeQL is a good security practice, and is a graduation requirement of the CNCF. It's easy to enable via GitHub Actions.

### How could Crossplane help solve your problem?

We should enable CodeSQL scanning. :) There is prior art in https://github.com/crossplane/crossplane/pull/1999 that just needs to be adapted to match our existing CI/CD conventions (see comment

[2021-01-26 03:10] negz opened #2099 "Support patching from common data sources?"
### References

Design: #3008
Implementation: #3007

### What problem are you facing?

When platform teams design their XRs they may want to use environment scoped data to render out composed resources.
It's possible that this data varies enough that it's not ideal for it to be a fixed value in a Composition, but that it's also not something that the platform team desired claim owners (i.e. their

[2021-01-26 03:10] negz commented on #2099
CC @prasek

[2021-01-26 04:02] prasek commented on #2099
@negz CRRs were in part motivated by the GitOps scenario of applying multiple related resources with dependencies on non-deterministic CSP generated names (e.g. AzureDB and VnetRule). IIRC #1770 was focused on making these CRRs more generic at the managed resource level to simplify codegen while ensuring that the correct creation order could entirely be handled behind the API line to preserve a cl

[2021-01-26 15:06] #2066 closed

[2021-01-26 16:44] jbhennin commented on #2096
@negz I agree Option 2 is a little awkward and may break your "goals" for composition but it is potentially simpler for us to implement/automate the migration.

[2021-01-26 20:33] negz commented on #2099
Exactly.

What I was trying to get across is that I can envision designs for #1770 that would make this feature redundant. Let's say for example that CRRs are implemented as an array of arbitrary references on a managed resource, each of which is a reference to an arbitrary fieldpath within an arbitrary object (i.e. GVK and name). That means you could have a CRR to a field within a ConfigMap and j

[2021-01-26 22:34] muvaf commented on #2096
Option 2 seems more feasible when it's optional. I'm wondering about how applicable being optional is for other fields you need to fill to adopt a resource. For example, `spec.forProvider.region` is required in most resources, or `spec.forProvider.vpcId` in some resources. If I try to write a `Composition` in that case, I'd need a logic that says `patch this field with information from claim if it

[2021-01-26 22:40] muvaf commented on #2094
I see. Labels/annotations are indeed good candidates for optional patching.

Agreed. I wouldn't expect many users to rely on this being optional but it's still a behavior change..

[2021-01-27 13:55] muvaf commented on #2099
I believe if we do this on managed resource layer #1770 in a way that covers all kinds, using it to solve both of these problems would be trivial. An example Composition could look like the following:
[code]

The `namespace` (and `name` if needed) of the source object could be retrieved from composite resource so that we make sure to get the value from the namespace you're able to create your clai

[2021-01-29 19:58] #1639 closed

[2021-01-29 19:58] #2081 closed

[2021-02-02 00:46] negz opened #2109 "Flesh out Crisscross Proof of Concept"
### What problem are you facing?

Crossplane provides a broad library of Kubernetes custom resources that let you orchestrate systems external to Kubernetes. These include AWS S3 buckets, GCP CloudSQL instances, Azure Cosmos tables, plain old SQL databases, Helm releases, and Dominos pizzas. We call these 'managed resources'. Crossplane's goal is to allow platform teams to build their own custom r

[2021-02-02 13:33] muvaf opened #2110 "HTTP request transform type in Composition"
### What problem are you facing?

There are bunch of `patch` and `transformer` types today but they don't cover (or aim to cover) all cases. So far, we've investigated `CustomComposition` path for people who want to achieve more customization over the composed resources. While that's a viable approach, it requires users to depart from `Composition` semantics completely. For a user who just wants t

[2021-02-03 11:10] rbtcollins opened #2113 "crossplane triggers provider ratelimiting"
### What happened?
When several requested resources in Azure were misconfigured and could not be provisioned, crossplane looped forever trying to provision them once per second. This exceeded Azure's rate limits and other operations which were being attempted via the CLI/Portal/other API clients could not proceed.

[Azure rate limits](https://docs.microsoft.com/en-us/azure/azure-resource-manager/m

[2021-02-03 18:21] negz opened #2114 "Suppress "object has been modified" warning events?"
### What problem are you facing?

Crossplane relies heavily on Kubernetes events to help folks debug what it is doing. It's quite common for Crossplane to emit the following warning event:

[code]

We emit this event when two controllers race to update a resource. Kubernetes uses a form of optimistic concurrency in which each resource is versioned (via `metadata.resourceVersion`), and clients must

[2021-02-03 20:41] negz commented on #2113
Could you capture some debug logs for us of the case in which Crossplane is retrying once per second? I would expect Crossplane to retry once per 30 seconds when faced with failing operations, but there are some known edge cases where that logic doesn't work (for example if the cloud provider returns a different error for each failed operation).

https://github.com/crossplane/crossplane-runtime/is

[2021-02-04 07:49] diru1100 commented on #2109
Hey @negz,

I would like to work on this issue.

[2021-02-04 11:07] GijsvanDulmen commented on #2113
We see a similar situation with AWS resources. For example when a SecurityGroup already exists in AWS with the same name. The condition on the ec2.aws.crossplane.io/v1beta1/SecurityGroup resource keeps updating several times per second. I suspect the AWS provider also tries to reconcile against the AWS API's. Besides the load on the AWS API's this is obviously also probably causing unnecessary loa

[2021-02-04 11:10] muvaf commented on #2114
If we omit this warning, I wonder whether we'd be in a situation where two controllers keep clashing but we just never notice. If it was a log, I'd say let's print it only in debug mode but I'm not sure if events have such leveling. Can we emit this in events but still log it in debug level?

[2021-02-04 11:16] muvaf commented on #2113
This seems to be caused by SDK including request id in the error message. A fix for AWS is [here](https://github.com/crossplane/provider-aws/pull/475), I think we can follow a similar approach in Azure as well.

[2021-02-04 16:47] jbw976 commented on #2109
hey there @diru1100, thank you for your interest and enthusiasm!  This issue is open for applications through the LFX Mentorship program, which is accepting applications until Feb 12th.  Do you mind submitting an application there so that we can consider you fairly along with the the other engineers that have already applied?  Let me know if you need any help and thanks again for your interest! 💪

[2021-02-04 18:11] jbw976 opened #2116 "docs: User guide for enabling multi-tenant support"
This question has come up a couple of times, so it would be great to write a user guide or doc about how to enable it.

Scenario: A platform team is running a single crossplane cluster.  They want to enable multi-tenancy where each application team (or customer) that they service gets their own namespace and isolation from other teams/customers. An important part of this is that each namespace get

[2021-02-04 21:52] negz commented on #2114
We can - logging and eventing are different calls so we can do one or the other.

I had the same thought. This could be a good thing to handle with metric instrumentation - i.e. make it possible to alert if this is happening too frequently.

[2021-02-05 12:04] kiich opened #2118 "Unable to tag existing AWS IAMRole"
### What happened?
I followed your excellent doc at https://crossplane.io/docs/v0.12/introduction/managed-resources.html#importing-existing-resources where I have an existing IAM Role that I created with NO tag.

I then ran:
[code]
The apply was a successful from what I can tell from `kubectl get iamrole` with:
[code]
But in AWS console, I do not see the tags I added.

The IAM role does exist BUT

[2021-02-05 12:07] kiich commented on #2118
Also to add, IAMRole created from Crossplane also does not seem to add tags so maybe I am doing something wrong?

[2021-02-05 12:18] muvaf commented on #2118
Hi @kiich ! Could you share the output of the following command?
[code]

If the tags were there when you created the resource, they should appear in AWS console. But if you added them after the creation they won't get added. The `UpdateRoleInput` struct doesn't have a field for tags so we need to make separate call to update the tags.

[2021-02-05 12:26] kiich commented on #2118
Hey @muvaf - thanks for quick reply!
[code]

oh wait... are you saying I can not "add" a new tag to an imported resource?
My use-case is something like this:

1) Terraform creates our IAM roles but does not add any tags
2) We wanted to use Crossplane to import this role and add a tag there

Of course, we can add the tags in step 1 but for whatever reason, we are not. We were looking Crossplane for

[2021-02-05 12:52] muvaf commented on #2118
That's correct but I'm opening a PR right now to fix it. Hang in there 😄

[2021-02-05 12:59] kiich commented on #2118
ahh i see - thank you @muvaf, i shall wait with bated breath!

Closing this if that's ok with you then?

[2021-02-05 12:59] kiich commented on #2118
Oh wait but if I create an IAMRole from Crossplane from scratch, should I be expecting `tags` to work? Because that is not working neither.

[2021-02-05 13:05] muvaf commented on #2118
Opened https://github.com/crossplane/provider-aws/pull/528 The issue will close itself once the PR is merged.

If you don't give any external name, it should work. If it doesn't for some reason, it should be fixed with the PR because I manually tested both scenarios.

[2021-02-05 13:08] kiich commented on #2118
Ok thanks - I was under the impression the following should work (as it is IAMRole I am creating using Crossplane and it is a new one so is not being imported) and since `tags` were mentioned in the doc, i expected to work? (but it does not)

[code]

anyways, happy to wait until next release with fix in - thanks for your responses/help!

[2021-02-05 13:17] muvaf commented on #2118
Interesting, this one should work right now.

[2021-02-05 14:51] kiich commented on #2118
Sorry I should have been clearer.

If I create the IAMRole using Crossplane with NO tags, the next `kubectl apply` with with updated YAML file that has tags in, does not add the tag.

If I create the IAMRole using Crossplane with tags in the YAML file, it does indeed create the IAMRole with tag. I misunderstood your comment re:`UpdateRoleInput` and thought that call was only for IMPORTED resources

[2021-02-05 15:10] krishchow opened #2119 "FieldPath reference for ConnectionDetails"
### What problem are you facing?
Sometimes I would like to expose a field in the CR within the connectionDetails. Currently, there is no way to achieve this use we are using a constant value.

### How could Crossplane help solve your problem?
Crossplane should include support in the composition to target a fieldPath for a secret.

[2021-02-05 15:23] muvaf commented on #2118
No worries. This is the case that should work today, yes. The rest will be enabled by the PR.

[2021-02-05 16:01] muvaf commented on #1973
It seems that we somehow need to make sure that all transforms need to be compatible with multiple inputs. What would you think about having this as a `transform` type? This way we'd not have to worry about other transforms or patch types because the logic would be contained in the lowest level, `transform`. For example:
[code]

[2021-02-05 16:46] muvaf commented on #2119
Is this duplicate of https://github.com/crossplane/crossplane/issues/1609 ?

[2021-02-05 16:48] krishchow commented on #2119
Yes it is! Thank you @muvaf

[2021-02-05 16:48] #2119 closed

[2021-02-05 16:50] #2118 closed

[2021-02-05 17:14] idallaserra opened #2121 "XRC -> XR Label Propagation Confuses ArgoCD"
Edit from @negz:

I believe, per @mcavoyk's comment above, that this is the key issue we're seeing here. ArgoCD thinks _it_ (not Crossplane) created the XR, because when Crossplane creates the XR it propagates a label ArgoCD uses to track which resource it owns. This results in the XR either being shown as "out-of-sync" or being deleted depending on whether auto-prune is enabled.

Original issue f

[2021-02-05 18:29] benagricola commented on #1973
@muvaf I may be misunderstanding your example sketch but it looks like the `fmt` transform would be able to retrieve values, like a patch does currently?

It almost looks like the `values` field is a `PatchSet` that is automatically reduced to a single value based on the settings passed to the `fmt` transform.

Would that involve implementing lookup functionality in both places? e.g. if I wanted t

[2021-02-08 19:02] muvaf opened #2122 "Ability to deploy only the selected API groups of a provider"
### What problem are you facing?

When you deploy a provider like provider-aws, CRDs of all groups are [deployed](https://github.com/crossplane/provider-aws/tree/483058c/package/crds) and their controllers are [started](https://github.com/crossplane/provider-aws/blob/483058c/pkg/controller/aws.go#L84). But if you'd like to use only IAM resources like `IAMRole`, `IAMPolicy` etc., you can't really d

[2021-02-08 20:37] bassam commented on #2122
it might be helpful to have a whitelist and blacklist of supported groups. This would enable folks to disable IAM for example.

[2021-02-09 01:38] negz commented on #2121
Thanks for raising this issue @idallaserra! I'm not personally very familiar with ArgoCD. Can you help me understand exactly what the auto-pruning feature is trying to do? Is it trying to undo changes that Crossplane controllers are making to the `kind: Cluster` (for example is it trying to remove the `spec.compositeRef.name` and `spec.resourceRef.name` fields that Crossplane sets automatically?

[2021-02-09 13:16] muvaf commented on #2121
From what I can tell, ArgoCD deletes the composed resources that are created by Crossplane in order to keep git repo fully authoritative and in-sync all the time. Though I wonder how it'd handle `Pod`s created by `Deployment`s, that's essentially the same mechanism with Crossplane creating managed resources when it sees the composite resource.

[2021-02-09 14:54] benagricola commented on #2121
This is very similar to what I've been seeing with Argo - if you have prune enabled on an application, it will remove any resources it doesn't manage directly itself.

It can be avoided by applying `argocd.argoproj.io/sync-options: Prune=false` as an annotation to each resource that ArgoCD should not manage, but right now it isn't possible to apply that annotation to the Composite resource created

[2021-02-09 17:35] braghettos commented on #2121
If you keep _Prune=false_ then ArgoCD will be always in "out of sync" mode, that is not something that you would like to see in a gitops approach

[2021-02-09 19:41] negz commented on #2121
Thanks folks. It sounds like we should address this by finding a solution to https://github.com/crossplane/crossplane/issues/2000, which should let Argo know that it should manage the claim but not the resulting XR, and thus leave the XR alone. To @muvaf's point I think it's unrealistic to expect ArgoCD to directly manage every resource in the API server. Having ArgoCD model and manage a claim's X

[2021-02-09 21:15] negz commented on #2096
@jbhennin put together an XRD and Composition that can be used to try out option two above:

[code]

[2021-02-10 12:38] benagricola commented on #1973
@negz I was just revisiting the PatchSet implementation based on your comment and I think with #2077 potentially changing the _direction_ of one or more patches within a set, it isn't viable to use a `PatchSet` as the source of multiple values anymore.

Happy to focus on getting #2093 into a mergeable state if there's agreement that the approach makes sense.

[2021-02-10 17:58] hasheddan opened #2128 "Add documentation for bidirectional patching"
### What problem are you facing?

Composition now supports bidirectional patching with @mcavoyk's work in https://github.com/crossplane/crossplane/pull/2077. However, it is not yet included in the composition documentation.

### How could Crossplane help solve your problem?

Add examples of using bidirectional patching to https://crossplane.io/docs/master/introduction/composition.html or consider

[2021-02-11 01:08] #1609 closed

[2021-02-12 00:35] negz commented on #2128
I think @mcavoyk mentioned he might take a shot at this. Did you ever get around to starting a PR?

[2021-02-12 14:42] benagricola opened #2135 "Unhealthy ConfigurationRevision stuck with resource ownership if unable to pull image"
### What happened?
I was trying to update a `pkg.crossplane.io` `Configuration` to add a new field to an xrd - the new field was not being displayed on the xrd even though the latest `ConfigurationRevision` existed, as it was unhealthy. The latest `ConfigurationRevision` was unable to gain ownership of a resource that a previous, unhealthy `ConfigurationRevision` still had ownership of:

[code]

T

[2021-02-12 16:34] mcavoyk commented on #2128
I should have something available for review for the `introduction/composition` doc in a day or two :smile:

[2021-02-12 19:55] muvaf commented on #1973
Yes, we could probably reuse some structs there to make this easier. The retrieval would be contained in the transform's resolve function. What I want to achieve is to have only the transforms that are designed to work with multiple values implement multiple input mechanisms as opposed to having to make sure all transforms work with multiple inputs or to make them compatible with some compromises

[2021-02-12 20:01] #1909 closed

[2021-02-12 20:35] krishchow opened #2136 "Updating the Crossplane Version available on OperatorHub"
### What problem are you facing?
The current version of Crossplane available on [OperatorHub](https://operatorhub.io/operator/crossplane) is outdated, and it was last published May 25, 2020, meaning it is around 9 months old now. I have been several discussions in the Crossplane Slack, and directly with customers who would like a more updated version to be available on OperatorHub, and that is a c

[2021-02-12 20:36] krishchow commented on #2136
I would be happy to help out with this process, @hasheddan I know there is a release of Crossplane coming up. I could shadow that process for Crossplane so I can feel for the release workflow, then we could move forward from there?

[2021-02-12 20:51] benagricola commented on #1973
I don't think value retrieval in transforms is a particular concern, except all of the existing patch types already retrieve values themselves, and having value retrieval in two places might be confusing.

The separation between patches being 'get and set values' and transforms being 'pipeline to modify values between get and set' is relatively clear right now.

With additional patch types that do

[2021-02-15 18:30] #2091 closed

[2021-02-15 18:30] #2094 closed

[2021-02-16 05:06] mcavoyk commented on #2121
My understanding from using ArgoCD and a quick scan through some of logic is that generated resources are not pruned if they have a [known parent resource](https://github.com/argoproj/gitops-engine/blob/v0.2.1/pkg/cache/cluster.go#L636), e.g. the `Pod` is not pruned because in its ownership hierarchy is a `Deployment` that is part of the git repo. There are some [exceptions ](https://github.com/ar

[2021-02-16 16:49] mcavoyk opened #2141 "Panic during Composition transform"
### What happened?

Panic occurs during composite reconciliation while applying a patch transform.

<details>
    <summary>panic.log</summary>
  <br></br>
<head class="lang-console">

    E0216 16:05:35.959498       1 runtime.go:78] Observed a panic: "invalid memory address or nil pointer dereference" (runtime error: invalid memory address or nil pointer dereference)
    goroutine 667 [running]:

[2021-02-16 16:51] hasheddan commented on #2141
Thanks for opening this @mcavoyk! I believe I have found the issue in https://github.com/crossplane/crossplane/commit/d749355cec7f2f1de1a820ebbb42a943a74fa8ca and am working on a fix now.

[2021-02-16 16:53] mcavoyk commented on #2141
@hasheddan Yeah that seems like the commit. Thanks for letting me know you are working on it so we don't duplicate effort :+1:

[2021-02-16 18:26] #2141 closed

[2021-02-16 19:48] hasheddan opened #2144 "Automation for release branch cuts and tagging"
### What problem are you facing?

We have a [number of GitHub Actions](https://github.com/crossplane/crossplane/tree/master/.github/workflows) that automate various parts of our [release workflow](https://crossplane.io/docs/v1.1/contributing/release-process.html). However, one area we consistently run into questions around is branch cutting and tagging, primarily ensuring that the correct tags exi

[2021-02-17 08:21] muvaf commented on #2121
@mcavoyk thank you for detailed explanation!

We want to come up with a good solution for this labeling stuff but I see that some exceptions are added for coreos operator group in ArgoCD. Do you think we can add an exception to cover claim <> composite relationship? The reason composite doesn't have an ownerRef is that claim is namespaced and composite is cluster-scoped and apiserver doesn't allow

[2021-02-17 08:34] muvaf commented on #2000
That's an interesting angle. It'd enable admins to decide what's propagated, which would cover the cases that are common to all claim<>composite instances, which would be useful for cases like #2121 . On the other hand, there are cases where you want to allow claim creators to specify the metadata that'll be propagated, like `external-name` annotation (though this could still be done by admins wit

[2021-02-17 09:27] muvaf commented on #1973
Ah it seems like I was confused with this, thanks for catching it.

My main concern with this approach is that the field is at a high level that every transform below that level would need to know about it (either reject or adapt) and being on that high level, it's not really flexible to changes (what if I want to use same value twice, or in a map approach where I name the input). But I see your p

[2021-02-17 18:41] muvaf commented on #1509
Closing in favor of https://github.com/crossplane/crossplane/issues/1152

[2021-02-17 18:41] #1509 closed

[2021-02-17 18:42] muvaf commented on #1378
@hasheddan do you think we can close this?

[2021-02-17 18:44] muvaf commented on #1477
I think we can close this one as we see that folks prefer giving RBAC to claims/composites instead of managed resources to audit. Forcing admins to give permission for raw managed resource creation would do more harm than good.

[2021-02-17 18:44] #1477 closed

[2021-02-17 18:46] hasheddan commented on #1378
@muvaf yep! I think this should be tracked on a per-provider basis :+1:

[2021-02-17 18:46] #1378 closed

[2021-02-17 19:09] muvaf commented on #169
@jbw976 We started removing these enum lists since they are hard to maintain and we get the error response fairly quickly. This issue solves the maintenance problem by dynamically updating the list but this would mean we'd need to depart from CRD enum validation to do it and implement the dynamic fetch in each and every controller. IMO, the UX improvement we get doesn't really justify such an effo

[2021-02-17 19:09] #169 closed

[2021-02-18 13:08] hasheddan opened #2148 "Consider promoting builds on release branches"
### What problem are you facing?

When cutting the `release-1.1` branch, I noticed that we don't [promote builds](https://github.com/crossplane/crossplane/blob/da8a48e5d9cf40a07b8484a8d310923d869b1c0f/.github/workflows/ci.yml#L313) unless the branch is `master`. This means that the only way for users to easily consume builds from release branches are if the [promotion pipeline](https://github.com/

[2021-02-18 22:28] mcavoyk opened #2149 "Invalid kind or apiVersion in composition resource prevents further update to composite"
### What happened?

Created a Composition with a typo in one of the resource `kind` fields. After updating the composition with the correctly named field, the debug logs on Crossplane controller show the composite controller is now stuck, there is an invalid resource saved into the `spec.resourceRefs` list, and the controller is unable to remove the resource even with a corrected composition.

Fix

[2021-02-18 22:34] mcavoyk commented on #2149
I'm not sure whether the issue is setting an invalid resourceRef, or not updating. But the update is being blocked by this section - https://github.com/crossplane/crossplane/blob/8f414d4b11dc53361f144c5a7da0004d061a6c57/internal/controller/apiextensions/composite/composed.go#L238. The error would be a NotFound error if the request hit the api-server, but the restmapper seems to exit early with a [

[2021-02-18 22:50] mcavoyk opened #2150 "Compositions are able to create but unable to update namespaced resources"
### What happened?

Created a Composition with a namespaced scope resource. A composite referencing the composition will create the resource but is unable to update the resource.

### How can we reproduce it?

Re-using some material from composition docs, hence the name of XRDS.

<details>
    <summary>xrd.yaml</summary>
  <br></br>
<head class="lang-yaml">

    apiVersion: apiextensions.crossplan

[2021-02-18 22:53] mcavoyk commented on #2150
It seems like this namespace reference has the bug https://github.com/crossplane/crossplane/blob/8f414d4b11dc53361f144c5a7da0004d061a6c57/internal/controller/apiextensions/composite/composed.go#L234 The resourceRef does not actually contain a namespace field so that will always be empty, so `cd.Namespace()` seems more accurate, but the composed resource would need to be rendered first for this to

[2021-02-18 22:54] mcavoyk commented on #2150
I also want to add that I'm not sure if Composition's are supposed to support creating namespaced resources (namespace field is not found on the resourceRef XR field). If they do not support this then this bug is slightly different, that the controller creates them when it should error before creation.

[2021-02-19 08:52] muvaf commented on #2150
Today, composition is not supposed to work with namespaced resources because it's optimized for managed resources. There is a discussion in https://github.com/crossplane/crossplane/issues/1730 about it.

[2021-02-19 08:56] muvaf commented on #2149
That's interesting. We [dry-run the creation](https://github.com/crossplane/crossplane/blob/f7f477c/internal/controller/apiextensions/composite/reconciler.go#L425) before saving the reference, so I'd expect that typo to prevent a ref from being saved to CR in the first place.

[2021-02-19 14:52] mcavoyk commented on #2149
I retested without the `metadata.name` patch and the dry-run does indeed fail before saving to ResourceRef's: `cannot use dry-run create to name composed resource: no matches for kind "Namespacedf" in version "v1"`. Looks like there are [conditions which prevent](https://github.com/crossplane/crossplane/blob/f7f477c1ddec8f105370eb827e36c580bf6d0032/internal/controller/apiextensions/composite/compo

[2021-02-19 14:59] muvaf commented on #2149
I think this is the expected behavior. We name the composed resources using `generateName` to prevent collisions.

Why do you want to patch the `metadata.name`? If you want to name the external resource differently, you can patch the `crossplane.io/external-name` annotation.

[2021-02-19 18:21] mcavoyk commented on #2149
Yeah I think this is another case relevant for https://github.com/crossplane/crossplane/issues/1730, as the resource being patched didn't support the external-name annotation.

[2021-02-23 12:46] muvaf opened #2156 "Init container to upgrade Crossplane CRDs"
### What problem are you facing?

Helm does not upgrade CRDs when you run `helm upgrade` but we need the new CRDs to ship new features.

### How could Crossplane help solve your problem?

Current workaround is to `kubectl apply` new CRDs and then do `helm upgrade` but that's OK only when there isn't a breaking change.

We can have an init container that will update the CRDs of Crossplane. We are a

[2021-02-23 14:56] hasheddan opened #2157 "Use proper backoff across core controllers"
### What problem are you facing?

We recently [updated](https://github.com/crossplane/crossplane-runtime/pull/243) the `crossplane-runtime` [managed reconciler](https://github.com/crossplane/crossplane-runtime/blob/30a941c3c3c67e4dc064a2a170cb725de40b0271/pkg/reconciler/managed/reconciler.go#L473) to make use of the controller's configured rate limiting strategy, and provided some sane [default im

[2021-02-23 15:57] srueg opened #2158 "Some Fields not Propagated by Composition"
### What happened?

Some fields which are defined in a Composition were not propagated to the created managed resources.
The composition includes a Release (from https://github.com/crossplane-contrib/provider-helm) with a `.spec.connectionDetails`. The created `Release` is missing said `.spec.connectionDetails`.

### How can we reproduce it?

Create a composition & composite as follows:
[code]

[c

[2021-02-23 23:02] negz commented on #2136
Hey @krishchow - thanks for volunteering to help out with this! We'd like to switch this OperatorHub entry over to Upbound's certified distribution of Crossplane. I'm going to close this issue for the time being, but we'll get back to you ASAP to figure out how to proceed.

[2021-02-23 23:02] #2136 closed

[2021-02-24 11:18] muvaf commented on #2149
Hmm I think we can close this issue for now then.

[2021-02-24 11:18] #2149 closed

[2021-02-24 14:23] Dkaykay opened #2162 "Composition ignores region parameter"
### What happened?
Provisioning of PostgreSQL with CompositePostgreSQLInstance / RDSInstance always creates RDS instance in region
us-east-1 (ignoring the region parameter).

In addition, when deleting the claim resource (kind: PostgreSQLInstance), the command gets stuck and the CRD object is not deleted.

### How can we reproduce it?

composition.yaml:
[code]
claim.yaml:

[code]

output of `kubec

[2021-02-24 14:36] hasheddan commented on #2162
@Dkaykay could you provide some information about how you set up provider-aws and your credentials? I am wondering if a regional service endpoint is being used and forcing creation to a given region. Have you been able to successfully provision other resource types outside of `us-east-1`?

[2021-02-24 14:48] Dkaykay commented on #2162
When creating the exact same resource without composition, it is getting created correctly in the eu-central-1 region.

The AWS credentials only contain Access Key and Secret Key (no default region set), looks like this:

[code]

AWS Provider:

[code]

AWS Provider config:

[code]

[2021-02-24 23:49] #1978 closed

[2021-02-25 14:01] Dkaykay commented on #2162
I think i identified the problem.

When following the tutorial https://crossplane.io/docs/v1.0/getting-started/compose-infrastructure.html#configure-and-claim-your-infrastructure

and install the configuration with
[code]

This will create a configuration that overwrites / conflicts with my composition

[2021-02-25 14:05] hasheddan commented on #2162
@Dkaykay thanks for identifying what was causing the issue! We have some documentation updates that should be landing very soon that will hopefully make this more clear 👍 Feel free to close out this issue if you feel like it has been resolved.

[2021-02-25 14:10] #2162 closed

[2021-02-25 15:06] wizbit opened #2164 "Cannot create a composite of SQS and SNS"
### What happened?
Creating a composite of SQS and SNSSubscription with arn of the sqs linked into the subscription is failing with an error regarding no being able to patch status

### How can we reproduce it?
XRD
[code]
XR
[code]

Resources deployed
[code]

### What environment did it happen in?
Crossplane version:  v1.1.0-rc.116.g797d2f61
AWS EKS
kubectl version
[code]

`kubectl describe pmcsqs

[2021-02-25 17:35] muvaf commented on #2162
@hasheddan we can also change the name of the compositions to other than XRD name. `compositepostgresqlinstances.aws.database.example.org` as a name for `Composition` could be confusing and result in race conditions like this one.

[2021-02-25 18:03] hasheddan commented on #2162
@muvaf agreed, although I think the idea in the new flow is that we are showing exactly what is in the `Configuration` package that was just used.

[2021-02-25 22:38] hasheddan opened #2165 "Cannot update Provider when CRD version is dropped in favor of new version"
### What happened?

When upgrading `provider-aws` versions I noticed that the new version was unable to establish control of its API types because `BucketPolicy` moved from `v1alpha2` to `v1alpha3` and dropped `v1alpha2`, causing update to fail because the `status.storedVersion` did not exist in the `spec.versions`.

[code]

This is not necessarily a bug with the package manager, as it could be av

[2021-02-25 22:45] muvaf commented on #2165
This is a case where we dropped support for an alpha CRD that doesn't have any upgrade guarantees. I think this is a valid scenario that our machinery should be able to handle. `None` would not work because we don't bump the apiVersion if it's compatible in a way `None` could work.

Maybe one way to handle this is to check whether there is any instance of that old CRD, if so reject the update and

[2021-02-25 22:58] hasheddan commented on #2165
Yeah the issue with this scenario is that is valid because of the written guarantees we make, but it is not actually codified. I think maybe the machinery is essentially handling this correctly here but forcing a user to manually delete the CRD is they want to upgrade to the new version. I feel more comfortable with that than automatically cleaning up a CRD.

[2021-02-25 23:16] muvaf commented on #2165
@hasheddan do you mean you don't want to automatically delete the CRD even if there is no instance of it?

[2021-02-26 00:47] hasheddan commented on #2165
@muvaf yes. While that would be a safe operation, I like the fact that we currently have the property of never directly deleting a CRD, meaning that a CRD is only ever cleaned up via garbage collection when all of its owners are deleted. We could certainly revisit this strategy if enough folks are in favor though.

[2021-02-26 08:34] wizbit commented on #2164
If I remove `connection` from the XR, then the SQS Queue is created correctly and the `status` is updated with the correct `arn`

[2021-03-01 14:18] hasheddan opened #2169 "Add issue templates for cutting releases and other operational tasks"
### What problem are you facing?

Various operational tasks including cutting release branches, tagging releases, updating documentation, etc. are documented in our [release process](https://crossplane.io/docs/v1.1/contributing/release-process.html) doc, but the actual execution of the steps is not well tracked. We typically have a maintainer mention what actions are being taken during the process

[2021-03-02 00:59] negz commented on #1039
https://github.com/crossplane/crossplane/discussions

We've enabled GitHub discussions, which we hope to use as an informal knowledge base. It could be that a wiki would be a better solution here, but discussions seem like they might be the 'safer' route than opening wiki pages up to allow anyone to edit them.

[2021-03-02 00:59] #1039 closed

[2021-03-02 13:50] benagricola opened #2173 "Claim with no underlying composite or base resources stuck on deletion"
### What happened?
I attempted to delete a composite resource by deleting the namespaced claim. This had the effect of deleting all of the underlying base resources and the composite resource itself, but the claim still exists and reports `resource name cannot be empty` on each update:

[code]

Editing to remove the finalizer of each of the claims causes the resources to delete themselves almost i

[2021-03-02 17:47] kelvinwijaya commented on #2121
Hi All,

Recently i also encounter similar error message mentioned above in my composite resource (pardon me about the unconventional format of the k8s event logs as it is generated by the Alert tool):

Exactly 2 Warning Events generated in the namespace where the Claim Resource residing:
[code]

I am currently using ArgoCD for Claim Resource deployment and also to overcome the `auto-pruning` issu

[2021-03-02 19:22] muvaf commented on #2128
Should be fixed by https://github.com/crossplane/crossplane/pull/2145

[2021-03-02 19:22] #2128 closed

[2021-03-02 19:43] hasheddan commented on #2070
Fixed by https://github.com/crossplane/crossplane-runtime/pull/240 and https://github.com/crossplane/crossplane/pull/2125

[2021-03-02 19:43] #2070 closed

[2021-03-02 19:56] benagricola opened #2175 "Required patch policy aborts rendering of entire composite"
Regarding discussion in Slack around the `Required` patch policy in combination with bidirectional patching.

This appears to be [intentional behaviour](https://github.com/crossplane/crossplane/blob/master/internal/controller/apiextensions/composite/reconciler.go#L418) instead of an actual _bug_ (and I suspect this is how Compositions have always behaved) but seems somewhat counter-intuitive to me

[2021-03-02 20:32] muvaf commented on #2175
I think Crossplane should deploy the ones it can all the time, providing an eventual consistency without imposing an order requirement in the `resources` array. I was thinking whether this should be a release blocker but it seems this might require a risky change, so I'd say let's fix it in v1.2

[2021-03-02 21:34] hasheddan commented on #2175
[This thread](https://github.com/crossplane/crossplane/pull/2133#discussion_r575350364) points to some of the things we are seeing here I think, but it was focused on patching back to the composite resource and that motivated [the fix](https://github.com/crossplane/crossplane/pull/2133/commits/f7f477c1ddec8f105370eb827e36c580bf6d0032). I imagine we could do a similar fix patching to managed resour

[2021-03-02 21:46] jbhennin opened #2179 "List Available Compositions for an XR"
### What problem are you facing?
App Devs are primarily separated from the creation of the composition and resource definition process ( as they should be).
There are scenarios in which one XR could have multiple compositions in order to create a specific set of resources.
Currently if the app dev is not aware of the available compositions they are unable to utilize the `compositionSelector` featu

[2021-03-02 22:34] hasheddan commented on #2175
Looks like if we fail to render any resources then we don't apply any of them:

https://github.com/crossplane/crossplane/blob/ecfb6cebb3df7401bb1a7655b48785aefa9cf1f7/internal/controller/apiextensions/composite/reconciler.go#L418

[code]

Guessing we need to skip on something like:
https://github.com/crossplane/crossplane/blob/ecfb6cebb3df7401bb1a7655b48785aefa9cf1f7/apis/apiextensions/v1/composit

[2021-03-03 01:01] negz commented on #2175
It seems like there's a couple of cases in which folks would want to use required patches:

1. To require an XR field that isn't part of the scheme - e.g. to require that a particular label or annotation exist before resources are composed.
2. To require an XR field that is late initialized by something _outside_ the Composition - e.g. to require that an XR's `spec.claimRef.namespace` is set befor

[2021-03-03 08:09] muvaf commented on #2121
@kelvinwijaya these errors should be safe to skip as long as they don't happen continuously since the claim controller will make the same update in the next reconcile with the updated composite object.

[2021-03-03 10:22] muvaf opened #2182 "CLI option to wait for installation to complete"
### What problem are you facing?

We frequently see users reporting `no matches for kind "ProviderConfig" in version "aws.crossplane.io/v1beta1"` due to installation of provider not being completed yet or having some problems. However, since the command `kubectl crossplane install x` exits successfully in all cases as long as the CR is created (which is in line with usual kubectl behavior), they d

[2021-03-03 10:23] benagricola commented on #2175
Yep, I think that's accurate, but depending on how case 4 is fixed it could also enable a 5th case by circumstance - where an optional field on the XR that is set `fromFieldPath: Required` might conditionally enable or disable the rendering of a single base resource.

[2021-03-03 16:06] pdettori commented on #2080
@hasheddan is this flag for referencing ControllerConfig available in the new Crossplane release ?

[2021-03-04 04:41] kelvinwijaya commented on #2121
Hi @muvaf

Just to understand a bit on the problem, does it mean there are 2 controllers (composite & claim) that is trying to update the composite object as the same time which caused race condition?
Also are you trying to explain that eventually the claim controller will make sure the composite object to be updated during the binding process?

Thanks

[2021-03-04 09:28] mf-lit opened #2187 "Resource in endless modification loop"
### What happened?

I'm observing the following issue when managing an RDSInstance with crossplane.
The resource manifest for the RDSInstance is as follows:
[code]
Both the instance and the subnetgroup are created succesfully, but the instance constantly goes in and out of a "modifying" state.

The following event appears on the instance resource:
[code]

A bit of digging, and it seems that the Pa

[2021-03-04 13:37] muvaf commented on #2187
@mf-lit Thanks for opening the issue! I'll try to reproduce and get back to you.

[2021-03-04 16:44] krishchow opened #2188 "CLI Code Scaffolding"
### What problem are you facing?
Currently, there isn't really a good way to scaffold new resources + controllers in a Crossplane Provider. The workflow right now (as far as I know) is just to copy code from another related resource, and then find-and-replace all the relevant fields, this works but it isn't a good DX and it can lead to small bugs.

### How could Crossplane help solve your problem?

[2021-03-04 18:48] muvaf commented on #2187
https://crossplane.io/docs/v1.1/reference/troubleshoot.html usually helps but in this case, I had to debug the code to see why [`patch` here](https://github.com/crossplane/provider-aws/blob/5a380ad/pkg/clients/rds/rds.go#L453) included the db parameter group name even though it's not changed.

[2021-03-04 19:00] muvaf commented on #2121
Yes, this is possible and intended. This error is thrown when the resource that controller A will update changes between the start of its reconciliation and the end. So, all setups where two controllers make any operation on the same resource is subject to this. Though, reconciliation makes sure the resource is consistent eventually.

[2021-03-04 23:45] hasheddan commented on #2080
@pdettori apologies for the delayed response here, it did not make it into the release but I will get it queued up for the next one

[2021-03-04 23:46] hasheddan opened #2190 "Add flag to CLI to set controllerConfigRef on Providers"
### What problem are you facing?

Currently providers cannot be installed via the CLI and point to a `ControllerConfig`. This feature was requested in https://github.com/crossplane/crossplane/issues/2080#issuecomment-789826571.

### How could Crossplane help solve your problem?

Implement the flag.

[2021-03-05 00:39] caniszczyk opened #2191 "Create a security disclosure policy + process (SECURITY.md)"
A CNCF graduation requirement is having a security disclosure process.

Feel free to look at examples in the CNCF ecosystem https://github.com/envoyproxy/envoy/blob/main/SECURITY.md

Other prior art from Rook: https://github.com/rook/rook/blob/master/SECURITY.md

[2021-03-05 00:43] caniszczyk commented on #58
reopen as this is required for CNCF graduation eventually :)

[2021-03-05 03:41] negz commented on #1599
provider-template has lived in the crossplane org for a while now.

[2021-03-05 03:41] #1599 closed

[2021-03-05 04:12] negz commented on #2188
https://github.com/crossplane/crossplane-tools is where we've historically put general-purpose tooling for building Crossplane providers (e.g. tooling that isn't specific to a particular provider or pattern, like our ACK and Terraform efforts). In this case it sounds like you're proposing putting such tooling in the `kubectl crossplane` CLI, which has historically been user rather than developer f

[2021-03-05 08:51] mf-lit commented on #2187
Thanks for looking into this @muvaf and for the speedy PR 👏

[2021-03-05 16:25] jbhennin commented on #1481
I am curious on how this will work with configuration packages?
Mostly we would make changes to the composition (new feature or maybe just a new default value) and update the definition accordingly.

[2021-03-05 16:56] #2187 closed

[2021-03-05 17:44] muvaf commented on #2165
Agreed, no deletion call gives peace of mind. Moving the discussion from Slack to here.

I think there are two problems here:
* Users either are not aware that they deploy alpha resources, or contract about alpha resources, or don't know how to upgrade them manually.
* Our alpha contract, i.e. no upgrade support, is hindering the usage of Crossplane because most of provider CRDs are currently alph

[2021-03-05 18:07] hasheddan commented on #2165
This feels pretty reasonable, but I do want to point out again that I think we can get tunnel-vision with how the primary providers that the crossplane community works vs the contract of what a provider actually is. I get worried about saying "this is how you can fix the alpha resource" because it may not be accurate in all cases. For example, it makes me a little uneasy to be saying something lik

[2021-03-05 19:02] negz commented on #2165
I think investing in making this expectation more obvious would be a great start - perhaps a section on our documentation site that briefly defines what alpha, beta, and v1 APIs mean to us.

[2021-03-05 21:10] jbhennin opened #2193 "Restrict ability for multiple K8s clusters to manage the same resource"
### What problem are you facing?

The `crossplane.io/external-name` allows you to specify the external name of the resource and not use generated name by crossplane.

With the use of external name it is possible that 2+ K8s clusters can manage the same resource.
This can cause problems and conflicting state.

### How could Crossplane help solve your problem?

With the aws you can potentially use t

[2021-03-05 22:27] #2156 closed

[2021-03-06 01:21] nrutigs opened #2194 "EC2RoleRequestError Event on CacheCluster creation, infra not created"
### What happened?

After applying a `CacheCluster` the infrastructure is not created and I see the following when describing it:

[code]

### How can we reproduce it?

I'm trying to create the CacheCluster to be accessible by apps within my EKS cluster. I've recreated my `providerConfig` `aws-config` with new credentials and my AWS account has the following policy attached:

[code]

[code]

### W

[2021-03-08 10:15] srueg commented on #1481
This would be a very useful feature for our use case. Especially being able to gradually roll out and roll-back changes of Compositions to Composites is something we're looking forward to.
Any chance it can go onto the v1.2 roadmap?

[2021-03-08 15:13] mf-lit opened #2195 "How to create a connection secret in the same namespace as a claim"
### What happened?

When making a composite resource claim, it would be useful to be able to have any connection secret created in the same namespace as the claim itself (certainly this seems a very likely use-case to me).

I expected to be able to do something like this in the definition of my composite to have just that:
[code]

However, that doesn't work:
`cannot use dry-run create to name comp

[2021-03-08 15:29] muvaf commented on #2195
Hi @mf-lit ! That's actually one of the main features of claims. You can use `spec.writeConnectionSecretRef.name` to specify a `Secret` name to be created in the same namespace once the claim gets ready. [Here](https://crossplane.io/docs/v1.1/getting-started/provision-infrastructure.html#claim-your-infrastructure) is an example that does that and uses the `Secret` to mount to a `Pod`.

[2021-03-08 15:55] mf-lit commented on #2195
Hi @muvaf - thanks for the quick reply! I must admit I'd completely overlooked the fact that `spec.writeConnectionSecretRef.name` could be set on a claim 😳

This does lead me to another couple of questions though. I see in the `Composition` defined [here](https://crossplane.io/docs/v1.1/concepts/composition.html#specify-how-your-resource-may-be-composed) that a default is set.

 - Is that default

[2021-03-08 23:33] hasheddan opened #2197 "Old inactive revision can create deleted resource before new active one"
### What happened?

This is a pretty big edge case, but in the case that we encounter an issue like the one describe in #2165, it is possible that deleting the CRD in question will not solve the issue because the old revision controller could create it before the new revision. When the new revision creates it first there is no issue because we only update owner refs for inactive revisions:

https:

[2021-03-09 13:41] muvaf commented on #2195
I think there is some confusion here. There are three levels:
* Managed resource connection secret: each managed resource creates a secret and you specify where it goes under `spec.writeConnectionSecretToRef` that includes namespace.
* Composite resource has a secret and you can specify its namespace using `Composition`'s `spec.writeConnectionSecretsToNamespace`.
* Finally, the claim secret which

[2021-03-09 13:43] muvaf commented on #2173
Can you reproduce this all the time or was it a one-time encountering?

[2021-03-09 13:45] benagricola commented on #2173
@muvaf it's rare, but not a one-time thing. It always reports the same `resource name may not be empty` error message but I haven't managed to track down further what the cause is...

[2021-03-09 13:55] muvaf commented on #2164
Seems like this is the same as https://github.com/crossplane/crossplane/issues/2175 and the fix will come in https://github.com/crossplane/crossplane/pull/2180

Thanks for reporting @wizbit !

[2021-03-09 13:55] #2164 closed

[2021-03-09 13:59] muvaf commented on #2158
@srueg Can you use `Required` patch policy for that specific patch and share the output of `kubectl describe CompositeRedisInstance c8e5eba0-0286-4a11-b504-aa21da914c1d` ?

[2021-03-09 14:21] muvaf commented on #2173
Thanks for the information! I think I figured out the problem and here is the PR to fix it: https://github.com/crossplane/crossplane/pull/2200

[2021-03-09 15:34] srueg commented on #2158
I did some further tests but couldn't get it to work or show any error/logs whatsoever. Unknown fields are just silently dropped which might be happening here?

Manually adding the `spec.connectionDetails` to the composed `Release` works just fine.

[2021-03-09 22:05] ytsarev opened #2201 "convert transform could not resolve: input type int64 is not supported"
### What happened?

`transforms` fails with
[code]
in an attempt to convert an integer to string

### How can we reproduce it?

In a CompositeResourceDefinition create integer parameter like
[code]
in Composition define the transformation:
[code]
Apply the claim which contains the integer parameter specified
[code]
Observe
[code]
in Composite resource event log

### What environment did it happen

[2021-03-10 00:01] hasheddan opened #2202 "Update to newer version of go-containerregistry"
### What problem are you facing?

We are currently on an older version of `go-containerreigstry` (`v0.2.1` while latest is `v0.4.1`). There are a number of fixes we should take advantage of, notably https://github.com/google/go-containerregistry/pull/824, which allows us to better handle registry defaulting. `k8schain` has also been moved to its own go module.

### How could Crossplane help solve

[2021-03-10 20:26] ytsarev commented on #1985
For us, it would be very convenient if we could package
* ControllerConfig
* ProviderConfig
Especially, it would be great if ProviderConfig would be properly applied after the associated provider becomes Ready.

[2021-03-10 20:41] ytsarev commented on #1985
So far used this workaround for waiting
[code]

[2021-03-11 12:10] mf-lit commented on #2195
Closing this, it was indeed confusion on my part. Thanks for summary @muvaf, it was really helpful.

[2021-03-11 12:10] #2195 closed

[2021-03-11 15:08] kelvinwijaya commented on #2197
Hi @hasheddan

Regarding the issue reported in https://github.com/crossplane/provider-aws/issues/583

Would like to clarify, say if the NatGateway resources are created before in v0.16.0, does that mean deleting the old CRD of the affected resource will cause the external resource to be deleted

What is the procedure after deleting the old CRD, does the Managed Resources version has to be patched

[2021-03-11 15:27] hasheddan commented on #2197
@kelvinwijaya if you have `NatGateway` instances that exist, they will block deletion of the CRD. Since `NatGateway` was an `alpha` API in `v0.16.0` it did not guarantee support of that version in future `provider-aws` iterations. In `v0.17.0`, the API was [promoted to `v1beta1`](https://doc.crds.dev/github.com/crossplane/provider-aws/ec2.aws.crossplane.io/NATGateway/v1beta1@v0.17.0) and support f

[2021-03-11 15:44] kelvinwijaya commented on #2197
Hi @hasheddan ,

This workflow sounds very detailed and workable, I assumed it will work as well for claim-composite model where the `crossplane.io/external-name` tags to be presented when creating the claim resources.

I will do more testing on this part as well

Btw, is there any future pipeline for version conversion functions with webhook implementation [conversion-concept](https://book.kubebu

[2021-03-11 17:50] hasheddan commented on #2197
@kelvinwijaya yep we hope to support webhooks very soon, the work is being tracked in https://github.com/crossplane/crossplane/issues/1152. That being said, there is no guarantee on supporting `alpha` version APIs from one release to the next, so transitions like this are not guaranteed to be supported even when we do support webhooks.

[2021-03-12 00:00] kelvinwijaya commented on #2197
Hi @hasheddan

Ok understood and cheers.

[2021-03-13 04:21] negz opened #2211 "Support merging, rather than replacing objects"
### What problem are you facing?

We're seeing a common pattern emerging in `Compositions`:

[code]

This patchset will replicate the XR's labels and annotations to each of its composed resources. A potential issue with this approach is that the [`fieldpath` package](https://pkg.go.dev/github.com/crossplane/crossplane-runtime@v0.13.0/pkg/fieldpath) package replaces objects - it does not merge them

[2021-03-14 21:41] #2173 closed

[2021-03-15 00:22] negz commented on #2193
I agree this functionality would be nice to have, and tags (or whatever metadata is available to us) seems like the right place for it. The trick is that tag (or more generally metadata) support is super inconsistent, even within a single provider like AWS. I wrote some ideas up at https://github.com/crossplane/crossplane-runtime/issues/254 that may help with this a little.

[2021-03-15 11:02] haraldatbmw opened #2212 "Dependencies handling between multiple providers on composite deletion"
### What happened?
My use-case causes an deletion issue with my composite-example (see https://github.com/crossplane/crossplane/discussions/2192) which uses Azure and SQL provider. They share a connection-secret inside the same composite. If I delete the claim all resources of the azure-provider (resource-group, postgresql-server, ...) gets deleted but the resources of the sql-provider (database,

[2021-03-15 15:27] srueg commented on #2158
Apparently the `spec.connectionDetails` get lost somewhere in the call to `r.client.Apply()`: https://github.com/crossplane/crossplane/blob/master/internal/controller/apiextensions/composite/reconciler.go#L451

Adding some debug output shows that the `cd` variable correctly contains the `connectionDetails` before the call and after `Apply()` they're gone.

[2021-03-15 16:01] srueg commented on #2158
I tried to set a `listType` for the connectionDetails in the CRD, without any luck. For some reason the patch ignores/removes the list of connectionDetails.

https://kubernetes.io/docs/reference/using-api/server-side-apply/#merge-strategy

[2021-03-15 16:42] srueg commented on #2158
I did another test and added a really simple `[]string` field to the Release CRD. It's the same behavior: even if I set the field in the Composition, it's not set on the composed resource. It just gets deleted. I suspect the patch type `application/merge-patch+json` to be somehow the problem but can't really pin it down.

[2021-03-15 16:53] #2201 closed

[2021-03-15 21:13] hasheddan commented on #2158
@srueg I believe you are correct because a merge patch cannot manipulate array elements. You could attempt to patch the entire `connectionDetails` object, but that would require exposing it on the XR / XRC.

[2021-03-16 07:29] kelvinwijaya opened #2217 "Provider showing status UnknownPackageRevisionHealth (Version upgrade)"
### What happened?
New Installation of crossplane v1.1 using helm chart
And also updating the provider aws to v0.17.0

Provider showing `Unknown` status

Error shown from crossplane logs:
[code]

ProviderRevisions `events` looks normal:

[code]

ProviderRevision Version as shown: (Notice that DEP-Found and DEP-Installed are empty -> scroll to the right end)
[code]

kubectl get providerrevisions pr

[2021-03-16 07:50] srueg commented on #2158
But the issue with rather with the Kubernetes API patching, not with the Crossplane `patches`. I added some debug logging and clearly see that the rendered resource is correct. Only once applied to the API the lists are dropped.
I also don't understand why even the `Create()` call doesn't create the lists properly: https://github.com/crossplane/crossplane-runtime/blob/master/pkg/resource/api.go#L1

[2021-03-16 07:51] muvaf commented on #2158
Hmm that's really interesting. I used the following YAMLs to reproduce:
[code]

Then created an instance and confirmed the behavior @srueg is seeing; after `Apply`, `cd` doesn't have the `spec.connectionDetails` anymore as if it doesn't exist in the target schema and api-server drops it.
[code]

What's more interesting is that I created a `Release` object like the following:
[code]

It's created s

[2021-03-16 07:51] #2158 closed

[2021-03-16 07:57] srueg commented on #2158
You're absolutely right, that solved the problem! 🎉 🎊

Thank you very much and sorry for the noise! 🙈

[2021-03-16 07:59] muvaf commented on #2158
No problem. This is another case where https://github.com/crossplane/crossplane/issues/1476 would've helped a lot.

[2021-03-16 10:33] muvaf commented on #2158
It's weird that dry-run doesn't return the error that `kubectl create --dry-run` returns. Seems like kubectl does a validation for the schema on the client side:
[code]

[2021-03-16 11:25] hasheddan commented on #2217
@kelvinwijaya I am surprised to see this in a fresh `v1.1.0` install since https://github.com/crossplane/crossplane/pull/2087 fixed this problem and was present in the `v1.1.0` release. Are you certain that `v1.1.0` was installed?

[2021-03-16 11:29] hasheddan commented on #2212
@haraldatbmw one easy way to solve this specific problem would be for us to allow deleting resources with `deletionPolicy: Orphan` even when we can't connect to the external provider. This should be fine because we don't need to actually make any calls to the external provider in this case because it no longer exists. I'll open an issue on `crossplane-runtime` to track 👍

[2021-03-17 02:27] kelvinwijaya commented on #2217
Hi @hasheddan ,

My bad, it is not **new** instllation, I am upgrading from v1.0.0 to v1.1.0

Thanks for pointing out the required fields as optional for e.g. foundDependencies

I follow the instruction for upgrade to v1.0.0 last time by downloading the CRDs (around 28 Nov 2020): https://github.com/crossplane/crossplane/cluster?ref=release-1.0

I believe during that time, the status fields for `fo

[2021-03-17 02:51] hasheddan commented on #2217
@kelvinwijaya for a fresh installation you won't have to do this, and in future crossplane versions you won't have to do it on upgrade either :)

Feel free to close this issue out if you feel like your questions have been addressed.

[2021-03-17 14:39] hasheddan opened #2219 "Consider allowing new package revisions to own objects even if they cannot control"
### What problem are you facing?

This feature is based on a scenario a community member recently shared with me. This write-up will hopefully illustrate some details of how the package manager works, as well as how to avoid any "catastrophe" situations.

The issue in this particular example was that the upgrade of `provider-aws` from `v0.16.0` to `v0.17.0` required manual intervention due to the

[2021-03-17 15:50] muvaf commented on #2219
Do you think that introduces risk of a `ProviderRevision` to claim the control of a CRD that belongs to another `Provider`?

Does it make sense for `Provider` to control the `CustomResourceDefinition`s so they get deleted only if `Provider` is deleted? The controller of `ProviderRevision` would update/replace only the CRDs that belong to their `Provider` object and no CRD would be deleted unless y

[2021-03-17 20:07] hasheddan commented on #2219
@muvaf yes I think that is a risk, but we could theoretically check that all existing owners are from the same `Provider`.

This is an interesting idea. However, I think I would amend this to say "the `Provider` _also owns_ the CRDs". This would give us the property of CRDs never getting deleted, but still allow us to use the revision mechanism of establishing control of the CRDs before it can sta

[2021-03-18 16:05] hasheddan commented on #2219
@muvaf I was looking back at this and wanted to clarify on the concern of "risk of a ProviderRevision to claim the control of a CRD that belongs to another Provider?". This would not be possible today _or_ in any of the proposed updates. A `ProviderRevision` cannot control any resources until it can control all of them, with the one caveat being that two revisions installed at the same time could

[2021-03-18 17:20] muvaf commented on #2219
@hasheddan that sounds good to me. What I'm looking for is that unless `Provider` is deleted, we should just never delete any CRDs, or just never delete them even if `Provider` is gone. I was thinking maybe `CustomResourceDefinition`s would be handled all by `Provider` controller similar to `ProviderRevision`, hence making it specific to the deployment model of the provider. But this double owner-

[2021-03-20 20:25] psinghal20 commented on #1977
Hi @negz, I would love to work on this issue if no one is working on it. According to the initial look I took at the `cmd/main.go`, we would have to implement a `zap.Opts` function to set the `Level` and `Encoder` config based on the new flags. Please let me know if my understanding is correct.  We can give the `--debug` flag priority over these options.

[2021-03-23 07:46] kelvinwijaya commented on #2217
Hi @hasheddan ,

Thanks, this issue has been addressed and appreciate your prompt support.

[2021-03-23 07:46] #2217 closed

[2021-03-24 12:25] Henni opened #2232 "Composition Selector Transform"
### What problem are you facing?
I want to build compositions, which depend on other resources and their attributes, which might be created through other compositions. For example I want to pass an AWS subnet to a composition. But instead of the subnet resource name I want the subnetId to be filled in, which I possibly do not know, when composing the XRC.
I want to pass the resource name (e.g. `sa

[2021-03-24 20:54] jbhennin commented on #2110
As resources like security group ids are needed to create an RDS instance, etc. this feature is greatly needed IMO.   Big thumbs up if something like this could get added to the roadmap.

[2021-03-24 23:24] negz commented on #1770
Here's a strawman sketch of what generic cross-resource references might look like.

Today we have this for example:

[code]

With generic cross-resource references this might look like:
[code]

[2021-03-24 23:24] negz commented on #2232
@Henni Are you familiar with the cross resource references that exist down at the managed resource level? What you're proposing sounds a lot like those, but perhaps more open ended (i.e. able to pull in references to arbitrary fields). Would https://github.com/crossplane/crossplane/issues/1770 potentially solve your use case?

[2021-03-24 23:28] Henni commented on #2232
Yes, the design document seems to be pretty much what I had in mind. Thanks for pointing me to it!

I'll  close this then.

[2021-03-24 23:28] #2232 closed

[2021-03-25 03:58] kelvinwijaya opened #2234 "Crossplane container trying to log to default namespace"
### What happened?

While starting up crossplane container, seen the following error. Also thinking if the k8s event be pushed to `crossplane-system` ns instead of `default` ns? Those events might be useful to pipe out to my monitoring system

Also there is error message on AWS credentials .. Deprecated stuff

Logs as show:
[code]

### How can we reproduce it?

Happen while updating new provider v

[2021-03-25 04:14] hasheddan commented on #2234
@kelvinwijaya the AWS error message should not cause any issues (though I am working on getting it removed). For the event error, it appears Crossplane does not have the RBAC it needs, how did you go about deploying Crossplane?

[2021-03-25 04:17] kelvinwijaya commented on #2234
Hi @hasheddan

I am using Helm Chart to deploy crossplane

For provider-aws, I am using the following manifest and deployed using GitOps (ArgoCD)
apiVersion: pkg.crossplane.io/v1
kind: Provider

[2021-03-25 04:38] hasheddan commented on #2234
@kelvinwijaya are subsequent events published successfully?

[2021-03-25 06:40] kelvinwijaya commented on #2234
Hi @kelvinwijaya

I can see bunch of events from 'crossplane-system' namespace related to XRDs:

[code]

From `default` namespace:

[code]

[2021-03-25 10:52] MisterMX opened #2235 "Enhance unit test standard to validate API calls"
### What problem are you facing?

Currently, almost all controller unit tests do not check whether the provider API is (or is not) called with the expected parameters. This is OK in `TestObserve` as the provider state is (ideally) not modified. However, in `TestCreate`, `TestUpdate` and `TestDelete` I consider this a substantial flaw since the test only checks if an error has occurred, but not whe

[2021-03-25 13:50] muvaf commented on #1770
That looks pretty good to me. Do we want to allow taking values from namespaced resources?

[2021-03-25 19:36] negz commented on #2235
@MisterMX Thanks for raising this! In the past I've _partially_ addressed this by just having the mock method blow up if it is called with the wrong input. e.g.:

[code]

This goes a long way, but it does have some shortcomings. Namely that it doesn't handle multiple calls well, and doesn't catch cases where the expected call isn't made at all.

I like that your "call log" approach feels like a sc

[2021-03-26 14:45] lewismarshall opened #2236 "Update kubectl-crossplane plugin to simplify IAM permissions management"
### What problem are you facing?

As a platform team / maintainer, it is a complex and problematic and error prone process working out what cloud provider permissions are required for each and every provider resource for each cloud.

This prevents constrained permissions to be managed and this in turn prevents simple audit or in the worst case over privileged access.

### How could Crossplane help

[2021-03-26 21:36] gberche-orange opened #2237 "cli: add a option to turn on verbose/debugging output"
### What problem are you facing?

As a crossplane 1st time user
* in order to troubleshoot cli usage
* and in order to better understand what `kubectl crossplane install configuration registry.upbound.io/upbound/platform-ref-aws:v0.1.0` command in https://cloud.upbound.io/docs/getting-started/configure-your-platform/#install-our-example-configuration is doing
* I need a way to turn on debugging/ve

[2021-03-26 21:42] BigSammich opened #2238 "Allow additional env vars to be set via helm for the crossplane deployment"
currently there is no ability to set and manage crossplane deployment env vars via the helm chart which causes the additional overhead of editing things after install.

[2021-03-27 00:23] hasheddan commented on #2237
Thanks for opening this @gberche-orange! I definitely think we should improve error messaging across the commands, and this silent failure is a good example. Are you interested in working on this?

[2021-03-30 07:57] negz commented on #2234
Unfortunately we can't do this.

This is a quirk of Kubernetes. The `involvedObject` of an event may be cluster scoped, but events are namespaced. Cluster scoped resources therefore emit events to the `default` namespace - this is where built in cluster scoped types like Nodes and PersistentVolumes emit events too.

This is more than a convention - it's baked into `kubectl describe` assumptions an

[2021-03-30 16:20] gberche-orange commented on #2237
Thanks @hasheddan for considering this issue.

It's too early for me now: I'm merely discovering the product now and contributing feedback along the way. I might be interested in the future to contribute code if the product gets used within my team and my team backlog priorities aligns.

[2021-03-30 19:35] #2238 closed

[2021-03-31 14:09] srueg commented on #2150
We also just got bit by this bug. We so far work around the namespace limitation by using a patch to set the namespace:
[code]

It's also only a problem if using the new "named resources" feature. As long as you don't set the `name` field in the resources array it works just fine...

[2021-03-31 14:14] muvaf commented on #2150
@srueg This is in line with the behavior, I think https://github.com/crossplane/crossplane/issues/1730 is a better place to track the change of this behavior. So, I'll close this issue now.

[2021-03-31 14:14] #2150 closed

[2021-03-31 14:20] srueg commented on #1730
Is there any news on this topic?

The issue described in #2150 prevents us currently to use the new "named resources" feature since it breaks with namespaced managed resources.

[2021-03-31 16:35] MisterMX commented on #2235
I added some sample test cases for Secretsmanager in provider-aws using `go-mock` (seems there are no tests for Secretsmanager at all?). See crossplane/provider-aws/pull/611

Basically, mocking a client in crossplane tests would like this:

[code]

and setting it up before running the test case:

[code]

I see some benefits using this solution:

1. `go-mock` is part of golang and thus well maintai

[2021-04-01 06:50] till commented on #267
@prasek do you have anything I could hack on? The Terraform integration sounds great since we use Terraform already.

[2021-04-01 07:49] till commented on #267
Leaving this here:
https://github.com/subhransusekhar/provider-openstack

Will experiment on the weekend.

[2021-04-01 09:31] MPV commented on #267
In addition to @subhransusekhar (as mentioned above), it seems like @rochaporto has also started something recently, here: https://github.com/rochaporto/provider-openstack

[2021-04-07 05:56] plentifullee opened #2247 "Unable to install crossplane in AWS EKS"
### What happened?

Pod is in a "CrashLoopBackOff" status.

Error: failed to start container "crossplane": Error response from daemon: OCI runtime create failed: container_linux.go:367: starting container process caused: chdir to cwd ("/home/nonroot") set in config.json failed: permission denied: unknown

### How can we reproduce it?

Create a new EKS cluster in AWS, create a new node group, login

[2021-04-07 06:49] plentifullee opened #2248 "MissingSecurityHeader when creating s3 bucket in AWS"
### What happened?

Successfully created an s3 bucket, however resources is in ready false status. Also unable to delete the bucket using crossplane cli (it says deleted and hangs forever, cancel with ctrl+c and find that resource is still there), however patching works (kubectl patch bucket.s3.aws.crossplane.io/my-crossplane-bucket -p '{"metadata":{"finalizers": []}}' --type=merge)

### How can w

[2021-04-07 09:28] muvaf commented on #2247
Thanks for raising this issue @plentifullee ! https://github.com/crossplane/crossplane/pull/2245 should fix this. If you'd like to, you can try the latest image in `alpha` channel to test it out. We're planning to have a patch release 1.1.1 with that fix.

[2021-04-07 09:28] #2247 closed

[2021-04-07 09:48] muvaf commented on #2235
@MisterMX does `go-mock` make sure the calls are made in that order? For example, does it fail if `GetSecretValueWithContext` is called before `DescribeSecretWithContext`?

[2021-04-07 18:01] iAnomaly opened #2249 "Claim (and Composite) crossplane.io/external-name annotation not updating"
### What happened?

1. I created a claim without a `crossplane.io/external-name` annotation
2. I try to add `crossplane.io/external-name` to the claim via Helm OR just via `kubectl edit <claim>` but the annotation doesn't apply.
3. Querying the claim or the composite for the annotation results in an empty value:
`kubectl get <claim> <name> -o=jsonpath='{.metadata.annotations.crossplane\.io/externa

[2021-04-07 18:58] displague commented on #950
https://github.com/kubernetes-sigs/controller-tools/pull/298 seems relevant

[2021-04-08 01:18] plentifullee commented on #2247
Good to know, thanks!

[2021-04-08 01:19] hasheddan commented on #2247
@plentifullee v1.1.1 release is now live as well :)

[2021-04-08 11:00] muvaf commented on #2249
Is there something continuously doing `kubectl apply` to your claim? I don't think there is code in Crossplane that makes changes in the annotations of the claim instance.

FWIW, I'd suggest setting the external name annotation during creation because once managed resources are created, they start reconciling with what's in the annotation right away. Adding the annotation after creation would caus

[2021-04-08 14:07] nabadger commented on #1722
Option A) looks really nice from a UX point of view. :+1:

We use Terraform spin up our core-infra (VPCs, EKS and currently Buckets/Databases too), and as part of a possible migration to Crossplane, I would like to use it for common application resources (Buckets, Databases, Cache etc).

I don't yet want Crossplane to manage the VPC creation, but I do want to reference it when building a new compo

[2021-04-08 16:07] RealHarshThakur commented on #1722
I think Option A is good. Although, I would incline towards having an immutable field in spec because implementation of a webhook to ensure the immutability of the filed can be used by other components in crossplane ecosystem while defining CRDs. Although, we have to enable a mechanism if the end user changes their mind about resource being reconciled by crossplane. Maybe a special command from cr

[2021-04-08 16:11] mf-lit opened #2253 "Secrets not populated for composite resources"
I'm having trouble getting secrets to populate for a composite resource and can't see why. This particular XR is for SQS queues, we have other XRs (for IAM and RDS for example) that have no problem with this. (So I guess this might be an issue with the provider not crossplane-core, but opening it here since I'm unsure).

<details>
<summary><code>claim</code></summary>

[code]

</details>

<details

[2021-04-08 17:29] iAnomaly commented on #2249
No, nothing that I can think of is doing regular mutations to this claim. I would expect to see my `kubectl edit` changes very briefly at least even if there were something else mutating it.

Agreed that we would set the external-name during creation whenever we can, but what concerns me about this case is if we adopt Crossplane at our organization and find some stateful production resources were

[2021-04-08 19:58] #2190 closed

[2021-04-09 00:08] negz commented on #2253
Hrm, it certainly seems like your configuration is all correct. I see that:

1. Your XRD declares that it writes the `endpoint` connection secret key.
2. Your Composition sets `endpoint` from the SQS queue's `endpoint` key.
3. The SQS queue appears to set an `endpoint` key.

Is the SQS queue secret definitely writing the `endpoint` key and not some other (I see that there's one data entry set). If

[2021-04-09 00:52] negz opened #2255 "Support typed ProviderConfig references"
### What problem are you facing?

Currently Crossplane managed resources reference a `ProviderConfig` by name alone. The key consumer of config is the provider code, where the type (i.e. GVK) of the `ProviderConfig` is fixed. Other API consumers do not have enough information to resolve an arbitrary managed resources' `spec.providerConfigRef` to a particular config; for example a web console could

[2021-04-09 08:20] mf-lit commented on #2253
Thanks for taking the time to review my config @negz , I was sure it must have been something I'd done.

To answer your question, the endpoint key is definitely there.

If I can provide any further debugging info, let me know.

[code]

[2021-04-09 10:02] srueg opened #2256 "Composite Reconciler Performance"
### What happened?

I did some further tests and debugging and it seems the limiting factor in our case is not the concurrency of the reconciler but the default rate limiter `DefaultControllerRateLimiter`: https://github.com/kubernetes/client-go/blob/v0.20.1/util/workqueue/default_rate_limiters.go#L39

With around 2000 composites it takes on my local k3d cluster >6 minutes to reconcile all of them

[2021-04-09 12:04] hasheddan commented on #2191
@jbw976 @negz @bassam tagging steering committee members here, I would be happy to open a proposal for this for review 👍

[2021-04-09 12:12] hasheddan opened #2257 "Consider publishing version markers"
### What problem are you facing?

Currently Crossplane supports installation from the `stable` and `master` channels, with the former being the latest release (not necessarily the latest version), and the latter being the latest build from the `master` branch. Because we are [now maintaining the most recent 3 minor versions](https://crossplane.io/docs/v1.1/reference/release-cycle.html), that means

[2021-04-09 18:44] displague opened #2258 "Document best practice for external resource updates that require delete + create"
### What problem are you facing?

I was looking for guidance in https://github.com/crossplane/crossplane/blob/master/design/one-pager-managed-resource-api-design.md on how best to handle a resource spec property that would require the remote resource to be deleted and recreated.

My expectation in this case was that the field would act like a Terraform `ForceNew` field.  The users intention to cha

[2021-04-09 19:22] muvaf commented on #2257
This is related to what `helm install crossplane --namespace crossplane-system crossplane-stable/crossplane` would select when you don't give `--version` flag, right? How does version markers affect that workflow?

[2021-04-09 19:27] hasheddan commented on #2257
I don't know if it necessarily changes the workflow, but it could allow for things like `helm install crossplane --namespace crossplane-system crossplane-stable/crossplane --version $(curl <releases-url>/latest-1.0.txt)`. I don't think helm has any native support for something like "install the latest patch of this minor version". This is likely most useful for the automated testing scenario where

[2021-04-09 19:41] displague commented on #2258
https://github.com/crossplane/crossplane/blob/master/design/one-pager-managed-resource-api-design.md#immutable-properties gets close to discussing these concerns. It occured to me to search for "Immutable Infrastructure" after creating this issue.

[2021-04-09 19:41] muvaf commented on #2257
Got it, sounds good to me.

[2021-04-09 19:44] muvaf commented on #2255
Using kubebuilder defaulter marker sounds good and doesn't affect the UX much for human interaction.

[2021-04-09 21:05] #2202 closed

[2021-04-10 00:14] bassam commented on #2191
Thanks - @jbw976 are you able to take this one?

[2021-04-12 07:09] srueg commented on #2256
Another side effect of the low reconcile interval and many resources is a very high number of events which get generated. Each reconcile run for each composite creates 2 events, even if nothing changed/updated: `Successfully selected composition` and `Successfully composed resources`. With 2000 composites and an interval of 1 minute this means an average of over 65 events per second.

[2021-04-12 21:58] rozcietrzewiacz commented on #2096
I think Option 1 gives much more flexibility and would fit well in more crossplane adoption scenarios. For instance:

-  While one team within an organization (let's call them team A) is building a platform using Compositions, another (let's call them B) might already start importing bare managed resources. Once team B is ready to adopt (parts of) the platform composed by team A, they would be loo

[2021-04-12 22:12] rozcietrzewiacz commented on #1243
Creating CRs based on given external resources is only half of the problem imho. An even harder thing would be to assure 1:1 configuration parity, including resource linking (such as assigning managed services to the right vpc/security group) that's represented in terraform code. This also ties in with the concept of generic resource references (#1770).

[2021-04-13 03:53] negz opened #2262 "[v2] Introduce a `ManagedResourceDefinition` type"
### What problem are you facing?

An unintended (but nice) property of Crossplane's `CompositeResourceDefinition` (XRD) type is that it gives us a Crossplane specific artifact representing the existence of a Crossplane specific class of resource (i.e. Composite Resources or XRs). This means it's possible for a subject to walk the tree of Crossplane resources from a `Configuration` to a `Configurat

[2021-04-13 03:55] negz commented on #2262
This proposal has a bunch of implications, e.g.:

* Would we have a provider package up a bunch of Managed Resource Definitions (MRDs) instead of CRDs?
* Would we need a controller that created a CRD for every MRD it saw?
* Would we need to make controller-tools generate MRDs from Crossplane types, instead of CRDs?

[2021-04-13 05:50] negz opened #2263 "Late initialize XRC spec.compositionRef"
### What happened?

A composite resource claim (XRC) is a namespaced proxy for a composite resource (XR). Both types have an almost identical schema. When an XRC is created an XR is typically created in response, and the claim's `spec.compositionRef` and `spec.compositionSelector` are propagated to the XR. Currently if you create a claim with only a composition selector, or with neither a referenc

[2021-04-13 10:16] muvaf commented on #2262
I'm trying to gauge whether it's worth taking on the added mental complexity of additional proxy types. Is the following list of benefits for MRDs complete?
* Instead of `list, get all CRDs` RBAC rules, they will be able to work with `list, get all MRDs`.
* When the explorers tries to figure out how to query instances of managed resources, they can go from `Provider -> ProviderRevision -> MRDs ->

[2021-04-13 21:51] rozcietrzewiacz commented on #1243
@negz I see you've changed the title to omit explicit reference to Terraform - I assume this was in relation to your last comment

However I think that a generic import tool would better be tackled separately. Consider that terraform code:
 - often adds extra information (eg. linking/relations between resources) that might otherwise not be expressed through vendor APIs,
 - provides a standardized

[2021-04-14 21:32] esn89 opened #2266 "Composite resource in tutorial for GCP postgresqlinstance is never ready."
### What happened?

I followed the bootstrapping steps here to get started and to play around with Crossplane:
https://crossplane.io/docs/v1.1/getting-started/install-configure.html#using-self-hosted-crossplane

I did the GCP version which involved this step:
`kubectl crossplane install configuration registry.upbound.io/xp/getting-started-with-gcp:v1.1.1`

I have done all the steps and moved onto

[2021-04-15 01:19] jbw976 commented on #2266
Hey there @esn89! Underneath that composite resource will be some lower level resources that directly map to the cloud provider services - e.g. CloudSQL.

You can get some more information by showing all managed resources with:
[code]

Does a CloudSQL instance show up there? there may be an event or status condition on that resource that tells you the underlying root cause here.  You may be able t

[2021-04-15 17:45] rozcietrzewiacz commented on #1243
@negz Here's another argument why using terraform as a source serves different scenarios: Consider a case where parts of infrastructure belong to different projects even though they are provisioned under the same provider account. On the terraform side, they live in separate git repos, but on the provider side, you don't see that grouping.

For such case it's not useful to rely on a tool that iden

[2021-04-15 19:22] esn89 commented on #2266
Thanks.  I found the issue with your `describe` command.  Turns out it was a policy @ Org-level which won't let me have a public IP.

By the way, I am missing something for my PostgreSQL instance, for the `kind: CloudSQLInstance`:

I have set:
[code]

When I do:
`kubectl get secrets db-creds -n backend -o yaml`

I get most of the fields, including `username`, but the `password` is no where to be f

[2021-04-15 19:54] jbw976 commented on #2266
Good question.  I'd expect password to be there also, since it's defined as part of the composition: https://github.com/crossplane/crossplane/blob/master/docs/snippets/package/gcp/composition.yaml#L43

Take a look at the other secrets in the `crossplane-system` namespace - does the password show up in the secret for the CompositePostgreSQLInstance? Does password show up in the secret for `CloudSQL

[2021-04-15 20:17] esn89 commented on #2266
@jbw976
Oh sorry, I forgot to tell you that I skipped the composite for now.  I am using a regular `CloudSQLInstance` like so:

[code]

In this case, the password does not show up in the `db-creds` secrets in the `backend` namespace.

[2021-04-15 22:26] muvaf commented on #1243
In order to import a resource, the following information should be given at the bare minimum:
* Service type
* Identifier in the cloud provider, i.e. the value for `crossplane.io/external-name` annotation
* Additional values that are required for `GET` call (for example, `region` is required in some cases)

The provider-specific tool can query the API and get the required fields and then create a

[2021-04-16 01:36] jbw976 commented on #2266
Ah I see you're using CloudSQLInstance directly now. Reviewing the code again now, it seems like we'll try to generate a password after creating the database instance here: https://github.com/crossplane/provider-gcp/blob/master/pkg/controller/database/cloudsql.go#L150-L168

are there any events or status on this CloudSQLInstance that would indicate that creating the initial root user and password

[2021-04-16 18:04] esn89 commented on #2266
@jbw976

Correct, I am using the CloudSQLInstance directory for the time being.

I haven't had such luck with the events, I have ran the describe on the DB:
`kubectl describe cloudsqlinstances my-db`

[code]

It looks pretty clean to me.  The initial `root` user (the username) is created successfully, I can see that in my secrets:

`kubectl get secrets db-creds -n backend -o yaml`

[code]

[2021-04-19 12:58] muvaf commented on #2249
@iAnomaly you can expose a field in the claim and propagate it to `external-name` of the composed resources you'd like so that it's there during the creation.

[2021-04-19 17:10] iAnomaly commented on #2249
Yep, that's what I'm doing as the workaround @muvaf. I'm using just `external-name` and patching that to `crossplane.io/external-name`.

Still, I've seen mixed behavior with how `crossplane.io/external-name` on a claim seems to work sometimes. I'll try to reproduce consistently when I have time, but it might be that it works for Composites with a single resource but fails with > 1 resources.

[2021-04-20 02:26] negz commented on #2262
It's mostly RBAC. The only other potential pros I could think of are:

* Having a nice tightly scoped, Crossplane specific proxy type is arguably a better user experience when trying to list _types_ (not instances) than trying to filter CRDs.
* It could be a place to put guard rails on provider opinions; e.g. I could imagine either the package manager or an admission control webhook ensuring that

[2021-04-20 16:53] muvaf commented on #2096
FWIW, both options are possible today. We're just trying to see which is the best UX to talk about in the documentation.

[2021-04-20 18:50] muvaf commented on #2258
In Terraform, there is no user-facing object that represents the current state. The way it works is that you provide a desired final state and it calculates the steps to get to that state, then apply them. Identifier change after a recreate could be a part of the script that's calculated. Additionally, they don't promise any guarantee around the state file and its being source of truth at any poin

[2021-04-22 18:39] RealHarshThakur commented on #1243
@muvaf I think it would be nice if we can let user point to the GCP service and we import all the instances in crosspalne. For instance, if user wants to import all CloudSqlInstances, crossplane should be able to do that, it seems like most APIs have the `list` option to help with [that.](https://cloud.google.com/sql/docs/mysql/admin-api/libraries) . An example would look like:
`crossplane import-

[2021-04-23 07:35] MisterMX commented on #2235
@muvaf no, I don't think so. I just tested it with the code above and still passed. My custom solution also does not provide it.

Would you consider it an important feature?

[2021-04-26 14:48] rochaporto commented on #267
Yes, i'm working on this. I'm particularly interested in instantiating kubernetes clusters (with Magnum) so will push that first.

[2021-04-27 14:16] #2116 closed

[2021-04-28 15:13] stevendborrelli opened #2279 "Add support for building on M1 apple Silicon"
### What problem are you facing?
The build process for submitting pull requests in https://github.com/crossplane/crossplane/blob/5bf01691dfb914df79962bf6bd830d2a3cd98942/CONTRIBUTING.md#establishing-a-development-environment doesn't work on Apple Silicon-based Mac computers.

### How could Crossplane help solve your problem?
Update the `cluster/local/kind.sh` script to:
- support ARM64 targets
- u

[2021-04-28 15:29] stevendborrelli commented on #2279
Resolving this depend ons upstream PR https://github.com/kubernetes-sigs/kind/pull/2176.

[2021-05-03 22:49] negz opened #2284 "Can't delete XRD due to missing "DeleteOptions""
### What happened?

When deleting an XRD I'm seeing the following event, and my XRD refuses to delete.

[code]

Interestingly I never actually created any XRs using this XRD.

### How can we reproduce it?

Here's the XRD I'm using:

[code]

This is the first time I'm testing composition with a Kubernetes cluster newer than 1.16. Perhaps this is due to the newer Kubernetes version I'm running?

###

[2021-05-03 22:58] negz commented on #2284
It's worth noting we're using `DeleteAllOf` from controller-runtime on the offending line, and it's the only place we use `DeleteAllOf` in our codebase.

https://github.com/crossplane/crossplane/blob/d04a059fe341a941760a3a94ef07085ae7158365/internal/controller/apiextensions/definition/reconciler.go#L299

[2021-05-03 23:12] negz commented on #2284
Did a little digging. I can't immediately find any related issues on controller-runtime or the greater Googles. I've determined that this was a regression between Crossplane v1.1.1 and v1.2.0. I can reproduce it on both Kubernetes v1.16.15 and v.1.20.2 using Crossplane v1.2.0.

[2021-05-03 23:23] negz commented on #2284
Hrm, I had hoped to blame some underlying controller-runtime or API machinery changes between 1.1.1 and 1.2.0 but as far as I can tell none of that changed. 🤔 https://github.com/crossplane/crossplane/compare/release-1.1...release-1.2#diff-33ef32bf6c23acb95f5902d7097b7a1d5128ca061167ec0716715b0b9eeaa5f6

[2021-05-03 23:30] negz commented on #2284
Worth noting that we did go from crossplane-runtime ~v0.12 to v0.13, which bumped its version of `k8s.io/apiextensions-apiserver` from v0.18.6 to v0.20.1.

[2021-05-04 00:05] negz commented on #2284
[code]

[code]

I've confirmed there were negligible differences in the Kube dependencies between v1.1.1 and v1.2.0.

[2021-05-04 00:09] negz commented on #2284
It's also worth noting that the actual error is really weird

[code]

I'm _pretty sure_ `DeleteOptions` is not something that you'd expect to be registered with a scheme, and never existed as a type in the `admissionregistration.k8s.io` API group.

[2021-05-04 00:22] negz commented on #2284
It seems like it was not the crossplane-runtime bump. I've tested the commit that made the bump and everything works fine.

[2021-05-04 00:26] negz commented on #2284
I went through a bit of a manual `git bisect` and I believe the issue was introduced in https://github.com/crossplane/crossplane/pull/2160. I can reproduce it after this PR was merged, but not before.

[2021-05-04 00:38] negz commented on #2284
The above PR switches us over from adding Crossplane specific types to the default controller-manager scheme (which appears to be https://github.com/kubernetes/client-go/blob/master/kubernetes/scheme/register.go#L72) to the (recommended) approach of creating our own scheme and adding what we need. Notably `admissionregistrationv1` is added to the default controller-runtime scheme, but not our new

[2021-05-04 01:12] negz commented on #2284
Well it's definitely something to do with how we're using the scheme. If I make this following changes to 4e8f3591b72012266894d42d5b26fa741f0d4bb9 it all works as expected:

[code]

[2021-05-04 02:28] negz commented on #2284
I believe somehow, somewhere, we're missing a call to `metav1.AddToGroupVersion`, which would register `DeleteOptions` with the scheme per https://github.com/kubernetes/apimachinery/blob/v0.20.1/pkg/apis/meta/v1/register.go#L66.

That said, it's not clear to me how the [apiserver-apiextensions scheme](https://github.com/kubernetes/apiextensions-apiserver/blob/7537a765248141dadcfd216ca03c0a09260c3a

[2021-05-04 08:53] #2284 closed

[2021-05-05 11:11] muvaf commented on #260
For future reference, [provider-helm](https://github.com/crossplane-contrib/provider-helm) is what we use to schedule apps to remote clusters now.

[2021-05-05 15:47] bandesz commented on #2197
Just leaving a note here about seeing the same issue. I was upgrading provider-aws from 0.16 to 0.18.

I've got the following errors:
[code]

Deleting the CRDs didn't help as they were recreated shortly containing the same old versions.

The only way I could fix this was deleting the old provider revision.

@hasheddan does this mean, that the only way currently to safely upgrade a provider like th

[2021-05-06 10:35] alexandru-crossover opened #2290 "Composite resource claim status does not get updated when creating multiple resources"
### What happened?
We are currently using XRCs with a simple XR that combines an SNS topic and a subscription. Quite often we are noticing that the XRC status gets stuck and it does not transition to a Ready state even if the corresponding SNSTopic and SNSSubscription resources are ready. This happens mostly when we have multiple resources created at the same time, but it's not always reproducible

[2021-05-06 12:49] alexandru-crossover commented on #2290
Updates to the TopicSubscription `revisionID` happen every 5 to 60 secondsm with the `reason` field alternating between `Composite resource claim is waiting for composite resource to become Ready` and `cannot update composite resource: Operation cannot be fulfilled on compositetopicsubscriptions.core.devflows.io "alex-dev-test-050651-s4q9v": the object has been modified; please apply your changes

[2021-05-06 15:00] nbenaglia opened #2291 "RDSInstance: missing masterUsername in secret"
### What happened?

In a RDSInstance manifest I specified the **writeConnectionSecretToRef** as specified in API (https://doc.crds.dev/github.com/crossplane/provider-aws/database.aws.crossplane.io/RDSInstance/v1beta1@v0.16.0#spec-writeConnectionSecretToRef):

[code]

The created secret doesn't contain the masterUsername as instead expected:

[code]

### What environment did it happen in?
Crossplan

[2021-05-06 15:05] displague commented on #1722
https://cloud-native.slack.com/archives/C01DCV0BS9H/p1620300219023400

A user looking for a way to "pause" the reconciliation of a single resource may look to this feature to toggle behavior.

For this "pause" behavior, a user may not want the spec or status to be updated while reconciliation is paused. Should this pause feature be handled in a different way?

Dropping a deployment's replica scale

[2021-05-07 07:36] nbenaglia commented on #2291
Moved this issue to: https://github.com/crossplane/provider-aws/issues/658

[2021-05-07 07:36] #2291 closed

[2021-05-07 08:21] benagricola opened #2295 "Default Provider Service Account always created when overridden in ControllerConfig"
### What happened?
Configuring `provider-aws` to use an existing IRSA-configured service account using the following `ControllerConfig`:

[code]

We end up with our existing `crossplane-aws-provider` as well as an [automatically created](https://github.com/crossplane/crossplane/blob/d04a059fe341a941760a3a94ef07085ae7158365/internal/controller/pkg/revision/deployment.go#L40) service account, which

[2021-05-07 13:28] haraldatbmw opened #2297 "Crossplane 1.2.x init-container fails if istio service-mesh is in place"
### What happened?
I'm running crossplane in my k8s cluster where istio service-mesh is in place too. So all connectivity is handled by a istio-proxy sidecar container.

I tried to update from crossplane 1.1.1 to 1.2.1 without success.
The new `crossplane-init` container created an error: `cannot initialize crossplane: cannot create new kubernetes client: Get "https://172.20.0.1:443/api?timeout=32

[2021-05-07 13:36] haraldatbmw commented on #2297
Related istio-issue: https://github.com/istio/istio/issues/32039

[2021-05-07 21:43] negz commented on #1119
Stacks don't exist anymore, and we don't currently return an icons array so I'm going to close this out.

[2021-05-07 21:43] #1119 closed

[2021-05-08 23:56] muvaf commented on #2290
Hmm it could have to do with patching `metadata.name`, which we don't really suggest doing. Could you try with removing those patches? You can patch `metadata.annotations[crossplane.io/external-name]` to choose the name of the resource in the provider, or in this case only `spec.forProvider.name` for `SNSTopic` would be enough since it seems external-name is made up of ARN for that resource.

[2021-05-08 23:58] muvaf commented on #2211
@ulucinar would you be interested in tackling this issue? It touches one of the lower level libraries that composition uses, so it'd be a great chance to expose yourself to composition internals.

[2021-05-09 00:05] ulucinar commented on #2211
Hi @muvaf,
Thank you for bringing this up. Yes, definitely it looks like a good opportunity.  I'm assigning it to myself then.

[2021-05-10 07:47] alexandru-crossover commented on #2290
@muvaf I've removed the `metadata.name` patches and used the `topicArnSelector`:
[code]

This did not help. The `TopicSubscription` status still does not get updated and the same `the object has been modified; please apply your changes to the latest version and try again` messages can be seen in the logs.

I'm also seeing some `Composite resource spec or metadata was patched - terminating reconcil

[2021-05-10 17:19] muvaf commented on #40
I don't think this is relevant anymore. We use the format of the `~/.aws/credentials` file in credentials secret.

[2021-05-10 17:19] #40 closed

[2021-05-11 12:01] bandesz opened #2300 "ToCompositeFieldPath patch doesn't do anything"
### What happened?

Tried to use the "ToCompositeFieldPath" patch type to update back some status.atProvider fields to the claim's status. The fields don't get created on the status subresource.

Am I using it wrong?

### How can we reproduce it?

Composition:
[code]

XRD:
[code]

Claim:
[code]

Key resource:
[code]

### What environment did it happen in?
Crossplane version: v1.2.1
AWS provider: v

[2021-05-11 12:11] janwillies commented on #2300
You need to specify the status subresource in the xrd:
[code]

[2021-05-11 12:22] bandesz commented on #2300
@janwillies ah, of course, how else would Crossplane be able to set it. Thanks for pointing it out!

It's a shame, that Crossplane just ignores these patches without a warning event.

[2021-05-11 12:33] bandesz opened #2301 "ToCompositeFieldPath patches are ignored if the target status fields are not defined"
### What problem are you facing?

I tried to use ToCompositeFieldPath without adding the target fields to the status sub-resource in the XRD and was confused why the patches weren't working. (See https://github.com/crossplane/crossplane/issues/2300)

Didn't mark this as a bug, but might be considered one.

There were no warnings in the Kubernetes events and it wasn't immediately clear what I was d

[2021-05-11 16:36] fsniper opened #2302 "Provide a way to use composed resource fields in connectionDetails"
### What problem are you facing?
I am currently working with xrds and composites with provider-sql. The composed resources (database.postgresql) gets a generated name to prevent resource collisions. As Crossplane resources are cluster scoped, naming can be an issue unless random strings are used.

Here I would like to have the composite define connection secrets with values from  composed_resource

[2021-05-12 00:40] negz commented on #2301
Thanks for raising this @bandesz! I agree that documenting this behaviour is the minimum bar. Anything beyond that (e.g. emitting events) could be tough, because the code that is trying to do this patching doesn't currently parse the schema of the thing it is patching to have knowledge of whether it's doing something sane.

Getting the code doing the patching that information - or even validating

[2021-05-12 09:56] alexandru-crossover commented on #2290
The issue is also reproducible on version 1.2.1.

Any other info/tests that I can do to further debug this?

[2021-05-13 17:23] mf-lit opened #2303 "Extremely slow reconcilliation of Managed Resource"
### What happened?

We're seeing very long reconcilliation times with an MR that depends on other MRs in the same composition.

In this case the composition is built from an IAMRole, IAMPolicy and IAMRolePolicyAttachment. The IAMRole and Policy MRs reconcile in a matter of seconds as expected, but the IAMRolePolicyAttachment can take 45 minutes to reconcile.

The IAMRolePolicyAttachment uses the a

[2021-05-14 06:28] tohjustin commented on #727
Seems like kubernetes/enhancements#1341 was closed due to inactivity & didn't made it into https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1101-immutable-fields.

Any updates on this?

[2021-05-14 13:07] chlunde opened #2304 "Explain how to enable the debug flag in the troubleshooting-doc"
### What problem are you facing?
I wanted to enable debug logging. I went to the troubleshooting doc, and thought I had to modify the provider deployment and pause crossplane to do it. It turns out there is a CRD for it..

### How could Crossplane help solve your problem?
Add example under troubleshooting docs
[code]

[2021-05-14 13:25] hasheddan commented on #2303
@mf-lit this reconciliation is actually taking place in `provider-aws`, so turning on debug mode there and observing logs could provide some more information. Between the last event emitted for `CannotResolveResourceReferences` were there any updates made to the claim / composition / managed resource?

[2021-05-14 17:56] chlunde commented on #2303
We saw this often, _until_ I tried to debug it. Now I cannot reproduce it with a single RedisCluster composition :cry:

I _think_ the difference might be that I cleaned up a lot of managed resources and compositions, some of which were broken. But I also upgraded to 1.2.1 today.

But one issue still remains, which hints that this *might* be related to the number of resources or compositions:

If I

[2021-05-14 18:35] chlunde commented on #2303
This *may* be the same issue as #2290

[2021-05-15 00:37] negz opened #2307 "Propagate annotations from package meta to revision"
### What problem are you facing?

https://github.com/crossplane/crossplane/blob/c5aa27/design/one-pager-package-format-v2.md#additional-metadata

Past negz told me through the medium of design documents that annotations in a package's `crossplane.yml` file would be propagated to the corresponding `ProviderRevision` or `ConfigurationRevision`, but that is in fact a lie. There's no code in Crossplan

[2021-05-16 09:18] morningspace commented on #1992
Hi @hasheddan a quick question re: ttps://github.com/upbound/platform-ref-aws. It appears the Prometheus there is installed using provider-helm. Have people in the community discussed sort of provider that supports [operator](https://github.com/operator-framework)-based install? This would be a helpful as we have lots of apps installed using go-operator.

[2021-05-16 14:26] jbw976 commented on #1992
@morningspace i think operator-framework based operators are exactly what this community provider-in-cluster is solving: https://github.com/crossplane-contrib/provider-in-cluster

take a look at that! :)

[2021-05-16 15:52] morningspace commented on #1992
@jbw976 That is awesome... I am seeing it declares that in-cluster provider supports OLM. I will try it and get back here where there's any further query. Thanks!

[2021-05-19 13:18] hasheddan commented on #2212
@haraldatbmw I believe this may be fixed by https://github.com/crossplane/crossplane-runtime/pull/259. This should be present in `crossplane-runtime v0.14.0` and will be included in subsequent provider releases 👍

[2021-05-19 20:00] negz opened #2313 "Alpha APIs should be disabled by default"
### What problem are you facing?

Crossplane itself is now v1.x, but so far all extant providers (to my knowledge) are still at v0.x. Most of the larger providers are a mix of beta and alpha APIs. Providers are generally careful to avoid breaking changes to beta APIs, but there is no contract for alpha APIs.

Meanwhile, the process of updating from one version of a provider to another - by design

[2021-05-19 20:25] hasheddan opened #2314 "Deprecate v1beta1 pkg and apiextensions APIs"
### What problem are you facing?

I don't think we officially marked v1beta1 pkg and apiextensions APIs as deprecated.

### How could Crossplane help solve your problem?

We should deprecate them in the `v1.3.0` release to start the 3 release cycle for removal.

[2021-05-20 16:11] #2304 closed

[2021-05-20 19:39] muvaf commented on #2279
Seems like the PR you referred is merged and there is a new [release](https://github.com/kubernetes-sigs/kind/releases/tag/v0.11.0) including it. @stevendborrelli Would you mind testing it and updating kind version wherever needed?

[2021-05-20 19:53] tricky42 opened #2317 "Add support for gcp.compute.Firewall, gcp.compute.RouterNat and gcp.compute.Router"
### What problem are you facing?
We cant to switch from Pulumi to Crossplane for managing our infrastructure. So far we can switch fully as not all needed resources are supported by the Crossplane GCP provider:

* gcp.compute.Firewall
* gcp.compute.RouterNat
* gcp.compute.Router

We are using private GKE clusters and use Router and RouterNat to enable access to DockerHub until we have proxy the ne

[2021-05-21 01:51] hasheddan opened #2318 "Support package registries with custom certificate authorities"
### What problem are you facing?

Currently, we use the `go-containerregistry` [remote pkg](https://github.com/google/go-containerregistry/tree/main/pkg/v1/remote) as our client to fetch package manifests and images from OCI registries. It uses the `http.DefaultTransport`, meaning that it loads the default system certificates. This precludes fetching packages from private registries that may use c

[2021-05-21 04:00] negz commented on #2317
Thanks for the feature requests @tricky42! I'll move this over to provider-gcp, where these features would be implemented.

[2021-05-21 11:55] hasheddan opened #2319 "Support providing package pull credentials via methods other then secrets"
### What problem are you facing?

Currently, packages can be pulled from private repositories by providing credentials in the form of a Kubernetes `Secret` that is [referenced](https://doc.crds.dev/github.com/crossplane/crossplane/pkg.crossplane.io/Provider/v1@v1.2.1#spec-packagePullSecrets) from the `Configuration` or `Provider`. This works well, but requires that users provide credentials via th

[2021-05-21 13:37] hasheddan opened #2320 "Remove / do not add finalizer from Lock if empty"
### What problem are you facing?

Currently we [add a finalizer](https://github.com/crossplane/crossplane/blob/1f692aaf09d2d03162b38007e8c9ae01964dfc8b/internal/controller/pkg/resolver/reconciler.go#L178) to the singleton `Lock` resource that tracks our dependencies and we _never_ remove it. This guards against a user accidentally deleting the lock and changing dependency ordering, but makes it di

[2021-05-21 18:39] muvaf opened #2322 "Revise docs to start with bare composition YAMLs instead of packages"
### What problem are you facing?

When users start reading our getting started docs, they start with installing a `Configuration` that contains XRDs amd `Composition`s. Then they move on to creation of the infra using that abstraction because we wanted to provide the fastest way to get users use composition.

However, we're getting feedback that this flow might be causing people assume that the pa

[2021-05-21 19:05] chlunde commented on #2290
I had the same issue with `Composite resource spec or metadata was patched - terminating reconcile early`, but I'm not sure if it is the same issue, but I also use `ToCompositeFieldPath` with a `status` field:

[code]

I tried the following patch:

[code]

To run with a patch:

[code]

[2021-05-21 20:38] negz commented on #2322
Are we at a place where we can actively gather and consolidate feedback from the community about our docs before another refactor? I like the idea of evolving the docs, but it feels like we do a big reordering/refactor once every 2-3 releases and I'm not convinced we're reacting to strong signals vs reacting to 1-2 data points each time.

I see the point in explaining composition sooner, but this

[2021-05-21 20:40] negz commented on #2322
Cross-linking to the last iteration of changes: https://github.com/crossplane/crossplane/pull/2166

[2021-05-21 21:01] #2320 closed

[2021-05-22 13:40] hasheddan opened #2323 "Lock can be lost on upgrades (or a while after upgrades)"
### What happened?

In #2321 we added functionality to remove the `finalizer` on the singleton `Lock` when the number of installed packages == 0. This makes it simpler to uninstall Crossplane and delete its CRDs without having to manually remove a finalizer. However, as exposed in the test mentioned below, upgrading from a version prior to `v1.2.0` (where we switched to managing our CRDs via init

[2021-05-22 13:50] muvaf commented on #2323
Does that mean that people who installed configurations or providers via helm install will loose those CRs when they upgrade to 1.2.x?

[2021-05-22 13:53] hasheddan commented on #2323
@muvaf I have not verified, but it sounds like it is possible that they could. The `initContainer` should recreate them, but any CRs for CRDs in that package would have been lost.

[2021-05-22 14:06] muvaf commented on #2323
I will test installing 1.1.x with provider CRs, create a few CR and then upgrade to 1.2.x with `--reuse-values`. If we lose any CR or CRD, then it's probably a showstopper for 1.2.x.

[2021-05-22 16:21] muvaf commented on #2323
I am able to reproduce this issue for all CRs we create during installation of 1.1.x. Fortunately, helm allows you to keep resources by adding an [annotation](https://github.com/helm/helm/issues/7839#issuecomment-605884428): `helm.sh/resource-policy: keep`. So we can add a section to `Upgrading to 1.2.x` doc with the following command that will add this annotation to all `Lock`, `Provider` and `Co

[2021-05-22 16:29] hasheddan commented on #2323
@muvaf this sounds pretty good to me, especially given that anyone who starts out with v1.2.x will not run into this problem and only folks that installed the packages alongside Crossplane will experience the issue on prior versions. Since the `Lock` will only be removed in the case that it was empty I am also adding the functionality for revisions to create the `Lock` if it does not exist as this

[2021-05-22 16:31] muvaf commented on #2323
I think even if the `Lock` doesn't disappear, it gets the `deletionTimestamp`, so just to be on the safe side I'll suggest everyone to run these commands.

[2021-05-22 16:32] hasheddan commented on #2323
Yes it will 👍 Which means if all packages later were uninstalled the `Lock` could get deleted.

[2021-05-22 16:49] #2323 closed

[2021-05-23 20:31] psinghal20 commented on #2237
Hi @hasheddan, I would be interested in taking this issue up. I believe the code for the cli lives in `cmd/crank`. I will start taking a look into it. Please let me know if you have any ideas regarding this. :slightly_smiling_face:

[2021-05-24 03:07] p-null opened #2329 "Add Rancher2 Provider for Crossplane"
### What problem are you facing?

Rancher is a popular choice for users who would like to provision K8s clusters on bare metal machines or VPSs that are not from a cloud provider.

However, crossplane currently has not added support for provisioning cluster resources via Rancher yet, thus users can not create/update/delete RKE clusters from Crossplane.

### How could Crossplane help solve your pro

[2021-05-24 19:28] #2307 closed

[2021-05-24 23:32] stevendborrelli commented on #2279
I've been testing the build targets. It mostly works but there are a few issues I am tracking down, including the go-junit tool not being downloaded.

[2021-05-25 12:06] chlunde commented on #2290
@muvaf do you think it would be OK with a PR implementing something like suggested in the comment above?

[2021-05-25 15:02] psinghal20 commented on #2237
Hi @hasheddan, I found the cause of this silent failure here which was due to `ctrl.GetConfigOrDie` function call which triggered a call to `os.Exit(1)` in case of any errors. I have replaced these with their error returning variants, for better error handling. I wanted to know if I should go ahead in adding a `verbose` flag and logging statements in different commands for each step.

[2021-05-26 16:24] chlunde commented on #2290
@muvaf I can't reproduce it any longer after upgrading to v1.19.8-eks-96780e..

@alexandru-crossover Do you run on kubernetes k8s 1.18.x or older?

[2021-05-26 17:05] stevendborrelli commented on #2322
+1 on @negz comment. I feel like we should do some more research with users to see how they approach the documentation and what roadblocks they face.

[2021-05-26 19:27] turkenh commented on #2322
Gathering more feedback would be good, however, I would already agree with the problem statement.

FWIW, the above statement sounds like trying to teach k8s concepts by instructing how to package & deploy resources with helm :)

[2021-05-26 19:33] negz commented on #2322
I think if we just stopped at deploying the resources then never explained them that would be a problem. However in many cases folks like to see the thing working _first_ to help them understand the goal and see the value, then proceed to see how it was done.

Again - this is all super subjective so if at all possible I'd like us to try understand the best flow for the most people.

[2021-05-27 09:19] muvaf commented on #2322
FWIW, the last [iteration](https://github.com/crossplane/crossplane/pull/2166) didn't make changes regarding the issues mentioned here. I had some [concerns](https://github.com/crossplane/crossplane/pull/2166#pullrequestreview-601218392) back then as well. When you look at different versions of the docs since we introduced compositions, we never had a `Quick Start to Composition` guide since [v0.1

[2021-05-28 14:39] rozcietrzewiacz opened #2335 "Composition patches: Introduce a method to iterate over arrays of objects"
### What problem are you facing?

Some managed resources include arrays of `Object` type. Some examples:
 - `ResourceRecordSet` in `route53.aws.crossplane.io/v1alpha1` at [`spec.forProvider.resourceRecords`](https://doc.crds.dev/github.com/crossplane/provider-aws/route53.aws.crossplane.io/ResourceRecordSet/v1alpha1@v0.18.1#spec-forProvider-resourceRecords) (single field "value")
 - `FargateProfile

[2021-05-28 16:07] librannk opened #2336 "Crossplane Support for String transforms"
Feature to transform Strings
In order to handle dependencies between two compositions, I created a higher level composition which worked but I am facing now issue with transforming the values returned and while looking for transforming options I found only below ones
1) map
2) math
3) fmt

there isn't an option to transform strings like trim, substring, etc.

Exact UseCase :
1) creating HostedZone

[2021-05-28 16:28] #2098 closed

[2021-05-28 23:22] negz commented on #2336
This seems quite reasonable and self contained. Do you want to take a shot at sketching out an API for these features here in the issue?

[2021-05-30 17:26] ranjan68668 opened #2338 "Not able to create natgateway ( 1.2.1)"
Hi , while creating natgateway with below manifest, I am getting error. Can someone help me please ? All ther resource is there , it's just natgateway not getting created.

---
apiVersion: ec2.aws.crossplane.io/v1beta1
kind: NATGateway
metadata:
  name: natgw-1
spec:
  providerConfigRef:
    name: ${provider_name}
  forProvider:
    region: ${aws_region}
    allocationIdRef:
      name: ${EIP}